@model  Bikewale.Models.DealerShowroomDealerDetailsVM
@*@{
        Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    }*@


@if (Model.DealersList != null)
{
    <section>
        <div id="makeDealersContent" class="bw-model-tabs-data padding-bottom20 padding-top15 font14">
          
            <div class="carousel-heading-content">
                <div class="swiper-heading-left-grid inline-block">
                    <h2>Other Dealers</h2>
                </div>
                @*<div class="swiper-heading-right-grid inline-block text-right">
                    <a href="/m<%= Bikewale.Utility.UrlFormatter.DealerLocatorUrl(makeMaskingName, cityMaskingName) %>" title="<%=makeName %> Showrooms in <%= cityName %>" class="btn view-all-target-btn">View all</a>
                </div>
                <div class="clear"></div>*@
            </div>
            @Html.Partial("~/Views/DealerShowroom/_DealerCard_Mobile.cshtml", Model.DealersList)
        </div>
        <div class="clear"></div>

    </section>
}