/* margin, padding*/
.margin-left1{margin-left:-1px}.margin-left5{margin-left:5px}.margin-left10{margin-left:10px}.margin-left15{margin-left:15px}.margin-left20{margin-left:20px}.margin-left25{margin-left:25px}.margin-left30{margin-left:30px}.margin-left40{margin-left:40px}.margin-left50{margin-left:50px}.margin-left70{margin-left:70px}.margin-top5{margin-top:5px}.margin-top10{margin-top:10px}.margin-top12{margin-top:12px}.margin-top15{margin-top:15px}.margin-top20{margin-top:20px}.margin-top25{margin-top:25px}.margin-top30{margin-top:30px}.margin-top40{margin-top:40px}.margin-top45{margin-top:45px}.margin-top50{margin-top:50px}.margin-top60{margin-top:60px}.margin-top70{margin-top:70px}.margin-top90{margin-top:90px}.margin-minus10{margin-top:-10px}.margin-minus20{margin-top:-20px}.margin-minus30{margin-top:-30px}.margin-minus40{margin-top:-40px}.margin-minus50{margin-top:-50px}.margin-minus60{margin-top:-60px}.margin-right5{margin-right:5px}.margin-right10{margin-right:10px}.margin-right15{margin-right:15px}.margin-right20{margin-right:20px}.margin-right25{margin-right:25px}.margin-right30{margin-right:30px}.margin-right40{margin-right:40px}.margin-right50{margin-right:50px}.margin-right60{margin-right:60px}.margin-right70{margin-right:70px}.margin-right90{margin-right:90px}.margin-bottom5{margin-bottom:5px}.margin-bottom10{margin-bottom:10px}.margin-bottom15{margin-bottom:15px}.margin-bottom20{margin-bottom:20px}.margin-bottom25{margin-bottom:25px}.margin-bottom30{margin-bottom:30px}.margin-bottom35{margin-bottom:35px}.margin-bottom40{margin-bottom:40px}.margin-bottom50{margin-bottom:50px}.margin-bottom60{margin-bottom:60px}.margin-bottom70{margin-bottom:70px}.margin-bottom90{margin-bottom:90px}.margin-auto{margin:0 auto}.padding-left5{padding-left:5px}.padding-left10{padding-left:10px}.padding-left15{padding-left:15px}.padding-left20{padding-left:20px}.padding-left25{padding-left:25px}.padding-left30{padding-left:30px}.padding-left40{padding-left:40px}.padding-left50{padding-left:50px}.padding-left60{padding-left:60px}.padding-left70{padding-left:70px}.padding-left90{padding-left:90px}.padding-top5{padding-top:5px}.padding-top10{padding-top:10px}.padding-top15{padding-top:15px}.padding-top20{padding-top:20px}.padding-top25{padding-top:25px}.padding-top30{padding-top:30px}.padding-top40{padding-top:40px}.padding-top50{padding-top:50px}.padding-top60{padding-top:60px}.padding-top70{padding-top:70px}.padding-top90{padding-top:90px}.padding-right5{padding-right:5px}.padding-right10{padding-right:10px}.padding-right15{padding-right:15px}.padding-right20{padding-right:20px}.padding-right25{padding-right:25px}.padding-right30{padding-right:30px}.padding-right40{padding-right:40px}.padding-right50{padding-right:50px}.padding-right60{padding-right:60px}.padding-right70{padding-right:70px}.padding-right90{padding-right:90px}.padding-bottom5{padding-bottom:5px}.padding-bottom10{padding-bottom:10px}.padding-bottom15{padding-bottom:15px}.padding-bottom20{padding-bottom:20px}.padding-bottom25{padding-bottom:25px}.padding-bottom30{padding-bottom:30px}.padding-bottom40{padding-bottom:40px}.padding-bottom50{padding-bottom:50px}.padding-bottom60{padding-bottom:60px}.padding-bottom70{padding-bottom:70px}.padding-bottom90{padding-bottom:90px}
/* position */
.pos-fixed { position: fixed; }
.pos-left0 { left: 0; }.pos-left5 { left: 5px; }.pos-left10 { left: 10px; }.pos-left15 { left: 15px; }.pos-left20 { left: 20px; }
.pos-right0 { right: 0; }.pos-right5 { right: 5px; }.pos-right10 { right: 10px; }.pos-right12 { right: 12px; }.pos-right15 { right: 15px; }.pos-right20 { right: 20px; }
.pos-top0 { top: 0; }.pos-top5 { top: 5px; }.pos-top10 { top: 10px; }.pos-top15 { top: 15px; }.pos-top20 { top: 20px; }
.pos-bottom0 { bottom: 0; }.pos-bottom5 { bottom: 5px; }.pos-bottom10 { bottom: 10px; }.pos-bottom15 { bottom: 15px; }.pos-bottom20 { bottom: 20px; }
/* text transform */
.text-lowercase { text-transform: lowercase; }.text-uppercase { text-transform: uppercase; }.text-capitalize { text-transform: capitalize; }
/* align */
.vertical-align-top { vertical-align:top; } .vertical-align-bottom { vertical-align:bottom; } vertical-align-middle { vertical-align:middle; }
/* footer */
#page-footer {
    display: none;
}
#page-footer.footer-fixed {
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:9;
}
#page-footer.footer-relative {
    display: block;
}

/*brand icons*/
.brandlogosprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/brand-type-sprite.png?18Dec20171513599310542) no-repeat;
	display: inline-block
}

.brand-1,
.brand-10,
.brand-11,
.brand-12,
.brand-13,
.brand-14,
.brand-15,
.brand-16,
.brand-17,
.brand-18,
.brand-19,
.brand-2,
.brand-20,
.brand-22,
.brand-23,
.brand-24,
.brand-3,
.brand-34,
.brand-37,
.brand-38,
.brand-39,
.brand-4,
.brand-40,
.brand-41,
.brand-42,
.brand-5,
.brand-6,
.brand-7,
.brand-71,
.brand-8,
.brand-81,
.brand-9,
.brand-23,
.brand-72,
.brand-73,
.brand-74,
.brand-75 {
    height: 50px;
}

.brand-2 {
	width: 87px;
	background-position: 0 0
}

.brand-7 {
	width: 56px;
	background-position: -96px 0
}

.brand-1 {
	width: 88px;
	background-position: -162px 0
}

.brand-8 {
	width: 100px;
	background-position: -260px 0
}

.brand-12 {
	width: 67px;
	background-position: -370px 0
}

.brand-40 {
	width: 125px;
	background-position: -447px 0
}

.brand-34 {
	width: 122px;
	background-position: -582px 0
}

.brand-22 {
	width: 121px;
	background-position: -714px 0
}

.brand-3 {
	width: 44px;
	background-position: -845px 0
}

.brand-17 {
	width: 86px;
	background-position: -899px 0
}

.brand-15 {
	width: 118px;
	background-position: -995px 0
}

.brand-4 {
	width: 43px;
	background-position: -1123px 0
}

.brand-9 {
	width: 99px;
	background-position: -1176px 0
}

.brand-16 {
	width: 117px;
	background-position: -1285px 0
}

.brand-5 {
	width: 59px;
	background-position: -1412px 0
}

.brand-19 {
	width: 122px;
	background-position: -1481px 0
}

.brand-13 {
	width: 122px;
	background-position: -1613px 0
}

.brand-6 {
	width: 63px;
	background-position: -1745px 0
}

.brand-10 {
	width: 102px;
	background-position: -1818px 0
}

.brand-14 {
	width: 127px;
	background-position: -1930px 0
}

.brand-39 {
	width: 89px;
	background-position: -2067px 0
}

.brand-20 {
	width: 82px;
	background-position: -2166px 0
}

.brand-11 {
	width: 121px;
	background-position: -2258px 0
}

.brand-41 {
	width: 63px;
	background-position: -2389px 0
}

.brand-42 {
	width: 64px;
	background-position: -2461px 0
}

.brand-81 {
	width: 71px;
	background-position: -2535px 0
}

.brand-71 {
	width: 39px;
	background-position: -2616px 0
}

.brand-23 {
	width: 125px;
	background-position: -3026px 0;
}

.brand-72 {
	width: 50px;
	background-position: -3161px 0;
}
.brand-73 {
    width: 60px;
    background-position: -3217px 0;
}
.brand-74 {
	width: 110px;
	background-position: -3281px 0;
}

.brand-75 {
	width: 122px;
	background-position: -3400px 0;
}

    .list-type-radio label {
      width: 100%;
      color: #26a69a;
    }
    
    .list-type-radio label:hover {
      background-color: #eee
    }
    
    .list-type-radio [type="radio"] + label:before,
    .list-type-radio [type="radio"]:not(.filled-in) + label:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 2px solid #5a5a5a;
        border-radius: 1px;
        margin-top: 2px;
        transition: .2s;
    }
    
    .list-type-radio [type="radio"]:checked + label:before {
        top: -4px;
        left: -5px;
        width: 12px;
        height: 22px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #26a69a;
        border-bottom: 2px solid #26a69a;
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
    
    .list-type-radio [type="radio"]:checked + label:after {
      border: 0;
      background-color: transparent;
    }
    
    select{-webkit-appearance:none}.chosen-container{text-align:left;position:relative;padding:10px;border:1px solid #ccc;background:#fff;border-radius:4px;transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;width:100%;display:inline-block;vertical-align:middle;font-size:13px;zoom:1;-webkit-user-select:none;-moz-user-select:none;user-select:none}a.chosen-single:hover{text-decoration:none}.chosen-container *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.chosen-container .chosen-drop{position:absolute;top:100%;left:-9999px;z-index:1010;width:100%;border:1px solid #aaa;border-top:0;background:#fff;box-shadow:0 4px 5px rgba(0,0,0,.15)}.chosen-container.chosen-with-drop .chosen-drop{left:0}.chosen-container a{cursor:pointer}.chosen-container .chosen-single .group-name,.chosen-container .search-choice .group-name{margin-right:4px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-weight:400;color:#999}.chosen-container .chosen-single .group-name:after,.chosen-container .search-choice .group-name:after{content:":";padding-left:2px;vertical-align:top}.chosen-container-single .chosen-single{position:relative;display:block;color:#666;width:100%;background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/dropArrowBg.png?v1=19082015) 96% 50% no-repeat #fff}.chosen-container-single .chosen-default{color:#999}.chosen-container-single .chosen-single span{display:block;overflow:hidden;margin-right:26px;text-overflow:ellipsis;white-space:nowrap}.chosen-container-single .chosen-single-with-deselect span{margin-right:38px}.chosen-container-single .chosen-single abbr{position:absolute;top:6px;right:26px;display:block;width:12px;height:12px;background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/chosen-sprite.png) -42px 1px no-repeat;font-size:1px}.chosen-container-single .chosen-single abbr:hover,.chosen-container-single.chosen-disabled .chosen-single abbr:hover{background-position:-42px -10px}.chosen-container-single .chosen-single div{position:absolute;top:0;right:0;display:block;width:18px;height:100%}.chosen-container-single .chosen-single div b{display:block;width:100%;height:100%}.chosen-container-single .chosen-search{position:relative;z-index:1010;margin:0;padding:3px 4px;white-space:nowrap}.chosen-container-single .chosen-search input[type=text]{margin:1px 0;padding:4px 20px 4px 5px;width:100%;height:auto;outline:0;border:1px solid #aaa;background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/dropArrowBg.png?v1=19082015) 100% -20px no-repeat;font-size:1em;font-family:sans-serif;line-height:normal;border-radius:0}.chosen-container-single .chosen-drop{margin-top:-1px;border-radius:0 0 4px 4px;background-clip:padding-box}.chosen-container-single.chosen-container-single-nosearch .chosen-search{position:absolute;left:-9999px}.chosen-container .chosen-results{color:#444;position:relative;overflow-x:hidden;overflow-y:auto;margin:0 4px 4px 0;padding:0 0 0 4px;max-height:240px;-webkit-overflow-scrolling:touch}.chosen-container .chosen-results li{display:none;margin:0;padding:5px 6px;list-style:none;line-height:15px;word-wrap:break-word;-webkit-touch-callout:none}.chosen-container .chosen-results li.active-result{display:list-item;cursor:pointer}.chosen-container .chosen-results li.disabled-result{display:list-item;color:#ccc;cursor:default}.chosen-container .chosen-results li.highlighted{background-color:#0288d1;color:#fff}.chosen-container .chosen-results li.no-results{color:#777;display:list-item;background:#f4f4f4}.chosen-container .chosen-results li.group-result{display:list-item;font-weight:700;cursor:default}.chosen-container .chosen-results li.group-option{padding-left:15px}.chosen-container .chosen-results li em{font-style:normal;text-decoration:underline}.chosen-container-multi .chosen-choices{position:relative;overflow:hidden;margin:0;padding:0 5px;width:100%;height:auto;border:1px solid #aaa;background-color:#fff;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));background-image:-webkit-linear-gradient(#eee 1%,#fff 15%);background-image:-moz-linear-gradient(#eee 1%,#fff 15%);background-image:-o-linear-gradient(#eee 1%,#fff 15%);background-image:linear-gradient(#eee 1%,#fff 15%);cursor:text}.chosen-container-multi .chosen-choices li{float:left;list-style:none}.chosen-container-multi .chosen-choices li.search-field{margin:0;padding:0;white-space:nowrap}.chosen-container-multi .chosen-choices li.search-field input[type=text]{margin:1px 0;padding:0;height:25px;outline:0;border:0!important;background:0 0!important;box-shadow:none;color:#999;font-size:100%;font-family:sans-serif;line-height:normal;border-radius:0}.chosen-container-multi .chosen-choices li.search-choice{position:relative;margin:3px 5px 3px 0;padding:3px 20px 3px 5px;border:1px solid #aaa;max-width:100%;border-radius:3px;background-color:#eee;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eee));background-image:-webkit-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-moz-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-o-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-size:100% 19px;background-repeat:repeat-x;background-clip:padding-box;box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);color:#333;line-height:13px;cursor:default}.chosen-container-multi .chosen-choices li.search-choice span{word-wrap:break-word}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{position:absolute;top:4px;right:3px;display:block;width:12px;height:12px;background:url(chosen-sprite.png) -42px 1px no-repeat;font-size:1px}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover{background-position:-42px -10px}.chosen-container-multi .chosen-choices li.search-choice-disabled{padding-right:5px;border:1px solid #ccc;background-color:#e4e4e4;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eee));background-image:-webkit-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-moz-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-o-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);color:#666}.chosen-container-multi .chosen-choices li.search-choice-focus{background:#d4d4d4}.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close{background-position:-42px -10px}.chosen-container-multi .chosen-results{margin:0;padding:0}.chosen-container-multi .chosen-drop .result-selected{display:list-item;color:#ccc;cursor:default}.chosen-container-active.chosen-with-drop .chosen-single div{border-left:0;background:0 0}.chosen-container-active.chosen-with-drop .chosen-single div b{background-position:-18px 2px}.chosen-container-active .chosen-choices{border:1px solid #5897fb;box-shadow:0 0 5px rgba(0,0,0,.3)}.chosen-container-active .chosen-choices li.search-field input[type=text]{color:#222!important}.chosen-disabled{opacity:.5!important;cursor:default}.chosen-disabled .chosen-choices .search-choice .search-choice-close,.chosen-disabled .chosen-single{cursor:default}.chosen-rtl{text-align:right}.chosen-rtl .chosen-single{overflow:visible;padding:0 8px 0 0}.chosen-rtl .chosen-single span{margin-right:0;margin-left:26px;direction:rtl}.chosen-rtl .chosen-single-with-deselect span{margin-left:38px}.chosen-rtl .chosen-single div{right:auto;left:3px}.chosen-rtl .chosen-single abbr{right:auto;left:26px}.chosen-rtl .chosen-choices li{float:right}.chosen-rtl .chosen-choices li.search-field input[type=text]{direction:rtl}.chosen-rtl .chosen-choices li.search-choice{margin:3px 5px 3px 0;padding:3px 5px 3px 19px}.chosen-rtl .chosen-choices li.search-choice .search-choice-close{right:auto;left:4px}.chosen-rtl .chosen-drop,.chosen-rtl.chosen-container-single-nosearch .chosen-search{left:9999px}.chosen-rtl.chosen-container-single .chosen-results{margin:0 0 4px 4px;padding:0 4px 0 0}.chosen-rtl .chosen-results li.group-option{padding-right:15px;padding-left:0}.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div{border-right:0}.chosen-rtl .chosen-search input[type=text]{padding:4px 5px 4px 20px;background:url(chosen-sprite.png) -30px -20px no-repeat;direction:rtl}.chosen-rtl.chosen-container-single .chosen-single div b{background-position:6px 2px}.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b{background-position:-12px 2px}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi),only screen and (min-resolution:1.5dppx){.chosen-container .chosen-results-scroll-down span,.chosen-container .chosen-results-scroll-up span,.chosen-container-multi .chosen-choices .search-choice .search-choice-close,.chosen-container-single .chosen-search input[type=text],.chosen-container-single .chosen-single abbr,.chosen-container-single .chosen-single div b,.chosen-rtl .chosen-search input[type=text]{background-image:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/chosen-sprite.png)!important;background-size:52px 37px!important;background-repeat:no-repeat!important}}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 /* materialize-select chosen-with-drop */
.materialize-select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.materialize-select .chosen-container {
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    line-height: 45px;
    border-bottom: 1px solid #9e9e9e;
}

.materialize-select .chosen-container-single .chosen-search {
    padding: 0;
}

.materialize-select .chosen-container-single .chosen-single {
    background: none;
}

.materialize-select .caret {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.materialize-select .chosen-container-single .chosen-search input[type=text] {
    border: none;
    padding: 21px;
    border-bottom: 1px solid #009688;
}

.materialize-select .chosen-container .chosen-drop {
    top: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.materialize-select .chosen-container.chosen-container-multi .chosen-drop {
    top: 100%;    
}

.materialize-select .chosen-container .chosen-results {
    margin: 0;
    padding: 0;
}

.materialize-select .chosen-container .chosen-results li {
    padding: 15px;
    color: #26a69a;
}

.materialize-select .chosen-container .chosen-results li.result-selected{
    padding: 15px;
    color: #778684;    
}

.materialize-select .chosen-container .chosen-results li.highlighted {
    background-color: #eee;
    color: #26a69a;
}

.materialize-select .chosen-container .chosen-results::-webkit-scrollbar {
    width: 5px;
}

.materialize-select .chosen-container .chosen-results::-webkit-scrollbar-track {
    background: #fff;
}

.materialize-select .chosen-container .chosen-results::-webkit-scrollbar-thumb {
    background: #ddd;
}
.materialize-select input {
    box-sizing: border-box;
}

/* toggle-input-field */
.toggle-field-parent input[type="radio"] + label + .toggle-field-content {
    display: none;
}

.toggle-field-parent input[type="radio"]:checked + label + .toggle-field-content {
    display: block !important;
}

.select-auto-width .select-wrapper label {
    width: auto;
}

.margin-alpha {
    margin-left: 0 !important;
}

.margin-omega {
    margin-right: 0 !important;
}

.margin-top10 {
    margin-top: 10px;
}

.padding-left35 {
    padding-left: 35px;
}

/* city-select-270 */
.city-select-270 .chosen-container {
    width: 270px !important;
}

.city-select-270 .chosen-container-single .chosen-search input[type=text] {
    width: 240px; /* right left 15px padding */
}

input[type=text].invalid + label:after,
.easy-autocomplete input[type=text].invalid + label.active:after {
    top: 35px;
    font-size: 11px;
}

input[type=text].invalid + label.active:after {
    top: 60px;
}

input[type=number].invalid + label:after,
.easy-autocomplete input[type=text].invalid + label.active:after {
    top: 35px;
    font-size: 11px;
}

input[type=number].invalid + label.active:after {
    top: 60px;
}

.input-field label.active:after {
    top: 45px;
}

.label-present .error-label,
.label-present label.active {
    display: block;
    color: #F44336;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    top: 45px;
    font-size: 11px;
}

/* easy autocomplete */
.easy-autocomplete {
    width: 100% !important;
    position: relative;
}

.easy-autocomplete input {
    float: none;
}

.easy-autocomplete-container {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    text-align: left;
    top:75%;
}

.easy-autocomplete-container ul {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px dotted #ccc;
    display: none;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    top: -1px;
    border-bottom: 1px solid #ccc;
}

.easy-autocomplete-container ul li,
.easy-autocomplete-container ul .eac-category {
    background: inherit;
    border-color: #ccc;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    display: block;
    font-size: 14px;
    font-weight: normal;
    position: relative;
}

.easy-autocomplete-container .list-item {
    padding: 10px;
}

.easy-autocomplete-container a.list-item {
    display: block;
}

.easy-autocomplete-container ul li div {
    display: block;
    font-weight: normal;
    word-break: break-all;
}

.easy-autocomplete-container ul li b {
    font-weight: bold;
}

.easy-autocomplete-container a {
    color: #333;
}

.easy-autocomplete-container .text-link {
    color: #0288d1;
}

.easy-autocomplete-container ul li.selected {
    background: none repeat scroll 0 0 #ebebeb;
    cursor: pointer;
}

.inline-block {
    display:inline-block;
    vertical-align:middle;
}

.no-margin {
    margin:0px !important;
}

.card-title-font14{
    font-size:14px !important;
}

/* stepper-height-60 start */
.stepper-height-60 .stepper.horizontal {
    margin-top: 0;
	margin-bottom: 0;
}

.stepper-height-60 .stepper.horizontal .step {
	height: 62px !important;
}

.stepper-height-60 .stepper.horizontal .step-title {
	line-height: 45px;
	height: 58px;
}

.stepper-height-60 .stepper.horizontal .step .step-title:before {
	top: 13.5px;
}

.stepper-height-60 .stepper.horizontal:before {
	min-height: 60px;
}

.stepper-height-60 .stepper .step:not(:last-of-type).active {
	margin-bottom: 0;
}
/* stepper-height-60 end */

/* fixed table start */
.fixed-table {
	margin-bottom: 20px;
	position: relative;
}

.fixed-table:after {
	content: '';
	display: block;
	clear: both;
}

.fixed-table__header {
	min-height: 30px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

.fixed-table__header,
.fixed-table__body {
	width: 84%;
}

.fixed-table__header {
	margin-left: 16%;
}

.fixed-table__sidebar,
.fixed-table__body {
	height: 500px;
}

.fixed-table table {
	background-color: #fff;
	width: 100%;
}

.fixed-table .table tr td,
.fixed-table .table tr th {
	min-width: 100px;
    min-height: 20px;
}

.fixed-table__sidebar {
	width: 16%;
    float: left;
	overflow: hidden;
	border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.fixed-table__body {
	float: left;
	overflow: auto;
}

.table thead {
	border-bottom: 0;
	border-left: 1px solid #ccc;
}

.sidebar-header {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: bold;
	padding: 25px 50px;
}
/* fixed table end */

/* overflow table body start */
.overflow-table-body tbody {
    display: block;
    width: 100%;
    height: 475px;
    overflow: auto;
}

.overflow-table-body thead tr,
.overflow-table-body tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.overflow-table-body input[type="number"] {
    margin-bottom: 0;
}
/* overflow table body end */

.lighten-5 td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#series-edit-update {
    overflow-y:visible;
}
.cursor-pointer {
cursor:pointer;
}