<!-- Count Down End -->
<div id="modelCountdownContainer" class="model-countdown padding-bottom5 padding-top5 padding-left10 padding-right10 rounded-corner-no-right content-box-shadow">
    <span class="bwsprite cross-sm-dark-grey position-abt pos-left10 pos-top10 model-countdown__close cur-pointer bw-ga" data-cat="Ticker" data-act="Ticker_RE Twins 650_close_clicked" data-lab="Royal Enfield Twins 650"></span>
	<span class="model-countdown__sponsored-text">Ad</span>
	<div class="model-countdown__content inline-block">
		<div>
			<p class="margin-bottom5">The All New<br /><span class="text-bold font16 margin-bottom12 text-uppercase">Royal Enfield 650<span class="model-displacement-unit">cc</span> Twins</span></p>
		</div>
		<p class="margin-bottom5">Launches in</p>
		<ul class="countdown-timer">
			<li>
				<span class="clock" id="days">0</span>
				<span class="count-down-text">Days</span>
			</li>
			<li>
				<span class="clock" id="hours">0</span>
				<span class="count-down-text">Hours</span>
			</li>
			<li>
				<span class="clock mins-text" id="minutes">0</span>
				<span class="count-down-text">Minutes</span>
			</li>
		</ul>
		<div class="button-cta-countdown">
            <a href="https://www.royalenfield.com/motorcycles/twins/" rel="nofollow noopener" class="btn btn-orange model-countdown__know-more bw-ga" title="Know more" target="_blank" data-cat="Ticker" data-act="Ticker_RE Twins 650_know more_clicked" data-lab="Royal Enfield Twins 650">Know More</a>
		</div>
	</div>
</div>
<!-- Count Down End -->
