<!-- Count Down -->
<div id="modelCountdownContainer" class="model-countdown">
    <span class="countdown-close-btn model-countdown__close bw-ga" data-cat="Ticker" data-act="Ticker_RE Twins 650_close_clicked" data-lab="Royal Enfield Twins 650"></span>
    <span class="countdown-sponsored-text">Ad</span>
    <div class="model-countdown__content">
        <div class="launch-text-container">
            <a href="https://www.royalenfield.com/motorcycles/twins/" target="_blank" class="bw-ga" title="All-New Twins 650" rel="nofollow noopener" data-cat="Ticker" data-act="Ticker_RE Twins 650_know more_clicked" data-lab="Royal Enfield Twins 650">
                <div class="maruti-suzuki-logo-container">
                    <p>The All New Royal Enfield 650cc Twins <span class="external-link-icon"></span>  </p>
                </div>
            </a>
            <p>Launches in</p>
        </div>
        <ul class="countdown-timer">
            <li>
                <span class="clock" id="days">0</span>
                <span class="count-down-text">Days</span>
            </li>
            <li>
                <span class="clock" id="hours">0</span>
                <span class="count-down-text">Hours</span>
            </li>
            <li>
                <span class="clock mins-text" id="minutes">0</span>
                <span class="count-down-text">Mins</span>
            </li>
        </ul>
    </div>
</div>
<!-- Count Down -->
