@for (var i = 0; i <= 2; i++)
{
        <div class="swiper-slide">
            <div class="model-related__card swiper-card">
                <h3 class="related-card__title">More about Activa 4G</h3>
                <ul class="related-card__list">
                    <li><a class="related-card__target-link" href="">Activa 4G Expert Reviews</a></li>
                    <li><a class="related-card__target-link" href="">Activa 4G Specs</a></li>
                    <li><a class="related-card__target-link" href="">Activa 4G Specs</a></li>
                    <li><a class="related-card__target-link" href="">Activa 4G Expert Reviews</a></li>
                </ul>
            </div>
        </div>
}
