<footer class="bg-footer padding-top50 padding-bottom30 padding-left20 padding-right20">
    <!-- Footer section code starts here -->
    <div class="">
        <div class="grid-12 text-center border-solid-bottom margin-bottom20">
            <div class="grid-4 padding-bottom25">
                <a href="/" class="cwsprite cw-logo"></a>
                <p class="text-medium-grey font14 margin-top5 margin-left60">ask the experts</p>
            </div>
            <div class="grid-4">
                <a href="https://www.cartrade.com" target="_blank" class="cwsprite ct-logo"></a>
            </div>
            <div class="grid-4">
                <a href="https://www.bikewale.com/" target="_blank" class="cwsprite bw-logo"></a>
            </div>
        </div>
        <div class="clear"></div>

        <div class="grid-12">
            <div class="grid-4">
                <p class="font18 text-white margin-top50 margin-bottom10">Join us on</p>
                <div class="footer-social-icons">
                    <a href="https://facebook.com/carwale" target="_blank" title="Facebook" class="margin-right15">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="https://twitter.com/carwale" target="_blank" title="Twitter" class="margin-right15">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="https://www.google.com/+CarWale" target="_blank" title="Google+">
                        <span class="fa fa-google-plus"></span>
                    </a>
                </div>
            </div>
            <div class="grid-2">
                <p class="font18 text-white margin-bottom20">Company</p>
                <ul>
                    <li><a href="/aboutus.aspx">About Us</a></li>
                    <li><a href="/career.aspx">Careers</a></li>
                    <li><a href="/advertiseWithUs.aspx">Advertise with us</a></li>
                    <li><a href="/forums/">Forums</a></li>
                    <li><a href="/sitemap.aspx">Sitemap</a></li>
                </ul>
            </div>
            <div class="grid-3">
                <p class="font18 text-white margin-bottom20">Support</p>
                <ul>
                    <!--<li><a href="#">Feedback</a></li>-->
                    <li><a href="mailto:contact@carwale.com">contact@carwale.com</a></li>
                </ul>
            </div>
            <div class="grid-3">
                <p class="font18 text-white margin-bottom30">Download Mobile App</p>
                <div class="margin-bottom15"><a href="https://play.google.com/store/apps/details?id=com.carwale&referrer=utm_source%3DCarWaleDesktopWebsite%26utm_medium%3DFooter%26utm_campaign%3DCarWale%2520Website%2520Footer" target="_blank" class="cwsprite gplay-icon"></a></div>
                <div><a href="https://itunes.apple.com/in/app/carwale/id910137745?mt=8" target="_blank" class="cwsprite app-store-icon"></a></div>
            </div>
        </div>

        <div class="clear"></div>
        <div class="border-solid-top text-white margin-top25 padding-top25">
            <div class="grid-6 alpha font16">&copy; CarWale India</div>
            <div class="grid-6 omega text-right font13">
                <a href="/visitoragreement.aspx" class="text-white">Visitor Agreement </a>&
                <a href="/privacypolicy.aspx" class="text-white">Privacy Policy</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</footer>