<div class="global-search-section bg-white padding-bottom20 trendindcars-dumy-class hide">
    <div class="history-search">
        <div class="search-title font12 text-light-grey">Recently Viewed</div>
        <ul class="search-list-section recent-list"></ul>
    </div>
    <div class="trending-search">
        <div class="search-title font12 text-light-grey">Trending Searches</div>
        <ul class="search-list-section trending-list"></ul>
    </div>
</div>