<!-- Maruti Suzuki Count Down -->
<div class="maruti-countdown text-white padding-bottom5 padding-top5 padding-left10 padding-right15 rounded-corner-no-right box-shadow">
	<span class="cwsprite cross-sm-white position-abt pos-left5 pos-top10 maruti-countdown__close cur-pointer" data-role="click-tracking" data-event="CWInteractive" data-cat="Ticker" data-action="ticker_close_clicked"></span>
    <span class="position-abt pos-right5 pos-top5 font11">Ad</span>
    <div class="maruti-countdown__content inline-block">
        <div class="maruti-suzuki-logo-container">
            <img src="https://imgd.aeplcdn.com/0x0/cw/static/maruti-special-images/swift.png" title="The All-New Swift" />
        </div>
        <p>Launching soon in</p>
        <ul class="countdown-timer">
            <li>
                <span class="clock" id="days">0</span>
                <span class="count-down-text">Days</span>
            </li>
            <li>
                <span class="clock" id="hours">0</span>
                <span class="count-down-text">Hours</span>
            </li>
            <li>
                <span class="clock mins-text" id="minutes">0</span>
                <span class="count-down-text">Minutes</span>
            </li>
        </ul>
        <div class="button-cta-countdown">
			<a href="https://www.marutisuzuki.com/swift?utm_source=Carwale&utm_medium=Ticker&utm_campaign=SwiftFMCLanch" title="Know more" target="_blank" data-role="click-tracking" data-event="CWInteractive" data-cat="Ticker" data-label="@Request.Url.AbsoluteUri" data-action="ticker_clicked">
				<img src="https://imgd.aeplcdn.com/0x0/cw/static/maruti-special-images/count-down-cta.png?=v1" alt="Know More" />
			</a>
		</div>
    </div>
</div>
<!-- Maruti Suzuki Count Down -->
