@using Carwale.Utility

<div style="float: right">
    <div class="g_plus rightfloat" style="overflow: hidden; width:70px; direction: rtl;">
        <!-- Place this tag where you want the +1 button to render -->
        <g:plusone size="medium" align="right"></g:plusone>
        <!-- Place this tag after the last plusone tag -->
        <script type="text/javascript">
                            (function () {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                            })();
        </script>
    </div>
    <div class="fb_recommend rightfloat">
        <iframe src="https://www.facebook.com/plugins/like.php?layout=button_count&show_faces=false&action=like&font&colorscheme=light&width=100&height=25&href=https://www.carwale.com/@Format.FormatSpecial(Model.OverviewDetails.MakeName.ToLower())-cars/@Format.FormatSpecial(Model.OverviewDetails.ModelName)/" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 80px; height: 25px;" allowtransparency="true"></iframe>
    </div>
    <div class="clear"></div>
</div>
