<div class="speedometer__container hide">
    <div class="speedometer-loader__content">
        <div class="speedometer-loader"></div><div class="speedometer-needle-circle">
        </div>
    </div>
</div>
