<div class="oxygenLoaderContainer__js hide">
    <div class="oxygen-loader">
        <img class="oxygen-loader-img" src="https://imgd.aeplcdn.com/0x0/cw/static/icons/oxygen-loader.gif" alt="Loading" />
    </div>
</div>
