@{
    ViewBag.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/videos/videos-by-make.css' />";

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<section>
    <div class="container bg-white box-shadow margin-bottom10">
        <h1 class="padding-15-20 box-shadow">Honda Videos</h1>
        <ul class="bike-listing">
            <li class="list-item">
                <a href="" title="Hyosung ST-E3 EVA" class="block">
                    <div class="item-image-content">
                        <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/models/hyosung-ste3eva.jpg?20151709001424" alt="Hyosung ST-E3 EVA" src="" />
                        <span class="black-overlay"></span>
                    </div>
                    <h2 class="margin-bottom5">Hyosung ST-E3 EVA</h2>
                    <p class="font14 text-light-grey">4 videos</p>
                </a>
            </li>

            <li class="list-item">
                <a href="" title="Hyosung ST-E3 EVA" class="block">
                    <div class="item-image-content">
                        <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/models/hyosung-ste3eva.jpg?20151709001424" alt="Hyosung ST-E3 EVA" src="" />
                        <span class="black-overlay"></span>
                    </div>
                    <h2 class="margin-bottom5">Hyosung ST-E3 EVA</h2>
                    <p class="font14 text-light-grey">4 videos</p>
                </a>
            </li>

            <li class="list-item">
                <a href="" title="Hyosung ST-E3 EVA" class="block">
                    <div class="item-image-content">
                        <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/models/hyosung-ste3eva.jpg?20151709001424" alt="Hyosung ST-E3 EVA" src="" />
                        <span class="black-overlay"></span>
                    </div>
                    <h2 class="margin-bottom5">Hyosung ST-E3 EVA</h2>
                    <p class="font14 text-light-grey">4 videos</p>
                </a>
            </li>
        </ul>
    </div>
</section>

<section>
    <div class="container bg-white box-shadow padding-top15 padding-bottom15 margin-bottom10">
        <h2 class="padding-right20 padding-bottom15 padding-left20">Explore popular bikes</h2>
        <div class="swiper-container card-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Honda CB Hornet 160R">
                            <div class="swiper-image-preview position-rel">
                                <img class="swiper-lazy" data-src="https://imgd2.aeplcdn.com//174x98//bw/models/honda-cb-hornet-160r.jpg?20151012195209" src="" alt="Honda CB Hornet 160R">
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">Honda CB Hornet 160R</h3>
                                <p class="text-truncate text-light-grey font11">Ex-showroom, Mumbai</p>
                                <p class="text-default">
                                    <span class="bwmsprite inr-xsm-icon"></span> <span class="text-bold font16">1,39,340</span><span class="font14 text-bold"> onwards</span>
                                </p>
                            </div>
                        </a>
                        <div class="swiper-btn-block">
                            <a href="javascript:void(0)" class="btn btn-card btn-full-width btn-white">Check on-road price</a>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Honda CB Hornet 160R">
                            <div class="swiper-image-preview position-rel">
                                <img class="swiper-lazy" data-src="https://imgd2.aeplcdn.com//174x98//bw/models/honda-cb-hornet-160r.jpg?20151012195209" src="" alt="Honda CB Hornet 160R">
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">Honda CB Hornet 160R</h3>
                                <p class="text-truncate text-light-grey font11">Ex-showroom, Mumbai</p>
                                <p class="text-default">
                                    <span class="bwmsprite inr-xsm-icon"></span> <span class="text-bold font16">1,39,340</span><span class="font14 text-bold"> onwards</span>
                                </p>
                            </div>
                        </a>
                        <div class="swiper-btn-block">
                            <a href="javascript:void(0)" class="btn btn-card btn-full-width btn-white">Check on-road price</a>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="Honda CB Hornet 160R">
                            <div class="swiper-image-preview position-rel">
                                <img class="swiper-lazy" data-src="https://imgd2.aeplcdn.com//174x98//bw/models/honda-cb-hornet-160r.jpg?20151012195209" src="" alt="Honda CB Hornet 160R">
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="target-link font12 text-truncate margin-bottom5">Honda CB Hornet 160R</h3>
                                <p class="text-truncate text-light-grey font11">Ex-showroom, Mumbai</p>
                                <p class="text-default">
                                    <span class="bwmsprite inr-xsm-icon"></span> <span class="text-bold font16">1,39,340</span><span class="font14 text-bold"> onwards</span>
                                </p>
                            </div>
                        </a>
                        <div class="swiper-btn-block">
                            <a href="javascript:void(0)" class="btn btn-card btn-full-width btn-white">Check on-road price</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="@(!string.IsNullOrEmpty(ViewBag.staticUrl) ? ("https://st.aeplcdn.com" + @ViewBag.staticUrl) : "")/m/src/frameworks.js?@ViewBag.staticFileVersion"></script>