@model Bikewale.Models.Finance.CapitalFirstVM
@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/finance/capital-first.css' /> <link rel='stylesheet' type='text/css' href='/css/zebra-datepicker.css' />";
    Model.Page_JS_Path = "/src/finance/capital-first.js";
    
    Model.Page_BTF_CSS_Path = "/css/zebra-datepicker.css";
}
<div class="header-container padding-15-20 ">
    <p class="font18 text-xt-light-grey text-bold">Get Instant Loan Approval</p>
</div>

<div class="container content-box-shadow margin-bottom20">
    <div class="card-inner-padding font14 text-light-grey collapsible-content padding-15-20">
        <p class="main-content"> Get upto 95% of vehicle’s value as loan! Fill in your personal and employment details and get an instant loan approval from one of our finance partners.</p>
    </div>
    <div class="page-tabs margin-top10">
        <ul>
            <li class="page-tabs__li active" data-id="personal-detail-tab">Personal Details</li>
            <li class="page-tabs__li" data-id="employment-detail-tab">Employment Details</li>
        </ul>
    </div>
    <div class="page-tabs-data padding-15-20">
        <div id="personal-detail-tab" class="personal-details__form">
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfFName" type="text" min="1" maxlength="255">
                    <label for="cfFName">First Name<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfLName" type="text" min="1">
                    <label for="cfLName">Last Name<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfNum" type="tel" maxlength="10">
                    <label for="cfNum">Mobile Number<sup>*</sup></label>
                    <span class="input-number-prefix">+91</span>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfEmail" type="email" min="1">
                    <label for="cfEmail">Email Id<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfDOB" type="text">
                    <label for="cfDOB">DOB<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="form-control-box gender-box">
                    <p class="inline-block">Gender</p>
                    <ul>
                        <li>
                            <input id="cfGenderM" type="radio" name="gender" value="Male">
                            <label for="cfGenderM">Male</label>
                        </li>
                        <li>
                            <input id="cfGenderF" type="radio" name="gender" value="Female">
                            <label for="cfGenderF">Female</label>
                        </li>
                    </ul>
                    <p class="error-text" style="display: none;"></p>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="form-control-box marital-box">
                    <p class="inline-block">Marital Status</p>
                    <ul>
                        <li>
                            <input id="cfMaritalS" type="radio" name="marital" value="Single">
                            <label for="cfMaritalS">Single</label>
                        </li>
                        <li>
                            <input id="cfMaritalM" type="radio" name="marital" value="Married">
                            <label for="cfMaritalM">Married</label>
                        </li>
                    </ul>
                    <p class="error-text" style="display: none;"></p>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfAddress1" type="text" min="1">
                    <label for="cfAddress1">Address Line1<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfAddress2" type="text" min="1">
                    <label for="cfAddress2">Address Line2<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfPincode" type="tel" min="1" maxlength="6">
                    <label for="cfPincode">Pincode<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfPan" type="text" min="1" maxlength="10">
                    <label for="cfPan">Pan Number<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <input type="button" id="personal-detail-submit" class="btn btn-orange btn-primary-big bw-ga" value="Save &amp; Continue">
        </div>
        <div id="employment-detail-tab" class="hide">
            <p class="font11 padding-bottom20"><sup>*</sup>All fields are mandatory</p>
            <div class="margin-top20">
                <div class="form-control-box status-box">
                    <p class="inline-block">Status</p>
                    <ul>
                        <li>
                            <input id="cfStatusS" type="radio" name="status" value="1">
                            <label for="cfStatusS">Salaried</label>
                        </li>
                        <li>
                            <input id="cfStatusE" type="radio" name="status" value="2">
                            <label for="cfStatusE">Self-employed</label>
                        </li>
                    </ul>
                    <p class="error-text" style="display: none;"></p>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfCompName" type="text" min="1" maxlength="255">
                    <label for="cfCompName">Company Name<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfCompAddress1" type="text" min="1">
                    <label for="cfCompAddress1">Official Address Line1<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfCompAddress2" type="text" min="1">
                    <label for="cfCompAddress2">Official Address Line2<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfCompPincode" type="tel" min="1" maxlength="6">
                    <label for="cfCompPincode">Pincode<sup>*</sup></label>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <div class="margin-bottom5">
                <div class="input-box form-control-box">
                    <input id="cfCompIncome" type="number" maxlength="9">
                    <label for="cfCompIncome">Annual Income<sup>*</sup></label>
                    <span class="input-number-prefix">&#x20B9;</span>
                    <span class="boundary"></span>
                    <span class="error-text" style="display: none;"></span>
                </div>
            </div>
            <input type="button" id="employment-detail-submit" class="btn btn-orange btn-primary-big bw-ga" value="Submit Application">
        </div>
    </div>
</div>

<div class="container content-box-shadow how-works-container padding-15-20 margin-bottom20">
    <p class="text-xt-light-grey font18 text-bold">How It Works</p>
    <ul>
        <li class="how-works-container__li">
            <div class="how-works__sprite fill-form rounded-corner50"></div>
            <div class="how-works__content">
                <p class="font14 text-bold margin-bottom10">Apply online</p>
                <p>Just fill in personal and employment details online</p>
            </div>
        </li>
        <li class="how-works-container__li">
            <div class="how-works__sprite approval rounded-corner50"></div>
            <div class="how-works__content">
                <p class="font14 text-bold margin-bottom10">Get instant loan approval</p>
                <p>You will get an instant loan voucher based on your eligibility</p>
            </div>
        </li>
        <li class="how-works-container__li">
            <div class="how-works__sprite contact rounded-corner50"></div>
            <div class="how-works__content">
                <p class="font14 text-bold margin-bottom10">Submit documents</p>
                <p>Contact our finance partner to submit documents and process your loan</p>
            </div>
        </li>
    </ul>
</div>

<div class="container content-box-shadow terms-condition-container padding-15-20 margin-bottom20 collapsible-content">
    <p class="text-xt-light-grey font18 text-bold">Terms & Conditions</p>
    <ol class="terms-condition-container__ol text-slate-grey font14 main-content" type="1">
        <li>Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
        <li>Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
        <li>Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
        <li>Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
        <li>Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
    </ol>
    <ol class="text-slate-grey font14 more-content terms-condition-container__ol" start="6">
        <li>Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
        <li>Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
        <li>Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
        <li>Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
        <li>Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
    </ol>
    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
</div>
<input type="hidden" id="objLead" value="@(Model.objLeadJson)" />

<input type="hidden" id="leadId" value="" />
<input type="hidden" id="ctLeadId" value="" />
<input type="hidden" id="cpId" value="" />
<input type="hidden" id="pageUrl" value="@Model.PageUrl" />
<input type="hidden" id="hdnPlatform" value="@((ushort)Model.PlatformId)" />
@Html.Partial("~/Views/Shared/_otpScreen_Mobile.cshtml")
<script defer src="/src/zebra-datepicker.js"></script>