// Core variables and mixins
@import ../components/variables
@import ../components/mixins

// Components
@import ../components/typography
@import ../modules/section
@import ../modules/collapsible-content

// Page specific
@import listing-style
@import ../modules/comparison-type-carousel
@import ../modules/brand-carousel
@import ../modules/brand-logo
@import ../modules/city-icons
@import ../modules/card
@import ../modules/article
dealer-horizontal-swiper

.dealer-horizontal-swiper 
	.card-target
		min-height: 165px
	
	.details-column
		max-height:74px
		overflow:hidden
}
