@model Bikewale.Models.ServiceCenters.ServiceCenterDetailsWidgetVM

@if (Model != null)
{
    foreach (var serviceCenter in Model.ServiceCentersList)
    {
        <div class="swiper-slide">
            <div class="swiper-card">
                <span title="@serviceCenter.Name" class="block">
                    <div class="target-link margin-bottom10 text-truncate font15">@serviceCenter.Name</div>
                    @if (!string.IsNullOrEmpty(serviceCenter.Address))
                    {
                        <p class="margin-bottom10 text-light-grey">
                            <span class="bwmsprite dealership-loc-icon vertical-top"></span>
                            <span class="vertical-top dealership-address details-column font14">@Bikewale.Utility.FormatDescription.TruncateDescription(serviceCenter.Address, 95)</span>
                        </p>
                    }
                </span>
                @if (!string.IsNullOrEmpty(serviceCenter.Phone))
                {
                    <a href="tel:@serviceCenter.Phone" class="text-default text-bold text-truncate block font14">
                        <span class="bwmsprite tel-sm-grey-icon"></span>@serviceCenter.Phone
                    </a>
                }
            </div>
        </div>
    }
}