
<div id="es-leadform">
    <div class="font18 text-bold">Request a call back</div>
    <div class="margin-top15 form-control-box">
        <input type="text" id="personName" prefill="name" placeholder="Name" class="form-control" />
        <span class="cwsprite error-icon hide"></span>
        <div class="cw-blackbg-tooltip hide">Please provide your Name</div>
    </div>
    <div class="margin-top20 form-control-box">
        <input type="text" id="personEmail" prefill="email" placeholder="Email id" class="form-control" />
        <span class="cwsprite error-icon hide"></span>
        <div class="cw-blackbg-tooltip hide">Please provide your email</div>
    </div>
    <div class="margin-top20 form-control-box">
        <input type="tel" id="personMob" placeholder="Mobile no." prefill="mobile" class="form-control" maxlength="10" />
        <span class="cwsprite error-icon hide"></span>
        <div class="cw-blackbg-tooltip hide">Please provide your Mobile no.</div>
    </div>
    <div class="margin-top20 form-control-box">
        <input type="text" placeholder="Type to select city" id="personCity" class="form-control ui-autocomplete-input blur" autocomplete="off">
        <span class="cwsprite error-icon hide"></span>
        <div class="cw-blackbg-tooltip hide">No city match</div>
    </div>
    <button aria-label="Request a call back" type="button" class="margin-top20 btn btn-orange btn-md text-uppercase font16" id="esLeadFormSubmit">Submit</button>
</div>
<div id="es-thankyou" class="thank-you-msg thank-you hide">
    <h2 class="text-black font18">Thank you for the details.<br />We will share your details with the manufacturer.</h2>
</div>



