@{
    ViewBag.Title = "Emi Calculator";
    ViewBag.BodyClass = (ViewBag.isMobile != null && ViewBag.isMobile ? "bg-white" : "header-fixed-inner bg-white"); 
    ViewBag.Keywords = "";
    ViewBag.Description = "";
    ViewBag.landingPage = false;
    ViewBag.Responsive = true;
    ViewBag.DeeplinkAlternatives = Request.ServerVariables["HTTP_X_REWRITE_URL"].ToString();
    ViewBag.Canonical = "";
    ViewBag.Alternate = "";
    ViewBag.AdId = "1396955522447";
    ViewBag.CustomJS = "~/Views/StaticPartials/Finance/EmiViewChartScript.cshtml";
    ViewBag.CustomCss = "~/Views/StaticPartials/Finance/EmiCalculatorCss.cshtml";
    Layout = (ViewBag.isMobile != null && ViewBag.isMobile ? "~/views/shared/m/_MLayout.cshtml"  : "~/views/shared/_Layout.cshtml");
    
}

<div class="bg-white">
    <div class="container">
        <div class="grid-12">
           
            <div class="emi-calculator-container" id="dataBind">
                <h1 class="text-black margin-top10">Carwale EMI Schedule</h1>
                <p class="margin-top10 margin-bottom10">Following Schedule is For : <span id="loanAmt"></span> to repay in <span id="months"></span> months. All calculations are based on EMI in <span id="emiType"></span></p>
                <div class="border-solid-bottom margin-bottom10"></div>

                <div class="emi-tabular-calculation emi-view-chart">
                    <table class="border-solid bg-white" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="bg-light-grey">EMI Amount</th>
                                <th class="bg-light-grey">Interest Amount</th>
                                <th class="bg-light-grey">Principal Reduction</th>
                                <th class="bg-light-grey">Balance Due</th>
                            </tr>
                        </thead>
                        <tbody data-bind="template:{name: 'loanDetailsTemplate', foreach:loanParams}"></tbody>
                    </table>
                    <p class="padding-top10 padding-bottom10 border-solid-bottom">Total Interest Amount : <span class="font16 text-black text-bold"><span data-bind="text:'₹ '+$root.interest()"></span></span></p>
                
                    <h2 class="font16 text-black text-bold margin-top10 margin-bottom10">Complete EMI List</h2>
                
                    <table class="border-solid bg-white" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="bg-light-grey">Months</th>
                                <th class="bg-light-grey">EMI</th>
                            </tr>
                        </thead>
                        <tbody data-bind="template:{name: 'emiListTemplate', foreach:emiList}"></tbody>
                    </table>
                    <p class="font12 margin-top20 margin-bottom20">Note: Interest calculated at 1/12th of annual interest rate on the remaining principal amount. (Rounding errors possible)</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script type="text/html" id="emiListTemplate">
    <tr>
        <td><span data-bind="text:month"></span></td>
        <td><span data-bind="text:'₹ '+emi"></span></td>
    </tr>
</script>
<script type="text/html" id="loanDetailsTemplate">
    <tr>
        <td><span data-bind="text:'₹ '+ emi"></span></td>
        <td><span data-bind="text:'₹ '+ interestAmt"></span></td>
        <td><span data-bind="text:'₹ '+ principalReduction"></span></td>
        <td><span data-bind="text:'₹ '+ dueLoanAmt"></span></td>
    </tr>
</script>
