<div id='div-gpt-ad-@ViewBag.AdId-0' style='width: 320px; margin: 20px auto 10px auto;'>
    <script type='text/javascript'>googletag.cmd.push(function () { googletag.display('div-gpt-ad-@ViewBag.AdId-0'); });</script>
</div>
