<div class="container bg-white box-shadow section-bottom-margin padding-top15 padding-bottom15">
    <div class="swiper-container card-container year-type-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-card">
                    <a href="" title="Bike launched in 2017" class="block swiper-card-target">
                        <div class="swiper-image-preview">
                            <span>2017</span>
                        </div>
                        <div class="swiper-details-block">
                            <h3 class="margin-bottom5">Bike launched in 2017</h3>
                            <p class="font12 text-light-grey text-truncate">Bajaj Dominar 400, Royal Enfield Classic 350, Honda CB Hornet 160R</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="swiper-card">
                    <a href="" title="Bike launched in 2016" class="block swiper-card-target">
                        <div class="swiper-image-preview">
                            <span>2016</span>
                        </div>
                        <div class="swiper-details-block">
                            <h3 class="margin-bottom5">Bike launched in 2016</h3>
                            <p class="font12 text-light-grey text-truncate">Bajaj Dominar 400, Royal Enfield Classic 350, Honda CB Hornet 160R</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="swiper-card">
                    <a href="" title="Bike launched in 2015" class="block swiper-card-target">
                        <div class="swiper-image-preview">
                            <span>2015</span>
                        </div>
                        <div class="swiper-details-block">
                            <h3 class="margin-bottom5">Bike launched in 2015</h3>
                            <p class="font12 text-light-grey text-truncate">Bajaj Dominar 400, Royal Enfield Classic 350, Honda CB Hornet 160R</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="swiper-card">
                    <a href="" title="Bike launched in 2014" class="block swiper-card-target">
                        <div class="swiper-image-preview">
                            <span>2014</span>
                        </div>
                        <div class="swiper-details-block">
                            <h3 class="margin-bottom5">Bike launched in 2014</h3>
                            <p class="font12 text-light-grey text-truncate">Bajaj Dominar 400, Royal Enfield Classic 350, Honda CB Hornet 160R</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>