<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>		
		<section name="sitemapLocations" type="Bikewale.Sitemap.CopySiteMapToServers.SitemapConfigSection, Bikewale.Sitemap.CopySiteMapToServers"/>
	</configSections>
	<sitemapLocations>
		<add sitemapType="General" source="C:\work\bikewaleweb\BikeWale.UI" destination="e:\sites\bikewale\staging.https.bikewale" webSitemapFolder="https://www.bikewale.com/"/>
		<add sitemapType="PriceInCity" source="C:\work\bikewaleweb\BikeWale.UI\sitemaps" destination="e:\sitemaps\priceincity" webSitemapFolder="https://www.bikewale.com/sitemaps/priceincity/"/>
		<add sitemapType="UsedBikes" source="C:\work\bikewaleweb\BikeWale.UI\sitemaps" destination="e:\sitemaps\usedbikes" webSitemapFolder="https://www.bikewale.com/sitemaps/usedbikes/"/>
		<add sitemapType="DealerLocator" source="C:\work\bikewaleweb\BikeWale.UI\sitemaps" destination="e:\sitemaps\dealerlocator" webSitemapFolder="https://www.bikewale.com/sitemaps/dealerlocator/"/>
		<add sitemapType="ServiceCenter" source="C:\work\bikewaleweb\BikeWale.UI\sitemaps" destination="e:\sitemaps\servicecenter" webSitemapFolder="https://www.bikewale.com/sitemaps/servicecenter/"/>
	</sitemapLocations>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<!--<add key="serversList" value="10.10.3.110" />
		<add key="userName" value="AEPL\ashish.kamble "/>
		<add key="password" value="Pass@123" />-->
		<add key="GoogleAPIConsoleApiKey" value="AIzaSyCL14ZjI-0ASo86i3nAQp7pGIqYBOQd-p0" />
		<add key="sitemap_batch_file_location" value="../../copy_sitemap.bat"/>
	</appSettings>	
</configuration>