<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>		
		<section name="sitemapLocations" type="Bikewale.Sitemap.CopySiteMapToServers.SitemapConfigSection, Bikewale.Sitemap.CopySiteMapToServers"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<sitemapLocations>
		<add sitemapType="General" source="E:\work\Bikewale\bikewaleweb\Bikewale.Sitemap.MainSitemap\bin\Debug\sitemaps" destination="e:\sites\bikewale\staging.https.bikewale\sitemaps\general" webSitemapFolder="https://staging.bikewale.com/"/>
		<add sitemapType="PriceInCity" source="E:\work\Bikewale\bikewaleweb\Bikewale.Sitemap.PriceInCity\bin\Debug\sitemaps" destination="e:\sites\bikewale\staging.https.bikewale\sitemaps\priceincity" webSitemapFolder="https://staging.bikewale.com/sitemaps/priceincity/"/>
		<add sitemapType="UsedBikes" source="E:\work\Bikewale\bikewaleweb\Bikewale.Sitemap\bin\Debug\sitemaps\used" destination="e:\sites\bikewale\staging.https.bikewale\sitemaps\usedbikes" webSitemapFolder="https://staging.bikewale.com/sitemaps/usedbikes/"/>
		<add sitemapType="DealerLocator" source="E:\work\Bikewale\bikewaleweb\Bikewale.Sitemap.DealerLocator\bin\Debug\sitemaps" destination="e:\sites\bikewale\staging.https.bikewale\sitemaps\dealerlocator" webSitemapFolder="https://staging.bikewale.com/sitemaps/dealerlocator/"/>
		<add sitemapType="ServiceCenter" source="E:\work\Bikewale\bikewaleweb\Bikewale.Sitemap.ServiceCenter\bin\Debug\sitemaps" destination="e:\sites\bikewale\staging.https.bikewale\sitemaps\servicecenter" webSitemapFolder="https://staging.bikewale.com/sitemaps/servicecenter/"/>
	</sitemapLocations>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<!--<add key="serversList" value="10.10.3.110" />
		<add key="userName" value="AEPL\ashish.kamble "/>
		<add key="password" value="Pass@123" />-->
		<add key="GoogleAPIConsoleApiKey" value="AIzaSyCL14ZjI-0ASo86i3nAQp7pGIqYBOQd-p0" />
		<add key="sitemap_batch_file_location" value="E:\work\Bikewale\bikewaleweb\Bikewale.Sitemap.CopySiteMapToServers\copy_sitemap.bat"/>
	</appSettings>
  <log4net>
    <!--This appender is for adding the default providers -->
    <appender name="ProviderFile" type="log4net.Appender.RollingFileAppender">
      <file value="logs/LogInfo.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{MM/dd/yyyy hh:mm:ss} - %message%newline"/>
      </layout>
    </appender>

    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <file value="logs/Error.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception%newline"/>
      </layout>
    </appender>

    <root>
      <level value="INFO"/>
      <appender-ref ref="ProviderFile"/>
    </root>

    <logger additivity="false" name="ErrorLog">
      <level value="ERROR"/>
      <appender-ref ref="ErrorLog"/>
    </logger>

  </log4net>
</configuration>