<div class="customer-finance-popup customer-finance-error hide">
    <div class="position-abt finance-close custfinance-error-close-click cwsprite cross-lg-dark-grey cur-pointer"></div>
    <p class="title">Unexpected Error</p>
    <p>Oops! Something went wrong. Please try again.</p>
    <input id="offer-error-btn" type="button" class="btn btn-orange btn-full-width text-uppercase font14 text-bold" value="OK">
</div>
