@charset "utf-8";
/* top card */
.padding-left30 {
    padding-left: 30px;
}

.ad-summary-label {
    position: relative;
    top: -5px;
}

#ad-summary .model-details-label {
    color: #4d5057;
}

.inr-md-lg {
    width: 12px;
    height: 17px;
    background-position: -64px -515px;
    position: relative;
    top: 1px;
}

.ad-summary-btn.btn {
    padding: 8px 32px;
}

/* main carousel */
#bike-main-carousel .jcarousel-wrapper {
    width: 385px;
}

#bike-main-carousel .jcarousel {
    padding-top: 0;
}

#bike-main-carousel .jcarousel li {
    float: left;
    width: 385px;
    height: 220px;
    margin-right: 0;
    cursor: pointer;
}

#bike-main-carousel .carousel-img-container {
    display: table;
    width: 385px;
    height: 220px;
    text-align: center;
    line-height: 0;
}

#bike-main-carousel .carousel-img-container span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 220px;
    background: #f5f5f5 url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif) center center no-repeat;
}

#bike-main-carousel .carousel-img-container img {
    max-width: 100%;
    height: 220px;
}

.model-media-details {
    position: absolute;
    right: 10px;
    bottom: 30px;
    font-size: 12px;
    cursor: pointer;
}

.model-media-item {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 5px;
    color: #4d5057;
    background: rgba(255,255,255,.8);
    border-radius: 2px;
    line-height: 0;
}

.gallery-photo-icon {
    width: 16px;
    height: 12px;
    background-position: -213px -207px;
}

.model-media-count {
    position: relative;
    top: -1px;
}

#bike-main-carousel .jcarousel-control-prev, #bike-main-carousel .jcarousel-control-next, .photos-prev-navigation, .photos-next-navigation {
    width: 26px;
    height: 48px;
}

#bike-main-carousel .jcarousel-control-left {
    left: 0;
}

#bike-main-carousel .jcarousel-control-right {
    right: 0;
}

#bike-main-carousel .jcarousel-control-prev, .photos-prev-navigation {
    background-position: -125px -355px;
}

#bike-main-carousel .jcarousel-control-next, .photos-next-navigation {
    background-position: -150px -355px;
}

#bike-main-carousel .jcarousel-control-prev:hover, .photos-prev-navigation {
    background-position: -125px -386px;
}

#bike-main-carousel .jcarousel-control-next:hover, .photos-next-navigation:hover {
    background-position: -150px -386px;
}

#bike-main-carousel .jcarousel-control-prev.inactive, .photos-prev-navigation.inactive {
    background-position: -125px -325px;
    cursor: not-allowed;
}

#bike-main-carousel .jcarousel-control-next.inactive, .photos-next-navigation.inactive {
    background-position: -150px -325px;
    cursor: not-allowed;
}

/* no image */
#bike-no-image {
    width: 100%;
    margin: 0 auto 20px;
    height: 185px;
    display: table;
    position: relative;
    text-align: center;
    background-color: #f5f5f5;
}

.no-image-content {
    display: table-cell;
    vertical-align: middle;
}

.no-image-icon {
    width: 40px;
    height: 30px;
    background-position: -97px -543px;
}

.request-media-icon {
    width: 38px;
    height: 31px;
    background-position: -142px -543px;
    margin-top: 25px;
}

/* btn */
.btn-inv-teal {
    background: transparent;
    color: #3799a7;
    border: 1px solid #3799a7;
}

.btn-inv-teal:hover {
    color: #fff;
    background: #41b4c4;
    border-color: #41b4c4;
    text-decoration: none
}

.btn-inv-teal:focus {
    color: #fff;
    background: #3799a7;
    text-decoration: none
}

.inv-teal-sm {
    font-size: 14px;
    padding: 6px 19px;
}

.btn-inv-teal.btn-sm {
    padding: 6px 19px;
}

/* bike details */
.key-value-list p {
    width: 50%;
    float: left;
    margin-top: 10px;
}

.key-value-list li:first-child p {
    margin-top: 0;
}

.bike-details-key {
    color: #82888b;
}

.bike-details-value {
    font-weight: bold
}

/* floating tabs */
#makeOverallTabsWrapper {
    width: 100%;
    height: 45px;
}

.overall-floating-tabs {
    width: 976px;
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
}

#makeOverallTabs.fixed-tab {
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: 5;
    border-bottom: 0;
    -moz-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    -webkit-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    -o-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    -ms-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
}

.overall-specs-tabs-wrapper {
    display: table;
    background: #fff;
}

.overall-specs-tabs-wrapper a {
    padding: 10px 20px;
    display: table-cell;
    font-size: 14px;
    color: #82888b;
}

.overall-specs-tabs-wrapper a:hover {
    text-decoration: none;
    color: #4d5057;
}

.overall-specs-tabs-wrapper a.active {
    border-bottom: 3px solid #ef3f30;
    font-weight: bold;
    color: #4d5057;
}

.specs-features-list .grid-6 p {
    margin-bottom: 25px;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.blue-right-arrow-icon {
    width: 6px;
    height: 10px;
    background-position: -74px -469px;
    position: relative;
    top: 1px;
    left: 7px;
}

/* used-bikes-carousel */
.used-bikes-carousel .model-jcarousel-image-preview {
    height: 160px;
    line-height: 0;
    background: #f5f5f5;
    margin-bottom: 10px;
}

.used-bikes-carousel .card-image-block{
    background-color: #f5f5f5;
}

.author-grey-sm-icon, .kms-driven-icon, .model-date-icon, .model-loc-icon {
    width: 10px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
}

.model-date-icon {
    background-position: -65px -543px
}

.kms-driven-icon {
    background-position: -65px -563px
}

.model-loc-icon {
    background-position: -82px -543px
}

.used-bikes-carousel .card-desc-block .grid-6 {
    margin-bottom: 6px;
}

.model-details-label {
    width: 82%;
    display: inline-block;
    vertical-align: middle;
    color: #82888b;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#similarContent .inner-content-carousel .jcarousel li {
    min-height: 365px;

}

/* dealer card */
.card {
  width: 292px;
  min-height: 140px;
  border: 1px solid #f6f6f6;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
}
.card:first-child {
    margin-left: 20px;
}
.card .card-target {
    min-height: 140px;
    display: block;
    padding: 15px 20px 0;
}
.card .card-target:hover {
    text-decoration: none;
}
.card .text-truncate {
    width: 100%;
}
.details-column {
    width: 92%
}

#makeUsedBikeContent h2 {
    margin-bottom: 20px;
}
.dealership-loc-icon { width:9px; height:12px; background-position:-52px -469px; position:relative;top:4px; }
.dealership-card-details { width:92%; }
.vertical-top { display:inline-block;vertical-align:top; }
.phone-black-icon { width:11px; height:15px; position:relative; top:5px; margin-right:3px; background-position:-73px -444px; }

/* gallery */
.blackOut-window-model {
    display: none;
    background: #222;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9;
    opacity: .95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
}

.modelgallery-close-btn {
    z-index: 9;
}

.bike-gallery-popup {
    display: none;
    width: 730px;
    height: 545px;
    margin: 40px auto 0;
    overflow-y: auto;
    position: fixed;
    top: 4%;
    right: 5%;
    left: 5%;
    z-index: 10;
}

.modelgallery-close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
}

/* connected carousel */
.connected-carousels .stage, .connected-carousels .navigation {
    width: 640px;
    position: relative;
    margin: 0 auto 20px;
}

.connected-carousels .carousel-stage {
    height: 360px;
}

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel-stage li {
    float: left;
    width: 640px;
    height: 360px;
}

.connected-carousels .stage-slide {
    width: 100%;
    height: 360px;
    display: table;
    text-align: center;
}

.stage-slide .stage-image-placeholder {
    width: 640px;
    display: table-cell;
    vertical-align: middle;
}

.stage-image-placeholder img {
    max-width: 100%;
    max-height: 360px;
    background: #fff;
}

.bike-gallery-details {
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    width: 640px;
    color: #fff;
    padding: 10px 20px 5px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(5,0,0,0.7));
}

.carousel-navigation li {
    width: 145px;
    height: 85px;
    margin-right: 10px;
    float: left;
    cursor: pointer;
}

.carousel-navigation .navigation-slide {
    width: 100%;
    height: 85px;
    display: table;
    text-align: center;
    line-height: 0;
}

.navigation-slide .navigation-image-placeholder {
    display: table-cell;
    vertical-align: middle;
    border: 2px solid rgba(34,34,34,0.1);
}

.carousel-navigation li.active .navigation-image-placeholder {
    border: 2px solid #ccc;
}

.navigation-image-placeholder img {
    max-height: 81px;   
}

/* next-prev */
.connected-carousels .stage:hover .photos-prev-stage, .connected-carousels .stage:hover .photos-next-stage {
    display: block;
}

.connected-carousels .navigation:hover .photos-prev-navigation, .connected-carousels .navigation:hover .photos-next-navigation {
    display: block;
}

.photos-prev-stage, .photos-next-stage {
    display: none;
    width: 40px;
    height: 80px;
    text-indent: -9999px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    padding: 10px 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.connected-carousels .stage .prev, .connected-carousels .stage .next {
    position: absolute;
    top: 40%;
    z-index: 1;
}

.photos-prev-stage {
    background-position: -30px -73px;
    left: -20px;
}

.photos-next-stage {
    background-position: -61px -73px;
    right: -20px;
}

.photos-prev-stage:hover {
    background-position: -30px -128px;
}

.photos-next-stage:hover {
    background-position: -61px -128px;
}

.photos-prev-stage.inactive {
    background-position: -30px -18px;
    cursor: not-allowed;
}

.photos-next-stage.inactive {
    background-position: -61px -18px;
    cursor: not-allowed;
}

.photos-next-navigation, .photos-prev-navigation {
    display: none;
    text-indent: -9999px;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 10px 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    top: 20%;
    z-index: 2;
}

.photos-prev-navigation {
    left: -15px;
}

.photos-next-navigation {
    right: -15px;
}

/* lead capture popup */
#get-seller-details-popup.bwm-fullscreen-popup, #request-media-popup.bwm-fullscreen-popup {
    padding: 15px 60px;
    display: none;
}

#get-seller-details-popup.bw-popup, #request-media-popup.bw-popup {
    width: 480px;
    top: 30%;
}

#request-media-popup .popup-inner-container {
    padding: 0;
}

#mobile-verification-section, #update-mobile-content, #seller-details-section, #request-sent-section {
    display: none;
}

.btn-fixed-width {
    padding-right: 0;
    padding-left: 0;
    width: 205px;
}

.size-small .icon-outer-container {
    width: 92px;
    height: 92px;
    margin-bottom: 10px;
}

.size-small .icon-inner-container {
    width: 84px;
    height: 84px;
    margin: 3px auto;
}

.otp-icon {
    width: 29px;
    height: 29px;
    background-position: -109px -177px;
}

.edit-blue-icon {
    position: relative;
    top: 13px;
    cursor: pointer;
}

.thankyou-icon {
    width: 52px;
    height: 58px;
    background-position: -165px -436px;
    margin-top: 10px;
}

.margin-bottom35 { 
    margin-bottom: 35px;
}

.dealer-details-list li {
    margin-bottom: 25px;
}

.dealer-details-list .data-key {
    font-size: 12px;
    color: #82888b;
}

.dealer-details-list .data-value {
    font-size: 16px;
    font-weight: bold;
}

.text-truncate { width:100%; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }

/* input field */
input[type="text"]:focus, input[type="number"]:focus { outline:none; box-shadow: none; }
.input-box { height:60px; text-align: left; }
.input-box input { font-size: 16px; width: 100%; display:block; padding: 7px 0; border-bottom:1px solid #82888b; font-weight: bold; color: #4d5057; }
.input-box label { position: absolute; top: 4px; left: 0; font-size:16px; color: #82888b; -webkit-transition:0.2s ease all; -moz-transition:0.2s ease all; -o-transition:0.2s ease all; transition:0.2s ease all; }
.input-number-box input { padding-left: 30px; }
.input-number-prefix { display:none; font-size: 16px; position: absolute; top: 4px; font-weight: bold; color: #82888b; }
.boundary { position: relative; width: 100%; display: block; }
.boundary:before, .boundary:after { content: ''; position: absolute; bottom: 0; width: 0; height: 2px; background-color: #41b4c4; -webkit-transition:0.2s ease all; -moz-transition:0.2s ease all; -o-transition:0.2s ease all; transition:0.2s ease all; }
.boundary:before { left:50%; }
.boundary:after { right:50%; }
.error-text { display:none; font-size:12px; position: relative; top: 4px; left: 0; color: #d9534f; }
/* on focus */
.input-box input:focus ~ label, .input-box.not-empty label { top:-16px; font-size:12px; }
.input-box.input-number-box input:focus ~ .input-number-prefix, .input-box.input-number-box.not-empty .input-number-prefix { display:inline-block; }
.input-box input:focus ~ .boundary:before, .input-box input:focus ~ .boundary:after { width: 50%; } 
/* validation */
.input-box.invalid .boundary:before, .input-box.invalid .boundary:after { background-color: #d9534f; width:50%; }
.input-box.invalid .error-text { display:inline-block; }


/* loader */
#ub-ajax-loader,
.display-loader {
    display: none;
}

#modal-window {
    background: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9;
    opacity: .5;
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}
/* loader */
#spinner-content {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 45%;
    left: 10%;
    right: 0;
    margin: 0 auto;
    z-index: 999;
}

.bw-spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.circle-path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #ef3f30;
  }
  100% {
    stroke: #ef3f30;
  }
}

@keyframes colors {
  0% {
    stroke: #ef3f30;
  }
  100% {
    stroke: #ef3f30;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@media only screen and (max-width: 1024px) {
    #bike-main-carousel .jcarousel li {
        width: 365px;
    }

    #bike-main-carousel .jcarousel-control-left, #bike-main-carousel .jcarousel-control-right {
        top: 35%;
    }
}

.bike-sold-msg {
  width:89%;
  padding: 10px 20px;
  font-size: 14px;
  display:inline-block;
  vertical-align: middle;
}

.used-sprite { 
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/used-sprite.png?v1=14Oct2016) no-repeat; 
    display: inline-block; 
}
.listing-sold-icon {
   width: 87px;
   height: 64px;
   background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/sold-sign.svg') no-repeat center / contain;
   display: inline-block;
   vertical-align: middle;
}
.listing-removed-icon {
   width: 127px;
   height: 64px;
   background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/removed-sign.svg') no-repeat center / contain;
   display: inline-block;
   vertical-align: middle;
}
.listing--removed .bike-sold-msg {
    width: 85%;
}
