
.brand-type-container ul li { display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:180px; height:85px; margin:0 5px 30px; text-align:center; font-size:18px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; }
.style-type-container ul li { display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:226px; height:155px; margin:0 5px 15px; text-align:center; font-size:18px; border:1px solid #e2e2e2; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; }
.brand-type { width:180px; height:50px; display:block; margin:0 auto; }
.inr-budget { width:10px; height:16px; background-position:0 -515px; position:relative; top:1px; }
.brand-type-title, .style-type-title { margin-top:10px; display:block; }
.brand-type-container a, .style-type-container a { text-decoration:none; color:#82888b; display: inline-block; }
.style-type-container li:hover { border: 1px solid #4d5057;}
.brand-type-container li:hover .brand-type-title, .style-type-container li:hover .style-type-title {color:#4d5057; font-weight: bold; }
.brandlogosprite { background:url('https://imgd2.aeplcdn.com/0x0/bw/static/sprites/d/brand-type-sprite.png?v=04Oct2016') no-repeat; display: inline-block; }
.brand-2, .brand-1, .brand-40, .brand-3, .brand-4, .brand-24, .brand-5, .brand-6, .brand-39, .brand-37, .brand-7, .brand-23, .brand-8, .brand-34, .brand-17, .brand-18, .brand-9, .brand-19, .brand-10, .brand-20, .brand-41, .brand-38, .brand-11, .brand-12, .brand-22, .brand-15, .brand-42, .brand-16, .brand-16, .brand-13, .brand-14, .brand-81, .brand-71 { height:50px; }
.brand-2 { width: 87px; background-position: 0 0; }.brand-7 { width: 56px; background-position: -96px 0; }.brand-1 { width: 88px; background-position: -162px 0; }.brand-8 { width: 100px; background-position: -260px 0; }.brand-12 { width: 67px; background-position: -370px 0; }.brand-40 { width: 125px; background-position: -447px 0; }.brand-34 { width: 122px; background-position: -582px 0; }.brand-22 { width: 121px; background-position: -714px 0; }.brand-3 { width: 44px; background-position: -845px 0; }.brand-17 { width: 86px; background-position: -899px 0; }.brand-15 { width: 118px; background-position: -995px 0; }.brand-4 { width: 43px; background-position: -1123px 0; }.brand-9 { width: 99px; background-position: -1176px 0; }.brand-16 { width: 117px; background-position: -1285px 0; }.brand-5 { width: 59px; background-position: -1412px 0; }.brand-19 { width: 122px; background-position: -1481px 0; }.brand-13 { width: 122px; background-position: -1613px 0; }.brand-6 { width: 63px; background-position: -1745px 0; }.brand-10 { width: 102px; background-position: -1818px 0; }.brand-14 { width: 127px; background-position: -1930px 0; }.brand-39 { width: 89px; background-position: -2067px 0; }.brand-20 { width: 82px; background-position: -2166px 0; }.brand-11 { width: 121px; background-position: -2258px 0; }.brand-41 { width:63px; background-position: -2389px 0; }.brand-42 { width:64px; background-position:-2461px 0; }.brand-81 { width:71px; background-position:-2535px 0; }

.brand-71 {
    width: 39px;
    background-position: -2616px 0;
}
                                                                                  
.style-type { width:226px; height:90px; display:block; margin:0 auto; padding-top:30px; }
.styletypesprite { background: url(https://imgd3.aeplcdn.com/0x0/bw/static/sprites/d/style-type-sprite.png) no-repeat; display: inline-block;  }
.style-scooters, .style-street, .style-cruiser, .style-sports, .style-scooters-dark, .style-street-dark, .style-cruiser-dark, .style-sports-dark { width:77px; height:44px; }
.style-scooters { background-position: 0 0; }.style-street { background-position: 0 -108px; }.style-cruiser { background-position: 0 -216px; }.style-sports { background-position: 0 -324px; }
.style-type-container li:hover .styletypesprite.style-scooters { background-position: 0 -54px; }.style-type-container ul li:hover span.styletypesprite.style-street { background-position: 0 -162px; }.style-type-container ul li:hover span.styletypesprite.style-cruiser { background-position: 0 -270px; }.style-type-container ul li:hover span.styletypesprite.style-sports { background-position: 0 -378px; }
.budget-container li, .mileage-container li { text-align: center; display: inline-block; *display:inline; *zoom:1; }
.budget-container li:hover a, .mileage-container li:hover a { color:#4d5057;}
.budget-container li a, .mileage-container li a { display:inline-block; *display:inline; *zoom:1; width:226px; height:155px; margin:0 5px 30px; text-align:center; background:#fff; color:#82888b; font-size:18px; border: 1px solid #e2e2e2; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; }
.budget-container li a .budget-title-box , .budget-container li a .budget-amount-box, .mileage-container li a .mileage-title-box , .mileage-container li a .mileage-amount-box { display:block; }
.budget-container li a:hover, .mileage-container li a:hover { border: 1px solid #4d5057; text-decoration:none; }
.budget-container li a .budget-title-box, .mileage-container li a .mileage-title-box { padding-top: 47px; padding-bottom: 5px; }
.budget-container li:hover .inr-budget { background-position:-20px -515px; }
.popular-used-bikes-container .jcarousel li:hover .bikes-avaiable-count span{ color:#0288d1; }


.section-header,
.section-inner-padding {
  padding: 15px 20px;
  -webkit-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  -moz-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  -ms-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  -o-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  border: 1px solid #e2e2e2 \9; }

.section-bottom-margin {
  margin-bottom: 20px; }

.section-h2-title {
  font-size: 18px; }

.section-heading {
  text-align: center;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 700; }

.generic-banner {
  background-color: #787878;
  background-repeat: no-repeat;
  background-size: cover;
  height: 268px;
  padding-top: 1px; }

.center-pos {
  background-position: center; }

.center-right-pos {
  background-position: center right; }

.left-center-pos {
  background-position: left center; }

.banner-box {
  margin-top: 95px; }

.margin-minus50 {
  margin-top: -50px; }

/* more-less desc */
.desc-main-content {
  display: inline; }

.desc-more-content {
  display: none; }

.active .desc-more-content {
  display: inline; }

.border-light-bottom {
  border-bottom: 1px solid #e2e2e2; }

.border-grey-right {
  border-right: 1px solid #ecedee; }

.text-grey {
  color: #787878 !important; }

.btn-size-180 {
  font-size: 14px;
  width: 180px;
  padding: 5px 0; }

/* bike-list */
#bike-list {
  overflow: hidden; }
  #bike-list .list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative; }
    #bike-list .list-item:before {
      content: '';
      width: 96%;
      height: 1px;
      display: block;
      border-top: 1px solid #f1f1f1;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 2%;
      right: 2%; }
    #bike-list .list-item:first-child:before {
      content: none; }
  #bike-list .bike-details-block {
    position: relative;
    top: -3px; }

.item-image-content {
  width: 100%;
  background: url(https://imgd2.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif) no-repeat center;
  display: block;
  position: relative; }
  .item-image-content:hover {
    text-decoration: none; }
  .item-image-content img {
    width: 100%; }
  .item-image-content .item-rank {
    min-width: 46px;
    display: block;
    padding: 2px 5px;
    background: #ef3f30;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1; }

.key-specs-list {
  padding-bottom: 15px;
  overflow: hidden;
  border-bottom: 1px solid #ecedee; }

.item-table-content .table-head-row th {
  font-weight: 400;
  font-size: 12px;
  color: #82888b;
  text-align: left;
  padding-bottom: 5px; }

.used-bike-target-link {
  margin: 3px 0 3px 20px;
  padding-left: 20px;
  border-left: 1px solid #ecedee; }

/* generic carousel */
.generic-carousel .text-truncate {
  width: 100%; }

/* icons */
.generic-sprite {
  background: url(https://imgd1.aeplcdn.com/0x0/bw/static/sprites/d/generic-sprite.jpg) no-repeat;
  display: inline-block; }

/* key specs */
.capacity-sm,
.mileage-sm,
.power-sm,
.weight-sm {
  width: 16px;
  height: 14px;
  margin-right: 5px; }

.capacity-sm {
  background-position: -136px -153px; }

.mileage-sm {
  background-position: -154px -153px; }

.power-sm {
  background-position: -136px -169px;
  margin-right: 2px; }

.weight-sm {
  background-position: -154px -169px; }

.item-details-content .item-more-details-list li {
  margin-left: 10px;
  margin-right: 0;
  margin-bottom: 0; }

.key-specs-list li,
.key-specs-list span {
  display: inline-block; }
