<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <connectionStrings>
    <add name="ReadOnlyConnectionString" connectionString="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300"/>
    <add name="MasterConnectionString" connectionString="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300"/>
  </connectionStrings>
  <appSettings>
    <add key="ReadOnlyConnectionString" value="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300" />
    <add key="MasterConnectionString" value="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300" />
    <add key="MMindexName" value="11bwsrckeywordsv1" />

    <add key="ElasticHostUrl" value="172.16.0.11:9201" />
    <!--<add key="esHost" value="192.168.1.200:9202"/>--> <!--Live-->
    <add key="typeName" value="mm" />
  </appSettings>
 <runtime>
   <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
     <dependentAssembly>
       <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
       <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
     </dependentAssembly>
    <dependentAssembly>
     <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
     <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
    </dependentAssembly>
    <dependentAssembly>
     <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
     <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
    </dependentAssembly>
   </assemblyBinding>
 </runtime>
  <log4net>
    <appender name="GelfUdpAppender" type="Gelf4net.Appender.GelfUdpAppender, Gelf4net">
      <remoteAddress value="10.0.0.200" />
      <remotePort value="23232" />
      <layout type="Gelf4net.Layout.GelfLayout, Gelf4net">
        <param name="AdditionalFields" value="app:BikeWale Auto Suggest,version:1.0,Environment:Ashish_Dev,Level:%level" />
        <param name="Facility" value="BikeWale ES Errors" />
        <param name="IncludeLocationInformation" value="true" />
        <!-- Sets the full_message and short_message to the specified pattern-->
        <param name="ConversionPattern" value="[%t] %c{1} - %m" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="GelfUdpAppender" />
    </root>
  </log4net>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
