
/*listing author*/
.author {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 20px;
}

.author__title {
    padding: 20px 25px 15px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(221,221,221,0.50);
    -moz-box-shadow: 0 2px 4px 0 rgba(221,221,221,0.50);
    box-shadow: 0 2px 4px 0 rgba(221,221,221,0.50);
}

.author__block {
    padding: 15px 20px 15px;
}

.author__image {
    padding-left: 20px;
    vertical-align: middle;
    display: table-cell;
    margin-left: 15px;
    height: 120px;
    min-width: 140px;
}

.author__image img {
    height: auto;
    width: 120px;
}

.author__list li:after {
    content: '';
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #eee;
}

.author__detail {
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    padding: 15px 25px 15px 20px;
}

.author__name {
    display: block;
    padding-bottom: 10px;
    font-size: 15px;
    color: #2a2a2a;
}

.author__name:hover {
    text-decoration: none;
}

.author__designation {
    display: block;
    margin-bottom: 10px;
    color: #82888b;
}

.author__description {
    margin-bottom: 5px;
    max-height: 45px;
    overflow: hidden;
    position: relative;
    line-height: 22px;
    text-align: justify;
}

.author__description:before {
    content: '...';
    position: absolute;
    padding-left: 3px;
    background: white;
    right: 0;
    bottom: 0;
}

.author__description:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
section {
    display: table;
}

.padding-15-20-10 {
    padding: 15px 20px 10px;
}

/*sidebar*/
.sidebar-bike-list li:first-child .bike-target-link {
    border-top: 0;
}

.sidebar-bike-list .bike-target-link {
    display: block;
    color: #4d5057;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #f5f5f5;
}

.sidebar-bike-list .bike-target-link:hover {
    text-decoration: none;
}

.sidebar-bike-list .bike-target-image {
    line-height: 0;
    width: 80px;
    display: table-cell;
}

.sidebar-bike-list .bike-target-image img {
    width: 80px;
    height: 45px;
    border: 1px solid #f5f5f5;
}

.sidebar-bike-list .bike-target-content {
    display: table-cell;
    vertical-align: middle;
}

.sidebar-bike-list .bike-target-link h3 {
    margin-bottom: 3px;
}

/* details author */

.author .content-box-shadow {
    -moz-box-shadow: 0 2px 4px 0 rgba(204,204,204,0.50);
    -webkit-box-shadow: 0 2px 4px 0 rgba(204,204,204,0.50);
    box-shadow: 0 2px 4px 0 rgba(204,204,204,0.50);
}

.detail-author__head {
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(221,221,221,0.50);
    -moz-box-shadow: 0 2px 4px 0 rgba(221,221,221,0.50);
    box-shadow: 0 2px 4px 0 rgba(221,221,221,0.50);
}

.detail-author__name {
    text-transform: capitalize;
    display: inline-block;
}

.detail-author__image {
    height: auto;
    width: 210px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
}

.detail-author__image img {
    width: 210px;
    
    height: auto;
}
.detail-author__detail {
    width: 64%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 25px 15px 20px;
}

.detail-author__description {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEEEEE;
    font-size: 14px;
}

.disk-list {
    list-style-type: disc;
    padding-left: 20px;
}

.list-head {
    font-size: 18px;
    padding-bottom: 5px;
}

.disk-list li {
    margin-top: 15px;
    font-size: 14px;
}

.border-after-bottom::after {
    content: '';
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}

/* authors caraosel*/

.carousel-head {
    font-size: 18px;
    padding: 25px 0 20px 20px;
}

#author__carousel.inner-content-carousel {
    width: 650px;
}

#author__carousel .jcarousel {
    width: 620px;
    padding-bottom: 20px;
}

#author__carousel .jcarousel li {
    float: left;
    width: 220px;
    min-height: 244px;
    margin-right: 20px;
    background: #fff;
    box-shadow: 0 2px 4px 1px rgba(204,204,204,0.50);
}

.jcarousel-author-image {
    height: auto;
    width: 205px;
    min-height: 162px;
    display: table;
    text-align: center;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.jcarousel-author-image img {
    width: 190px;
    height: auto;
}

.no-image-carousel{
    display: block;
    background: #D8D8D8;
    height: 142px;
    width: 100%;
    position: relative;
}
.no-image-carousel:after{
    content: '';
    height: 48px;
    width: 48px;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 47px;
    left: 64px;
    background : #fff url("https://imgd.aeplcdn.com/0x0/bw/static/icons/a2a2a2/author-16x16.png") no-repeat center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.no-image-block{
    content: '';
    display: block;
    background: #D8D8D8;
    height: 95px;
    width: 120px;
    position: relative;
}
.no-image-block:after {
    content: '';
    height: 48px;
    width: 48px;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 23px;
    left: 36px;
    background : #fff url("https://imgd.aeplcdn.com/0x0/bw/static/icons/a2a2a2/author-16x16.png") no-repeat center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.author__carousel-label {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 15px;
}

.author__carousel-designation {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    color: #82888b;
    font-size: 14px;
}

#author__carousel .card-desc-block {
    padding: 15px 20px 20px;
}

@media only screen and (max-width: 1024px) {
    #author__carousel.inner-content-carousel .jcarousel {
        width: 590px !important;
    }

    #author__carousel.inner-content-carousel .jcarousel li {
        width: 220px !important;
        min-height: 245px;
        margin-right: 20px;
    }

    #author__carousel .jcarousel-control-left,
    #author__carousel .jcarousel-control-right {
        top: 36%;
    }
}

/* Social icon*/
.social-wrapper {
    padding-top: 10px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
}
.social-wrapper li {
    width: 38px;
    height: 24px;
    margin-right: 10px;
    float: left;
}
.social-icons-sprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/social-icons-sprite.png) no-repeat;
    display: inline-block;
}
.whatsapp-icon, .fb-icon, .tweet-icon, .gplus-icon, .mail-icon {
    height: 14px;
    position: relative;
    top: 4px;
}
.whatsapp-container {
    background: -webkit-linear-gradient(to bottom, #49c633, #40ad2c);
    background: -o-linear-gradient(to bottom, #49c633, #40ad2c);
    background: -moz-linear-gradient(to bottom, #49c633, #40ad2c);
    background: linear-gradient(to bottom, #49c633, #40ad2c);
}
.fb-container {
    background: -webkit-linear-gradient(to bottom, #5171ba, #3b599c);
    background: -o-linear-gradient(to bottom, #5171ba, #3b599c);
    background: -moz-linear-gradient(to bottom, #5171ba, #3b599c);
    background: linear-gradient(to bottom, #5171ba, #3b599c);
}
.tweet-container {
    background: -webkit-linear-gradient(to bottom, #28c0ff, #1babe7);
    background: -o-linear-gradient(to bottom, #28c0ff, #1babe7);
    background: -moz-linear-gradient(to bottom, #28c0ff, #1babe7);
    background: linear-gradient(to bottom, #28c0ff, #1babe7);
}
.gplus-container {
    background: -webkit-linear-gradient(to bottom, #ff533f, #dd2a16);
    background: -o-linear-gradient(to bottom, #ff533f, #dd2a16);
    background: -moz-linear-gradient(to bottom, #ff533f, #dd2a16);
    background: linear-gradient(to bottom, #ff533f, #dd2a16);
}
.whatsapp-icon {
    width: 12px;
    background-position: 0 0;
}
.fb-icon {
    width: 8px;
    background-position: -22px 0;
}
.tweet-icon {
    width: 16px;
    background-position: -39px 0;
}
.gplus-icon {
    width: 14px;
    background-position: -65px 0;
}