@charset "utf-8";
/* CSS Document */
#bookingTabsContainer ul li { width:309px; height:85px; display:inline-block; vertical-align:top; text-align:center; font-size:18px; color:#82888b; }
#bookingTabsContainer ul li .text-bold { color:#4d5057 }
#bookingTabsContainer .bike-book-step { width:190px; display:inline-block; cursor:pointer; }
#bookingTabsContainer .booking-tabs-image { width:100px; height:45px; margin:10px auto 0; position: relative; }
.booking-tabs-image span { margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }

/* booking sprite */
.booking-flow-sprite { background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/booking-flow-sprite.png?v1=03Mar2016') no-repeat; display: inline-block; }
.summary-icon-selected, .personal-details-icon-selected, .payment-icon-selected { width:42px; height:42px; }
.personal-details-icon-selected { background-position: 0 0; }
.summary-icon-selected { background-position: 0 -52px; }
.payment-icon-selected { background-position: 0 -103px; }
.booking-tick-blue, .summary-icon-grey, .payment-icon-grey { width:28px; height:28px; }
.summary-icon-grey { background-position: -52px -37px; }
.booking-tick-blue { background-position: -52px 0; }
.payment-icon-grey { background-position: -52px -73px; }
.otp-icon { width:102px; height:102px; background-position: 0 -111px; }
.booking-otp-icon { width:30px; height:40px; background-position: -46px -391px; }

.horizontal-line { width:730px; height:1px; background:#ccc; top:59px; }
.border-light-grey { border:1px solid #e2e2e2; }
.border-dark-grey { border:1px solid #4d5057; }
.border-light-top { border-top:1px solid #e2e2e2; }
.border-light-right { border-right:1px solid #e2e2e2; }
.border-light-bottom { border-bottom:1px solid #e2e2e2; }
.border-light-left { border-left:1px solid #e2e2e2; }
.text-default { color:#4d5057; }
.pos-top13 { top:13px; }
.phone-grey-icon { width:11px; height:15px; margin-right:3px; background-position:-53px -444px;position:relative;top:0;}

#bikeSummary .bike-title { position:relative; top:-9px; }
#bikeSummary .variant-text, #bikeSummary .colour-text { float: left; font-size: 14px; line-height: 32px; }
#bikeSummary .variant-dropdown, #bikeSummary .colour-dropdown { float: left; width: 200px; }
/* select dropdown */
.select-dropdown { width: 200px; height: 32px; padding: 5px 10px; border: 1px solid #e2e2e2; color: #555; position: relative; cursor: pointer; background: #fff; }
.select-btn { width:160px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.select-dropdown-list { width: 200px; background: #fff; border: 1px solid #e2e2e2; position: absolute; z-index: 2; -moz-box-shadow:3px 3px 8px #e2e2e2; -webkit-box-shadow:3px 3px 8px #e2e2e2; -o-box-shadow:3px 3px 8px #e2e2e2; -ms-box-shadow:3px 3px 8px #e2e2e2; box-shadow:3px 3px 8px #e2e2e2; }
.select-dropdown-list li { background:#fff; cursor:pointer;border-bottom:1px solid #e2e2e2  }
.select-dropdown-list li p { width:100%; text-align:left; background:#fff; padding: 5px 8px; font-size: 14px;white-space: normal; color:#4d5057; cursor:pointer; }
.select-dropdown-list li:hover, .select-dropdown-list li:hover p { background: #f5f5f5; }

.colour-dropdown .select-dropdown { padding:4px 10px 4px 5px; }
.colour-dropdown .select-btn { width:137px; }
.colour-dropdown .select-color-box { width:22px; height:22px; background:#eee;border-radius:4px;border:1px solid #ccc; display:inline-block; *display: inline;
zoom: 1; vertical-align:middle; margin-right:7px; }
.colour-dropdown .select-dropdown-list li { overflow:hidden; padding:4px 5px;border-bottom:1px solid #e2e2e2 }
.colour-dropdown .select-dropdown-list li p { width:80%; padding:0; display:inline-block; *display: inline;
zoom: 1; vertical-align:middle; }
/* select dropdown */
.upDownArrow.fa-angle-down { transition: all 0.5s ease-in-out 0s; font-size: 20px; }
.select-dropdown .fa-angle-down { transition: transform .3s; -moz-transition: transform .3s; -webkit-transition: transform .3s; -o-transition: transform .3s; -ms-transition: transform .3s; }
.select-dropdown.open .fa-angle-down { -moz-transform: rotateZ(180deg); -webkit-transform: rotateZ(180deg); -o-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); transform: rotateZ(180deg); }

#bikeSummary .onRoad-price-wrapper li { display:block; float:left; margin-bottom:7px; }
#bikeSummary .onRoad-price-wrapper li p { float:left; width:380px; font-size:14px; color:#82888b; line-height:25px; }
#bikeSummary .onRoad-price-wrapper li div { float:right; width:150px; text-align:right; font-size:18px; font-weight:bold; }
.viewBreakupText { font-size:12px; color:#0288d1; cursor:pointer; }
.disabled-tab { cursor: not-allowed !important;}

/* dealer-details */
.contact-details-container ul { list-style:disc; margin:15px 25px; font-size:14px; }
.contact-details-container li { line-height:1.7; margin-bottom:10px; }
.offer-details-container ul { color:#82888b; margin-left:15px; font-size:14px; }
.offer-details-container li { background: url("https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/star-icon.png") no-repeat 0 3px; margin-top:12px; padding-left:22px; }
.query-number-container p { line-height:40px; }
.query-number-container .btn { padding:8px 62px; }

.contact-icon, .offers-icon, .disclaimer-icon, .call-icon, .personal-details-icon { width:16px; height:16px; }
.contact-icon { background-position:-115px -120px; }
.offers-icon { background-position:-115px -146px; }
.disclaimer-icon { background-position:-115px -175px; }
.call-icon { background-position:-115px -201px; }
.personal-details-icon { background-position:-115px -225px; }
.edit-blue-icon{width: 19px; height: 19px; background-position: -114px -247px;}

/* delivery-details */
#deliveryDetails .person-details-form-wrapper { width:440px; }
#deliveryDetails .mobile-box, #deliveryDetails .email-box { width:210px; }
#deliveryDetails .person-details-form-wrapper .errorIcon, #deliveryDetails .person-details-form-wrapper .errorText, #otpPopup .errorIcon, #otpPopup .errorText { display:none; }
#deliveryDetails .contact-details-container li { margin-top:10px; margin-bottom:0; }
#deliveryDetails .contact-details-container ul { margin: 15px 25px 0 38px }

/* otp */
#otpPopup { display:none; width:480px; min-height:495px; background:#fff; margin:0 auto; padding:30px 50px; position:fixed; top:15%; left:5%; right:5%; z-index:10; }
.otpPopup-close-btn.cross-lg-lgt-grey:hover { background-position: -36px -252px; }
#otpPopup .otp-box, #otpPopup .update-mobile-box { width:280px; margin:15px auto; }
#otpPopup .update-mobile-box .form-control-box { margin-top:25px; margin-bottom:50px; }
#otpPopup .otp-box p.resend-otp-btn { color:#0288d1; cursor:pointer; font-size:14px; }
#otpPopup .update-mobile-box { display:none; }
#otpPopup .edit-mobile-btn { cursor:pointer; }

.mobile-prefix { position: absolute; padding: 10px 13px 13px; color: #999; }

/*breakup container*/
.breakupPopUpContainer { width: 670px; min-height: 300px; background: #fff; z-index: 210; margin: 0 auto; position: fixed; top: 10%; left: 5%; right: 5%; padding:45px 50px; }
.breakupCloseBtn.cross-lg-lgt-grey { background-position: -36px -226px; }
.text-green { color:#5bc033;}

/* offers popup */
.termsPopUpContainer { width: 700px; height: 150px; overflow-y:auto; background-color: #fff; z-index: 10; margin: 0 auto; position: fixed; top: 10%; left: 5%; right: 5%; }
.termsPopUpCloseBtn.cross-lg-lgt-grey { background-position: -36px -226px; }
.viewterms{color: #ababab;text-decoration: none;font-size: 10px;cursor: pointer;}
.viewterms:hover{text-decoration:underline;}

li.offertxt span { display:none }  
li.offertxt:hover span {display:inline; cursor:pointer;}
li.offertxt .hide, li.offertxt:hover span.hide {display:none;}
#testimonialWrapper { max-width:770px; margin:0 auto; }
#testimonialWrapper .jcarousel-wrapper { width:770px; }
#testimonialWrapper li { width:770px; padding:0 20px; height:auto; }
.offertxt{ list-style-type:circle; margin-left:10px;padding:5px;}
/*
#testimonialWrapper .jcarousel { width:934px; overflow:hidden; left:20px; padding:20px 0; }
#testimonialWrapper .jcarousel li { width:298px; height:180px; margin-right: 20px; padding:0 10px; text-align:center; }
*/
#testimonialWrapper li .testimonial-image-container { width:60px; height:60px; background:#fff; margin:0 auto; border:1px solid #ccc; }
#testimonialWrapper li .testimonial-user-image { width:54px; height:54px; overflow:hidden; margin:2px auto; border:1px solid #666; }
#testimonialWrapper li .testimonial-user-image img { width:100%; }
#testimonialWrapper li .testimonial-user-stmt { height:66px; overflow:hidden; }

.select-color-box.color-count-one span { width:100%; height:100%; display:block !important; background:#eee; }
.select-color-box.color-count-two span { width:100%; height:40%; display:block !important; background:#eee; }
.select-color-box.color-count-two span:first-child { width:100%; height:60%; background:#545454; }

.select-color-box.color-count-three span { width:100%; height:33.33%; display:block !important; }
.select-color-box.color-count-three span:nth-child(1) { background:#eee; }
.select-color-box.color-count-three span:nth-child(2) { background:#eee; }
.select-color-box.color-count-three span:nth-child(3) { background:#eee; }

#customizeBike ul.select-colorUL li.selected-color span.select-color-box.color-count-two + span.color-title-box { top:-37px; }
#faqsWraper .grid-4 { width:312px; }
#faqsWraper p.font14 { line-height:1.7; }

@media only screen and (max-width:1024px) {
    #bookingTabsContainer ul li { width:297px; }
    #faqsWraper .grid-4 { width:290px; }
}