@charset "utf-8";
/* CSS Document */
.brand-bikes-list-container li { width:303px; height:442px; margin-right:10px; margin-bottom:5px; }
.brand-bikes-list-container li.front, .upcoming-brand-bikes-container li.front { border:none;}
.brand-bikes-list-container li .imageWrapper, .upcoming-brand-bikes-container li .imageWrapper { width:303px; }

.upcoming-brand-bikes-container li { width:298px; height:auto; }
.upcoming-brand-bikes-container .jcarousel { width: 934px; overflow: hidden; left: 20px; }
