@charset "utf-8";
.content-inner-block-1420 { padding:14px 20px; }
.text-x-black { color:#1a1a1a; }
#bikeMakeList .bikeDescWrapper { padding:15px 0; }
.inner-content-card li { width:294px; min-height:390px; margin-right:20px; margin-bottom:5px; }
.inner-content-card li.front { border:none;}
.inner-content-card li .imageWrapper { width:100%; height:166px; }
.inner-content-card li .imageWrapper a { display:table-cell; vertical-align:middle; background: url('http://imgd4.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center center; }
.sort-div { width:190px; height:36px; padding:7px; border:1px solid #e2e2e2; position:relative; cursor:pointer; background:#fff; }
.sort-by-title { width:150px; }
.text-truncate { width:100%; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.sort-selection-div { width:190px; background:#fff; margin-top:10px; border:1px solid #e2e2e2; position:absolute; z-index:2; }
.sort-selection-div ul li { padding:2px 0 2px 8px; margin-top:4px; margin-bottom:4px; }
.sort-selection-div ul li:hover { cursor:pointer; background:#82888b; color:#fff; }
.sort-selection-div ul li.selected { font-weight:bold; }
.sort-list-items ul::before { border-bottom: 10px solid #e2e2e2; border-left: 10px solid transparent; border-right: 10px solid transparent; content: ""; left: 87px; position: absolute; top: -11px; z-index: 1; }
.sort-list-items ul::after { border-bottom: 10px solid #ffffff; border-left: 10px solid transparent; border-right: 10px solid transparent; content: ""; left: 87px; position: absolute; top: -10px; z-index: 1; }
#upDownArrow.fa-angle-down { transition: all 0.5s ease-in-out 0s; font-size: 20px; }
.sort-div .fa-angle-down { transition: transform .3s; -moz-transition: transform .3s; -webkit-transition: transform .3s; -o-transition: transform .3s; -ms-transition: transform .3s; }
.sort-div.open .fa-angle-down { -moz-transform: rotateZ(180deg); -webkit-transform: rotateZ(180deg); -o-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); transform: rotateZ(180deg); }
.sort-by-text p { height:35px; line-height:35px; }
#makeUpcomingBikesContent .jcarousel-control-left { left:0; }
#makeUpcomingBikesContent .jcarousel-control-right { right:0; }
.inner-content-carousel .jcarousel { width:934px; left:20px; padding:0; }
#makeDealersContent .inner-content-carousel .jcarousel { left:10px;}
.inner-content-carousel .jcarousel li { width:292px; height:auto; margin-right:28px; }
.inner-content-carousel h3 a.text-black { display:block; }
.inner-content-carousel .jcarousel-control-left { left:-10px; top:13%; }
.inner-content-carousel .jcarousel-control-right { right:10px; top:13%; }
.inner-content-carousel .jcarousel-control-prev, .inner-content-carousel .jcarousel-control-next {width: 36px;height: 68px;}
.inner-content-carousel .jcarousel-control-prev:hover { background-position: -36px -134px}
.inner-content-carousel .jcarousel-control-next:hover {background-position: -63px -134px}
.inner-content-carousel .jcarousel-control-prev {background-position: -36px -79px;}
.inner-content-carousel .jcarousel-control-next {background-position: -63px -79px;}
.inner-content-carousel .jcarousel-control-prev.inactive {background-position: -36px -24px;}
.inner-content-carousel .jcarousel-control-next.inactive {background-position: -63px -24px;}
.content-inner-block-2010 { padding:20px 10px; }
#makeOverallTabsWrapper { width:100%; height:45px; }
.overall-floating-tabs { width:976px; background: #fff; border-bottom:1px solid #e2e2e2; }
#makeOverallTabs.fixed-tab { position:fixed; top:0; margin:0 auto; z-index:5; border-bottom:0; -moz-box-shadow:0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1; -webkit-box-shadow:0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1; -o-box-shadow:0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1; -ms-box-shadow:0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1; box-shadow:0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1; }
.overall-specs-tabs-wrapper { display:table; background:#fff; }
.overall-specs-tabs-wrapper a { padding:10px 20px; display:table-cell; font-size:14px; color:#82888b; }
.overall-specs-tabs-wrapper a:hover { text-decoration:none; color:#4d5057; }
.overall-specs-tabs-wrapper a.active { border-bottom:3px solid #ef3f30; font-weight:bold; color:#4d5057; }
#makeTabsContentWrapper h2 { margin-bottom:15px; }
#makeTabsContentWrapper h3 { font-weight:bold; margin-bottom:12px; }
#makeReviewsContent h3.model-section-subtitle { margin-bottom:20px; }
.preview-more-content { display:none; }
.border-divider { border-top:1px solid #e2e2e2; }
.line-height17 { line-height:1.7; }
.model-preview-image-container { width:292px; height:164px; display:table; text-align:center }
#makeUpcomingBikesContent .model-preview-image-container { border:none; }
.model-preview-image-container a { width:100%; height:164px; display:block; background: url('http://imgd4.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center center; }
.model-preview-image-container a img { width:100%; height:164px; }
.border-light-right { border-right:1px solid #f1f1f1; }
.text-truncate { width:100%; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
#makeReviewsContent .article-target-link, #makeVideosContent .article-target-link { margin-bottom: 8px; line-height: 1.5; }
.blue-right-arrow-icon { width:6px; height:10px; background-position:-74px -469px; position:relative; top:1px; left:7px; }
.model-user-review-rating-container { width:148px; height:84px; border:1px solid #e2e2e2; background:#f9f9f9; padding-top:17px; text-align:center;}
.model-user-review-title-container { width:308px; }
#makeTabsContentWrapper .model-user-review-title-container h3 { font-size:16px; color:#2a2a2a; line-height:1.7; margin-bottom:5px; position:relative; top:-6px; }
.dealer-jcarousel-image-preview { width:292px; height:114px; display:block; margin-bottom:15px; border:1px solid #f1f1f1; text-align:center; padding-top:10px; }
.city-sprite { background: url(http://imgd1.aeplcdn.com/0x0/bw/static/sprites/d/city-sprite.png?24062016) no-repeat; display: inline-block; }
.mumbai-icon, .pune-icon, .bangalore-icon, .delhi-icon, .chennai-icon, .hyderabad-icon, .kolkata-icon, .ahmedabad-icon, .chandigarh-icon, .lucknow-icon { height: 92px; }
.mumbai-icon { width: 130px; background-position: 0 0; }
.pune-icon { width: 186px; background-position: -140px 0; }
.bangalore-icon { width: 136px; background-position: -336px 0; }
.delhi-icon { width: 70px; background-position: -482px 0; }
.chennai-icon { width: 53px; background-position: -562px 0; }
.hyderabad-icon { width: 65px; background-position: -625px 0; }
.kolkata-icon { width: 182px; background-position: -700px 0; }
.lucknow-icon { width: 174px; background-position: -892px 0; }
.ahmedabad-icon { width: 0px; background-position: 0 0; }
.chandigarh-icon { width: 0px; background-position: 0 0; }
.dealership-loc-icon { width:8px; height:12px; background-position:-53px -469px; position:relative;top:4px; }
.dealership-card-details { width:92%; }
.vertical-top { display:inline-block;vertical-align:top; }
.dealership-address, .dealership-email {width: 87%;}
.phone-black-icon { width:11px; height:15px; position:relative; top:3px; margin-right:3px; background-position:-73px -444px; }
.mail-grey-icon { width:12px; height:10px; margin-right:3px; background-position:-92px -446px; position:relative;top:6px; }
.dealer-no-city a { width:184px; min-height:210px; display:block; padding:20px; }
#makeUsedBikeContent .grid-4 { display:inline-block; vertical-align:top; width:315px; float:none; }

.newBikes-latest-updates-container .home-tabs { background:#ccc;}
.newBikes-latest-updates-container .home-tabs li { width:170px; text-align:center; font-size:18px; padding:13px 14px; background:#f5f5f5;}
.newBikes-latest-updates-container .home-tabs li:first-child { margin-right:-2px;}
.newBikes-latest-updates-container .home-tabs li.active{ background:#fff; color:#2a2a2a;}
@media only screen and (max-width:1024px) {
    #makeUsedBikeContent .grid-4 { width:300px; }
    .inner-content-carousel .jcarousel li { width: 281px !important; }
    .dealer-jcarousel-image-preview { width:281px; }
    .inner-content-carousel .jcarousel-control-right { right: -10px; }
}