@charset "utf-8";
/* CSS Document */
.brand-bikes-list-container li { width:303px; height:442px; margin-right:10px; margin-bottom:5px; }
.brand-bikes-list-container li.front, .upcoming-brand-bikes-container li.front { border:none;}
.brand-bikes-list-container li .imageWrapper, .upcoming-brand-bikes-container li .imageWrapper { width:303px; }

.upcoming-brand-bikes-container li { width:298px; height:auto; }
.upcoming-brand-bikes-container .jcarousel { width: 934px; overflow: hidden; left: 20px; }

/*news-videos tabs*/
.newBikes-latest-updates-container .home-tabs { background:#ccc;}
.newBikes-latest-updates-container .home-tabs li { width:170px; text-align:center; font-size:18px; padding:13px 14px; background:#f5f5f5;}
.newBikes-latest-updates-container .home-tabs li:first-child { margin-right:-2px;}
.newBikes-latest-updates-container .home-tabs li.active{ background:#fff; color:#2a2a2a;}

.sort-div { width:200px; height:40px; padding:9px; border:1px solid #ccc; color:#555; position:relative; cursor:pointer; background:#fff; }
.sort-by-title { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: left; width:154px; }
.sort-selection-div { width:200px; background:#fff; margin-top:10px; border:1px solid #ccc; position:absolute; z-index:2; }
.sort-selection-div ul li { padding:2px 0 2px 8px; margin-bottom:5px; margin-top:5px; font-size:14px; }
.sort-selection-div ul li:hover { cursor:pointer; background:#82888b; color:#fff; }
.sort-selection-div ul li.selected { font-weight:bold; }
.sort-list-items ul::before { border-bottom: 10px solid #cccccc; border-left: 10px solid transparent; border-right: 10px solid transparent; content: ""; left: 87px; position: absolute; top: -11px; z-index: 1; }
.sort-list-items ul::after { border-bottom: 10px solid #ffffff; border-left: 10px solid transparent; border-right: 10px solid transparent; content: ""; left: 87px; position: absolute; top: -10px; z-index: 1; }

#upDownArrow.fa-angle-down { transition: all 0.5s ease-in-out 0s; font-size: 20px; }
.sort-div .fa-angle-down { transition: transform .3s; -moz-transition: transform .3s; -webkit-transition: transform .3s; -o-transition: transform .3s; -ms-transition: transform .3s; }
.sort-div.open .fa-angle-down { -moz-transform: rotateZ(180deg); -webkit-transform: rotateZ(180deg); -o-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); transform: rotateZ(180deg); }
.sort-by-text p { height:40px; line-height:40px; }