breadcrumb-link@charset "utf-8";
/* CSS Document reset properties */
html { height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; line-height: 1.42857143; -webkit-overflow-scrolling: touch; }
body { font-size:13px; font-family: 'Open Sans', sans-serif, Arial; color:#4d5057; background: #f4f3f3; font-style: normal; -webkit-overflow-scrolling: touch; min-width:960px; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,label{ margin: 0; padding: 0; }
ul,ol{ list-style: none; }
a img { border: none; }
a { color: #0288d1; text-decoration: none; }
a:hover { text-decoration: underline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block }
*, :after, :before, .global-search input[type="text"], #globalCity-input input[type="text"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
h1 { font-size: 22px; font-weight: 600; color: #2a2a2a; }
h2 { font-size: 16px; font-weight: 600; color: #2a2a2a; }
h3 { font-size: 14px; font-weight: 600; color: #4d5057; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

/* grid properties */
.container { width: 996px; margin: 0 auto; }
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, 
.grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { float: left;  position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; }
.grid-12 { width: 100%; }
.grid-11 { width: 91.66666667%; *width: 73.20%; } 
.grid-10 { width: 83.33333333%; *width: 79.6%; }
.grid-9 { width: 75%; *width: 70.90%; }
.grid-8 { width: 66.66666667%; *width: 63.20%; }
.grid-7 { width: 58.33333333%; *width: 55.6%; }
.grid-6 { width: 50%; *width: 47.90%; }
.grid-5 { width: 41.66666667%; *width: 40.3%; }
.grid-4 { width: 33.33333333%; *width: 32.60%; }
.grid-3 { width: 25%; *width: 24.90%; }
.grid-2 { width: 16.66666667%; *width: 16.30%; }
.grid-1 { width: 8.33333333%;  }
.alpha { padding-left: 0; }
.omega { padding-right: 0; }
.clear { clear: both; }

/* form properties */
input, select, button { border: none; outline: none; }
button { margin:0; }
input::-moz-focus-inner, button::-moz-focus-inner, input::-webkit-focus-inner, button::-webkit-focus-inner { border:0; padding:0; outline: none; }
input::-webkit-input-placeholder, .ui-autocomplete-input { color: #a8afb3; font-size: 13px;}
input:-moz-placeholder, .ui-autocomplete-input { color: #a8afb3; font-size: 13px; opacity:1; }
input::-moz-placeholder, .ui-autocomplete-input { color: #a8afb3; font-size: 13px; opacity:1; }
input:-ms-input-placeholder, .ui-autocomplete-input { color: #a8afb3; font-size: 13px; }
.ui-autocomplete-input:focus { color: #555; }

.form-control-box { position: relative; }
.form-control { display: block; width: 100%; padding: 10px; line-height: 1.42857143; 
	background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6); }
select.form-control	{ -moz-appearance: none; -webkit-appearance:none; background:#fff url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/dropArrowBg.png?v1=03Mar2016) no-repeat 96% 50%; padding-right: 30px; background-color: #fff; padding-right: 5px\0; }

.input-xs { padding: 5px 10px; }
.input-sm { padding: 8px 10px; }
.input-md { padding: 10px 10px; }
.input-lg { padding: 12px 10px; }
.input-xlg { padding: 14px 10px; }

.btn { display: inline-block; padding: 8px 42px; font-size: 16px; line-height: 1.42857143; text-align: center; white-space: nowrap; border: 1px solid transparent; border-radius: 2px;
	outline: none; text-decoration: none; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none;  
-webkit-border-fit:border;
}

.btn-orange { background: #f04031; color: #fff; }
.btn-orange:hover { background: #f85649; text-decoration: none; }
.btn-orange:focus { background: #df3828; }
.btn-teal { background: #41b4c4; color: #fff; border:1px solid #41b4c4; }
.btn-teal:hover { text-decoration: none; background: #58bdcb; border:1px solid #58bdcb; }
.btn-teal:focus { background: #37939f;  border: 1px solid #37939f; }
.btn-inv-teal, .view-all-target-btn { background: transparent; color: #3799a7; border: 1px solid #3799a7; }
.view-all-target-btn { padding: 5px 7px; font-size: 14px; }
.btn-inv-teal:hover,
.view-all-target-btn:hover { color: #fff; background: #41b4c4; border-color: #41b4c4; }
.btn:hover {
    text-decoration: none;
}

.btn-white, .btn-grey { background: #fff; color: #ef402f; border: 1px solid #f04130; }
.btn-white:hover, .btn-grey:hover { background: #f04031; color: #fff; text-decoration: none; }
.btn-white:focus, .btn-grey:focus { background: #df3828; color: #fff; border: 1px solid #f04130; }
.btn-disable { cursor: not-allowed; opacity: .5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; }
.btn-whiteFixedRed { background: #f04031; color: #fff; border: 1px solid #f04130; }
.btn-xxs { padding: 5px 26px; }
.btn-xs { padding: 8px; }
.btn-sm { padding: 8px 25px; }
.btn-md { padding: 8px 30px; }
.btn-lg { padding: 10px 20px 8px 20px; }
.btn-xlg { padding: 12px 52px; }
.btn-full-width { display: block; width: 100%; }
.btn-truncate { width: 230px; padding-right: 10px; padding-left: 10px; text-align: center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.lock-browser-scroll { position: fixed; overflow-y: scroll; width: 100%; }

/* global-search classes */
.global-search { width: 420px; position: relative; display: inline-block; vertical-align:middle; margin-right: 30px; }
.global-search span.search-icon-grey { position: absolute; right: 10px; top: 5px; cursor: pointer; }
.global-search input[type="text"], #globalCity-input input[type="text"] { width: 100%; padding: 7px 5px; border: none; outline: none; }

#errNewBikeSearch.ui-autocomplete { width:470px;position:absolute;top:40px;left:3px; color:#4d5057;text-align: left; }
.error-tooltip-siblings { display:none; }

#global-recent-searches, #new-global-recent-searches{width:100%;position:absolute;top:29px;left:0;color:#4d5057;text-align: left;border: 1px solid #e2e2e2;background: #fff;z-index: 202;border-top:0;display:none;}
#new-global-recent-searches{ width:470px;top: 37px; }
/* global-location classes */
.global-location { position: relative; display: inline-block; vertical-align:middle; color: #fff; margin-right: 20px; z-index: 5; }
.gl-default-stage { border: 1px solid #e2e2e2; padding: 4px 10px; cursor: pointer; }
.gl-default-stage span.cross-md-lgt-grey { position: relative; top: 2px; margin-left: 20px; }
.globalCity-auto-desktop.ui-menu .ui-search-icon,
.pincode-autocomplete.ui-menu .ui-search-icon { display: none }

/* login classes */
.login-box { display: inline-block; vertical-align:middle; padding: 4px 10px; color: #fff; cursor: pointer; margin-right: 10px; }
.login-box:hover { color: #ccc; }
.loginCloseBtn.cross-md-dark-grey { background-position: -62px -223px; }
.loginCloseBtn.cross-md-dark-grey:hover { background-position: -62px -246px; }

#nav, .loginPopUpWrapper { background: #fff; width:325px; position: fixed; top: 0; right: 0; bottom: 0; left: -325px; overflow-y: hidden; z-index: 210; }

/* Carousel */
.jcarousel-wrapper { position: relative; width: 976px; }
.jcarousel { position: relative; overflow: hidden; padding: 10px 0 20px 0; }
.jcarousel ul { width: 20000em; position: relative; }
.jcarousel li { float: left; width: 312px; height: 330px; margin-right: 20px; background: #fff; }
.used-bike-carousel { padding-bottom:20px;}
.used-bike-carousel li {height:320px}
.compareCarsHomePage li { width: 976px; }
.jcarousel-pagination a { 
	text-decoration: none; display: inline-block; height: 14px; width: 14px; line-height: 10px; background: #eeeff0; border: 1px solid #ebebea;
	border-radius: 15px; text-indent: -9999px; margin: 5px 10px; cursor: pointer; }
.jcarousel-pagination a:hover { background: #82888b;  }
.jcarousel-pagination a.active { background: #82888b; cursor: default; border: 1px solid #cccccc; }

.cardWrapper { width:100%; height:100%; overflow:hidden; display:inline-block; }

.front, .back { height: 290px; background: #fff; overflow:hidden; display: inline-block; border-radius: 3px; border:1px solid #ccc; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.contentWrapper, .formWrapper { position:relative; overflow:hidden; background:#fff; }
.imageWrapper { width:310px; height:174px; overflow: hidden; text-align: center; display: table; }
.imageWrapper a { display:table-cell; vertical-align:middle; background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center center; }
.imageWrapper a img { max-width:100%; height:auto; }
.used-bike-carousel .imageWrapper a img { width:310px; }
.bikeDescWrapper { padding: 15px; background:#fff; }
.bikeTitle a { color:#2a2a2a; font-size: 16px; display: block; }
.bikeTitle a:hover, a.bikeTitle:hover { text-decoration:underline; }
a.bikeTitle { color:#2a2a2a; font-size: 16px; font-weight: bold; display: block; margin-bottom: 10px; }
.formContent { padding: 30px 20px 20px 20px; }
.bike-preview { text-align: center; }
.card-desc-block {
    padding: 10px 20px 15px;
}

/* breadcrumb classes */
.breadcrumb li { display: inline-block; margin-right: 5px; }
.breadcrumb-link__label {
    padding-right: 12px;
}
.breadcrumb-link::after{
    content: '';
    height: 9px;
    width: 9px;
    border: solid grey;
    border-width: 0px 1px 1px 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
    position: relative;
    top: 0;
    right: 8px;
}

/* nav classes */
.header-fixed, .header-landing { position: fixed; top: 0; right: 0; left: 0; padding: 10px 20px; z-index: 203; }
.header-not-fixed { padding: 10px 20px; z-index: 203; }
.header-fixed-inner { padding-top: 55px; }
.header-fixed, .header-fixed-with-bg, .header-not-fixed { background: #595959; }
.header-landing { background: none !important; }

.welcome-box {
    margin-top: 120px;
    text-align: center;
    color: #fff;
}

.welcome-box h1 {
    font-size: 34px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* tabs */
.bw-tabs { display: block; }
.bw-tabs-flex { display: table; width: 100%; }
.bw-tabs-flex ul { border-bottom: 1px solid #cccccc; margin-bottom: 25px; }
.bw-tabs-flex li { display: table-cell; padding: 10px; text-align: center; width: 1%; cursor: pointer; }
.bw-tabs-flex li h3, .home-tabs li h3 { color: #82888b; font-size: 18px; font-weight: 400; }
.bw-tabs-flex li:hover h3, .home-tabs li h3 { color: #4d5057; }
.bw-tabs-flex li.active { border-bottom: 3px solid #ef3f30; cursor:default; }
.bw-tabs-flex li.active h3 { color: #4d5057; }
.bw-tabs-panel[data-slide="1"] .bw-tabs__item { text-align: left; font-weight: 600; color: #4d5057;}
.bw-tabs-panel[data-slide="1"] .sidebar-bike-list {max-height: 320px; height: auto; }
.bw-tabs-panel[data-slide="1"] .bw-tabs-flex li.active { border: none; cursor: default;}
.bw-tabs-panel[data-slide="1"] .bw-tabs-flex li { cursor: default;}

/* sprite classes */
.bwsprite { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/bwsprite-v3.png?05July20171499235738247) no-repeat; display: inline-block; }
.nav-icon { background-position: 0 0; width: 24px; height: 21px; cursor: pointer; position: relative; top: -1px; }
.nav-icon:hover { background-position: 0 -29px; }
.bw-logo { background-position: -34px 0; width: 93px; height: 27px; }
.search-icon-grey, .search-icon-white { width: 18px; height: 18px; }
.search-icon-grey { background-position: -34px -275px; }
.search-icon-white { background-position: -64px -278px; }
.login-no-photo-icon { background-position:-151px -121px; width: 27px; height: 29px; }

.inr-xsm-grey { width: 7px; height: 10px; background-position: -46px -427px; position: relative; top: 1px; }
.inr-sm-dark { width:10px; height:12px; background-position:-128px -468px; }
.inr-md, .inr-md-light { width:9px; height:13px; }
.inr-md { background-position:-53px -490px; }
.inr-md-light { background-position:-129px -490px; }
.inr-lg, .inr-lg-thin { width:10px; height:14px; }
.inr-lg { background-position:-110px -491px; position:relative; top:1px; }
.inr-lg-thin { background-position:-71px -491px; }
.inr-xl { width:12px; height:17px; background-position: -40px -515px; }

/* autocomplete class */
.ui-helper-hidden-accessible { position: absolute; left: -9999px; }
.ui-autocomplete { z-index: 211; margin: -1px 0 0 -3px; padding:0; width:auto; display:inline-block; background: #fff; border-radius: 0 0 2px 2px; border:1px solid #e2e2e2; border-top: 0; overflow:visible;}
.ui-autocomplete.source:hover { background: #ddd; }
.ui-menu .ui-menu-item, .recent-searches-dropdown li { padding: 10px; background:#fff; font-size:14px; cursor:pointer; display: block; }
.ui-menu .ui-menu-item:hover, .ui-menu .ui-menu-item.ui-state-focus, .recent-searches-dropdown li:hover, .recent-searches-dropdown li.focus-state { background:#eee; }
.ui-menu .ui-menu-item a, .recent-searches-dropdown a { color: #333; }
.ui-menu .ui-menu-item a.target-popup-link, .recent-searches-dropdown .target-popup-link { display:none; float:right; color:#0288d1; font-size:13px; }
.ui-menu .ui-menu-item:hover a.target-popup-link,.ui-menu .ui-menu-item.ui-state-focus a.target-popup-link, .recent-searches-dropdown li:hover .target-popup-link { display:block; }
.ui-menu .ui-menu-item span.upcoming-link, .recent-searches-dropdown span.upcoming-link { float:right; color:#4d5057; font-size:13px; }

/*logged in classes*/
.loggedin-box, .login-with-photo { width: 29px; height: 29px; overflow: hidden; display:inline-block; vertical-align:middle; }
.login-with-photo img { width: 100%; }

/* change location popup */
.globalchangecity-popup { display: none; width:360px; min-height:230px; background: #fff; margin: 0 auto; overflow-y: auto; position: fixed; top: 51px; right: 72px; z-index: 210; }
.globalchangecity-popup:before { content: ''; position: fixed; border-right: 8px solid transparent; border-bottom: 8px solid #fff; border-left: 8px solid transparent; position: fixed; top: 43px; right: 128px; }
.globalchangecity-popup-data { padding: 20px 10px }
.globalchangecity-popup-data .cityPopup-icon{ -webkit-transform: scale(0.6); -moz-transform: scale(0.6); -o-transform: scale(0.6); -ms-transform: scale(0.6); transform: scale(0.6);position: relative;left: -3px;top: -2px;background-color: #fff;}
.globalchangecity-popup-data .icon-outer-circle { width:60px; height:60px; margin:0 auto; background:#fff; border:1px solid #ccc; }
.globalchangecity-popup-data .icon-inner-circle { width:54px; height:54px; margin:2px auto; background:#fff; border:1px solid #666; }
.icon-outer-circle, .icon-inner-circle { -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%;}
#changecity-accept{ width: 200px; text-align: center; padding: 8px 10px; display: inline-block; }

.text-truncate { width:100%; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }

.model-jcarousel-image-preview { width:100%; height:168px; display:table; text-align:center; position:relative;}

/* common properties */
.leftfloat{float:left;}
.rightfloat{float:right;}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-wrap { white-space: normal; }
.text-nowrap { white-space: nowrap; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }
.text-bold { font-weight: bold; }
.text-unbold { font-weight: normal; }
.text-italic { font-style: italic; }
.text-default { color:#4d5057; }
.text-xt-light-grey { color: #a8afb3; }
.text-light-grey { color: #82888b; }
.text-medium-grey { color: #999; }
.text-grey { color: #666; }
.text-dark-grey { color: #333; }
.text-black { color: #2a2a2a; }
.text-red { color: #ef3f30; }
.text-white { color: #fff; }
.text-link { cursor:pointer; color: #0288d1; }
.text-orange { color: #f04031; }
.text-orange-light { color: #F88379; }

.font9 { font-size: 9px; }
.font10 { font-size: 10px; }
.font11 { font-size: 11px; }
.font12 { font-size: 12px; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font20 { font-size: 20px; }
.font22 { font-size: 22px; }
.font24 { font-size: 24px; }
.font25 { font-size: 25px; }
.font26 { font-size: 26px; }
.font27 { font-size: 27px; }
.font28 { font-size: 28px; }
.font29 { font-size: 29px; }
.font30 { font-size: 30px; }
.font32 { font-size: 32px; }
.line-height { line-height: 1.8; }
.content-inner-block-5 { padding: 5px; }
.content-inner-block-10 { padding: 10px; }
.content-inner-block-15 { padding: 15px; }
.content-inner-block-20 { padding: 20px; }
.content-box-shadow { background: #fff; -moz-box-shadow:0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1; -webkit-box-shadow:0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1; -o-box-shadow:0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1; -ms-box-shadow:0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1; box-shadow:0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1; }
.padding-15-20 { padding: 15px 20px; }
.inline-block { display:inline-block; vertical-align: middle; }
.vertical-top { display:inline-block; vertical-align: top; }
.block { display: block; }
.ul-arrow li { margin-top: 10px;}

.bg-white { background: #FFF; }
.bg-light-grey { background: #f5f5f5; }
.bg-light-grey-with-alpha { background: rgba(242, 242, 243, 0.9); }
.bg-grey { background: #e1e1e1; }
.bg-dark-grey { background: #333333; }

/* new common classes */
.section-bottom-margin,
.card-bottom-margin {
    margin-bottom: 20px;
}

/* view all button */
.page-type-landing .view-all-btn-container {
    text-align: center;
}

.hide { display: none; }
.show { display: block; }
.position-rel { position: relative; }
.position-abt { position: absolute; }
.pos-top5 { top: 5px; }
.pos-right5 { right: 5px; }

.margin-left5 { margin-left: 5px; }
.margin-left10 { margin-left: 10px; }
.margin-left15 { margin-left: 15px; }
.margin-left20 { margin-left: 20px; }

.margin-top5 { margin-top: 5px; }
.margin-top10 { margin-top: 10px; }
.margin-top12 { margin-top: 12px; }
.margin-top15 { margin-top: 15px; }
.margin-top20 { margin-top: 20px; }
.margin-top30 { margin-top: 30px; }

.margin-right5 { margin-right: 5px; }
.margin-right10 { margin-right: 10px; }
.margin-right15 { margin-right: 15px; }
.margin-right20 { margin-right: 20px; }
.margin-right25 { margin-right: 25px; }

.margin-bottom5 { margin-bottom: 5px; }
.margin-bottom10 { margin-bottom: 10px; }
.margin-bottom15 { margin-bottom: 15px; }
.margin-bottom20 { margin-bottom: 20px; }

.padding-left5 { padding-left: 5px; }
.padding-left10 { padding-left: 10px; }
.padding-left15 { padding-left: 15px; }
.padding-left20 { padding-left: 20px; }

.padding-top5 { padding-top: 5px; }
.padding-top10 { padding-top: 10px; }
.padding-top15 { padding-top: 15px; }
.padding-top20 { padding-top: 20px; }
.padding-top25 { padding-top: 25px; }

.padding-right5 { padding-right: 5px; }
.padding-right10 { padding-right: 10px; }
.padding-right15 { padding-right: 15px; }
.padding-right20 { padding-right: 20px; }

.padding-bottom5 { padding-bottom: 5px; }
.padding-bottom10 { padding-bottom: 10px; }
.padding-bottom15 { padding-bottom: 15px; }
.padding-bottom20 { padding-bottom: 20px; }

/* review contest slidein slug start */
.review-contest-slidein-slug {
	width: 160px;
	min-height: 90px;
	padding: 10px;
	background: #82888b;
	position: fixed;
	top: 38%;
	right: -160px;
	-webkit-transition: right .5s;
    -moz-transition: right .5s;
    -o-transition: right .5s;
	transition: right .5s;
	text-align: center;
	z-index: 1;
}

/* tooltip atf content */
.info-tooltip {
	display: none;
}
