@charset "utf-8";

/* WebRupee font face */
@font-face{font-family: 'WebRupee'; src:url('/fonts/WebRupee.V2.0.eot');src: local('WebRupee'), url('/fonts/WebRupee.V2.0.ttf') format('truetype'),  url('/fonts/WebRupee.V2.0.woff') format('woff'), url('/fonts/WebRupee.V2.0.svg') format('svg'); font-weight:normal; font-style:normal;}
.WebRupee { font-size:14px; font-family:'WebRupee'; }
html>body .WebRupee {margin-right:3px; *margin-right:0;}

/* CSS Document */
/*common classes*/
.blue { color:#0056cc; text-decoration:none; cursor:pointer; }
.border-radius5{ border-radius:5px;}
.inner-content{ border:1px solid #eaeaea; padding:10px; margin-bottom:20px;}
.red-bullets li {background-image: url("https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/icon-sprite.png");background-position: 0 -111px;background-repeat: no-repeat;display: block;list-style: square outside none;padding: 3px 0 3px 10px;}
.grey-bullets li{ background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/bw-grey-bullet.png) no-repeat 0px 9px;display: block;list-style: square outside none;padding: 3px 0 3px 10px;}
.light-grey-bullets li{ background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/bw-light-grey-bullet.png) no-repeat 0px 9px;display: block;list-style: square outside none;padding: 3px 0 3px 10px; }
.map-content {border:1px solid #eaeaea;}
.selection-box{ background:#fff; border:1px solid #eaeaea; padding:5px 10px; position:relative; margin-bottom:20px;}
.selection-box input{ border:none;}
/*.bw-popup select{-moz-appearance: none;border-radius: inherit;cursor: pointer;height: 3em;left: 0;max-height: 100%;min-height: 100%;opacity: 0;outline: 0 none;position: absolute;top: 0;width: 100%;z-index: 2;}*/
/*get pq div*/
#get-pq-new td{ padding-bottom:10px;}
.dotted-hr{ border-bottom:1px dotted #ccc;}
/*show pq div*/
#div_ShowPQ td{ padding:0 0 5px 0;}
.show-pq-pic{ width:220px; overflow:hidden; }
/*detailed dealer price quote*/
.bw-cust-offer h2 { border-bottom:2px solid #c62000; padding-bottom:10px;}
.bw-cust-offer li { display:block; margin-bottom:10px; }
.bw-cust-offer span { width:35px; display:block; float:left; }
.bw-cust-offer p { width:555px; display:block; float:left; margin-top:5px; }
.bw-dealer-details h2 {border-bottom:2px solid #c62000; padding-bottom:10px;}
.border-red { border-bottom:2px solid #c62000;padding-bottom:10px;}

/*customer facilities*/
.cust-facilities{ border-left:1px solid #eaeaea;}
/*dropdown classes*/
.drop-down-title { border:1px solid #eaeaea; padding:10px; cursor:pointer; }
.expanded-info-div { display:none; margin-top:-3px; background:#fff; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -o-border-radius:0 0 5px 5px; -ms-border-radius:0 0 5px 5px; }
/*Document for registration*/
.doc-for-reg ul li, .doc-for-loan ul li{ display:block; margin:5px 0;}
.doc-for-loan{ border-left:1px solid #ccc; padding-left:10px;}
/*Book Appoinment classes*/
/*.bw-popup, .bw-contact-popup { background:#fff; width:454px; position:fixed; left:50%; top:50%; z-index:999; margin-left:-220px; margin-top:-150px; }
.popup-inner-container { padding:10px 10px 20px 10px;}
.popup-inner-container h2{ padding-bottom:10px; border-bottom:2px solid #c62000;}*/
.datepicker{ width:250px;}
.select-time li{ width:140px; display:inline-block;}
input[type="text"]#bw-date { width:100%; position:relative; z-index:99; background:none; cursor:pointer; }
#ui-datepicker-div { z-index:9999 !important; }
/*Contact detail popup*/
.input-div { background:#fff; border:1px solid #eaeaea; text-align:center; width:300px; border-radius:5px; margin:5px 0 10px 0;  }
.input-icon-div{ border-right:1px solid #eaeaea; padding:5px; float:left; width:31px; }
.input-div input{ border:none; margin:3px 0 0;}
input:focus { outline:none; } 
input[type="checkbox"]#userAgreement { position:relative; top:2px; }

/*Sprite images*/
.bw-sprite{ background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/bw-sprite-new.png) no-repeat; display:inline-block;}
.close-btn { background-position:0 -70px; height:22px; width:20px; cursor:pointer; }
.close-btn:hover { background-position:0 -97px; }
.call { background-position:0 -20px; width:10px; height:18px;}
.collapse-icon{ background-position:-44px 0; width:16px; height:16px;}
.expand-icon{ background-position:-19px 0; width:16px; height:16px;}
.gift-voucher{ background-position:-32px -49px; width:22px; height:31px;}
.dealer-search{ background-position:0 0; width:10px; height:15px;}
.datepicker-icon{ background-position:-30px -90px; width:24px; height:30px; position:absolute; top:4px; right:4px;}
.select-down-icon{ background-position:-20px -24px; width:15px; height:16px; position:absolute; top:4px; right:4px;}
.user{ background-position:-43px -22px; height:17px; width:12px; }
.email{ background-position:0 -44px; height:17px; width:20px; }
.offer-icon { background-position:-30px -49px; width:22px; height:30px; }
.bw-offer-box{ background:#fef5e6; border:2px dotted #f5b048; padding:10px; margin-bottom:20px;}
.bw-offer-box li{ background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/bw-grey-bullet.png) no-repeat 0px 9px;display: block;list-style: square outside none;padding: 3px 0 3px 10px;}
