@charset "utf-8";

.dealer-confirm { background-position:0 -128px; width:40px; height:40px; }
.claim-price { background-position:0 -173px; width:40px; height:40px; }
.user-confirmation { background-position:-51px -128px; width:40px; height:40px; }
.buy-your-bike { background-position:-51px -177px; width:40px; height:40px; }
.reserve-offer { background-position: -79px 0; width:35px; height:35px; }
.visit-dealership  { background-position:-79px -42px; width:40px; height:30px; }
.avail-offer { background-position:-92px -97px; width:20px; height:25px; }
.edit-pencil { background-position:-64px -27px; width:10px; height:10px;}
.documents { background-position:0 -223px; width:30px; height:40px;}
/*Payment Pages*/
.payment-pg-heading { border-bottom:2px solid #c62000; padding-bottom:10px;}
.avail-offers-box li{ display:block; margin-bottom:10px;}
.avail-offers-box .list-thumbnail { display:block; float:left; width:45px;}
.avail-offers-box p{ display:block; float:left; width:210px;}
.edit-box { float:right; font-size:11px; font-weight:normal; background:#f4f4f4; padding:5px 10px; cursor:pointer;}
.edit-box-alignment { *margin-top:-30px;}
.pic-opacity { opacity:0.5;}
.bw-box li { width:167px; min-height:170px; border:2px solid #eee; padding:10px; margin-left:10px; text-align:center; display:block; float:left; }
.bw-box li:first-child { margin-left:0;}
.bw-box li h2 { font-size:13px; font-weight:bold; min-height:45px;}
.bw-box-small li { width:117px; min-height:260px; }
.bw-payment-box { border:1px solid #eee; margin-bottom:20px;}
.bw-payment-box li { display:block; float:left; width:176px; min-height:70px; text-align:center; padding:10px; border-left:1px solid #eee; }
.bw-payment-box li:first-child { border:none;}
/*common classes*/
.margin-left5 { margin-left:5px !important; padding:0;}
.margin-left10 { margin-left:10px !important; padding:0;}
.margin-left15 { margin-left:15px !important; padding:0;}
.margin-left20 { margin-left:20px !important; padding:0;}
.margin-left25 { margin-left:25px !important; padding:0;}
.margin-left130 { margin-left:30px !important; padding:0;}
.margin-right5 { margin-right:5px !important; padding:0;}
.margin-right10 { margin-right:10px !important; }
.margin-right15 { margin-right:15px !important; padding:0;}
.margin-right20 { margin-right:20px !important; padding:0;}
.margin-right25 { margin-right:25px !important; padding:0;}
.margin-right30 { margin-right:30px !important; padding:0;}
.margin-top30 { margin-top:30px;} 
.font9 { font-size:9px;}
.font10 { font-size:10px;}
.font11 { font-size:11px;}
.font12 { font-size:12px;}
.font13 { font-size:13px;}
.font14 { font-size:14px;}
.font15 { font-size:15px;}
.font16 { font-size:16px;}
/*bw new popup classes*/
.color-tick { background-position:-36px -224px; width:22px; height:17px; display:block; position:absolute; left:9px; top:11px; }
/*.bw-popup-sm { width:300px; border-radius:5px; position:fixed; top:30%; left:52%;}*/
.bw-popup-md { width:385px; border-radius:5px;}
.bw-popup-lg { width:660px; border-radius:5px; position:fixed; left:40%;}
.popup-inner-content { padding:10px 10px 0; }
.color-box li { display:block; float:left; width:50px; height:110px; text-decoration:none; text-align:center; margin:10px; cursor:pointer; }
.color-box-span { overflow: hidden; height: 50px; display: inline-block; } 
.color-box-outline { padding:5px; border:1px solid #eee; margin-bottom:5px; position:relative; }
.tick-box { position:absolute; }
.res-proof { padding-left:20px; border-left:1px solid #ccc;}
/*.color-tick { background:#ccc; width:15px; height:15px; display:block; position:absolute; left:11px; top:11px; }*/
.bike-colors { width:36px; height:36px; border:1px solid #eee; margin:0 auto;}
.popup-price td{ padding-bottom:10px;}
/*cancellation and policy new classes */
.bw-header { padding:10px; border-bottom:5px solid #333;}
.cancellation-list li { display:block; margin:8px 0;}
.cancellation-list li:first-letter {font-weight:bold;}
.cancellation-box { padding:10px; border:1px solid #eaeaea; margin:0 0 20px;}
.cancellation-box li { display:block; margin-bottom:5px;}
.faq-box li { display:block; margin-bottom:10px; padding:10px; border:1px solid #eaeaea;}
.faq-box li h3{ padding-bottom:10px; border-bottom:2px solid #c62000;}
.faq-box li p{ margin:10px 0 0 10px;}
.faq-list ul{ margin-left:10px !important;}
.faq-list ul li{border:none; margin:8px 0px; padding:0;}
.faq-list ul li:first-letter {font-weight:bold;}
/* new classes for claim offer */
.relative { position:relative;}
.bw-offer-item li { display:block; float:left; width:145px; background:none; padding:0; margin:0 20px;}
.item-specification li{ display:inline; font-size:11px; margin:3px 0 0;}
.share-info-table td { padding-bottom:10px;}
.offer-1 { position:relative;}
.offer-1 li { display:block; float:left; width:168px; min-height:170px; border:1px solid #e0e0e0; padding:10px; margin-left:10px;}
.offer-1 li:first-child { margin-left:0;}
.selected-offer{ border:1px solid #666666 !important;}
.offer-1 .grey-bullets li { border:none; width:auto; padding:3px 0 3px 10px; min-height:10px; margin:0;}
.offer-1-title { min-height:55px;}
.offer-1-title span { display:block; float:left; width:20px;}
.offer-1-title label { display:block; float:left; font-weight:bold; width:130px;}
.offer-pic { width:100px; height:79px; margin:10px auto 0; overflow:hidden;}
.offer-pic img { width:100px;}
.plus-text { text-align:center; margin-bottom:20px; position:relative;}
.plus-text div { padding:0 10px; position:relative; display:inline-block; background:#fff; *background:none;}
.plus-text span{ font-size:19px; color:#c62000; display:inline-block; position:relative; width:30px; height:30px; border:1px solid #9b9b9b; border-radius:50%;}
.plus-text:before { content:""; border-top:1px solid #9b9b9b; position:absolute; top:16px; left:0; width:100%;}
.specification-popup-1, .specification-popup-2, .specification-popup-3  {display:none; position:absolute; top:285px; background:#fff; z-index:999; box-shadow:1px 1px 2px #ccc; box-shadow:0px 0px 15px  #ccc; width:168px; min-height:85px; border:1px solid #e0e0e0; padding:10px;}
.specification-popup-2 { left:210px;}
.specification-popup-3 { left:190px;}