/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Interaction states
----------------------------------*/
.ui-datepicker .ui-state-hover, .ui-datepicker .ui-state-hover, .ui-datepicker .ui-state-focus, .ui-datepicker .ui-state-focus { border: 1px solid #79b7e7; background: #d0e5f5 url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/ui-bg-glass-75-d0e5f5-1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1d5987; outline: none; }
.ui-datepicker .ui-state-hover a, .ui-datepicker .ui-state-hover a:hover { color: #1d5987; text-decoration: none; outline: none; }
.ui-datepicker .ui-state-active, .ui-datepicker .ui-state-active { border: 1px solid #79b7e7; background: #f5f8f9 url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/ui-bg-inset-hard-100-f5f8f9-1x100.png) 50% 50% repeat-x; font-weight: bold; color: #e17009; outline: none; }
.ui-datepicker .ui-state-active a, .ui-datepicker .ui-state-active a:link, .ui-datepicker .ui-state-active a:visited { color: #e17009; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fad42e; background: #4297D7 url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/ui-bg-flat-55-fbec88-40x100.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }

/* states and images */
.ui-widget-header .ui-icon {background-image: url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/ui-icons-d8e7f3-256x240.png); width: 16px; height: 16px;}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/ui-icons-217bc0-256x240.png); }

/* positioning */
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.dp-icon { background-image: url(images/ui-icons_217bc0_256x240.png); background-position: -115px -115px; width:12px; height:12px;}

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/ui-bg-flat-0-aaaaaa-40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/ui-bg-flat-0-aaaaaa-40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }/* Accordion

----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; z-index:1000006; border: 1px solid #a6c9e2; background: #fcfdfd url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/ui-bg-inset-hard-100-fcfdfd-1x100.png) 50% bottom repeat-x; color: #222222;}
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; border: 1px solid #4297d7; background: #5c9ccc url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/forum-bg.gif) repeat-x; color: #ffffff; font-weight: bold; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px;}
.ui-datepicker .ui-datepicker-prev { left:2px;}
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; border: 1px solid #c5dbec; background: #dfeffc url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/ui-bg-glass-85-dfeffc-1x400.png) 50% 50% repeat-x; font-weight: bold; color: #2e6e9e; outline: none;}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/ mar
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}