@charset "utf-8";
.home-top-banner { padding-top: 1px; }
.margin-top60 { margin-top: 60px; }
/* 490px #161209 home-top-banner right top */
.home-getFinalPrice-banner { background-color:#cbcbcb; background-size: cover; height: 490px; }
/* welcome box home page classes */
.welcome-box { text-align: center; margin-top: 120px; color: #fff; }
.welcome-box h1 { font-size:34px; color: #fff; font-weight: 600; margin-bottom: 10px; text-transform: uppercase; }
.bike-search-container { margin: 0 auto; width: 585px; }
.bike-search { width: 470px; float: left; background: #fff; border: 1px solid #cccccc; border-right: 0; border-radius: 2px 0 0 2px; height: 40px; }
.new-bike-search input[type="text"] { width: 100%; padding: 11px 10px; }
.findBtn { float:left; }
.findBtn .btn-md { padding: 8px 20px; border-radius: 0 2px 2px 0; }
.global-search {display:none;}

.inr-budget {
    width: 10px;
    height: 16px;
    background-position: 0 -515px;
    position: relative;
    top: 1px;
}
.brand-type {
    height: 50px;
    width: 180px;
    display: block;
    margin: 0 auto;
}
.brand-type-title {
    margin-top: 10px;
    display: block;
}
.brand-type-container a {
    text-decoration: none;
    color: #82888b;
    display: inline-block;
}
.brand-type-container li {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 85px;
    margin: 0 5px 30px;
    text-align: center;
    font-size: 18px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.brand-type-container li:hover .brand-type-title {
    color: #4d5057;
    font-weight: 700;
}
.brand-bottom-border {
    overflow: hidden;
}
@media only screen and (max-width: 1024px) {
    .brand-type li,
    .brand-type-container li {
        width: 170px;
    }
}
.brand-1,
.brand-10,
.brand-11,
.brand-12,
.brand-13,
.brand-14,
.brand-15,
.brand-16,
.brand-17,
.brand-18,
.brand-19,
.brand-2,
.brand-20,
.brand-22,
.brand-23,
.brand-24,
.brand-3,
.brand-34,
.brand-37,
.brand-38,
.brand-39,
.brand-4,
.brand-40,
.brand-41,
.brand-42,
.brand-5,
.brand-6,
.brand-7,
.brand-8,
.brand-81,
.brand-71,
.brand-9,
.brand-21,
.brand-38,
.brand-23,
.brand-72,
.brand-73,
.brand-74,
.brand-75 {
    height: 50px;
}

.brandlogosprite {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/brand-type-sprite.png?18Dec20171513599310542') no-repeat;
    display: inline-block;
}
.brand-73 {
    width: 60px;
    background-position: -3217px 0;
}
.brand-2 {
    width: 87px;
    background-position: 0 0;
}
.brand-7 {
    width: 56px;
    background-position: -96px 0;
}
.brand-1 {
    width: 88px;
    background-position: -162px 0;
}
.brand-8 {
    width: 100px;
    background-position: -260px 0;
}
.brand-12 {
    width: 67px;
    background-position: -370px 0;
}
.brand-40 {
    width: 125px;
    background-position: -447px 0;
}
.brand-34 {
    width: 122px;
    background-position: -582px 0;
}
.brand-22 {
    width: 121px;
    background-position: -714px 0;
}
.brand-3 {
    width: 44px;
    background-position: -845px 0;
}
.brand-17 {
    width: 86px;
    background-position: -899px 0;
}
.brand-15 {
    width: 118px;
    background-position: -995px 0;
}
.brand-4 {
    width: 43px;
    background-position: -1123px 0;
}
.brand-9 {
    width: 99px;
    background-position: -1176px 0;
}
.brand-16 {
    width: 117px;
    background-position: -1285px 0;
}
.brand-5 {
    width: 59px;
    background-position: -1412px 0;
}
.brand-19 {
    width: 122px;
    background-position: -1481px 0;
}
.brand-13 {
    width: 122px;
    background-position: -1613px 0;
}
.brand-6 {
    width: 63px;
    background-position: -1745px 0;
}
.brand-10 {
    width: 102px;
    background-position: -1818px 0;
}
.brand-14 {
    width: 127px;
    background-position: -1930px 0;
}
.brand-39 {
    width: 89px;
    background-position: -2067px 0;
}
.brand-20 {
    width: 82px;
    background-position: -2166px 0;
}
.brand-11 {
    width: 121px;
    background-position: -2258px 0;
}
.brand-41 {
    width: 63px;
    background-position: -2389px 0;
}
.brand-42 {
    width: 64px;
    background-position: -2461px 0;
}
.brand-81 {
    width: 71px;
    background-position: -2535px 0;
}
.brand-71 {
    width: 39px;
    background-position: -2616px 0;
}
.brand-21 {
    width: 97px;
    background-position: -2867px 0;
}
.brand-38 {
    width: 42px;
    background-position: -2974px 0;
}
.brand-23 {
    width: 125px;
    background-position: -3026px 0;
}
.brand-72 {
	width: 50px;
	background-position: -3161px 0;
}
.brand-74 {
	width: 110px;
	background-position: -3281px 0;
}
.brand-75 {
	width: 122px;
	background-position: -3400px 0;
}
.block-button-list li {
    text-align: center;
    display: inline-block;
}
.block-button-list .list-item {
    display: block;
    width: 226px;
    height: 155px;
    margin: 0 5px 30px;
    background: #fff;
    color: #82888b;
    font-size: 18px;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.block-button-list .list-item:hover {
    border-color: #4d5057;
    color: #4d5057;
    text-decoration: none;
}
.block-button-list .block-key-field {
    font-size: 16px;
    padding-top: 47px;
    padding-bottom: 5px;
    display: block;
}
.style-type {
    display: block;
    height: 90px;
    padding-top: 30px;
    margin-bottom: 10px;
}
.styletypesprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/style-type-sprite.png) no-repeat;
    display: inline-block;
}
.style-scooters,
.style-street,
.style-cruiser,
.style-sports {
    width: 77px;
    height: 45px;
}
.style-scooters {
    background-position: 0 0;
}
.style-street {
    background-position: 0 -108px;
}
.style-cruiser {
    background-position: 0 -216px;
}
.style-sports {
    background-position: 0 -324px;
}
.style-type-container li:hover .style-scooters {
    background-position: 0 -54px;
}
.style-type-container li:hover .style-street {
    background-position: 0 -162px;
}
.style-type-container li:hover .style-cruiser {
    background-position: 0 -270px;
}
.style-type-container li:hover .style-sports {
    background-position: 0 -378px;
}

.budget-container li:hover .inr-budget {
    background-position:-20px -515px;
}

.popular-used-bikes-container .jcarousel li:hover .bikes-avaiable-count span{ color:#0288d1; }

.inr-md-lg {
    width: 12px;
    height: 17px;
    background-position: -64px -515px;
    position: relative;
    top: 1px;
}

.article-control #modelNewsContent {
    border-bottom: 0;
}

.model-preview-image-container {
    max-width: 292px;
    height: 164px;
    display: table;
    text-align: center;
    border: 1px solid #e2e2e2;
}
.model-preview-image-container a {
    width: 292px;
    height: 164px;
    display: block;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif) no-repeat center center;
}
.model-preview-image-container a img {
    width: 100%;
    height: 164px;
}
.more-article-target {
    text-align: center;
    font-size: 16px;
}

@media only screen and (max-width:1024px) {
    .sidebar-image-label {
        width: 125px;
        font-size: 13px;
        padding-left: 0;
        padding-right: 5px;
    }

    .brand-type-container li, .brand-type { width:170px; }
    .budget-container li a, .mileage-container li a, .style-type-container li { width:215px; }
}

@-moz-document url-prefix() { 
    .findBtn .btn-md {
        padding-top: 6px;
        padding-bottom: 7px;
    }
}

/* used section */
/* city */
.city-card-target {
    display: block;
}
.city-card-target:hover {
    text-decoration: none;
}
.city-image-preview {
    width:292px;
    height:114px;
    display:block;
    margin-bottom:15px;
    text-align:center;
    padding-top:10px;
}

#city-jcarousel .inner-content-carousel .jcarousel-control-left, #city-jcarousel .inner-content-carousel .jcarousel-control-right {
    top: 32%
}
#city-jcarousel {
    padding-top: 0;
}

/* city sprite */
.city-sprite { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/city-sprite.png?24062016) no-repeat; display: inline-block; }
.c1-icon, .c12-icon, .c2-icon, .c10-icon, .c176-icon, .c105-icon, .kolkata-icon, .ahmedabad-icon, .chandigarh-icon, .lucknow-icon { height: 92px; }
.c1-icon { width: 130px; background-position: 0 0; }
.c12-icon { width: 186px; background-position: -140px 0; }
.c2-icon { width: 136px; background-position: -336px 0; }
.c10-icon { width: 70px; background-position: -482px 0; }
.c176-icon { width: 53px; background-position: -562px 0; }
.c105-icon { width: 65px; background-position: -625px 0; }
.kolkata-icon { width: 182px; background-position: -700px 0; }
.lucknow-icon { width: 174px; background-position: -892px 0; }
.ahmedabad-icon { width: 0px; background-position: 0 0; }
.chandigarh-icon { width: 0px; background-position: 0 0; }

.table-middle {
    display: table-cell;
    vertical-align: middle;
}

.key-size-14 {
    font-size: 14px;
    color: #82888b;
}

.value-size-16 {
    font-size: 16px;
    color: #4d5057;
    font-weight: 700;
}

.elevated-card-list {
    text-align: center;
}

.elevated-card-list li {
    width: 31%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px 10px;
}

.elevated-card-list li a {
    width: 100%;
    height: 137px;
    display: table;
    -webkit-box-shadow: 0 1px 2px 1px #e4e4e4;
    -moz-box-shadow: 0 1px 2px 1px #e4e4e4;
    -ms-box-shadow: 0 1px 2px 1px #e4e4e4;
    -o-box-shadow: 0 1px 2px 1px #e4e4e4;
    box-shadow: 0 1px 2px 1px #e4e4e4;
}

.elevated-card-list li a:hover {
    text-decoration: none;
}

.tab-icon-container {
    height: 37px;
    margin-bottom: 10px;
}

.budget-one {
    width: 16px;
    height: 24px;
    background-position: 0 -710px;
    position: relative;
    top: 6px;
}

.budget-two {
    width: 28px;
    height: 30px;
    background-position: -19px -710px;
    position: relative;
    top: 3px;
}

.budget-three {
    width: 39px;
    height: 37px;
    background-position: -50px -710px;
}

/*Compare carousel*/
.inner-content-carousel.comparison-type-carousel .jcarousel {
    left: 17px !important;
}
.comparison-type-carousel.inner-content-carousel .jcarousel li {
  width: 453px;
  min-height: 295px; }

.comparison-type-carousel .card-target {
  padding: 20px 10px;
  display: block; }

.comparison-type-carousel .model-img-content {
  width: 189px;
  height: 106px;
  margin-bottom: 10px; }
  .comparison-type-carousel .model-img-content img {
    height: 106px; }

.comparison-type-carousel .card-target .grid-6:first-of-type:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/vs-icon-32.png) no-repeat;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  top: 40%;
  right: 0; }

.btn-160-36 {
  width: 160px;
  font-size: 14px;
  padding: 7px; }

/* user reviews starts here */
/* user-review__intro */
.user-review__intro {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 20px 15px 20px;
	border-bottom: 1px solid #eee;
	text-align: center;
}

.review-intro__title {
	font-size: 14px;
	color: #787878;
	margin-bottom: 20px;
}

/* user-review__search-form */
.user-review__search-form {
	width: 570px;
	margin: 0 auto;
	position: relative;
}

.user-review__search-form:after {
	content: '';
	display: block;
	clear: both;
}

.user-review__search-field {
	width: 420px;
	float: left;
}

.user-review__search-field .form-control {
	border-right: 0;
}

.user-review__form-submit {
	float: left;
	width: 140px;
	font-size: 14px;
	padding: 10px 9px 8px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#erruserReviewList.ui-autocomplete {
	width: 100%;
	position: absolute;
	top: 41px;
	left: 3px;
	text-align: left;
	z-index: 2;
}

.user-review-autocomplete.ui-autocomplete {
	z-index: 2;
}

/* user-review__swiper */
.user-review__swiper.inner-content-carousel .jcarousel {
	padding-top: 30px;
}

.user-review__swiper.inner-content-carousel .jcarousel li {
	min-height: 225px;
	padding: 35px 20px 15px;
	position: relative;
	text-align: center;
}

/* winner ribbon */
.review-card__winner {
	position: absolute;
	top: 0;
	left: 10px;
}

.vertical-ribbon {
	position: relative;
	width: 14px;
	height: 35px;
	display: inline-block;
	vertical-align: top;
}

.vertical-ribbon:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	border-right: 7px solid #41B4C4;
	border-left: 7px solid #41B4C4;
	border-bottom: 7px solid transparent;
}

.bg-color--teal {	
	background: #41B4C4;
}

.trophy-teal-10x12:before {
	content: '';
	width: 22px;
	height: 22px;
	position: absolute;
	top: 4px;
	left: -4px;
	border: 1px solid #4d5057;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #fff url('https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/trophy-10x12.png') no-repeat 50%;
}

.winner-tag__label {
	font-size: 10px;
	color: #82888b;
	padding-left: 5px;
	padding-top: 8px;
	display: inline-block;
	vertical-align: top;
}

.review-card__author-circle {
	width: 40px;
	height: 40px;
	background: #f5f5f5 url('https://imgd.aeplcdn.com/0x0/bw/static/icons/john-doe-30x36.png') no-repeat 50% bottom;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
	margin: 0 auto;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.review-card__author {
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.user-review__swiper .rating-badge {
	margin-bottom: 10px;
}

.review-card__bike {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 8px;
}

.review-card__bike.text-truncate {
	text-align: center;
}

.review-card__desc {
	color: #787878;
	margin-bottom: 8px;
}

.review-card__date {
	color: #82888b;
	font-size: 11px;
	margin-bottom: 10px;
}

/* rating badge */
.rating-badge {
    min-width: 40px;
    height: 20px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.rating-badge[data-rate-bg="5"] {
    background-color: #198D55;
}
.rating-badge[data-rate-bg="4"] {
    background-color: #13B65D;
}
.rating-badge[data-rate-bg="3"] {
    background-color: #EFD700;
}
.rating-badge[data-rate-bg="2"] {
    background-color: #FD971C;
}
.rating-badge[data-rate-bg="1"] {
    background-color: #EF3F30;
}

.star-white {
    width: 12px;
    height: 12px;
    background-position: -218px -103px;
    position: relative;
    top: 1px;
    margin-right: 4px;
}

/* contest-participate-banner */
.contest-participate-banner {
	min-height: 100px;
	padding: 5px 20px;
	background: #2e3192 url('https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/d/city-bg-976x101.png') repeat-x center bottom;
}

.contest-banner__icon {
	width: 124px;
	height: 90px;
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/review-contest/contest-122x90.png') no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

.contest-banner__left-grid {
	width: 63%;
}

.contest-banner__title {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.contest-banner__subtitle {
	font-size: 14px;
	color: #fff;
}

.btn-180-40 {
	width: 180px;
	font-size: 14px;
	padding: 9px 5px;
}

.btn-white-arrow {
	width: 6px;
    height: 10px;
    background-position: -222px -14px;
    margin-left: 5px;
    position: relative;
    top: 1px
}
