.padding-14-20 {
    padding: 14px 20px
}
.text-x-light {
    color: #a2a2a2;
}
.margin-right25 {
    margin-right: 25px;
}
.margin-bottom30 {
    margin-bottom: 30px;
}

/* rating-review */
.rating-review-content {
    border: 1px solid #f5f5f5;
}
.rating-box {
    background: #fafafa;
    padding: 2px 9px 2px 7px;
}
.review-box {    
    padding: 4px 10px 4px 8px;
}
.review-box .review-count-target, .no-rating {
    position: relative;
    padding-right: 14px;
    margin-right: 12px;
}
.review-box .review-count-target:after, .no-rating:after {
    content: '';
    width: 1px;
    height: 15px;
    display: block;
    position: absolute;
    right: 0;
    top: 3px;
    border-right: 1px solid #eee;
}


.get-offers-main-btn {
    width: 230px;
}

.partner-dealer-details-btn {
    width: 200px;    
}

.get-offers-main-btn, .partner-dealer-details-btn {
    padding-right: 0;
    padding-left: 0;
}

/* dealer */
.pos-top2 { top:2px; }
.border-light-top { border-top: 1px solid #f1f1f1; }

/*dealership*/
.dealership-benefit-list li { width:49%; margin-bottom:20px; }
.dealership-benefit-list .benefit-list-title { width:80%; }

#booking-benefits-list {
    margin-left: 17px;
}
#booking-benefits-list li {
    list-style: disc;
    width: 33%;
    float: left;
}

/* assistance-input-box */
.assistance-input-box {
    width: 220px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}
.assistance-submit-btn {
    position: relative;
    top: -5px;
}

/* more partner-dealer-panel */
#moreDealersList {
    display: none;
}
#moreDealersList li {
    min-height: 211px;
}

#moreDealersList .top-block-target {
    padding: 17px 20px 0 20px;
    display: block;
}

#moreDealersList .top-block-target:hover {
    text-decoration: none;
}

#moreDealersList .bottom-block-button {
    padding-bottom: 20px;
    padding-left: 20px;
}

.details-column {
    width: 92%
}

.partner-dealer-offers-btn {
    font-size: 14px;
    width: 194px;
    padding: 6px 0;
}


#expectedPriceContainer { border-bottom:1px solid #ecedee; }

.model-details-floating-card .city-area-name { width:140px; }
.model-details-floating-card .exshowroom-area-name.city-area-name { width:120px; }
.exshowroom-area.exshowroom-area-name { width:120px; }
.viewBreakupText { cursor: pointer; color: #0288d1; margin-left:5px; }

.bike-upcoming-tag, .bike-discontinued-tag { z-index:2; }

/* Connected carousel */
.connected-carousels .stage { width: 376px; margin: 0 auto 15px; position: relative; }
.connected-carousels .navigation { width: 376px; position: relative; margin-left:5px; }
.connected-carousels .carousel { overflow: hidden; position: relative; }
.connected-carousels .carousel ul { width: 20000em; position: relative; list-style: none; margin: 0; padding: 0; }
.connected-carousels .carousel li { float: left; width: 376px; height: 212px; }
.connected-carousels .carousel .carousel-img-container { display:table; width: 100%; height: 212px; text-align:center; }
.connected-carousels .carousel li .carousel-img-container span { display: table-cell; vertical-align:middle; width: 385px; height: 220px; background:url('https://imgd4.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center center; }
.connected-carousels .carousel .carousel-img-container img { width: auto; height: 212px; }
.connected-carousels .carousel-stage { height: 212px; }
.connected-carousels .carousel-navigation { height: 47px; width: 350px; background: #fff; margin-left:10px; }
.navigation .carousel-navigation li { float:left; width:80px; height:45px; margin-right:10px; border:1px solid #e2e2e2; overflow: hidden; cursor:pointer; }
.navigation .carousel-navigation li img { width:auto; height: 45px; }
.connected-carousels .carousel-navigation li.active { border-color: #555; }
.navigation .carousel-navigation .carousel-nav-img-container { display:table; width:80px; height:45px; text-align:center; }
.navigation .carousel-navigation .carousel-nav-img-container span { display: table-cell; vertical-align: middle; width: 80px; }
.connected-carousels .prev-stage, .connected-carousels .next-stage { display: block; position: absolute; top: 40%; color: #fff; z-index: 1;}
.connected-carousels .prev-stage { left: 0; }
.connected-carousels .next-stage { right: 0; }
.connected-carousels .prev, .connected-carousels .next { position: absolute; top: 40%; z-index: 1; width: 26px; height: 48px; text-indent: -9999px; background-color: #fff; padding:6px 3px;}
.connected-carousels .prev-stage { background-position: -38px -87px }
.connected-carousels .next-stage { background-position: -69px -87px }
.connected-carousels .prev-stage:hover { background-position: -38px -142px }
.connected-carousels .next-stage:hover { background-position: -69px -142px }
.connected-carousels .prev-stage.inactive { background-position: -38px -32px; cursor:not-allowed; }
.connected-carousels .next-stage.inactive { background-position: -69px -32px; cursor:not-allowed; }

.connected-carousels .prev-navigation, .connected-carousels .next-navigation { width: 26px; height: 45px; text-indent: -9999; border: none; background-color: transparent;  padding:6px 3px; }
.connected-carousels .prev-navigation { background-position: -122px -355px; left:-14px; top:0; }
.connected-carousels .next-navigation { background-position: -150px -355px; right:-9px; top:0; }
.connected-carousels .prev-navigation:hover { background-position: -122px -386px; }
.connected-carousels .next-navigation:hover { background-position: -150px -386px;}
.connected-carousels .prev-navigation.inactive, .connected-carousels .next-navigation.inactive { display:block; }
.connected-carousels .prev-navigation.inactive { background-position:-122px -325px; cursor:not-allowed; }
.connected-carousels .next-navigation.inactive { background-position:-150px -325px; cursor:not-allowed; }

.all-photos-target { background: #f5f5f5; text-align:center; display: table; border: 1px solid #e2e2e2; }
.all-photos-target a { display: table-cell; vertical-align: middle; }

/* model sprite classes */
.model-sprite { background:url(https://imgd3.aeplcdn.com/0x0/bw/static/sprites/d/bw-offers-benefits.png?v=5Dec2016) no-repeat; display:inline-block;}
.partner-dealer {
    width: 32px;
    height: 34px;
    background-position: 0 -72px;
}
.plus-icon {
    width: 14px;
    height: 14px;
    background-position: -150px -43px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.open .plus-icon {
    background-position: -150px -57px;
}

.dealership-loc-icon,.phone-black-icon {
    width: 10px;
    position: relative;
    margin-right: 5px
}

.dealership-loc-icon {
    height: 12px;
    background-position: -52px -469px;
    top: 4px
}

.phone-black-icon {
    height: 10px;
    background-position: -73px -444px;
    top: 5px
}

.offers-sm-box {
    width: 16px;
    height: 16px;
    background-position: -217px -242px;
    position: relative;
    top: 1px;
}

.phone-md {
    width: 12px;
    height: 12px;
    background-position: -217px -263px;
}

.benifitIcon_1 , .benifitIcon_2 , .benifitIcon_3 , .benifitIcon_4 , .benifitIcon_5 , .offerIcon_1 , .offerIcon_2 , .offerIcon_3 , .offerIcon_4 , .offerIcon_5, .offerIcon_6, .offerIcon_7 { width: 38px; height: 38px; vertical-align: middle; margin-right: 10px; }
.benifitIcon_1 { background-position: -129px -154px; }
.benifitIcon_2 { background-position: 0 -196px; }
.benifitIcon_3 { background-position: -43px -196px; }
.benifitIcon_4 { background-position: -86px -196px; }
.benifitIcon_5 { background-position: -129px -196px; }
.offerIcon_1 { background-position: 0 -111px; }
.offerIcon_2 { background-position: -43px -111px; }
.offerIcon_3 { background-position: -86px -111px; }
.offerIcon_4 { background-position: -129px -111px; }
.offerIcon_5 { background-position: 0 -154px; }
.offerIcon_6 { background-position: -43px -154px; }
.offerIcon_7 { background-position: -86px -154px; }

.margin-top35 { margin-top:35px; }
.text-darker-black { color:#1a1a1a; }
.text-blue { color:#0288d1; }
.border-light-bottom { border-bottom:1px solid #f1f1f1; }

#leadCapturePopup, #otpPopup { display:none;}

#modelSpecsTabsContentWrapper { min-height:300px; }
#modelDetailsFloatingCardContent { display:block; position:fixed; top:-500px; left:5%; right:5%; margin:0 auto; width:996px; z-index:5;
-webkit-transition:all 0.2s ease 0s; -moz-transition:all 0.2s ease 0s; -o-transition:all 0.2s ease 0s; -ms-transition:all 0.2s ease 0s; transition:all 0.2s ease 0s;}
#modelDetailsFloatingCardContent .model-details-floating-card { width:976px; }
/*#modelDetailsFloatingCardContent.fixed-card { top:0; }*/
#modelDetailsFloatingCardContent .overall-specs-tabs-wrapper { display:none; }
#modelDetailsFloatingCardContent.activate-tabs .overall-specs-tabs-wrapper { display:block; }

.overall-specs-tabs-wrapper { display:table; background:#fff; }
.overall-specs-tabs-wrapper a { padding:10px 11px; display:table-cell; font-size:14px; color:#82888b; }
.overall-specs-tabs-wrapper a:hover { text-decoration:none; color:#4d5057; }
#modelSpecsTabsContentWrapper .overall-specs-tabs-wrapper a:first-child, .overall-specs-tabs-wrapper a.active { border-bottom:3px solid #ef3f30; font-weight:bold; color:#4d5057; }
.content-inner-block-2010 { padding:20px 10px; }

/* tooltip */
.bw-tooltip {
    padding: 10px 20px 10px 15px;
    position: absolute;
    border: 1px solid #e2e2e2;
    background: #f5f5f5;
    z-index: 1;
}

.multi-brand-tooltip {
    width: 395px;
    top: -10px;
    right: -405px; /* width + 10px */
}

.tooltip-left .bw-tooltip-text:before,
.tooltip-left .bw-tooltip-text:after {
    content: '';
    width: 9px;
    height: 18px;
    display: block;
    position: absolute;
    top: 25%;
}

.tooltip-left .bw-tooltip-text:before {
    left: -25px;
    border-top: 10px solid transparent;
    border-right: 10px solid #e2e2e2;
    border-bottom: 10px solid transparent;
}

.tooltip-left .bw-tooltip-text:after {
    left: -24px;
    border-top: 10px solid transparent;
    border-right: 10px solid #f5f5f5;
    border-bottom: 10px solid transparent;
}

#dealerAssistance .input-box {
    height: 55px;
}

#dealerAssistance .error-text {
    top: 0;
}

/* btn sizes */
.btn-188-40 {
    width: 188px;
    padding-right: 10px;
    padding-left: 10px;
}

/* campaign */
.offer-benefit-sprite {
    background: url(https://imgd1.aeplcdn.com/0x0/bw/static/sprites/d/offer-benefit-sprite.png?v1=30Mar2016v1) no-repeat;
    display: inline-block;
}
#campaign-offer-list li,
#campaign-offer-list li span {
    display: inline-block;
    vertical-align: middle;
}
#campaign-container .campaign-left-col {
    width: 78%;
    padding-right: 10px;
}
#campaign-container .campaign-right-col {
    width: 21%;
}
.campaign-offer-label {
    width: 75%;
    font-size: 14px;
    font-weight: 700;
}
.btn-large {
    padding: 8px 56px;
}
#campaign-offer-list li {
    width: 175px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right: 5px;
}
.campaign-offer-1,
.campaign-offer-2,
.campaign-offer-3,
.campaign-offer-4 {
    width: 34px;
    height: 28px;
    margin-right: 5px;
}
.campaign-offer-1 {
    background-position: 0 -356px;
}
.campaign-offer-2 {
    background-position: 0 -390px;
}
.campaign-offer-3 {
    background-position: 0 -425px;
}
.campaign-offer-4 {
    background-position: 0 -463px;
}
#campaign-container .phone-black-icon {
    top: 0;
}

/* new campaign */
.campaign-content .tel-sm-icon {
    top: 0;
}
.campaign-content .campaign-title-content {
    padding-left: 20px;
    width: 70%;
}
.campaign-content .campaign-logo {
    width: 80px;
    height: 40px;
    background: url(https://imgd1.aeplcdn.com/0x0/bw/static/design15/bajaj-finance-logo.jpg?v06Apr2017) no-repeat;
}
.campaign-content .campaign-left-col {
    width: 78%;
}
.campaign-content .campaign-right-col {
    width: 21%;
}
.campaign-disc-list {
    padding-left: 20px;
}
.campaign-disc-list li {
    list-style: disc;
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
}

/* common */
.font-bold {
    font-weight: 700;
}

.text-bold {
    font-weight: 600;
}

.text-slate-grey {
    color: #787878;
}

/* top card */
#model-right-grid {
    width: 523px;
    min-height: 300px;
}

/* key-specs-list */
#key-specs-list li,
#key-specs-list span {
    display: inline-block;
    vertical-align: middle;
}
#key-specs-list li{
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}
#key-specs-list li:before{
    content: "";
    width: 1px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 0;
    border-left: 1px solid #ecedee;
}
#key-specs-list li:first-child {
    padding-left: 0;
}
#key-specs-list li:first-child:before{
    border-left: 0;
}

/* model-version-dropdown */
#model-version-dropdown .select-box {
    height: 25px;
}

#model-version-dropdown .chosen-container {
    width: 126px !important;
    height: 25px;
}

#model-version-dropdown .chosen-drop {
    position: absolute;
    width: 260px !important;
    top: -18px;
}

#model-version-dropdown .chosen-single {
    font-size: 13px;
    color: #4d5057;
}

#model-version-dropdown .no-input-label {
    font-size: 14px;
}

/* select box for atf */
.select-box .select-label {
    position: absolute;
    top: 0;
    color: #82888b;
    font-size: 16px;
}
.select-box .chosen-container {
    height: 30px;
    position: relative;
    top: 0;
    cursor: pointer;
    border-bottom: 1px solid #82888b;
    background: transparent url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) 100% 50% no-repeat;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.done .select-label {
    font-size: 12px;
    top: -20px;
}

/* single version and location */
.single-version-content {
    width: 126px;
}

.dropdown-effect-light {
    padding: 3px 18px 6px 0;
    position: relative;
}

.dropdown-effect-light {
    background: transparent url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) 100% 50% no-repeat;
    border-bottom: 1px solid #ddd;
}

.dropdown-effect-light:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background: #fff;
    opacity: 0.7;
}

/* city */
.location-selection {
    width: 165px;
}

.selected-city {
    padding: 3px 18px 6px 0;
    position: relative;
    border-bottom: 1px solid #82888b;
}

.loc-change-blue { 
    width: 12px;
    height: 16px;
    background-position: -205px -9px;
    cursor: pointer;
    position: relative;
    top: 2px;
}

.loc-change-blue:hover {
    background-position: -205px -35px;
}

.location-selection .loc-change-blue {
    position: absolute;
    top: 4px;
    right: 0;
}

/* emi */
.inr-12-default {
    width: 10px;
    height: 12px;
    background-position: -128px -468px;
    transform: scale(0.9);
}

/* bw-group-flex */
.bw-group-flex li {
    font-size: 12px;
    color: #82888b;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    background: #f5f5f5;
    border: 1px solid #e2e2e2;
    margin-right: -4px;
    cursor: pointer;
    user-select: none;
}

.bw-group-flex li:first-child {
    border-right: 0;
}

.bw-group-flex li.active {
    color: #4d5057;
    background: #fff;
    font-weight: 600;
    cursor: default;
    pointer-events: none;
}

.toggle-btn-label li.active .label-count {
    display: inline;
}

.toggle-btn-label li.active .label-overview {
    display: none;
}

.toggle-btn-label li.inactive .label-count {
    display: none;
}

.toggle-btn-label li.inactive .label-overview {
    display: inline;
}


/* model color carousel */
.model-color-list .color-box-list li {
    display: inline-block;
    cursor: pointer;
}

.model-color-list .color-box-list .color-box {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}