/* common */
.font-bold {
    font-weight: 700;
}

.text-bold {
    font-weight: 600;
}

.text-slate-grey {
    color: #787878;
}

/* rating-review */
.rating-box {
    height: 21px;
}

.star-one,
.star-zero {
    width: 26px;
    height: 25px;
    vertical-align: middle;
}

.star-one {
    background-position: 0 -757px;
}

.star-zero {
    background-position: -53px -757px;
}

.rating-box .star-one,
.rating-box .star-zero {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    position: relative;
    top: -2px;
}

.left-divider {
	position: relative;
    padding-left: 14px;
    margin-left: 12px;
}

.left-divider:before {
	content: '';
    width: 1px;
    height: 15px;
    display: block;
    position: absolute;
	top: 2px;
	left: 0;
    border-left: 1px solid #eee;
}

/* floating tabs */
.overall-tabs {
    height: 45px;
}

.overall-specs-tabs-container {
    width: 976px;
    height: 43px;
    background: #fff;
    overflow-y: hidden;
    overflow-x: auto;
    position: absolute;
    top: 0px;
    -webkit-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    -moz-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    -o-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    -ms-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
}

.overall-specs-tabs-container.fixed-tab-nav {
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: 5;
}

.overall-specs-tabs-wrapper {
    display: table;
    background: #fff;
}


.overall-specs-tabs-wrapper span {
    padding: 10px 12px;
    display: table-cell;
    text-align: center;
    font-size: 14px;
    color: #82888b;
    white-space: nowrap;
    cursor: pointer;
}


.overall-specs-tabs-wrapper span:first-child
 {
    padding-left: 20px;
}


.overall-specs-tabs-wrapper span:hover {
    text-decoration: none;
    color: #4d5057;
}


.overall-specs-tabs-wrapper span.active {
    border-bottom: 3px solid #ef3f30;
    font-weight: 600;
    color: #4d5057;
}

/* top card */
#model-right-grid {
    width: 523px;
    min-height: 200px;
    padding-top: 5px;
}

/* key-specs-list */
#key-specs-list li,
#key-specs-list span {
    display: inline-block;
    vertical-align: middle;
}
#key-specs-list li{
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}
#key-specs-list li:before{
    content: "";
    width: 1px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 0;
    border-left: 1px solid #ecedee;
}
#key-specs-list li:first-child {
    padding-left: 0;
}
#key-specs-list li:first-child:before{
    border-left: 0;
}

/* model-version-dropdown */
#model-version-dropdown .select-box {
    height: 25px;
}

#model-version-dropdown .chosen-container {
    width: 126px !important;
    height: 25px;
}

#model-version-dropdown .chosen-drop {
    position: absolute;
    width: 260px !important;
    top: -18px;
}

#model-version-dropdown .chosen-single {
    font-size: 13px;
    color: #4d5057;
}

#model-version-dropdown .no-input-label {
    font-size: 14px;
}

/* select box for atf */
.select-box {
    position: relative;
}
.select-box .select-label {
    position: absolute;
    top: 0;
    color: #82888b;
    font-size: 16px;
}
.select-box .chosen-container {
    height: 30px;
    position: relative;
    top: 0;
    cursor: pointer;
    border-bottom: 1px solid #82888b;
    background: transparent url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) 100% 50% no-repeat;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.done .select-label {
    font-size: 12px;
    top: -20px;
}

/* single version and location */
.single-version-content {
    width: 126px;
}

.dropdown-effect-light {
    padding: 3px 18px 6px 0;
    position: relative;
}

.dropdown-effect-light {
    background: transparent url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) 100% 50% no-repeat;
    border-bottom: 1px solid #ddd;
}

.dropdown-effect-light:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background: #fff;
    opacity: 0.7;
}

/* info icon */
.info-grey-14 {
	width: 14px;
	height: 14px;
	background-position: -176px -768px;
	position: relative;
	top: 2px;
	margin-right: 5px;
	cursor: pointer;
}

/* city */
.location-selection {
    width: 165px;
}

.selected-city {
    padding: 3px 18px 6px 0;
    position: relative;
    border-bottom: 1px solid #82888b;
}

.loc-change-blue { 
    width: 12px;
    height: 16px;
    background-position: -205px -9px;
    cursor: pointer;
    position: relative;
    top: 2px;
}

.loc-change-blue:hover {
    background-position: -205px -35px;
}

.location-selection .loc-change-blue {
    position: absolute;
    top: 4px;
    right: 0;
}

.model-price-content {
    padding-bottom: 3px;
}

/* emi */
.inr-12-default {
    width: 10px;
    height: 12px;
    background-position: -128px -468px;
    transform: scale(0.9);
}

/* ribbon tag */
#modelSummaryContent .model-ribbon {
    position: absolute;
    top: 0;
    left: -20px;
}

.model-ribbon {
    position: absolute;
    top: 14px;
    left: 0;
    font-size: 12px;
    padding: 2px 10px;
    display: inline-block;
    z-index: 2;
}

.model-ribbon:after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    right: 0;
}

.model-ribbon:before,
.model-ribbon:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    right: -10px;
}

.model-ribbon:before {
    top: 0;
    border-width: 11px 10px 0 0;
}

.model-ribbon:after {
    bottom: 0;
    border-width: 0 10px 11px 0;
}

.discontinued-ribbon {
    color: #4d5957;
    background: #b5b5b5;
}
.discontinued-ribbon.model-ribbon:before {
    border-top-color: #b5b5b5;
}

.discontinued-ribbon.model-ribbon:after {
    border-bottom-color: #b5b5b5;
}

.upcoming-ribbon {
    color: #fff;
    background: #4d5057;
}
.upcoming-ribbon.model-ribbon:before {
    border-top-color: #4d5057
}

.upcoming-ribbon.model-ribbon:after {
    border-bottom-color: #4d5057;
}

/* tabs-group */
.tabs-group__list-item {
    font-size: 12px;
    color: #82888b;
    padding: 4px 15px 5px;
    text-align: center;
    display: inline-block;
    background: #f5f5f5;
    border: 1px solid #e2e2e2;
    margin-right: -4px;
    cursor: pointer;
    user-select: none;
}

.tabs-group__list-item:first-child {
    border-right: 0;
}

.tabs-group__list-item .label-count {
	display: none;
}

.tabs-group__list-item.active {
    color: #4d5057;
    background: #fff;
    font-weight: 600;
    cursor: default;
    pointer-events: none;
}

.tabs-group__list-item.active .label-count {
    display: inline;
}

.tabs-group__list-item.active .label-overview {
    display: none;
}

/* Connected carousel */
.connected-carousels .stage,
.connected-carousels .navigation {
    width: 376px;
    position: relative;
}

.connected-carousels .stage {
    margin: 0 auto 10px;
}

.connected-carousels .navigation {
    margin-left: 5px;
}

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel-stage li {
    width: 376px;
    height: 212px;
	float: left;
	cursor: pointer;
}

.carousel-stage .carousel-img-container,
.carousel-navigation .carousel-nav-img-container {
    display: block;
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center;
    text-align: center;
}

.carousel-img-container img {
    width: auto;
    height: 212px;
}

.carousel-stage {
    height: 212px;
}

.carousel-navigation {
    height: 47px;
    width: 350px;
    background: #fff;
    margin-left: 10px;
}

/* navigation */
.carousel-navigation li {
    float: left;
    width: 80px;
    height: 45px;
    margin-right: 10px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    cursor: pointer;
}

.carousel-navigation li img {
    width: auto;
    height: 45px;
}

.carousel-navigation li.active {
    border-color: #41B4C4;
}

.carousel-navigation .carousel-nav-img-container {
    width: 80px;
    height: 45px;
    text-align: center;
}

.carousel-controls .prev-control,
.carousel-controls .next-control {
    position: absolute;
    top: 40%;
    z-index: 1;
    width: 26px;
    height: 46px;
    text-indent: -9999px;
    background-color: #fff;
    border: 0;
    padding: 6px 3px;
    cursor: pointer;
    border-radius: 0;
}

.carousel-controls .prev-control,
.carousel-controls .next-control {
    top: 40%;
}

.connected-carousels .prev-control.prev-navigation,
.connected-carousels .next-control.next-navigation {
    top: 0;
}

.carousel-controls .prev-control {
    background-position: -122px -355px;
}
.carousel-controls .next-control {
    background-position: -150px -355px;
}

.carousel-controls .prev-control {
    left: 0;
}
.carousel-controls .next-control {
    right: 0;
}

.carousel-controls .prev-control.prev-navigation {
    left: -16px;
}
.carousel-controls .next-control.next-navigation {
    right: -11px;
}

.carousel-controls .prev-control:hover {
    background-position: -122px -386px;
}
.carousel-controls .next-control:hover {
    background-position: -150px -386px;
}

.carousel-controls .prev-control.inactive,
.carousel-controls .next-control.inactive {
    display: block;
    cursor: not-allowed;
}
.carousel-controls .prev-control.inactive {
    background-position: -122px -325px;
}
.carousel-controls .next-control.inactive {
    background-position: -150px -325px;
}

.all-photos-target {
    background: #f5f5f5;
    text-align: center;
    display: table;
    border: 1px solid #e2e2e2;
}
.all-photos-target a {
    display: table-cell;
    vertical-align: middle;
}

/* model color carousel */
.carousel-type-color {
    width: 376px;
    margin: 0 auto;
    height: 212px;
    padding: 0;
}

.carousel-type-color a {
    width: 376px;
    height: 212px;
    margin-right: 0;
}

.carousel-type-color .carousel-img-container {
    display: block;
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center;
}

/* model color list */
.margin-top12 {
    margin-top: 12px;
}

#model-color-list {
    max-width: 82%;
}

#model-color-list li {
    display: inline-block;
    cursor: pointer;
}

#model-color-list .color-box {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

#model-color-list li.active .color-box {
    border-color: #41B4C4;
}

#model-color-list li.active .color-box:before {
    content: "";
    background: rgba(0, 0, 0, 0.2) url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/white-tick-sm.png) 40% no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
}

/* Discontinued bike image */
.model-thumbnail-image {
    width: 393px;
    height: 221px;
    display: table;
    text-align: center;
    background: #f5f5f5;
    float: left;
    position: relative;
    overflow: hidden;
}

.model-thumbnail-image a {
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif) center center no-repeat;
}

.model-thumbnail-image a:hover {
   text-decoration: none;
}

.bg-light-grey {
    background: #f5f5f5;
}

.no-image-icon {
    width: 40px;
    height: 30px;
    background-position: -97px -543px;
}

/* tooltip */
.bw-tooltip {
    padding: 10px 20px 10px 15px;
    position: absolute;
    border: 1px solid #e2e2e2;
    background: #f5f5f5;
    z-index: 1;
}

.multi-brand-tooltip {
    width: 395px;
    top: -15px;
    right: -405px; /* width + 10px */
}

.tooltip-left .bw-tooltip-text:before,
.tooltip-left .bw-tooltip-text:after {
    content: '';
    width: 9px;
    height: 18px;
    display: block;
    position: absolute;
    top: 25%;
}

.tooltip-left .bw-tooltip-text:before {
    left: -25px;
    border-top: 10px solid transparent;
    border-right: 10px solid #e2e2e2;
    border-bottom: 10px solid transparent;
}

.tooltip-left .bw-tooltip-text:after {
    left: -24px;
    border-top: 10px solid transparent;
    border-right: 10px solid #f5f5f5;
    border-bottom: 10px solid transparent;
}

/* emi tooltip */
.emi-info {
    width: 11px;
    height: 10px;
    background-position: -217px -282px;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.tooltip-icon-target:hover .bw-tooltip {
    display: block;
}

.emi-tooltip {
    display: none;
    width: 235px;
    top: -10px;
    right: -245px; /* width + tooltip width */
    border-radius: 2px;
    box-shadow: 0 1px 2px #eee;
    cursor: default;
}

.tooltip-white {
    background: #fff;
    padding: 10px;
}

.tooltip-white .bw-tooltip-text:before {
    left: -10px;
}

.tooltip-white .bw-tooltip-text:after {
    left: -9px;
    border-right-color: #fff;
}

.emi-tooltip .bw-tooltip-text:before,
.emi-tooltip .bw-tooltip-text:after {
    top: 13%;
}

.padding-14-20 {
    padding: 14px 20px
}
.text-x-light {
    color: #a2a2a2;
}
.margin-right25 {
    margin-right: 25px;
}
.margin-bottom30 {
    margin-bottom: 30px;
}

.get-offers-main-btn {
    width: 230px;
}

.partner-dealer-details-btn {
    width: 200px;    
}

.get-offers-main-btn, .partner-dealer-details-btn {
    padding-right: 0;
    padding-left: 0;
}

/* dealer */
.pos-top2 { top:2px; }
.border-light-top { border-top: 1px solid #f1f1f1; }

/*dealership*/
.dealership-benefit-list li { width:49%; margin-bottom:20px; }
.dealership-benefit-list .benefit-list-title { width:80%; }

#booking-benefits-list {
    margin-left: 17px;
}
#booking-benefits-list li {
    list-style: disc;
    width: 33%;
    float: left;
}

/* assistance-input-box */
.assistance-input-box {
    width: 220px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}
.assistance-submit-btn {
    position: relative;
    top: -5px;
}

/* more partner-dealer-panel */
#moreDealersList {
    display: none;
}
#moreDealersList li {
    min-height: 211px;
}

#moreDealersList .top-block-target {
    padding: 17px 20px 0 20px;
    display: block;
}

#moreDealersList .top-block-target:hover {
    text-decoration: none;
}

#moreDealersList .bottom-block-button {
    padding-bottom: 20px;
    padding-left: 20px;
}

.details-column {
    width: 92%
}

.partner-dealer-offers-btn {
    font-size: 14px;
    width: 194px;
    padding: 6px 0;
}

#expectedPriceContainer { border-bottom:1px solid #ecedee; }

.model-details-floating-card .city-area-name { width:140px; }
.model-details-floating-card .exshowroom-area-name.city-area-name { width:120px; }
.exshowroom-area.exshowroom-area-name { width:120px; }
.viewBreakupText { cursor: pointer; color: #0288d1; margin-left:5px; }

.bike-upcoming-tag, .bike-discontinued-tag { z-index:2; }

#modelSpecsTabsContentWrapper { min-height:300px; }

.content-inner-block-2010 { padding:20px 10px; }

#dealerAssistance .input-box {
    height: 55px;
}

#dealerAssistance .error-text {
    top: 0;
}

/* btn sizes */
.btn-188-40 {
    width: 188px;
    padding-right: 10px;
    padding-left: 10px;
}

/* model sprite classes */
.model-sprite { background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/bw-offers-benefits.png?v=5Dec2016) no-repeat; display:inline-block;}
.partner-dealer {
    width: 32px;
    height: 34px;
    background-position: 0 -72px;
}
.plus-icon {
    width: 14px;
    height: 14px;
    background-position: -150px -43px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.open .plus-icon {
    background-position: -150px -57px;
}

.dealership-loc-icon,.phone-black-icon {
    width: 10px;
    position: relative;
    margin-right: 5px
}

.dealership-loc-icon {
    height: 12px;
    background-position: -52px -469px;
    top: 4px
}

.phone-black-icon {
    height: 10px;
    background-position: -73px -444px;
    top: 5px
}

.offers-sm-box {
    width: 16px;
    height: 16px;
    background-position: -217px -242px;
    position: relative;
    top: 1px;
}

.phone-md {
    width: 12px;
    height: 12px;
    background-position: -217px -263px;
}

.offer-benefit-sprite {
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/offer-benefit-sprite.png?v1=30Mar2016v1) no-repeat;
	display: inline-block;
}

.benifitIcon_1 , .benifitIcon_2 , .benifitIcon_3 , .benifitIcon_4 , .benifitIcon_5 , .offerIcon_1 , .offerIcon_2 , .offerIcon_3 , .offerIcon_4 , .offerIcon_5, .offerIcon_6, .offerIcon_7 { width: 38px; height: 38px; vertical-align: middle; margin-right: 10px; }
.benifitIcon_1 { background-position: -129px -154px; }
.benifitIcon_2 { background-position: 0 -196px; }
.benifitIcon_3 { background-position: -43px -196px; }
.benifitIcon_4 { background-position: -86px -196px; }
.benifitIcon_5 { background-position: -129px -196px; }
.offerIcon_1 { background-position: 0 -111px; }
.offerIcon_2 { background-position: -43px -111px; }
.offerIcon_3 { background-position: -86px -111px; }
.offerIcon_4 { background-position: -129px -111px; }
.offerIcon_5 { background-position: 0 -154px; }
.offerIcon_6 { background-position: -43px -154px; }
.offerIcon_7 { background-position: -86px -154px; }

.margin-top35 { margin-top:35px; }
.text-darker-black { color:#1a1a1a; }
.text-blue { color:#0288d1; }
.border-light-bottom { border-bottom:1px solid #f1f1f1; }

#leadCapturePopup, #otpPopup { display:none;}

/* price list */
/* version prices */
.divider-bottom {
    border-bottom: 1px solid #eee;
}

/* prices in nearby cities */
.version-price-table {
    width: 100%;
}

.version-price-table th {
    width: 33.33%;
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #82888b;
    font-weight: normal;
    text-align: left;
}

#prices-top-cities {
    font-size: 0;
}

#prices-top-cities li {
    display: inline-block;
    padding-bottom: 20px;
}

.city-name {
    display: inline-block;
    font-size: 14px;
    width: 50%;
}

.city-name.right {
    text-align: center;
    font-size: 13px;
}

.version-price-table td {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}
.select-box .chosen-container .chosen-results {overflow-y: scroll; max-height: 160px; padding-bottom: 20px; }

/* horizontal bikes swiper start */
.horizontal-swiper__title {
	font-size: 14px;
	color: #787878;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 10px;
}

.horizontal-card-swiper.inner-content-carousel .jcarousel li {
	height: 65px;
}

.horizontal-swiper__tag {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 9px;
	color: #82888b;
}

.horizontal-swiper__target {
	display: block;
	padding: 10px 15px;
	position: relative;
}

.horizontal-swiper__target:hover {
	text-decoration: none;
}

.horizontal-swiper__image {
	width: 80px;
	height: 45px;
}

.horizontal-swiper__image img {
	height: 45px;
	line-height: 0;
}

.horizontal-swiper__details {
	width: 65%;
	padding-left: 5px;
}

.horizontal-swiper__card-title {
	font-size: 12px;
	color: #2a2a2a;
	margin-bottom: 4px;
}

.horizontal-swiper__card-subtitle {
	font-size: 10px;
	color: #787878;
}
/* horizontal bikes swiper end */
.ul-grid-3 li {
    width: 33.33%;
}

.ul-grid-4 li {
    width: 25%;
}



