@charset "utf-8";
/* CSS Document */
/* top banner */
.new-bikes-top-banner { background:#161209 url(../images/new-bikes-banner.jpg) no-repeat center top; height: 285px; padding-top: 1px; }

/* discover your bike css */
.brand-budget-mileage-style-wrapper { background:#fff; }
.bw-tabs-data ul li:hover { cursor: pointer; }
.brand-type-container ul li { display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:180px; height:85px; margin:0 5px 30px; text-align:center; font-size:18px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; }
.style-type-container ul li { display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:226px; height:155px; margin:0 5px 15px; text-align:center; font-size:18px; border:1px solid #e2e2e2; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; }
.brand-type { width:180px; height:50px; display:block; margin:0 auto; }
.brand-type-title, .style-type-title { margin-top:10px; display:block; }
.brand-type-container a, .style-type-container a { text-decoration:none; color:#82888b; display: inline-block; }
.style-type-container ul li:hover { border: 1px solid #4d5057;}
.brand-type-container ul li:hover span.brand-type-title, .style-type-container ul li:hover span.style-type-title {color:#4d5057; font-weight: bold; }

/* budget-container and mileage-container */
.budget-container ul li, .mileage-container ul li { text-align: center; display: inline-block; *display:inline; *zoom:1; }
.budget-container ul li:hover a, .mileage-container ul li:hover a { color:#4d5057;}
.budget-container ul li a, .mileage-container ul li a { display:inline-block; *display:inline; *zoom:1; width:226px; height:155px; margin:0 5px 30px; text-align:center; background:#fff; color:#82888b; font-size:18px; border: 1px solid #e2e2e2; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; }
.budget-container ul li a span.budget-title-box , .budget-container ul li a span.budget-amount-box, .mileage-container ul li a span.mileage-title-box , .mileage-container ul li a span.mileage-amount-box { display:block; }
.budget-container ul li a:hover, .mileage-container ul li a:hover { border: 1px solid #4d5057; text-decoration:none; }
.budget-container ul li a span.budget-title-box, .mileage-container ul li a span.mileage-title-box { padding-top: 40px; padding-bottom: 5px; }

/* discover bikes */
.newbike-discover-bike-container { background-color: #fff; }
.newbike-discover-bike-container .jcarousel { width:934px; overflow:hidden; left:20px;}
.newbike-discover-bike-container .jcarousel .imageWrapper { width: 303px; }
.discover-bike-carousel .jcarousel li { width:303px; height:auto; margin-right:10px; }
.discover-bike-carousel .jcarousel li.front { border:none;}

/* tools you may required */
.tools-may-need-wrapper { background:#fff; }
.final-price-logo {  margin:0 auto; }
.final-price-search-container { margin:0 auto; width:750px; height: 45px; }
.final-price-search { min-width:420px; float: left; background: #fff; border: 1px solid #cccccc; border-right: 0; height: 45px; }
.final-price-bikeSelect { width:250px; height:45px; float:left; }
.final-price-bikeSelect input[type="text"] { width:250px; height: 43px; }
.final-price-city-area-container { width: 322px; height:45px; float:left; }
.final-price-citySelect { border-left:1px solid #ccc; height:44px; width:322px; float:left; }
.final-price-citySelect select { width: 321px; border: none; color:#555; height: 43px; }
.final-price-areaSelect { border-left:1px solid #ccc; height:44px; width:161px; float:left; }
.final-price-areaSelect select { width: 160px; border: none; color:#555; height: 43px; }

.locate-dealer-search-container, .calculate-emi-search-container { margin:0 auto; width:750px; height: 45px; }
.locate-dealer-search, .calculate-emi-tool-search { width:588px; float: left; background: #fff; border: 1px solid #cccccc; border-right: 0; height: 45px; }
.locate-dealer-bikeSelect { width:290px; height:45px; float:left; }
.locate-dealer-bikeSelect select { width:290px; height: 43px; color:#555; border: none; }
.locate-dealer-citySelect, .interest-rate-boxSelect { border-left:1px solid #ccc; height:44px; width:296px; float:left; }
.locate-dealer-citySelect select { width: 296px; border: none; color:#555; height: 43px; }
.get-final-price-btn, .locate-dealer-btn, .calculate-btn { float:left; }

.loan-amount-box, .interest-rate-boxSelect { width:293px; height:45px; float:left; }
.loan-amount-box input[type="text"], .interest-rate-boxSelect input[type="text"] { width:293px; height: 43px; }
