/* common classes */
.padding-14-20 {
    padding: 14px 20px;
}

.bg-listing {
    background: #f0f0f0;
}

/* photos-grid-list */
.photos-grid-list {
    padding: 2px 2px 4px;
    overflow: hidden;
}

.photos-grid-list li {
    float: left;
    height: 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.photos-grid-list.model-main-image {
    padding-top: 4px;
    padding-bottom: 0;
}

.photos-grid-list.model-main-image li:nth-child(1n+1) {
    width: 100%;
    height: 315px;
    padding-bottom: 0;
    text-align: center;
}

.main-image-container {
    width: 99.4%;
    background: #fff;
    margin: 0 auto;
}

.main-image-container img {
    width: auto !important;
    height: 315px;
}

/*
16:9 ratio padding
50/28.4     after padding   50/28.2
33.33/18.79 after padding   33.33/18.81
25/14.2     after padding   25/14.1
*/

.photos-grid-list li:nth-child(8n+1),
.photos-grid-list li:nth-child(8n+2),
.photos-grid-list li:nth-child(8n+3),
.photos-grid-list.photos-remainder-3 li,
.photos-grid-list.photos-remainder-5 li:nth-child(5n+3),
.photos-grid-list.photos-remainder-5 li:nth-child(5n+4),
.photos-grid-list.photos-remainder-5 li:nth-child(5n+5) {
    width: 33.33%;
    padding-bottom: 18.81%;
}

.photos-grid-list li:nth-child(8n+2),
.photos-grid-list.photos-remainder-3 li:nth-child(3n+2) {
    width: 33.34%;
}

.photos-grid-list li:nth-child(8n+5),
.photos-grid-list li:nth-child(8n+6),
.photos-grid-list li:nth-child(8n+7),
.photos-grid-list li:nth-child(8n+8),
.photos-grid-list.photos-remainder-4 li,
.photos-grid-list.photos-remainder-4 li:nth-child(4n+4),
.photos-grid-list.photos-remainder-6 li,
.photos-grid-list.photos-remainder-6 li:nth-child(6n+4),
.photos-grid-list.photos-remainder-7 li:nth-child(7n+4),
.photos-grid-list.photos-remainder-7 li:nth-child(7n+5),
.photos-grid-list.photos-remainder-7 li:nth-child(7n+6),
.photos-grid-list.photos-remainder-7 li:nth-child(7n+7) {
    width: 25%;
    padding-bottom: 14.1%;
}

.photos-grid-list li:nth-child(8n+4),
.photos-grid-list.photos-remainder-2 li,
.photos-grid-list.photos-remainder-5 li:nth-child(5n+1),
.photos-grid-list.photos-remainder-5 li:nth-child(5n+2),
.photos-grid-list.photos-remainder-6 li:nth-child(6n+5),
.photos-grid-list.photos-remainder-6 li:nth-child(6n+6),
.photos-grid-list.photos-remainder-7 li:nth-child(7n+1),
.photos-grid-list.photos-remainder-7 li:nth-child(7n+2),
.photos-grid-list.photos-remainder-7 li:nth-child(7n+3) {
    width: 50%;
    padding-bottom: 28.2%;
}

.photos-grid-list li:nth-child(16n+12),
.photos-grid-list.photos-remainder-7 li:nth-child(7n+3) {
    float: right;
}

.photos-grid-list li img {
    padding: 2px;
    width: 100%;
}

.photos-grid-list .black-overlay {
    width: 98.5%;
    height: 97.5%;
    top: 2%;
    left: 1%;
    background: rgba(0,0,0,0.6);
    line-height: 1.3;
    color: #fff;
}

.photos-grid-list:nth-of-type(3n+2) {
    padding-bottom: 0;
}
.photos-grid-list:nth-of-type(3n+3) {
    padding-top: 0;
}

/* videos */
.model-preview-image-container {
    max-width: 292px;
    height: 164px;
    display: table;
    text-align: center;
    border: 1px solid #e2e2e2;
}

.model-preview-image-container a {
    width: 292px;
    height: 164px;
    display: block;
    background: url('https://imgd4.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center center;
}

.model-preview-image-container a img {
    width: 100%;
    height: 164px;
}

/* photos */
.alternate-photos-swiper .card-desc-block {
    padding-top: 15px;
}

.model-jcarousel-image-preview {
    position: relative;
}

.black-overlay {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    background: rgba(0,0,0,0.4);
}

.black-overlay-content {
    display: table-cell;
    vertical-align: middle;
}

/* icons */
.photos-lg-white {
    width: 31px;
    height: 24px;
    background-position: -176px -153px;
}

/* generic model slug */
.model-grid-12-slug .grid-8 {
    width: 68.7%;
}

.model-grid-12-slug .grid-4 {
    width: 31.3%;
}

.model-grid-12-slug .model-image-target {
    width: 157px;
    height: 88px;
}

.model-image-target img {
    width: 100%;
}

.model-grid-12-slug .model-details-block {
    width: 74%;
    padding-left: 10px;
}

.model-grid-12-slug .used-target-label {
    width: 97%;
}

.price-label-size-14 {
    font-size: 14px;
    color: #82888b;
}

.price-value-size-18 {
    font-size: 18px;
    font-weight: bold;
}

.btn-180-34 {
    width: 180px;
    padding: 6px 10px;
    font-size: 14px;
}

/* item-more-details-list */
.item-more-details-list li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.item-more-details-list a {
    display: block;
    padding: 1px 10px 5px;
    color: #787878;
    background: rgba(245, 245, 245, 0.9);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.item-more-details-list a:hover {
    color: #fff;
    background: #54bbca;
    text-decoration: none;
}
.item-more-details-list .icon-label {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    line-height: 13px;
}

/* key specs */
.key-specs-list li {
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
}
.key-specs-list li:before {
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 0;
    border-left: 1px solid #ecedee;
}
.key-specs-list li:first-child {
    padding-left: 0;
}
.key-specs-list li:first-child:before {
    border-left: 0;
}
.key-specs-list li,
.key-specs-list span {
    display: inline-block;
    vertical-align: middle;
}

/* key specs */
.capacity-sm, .mileage-sm, .power-sm, .weight-sm {
    width: 16px;
    height: 14px;
    margin-right: 5px;
}
.capacity-sm {
    background-position: -136px -153px;
}
.mileage-sm {
    background-position: -154px -153px;
}
.power-sm {
    background-position: -136px -169px;
    margin-right: 2px;
}
.weight-sm {
    background-position: -154px -169px;
}

/* generic icons */
.reviews-sm,
.news-sm,
.specs-sm {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 3px;
}
.reviews-sm {
    background-position: -136px -187px;
}
.news-sm {
    background-position: -136px -203px;
}
.specs-sm {
    background-position: -136px -219px;
}

.item-more-details-list a:hover .reviews-sm {
    background-position: -152px -187px;
}

.item-more-details-list a:hover .news-sm {
    background-position: -152px -203px;
}

.item-more-details-list a:hover .specs-sm {
    background-position: -152px -219px;
}

.item-more-details-list a:hover .photos-sm {
    background-position: -152px -236px;
}

.item-more-details-list a:hover .videos-sm {
    background-position: -152px -251px;
}

#modelVideosContent h2 {
    margin-bottom: 20px;
}

.photos-grid-list .black-overlay {
    display: block;
    padding-top: 18%;
}

.alternate-photos-swiper .black-overlay {
    display: block;
    padding-top: 25%;
}

/* popup gallery */
.gallery-container {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #2a2a2a;
    overflow-y: hidden;
}

#gallery-close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background-position: -56px -194px;
}

/* gallery-header */
.gallery-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.gallery-header .gallery-title {
    font-size: 18px;
    padding-top: 15px;
    padding-left: 20px;
}

/* horizontal-tabs */
.horizontal-tabs-wrapper {
    border-bottom: 1px solid #82888b;
    overflow: hidden;
}

.horizontal-tabs-wrapper li {
    float: left;
    padding: 12px 20px;
    font-size: 14px;
    color: #82888b;
    cursor: pointer;
}

.horizontal-tabs-wrapper li.active {
    border-bottom: 3px solid #ef3f30;
    color: #fff;
    font-weight: bold;
    cursor: default;
    pointer-events: none;
}

/* gallery-body */
.gallery-body {
    width: 100%;
    height: 100%;
    padding-top: 90px;
}

/* gallery-footer */
.footer-tabs-wrapper {
    width: 976px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 6px #999;
}

.footer-tab {
    cursor: pointer;
    text-align: center;
    float: right;
    padding: 15px 25px;
    line-height: 0;
    position: relative;
}

.footer-tab:after {
    content: '';
    width: 1px;
    height: 30px;
    border-left: 1px solid #e2e2e2;
    position: absolute;
    left: 0;
    top: 10px;
}

.tab-active .footer-tab:after,
.footer-tab:hover:after {
    content: none;
}

.tab-active,
.footer-tab:hover {
    background: #41b4c4;
    color: #fff;
}

/* gallery icons */
.grid-icon,
.color-palette,
.info-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.grid-icon {
    background-position: -159px -616px;
}

.tab-active .grid-icon,
.footer-tab:hover .grid-icon {
    background-position: -159px -639px;
}

.color-palette {
    background-position: -182px -616px;
}

.tab-active .color-palette,
.footer-tab:hover .color-palette {
    background-position: -182px -639px;
}

.info-icon {
    background-position: -205px -616px;
}

.tab-active .info-icon,
.footer-tab:hover .info-icon {
    background-position: -205px -639px;
}

/* gallery */
.gallery-swiper .jcarousel-wrapper {
    width: 100%;
}

.gallery-swiper .jcarousel li {
    width: 960px;
    height: 549px;
    background: transparent;
    display: table;
    text-align: center;
    position: relative;
    margin-right: 0;
}

.gallery-swiper .jcarousel div {
    width: 960px;
    height: 549px;   
    transform: scale(0.8);
    transition: transform 0.2s; 
    background: transparent;
    display: table-cell;
    vertical-align: middle;
    /*opacity: 0.4;*/
}

.gallery-swiper .jcarousel .prev-sibling div {
    position: absolute;
    right: -100px;
}

.gallery-swiper .jcarousel .next-sibling div {
    position: absolute;
    left: -100px;
}

.gallery-swiper .jcarousel .target div {
    transform: scale(1);
    opacity: 1;
}

.gallery-swiper .jcarousel div img {
    width: auto;
    height: auto;
}

.gallery-swiper .jcarousel-control-prev,
.gallery-swiper .jcarousel-control-next {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 39%;
}

.gallery-swiper .jcarousel-control-prev {
    left: 125px;
}

.gallery-swiper .jcarousel-control-next {
    right: 125px;
}

@media only screen and (max-width:1024px) {
    .model-grid-12-slug .model-details-block {
        width: 72%;
    }
}

#imageFlow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 14%;
    overflow: hidden;
    background: #2a2a2a;
}
#imageFlow .diapo {
    position: absolute;
    left: -4000px;
    cursor: pointer;
    -ms-interpolation-mode: nearest-neighbor;
}
#imageFlow .text {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 40%;
    text-align: center;
    z-index: 1000;
}
#imageFlow .title {
    display: none;
    font-size: 0.9em;
    font-weight: bold;
}
#imageFlow .legend {
    display: none;
    font-size: 0.8em;
}
#imageFlow .scrollbar {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 16px;
    z-index: 1000;
}
#imageFlow .track {
    position: absolute;
    left: 1%;
    width: 98%;
    height: 10px;
    -moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#imageFlow .arrow-left {
    position: absolute;
}
#imageFlow .arrow-right {
    position: absolute;
    right: 0px;
}
#imageFlow .bar {
    position: absolute;
    height: 10px;
    left: 0;
    width: 100px;
    -moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.diapo {
	opacity: 1;
}

.diapo.current {
	opacity: 1;
}