.cd-tbl th{color:#858585; font-weight:normal; text-align:left; padding:4px 0;}
.cd-tbl td{padding:4px 0;}	
.std-features{width:200px; float:left; margin-right:5px;}
.bike-color{display:inline-block; width:20px; height:15px; -moz-border-radius:5px;}

/*************** Used bike comparision **********************/
.comp_sel{background-color:#e8e9ed; text-align:center; padding:10px 0 0 9px;}
.freeze_row{background-color:#F6F6F6; border:1px solid #e4e4e4;}
#selectedCompare{margin-top:10px; border:1px solid #e4e4e4;} 
.scs{position:absolute; z-index:10001; background-color:#fff; box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.7); width:962px; border:1px solid #e4e4e4; zoom:1;}   
.ulcomp{list-style:none; margin:0; padding:0;}
.ulcomp li{float:left; height:75px; border-right:1px solid #e4e4e4; padding: 3px 3px 5px 8px; width:165px;}
.ulcomp li span{display:block; font-size:11px; line-height:18px;}
.ulcomp li.btn{color:#fff; border-right:0; vertical-align:middle; width:75px!important;}
.ulcomp li.btn div{padding:20px 0 0 10px;}
.ulcomp li.label{background-color:#666666; color:#fff; width:130px;}
.ulcomp li.label span{margin-top:20px; font-size:14px;}
/*************** END : Used bike comparision **********************/

.filter{background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/chkbox.gif) no-repeat; color:#4D4D4D!important; text-decoration:none!important; padding:2px 0 2px 23px;}
.checked_grey{background-position:-20px -206px; height:16px; width:16px; padding:0!important;}
.unchecked_grey{background-position:-20px -253px; height:16px; width:16px; padding:0!important;}
.close_comp{background-position:-18px -300px; float:right; height:14px; padding:1px 0 1px 16px!important;}
/* body style */

/*  */
.scrollable-img{margin-top:20px; border:1px solid #E6E6E6; padding:15px; background-color:#3C3C3C; color:#fff;}
.scrollable{position:relative; overflow:hidden; width: 280px; height:215px;}
.scrollable .items{width:20000em; position:absolute; clear:both;}	
.items div{float:left; width:290px;}
.items img{margin:2px; vertical-align:middle;}	
.scrollable .active {border:2px solid #fff; position:relative; cursor:default;}	/* active item */
.scrollable-navi{width:273px; background-color:#4D4D4D; padding:2px; margin-top:2px;}
.img-desc{width:290px; background-color:#4D4D4D; padding:5px; color:#fff; font-size:11px;}
.img-desc a{color:#fff; text-decoration:underline;}
#img_description{color:#CBCBCB;}
/* prev, next, prevPage and nextPage buttons */
a.browse {background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/hori-large.png) no-repeat; display:block; width:30px; height:30px; float:left; cursor:pointer; font-size:1px; margin-left:5px;}
/* right */
a.right{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover{ background-position:-30px -30px; }
a.right:active{ background-position:-60px -30px; } 
/* left */
a.left{ margin-left:0px; } 
a.left:hover{ background-position:-30px 0; }
a.left:active{ background-position:-60px 0; }
.navi {	width:180px; float:left; margin-top:10px;}/* position and dimensions of the navigator */
.navi a {width:8px; height:8px; float:left; margin:3px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/navigator.png) 0 -16px no-repeat; display:block; font-size:1px;}/* items inside navigator */
.navi a:hover{background-position:0 -8px;}/* mouseover state */
.navi a.active {background-position:0 0;}/* active state (current page state) */
/* disabled navigational button */
a.disabled {visibility:hidden !important;}		
.img_thumb{width:85px; height:65px; display:inline-block; border:1px solid #4D4D4D; margin:0 4px 4px 0; }
.thumb_preview{float:left; width:300px; height:225px; background-color:#4D4D4D; }
.thumb_navi{float:left; width:270px; margin-left:15px;}
/* Next Step */
.next-step{background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/next-step.gif) no-repeat; float:left; display:inline-block; width:40px; height:35px;}
.bookmark{background-position:-20px -22px;}
.bookmarked{color:#FFC23A;}
.view-all{background-position:-60px -20px;}
.new-search{background-position:-105px -20px;}
.reviews{background-position:-155px -20px;}
.valuation{background-position:-200px -20px;}
.pq{background-position:-245px -20px;}
.get-loan{background-position:-285px -20px;}
.ins-quote{background-position:-343px -20px;}

.ul-next{list-style:none;}
.ul-next li{font-size:16px; vertical-align:text-top;width:300px; height:35px;}
.ul-next li a{color:#445566; text-decoration:none;}

.ul-tick-chk{font-size:12px; list-style:none;}
.ul-tick-chk li{background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/tick-chk.png) no-repeat top left; padding:5px 0 5px 20px; background-position:0 3px;}

.ul-normal li{border-top:1px dashed #EBEBEB; padding:10px 0;}
/*
    ColorBox Core Style; The following rules are the styles that are consistant between themes. Avoid changing this area to maintain compatability with future versions of ColorBox.       
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
#cboxOverlay{background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/overlay.png) 0 0 repeat;}
#colorbox{}
#cboxTopLeft{width:21px; height:21px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/controls.png) -100px 0 no-repeat;}
#cboxTopRight{width:21px; height:21px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/controls.png) -129px 0 no-repeat;}
#cboxBottomLeft{width:21px; height:21px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/controls.png) -100px -29px no-repeat;}
#cboxBottomRight{width:21px; height:21px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/controls.png) -129px -29px no-repeat;}
#cboxMiddleLeft{width:21px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/controls.png) left top repeat-y;}
#cboxMiddleRight{width:21px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/controls.png) right top repeat-y;}
#cboxTopCenter{height:21px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/border.png) 0 0 repeat-x;}
#cboxBottomCenter{height:21px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/border.png) 0 -29px repeat-x;}
#cboxContent{background:#fff;}
#cboxLoadedContent{margin-bottom:28px;}
#cboxTitle{position:absolute; bottom:3px; left:0; text-align:center; width:100%; color:#949494;}
#cboxCurrent{position:absolute; bottom:3px; left:58px; color:#949494;}
#cboxSlideshow{position:absolute; bottom:3px; right:30px; color:#0092ef;}
#cboxPrevious{position:absolute; bottom:0; left:0px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
#cboxPrevious.hover{background-position:-75px -25px;}
#cboxNext{position:absolute; bottom:0; left:27px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
#cboxNext.hover{background-position:-50px -25px;}
#cboxLoadingOverlay{background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/loading-background.png) center center no-repeat;}
#cboxLoadingGraphic{background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/load.gif) center center no-repeat;}
#cboxClose{position:absolute; bottom:0; right:0; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
#cboxClose.hover{background-position:-25px -25px;}

.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/borderMiddleRight.png, sizingMethod='scale');}

/* text to show note */
.note {font-size:11px;}