@using Carwale.Utility;

<section class="container margin-bottom20 aged-car-faq-section">
    <div class="grid-12">
        <h2 class="text-uppercase text-center margin-top10 margin-bottom20 font25 text-black">Frequently Asked Questions</h2>
        <div id="faqs" class="clear rounded-corner2 border-solid content-inner-block-10 margin-bottom15 bg-white">

            <h2 class="font18 text-bold padding-bottom10">About CarWale Advantage</h2>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        What is CarWale Advantage?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        CarWale Advantage is an exclusive programme only for CarWale users which gives them special advantages when they connect with the dealer for their car through CarWale. Through our relationships with more than 1,000 new car dealer outlets across India, we offer exclusive benefits for our users in the form of special savings, complete transparency on prices, assured availability, and more.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        How do I buy a CarWale Advantage car?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Buying a CarWale Advantage car is very simple.
                    </p>
                    <ul>
                        <li>
                            1. Select the particular variant and colour that you are interested in. There may be limited variants and colours available for some cars.
                        </li>
                        <li>
                            2. Enter your contact details to connect with the brand authorized dealer who has that particular stock.
                        </li>
                    </ul>


                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Within a short time, the dealer will re-confirm the availability of the car set up an appointment and for you to test drive the car and complete the rest of the formalities at your convenience.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Is this a new car? Or is it a test drive car / showroom display car / used car?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        All the cars displayed under CarWale Advantage are 100% brand new. They have not been driven as test drive cars. When the car is delivered to you, it will be brand new and you will be the first owner of this car.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Do these cars have any kind of defect?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        These cars have no defects whatsoever and are all certified for their quality by the manufacturer. They are absolutely new cars and come with the same warranty and service terms as any other car from the brand.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Are the features / specifications / equipment different on these cars? Have they been modified?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        These are all brand new cars and they come with the exact same features / specifications / equipment as supplied by the brand. They have not been modified in any way. We also display the top features of each car up front for you, so you know exactly what you will be getting.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        What is the warranty applicable on these cars?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        These are all brand new cars and they come with the exact same warranty as provided by the brand. The exact warranty duration is mentioned online for each and every car.
                    </p>
                </div>
            </div>

            <div class="border-solid-top padding-bottom10 margin-top10"></div>

            <h2 class="font18 text-bold padding-bottom10">Connecting with the Dealer </h2>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        How can I connect with the right Dealer?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Connecting with the dealer is easy. Just choose your car, choose your variant and colour, and click on “Get this offer”. If you are interested in multiple cars, give your details for each car that you are interested in. This is because different cars would be available with different dealers around the city.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Is CarWale giving the offer or the dealer?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        CarWale has set up an online platform to accept enquiries on behalf of dealers. Your enquiry is placed with a brand authorised dealership in your city.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Is there any compulsion to buy the car if I enquire for it?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Absolutely not. You can enquire for as many cars as you like and speak to the Dealer regarding the offer. If you are not convinced about the deal, you need not go ahead with the purchase.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Which dealer has the stock that I am interested in? Can I choose? Why don’t you tell me the name of the dealer upfront?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Once you complete your enquiry online, our system automatically sends your enquiry to a brand authorised dealer in your city who has signed up with us for the CarWale Advantage programme. In order to maximise benefits to our users, the system assigns your enquiry to that dealer who has that particular car available and is offering the best advantages at that time. Hence you cannot choose your dealer yourself nor can we tell you which dealer will be chosen in advance.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        What happens if the dealer who has my choice of car is far away from my location?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Most partner dealers will be happy to meet you at your home or office to provide you test drive and process booking formalities including for the car loan if you need one. And once the car is delivered to you, you can take it to any authorised service centre of your choice for service and warranty. Still if you prefer not to buy from that dealership, there is no compulsion to do so.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Which name and number should I mention while enquiring? 
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        You should put in your own name and number. This number is only used to contact you by the dealer. In case you decide to buy the car, the actual booking name and number can be specified to the dealership sales executive when they meet you to complete your booking formalities.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Can I enquire for a car in a different city?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Cars can only be registered for addresses within the city that you are buying in. You cannot buy a car from a dealer in one city for registration / delivery in another city. We would strongly suggest to   choose the city in which you wish to buy the car. E.g. If you live in Delhi and wish to buy a car in Mumbai, then you should enquire for cars in Mumbai.
                        <br>At present, CarWale Advantage is available only in selected cities.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        What if I need a loan?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Dealerships will assist you with the entire application process and also help you chose a loan plan to suit your needs.
                    </p>
                </div>
            </div>

            <div class="border-solid-top padding-bottom10 margin-top10"></div>

            <h2 class="font18 text-bold padding-bottom10">Availability and other Timelines</h2>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        How long does registration and delivery take for ex-stock / in-stock / immediate delivery cars?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Most dealers will be able to arrange registration and delivery within 5 days from receiving 100% payment for the car. However this may change on a case to case basis.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Can I be assured of immediate availability as mentioned online?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Yes. Once the dealer has confirmed the availability of the car, the car will be available immediately, subject to making 100% payment for the car. If you are applying for a loan, then registration and delivery formalities can commence only after your loan is approved.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        How long does the loan approval take?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Most banks usually take 7 days to approve a loan after your completed application is submitted. However this may change on a case to case basis.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Do I need to visit the dealership for delivery? Can I get delivery at home?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Some dealers may be able to arrange delivery of the car at your home. However we suggest you experience the joy of taking delivery of your new car at the dealership and driving it home yourself.
                    </p>
                </div>
            </div>

            <div class="border-solid-top padding-bottom10 margin-top10"></div>

            <h2 class="font18 text-bold padding-bottom10">Finance and Insurance</h2>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        I need a loan. Can I get a loan on this car?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Yes. All CarWale Advantage cars are also available on a loan option. Our dealer partner will assist you with the entire application process and also help you customise the loan plan to suit your needs.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        What if I want to take the loan from my own bank?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        You can avail of the loan from any bank of your choice. Please note that if you are arranging your own loan then you will need to ensure that your bank releases the entire loan amount to the dealership before they proceed with the registration of the car.
                    </p>
                </div>
            </div>

            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        What if the benefits include a low EMI / low interest rate / EMI holiday / other loan scheme? Can I arrange my own loan and avail a further discount on the cost of the car?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        No. Special finance schemes cannot be swapped for further savings on the price of the car. If you are opting for a loan, we strongly urge you to take advantage of these finance offers to maximise your benefits.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Will the dealer also help with insurance?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Yes the dealer will arrange the necessary insurance as well. The dealership can also offer you multiple insurance plans to choose from. The price displayed includes the premium to be paid for comprehensive insurance for the first year.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        What if I wish to purchase my own insurance?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        You are free to purchase the insurance on your own as well. In this case the insurance premium amount that was included in the on-road price of the car will be reduced and the balance is payable to the dealer. Please note that you will need to purchase the insurance and provide a copy of the cover note to the dealership before they can deliver the car to you.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        What if the benefits include free insurance? Can I arrange my own insurance and avail a further discount on the cost of the car?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        No. Free insurance offers cannot be swapped for further savings on the price of the car. We strongly urge you to take advantage of any free insurance offer to maximise your benefits.
                    </p>
                </div>
            </div>

            <div class="border-solid-top padding-bottom10 margin-top10"></div>

            <h2 class="font18 text-bold padding-bottom10">Documentation</h2>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        What documents do I need to buy a car?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        You will need to provide the following documents:
                        <ul>
                            <li>a) PAN Card</li>
                            <li>b) Proof of identity</li>
                            <li>c) Proof of residence</li>
                        </ul>

                    </p>
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        The dealership will assist you with the full list of documents accepted.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        What documents do I need for the loan?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        You will need to provide the following documents:
                        <ul>
                            <li>a) PAN Card</li>
                            <li>b) Proof of identity</li>
                            <li>c) Proof of residence</li>
                            <li>d) Salary statements or 3 years IT returns</li>
                            <li>e) 6 months bank statements</li>
                        </ul>

                    </p>
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        The dealership will assist you with the full list of documents accepted.
                    </p>
                </div>
            </div>


            <div class="border-solid-top padding-bottom10 margin-top10"></div>
            <h2 class="font18 text-bold padding-bottom10">Delays and Problems</h2>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        The dealership has not called me yet. What shall I do?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        We are sorry about the delay in contacting you. Please call us at our toll free number 1800-209-0230. We will take it up with the dealership immediately.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        The dealership is quoting a different price / some other terms of the offer displayed to me. What shall I do?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        We are sorry about the confusion being caused. Please call us at our toll free number 1800-209-0230.We will check what the issue and give you the offer shown on the platform online, as long as stock is available.
                    </p>
                </div>
            </div>

            <div class="border-solid-top padding-bottom10 margin-top10"></div>
            <h2 class="font18 text-bold padding-bottom10">Others</h2>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        I wish to exchange my current car while buying this car. Can I do this?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Yes. The dealership will inspect your current car and provide a buy back price for your car. This amount will be reduced from the on-road price displayed and you only need to pay the balance amount to them.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Can I buy accessories for the car? Can these be fitted before delivery?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        The dealership can provide you with the complete list of approved accessories for the car you are buying. Once you have selected the accessories, the dealership can also have them fitted before delivery depending on their availability. Please note that the on-road price displayed on CarWale includes only standard fitments and does not include any accessories. The price for these accessories will need to be paid to the dealership separately.
                    </p>
                </div>
            </div>
            <div class="text-black box rounded-corner2 accordion">
                <h3 class="stepStrip">
                    <span class="faq-ques">
                        Can I buy extended warranty and service plans?
                    </span>
                    <span class="icon plus-minus"><span class="fa fa-plus"></span></span>
                </h3>
                <div class="hide faq-details">
                    <p class="padding-left10 padding-right10 padding-bottom5 font14 text-grey line-height rounded-corner5">
                        Yes, you can opt for extended warranty plans and service plans that are available from the manufacturer or dealer. Please note that the on-road price displayed on CarWale includes only standard warranty and does not include any extended warranty or service plans, unless indicated otherwise. The price for these plans will need to be paid to the dealership separately.
                    </p>
                </div>
            </div>


        </div>
    </div>
    <div class="clear"></div>
</section>
<div class="clear"></div>

