{
	"presets": [
		["env",{
			"targets": {
				"browsers": ["safari >= 7"]
			},
			"useBuiltIns":true,
			"modules":false
		}],
		"react",
		"stage-2"
	],
	"env": {
		"test": {
		  "presets": ["env", "stage-2", "react"]
		}
	}
}