@*@model Bikewale.Models.VideoDetailsPageVM*@

<!DOCTYPE html>
@{
    var StaticUrl = Bikewale.Utility.BWConfiguration.Instance.StaticUrl;
    var ManifestJsUrl = "/UI/pwa/js/manifest.bundle.js";
    var VendorJsUrl = "/UI/pwa/js/vendor.bundle.js";
    var AppJsUrl = "/UI/pwa/js/app.bundle.js";
    var FinanceJsUrl = "/UI/pwa/js/financeBundle.bundle.js";
    var BwcacheJsUrl = (!String.IsNullOrEmpty(StaticUrl) ? StaticUrl : "") + "/UI/src/bwcache.js?" + Bikewale.Utility.BWConfiguration.Instance.StaticFileVersion;
        
}
<html lang="en">
<head>
</head>
<body>
    
    @Html.Raw(Model.ServerRouterWrapper)
    @{Html.RenderPartial("/UI/Views/Shared/_ServiceWorkerScript.cshtml");}

</body>
</html>


