.padding-15-20 {
    padding: 15px 20px;
}

.dealer-details a:hover {
    text-decoration: none;
}

.pos-top-3 {
    top: 3px;
}

.featured-tag {
    width:74px;
    text-align: center;
    background:#3799a7;
    font-size: 12px;
    color: #fff;
    line-height:20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.dealership-details {
    width: 92%;
}

.vertical-top {
    display: inline-block;
    vertical-align: top;
}

.location-details {
    display: none;
}

/* floating buttons */
.btn-green {
    background: #1b9618;
    color: #fff;
    border: 1px solid #1b9618;
}

.float-button .btn {
    padding: 8px 0;
    font-size: 18px;
}

.float-button a:hover {
    text-decoration: none;
}

/* icons */
.dealership-loc-icon {
    width:10px;
    height:14px;
    background-position:-40px -436px;
    position:relative;
    top:4px;
    margin-right: 3px;
}

.star-white {
    width: 8px;
    height: 8px;
    background-position: -174px -447px;
    margin-right: 4px;
}

.tel-sm-grey-icon {
    width: 10px;
    height: 10px;
    background-position: 0 -437px;
    position: relative;
    top: 5px;
    margin-right: 3px;
}

.mail-grey-icon {
    width: 15px;
    height: 10px;
    background-position: -19px -437px;
    position: relative;
    top: 6px;
}

.crosshair-icon {
    width: 20px;
    height: 20px;
    background:url(https://imgd1.aeplcdn.com/0x0/bw/static/sprites/d/detect-location-icon.png) no-repeat;
}

.clock-icon {
    width: 14px;
    height: 14px;
    background-position: -159px -462px;
    position: relative;
    top: 4px;
    margin-right:4px;
}

.get-direction-icon {
    width: 12px;
    height: 10px;
    background-position: -31px -421px;
}

/* model-available-list */
#model-available-list li {
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
    padding-bottom: 15px;
}

#model-available-list li:first-child {
    border-top: 0;
}

.image-block {
    width: 100%;
    height: 163px;
    line-height: 0;
    display: table;
    text-align:center;
    margin-bottom: 15px;
}

.image-block .image-content {
    display: table-cell;
    vertical-align: middle;
}

.image-block img {
    width: 290px;
    max-width: 100%;
}

.text-truncate {
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (max-width:320px) {
    .location-details {
        font-size: 13px;
    }
}

/* get offers popup */
#leadCapturePopup.bwm-fullscreen-popup {
    padding: 30px 30px 100px;
}

#leadCapturePopup .errorIcon,
#leadCapturePopup .errorText,
#otpPopup,
.update-mobile-box,
.otp-notify-text {
    display: none;
}
.otp-icon {
    width: 29px;
    height: 29px;
    background-position: -109px -177px;
}
.edit-blue-icon {
    width: 20px;
    height: 20px;
    background-position: -114px -122px;
}
#otpPopup .otp-box p.resend-otp-btn {
    color: #0288d1;
    cursor: pointer;
    font-size: 14px;
}

/* input field */
input[type="text"]:focus, input[type="number"]:focus { outline:none; box-shadow: none; }
.input-box { height:60px; text-align: left; }
.input-box input { width: 100%; display:block; padding: 7px 0; border-bottom:1px solid #82888b; font-weight: bold; color: #4d5057; }
.input-box label { position: absolute; top: 4px; left: 0; font-size:16px; color: #82888b; -webkit-transition:0.2s ease all; -moz-transition:0.2s ease all; -o-transition:0.2s ease all; transition:0.2s ease all; }
.input-number-box input { padding-left: 25px; }
.input-number-prefix { display:none; position: absolute; top: 7px; font-weight: bold; color: #82888b; }
.boundary { position: relative; width: 100%; display: block; }
.boundary:before, .boundary:after { content: ''; position: absolute; bottom: 0; width: 0; height: 2px; background-color: #41b4c4; -webkit-transition:0.2s ease all; -moz-transition:0.2s ease all; -o-transition:0.2s ease all; transition:0.2s ease all; }
.boundary:before { left:50%; }
.boundary:after { right:50%; }
.error-text { display:none; font-size:12px; position: relative; top: 4px; left: 0; color: #d9534f; }
/* on focus */
.input-box input:focus ~ label { top:-14px; font-size:12px; }
.input-box.not-empty label { top:-14px; font-size:12px; }
.input-box.input-number-box input:focus ~ .input-number-prefix, .input-box.input-number-box.not-empty .input-number-prefix { display:inline-block; }
.input-box input:focus ~ .boundary:before, .input-box input:focus ~ .boundary:after, .select-box.invalid .boundary:before, .select-box.invalid .boundary:after { width: 50%; } 
/* validation */
.input-box.invalid .boundary:before, .input-box.invalid .boundary:after, .select-box.invalid .boundary:before, .select-box.invalid .boundary:after { background-color: #d9534f; width:50%; }
.input-box.invalid .error-text { display:inline-block; }

.btn-fixed-width {
    padding-right: 0;
    padding-left: 0;
    width: 205px;
}