.collapsible-content .main-content {
    display: inline;
}
.collapsible-content .more-content {
    display: none;
}
.collapsible-content.active .more-content {
    display: inline;
}

/* dealer listing */
#dealersList {
    padding: 0 20px 20px;
}

#dealersList li {
    border-top: 1px solid #e2e2e2;
    padding-top: 15px;
    margin-top: 20px;
    font-size: 14px;
}

#dealersList li:first-child {
    border-top: 0;
    margin-top: 0;
}

#dealersList a {
    display: block;
}

#dealersList a:hover {
    text-decoration: none;
}

.featured-tag {
    width: 74px;
    text-align: center;
    background: #3799a7;
    margin-bottom: 5px;
    z-index: 1;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.dealership-details {
    width: 92%;
}

.leadcapturebtn.btn {
    font-size: 14px;
    padding: 9px 21px;
}

/* icons */
.dealership-loc-icon {
    margin-right: 3px;
}

.star-white {
    width: 12px;
    height: 12px;
    background-position: -172px -447px;
    margin-right: 4px;
    position: relative;
    top: 2px;
}

/* popular bikes */
.card-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-container .swiper-slide {
    width: 200px;
}

.swiper-card a:hover {
    text-decoration: none;
}

.swiper-image-preview {
    height: 95px;
    padding: 5px 5px 0;
}

.swiper-image-preview img {
    height: 90px;
}

.padding-10-15 {
    padding: 10px 15px;
}

.btn-card {
    padding: 6px;
    overflow: hidden;
}

.bw-horizontal-swiper.card-container .swiper-slide {
    width: 308px;
}

.bw-horizontal-swiper .swiper-card {
    width: 308px;
    font-size: 14px;
    min-height: 140px;
}

.bw-horizontal-swiper .swiper-card a {
    display: block;
    padding: 15px 10px 10px;
}

.edit-blue {
    width: 16px;
    height: 16px;
    background-position: -83px -257px;
    position: relative;
    top: 3px;
}

/* map type carousel */
.map-type-carousel .swiper-slide, .map-type-carousel .swiper-card {
    width: 200px;
    min-height: 110px;
}

.map-type-carousel .city-map {
    width: 100%;
    height: 75px;
    display: table;
    pointer-events: none !important;
}

.map-type-carousel .swiper-details-block {
    padding-bottom: 12px
}

@media only screen and (max-width: 420px) {
    .change-text {
        display: block
    }
    .dealer-heading {
        width: 80%;
    }
    .edit-blue {
        left: 3px;
    }
}

.dealer-location-img{
    width:200px;
    height:75px;
    display: block;
    background-color: rgb(229, 227, 223);
    background-size: cover;
    background-position: center center;
}

@media only screen and (max-width: 320px) {
    .bw-horizontal-swiper.card-container .swiper-slide {
        width: 275px;
    }

    .bw-horizontal-swiper .swiper-card {
        width: 275px;
    }
}

/* used bikes */
.used-swiper .swiper-card {
    min-height: 190px
}

.used-swiper .swiper-image-preview {
    width: 100%;
    height: 110px;
    padding: 5px 5px 0;
    display: table;
    text-align: center;
}

.used-swiper .image-thumbnail {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.used-swiper .swiper-image-preview img {
    height: 101px;
}

.used-swiper .swiper-details-block {
    padding: 5px 10px 10px;
}

/* city */
.city-sprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-city-sprite-v2.png?v07Oct2016) no-repeat;
    display: inline-block;
}
.c-mumbai-icon,
.c-pune-icon,
.c-bangalore-icon,
.c-newdelhi-icon,
.c-chennai-icon,
.c-hyderabad-icon,
.c-kolkata-icon,
.c-lucknow-icon {
    height: 48px;
}
.c-mumbai-icon {
    width: 78px;
    background-position: 0 0;
}
.c-pune-icon {
    width: 112px;
    background-position: -84px 0;
}
.c-bangalore-icon {
    width: 82px;
    background-position: -202px 0;
}
.c-newdelhi-icon {
    width: 38px;
    background-position: -290px 0;
}
.c-chennai-icon {
    width: 33px;
    background-position: -334px 0;
}
.c-hyderabad-icon {
    width: 34px;
    background-position: -373px 0;
}
.c-kolkata-icon {
    width: 110px;
    background-position: -413px 0;
}
.c-lucknow-icon {
    width: 106px;
    background-position: -529px 0;
}

.swiper-city .swiper-image-preview {
    height: 100px;
    padding: 25px 0 10px;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.service-center-grey {
    width: 28px;
    height: 25px;
    background-position: 0 -636px;
    vertical-align: middle;
}

.dealer-grey{
    width: 26px;
    height: 24px;
    background-position: -32px -638px;
     vertical-align: top;
}


.grid-11-inline {
    display: inline-block;
    vertical-align: middle;
}
.grid-11-inline {
    width: 88.66666667%;
}

.swiper-card{
    min-height: 165px;
}

/*Brands css*/
.brand-type-carousel .swiper-slide,
.brand-type-carousel .swiper-card {
    width: 200px;
    min-height: 110px;
}
.brand-type-carousel a {
    display: block;
}
.brand-type-carousel .brand-logo-image {
    width: 100%;
    height: 50px;
    line-height: 0;
    display: table;
    text-align: center;
}
.brand-type-carousel .brand-type {
    display: table-cell;
    vertical-align: middle;
}
.brand-type-carousel .swiper-details-block {
    padding-bottom: 12px;
}
