.collapsible-content .main-content {
    display: inline;
}
.collapsible-content .more-content {
    display: none;
}
.collapsible-content.active .more-content {
    display: inline;
}

/* input box */
.form-control-box .search-icon-grey {
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
    z-index:2;
    background-position:-34px -275px;
}

.form-control-box .fa-spinner {
    display:none;
    right:14px;
    top:12px;
    z-index:3;
}

/* state-city */
#location-list .item-state {
    border-top:1px solid #f1f1f1;
}

#location-list .item-state:first-child {
    border-top:0;
}

#location-list a {
    color:#4d5057;
    font-size:14px;
    display:block;
    padding-top:13px;
    padding-bottom:13px;
}

#location-list li .type-state:hover {
    color: #2a2a2a;
    text-decoration: none;
}

#location-list .type-state {
    font-size: 16px;
}

#location-list .type-state.active {
    padding-bottom: 8px;
}

.location-list-city {
    display: none;
}

#location-list .location-list-city a {
    color: #82888b;
    padding-top: 9px;
    padding-bottom: 9px;
}

#location-list .location-list-city a:hover {
    color: #4d5057;
    text-decoration: none;
}

#no-result {
    display: none;
    font-size: 16px;
    padding: 13px 0;
    color: #82888b;
}

.text-truncate {
    width:100%;
    text-align:left;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

/* brand carousel */
.brand-type-carousel .swiper-slide, .brand-type-carousel .swiper-card {
    width: 200px;
    min-height: 110px;
}
.brand-type-carousel .brand-logo-image{
    width : 100%;
    height: 50px;
    line-height: 0;
    display: table;
    text-align: center;
}
.brand-type-carousel .brand-type {
    display: table-cell;
    vertical-align: middle;
}

.brand-type-carousel .swiper-details-block {
    padding-bottom: 12px;
}

.brandlogosprite {
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/brand-type-sprite.png?18Dec20171513599310542') no-repeat;
	display: inline-block;
}
.brand-2, .brand-1, .brand-40, .brand-3, .brand-4, .brand-11, .brand-20, .brand-5, .brand-39, .brand-6, .brand-7, .brand-8, .brand-34, .brand-17, .brand-9, .brand-19, .brand-10, .brand-12, .brand-22, .brand-15, .brand-16, .brand-13, .brand-14, .brand-41, .brand-42, .brand-81, .brand-71, .brand-23, .brand-72, .brand-73, .brand-74, .brand-75 { height:30px; }
.brand-2 { width: 52px; background-position: 0 0; }.brand-7 { width: 34px; background-position: -58px 0; }
.brand-1 { width: 53px; background-position: -97px 0; }.brand-8 { width: 60px; background-position: -156px 0; }
.brand-12 { width: 40px; background-position: -222px 0; }.brand-40 { width: 75px; background-position: -268px 0; }
.brand-34 { width: 73px; background-position: -349px 0; }.brand-22 { width: 73px; background-position: -428px 0; }
.brand-3 { width: 26px; background-position: -507px 0; }.brand-17 { width: 52px; background-position: -539px 0; }
.brand-15 { width: 71px; background-position: -597px 0; }.brand-4 { width: 26px; background-position: -674px 0; }
.brand-9 { width: 59px; background-position: -706px 0; }.brand-16 { width: 70px; background-position: -771px 0; }
.brand-5 { width: 35px; background-position: -847px 0; }.brand-19 { width: 73px; background-position: -889px 0; }
.brand-13 { width: 73px; background-position: -968px 0; }.brand-6 { width: 38px; background-position: -1047px 0; }
.brand-10 { width: 61px; background-position: -1091px 0; }.brand-14 { width: 76px; background-position: -1159px 0; }
.brand-39 { width: 53px; background-position: -1242px 0; }.brand-20 { width: 49px; background-position: -1300px 0; }
.brand-11 { width: 74px; background-position: -1354px 0; }.brand-41 { width: 40px; background-position: -1432px 0; }
.brand-42 { width: 38px; background-position: -1481px 0; }.brand-81 { width:38px; background-position:-1529px 0; }
.brand-71 { width: 23px; background-position: -1577px 0; }
.brand-23 {
    width: 70px;
    background-position: -1839px 0;
}
.brand-72 {
	width: 31px;
	background-position: -1919px 0;
}
.brand-73 {
    width: 30px;
    background-position: -1958px 0;
}
.brand-74 {
	width: 66px;
	background-position: -2000px 0;
}

.brand-75 {
	width: 70px;
	background-position: -2076px 0;
}