.select-box {
    height: 60px;
    position: relative;
}
.select-box .select-label {
    position: absolute;
    top: 0;
    color: #82888b;
    font-size: 16px;
}
.select-box .chosen-container {
    height: 30px;
    position: relative;
    top: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    border-bottom: 1px solid #82888b;
    background: transparent url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) 100% 50% no-repeat;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.select-box .chosen-container .chosen-single {
    height: 100%;
    color: #4d5057;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
}
.select-box .chosen-container .chosen-default {
    display: none;
}
.select-box .chosen-container .chosen-search {
    padding: 0;
    border-bottom: 1px solid #41b4c4;
}
.select-box .chosen-container .chosen-search input[type=text] {
    border: 0;
    padding: 12px 10px;
    font-size: 16px;
}
.select-box .chosen-container .chosen-results {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.select-box .chosen-container .chosen-results::-webkit-scrollbar {
    width: 5px;
}
.select-box .chosen-container .chosen-results::-webkit-scrollbar-track {
    background: #fff;
}
.select-box .chosen-container .chosen-results::-webkit-scrollbar-thumb {
    background: #ddd;
}
.select-box .chosen-container .chosen-results::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}
.select-box .chosen-container .chosen-results li {
    padding: 8px 10px;
    transition: background .1s linear;
}
.select-box .chosen-container .chosen-results .highlighted {
    background-color: #f5f5f5;
}
.select-box .chosen-container .chosen-results .result-selected {
    font-weight: 700;
}
.select-box .chosen-container .chosen-drop {
    width: 300px;
    z-index: 1;
    top: -15px;
    border: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 2px 10px 1px #ccc;
    -moz-box-shadow: 0 2px 10px 1px #ccc;
    -ms-box-shadow: 0 2px 10px 1px #ccc;
    -o-box-shadow: 0 2px 10px 1px #ccc;
    box-shadow: 0 2px 10px 1px #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.select-box.select-box-no-input .chosen-search {
    border-bottom: 1px solid #e2e2e2;
}
.select-box.select-box-no-input .chosen-results li {
    padding-right: 20px;
    padding-left: 20px;
}
.select-box.select-box-no-input .no-input-label {
    font-size: 16px;
    color: #4d5057;
    padding: 11px 20px;
    cursor: text;
}
.done .select-label {
    font-size: 12px;
    top: -20px;
}

/* small select-box */
.select-box.size-small .chosen-container .chosen-single {
    font-size: 14px;
}

.select-box.size-small .chosen-container {
    height: 27px;
}

.select-box.size-small .chosen-container .chosen-drop {
    top: -17px;
}