# Ignore rules
*/bin
*/obj
*.suo
*.log
*.user
/packages
Bikewale.Service/bin/*.XML
Bikewale.Service/App_Data/*.XML
*.orig
BikeWale.UI/build/
BikeWale.UI/min/
node_modules/
BikeWale.UI/.gulp-cache/
BikeWale.UI/sass/**/*.css
BikeWale.UI/m/sass/**/*.css
.vs
.vscode
Bikewale.DataSync/DataSync/bin
Bikewale.DataSync/DataSync/obj
Bikewale.ReleaseManagement/copyfiles/bin
Bikewale.ReleaseManagement/copyfiles/obj
*.sh
Bikewale.PWA.UI/node_modules/*
Bikewale.PWA.UI/build/*
BikeWale.UI/pwa/css/
BikeWale.UI/pwa/js/
BikeWale.UI/pwa/server/
BikeWale.UI/pwa/webpack-assets.json

# Allow
!Bikewale.ReleaseManagement/copyfiles/bin/Staging/copyfiles.exe
!Bikewale.ReleaseManagement/copyfiles/bin/Release/copyfiles.exe