<div class="screen-head__banner">
    <span class="screen-head__icon condition-fuel-icon"></span>
</div>

<div class="body__fuel-economy">
	<p class="screen-body__title">Fuel Economy?</p>
    <div class="input-box field-box">
        <input type="tel" id="getFuelEconomy" maxlength="2">
        <label for="getFuelEconomy">Kmpl</label>
        <span class="boundary"></span>
        <span class="error-text"></span>
    </div>

    <div class="field--bottom-space">
        <p class="condition-body__heading">Available Warranties (If Any)</p>
        <div class="textarea-box">
            <textarea id="getAvailableWarranty" cols="40" rows="2" placeholder="eg. Lifetime warranty on wheels, Two free service remaining, etc." maxlength="1000"></textarea>
            <p class="textarea-info-label">(1000 characters only)</p>
        </div>
    </div>

    <div class="field--bottom-space">
        <p class="condition-body__heading">Comments (Brief Description of Vehicle Condition)</p>
        <div class="textarea-box">
            <textarea id="getFuelComment" cols="40" rows="2" placeholder="Comments" maxlength="1000"></textarea>
            <p class="textarea-info-label">(1000 characters only)</p>
        </div>
    </div>

    <div class="text-center">
        <input type="button" class="btn btn-orange btn--next" value="Next">
    </div>
</div>
