<span class="modal__close cross-default-15x16"></span>
<p class="modal__header">You will lose the filled information, are you sure you want to navigate away?</p>

<p class="modal__description"></p>

<a href="/" class="btn btn-white modal__btn-default">Leave</a>

<a href="javascript:void(0)" class="btn btn-orange modal__btn-default modal__close">Continue</a>
