@model Bikewale.Models.UserReviews.BikesWithReviewsByMakeVM
@using Bikewale.Utility

@if (Model != null && Model.BikesReviewsList != null)
{
    <div>
        <ul class="popular-review-list">
            @for (var i = 0; i <= 2; i++)
            {
                <li class="list-item">
                    <div class="margin-bottom10">
                        <h3 class="inline-block">
                            <a href="/m/bajaj-bikes/platina/" title="Bajaj Platina" class="text-black">Bajaj Platina</a>
                        </h3>
                        <span class="rate-count-container rate-star--small rate-count-4">
                            <span class="star-icon"></span>
                            <span class="rate-star-count">4</span>
                        </span>

                        <a href="/m/bajaj-bikes/platina/reviews/" title="Bajaj Platina reviews" class="inline-block margin-left5">(38 reviews)</a>
                    </div>
                    <ul class="review-type-list">
                        <li class="review-type-list__item">
                            <p class="review-item__label">Most Popular Review</p>
                            <p class="review-item__preview">
                                Style easy to ride, nice features and looks different in the crowd (of 100cc bikes).
                                Engine...
                            </p>
                            <a href="/m/bajaj-bikes/platina/reviews/671/" title="One of the best mileage bike with reasonable riding comfort" class="font14">Read more</a>
                        </li>
                        <li class="review-type-list__item">
                            <p class="review-item__label">Most Recent Review</p>
                            <p class="review-item__preview">I have my own bike bajaj platina. Bike performance in mileage is too good and much from...</p>
                            <a href="/m/bajaj-bikes/platina/reviews/13056/" title="Mileage ka baap" class="font14">Read more</a>
                        </li>
                    </ul>
                </li>
            }

        </ul>
        <div class="view-all-btn-container">
            <a title="" class="btn view-all-target-btn">Read all reviews<span class="bwmsprite teal-right"></span></a>
        </div>
    </div>
}
