@{
    Model.IsHeaderFix = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/user-review/listing.css' />";
    Model.Page_JS_Path = "/src/user-review/listing.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="padding-top10" id="breadcrumb">
    <div class="container">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <ul>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="/" itemprop="url">
                            <span itemprop="title">Home</span>
                        </a>
                    </li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="" itemprop="url">
                            <span itemprop="title">Honda Bikes</span>
                        </a>
                    </li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="" itemprop="url">
                            <span itemprop="title">Honda CB Shine</span>
                        </a>
                    </li>
                    <li>
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <span>User Reviews</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow">
                <h1 class="content-box-shadow padding-15-20">Bajaj Pulsar RS200 User Reviews</h1>
                <div class="padding-20-10">
                    <div class="grid-7 border-grey-right">
                        <div class="overall-rating-box content-inner-block-20 inline-block text-center">
                            <p class="font12 margin-bottom10">Overall rating:</p>
                            <div class="margin-bottom10 rate-count-4">
                                <span class="bwsprite star-icon"></span>
                                <span class="font26 text-bold inline-block">3.5</span>
                            </div>
                            <div class="font12 text-slate-grey border-grey-top padding-top10">
                                <span class="margin-bottom5">28 ratings</span>
                                <span class="review-left-divider">23 reviews</span>
                            </div>
                        </div>
                        <div class="grid-7-inline">
                            <ul class="horizontal-rating-graph">
                                <li>
                                    <span class="bwsprite star-0 no-outline"></span>
                                    <span class="star-label">&nbsp;5&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: 82%" class="rating-bar bg-rate-5"></span>
                                    </span>
                                    <span class="graph-bar-count">&nbsp;25</span>
                                </li>
                                <li>
                                    <span class="bwsprite star-0 no-outline"></span>
                                    <span class="star-label">&nbsp;4&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: 52%" class="rating-bar bg-rate-4"></span>
                                    </span>
                                    <span class="graph-bar-count">&nbsp;15</span>
                                </li>
                                <li>
                                    <span class="bwsprite star-0 no-outline"></span>
                                    <span class="star-label">&nbsp;3&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: 15%" class="rating-bar bg-rate-3"></span>
                                    </span>
                                    <span class="graph-bar-count">&nbsp;3</span>
                                </li>
                                <li>
                                    <span class="bwsprite star-0 no-outline"></span>
                                    <span class="star-label">&nbsp;2&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: 32%" class="rating-bar bg-rate-2"></span>
                                    </span>
                                    <span class="graph-bar-count">&nbsp;8</span>
                                </li>
                                <li>
                                    <span class="bwsprite star-0 no-outline"></span>
                                    <span class="star-label">&nbsp;1&nbsp;</span>
                                    <span class="graph-bar-bg">
                                        <span style="width: 12%" class="rating-bar bg-rate-1"></span>
                                    </span>
                                    <span class="graph-bar-count">&nbsp;2</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-5 padding-left20 model-card-details">
                        <a href="" title="" class="left-grid-image vertical-top position-rel pos-top5">
                            <img src="https://imgd.aeplcdn.com//110x61//bw/models/bajaj-pulsar-rs200.jpg?20150710124439&q=65" alt="">
                        </a>
                        <div class="right-grid-details vertical-top">
                            <h2 class="margin-bottom5 font15 text-default">
                                <a href="" title="" class="text-black">Bajaj Pulsar RS200</a>
                            </h2>
                            <p class="font14 text-light-grey"> Ex-showroom, Mumbai</p>
                            <span class="bwsprite inr-lg"></span>
                            <span class="font18 text-bold">1,29,198</span>
                        </div>
                        <div class="share-rating-grid border-grey-top margin-top20 padding-top20">
                            <p class="font16 text-bold text-black leftfloat line-height25">Share your rating</p>
                            <div class="answer-star-list hover-effect rightfloat">
                                <input type="radio" name="share-rate" id="share-rate-5" value="5">
                                <label class="bwsprite star-0" for="share-rate-5" data-value="5"></label>
                                <input type="radio" name="share-rate" id="share-rate-4" value="4">
                                <label class="bwsprite star-0" for="share-rate-4" data-value="4"></label>
                                <input type="radio" name="share-rate" id="share-rate-3" value="3">
                                <label class="bwsprite star-0" for="share-rate-3" data-value="3"></label>
                                <input type="radio" name="share-rate" id="share-rate-2" value="2">
                                <label class="bwsprite star-0" for="share-rate-2" data-value="2"></label>
                                <input type="radio" name="share-rate" id="share-rate-1" value="1">
                                <label class="bwsprite star-0" for="share-rate-1" data-value="1"></label>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div id="modelReviewsListing" class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20">
                <h2 class="h2-heading padding-left20">Reviews on Pulsar RS200</h2>
                <div id="overallTabsWrapper" class="overall-tabs user-review-tabs position-rel">
                    <div id="overallSpecsTab" class="overall-specs-tabs-container">
                        <div class="overall-specs-tabs-wrapper">
                            <a href="javascript:void(0)" class="active"  data-category="2" data-page-num="1" data-count="26" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Most Helpful (26)</a>
                            <a href="javascript:void(0)" data-category="1" data-page-num="1" data-count="16" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Most Recent (16)</a>
                            <a href="javascript:void(0)" data-category="5" data-page-num="1" data-count="0" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Positive (0)</a>
                            <a href="javascript:void(0)" data-category="6" data-page-num="1" data-count="7" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Negative (7)</a>
                            <a href="javascript:void(0)" data-category="7" data-page-num="1" data-count="8" data-bind="click: function(d, e) { toggleReviewList(e); }" rel="nofollow">Neutral (8)</a>
                        </div>
                    </div>
                </div>
                @*<p class="padding-top15 padding-bottom15 margin-right20 margin-left20 border-grey-bottom">
                    <span class="bwsprite info-sm margin-right5"></span>
                    <span class="font13 text-light-grey inline-block">Reviews are sorted on the basis of helpfulness</span>
                </p>*@
                <div data-bind="visible: reviewsAvailable()">
                    <ul class="user-review-list">
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="4"><span class="bwsprite star-white"></span>4</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <p class="more-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                    </p>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>

                                    <div class=""></div>

                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="5"><span class="bwsprite star-white"></span>5</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <p class="more-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                    </p>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="3"><span class="bwsprite star-white"></span>3</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <p class="more-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                    </p>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-item">
                            <div class="grid-9 alpha padding-right20 border-light-right">
                                <div class="margin-bottom10">
                                    <span class="rating-badge" data-rate-bg="1"><span class="bwsprite star-white"></span>1</span>
                                    <a href="" class="list-item-title inline-block margin-right5">Good bike, poor servicing by company</a>
                                    <span class="font12 inline-block text-light-grey">8 days ago by Abey Thomas</span>
                                </div>
                                <div class="collapsible-content toggle-off margin-bottom10 font14 text-slate-grey">
                                    <p class="main-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most. If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most
                                    </p>
                                    <p class="more-content">
                                        If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most.
                                    </p>
                                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                                </div>

                                <button type="button" class="btn btn-inv-teal-group margin-right10 active">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite like-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                                <button type="button" class="btn btn-inv-teal-group">
                                    <span class="btn-label-grid">
                                        <span class="bwsprite dislike-sm"></span>
                                    </span><span class="btn-count">10</span>
                                </button>

                            </div>
                            <div class="grid-3 omega padding-left20">
                                <ul>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-1"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Used the bike for</p>
                                            <p class="font14 text-slate-grey">Daily commute</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-2"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Owned the bike for</p>
                                            <p class="font14 text-slate-grey">Doesn't own</p>
                                        </div>
                                    </li>
                                    <li class="margin-bottom10">
                                        <span class="bwsprite questionId-3"></span>
                                        <div class="inline-block">
                                            <p class="font10 text-xt-light">Ridden the bike for</p>
                                            <p class="font14 text-slate-grey">10000-15000 kms</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>

                    <div class="padding-right20 padding-bottom10 padding-left20">
                        <div class="footer-pagination font14 border-solid-top padding-top10">
                            <div class="grid-5 alpha omega text-light-grey">
                                <p><span class="text-bold">1</span>-<span class="text-bold">10</span>&nbsp;of&nbsp;<span class="text-bold">100</span>&nbsp;reviews</p>
                            </div>
                            <div id="pagination-list-content" class="grid-7 alpha omega position-rel rightfloat pagination-list-content">
                                <ul id="pagination-list" class="pagination-list">
                                    <li class="active">
                                        <a href="">1</a>
                                    </li>
                                    <li>
                                        <a href="">2</a>
                                    </li>
                                    <li>
                                        <a href="">3</a>
                                    </li>
                                    <li>
                                        <a href="">4</a>
                                    </li>
                                    <li>
                                        <a href="">5</a>
                                    </li>
                                </ul>
                                <span class="pagination-control-prev inactive">
                                    <a href="" class="bwmsprite bwsprite prev-page-icon"></a>
                                </span>
                                <span class="pagination-control-next">
                                    <a href="" class="bwmsprite bwsprite next-page-icon"></a>
                                </span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <div class="content-inner-block-20 text-center" data-bind="visible: !reviewsAvailable()">
                    <div class="circle-placeholder-80">
                        <span class="bwsprite review-lg margin-top25"></span>
                    </div>
                    <p class="font14 text-light-grey margin-top20">There are no <span data-bind="text: categoryName"></span> reviews for this bike</p>
                </div>

                <div id="listingFooter"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

@*
<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow">
                <h2 class="h2-heading padding-15-20 content-box-shadow">Reviews on Pulsar RS200</h2>
                <div class="content-inner-block-20 text-center">
                    <div class="circle-placeholder-80">
                        <span class="bwsprite write-icon margin-top20"></span>
                    </div>
                    <p class="font14 text-light-grey margin-top20 margin-bottom15">There are no reviews for this bike. Be the first one to share your experience.</p>
                    <a href="" class="btn btn-white btn-auto-32">Write a review</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
*@

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow rate-bike-slug content-inner-block-20">
                <div class="leftfloat">
                    <div class="circle-placeholder-60 inline-block">
                        <span class="bwsprite star-1 margin-top15"></span>
                    </div>
                    <p class="font18 text-black text-bold inline-block margin-left20 margin-right15">Rate your bike</p>
                    <p class="font14 text-slate-grey inline-block">Share your experience about this bike</p>
                </div>
                <div class="rightfloat padding-top15 answer-star-list hover-effect">
                    <input type="radio" name="rate-bike" id="rate-bike-5" value="5">
                    <label class="bwsprite star-0" for="rate-bike-5" data-value="5"></label>
                    <input type="radio" name="rate-bike" id="rate-bike-4" value="4">
                    <label class="bwsprite star-0" for="rate-bike-4" data-value="4"></label>
                    <input type="radio" name="rate-bike" id="rate-bike-3" value="3">
                    <label class="bwsprite star-0" for="rate-bike-3" data-value="3"></label>
                    <input type="radio" name="rate-bike" id="rate-bike-2" value="2">
                    <label class="bwsprite star-0" for="rate-bike-2" data-value="2"></label>
                    <input type="radio" name="rate-bike" id="rate-bike-1" value="1">
                    <label class="bwsprite star-0" for="rate-bike-1" data-value="1"></label>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20 padding-right10 padding-bottom20 padding-left10 article-list font14">
                <h2 class="h2-heading margin-bottom20 margin-left10">Expert reviews on Pulsar RS200</h2>
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <div class="padding-left10 more-article-target view-all-btn-container">
                    <a title="" href="" class="btn view-all-target-btn">Read all expert reviews<span class="bwsprite teal-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-bottom20">
                <div class="carousel-heading-content padding-top20">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2 class="h2-heading">Reviews of similar bikes</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="" title="" class="btn view-all-target-btn">View all</a>
                    </div>
                </div>
                <div class="jcarousel-wrapper inner-content-carousel user-reviews-type-carousel">
                    <div class="jcarousel">
                        <ul>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="3"><span class="bwsprite star-white"></span>3</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="4"><span class="bwsprite star-white"></span>4</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="5"><span class="bwsprite star-white"></span>5</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="2"><span class="bwsprite star-white"></span>2</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="1"><span class="bwsprite star-white"></span>1</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <span class="jcarousel-control-left">
                        <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
                    </span>
                    <span class="jcarousel-control-right">
                        <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>