@{
    ViewBag.Title = "ListReviews_Mobile";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/user-review/listing.css' />";
    Model.Page_JS_Path = "/m/src/user-review/listing.js";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<section>
    <div class="container content-box-shadow card-bottom-margin">
        <h1 class="font20 padding-15-20 content-box-shadow">Honda CB Shine User Reviews</h1>
        <div class="padding-15-20">
            <a href="" title="" class="left-grid-image inline-block">
                <img src="https://imgd1.aeplcdn.com//110x61//bw/models/honda-cb-shine-kick/drum/spokes-111.jpg" alt="Honda CB Shine Reviews" />
            </a>
            <div class="right-grid-details inline-block">
                <h2 class="margin-bottom5 font12">
                    <a href="" class="text-black">Honda CB Shine</a>
                </h2>
                <p class="font11 text-light-grey">Ex-showroom, Mumbai</p>
                <span class="bwmsprite inr-xsm-icon"></span>
                <span class="font16 text-bold">50,615</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content-box-shadow card-bottom-margin content-inner-block-20">
        <div class="grid-5-inline padding-right15">
            <div class="overall-rating-box text-center">
                <div class="table-cell">
                    <p class="font12 text-default margin-bottom10">Overall rating:</p>
                    <div class="margin-bottom10 text-rate-5">
                        <span class="bwmsprite star-one"></span>
                        <span class="font26 text-bold">4.7</span>
                    </div>
                    <div class="font12 text-slate-grey border-light-top padding-top10">
                        <p class="margin-bottom5">55 ratings</p>
                        <p>55 reviews</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-7-inline">
            <ul class="horizontal-rating-graph margin-neg5">
                <li>
                    <span class="bwmsprite star-zero"></span>
                    <span class="star-label">5</span>
                    <span class="graph-bar-bg">
                        <span style="width: 90%" class="rating-bar bg-rate-5"></span>
                    </span>
                    <span class="graph-bar-count">2500</span>
                </li>
                <li>
                    <span class="bwmsprite star-zero"></span>
                    <span class="star-label">4</span>
                    <span class="graph-bar-bg">
                        <span style="width: 70%" class="rating-bar bg-rate-4"></span>
                    </span>
                    <span class="graph-bar-count">2000</span>
                </li>
                <li>
                    <span class="bwmsprite star-zero"></span>
                    <span class="star-label">3</span>
                    <span class="graph-bar-bg">
                        <span style="width: 20%" class="rating-bar bg-rate-3"></span>
                    </span>
                    <span class="graph-bar-count">500</span>
                </li>
                <li>
                    <span class="bwmsprite star-zero"></span>
                    <span class="star-label">2</span>
                    <span class="graph-bar-bg">
                        <span style="width: 30%" class="rating-bar bg-rate-2"></span>
                    </span>
                    <span class="graph-bar-count">1000</span>
                </li>
                <li>
                    <span class="bwmsprite star-zero"></span>
                    <span class="star-label">1</span>
                    <span class="graph-bar-bg">
                        <span style="width: 10%" class="rating-bar bg-rate-1"></span>
                    </span>
                    <span class="graph-bar-count">250</span>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container content-box-shadow card-bottom-margin content-inner-block-20">
        <p class="font16 text-black text-bold inline-block margin-right15">Rate this bike now</p>
        <div class="answer-star-list inline-block">
            <input type="radio" id="rate-star-5" name="rate-bike" value="5">
            <label class="bwmsprite star-zero" for="rate-star-5" data-value="5"></label>
            <input type="radio" id="rate-star-4" name="rate-bike" value="4">
            <label class="bwmsprite star-zero" for="rate-star-4" data-value="4"></label>
            <input type="radio" id="rate-star-3" name="rate-bike" value="3">
            <label class="bwmsprite star-zero" for="rate-star-3" data-value="3"></label>
            <input type="radio" id="rate-star-2" name="rate-bike" value="2">
            <label class="bwmsprite star-zero" for="rate-star-2" data-value="2"></label>
            <input type="radio" id="rate-star-1" name="rate-bike" value="1">
            <label class="bwmsprite star-zero" for="rate-star-1" data-value="1"></label>
        </div>
    </div>
</section>

<section>
    <div id="modelReviewsListing" class="container content-box-shadow card-bottom-margin">
        <h2 class="h2-heading padding-top15 padding-right20 padding-left20">Reviews on Honda CB Shine</h2>
        <div id="overallSpecsTopContent" class="bg-white position-rel user-review-tabs">
            <div id="overallSpecsTab" class="overall-specs-tabs-container">
                <ul class="overall-specs-tabs-wrapper">
                    <li data-category="1" data-page-num="1" data-count="50" data-bind="click: toggleReviewList" class="active">Most Helpful (50)</li>
                    <li data-category="2" data-page-num="1" data-count="50" data-bind="click: toggleReviewList">Most Recent (50)</li>
                    <li data-category="3" data-page-num="1" data-count="40" data-bind="click: toggleReviewList">Positive (40)</li>
                    <li data-category="4" data-page-num="1" data-count="0" data-bind="click: toggleReviewList">Negative (0)</li>
                    <li data-category="5" data-page-num="1" data-count="20" data-bind="click: toggleReviewList">Neutral (20)</li>
                </ul>
            </div>
        </div>

        <div class="padding-top15 padding-bottom15 margin-right20 margin-left20 border-solid-bottom" data-bind="visible: (activeReviewCategory() == 3 || activeReviewCategory() == 4) && reviewsAvailable()">
            <span class="bwmsprite info-sm"></span>
            <span class="grid-11-inline font14 text-light-grey">Reviews are sorted on the basis of upvotes</span>
        </div>

        <div data-bind="visible: reviewsAvailable()">
            <ul class="user-review-list" data-bind="template: { name: 'review-listing-template', foreach: activeReviewList }"></ul>

            <div class="margin-right10 margin-left10 padding-top15 padding-bottom15 border-solid-top">
                <div class="grid-5 omega text-light-grey font13">
                    <div>
                        <span class="text-bold">1</span>-<span class="text-bold">8</span>&nbsp;of&nbsp;<span class="text-bold">100</span>&nbsp;reviews
                    </div>
                </div>
                <div id="pagination-list-content" class="grid-7 alpha omega position-rel rightfloat pagination-list-content">
                    <ul id="pagination-list" class="pagination-list">
                        <li class="page-url active">
                            <a href="">1</a>
                        </li>
                        <li class="page-url">
                            <a href="">2</a>
                        </li>
                        <li class="page-url">
                            <a href="">3</a>
                        </li>
                        <li class="page-url">
                            <a href="">4</a>
                        </li>
                        <li class="page-url">
                            <a href="">5</a>
                        </li>
                    </ul>

                    <span class="pagination-control-prev inactive">
                        <a href="javascript:void(0)" class="bwmsprite prev-page-icon"></a>
                    </span>
                    <span class="pagination-control-next">
                        <a href="javascript:void(0)" class="bwmsprite next-page-icon"></a>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="content-inner-block-20 text-center" data-bind="visible: !reviewsAvailable()">
            <div class="circle-placeholder">
                <span class="bwmsprite"></span>
            </div>
            <p class="font14 text-light-grey">There are no <span data-bind="text: categoryName"></span> reviews for this bike</p>
        </div>

        <div id="listingFooter"></div>
    </div>
</section>

<!--<section>
    <div class="container content-box-shadow card-bottom-margin">
        <h2 class="h2-heading padding-15-20 content-box-shadow">Reviews on Honda CB Shine</h2>
        <div class="content-inner-block-20 text-center">
            <div class="circle-placeholder">
                <span class="bwmsprite"></span>
            </div>
            <p class="font14 text-light-grey margin-bottom15">There are no reviews for this bike. Be the first one to share your experience.</p>
            <a href="" class="btn btn-white btn-auto-32">Write a review</a>
        </div>
    </div>
</section>-->

<script type="text/html" id="review-listing-template">
    <li>
        <a href="" class="item-target">
            <div class="margin-bottom10">
                <span class="rating-badge" data-bind="css: 'bg-rate-' + rating">
                    <span class="bwmsprite star-white"></span>
                    <span data-bind="text: rating"></span>
                </span>
                <div class="grid-10-inline font15 text-black text-bold text-truncate">
                    <span class="review-title position-rel" data-bind="text: title"></span>
                </div>
            </div>

            <div class="margin-bottom10">
                <div class="grid-4 alpha padding-right5">
                    <span class="bwmsprite calender-grey-sm-icon"></span>
                    <span class="article-stats-content" data-bind="text: submittedOn"></span>
                </div>
                <div class="grid-8 alpha omega">
                    <span class="bwmsprite author-grey-sm-icon"></span>
                    <span class="article-stats-content" data-bind="text: author"></span>
                </div>
                <div class="clear"></div>
            </div>

            <div class="font14 text-slate-grey margin-bottom10">
                <p data-bind="text: description"></p>
            </div>

            <div class="grid-7 alpha">
                <div class="item-stats-grid">
                    <span class="bwmsprite like-sm"></span>
                    <span data-bind="text: likesCount"></span>
                </div>
                <div class="item-stats-grid">
                    <span class="bwmsprite dislike-sm"></span>
                    <span data-bind="text: disLikesCount"></span>
                </div>
            </div>
            <div class="grid-5 omega text-right" data-bind="visible: viewsCount > 0">
                <div class="item-views-grid">
                    <span class="bwmsprite views-sm"></span>
                    <span data-bind="text: viewsCount"></span><span>&nbsp;Views</span>
                </div>
            </div>
            <div class="clear"></div>
        </a>
    </li>
</script>

<section>
    <div class="container content-box-shadow padding-top15 padding-bottom10 card-bottom-margin">
        <div class="carousel-heading-content">
            <div class="swiper-heading-left-grid inline-block">
                <h2 class="h2-heading">Expert Reviews on Honda CB Shine</h2>
            </div>
            <div class="swiper-heading-right-grid inline-block text-right">
                <a href="" title="" class="btn view-all-target-btn">View all</a>
            </div>
            <div class="clear"></div>
        </div>

        <div class="swiper-container card-container article-type-carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//144x81//bw/ec/26957/Honda-CB-Shine-Front-threequarter-89848.jpg" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="text-black margin-bottom5">Honda CB Shine crosses 50 lakh milestone</h3>

                                <div class="grid-6 alpha padding-right5">
                                    <span class="bwmsprite calender-grey-sm-icon"></span>
                                    <span class="article-stats-content">Feb 05, 2017</span>
                                </div>
                                <div class="grid-6 alpha omega">
                                    <span class="bwmsprite author-grey-sm-icon"></span>
                                    <span class="article-stats-content">BikeWale Team</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//144x81//bw/ec/26957/Honda-CB-Shine-Front-threequarter-89848.jpg" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="text-black margin-bottom5">Honda CB Shine crosses 50 lakh milestone</h3>

                                <div class="grid-6 alpha padding-right5">
                                    <span class="bwmsprite calender-grey-sm-icon"></span>
                                    <span class="article-stats-content">Feb 05, 2017</span>
                                </div>
                                <div class="grid-6 alpha omega">
                                    <span class="bwmsprite author-grey-sm-icon"></span>
                                    <span class="article-stats-content">BikeWale Team</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//144x81//bw/ec/26957/Honda-CB-Shine-Front-threequarter-89848.jpg" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="text-black margin-bottom5">Honda CB Shine crosses 50 lakh milestone</h3>

                                <div class="grid-6 alpha padding-right5">
                                    <span class="bwmsprite calender-grey-sm-icon"></span>
                                    <span class="article-stats-content">Feb 05, 2017</span>
                                </div>
                                <div class="grid-6 alpha omega">
                                    <span class="bwmsprite author-grey-sm-icon"></span>
                                    <span class="article-stats-content">BikeWale Team</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content-box-shadow padding-top15 padding-bottom10 card-bottom-margin">
        <div class="carousel-heading-content">
            <div class="swiper-heading-left-grid inline-block">
                <h2 class="h2-heading">Reviews of similar bikes</h2>
            </div>
            <div class="swiper-heading-right-grid inline-block text-right">
                <a href="" title="" class="btn view-all-target-btn">View all</a>
            </div>
            <div class="clear"></div>
        </div>

        <div class="swiper-container card-container user-reviews-type-carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com//310x174//bw/models/hero-passion-pro-kick-spoke-756.jpg?" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="font12 text-black margin-bottom5 text-truncate">Hero Passion PRO i3s</h3>
                                <span class="rating-badge bg-rate-4">
                                    <span class="bwmsprite star-white"></span>4
                                </span>
                                <span class="font12 text-light-grey inline-block">23 ratings</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com//310x174//bw/models/hero-passion-pro-kick-spoke-756.jpg?" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="font12 text-black margin-bottom5 text-truncate">Hero Passion PRO i3s</h3>
                                <span class="rating-badge bg-rate-3">
                                    <span class="bwmsprite star-white"></span>3
                                </span>
                                <span class="font12 text-light-grey inline-block">23 ratings</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="" title="" class="block">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com//310x174//bw/models/hero-passion-pro-kick-spoke-756.jpg?" alt="" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="font12 text-black margin-bottom5 text-truncate">Hero Passion PRO i3s</h3>
                                <span class="rating-badge bg-rate-2">
                                    <span class="bwmsprite star-white"></span>2
                                </span>
                                <span class="font12 text-light-grey inline-block">23 ratings</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>