@{
    Model.IsHeaderFix = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/user-review/listing.css' />";
    Model.Page_JS_Path = "/src/user-review/listing.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="padding-top10" id="breadcrumb">
    <div class="container">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <ul>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="/" itemprop="url">
                            <span itemprop="title">Home</span>
                        </a>
                    </li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="" itemprop="url">
                            <span itemprop="title">Honda Bikes</span>
                        </a>
                    </li>
                    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="" itemprop="url">
                            <span itemprop="title">Honda CB Shine</span>
                        </a>
                    </li>
                    <li>
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <span>User Reviews</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20">
                <h2 class="h2-heading padding-left20">Reviews on Pulsar RS200</h2>
                <div id="overallTabsWrapper" class="overall-tabs position-rel">
                    <div id="overallSpecsTab" class="overall-specs-tabs-container">
                        <div class="overall-specs-tabs-wrapper">
                            <a href="#" class="active" data-count="26" rel="nofollow">Most Helpful (26)</a>
                            <a href="#" data-count="26" rel="nofollow">Most Recent (26)</a>
                            <a href="#" data-count="0" rel="nofollow">Positive (0)</a>
                            <a href="#" data-count="7" rel="nofollow">Negative (7)</a>
                            <a href="#" data-count="8" rel="nofollow">Neutral (8)</a>
                        </div>
                    </div>
                </div>
                <ul class="user-review-list">
                    <li>
                        <a href="" title="" class="item-target">
                            <div class="margin-bottom10">
                                <span class="rating-badge" data-rate-bg="1"><span class="bwsprite star-white"></span>1</span>
                                <p class="list-item-title inline-block text-truncate">Good bike, poor servicing by company</p>
                            </div>
                            <div class="article-stats-left-grid margin-bottom10">
                                <span class="bwsprite calender-grey-sm-icon"></span>
                                <span class="article-stats-content">Nov 05, 2016</span>
                            </div>
                            <div class="article-stats-right-grid margin-bottom10">
                                <span class="bwsprite author-grey-sm-icon"></span>
                                <span class="article-stats-content">Siddhesh Sawant</span>
                            </div>
                            <p class="margin-bottom10 font14 text-slate-grey line-height17">
                                If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most...
                            </p>
                            <div class="grid-8 alpha">
                                <div class="article-stats-left-grid">
                                    <span class="bwsprite like-sm"></span>
                                    <span class="article-stats-content">52 Likes</span>
                                </div>
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite dislike-sm"></span>
                                    <span class="article-stats-content">52 Dislikes</span>
                                </div>
                            </div>
                            <div class="grid-4 omega text-right">
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite views-sm"></span>
                                    <span class="article-stats-content">52 Views</span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="item-target">
                            <div class="margin-bottom10">
                                <span class="rating-badge" data-rate-bg="2"><span class="bwsprite star-white"></span>2</span>
                                <p class="list-item-title inline-block text-truncate">Good bike, poor servicing by company</p>
                            </div>
                            <div class="article-stats-left-grid margin-bottom10">
                                <span class="bwsprite calender-grey-sm-icon"></span>
                                <span class="article-stats-content">Nov 05, 2016</span>
                            </div>
                            <div class="article-stats-right-grid margin-bottom10">
                                <span class="bwsprite author-grey-sm-icon"></span>
                                <span class="article-stats-content">Siddhesh Sawant</span>
                            </div>
                            <p class="margin-bottom10 font14 text-slate-grey line-height17">
                                If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most...
                            </p>
                            <div class="grid-8 alpha">
                                <div class="article-stats-left-grid">
                                    <span class="bwsprite like-sm"></span>
                                    <span class="article-stats-content">52 Likes</span>
                                </div>
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite dislike-sm"></span>
                                    <span class="article-stats-content">52 Dislikes</span>
                                </div>
                            </div>
                            <div class="grid-4 omega text-right">
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite views-sm"></span>
                                    <span class="article-stats-content">52 Views</span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="item-target">
                            <div class="margin-bottom10">
                                <span class="rating-badge" data-rate-bg="3"><span class="bwsprite star-white"></span>3</span>
                                <p class="list-item-title inline-block text-truncate">Good bike, poor servicing by company</p>
                            </div>
                            <div class="article-stats-left-grid margin-bottom10">
                                <span class="bwsprite calender-grey-sm-icon"></span>
                                <span class="article-stats-content">Nov 05, 2016</span>
                            </div>
                            <div class="article-stats-right-grid margin-bottom10">
                                <span class="bwsprite author-grey-sm-icon"></span>
                                <span class="article-stats-content">Siddhesh Sawant</span>
                            </div>
                            <p class="margin-bottom10 font14 text-slate-grey line-height17">
                                If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most...
                            </p>
                            <div class="grid-8 alpha">
                                <div class="article-stats-left-grid">
                                    <span class="bwsprite like-sm"></span>
                                    <span class="article-stats-content">52 Likes</span>
                                </div>
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite dislike-sm"></span>
                                    <span class="article-stats-content">52 Dislikes</span>
                                </div>
                            </div>
                            <div class="grid-4 omega text-right">
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite views-sm"></span>
                                    <span class="article-stats-content">52 Views</span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="item-target">
                            <div class="margin-bottom10">
                                <span class="rating-badge" data-rate-bg="4"><span class="bwsprite star-white"></span>4</span>
                                <p class="list-item-title inline-block text-truncate">Good bike, poor servicing by company</p>
                            </div>
                            <div class="article-stats-left-grid margin-bottom10">
                                <span class="bwsprite calender-grey-sm-icon"></span>
                                <span class="article-stats-content">Nov 05, 2016</span>
                            </div>
                            <div class="article-stats-right-grid margin-bottom10">
                                <span class="bwsprite author-grey-sm-icon"></span>
                                <span class="article-stats-content">Siddhesh Sawant</span>
                            </div>
                            <p class="margin-bottom10 font14 text-slate-grey line-height17">
                                If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most...
                            </p>
                            <div class="grid-8 alpha">
                                <div class="article-stats-left-grid">
                                    <span class="bwsprite like-sm"></span>
                                    <span class="article-stats-content">52 Likes</span>
                                </div>
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite dislike-sm"></span>
                                    <span class="article-stats-content">52 Dislikes</span>
                                </div>
                            </div>
                            <div class="grid-4 omega text-right">
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite views-sm"></span>
                                    <span class="article-stats-content">52 Views</span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="item-target">
                            <div class="margin-bottom10">
                                <span class="rating-badge" data-rate-bg="5"><span class="bwsprite star-white"></span>5</span>
                                <p class="list-item-title inline-block text-truncate">Good bike, poor servicing by company</p>
                            </div>
                            <div class="article-stats-left-grid margin-bottom10">
                                <span class="bwsprite calender-grey-sm-icon"></span>
                                <span class="article-stats-content">Nov 05, 2016</span>
                            </div>
                            <div class="article-stats-right-grid margin-bottom10">
                                <span class="bwsprite author-grey-sm-icon"></span>
                                <span class="article-stats-content">Siddhesh Sawant</span>
                            </div>
                            <p class="margin-bottom10 font14 text-slate-grey line-height17">
                                If anything that can let Royal Enfield down is its after sales service the authorised service centres are leaving no stone unturned in forcing people to think twice before buying their most...
                            </p>
                            <div class="grid-8 alpha">
                                <div class="article-stats-left-grid">
                                    <span class="bwsprite like-sm"></span>
                                    <span class="article-stats-content">52 Likes</span>
                                </div>
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite dislike-sm"></span>
                                    <span class="article-stats-content">52 Dislikes</span>
                                </div>
                            </div>
                            <div class="grid-4 omega text-right">
                                <div class="article-stats-right-grid">
                                    <span class="bwsprite views-sm"></span>
                                    <span class="article-stats-content">52 Views</span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20 padding-right10 padding-bottom20 padding-left10 article-list font14">
                <h2 class="h2-heading margin-bottom20 margin-left10">Expert reviews on Pulsar RS200</h2>
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <div class="padding-left10 more-article-target view-all-btn-container">
                    <a title="" href="" class="btn view-all-target-btn">Read all expert reviews<span class="bwsprite teal-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-bottom20">
                <div class="carousel-heading-content padding-top20">
                    <div class="swiper-heading-left-grid inline-block">
                        <h2 class="h2-heading">Reviews of similar bikes</h2>
                    </div>
                    <div class="swiper-heading-right-grid inline-block text-right">
                        <a href="" title="" class="btn view-all-target-btn">View all</a>
                    </div>
                </div>
                <div class="jcarousel-wrapper inner-content-carousel user-reviews-type-carousel">
                    <div class="jcarousel">
                        <ul>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="3"><span class="bwsprite star-white"></span>3</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="4"><span class="bwsprite star-white"></span>4</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="5"><span class="bwsprite star-white"></span>5</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="2"><span class="bwsprite star-white"></span>2</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="jcarousel-card">
                                    <div class="model-jcarousel-image-preview">
                                        <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-duke-200.jpg?20172702105543&q=75" src="" alt="KTM 200 Duke" />
                                    </div>
                                    <div class="card-desc-block">
                                        <h3 class="font15 text-black margin-bottom10">KTM 200 Duke</h3>
                                        <span class="rating-badge" data-rate-bg="1"><span class="bwsprite star-white"></span>1</span>
                                        <span class="font14 text-light-grey inline-block">23 ratings</span>
                                        <span class="font14 text-light-grey inline-block divider-left">23 reviews</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <span class="jcarousel-control-left">
                        <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
                    </span>
                    <span class="jcarousel-control-right">
                        <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>