@model Bikewale.Models.UserReviews.UserReviewLandingVM

@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/review/make.css' inline>";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container padding-top10">
    <div class="grid-12 omega alpha">
        <div class="breadcrumb margin-bottom10 margin-top20">
            <ul>
                <li>
                    <a href="">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <span class="bwsprite fa-angle-right margin-right10"></span>
                    <a href="">
                        <span>Review</span>
                    </a>
                </li>
                <li>
                    <span class="bwsprite fa-angle-right margin-right10"></span>
                    Browse Honda bike reviews by models
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</section>
<section>
    <div class="container card-bottom-margin">
        <div class="grid-12 content-box-shadow margin-bottom20 alpha omega">
            <h1 class="padding-15-20">Browse Honda bike reviews by models</h1>

            <div class="padding-left15 padding-right15">
                <h2 class="padding-left5 font14 padding-bottom5">Popular models</h2>
                <ul class="card-container">
                    <li class="model-card">
                        <a href="" title="" class="block">
                            <div class="model-card__image-preview">
                                <img src="https://imgd.aeplcdn.com//310x174//bw/models/yamaha-2015-yzf-r1-standard-794.jpg?20151209225303&amp;q=75" title="" alt="">
                            </div>
                            <div class="card-desc-block">
                                <h3 class="font15 text-black margin-bottom5">Dominar 400 Reviews</h3>
                                <div class="rating-container">
                                    <div class="grid-6-inline rate-count-5" data-rate-bg="5">
                                        <span class="star-icon star-size-14"></span>
                                        <span class="inline-block">4.7</span>
                                        <span class="font11 text-xt-light inline-block margin-left5">(134 ratings)</span>
                                    </div>
                                    <div class="grid-6-inline font12 text-default divider-left">Read 52 reviews</div>
                                    <span class="bwsprite next-grey-icon-listing"></span>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="model-card">
                        <a href="" title="" class="block">
                            <div class="model-card__image-preview">
                                <img src="https://imgd.aeplcdn.com//310x174//bw/models/yamaha-2015-yzf-r1-standard-794.jpg?20151209225303&amp;q=75" title="" alt="">
                            </div>
                            <div class="card-desc-block">
                                <h3 class="font15 text-black margin-bottom5">Dominar 400 Reviews</h3>
                                <div class="rating-container">
                                    <div class="grid-6-inline rate-count-5" data-rate-bg="5">
                                        <span class="star-icon star-size-14"></span>
                                        <span class="inline-block">4.7</span>
                                        <span class="font11 text-xt-light inline-block margin-left5">(134 ratings)</span>
                                    </div>
                                    <div class="grid-6-inline font12 text-default divider-left">Read 52 reviews</div>
                                    <span class="bwsprite next-grey-icon-listing"></span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="model-card">
                        <a href="" title="" class="block">
                            <div class="model-card__image-preview">
                                <img src="https://imgd.aeplcdn.com//310x174//bw/models/yamaha-2015-yzf-r1-standard-794.jpg?20151209225303&amp;q=75" title="" alt="">
                            </div>
                            <div class="card-desc-block">
                                <h3 class="font15 text-black margin-bottom5">Dominar 400 Reviews</h3>
                                <div class="rating-container">
                                    <div class="grid-6-inline rate-count-5" data-rate-bg="5">
                                        <span class="star-icon star-size-14"></span>
                                        <span class="inline-block">4.7</span>
                                        <span class="font11 text-xt-light inline-block margin-left5">(134 ratings)</span>
                                    </div>
                                    <div class="grid-6-inline font12 text-default divider-left">Read 52 reviews</div>
                                    <span class="bwsprite next-grey-icon-listing"></span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="model-card">
                        <a href="" title="" class="block">
                            <div class="model-card__image-preview">
                                <img src="https://imgd.aeplcdn.com//310x174//bw/models/yamaha-2015-yzf-r1-standard-794.jpg?20151209225303&amp;q=75" title="" alt="">
                            </div>
                            <div class="card-desc-block">
                                <h3 class="font15 text-black margin-bottom5">Dominar 400 Reviews</h3>
                                <div class="rating-container">
                                    <div class="grid-6-inline rate-count-5" data-rate-bg="5">
                                        <span class="star-icon star-size-14"></span>
                                        <span class="inline-block">4.7</span>
                                        <span class="font11 text-xt-light inline-block margin-left5">(134 ratings)</span>
                                    </div>
                                    <div class="grid-6-inline font12 text-default divider-left">Read 52 reviews</div>
                                    <span class="bwsprite next-grey-icon-listing"></span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="other-model-block">
                <h2 class="padding-left5 font14">Other models</h2>
                <ul class="card-container">
                    <li>
                        <a href="" title="">
                            CT100 Reviews (23)
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            CT100 Reviews (23)
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            CT100 Reviews (23)
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            CT100 Reviews (23)
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            CT100 Reviews (23)
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</section>

