@model Bikewale.Models.UserReviews.UserReviewLandingVM

@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/m/review/make.css' inline>";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
<section>
    <div class="container card-bottom-margin">

        <div class="grid-12 content-box-shadow margin-bottom20 omega alpha">
            <h1 class="padding-15-20">Browse Honda bike reviews</h1>

            <div class="padding-left10 padding-right10">
                <h2 class="padding-left10 font14 text-default">Popular models</h2>
                <ul class="card-container">
                    <li class="model-card">
                        <a href="" title="" class="block">
                            <div class="model-card__image-preview">
                                <img src="https://imgd.aeplcdn.com//310x174//bw/models/yamaha-2015-yzf-r1-standard-794.jpg?20151209225303&amp;q=75" title="" alt="">
                            </div>
                            <div class="card-desc-block">
                                <h3 class="font12 text-black margin-bottom5 text-truncate">Dominar 400 Reviews</h3>
                                <div class="rating-container">
                                    <div class="rate-count-5" data-rate-bg="5">
                                        <span class="star-icon star-size-14"></span>
                                        <span class="font14 inline-block">4.7</span>
                                    </div>
                                    <div class="font12 text-default review-left-divider">52 reviews</div>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="model-card">
                        <a href="" title="" class="block">
                            <div class="model-card__image-preview">
                                <img src="https://imgd.aeplcdn.com//310x174//bw/models/yamaha-2015-yzf-r1-standard-794.jpg?20151209225303&amp;q=75" title="" alt="">
                            </div>
                            <div class="card-desc-block">
                                <h3 class="font12 text-black margin-bottom5 text-truncate">Dominar 400 Reviews</h3>
                                <div class="rating-container">
                                    <div class="rate-count-5" data-rate-bg="5">
                                        <span class="star-icon star-size-14"></span>
                                        <span class="font14 inline-block">4.7</span>
                                    </div>
                                    <div class="font12 text-default review-left-divider">52 reviews</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="model-card">
                        <a href="" title="" class="block">
                            <div class="model-card__image-preview">
                                <img src="https://imgd.aeplcdn.com//310x174//bw/models/yamaha-2015-yzf-r1-standard-794.jpg?20151209225303&amp;q=75" title="" alt="">
                            </div>
                            <div class="card-desc-block">
                                <h3 class="font12 text-black margin-bottom5 text-truncate">Dominar 400 Reviews</h3>
                                <div class="rating-container">
                                    <div class="rate-count-5" data-rate-bg="5">
                                        <span class="star-icon star-size-14"></span>
                                        <span class="font14 inline-block">4.7</span>
                                    </div>
                                    <div class="font12 text-default review-left-divider">52 reviews</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="other-model-block padding-left10 padding-right10">
                <h2 class="padding-left10 font14 text-default padding-bottom5">Other models</h2>
                <ul class="other-model-list">
                    <li>
                        <a href="" title="">
                            CT100 Reviews (23)
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            CT100 Reviews (23)
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            CT100 Reviews (23)
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            CT100 Reviews (23)
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            CT100 Reviews (23)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>