@{
    Model.IsHeaderFix = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/user-review/write-review.css' />";
    Model.Page_JS_Path = "/src/user-review/write-review.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container padding-top10">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <!-- breadcrumb code starts here -->
                <ul>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="/"><span itemprop="title">Home</span></a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a itemprop="url" href="" title=""><span itemprop="title">User reviews</span></a>
                    </li>
                    <li><span class="bwsprite fa-angle-right margin-right10"></span>Write a review</li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div id="write-review-form" class="container section-bottom-margin font14">
        <div class="grid-12">
            <div class="content-box-shadow">
                <div class="content-box-shadow padding-15-20">
                    <p class="font22 text-black text-bold inline-block">You rated Bajaj Dominar 400</p>
                    <div class="inline-block user-rating-box">
                        <span class="bwsprite star-one"></span>
                        <span class="inline-block">
                            <span class="font18 text-bold">2.5</span>&nbsp;<span class="font12 text-xx-light">/&nbsp;5</span>
                        </span>
                    </div>
                </div>
                <div class="padding-15-20">
                    <div class="grid-8 alpha">
                        <h2 class="font18 margin-bottom10">Had an amazing experience?</h2>
                        <p class="text-slate-grey margin-bottom10">Tell us more about it. You may consider writing about:</p>
                        <ol class="numeric-list margin-bottom20">
                            <li>Buying experience</li>
                            <li>Riding experience</li>
                            <li>Details about looks, performance etc.</li>
                            <li>Servicing and maintenance</li>
                            <li>Pros and Cons</li>
                        </ol>

                        <div class="textarea-box margin-bottom15">
                            <textarea data-bind="textInput: detailedReview" id="getDetailedReview" rows="4" cols="80" placeholder="The more detailed your review, the more useful it will be. Write your review."></textarea>

                            <div data-bind="visible: !detailedReviewFlag() && detailedReview().length < 300" class="review-char-count position-abt font12">
                                <span data-bind="visible: detailedReview().length > 0"><span data-bind="text: detailedReview().length"></span>/</span><span data-bind="text: reviewCharLimit"></span>&nbsp;min
                            </div>

                            <div data-bind="visible: detailedReviewFlag" class="textarea-error position-abt">
                                <span class="error-text" data-bind="text: detailedReviewError"></span>
                            </div>
                        </div>

                        <h3 class="font15 text-black margin-bottom10">Give a title to your review</h3>
                        <p class="text-slate-grey margin-bottom20">A catchy title will grab eyeballs, and more people will read your review.</p>

                        <div class="input-box form-control-box" data-bind="css: reviewTitle().length > 0 ? 'not-empty' : ''">
                            <input type="text" id="getReviewTitle" data-bind="textInput: reviewTitle" />
                            <label for="getReviewTitle">Your title</label>
                            <span class="boundary"></span>
                            <span class="error-text"></span>
                        </div>

                        <h2 class="font18 padding-bottom5">Can you share a little more about this bike?<span class="text-light-grey text-unbold font14">&nbsp;(Optional)</span></h2>

                        <ul id="bike-review-questions" class="review-question-list margin-bottom20" data-bind="foreach: reviewQuestions">
                            <!-- ko if: type === "star" -->
                            <li class="list-item question-type-star">
                                <p class="item-title" data-bind="text: heading"></p>
                                <p class="item-subtitle" data-bind="text: description"></p>
                                <div class="answer-star-list inline-block hover-effect" data-bind="foreach: rating.slice(0).reverse()">
                                    <input type="radio" data-bind="attr: {id: 'review-' + $parentContext.$index() + '-' + $index(), name: 'review-q-' + $parentContext.$index(), value: (5 - $index())}" />
                                    <label class="bwsprite star-zero" data-bind="attr: {for: 'review-' + $parentContext.$index() + '-' + $index(), 'data-value': (5 - $index())}"></label>
                                </div>
                                <p class="feedback-text inline-block"></p>
                            </li>
                            <!-- /ko -->
                            <!-- ko if: type === "text" -->
                            <li class="list-item question-type-text">
                                <p class="item-title" data-bind="text: heading"></p>
                                <p class="item-subtitle" data-bind="text: description"></p>
                                <div class="answer-radio-list" data-bind="foreach: rating">
                                    <input type="radio" data-bind="attr: {id: 'review-' + $parentContext.$index() + '-' + $index(), name: 'review-q-' + $parentContext.$index(), value: $index() + 1}" />
                                    <label data-bind="attr: {for: 'review-' + $parentContext.$index() + '-' + $index(), name: 'review-q-' + $parentContext.$index(), 'data-value': $index() + 1}, text: $data"></label>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <!-- /ko -->
                        </ul>
                        <div class="clear"></div>

                        <h3 class="font15 margin-bottom10">Tips for prospective buyers</h3>
                        <p class="text-light-grey margin-bottom20">Share key tips which you think were useful while owning/riding this bike.</p>

                        <div class="input-box form-control-box" data-bind="css: reviewTips().length > 0 ? 'not-empty' : ''">
                            <input type="text" id="getReviewTip" data-bind="textInput: reviewTips" />
                            <label for="getReviewTip">Your tip</label>
                            <span class="boundary"></span>
                        </div>

                        <input type="button" class="btn btn-orange btn-220-40" value="Submit review" data-bind="click: submitReview" />

                    </div>
                    <div class="grid-4 omega">

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>