@{
    Model.IsHeaderFix = false;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/user-review/write-review.css' />";
    Model.Page_JS_Path = "/src/user-review/write-review.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container padding-top10">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <!-- breadcrumb code starts here -->
                <ul>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="/"><span itemprop="title">Home</span></a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a itemprop="url" href="" title=""><span itemprop="title">User reviews</span></a>
                    </li>
                    <li><span class="bwsprite fa-angle-right margin-right10"></span>Write a review</li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div id="write-review-form" class="container section-bottom-margin font14">
        <div class="grid-12">
            <div class="content-box-shadow">
                <div class="content-box-shadow padding-15-20">
                    <p class="font22 text-black text-bold inline-block">You rated Bajaj Dominar 400</p>
                    <div class="inline-block user-rating-box">
                        <span class="bwsprite star-one"></span>
                        <span class="inline-block">
                            <span class="font18 text-bold">2.5</span>&nbsp;<span class="font12 text-xx-light">/&nbsp;5</span>
                        </span>
                    </div>
                </div>
                <div class="padding-15-20">
                    <div class="grid-8 alpha">
                        <h2 class="font18 margin-bottom10" data-bind="text: headingText"></h2>
                        <p class="text-slate-grey margin-bottom10">Tell us more about it. You may consider writing about:</p>
                        <ol class="numeric-list margin-bottom20">
                            <li>Buying experience</li>
                            <li>Riding experience</li>
                            <li>Details about looks, performance etc.</li>
                            <li>Servicing and maintenance</li>
                            <li>Pros and Cons</li>
                        </ol>

                        <div class="textarea-box margin-bottom15">
                            <textarea data-bind="textInput: detailedReview" id="getDetailedReview" rows="4" cols="80" placeholder="The more detailed your review, the more useful it will be. Write your review."></textarea>

                            <div data-bind="visible: !detailedReviewFlag() && detailedReview().length < 300" class="review-char-count position-abt font12">
                                <span data-bind="visible: detailedReview().length > 0"><span data-bind="text: detailedReview().length"></span>/</span><span data-bind="text: reviewCharLimit"></span>&nbsp;min
                            </div>

                            <div data-bind="visible: detailedReviewFlag" class="textarea-error position-abt">
                                <span class="error-text" data-bind="text: detailedReviewError"></span>
                            </div>
                        </div>

                        <h3 class="font15 text-black margin-bottom10">Give a title to your review</h3>
                        <p class="text-slate-grey margin-bottom20">A catchy title will grab eyeballs, and more people will read your review.</p>

                        <div class="input-box form-control-box" data-bind="css: reviewTitle().length > 0 ? 'not-empty' : ''">
                            <input type="text" id="getReviewTitle" data-bind="textInput: reviewTitle" />
                            <label for="getReviewTitle">Your title</label>
                            <span class="boundary"></span>
                            <span class="error-text"></span>
                        </div>

                        <h2 class="font18 padding-bottom5">Can you share a little more about this bike?<span class="text-light-grey text-unbold font14">&nbsp;(Optional)</span></h2>

                        <ul class="detailed-question-list margin-bottom20" data-bind="foreach: feedbackQuestions">
                            <li class="list-item">
                                <p class="item-title" data-bind="text: heading"></p>
                                <p class="item-subtitle" data-bind="text: description"></p>

                                <ul class="item-rating-list inline-block hover-effect" data-bind="css: currentlySelected > 0 ? 'opacity-active' : '', foreach: rating.slice(0).reverse()">
                                    <li data-bind="click: function(data, event) { $root.setRating($parent, data, event) }, attr: {'data-count': (5 - $index())}, css: $parent.currentlySelected > (4 - $index()) ? 'star-one-active' : ''">
                                        <span class="bwsprite star-zero"></span>
                                    </li>
                                </ul>
                                <p class="feedback-text inline-block"></p>
                            </li>
                        </ul>

                        @*<ul class="detailed-question-list margin-bottom20">
                            <li class="list-item">
                                <p class="item-title">Visual appeal</p>
                                <p class="item-subtitle">Remember, what others thought when they first saw your bike!</p>

                                <ul class="item-rating-list inline-block" data-list-type="visualAppeal" data-bind="css: visualAppealCount() > 0 ? 'opacity-active' : ''">
                                    <li data-bind="click: setRating, attr: {'data-count': 5}, css: visualAppealCount() > 4 ? 'star-one-active' : ''">
                                        <span class="bwsprite star-zero"></span>
                                    </li>
                                    <li data-bind="click: setRating, attr: {'data-count': 4}, css: visualAppealCount() > 3 ? 'star-one-active' : ''">
                                        <span class="bwsprite star-zero"></span>
                                    </li>
                                    <li data-bind="click: setRating, attr: {'data-count': 3}, css: visualAppealCount() > 2 ? 'star-one-active' : ''">
                                        <span class="bwsprite star-zero"></span>
                                    </li>
                                    <li data-bind="click: setRating, attr: {'data-count': 2}, css: visualAppealCount() > 1 ? 'star-one-active' : ''">
                                        <span class="bwsprite star-zero"></span>
                                    </li>
                                    <li data-bind="click: setRating, attr: {'data-count': 1}, css: visualAppealCount() > 0 ? 'star-one-active' : ''">
                                        <span class="bwsprite star-zero"></span>
                                    </li>
                                </ul>
                                <p class="feedback-text inline-block" data-bind="text: visualAppealFeedback"></p>
                            </li>
                        </ul>*@
                        <div class="clear"></div>

                        <h3 class="font15 margin-bottom10">Tips for prospective buyers</h3>
                        <p class="text-light-grey margin-bottom20">Share key tips which you think were useful while owning/riding this bike.</p>

                        <div class="input-box form-control-box" data-bind="css: reviewTips().length > 0 ? 'not-empty' : ''">
                            <input type="text" id="getReviewTip" data-bind="textInput: reviewTips" />
                            <label for="getReviewTip">Your tip</label>
                            <span class="boundary"></span>
                        </div>

                        <input type="button" class="btn btn-orange btn-220-40" value="Submit review" data-bind="click: submitReview" />

                    </div>
                    <div class="grid-4 omega">

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>