@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/user-review/write-review.css' />";
    Model.Page_JS_Path = "/m/src/user-review/write-review.js";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<h2>WriteReview_Mobile</h2>

