
<div class="clear"></div>

<div class="banner-div">
    <div id="divBottomAdBar" class="ad-div">
        <div id='div-gpt-ad-1435297201507-0' style='height:250px; width:300px;' class="text-center margin-top10 margin-bottom10">
            <script type='text/javascript'>
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1435297201507-0'); });
            </script>
        </div>
    </div>
</div>

