<div id="divAdBar">
    <div id='div-gpt-ad-1419227721763-0' style='width:320px; height:50px; margin:10px auto 0 auto;'>
        <script type='text/javascript'>
            googletag.cmd.push(function () { googletag.display('div-gpt-ad-1419227721763-0'); });
        </script>
    </div>
</div>



<div class="grid-12">
    <div class="margin-top10 margin-bottom10">
        <h1 class="m-special-skin-text">@Model.SeoTags.Heading</h1>
    </div>
</div>

<div class="clear"></div>