@model BikewaleOpr.Models.DealerPricing.DealerOperationVM

<li>
    <div class="@string.Format("collapsible-header {0}", (Model.IsOpen ? "active" : ""))"><strong>Dealer Operation</strong></div>
    <div class="collapsible-body">
        <div data-bind="with: dealerOperationsModel" class="container">
            <div class="materialize-select input-field row s12">
                <select class="chosen-select" data-bind="event:{ change: onCityChange}" id="ddlDealerCity">
                    <option value="0" disabled selected>Select Dealer City</option>
                    @foreach (var dealerCity in Model.DealerCities)
                    {
                        <option value=@dealerCity.CityId>@dealerCity.CityName</option>
                    }
                </select>
            </div>
            <div class="materialize-select input-field row s12">
                    <select class="chosen-select" id="ddlMakes" data-bind="options: makes,
                        optionsText: 'makeName',
                        optionsValue: 'makeId',
                        value: selectedMake,
                        event: { change: onMakeChange}
                        "></select>
            </div>
            <div class="materialize-select input-field row s12">
                <select class="chosen-select" id="ddlDealers" data-bind="options: dealers,
                        optionsText: 'dealerName',
                        optionsValue: 'dealerId',
                        value: selectedDealer
                        "></select>
            </div>
            <div class="materialize-select input-field row s12">
                <select id="ddlDealerOperations" class="chosen-select" data-bind="options: operations,
                        optionsText: 'operationName',
                        optionsValue: 'operationId',
                        value: selectedOperation
                        "></select>
            </div>
            <div class="input-field row s12">
                <button data-bind="event:{ click: getPricing}" class="btn waves-effect waves-light" name="action">
                    Submit
                </button>
            </div>
        </div>
    </div>
</li>
