@model BikewaleOpr.Models.DealerPricing.DealerPricingIndexPageVM

@{
    ViewBag.Title = Model.PageTitle;
    ViewBag.PageTitle = Model.PageTitle;
}

<div class="row">
    <div class="col m9">

    </div>
    <div class="col m3">
        <ul class="collapsible margin-top10" data-collapsible="accordion">
            @Html.Partial("~/Views/DealerBikePrice/_SelectOperationCollapsable.cshtml", Model.DealerOperationParams)
        </ul>
    </div>
</div>

<script src="~/src/DealerPricing/dealerpricingindex.js"></script>