@charset "utf-8";

.bajaj-survey-banner{
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/d/banner-d.png) no-repeat center top;
    height: 198px;
    padding-top: 1px;
}
.header-text{
    position: relative;
    top: 35px;
}
.header-container{
    border-bottom: 1px solid #cccccc;
    margin: 0 50px;
}
.container-padding10{ 
    padding: 25px 10px; 
}
.container-margin10{ 
    margin: 10px; 
}
.font15{
    font-size: 15px;

}
.visibility-on{
    visibility: visible;
}
.visibility-off{
    visibility: hidden;
}
.x-transform{
    left: 50%; 
    transform: translateX(-50%); 
    -ms-transform: translateX(-50%); 
    -moz-transform: translateX(-50%); 
    -o-otransform: translateX(-50%); 
    -ms-transform: translateX(-50%);
}
.radio-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
#SeenThisAd2 {
    margin-left: 50px;
    margin-right: 4px;
}
.survey-page{
    position: relative;
    display: block;
    width: 600px;
	margin: 0 auto;
}
.survey-page.hide,
.thankyou-page-container.hide {
	display: none;
}
.question-box{
    margin: 12px 0;
}
.survey-select, .survey-select-conditional {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #969a9e;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/m/dropArrowBg.png) 98% / 4% no-repeat;
    padding: 10px 10px 5px 5px;
    width: 300px;
    font-size: 16px;
    cursor: pointer;
}
.survey-select option, .survey-select-conditional option{
    color: black;
}
.survey-select ::-ms-expand, survey-select-conditional ::after -ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}
.checkbox-container {
    margin: 15px 0 0 15px;
}
.question-status-container{
    margin: 20px auto 50px;
	display: block;
	text-align: center;
}
.q-circle{
    width: 35px;
    height: 35px;
	line-height: 35px;
    border-radius: 50%;
    background-color: #eeeeee;
    display: inline-block;
    vertical-align: middle;
}
.q-circle.active, .q-line.active{
    background-color: #d42c2c;
}
.q-line{
    width: 100px;
    height: 2px;
    background-color: #eeeeee;
    display: inline-block;
    vertical-align: middle;
}
.qNum{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.survey-input{
    border: none;
    border-bottom: 1px solid #aaa;
    width: 80%;
    padding-top: 10px;
    font-size: 16px;
    margin-left: 11px;
    margin-bottom: 15px;
}
input[type="text"].survey-input:focus,
input[type="number"].survey-input:focus {
	box-shadow: none;
	border: 0;
	border-bottom: 1px solid #3799a7;
}
input, input::-webkit-input-placeholder{
    font-size: 16px;
    line-height: 1.8;
}

.video-wrapper {
	position: relative;
	padding-bottom: 35.25%;
	padding-top: 15px;
	height: 0;
}



.thankyou-page-container{
    padding: 10px;
}
.thankyou-page{
    border: 1px solid #e5e5e5;
    padding:50px 0;
}

.question-box .select-box .chosen-container, .question-box .select-box{
    height: 25px;
}

/* @group Multi Chosen */
.question-box .chosen-container-multi{
    padding: 0px;
    width: 500px;
    border: none;
    font-size: 16px;
}
.question-box .chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid #82888b;
    box-shadow: none;
    background-color: #fff;
    cursor: text;
}
.question-box .chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.question-box .chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.question-box .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.question-box .chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 0px 5px 3px 0;
  padding: 5px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.question-box .chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.question-box .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 7px;
  right: 4px;
  display: block;
  width: 8px;
  height: 8px;
  background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwmsprite-v3.png?v28Apr2017') -86px -241px no-repeat;
  font-size: 1px;
}
.question-box .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -86px -241px;
}
.question-box .chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.question-box .chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.question-box .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.question-box .chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.question-box .chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.survey-page .btn{
    margin-top: 10px;
    margin-bottom: 50px;
}

/* @end */


@media screen and (max-width:768px) and (min-width: 320px){
    .q-line{
        width: 70px;
    }
    .q-circle{
        width: 25px;
        height: 25px;
		line-height: 25px;
    }
    .survey-page{
        width: 80%;
    }
    .survey-select, .survey-select-conditional{
        width: 100%;
        margin-left: 0px;
    }
    .bajaj-survey-banner{
        background: url(https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/banner-m.png) no-repeat center bottom;
        height: 140px;
        padding-top: 1px;
    }
    .header-container{
        border-bottom: 1px solid #cccccc;
        margin: 0 10px;
    }
    .thankyou-page{
        border: 1px solid #e2e2e2;
        margin: 10px;
        padding: 60px 10px 40px;
    }
    .question-box .select-box .chosen-container, .question-box .select-box{
        height: auto;
    }
    .checkbox-container{
        margin: 15px 0 0 0;
    }
    .question-status-container{
        margin: 20px auto 50px;
    }
    .video-wrapper iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
    }
}