.social-wrapper
    overflow: hidden

    li
        width: 38px
        height: 24px
        margin-right: 10px
        float: left
        text-align: center

    a
        width: 100%
        height: 100%
        display: block

.social-media-divider
	padding-top: 15px
	padding-bottom: 15px
	margin-top: 20px
	border-top: 1px solid #e2e2e2

.rounded-corner2
    @include border-radius

.whatsapp-container
    background: -webkit-linear-gradient(to bottom, #49c633, #40ad2c)
    background: -o-linear-gradient(to bottom, #49c633, #40ad2c)
    background: -moz-linear-gradient(to bottom, #49c633, #40ad2c)
    background: linear-gradient(to bottom, #49c633, #40ad2c)

.fb-container
    background: -webkit-linear-gradient(to bottom, #5171ba, #3b599c)
    background: -o-linear-gradient(to bottom, #5171ba, #3b599c)
    background: -moz-linear-gradient(to bottom, #5171ba, #3b599c)
    background: linear-gradient(to bottom, #5171ba, #3b599c)

.tweet-container
    background: -webkit-linear-gradient(to bottom, #28c0ff, #1babe7)
    background: -o-linear-gradient(to bottom, #28c0ff, #1babe7)
    background: -moz-linear-gradient(to bottom, #28c0ff, #1babe7)
    background: linear-gradient(to bottom, #28c0ff, #1babe7)

.gplus-container
    background: -webkit-linear-gradient(to bottom, #ff533f, #dd2a16)
    background: -o-linear-gradient(to bottom, #ff533f, #dd2a16)
    background: -moz-linear-gradient(to bottom, #ff533f, #dd2a16)
    background: linear-gradient(to bottom, #ff533f, #dd2a16)

.mail-container
    background: -webkit-linear-gradient(to bottom, #c6c6c6, #acacac)
    background: -o-linear-gradient(to bottom, #c6c6c6, #acacac)
    background: -moz-linear-gradient(to bottom, #c6c6c6, #acacac)
    background: linear-gradient(to bottom, #c6c6c6, #acacac)

@import "./social-share-icons"
