.brand-type-carousel
	.carousel-card
		width: 200px
		min-height: 110px

		.card-target-block
			min-height: 110px
		
	.brand-logo-image
    width: 100%
    height: 50px
    line-height: 0
    display: table
    text-align: center

	.brand-type
    display: table-cell
    vertical-align: middle

	.swiper-details-block
    padding-bottom: 12px

	.brand-details__title
		color: #2a2a2a
		font-size: 12px
		font-weight: bold
		padding-top: 10px
		margin-bottom: 5px
		border-top: 1px solid #e2e2e2

	.brand-details__subtitle
		color: #82888b
		font-size: 11px
		font-weight: normal

@import "brand-logo"

.relative-gallery-container .slider__thumbnail .slick-slide img
	border-right: 10px solid transparent
