 
.emi-calculator
  background-color: color('white')

.emi-calculator__head
  background-color: color('snow')
  padding: 18px 20px

.emi-calculator__title
  font-size: 18px
  line-height: 28px
  margin-bottom: 8px
  font-weight: $font-bold

.emi-calculator__head-description
  font-size: 13px
  line-height: 22px
  font-weight: $font-semibold


