.bwm-footer
    background: #323434
    padding-top: 30px
    padding-bottom: 15px
    font-size: 13px
    color: #fff

    a
        color: #fff

.footer-link-list
    li
        display: inline-block

    a
        display: inline-block
        padding: 10px

@import "placeholder/grid"
@include grid(4)
@include grid(8)

.bw-footer-icon
    width: 73px
    height: 20px
    background-position: 0 -547px
    position: relative
    top: 2px

.cw-footer-icon
    width: 69px
    height: 12px
    background-position: -78px -516px

.cw-logo-label
    font-size: 8px
    color: #cfcfcf
    margin-left: 13px
    position: relative
    top: -5px

.ct-footer-icon
    width: 93px
    height: 17px
    background-position: -78px -534px
    position: relative
    top: 4px

.google-play-logo
    background-position: 2px -344px
    width: 118px
    height: 42px
    margin-top: 10px
    margin-bottom: 15px

.bwm-footer
    .border-solid-bottom
        border-bottom-color: rgba(183, 183, 183, 0.2)

@import "placeholder/font-size"
@include font-size(11)

@import "placeholder/padding"
@include padding-top(10)
@include padding-bottom(15)
@include padding-bottom(20)

@import "placeholder/border"
@include border(bottom)

@import "placeholder/text-align"
@include text-align(center)
@include text-align(right)
