.error-icon
    background-position: -177px -35px
    width: 19px
    height: 19px
    position: absolute
    right: 10px
    top: 10px
    z-index: 9

.bw-blackbg-tooltip
    background: #4d5057
    color: #fff
    font-size: 12px
    padding: 3px 5px
    position: absolute
    right: 0px
    top: 37px
    z-index: 2

.border-red
    border: 1px solid #F00
