.bwm-fullscreen-popup
    background: #fff
    padding: 10px 20px 30px
    margin: auto
    width: 100%
    position: fixed
    left: 0
    top: 0
    height: 100%
    z-index: 10
    overflow-y: scroll

.text-capitalize
    text-transform: capitalize

.btn-full-width
    display: block
    width: 100%

.cross-lg-lgt-grey
    width: 16px
    height: 16px
    background-position: -36px -226px

.pos-top10
    top: 10px

.pos-top15
    top: 15px

.pos-right10
    right: 10px

.pos-right15
    right: 15px

.cross-sm-dark-grey
    width: 10px
    height: 10px
    background-position: -85px -240px

.back-arrow-box
	height: 30px
	width: 40px
	position: absolute
	top: 5px
	left: 5px
	z-index: 11
	cursor: pointer

@import "placeholder/font-size"
@include font-size(13)
@include font-size(18)
@include font-size(20)

@import "placeholder/margin"
@include margin-bottom(20)

@import "placeholder/padding"
@include padding-right(30)

@import "placeholder/text-align"
@include text-align(center)
