
.global-search-popup
	position: fixed
	left: 5px
	top: 5px
	right: 5px
	z-index: 10

	.back-arrow-box
		height: 30px
		width: 40px
		position: absolute
		top: 5px
		left: 5px
		z-index: 11
		cursor: pointer

.back-long-arrow-left
	background-position: -155px 0
	width: 21px
	height: 16px
	position: absolute
	top: 7px
	left: 10px

.global-search-popup
	.cross-box
		height: 30px
		width: 40px
		position: absolute
		top: 5px
		right: 5px
		z-index: 11
		cursor: pointer

	.cross-md-dark-grey
		width: 13px
		height: 13px
		position: absolute
		right: 13px
		top: 8px
		z-index: 11
		background-position: -62px -246px

	.form-control
		padding: 10px 50px

#global-recent-searches
	li
		height: 40px !important
		background: $white

.cross-md-dark-grey
	width: 13px
	height: 13px
	background-position: -62px -246px