@import mixins/_vendor-prefix.sass

.global-search-popup
	position: fixed
	left: 5px
	top: 5px
	right: 5px
	z-index: 10

	.back-arrow-box
		height: 30px
		width: 40px
		position: absolute
		top: 5px
		left: 5px
		z-index: 11
		cursor: pointer

.back-long-arrow-left
	background-position: -155px 0
	width: 21px
	height: 16px
	position: absolute
	top: 7px
	left: 10px

.global-search-popup
	.cross-box
		height: 30px
		width: 40px
		position: absolute
		top: 5px
		right: 5px
		z-index: 11
		cursor: pointer

	.cross-md-dark-grey
		width: 13px
		height: 13px
		position: absolute
		right: 13px
		top: 8px
		z-index: 11
		background-position: -62px -246px

	.form-control
		padding: 10px 50px

#global-recent-searches
	li
		height: 40px !important
		background: $white

.cross-md-dark-grey
	width: 13px
	height: 13px
	background-position: -62px -246px

.bw-doodle__container
	display: inline-block
	position: absolute
	top: 0
	left: 145px
	height: 50px
	width: 90px
	transition: all linear 1s
	overflow: hidden

.bw-doodle__bell-one,
.bw-doodle__bell-two
	display: inline-block
	position: absolute
	background: url('https://imgd.aeplcdn.com/0x0/cw/static/icons/doodle/ganesh-festival/bell.svg') no-repeat center
	background-size: contain
	@include vendor-prefix('animation', bell-chain-animation infinite 2s alternate)

.bw-doodle__bell-one
	top: -5px
	left: 7px
	width: 12px
	height: 25px

.bw-doodle__bell-two
	top: -11px
	right: 0
	width: 20px
	height: 35px

.bw-doodle__ganesh-image
	position: absolute
	display: inline-block
	height: 50px
	width: 50px
	top: 1px
	left: 20px
	text-align: center

.bw-doodle__ganesh
	position: absolute
	top: 4px
	left: 8px
	display: inline-block
	width: 40px
	height: 45px
	background: url('https://imgd.aeplcdn.com/0x0/cw/static/icons/doodle/ganesh-festival/ganapati.png') no-repeat center
	background-size: contain
	z-index: 2
	

.bw-doodle__ganesh-bg
	display: inline-block
	width: 45px
	height: 48px
	margin-top: -2px
	margin-left: 5px
	background: url('https://imgd.aeplcdn.com/0x0/cw/static/icons/doodle/ganesh-festival/circle.svg') no-repeat center
	background-size: contain
	@include vendor-prefix('animation', ganeshBg 8s infinite linear)
	opacity: .6

@-webkit-keyframes bell-chain-animation
	0%
		@include vendor-prefix('transform',rotate(10deg))
  
	50%
		@include vendor-prefix('transform', rotate(-10deg))
  
	100%
		@include vendor-prefix('transform', rotate(10deg))
  

@keyframes bell-chain-animation
	0%
		@include vendor-prefix('transform',rotate(10deg))
  
	50%
		@include vendor-prefix('transform', rotate(-10deg))
  
	100%
		@include vendor-prefix('transform', rotate(10deg))
  

@-webkit-keyframes ganeshBg
	0%
		@include vendor-prefix('transform', rotate(0deg))
	
	100%
		@include vendor-prefix('transform', rotate(359deg))
	

@keyframes ganeshBg
	0%
		@include vendor-prefix('transform', rotate(0deg))
	
	100%
		@include vendor-prefix('transform', rotate(359deg))
	
