.header-navbar
    background-color: #333
    height: 50px

.bwm-logo
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-logo.png') no-repeat
    width: 84px
    height: 24px
    position: relative
    top: 2px
    display: inline-block

.nav-icon
    background-position: 0 0
    width: 20px
    height: 15px
    position: relative
    top: 1px

.header-link
    padding: 11px 10px 10px

#navbar-btn
    padding: 15px 10px

.global-search
    float: left
    padding: 15px 10px

.search-bold-icon
    width: 15px
    height: 15px
    background-position: -61px -278px
    position: relative
    top: 2px

.global-location
    float: left
    padding: 15px 20px 14px 10px
    z-index: 5

.map-loc-icon
    width: 12px
    height: 16px
    background-position: -40px -164px
    position: relative
    top: 1px

.hide-bw-header
	padding-top: 50px
	
	.header-navbar
		display: none
