$img-cdn-path : "https://imgd.aeplcdn.com"

@mixin circle-loader
	background-image: url(#{$img-cdn-path}/0x0/bw/static/sprites/m/circleloader.gif)
	background-repeat: no-repeat

$powerdrift-banner__image: $img-cdn-path + "/0x0/bw/static/landing-banners/m/m-powerdrift-banner.jpg"

@mixin arrow-back-white()
	.fa-arrow-back
		width: 12px
		height: 20px
		background-position: -63px -162px

$star-icon-map: (1: 'https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-1-26x25.png', 2: 'https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-2-26x25.png', 3: 'https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-3-26x25.png', 4: 'https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-4-26x25.png', 5: 'https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-5-26x25.png')

@mixin image-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/4d5057/image.svg') no-repeat center

// finance
@mixin cross-fff-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/fff/cross.svg') no-repeat center

@mixin arrow-right-4d5057-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/4d5057/arrow-right.svg?v05April2018') no-repeat center

@mixin arrow-down-4d5057-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/4d5057/arrow-down.svg') no-repeat center

@mixin tick-fff-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/fff/tick.svg') no-repeat center

@mixin skyline-bg
	background-image: url('#{$img-cdn-path}/0x0/bw/static/icons/000/skyline-bg.svg')
	background-repeat: repeat-x

@mixin star-white
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/fff/star.svg') no-repeat center

@mixin skyline-city
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/fd8d81/skyline-city.svg') no-repeat

@mixin search-bike
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/fd8d81/search-bike.svg') no-repeat

@mixin down-fff-arrow
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/fff/arrow-down.svg') no-repeat

@mixin edit-4990e2-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/4990e2/edit.svg') no-repeat center

@mixin location-82888b-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/82888b/location.svg') no-repeat center

@mixin save-0288d1-icon
	background-image: url('#{$img-cdn-path}/0x0/bw/static/icons/0288d1/save.svg')
	background-repeat: no-repeat

@mixin address-proof-4d5057-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/4d5057/address-proof.svg') no-repeat center

@mixin employment-proof-4d5057-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/4d5057/employement-proof.svg') no-repeat center

@mixin identity-proof-4d5057-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/4d5057/identity-proof.svg') no-repeat center

@mixin photo-identity-4d5057-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/4d5057/photo-identity.svg') no-repeat center

@mixin faq-banner-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/4d5057/faq.svg') no-repeat center

@mixin no-bike-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/fd8d81/no-bike.svg') no-repeat center

@mixin plus-4d5057-icon
	background-image: url('#{$img-cdn-path}/0x0/bw/static/icons/4d5057/plus.svg')
	background-repeat: no-repeat
	background-position: center

@mixin minus-4d5057-icon
	background-image: url('#{$img-cdn-path}/0x0/bw/static/icons/4d5057/minus.svg')
	background-repeat: no-repeat
	background-position: center

@mixin locate-me-aeaeae-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/aeaeae/locate-me.svg') no-repeat center

@mixin calendar-7f8186-icon
	background: url('#{$img-cdn-path}/0x0/bw/static/icons/7f8186/calendar.svg') no-repeat left top
