.no-result__content
  text-align: center

.no-result__title
  font-size: 14px
  font-weight: $font-semibold
  color: color('aluminium')
  margin-bottom: 5px

.no-result__subtitle
  font-size: 13px
  color: color('dark-gray')
