@mixin progress-bar
  .progress-bar
    @include flexbox
    @include justify-content(justify)
    align-content: space-between
    padding: 18px 20px 11px

  .progress-bar__item
    @include flex-grow(1)
    padding: 5px
    position: relative
    text-align: right

    &:before
      content: ''
      display: block
      height: 1px
      width: 100%
      background-color: color('border-dark')
      position: absolute
      top: 50%
      left: -5px

    &:first-child
      @include flex-grow(0)

      &:before
        display: none

  .progress-bar__item-content
    padding-left: 40px
    padding-right: 8px
    font-size: 12px
    line-height: 22px
    font-weight: $font-semibold
    display: inline-block
    background-color: color('white')
    color: color('light-grey')
    position: relative
    z-index: 1
    text-transform: capitalize

    
    &.active
      .selection-field__index
        height: 28px
        width: 28px
        padding-top: 3px
        top: -5px
        left: 4px

    &.disabled
      color: color('dark-black', .3)

    &.done
      .selection-field__index
        height: 20px
        width: 20px
        
        &:after
          @include vendor-prefix('border-radius', 30px)
          @include tick-fff-icon
          content: ''
          display: block
          height: 100%
          width: 100%
          background-color: color('mona-lisa')
          position: absolute
          top: 0
          left: 0
          bottom: 0
          right: 0

  .selection-field__index
    @include vendor-prefix('border-radius', 30px)
    content: ''
    display: inline-block
    height: 23px
    width: 23px
    background-color: color('border-light')
    position: absolute
    left: 8px
    font-size: 12px
    text-align: center