@mixin selection-step__card-content($bg-color: 'snow', $color: 'mona-lisa')
  .selection-step__card-content
    @include flexbox
    @include align-items(center)
    @include vendor-prefix('border-radius', 2px)
    width: 100%
    min-width: 300px
    min-height: 160px
    height: 130px
    background-color: color($bg-color)
    border: 1px solid color($color)
    position: relative

    &:before
      content: ''
      display: block
      position: absolute
      top: 0
      height: 90px
      width: 100%
      background-color: color('white')

  @media only screen and (max-width: 320px)
    .selection-step__card-content
      min-width: 270px
      
.selection-steps__container
  padding-left: 20px
  padding-right: 20px

.selection-step--overflow
  padding-left: 0
  padding-right: 0
  width: 100%
  overflow-x: auto
  white-space: nowrap

  .selection-steps__card
    @include vendor-prefix('transition', all .5s ease)
    @include vendor-prefix('transform', scale(.95))
    opacity: .5
    padding-right: 16px
    will-change: opacity
    will-change: transform
    display: inline-block
    width: 88%

    &.inview--active
      @include vendor-prefix('transform', scale(1))
      opacity: 1

    &:first-child
      margin-left: 20px
      
    &:last-child
      padding-right: 20px

  .emi-calulator__selection-steps
    width: 100%

.select-step-card__placeholder
  height: 100%
  width: 100%
  min-height: 160px
  max-width: 320px
  position: relative
  margin: 0 auto

  &:after
    content: ''
    display: block
    position: absolute
    top: 2px
    left: 0
    right: 0
    height: 90px
    width: 100%

.select-card__city-selection
  &:after
    @include skyline-city
    background-position: bottom

.select-card__make-selection
  &:after
    @include search-bike
    background-position: bottom
    top: 25px

.select-step-card__link
  display: inline-block
  position: absolute
  bottom: 20px
  vertical-align: bottom
  width: 100%
  text-align: center
  font-size: 13px
  font-weight: $font-semibold

.selection-step__text
  @include text-truncate
  display: inline-block
  vertical-align: middle
  max-width: 200px
  position: relative

.selection-step__right-arrow
    @include vendor-prefix('border-radius', 50px)
    @include down-fff-arrow
    @include vendor-prefix('transform', rotate(-90deg))
    background-color: color('salmon')
    background-position: center
    background-size: 10px
    height: 16px
    width: 16px
    margin-left: 10px
    display: inline-block
    vertical-align: middle
