.photos-sm,
.videos-sm,
.dealers-sm,
.news-sm,
.reviews-sm,
.specs-sm,
.user-reviews-sm
    width: 14px
    height: 14px
    vertical-align: middle
    margin-right: 5px
    position: relative
    top: 1px

.photos-sm
    background-position: 0 -477px

.videos-sm
    background-position: -16px -476px

.reviews-sm
    background-position: -77px -555px

.news-sm
    background-position: -109px -555px

.specs-sm
    background-position: -141px -555px

.dealers-sm
    background-position: -31px -476px

.user-reviews-sm
    background-position: -173px -555px

.item-more-details-list
    a
        &:hover
            .reviews-sm
                background-position: -93px -555px

            .news-sm
                background-position: -125px -555px

            .specs-sm
                background-position: -157px -555px

            .photos-sm
                background-position: 0 -493px

            .videos-sm
                background-position: -16px -492px

            .dealers-sm
                background-position: -31px -492px

            .user-reviews-sm
                background-position: -189px -555px
