.social-icons-sprite
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/social-icons-sprite.png') no-repeat
    display: inline-block

.fb-icon,
.gplus-icon,
.tweet-icon
    height: 14px
    position: relative
    top: 4px

.whatsapp-icon
    height: 14px
    position: relative
    top: 4px
    width: 12px
    background-position: 0 0

.fb-icon
    width: 8px
    background-position: -22px 0

.tweet-icon
    width: 16px
    background-position: -39px 0

.gplus-icon
    width: 14px
    background-position: -65px 0
