.toast-box
    border-radius: 3px
    color: #fff
    position: fixed
    bottom: 50px
    left: 0
    right: 0
    max-width: 260px
    margin: 0 auto
    padding: 12px 20px
    font-size: 13px
    line-height: 15px
    color: #fff
    background-color: #5a5a5a
    z-index: 25
    text-align: center