.header-fixed { z-index:5 !important; }
body { overflow-x:hidden; }
.opacity0 { opacity:0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; height:0; }
.dealer-filter-dropdown { position:fixed; top:60px; z-index:1; margin-left:45px; }
#locateDealerFilter { width:646px; height:65px; margin:0 auto;z-index:2; }
.dealer-map-wrapper { width:100%;height:580px;display:block; }
.box-light-shadow {-moz-box-shadow:0 1px 2px #aaa;-webkit-box-shadow:0 1px 2px #aaa;-o-box-shadow:0 1px 2px #aaa;-ms-box-shadow:0 1px 2px #aaa;box-shadow: 0 1px 2px #aaa; } 
.content-inner-block-12 { padding:13px 12px 12px; }
.content-inner-block-1520 { padding:15px 20px; }
.margin-top8 { margin-top:8px; }
.brand-city-filter {width: 180px;height: 40px;border:1px solid #e2e2e2;text-align:left;font-size:14px;cursor:pointer;}
.placeholder-loading-text.form-control { padding:8px;border:none;border-radius:0; }
.brand-city-filter select { display:none; width:180px; height: 38px; color: #82888b; border: none;}
.brand-city-filter .chosen-container { border:none; }
.brand-city-filter .btnSpinner, .brand-city-filter .error-tooltip-siblings { display:none; }
.brand-city-filter .chosen-container:first-child { border: 0; border-radius: 2px !important;}
#applyFiltersBtn.btn { padding:8px 31px; }
.dealer-info-tooltip { max-width:350px; }
#dealerListingSidebar { width:338px; min-height:600px; border:1px solid #f1f1f1; background:#fff; z-index:3; }
.dealerSidebarHeading { width:338px; position:fixed; top:51px; background:#fff; z-index:3; }
.dealerSidebarHeading h1 { color:#000; }
#dealersList { width:100%; min-height:600px; background:#fff; padding:52px 0 15px;}
#dealersList li { padding:0 20px 18px; border:1px solid #fff; }
#dealersList li:first-child h2 { border-top:0; }
#dealersList li.active { background:#f9f9f9; border:1px solid #e2e2e2; }
#dealersList li.active h2 { border-top:0; position:relative; }
#dealersList li.active + li h2 { border-top:0; }
#dealersList li.active h2 .dealer-pointer-arrow::before {border-right: 14px solid #e2e2e2;border-top: 14px solid transparent;border-bottom: 14px solid transparent;content: "";position: absolute; top:50px; left: -35px;z-index: 1;}
#dealersList li.active h2 .dealer-pointer-arrow::after { border-right: 14px solid #f9f9f9; border-top: 14px solid transparent; border-bottom: 14px solid transparent; content: ""; position: absolute; top:50px;left: -34px; z-index: 1; }
#dealersList h2 { padding-top:18px; border-top:1px solid #e2e2e2; }
#dealersList .btn.get-assistance-btn {padding:8px 35px;width:236px}
#dealersList a { display:block; }
#dealersList a:hover, #dealerDetailsSliderCard a:hover { text-decoration:none; }
.featured-tag {position:relative;left:-20px;top:-5px;width:100px;display:block;background:#4d5057;z-index:1; line-height:28px; font-weight:400; }
.featured-tag:after {content:'';width:12px; height:28px;background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/upcoming-ribbon.png?v=9Sep2016) no-repeat right top;position:absolute;left:98px;}
.tel-sm-grey-icon{width: 15px;height: 15px;background-position: 0 -435px;position: relative;top: 2px;}
.btn-white-orange { background: transparent; color: #82888b; border: 1px solid #82888b;}
.btn-white-orange:hover { background: #f04031; color: #fff; border: 1px solid #f04031; }
.btn-white-orange:focus { background: #f04031; color: #fff; border: 1px solid #f04031; }
#dealersList::-webkit-scrollbar {width: 5px;}
#dealersList::-webkit-scrollbar-track {background: #fff;}
#dealersList::-webkit-scrollbar-thumb {background: #ddd;}
#dealersList::-webkit-scrollbar-thumb:hover {background: #bbb;}
a.text-black:hover { text-decoration:none; }
#dealerDetailsSliderCard { display:none; width:680px; min-height:200px; position:fixed; right:-338px; z-index:2; overflow-y:scroll; }
#dealerDetailsSliderCard::-webkit-scrollbar {width: 5px;}
#dealerDetailsSliderCard::-webkit-scrollbar-track {background: #fff;}
#dealerDetailsSliderCard::-webkit-scrollbar-thumb {background: #ddd;}
#dealerDetailsSliderCard::-webkit-scrollbar-thumb:hover {background: #bbb;}
#dealersList li.dummy-card { height:250px; border-top:0; }
.cross-lg-lgt-grey:hover { background-position: -36px -252px; }
#dealerDetailsSliderCard .featured-tag { top:-10px; }
.text-dark-black { color:#1a1a1a; }
.border-dark-left { border-left:1px solid #82888b; }
.commute-distance-form .form-control { width:295px; }
.location-details { display:none; }
#dealerDetailsSliderCard .form-control { font-size:14px; padding:9px 35px 9px 9px; border-radius:2px; }
#buyingAssistanceForm { background:#f5f5f5; }
#buyingAssistanceForm .errorIcon, #buyingAssistanceForm .errorText { display:none; }
.name-email-mobile-box { width:184px; }
.select-model-box { width:388px; }
.mobile-prefix {position: absolute;padding: 10px 13px;color: #999;}
#dealerDetailsSliderCard .mobile-box.form-control { padding-left:40px; }
#modelsAvailable { overflow:hidden; margin-left:20px; padding-bottom:20px; }
#modelsAvailable li { width:295px; min-height:260px; display:inline-block; vertical-align:top; margin-top:20px; margin-right:20px; background:#fff;}
#modelsAvailable .imageWrapper { width:254px; height:143px; overflow:hidden; text-align:center; }
#modelsAvailable .imageWrapper .model-image-wrapper { width:254px; height:143px; }
#modelsAvailable .imageWrapper .model-image-wrapper img { height: 143px; }
.margin-bottom7 { margin-bottom:7px; }
#modelsAvailable .bikeDescWrapper { padding:20px 0 10px; }
.hide-scroll { overflow:hidden; }
.phone-grey-icon, .phone-black-icon { width:11px; height:15px; position:relative; margin-right:5px; }
.phone-grey-icon { top: 2px; background-position:-53px -444px; }
.phone-black-icon { top: 5px; background-position:-73px -444px; }
.mail-grey-icon { width:12px; height:10px; background-position:-92px -446px; margin-right:5px; }
.get-direction-icon, .sendto-phone-icon { width:10px; height:10px; margin-right:3px; }
.get-direction-icon { background-position:-113px -446px; }
.sendto-phone-icon { background-position:-132px -446px; }
.dealership-loc-icon { width:9px; height:12px; background-position:-52px -469px; position:relative;top:4px; }
.dealership-card-details { width:92%; }
#dealersList .mail-grey-icon { position:relative; top:6px; }
.crosshair-icon { width:20px; height:20px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/detect-location-icon.jpg) no-repeat; }

#leadCapturePopup{display:none;width:450px;min-height:470px;background:#fff;margin:0 auto;position:fixed;top:5%;right:5%;left:5%;z-index:210;padding:30px 40px}
.personal-info-form-container{margin:10px auto;width:300px;min-height:100px}
.personal-info-form-container .personal-info-list{margin:0 auto;width:280px;float:left;margin-bottom:20px;border-radius:0}
.personal-info-list .errorIcon,.personal-info-list .errorText{display:none}
#otpPopup{display:none}
#otpPopup .otp-box,#otpPopup .update-mobile-box{width:280px;margin:15px auto 0}
#otpPopup .update-mobile-box .form-control-box{margin-top:25px;margin-bottom:50px}
#otpPopup .otp-box p.resend-otp-btn{color:#0288d1;cursor:pointer;font-size:14px}
#otpPopup .update-mobile-box{display:none}
#otpPopup .edit-mobile-btn,.resend-otp-btn{cursor:pointer}
.phone-grey-icon { width:11px; height:15px; margin-right:3px; background-position:-53px -444px;position:relative;top:0;}
.edit-blue-icon{width:16px;height:16px}
.edit-blue-icon{background-position:-115px -250px}
.icon-outer-container{width:102px;height:102px;margin:0 auto;background:#fff;border:1px solid #ccc}
.icon-inner-container{width:92px;height:92px;margin:4px auto;background:#fff;border:1px solid #666}
.user-contact-details-icon{width:36px;height:44px;background-position:0 -391px}
.otp-icon{width:30px;height:40px;background-position:-46px -391px}
.mobile-prefix{position:absolute;padding:10px 13px 13px;color:#999}
#otpPopup .errorIcon,#otpPopup .errorText{display:none}
.input-border-bottom{border-bottom:1px solid #ccc}
.assistance-response-close.cross-lg-lgt-grey:hover { background-position: -36px -252px; }
.ui-autocomplete.availableBrandList { height:100px; overflow-y:scroll; }
.ui-autocomplete.availableBrandList li.ui-menu-item { padding:6px; }
.dealer-card{cursor:pointer}
@-moz-document url-prefix() {
    .brand-city-filter .chosen-container {padding: 9px;}
    #applyFiltersBtn.btn{padding:7px 31px;}
}
@media only screen and (max-width:1024px) {
    #locateDealerFilter { margin:0; }
}
