.section-header,
.section-inner-padding {
  padding: 15px 20px;
  -webkit-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  -moz-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  -ms-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  -o-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  border: 1px solid #e2e2e2 \9; }

.section-bottom-margin {
  margin-bottom: 20px; }

.section-h2-title {
  font-size: 18px; }

.section-heading {
  text-align: center;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 700; }

.collapsible-content .main-content {
  display: inline; }

.collapsible-content .more-content {
  display: none; }

.collapsible-content.active .more-content {
  display: inline; }

.collapsible-content.toggle-off.active .read-more-target {
  display: none; }

.filter-selection-value {
  width: auto;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding-right: 20px;
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) no-repeat 99%; }

.upcoming-filter .select-box {
  height: 22px; }
  .upcoming-filter .select-box .chosen-container {
    min-width: 90px;
    width: auto !important;
    height: 22px;
    border-bottom: 0; }
    .upcoming-filter .select-box .chosen-container .chosen-drop {
      width: 220px;
      top: -4px;
      z-index: 2; }
  .upcoming-filter .select-box .select-label {
    color: #4d5057;
    font-weight: 700; }
  .upcoming-filter .select-box.right-align-box .chosen-container.chosen-with-drop .chosen-drop {
    left: -120px; }

.upcoming-filter .chosen-select {
  display: none; }

.upcoming-filter .chosen-container-single .chosen-single span {
  margin-right: 15px; }

.upcoming-filter .brand-type-filter .chosen-container-single .chosen-single span {
  margin-right: 20px; }

.upcoming-bikes-wrapper {
  min-height: 350px; }

.bike-listing-horizontal {
  overflow: hidden;
  padding-bottom: 20px;
  position: relative; }
  .bike-listing-horizontal.loader-active:before {
    content: '';
    width: 100%;
    min-height: 350px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f5f5f5;
    opacity: 0.8;
    z-index: 1; }
  .bike-listing-horizontal .list-item {
    width: 33%;
    height: 350px;
    display: inline-block;
    vertical-align: bottom;
    padding: 15px 10px 0; }
    .bike-listing-horizontal .list-item a:hover {
      text-decoration: none; }
    .bike-listing-horizontal .list-item h3 {
      font-weight: 600; }
  .bike-listing-horizontal .card-desc-block {
    padding-right: 10px;
    padding-bottom: 10px;
    min-height: 121px; }

.border-red-left {
  border-left: 5px solid #ef3f30;
  line-height: 22px;
  padding-left: 8px; }

.launching-label {
  height: 22px; }

.key-size-14 {
  font-size: 14px;
  color: #787878; }

.value-size-14,
.value-size-16,
.value-size-18 {
  font-weight: 700;
  color: #4d5057; }

.value-size-14 {
  font-size: 14px; }

.value-size-16 {
  font-size: 16px; }

.value-size-18 {
  font-size: 18px; }

.padding-10-20 {
  padding: 10px 20px; }

.footer-pagination .grid-5 {
  position: relative;
  top: 4px; }

.pagination-list-content {
  min-width: 185px;
  width: auto;
  max-width: 355px;
  float: right; }

.pagination-list {
  margin-right: 35px;
  margin-left: 35px;
  overflow: hidden; }
  .pagination-list li {
    float: left;
    margin-right: 5px;
    margin-left: 5px; }
    .pagination-list li.active {
      color: #4d5057;
      font-weight: 700;
      border: 1px solid #a2a2a2;
      border-radius: 1px; }
  .pagination-list a {
    color: #82888b;
    font-size: 12px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 30px;
    text-align: center; }
    .pagination-list a:hover {
      color: #4d5057;
      text-decoration: none; }

.pagination-control-prev,
.pagination-control-next {
  position: absolute;
  top: 0;
  width: 30px;
  height: 29px; }

.pagination-control-prev {
  left: 0; }

.pagination-control-next {
  right: 0; }

.pagination-control-prev.inactive,
.pagination-control-next.inactive {
  pointer-events: none; }

.prev-page-icon,
.next-page-icon {
  width: 8px;
  height: 12px;
  position: relative;
  left: 10px;
  top: 5px; }

.prev-page-icon {
  background-position: -213px -187px; }

.next-page-icon {
  background-position: -222px -187px; }

.inactive .prev-page-icon,
.inactive .next-page-icon {
  opacity: 0.2; }

.brand-type {
  height: 50px;
  width: 180px;
  display: block;
  margin: 0 auto; }

.brand-type-title {
  margin-top: 10px;
  display: block; }

.brand-type-container a {
  text-decoration: none;
  color: #82888b;
  display: inline-block; }

.brand-type-container li {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  height: 85px;
  margin: 0 5px 30px;
  text-align: center;
  font-size: 18px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  .brand-type-container li:hover .brand-type-title {
    color: #4d5057;
    font-weight: 700; }

.brand-bottom-border {
  overflow: hidden; }

@media only screen and (max-width: 1024px) {
  .brand-type li,
  .brand-type-container li {
    width: 170px; } }

.brand-type-carousel .brand-logo-image {
  width: 100%;
  height: 60px;
  line-height: 0;
  display: table;
  text-align: center; }

.brand-type-carousel .brand-type {
  display: table-cell;
  vertical-align: middle; }

.brand-type-carousel .card-heading {
  margin-bottom: 2px; }

.inner-content-carousel.brand-type-carousel .jcarousel-control-left,
.inner-content-carousel.brand-type-carousel .jcarousel-control-right {
  top: 26%; }

.brand-1, .brand-10, .brand-11, .brand-12, .brand-13, .brand-14, .brand-15, .brand-16, .brand-17, .brand-18, .brand-19, .brand-2, .brand-20, .brand-22, .brand-23, .brand-24, .brand-3, .brand-34, .brand-37, .brand-38, .brand-39, .brand-4, .brand-40, .brand-41, .brand-42, .brand-5, .brand-6, .brand-7, .brand-8, .brand-81, .brand-71, .brand-9, .brand-21, .brand-38, .brand-23, .brand-72, .brand-73, .brand-74, .brand-75 {
  height: 50px; }

.brandlogosprite {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/brand-type-sprite.png?18Dec20171513599310542) no-repeat;
  display: inline-block; }

.brand-2 {
  width: 87px;
  background-position: 0 0; }

.brand-7 {
  width: 56px;
  background-position: -96px 0; }

.brand-1 {
  width: 88px;
  background-position: -162px 0; }

.brand-8 {
  width: 100px;
  background-position: -260px 0; }

.brand-12 {
  width: 67px;
  background-position: -370px 0; }

.brand-40 {
  width: 125px;
  background-position: -447px 0; }

.brand-34 {
  width: 122px;
  background-position: -582px 0; }

.brand-22 {
  width: 121px;
  background-position: -714px 0; }

.brand-3 {
  width: 44px;
  background-position: -845px 0; }

.brand-17 {
  width: 86px;
  background-position: -899px 0; }

.brand-15 {
  width: 118px;
  background-position: -995px 0; }

.brand-4 {
  width: 43px;
  background-position: -1123px 0; }

.brand-9 {
  width: 99px;
  background-position: -1176px 0; }

.brand-16 {
  width: 117px;
  background-position: -1285px 0; }

.brand-5 {
  width: 59px;
  background-position: -1412px 0; }

.brand-19 {
  width: 122px;
  background-position: -1481px 0; }

.brand-13 {
  width: 122px;
  background-position: -1613px 0; }

.brand-6 {
  width: 63px;
  background-position: -1745px 0; }

.brand-10 {
  width: 102px;
  background-position: -1818px 0; }

.brand-14 {
  width: 127px;
  background-position: -1930px 0; }

.brand-39 {
  width: 89px;
  background-position: -2067px 0; }

.brand-20 {
  width: 82px;
  background-position: -2166px 0; }

.brand-11 {
  width: 121px;
  background-position: -2258px 0; }

.brand-41 {
  width: 63px;
  background-position: -2389px 0; }

.brand-42 {
  width: 64px;
  background-position: -2461px 0; }

.brand-81 {
  width: 71px;
  background-position: -2535px 0; }

.brand-71 {
  width: 39px;
  background-position: -2616px 0; }

.brand-21 {
  width: 97px;
  background-position: -2867px 0; }

.brand-38 {
  width: 42px;
  background-position: -2974px 0; }

.brand-23 {
  width: 125px;
  background-position: -3026px 0; }

.brand-72 {
  width: 50px;
  background-position: -3161px 0; }

.brand-73 {
  width: 60px;
  background-position: -3217px 0; }

.brand-74 {
  width: 110px;
  background-position: -3281px 0; }

.brand-75 {
  width: 122px;
  background-position: -3400px 0; }

.spinner-content {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 45%;
  left: 4%;
  right: 0;
  margin: 0 auto;
  z-index: 2; }

.bw-spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite; }

.circle-path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); } }

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); } }

@-webkit-keyframes colors {
  0% {
    stroke: #ef3f30; }
  100% {
    stroke: #ef3f30; } }

@keyframes colors {
  0% {
    stroke: #ef3f30; }
  100% {
    stroke: #ef3f30; } }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    -moz-transform: rotate(450deg);
    -o-transform: rotate(450deg);
    transform: rotate(450deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    -moz-transform: rotate(450deg);
    -o-transform: rotate(450deg);
    transform: rotate(450deg); } }
