// Core variables and mixins
@import ../../base/variables
@import ../../components/typography

@import ../../mixins/index
@import ../../utils/index

.page__heading
	@include heading-h1
	padding: 16px
	background: color('white')

@include overall-tabs

.content--inner-padding
	padding: 25px 16px

.page__heading-h2
	@include heading-h2
	margin-bottom: 2px

.page-heading__disclaimer
	font-size: 12px
	color: #a8afb3

@import ../../partials/all-bikes-list
@include model-card__explore
