@model Carwale.DTOs.Campaigns.DealerAdDTO
<h3 class="dealer-section__title">Authorized @ViewBag.MakeName Dealers</h3>
<div class="dealer-info-container">
    <span class="test-drive-circle-icon"></span>
    <h3 class="text-black margin-bottom10">Contact @ViewBag.MakeName Dealers</h3>    
    <p>Get in touch with your authorised dealership for the best buying options</p>   
    <a class="big-red-button" href="@ViewBag.ModelUrl?q=lead&propertyid=3">
        <span>Get The Best Deal</span>
    </a>
</div>