.spinner-content
	width: 50px
	height: 50px
	position: fixed
	top: 45%
	left: 4%
	right: 0
	margin: 0 auto
	z-index: 2

.bw-spinner
	-webkit-animation: rotator 1.4s linear infinite
	animation: rotator 1.4s linear infinite

.circle-path
	stroke-dasharray: 187
	stroke-dashoffset: 0
	-webkit-transform-origin: center
	transform-origin: center
	-webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite
	animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite

@-webkit-keyframes rotator
	0%
		@include transform(rotate(0deg))
		
	100%
		@include transform(rotate(270deg))


@keyframes rotator
	0%
		@include transform(rotate(0deg))
		
	100%
		@include transform(rotate(270deg))


@-webkit-keyframes colors
	0%
		stroke: #ef3f30
		
	100%
		stroke: #ef3f30

@keyframes colors
	0%
		stroke: #ef3f30
		
	100%
		stroke: #ef3f30

@-webkit-keyframes dash
	0%
		stroke-dashoffset: 187
		
	50%
		stroke-dashoffset: 46.75
		@include transform(rotate(135deg))
		
	100%
		stroke-dashoffset: 187
		@include transform(rotate(450deg))


@keyframes dash
	0%
		stroke-dashoffset: 187
		
	50%
		stroke-dashoffset: 46.75
		@include transform(rotate(135deg))
		
	100%
		stroke-dashoffset: 187
		@include transform(rotate(450deg))