.brandlogosprite
	background-image: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/brand-type-sprite.png?19Nov20181542599237756')
	background-repeat: no-repeat
	display: inline-block

.brand-2,
.brand-1,
.brand-40,
.brand-3,
.brand-4,
.brand-11,
.brand-20,
.brand-5,
.brand-39,
.brand-6,
.brand-7,
.brand-8,
.brand-34,
.brand-17,
.brand-9,
.brand-19,
.brand-10,
.brand-12,
.brand-22,
.brand-15,
.brand-16,
.brand-13,
.brand-14,
.brand-41,
.brand-42,
.brand-80,
.brand-81,
.brand-71,
.brand-21,
.brand-38,
.brand-23,
.brand-72,
.brand-73,
.brand-74,
.brand-75,
.brand-76,
.brand-77,
.brand-79,
.brand-82
	height: 30px

.brand-2
	width: 52px
	background-position: 0 0

.brand-7
	width: 34px
	background-position: -58px 0

.brand-1
	width: 53px
	background-position: -97px 0

.brand-8
	width: 60px
	background-position: -156px 0

.brand-12
	width: 40px
	background-position: -222px 0

.brand-40
	width: 75px
	background-position: -268px 0

.brand-34
	width: 73px
	background-position: -349px 0

.brand-22
	width: 73px
	background-position: -428px 0

.brand-3
	width: 26px
	background-position: -507px 0

.brand-17
	width: 52px
	background-position: -539px 0

.brand-15
	width: 71px
	background-position: -597px 0

.brand-4
	width: 26px
	background-position: -674px 0

.brand-9
	width: 59px
	background-position: -706px 0

.brand-16
	width: 70px
	background-position: -771px 0

.brand-5
	width: 35px
	background-position: -847px 0

.brand-19
	width: 73px
	background-position: -889px 0

.brand-13
	width: 73px
	background-position: -968px 0

.brand-6
	width: 38px
	background-position: -1047px 0

.brand-10
	width: 61px
	background-position: -1091px 0

.brand-14
	width: 76px
	background-position: -1159px 0

.brand-39
	width: 53px
	background-position: -1242px 0

.brand-20
	width: 49px
	background-position: -1300px 0

.brand-11
	width: 74px
	background-position: -1354px 0

.brand-41
	width: 40px
	background-position: -1432px 0

.brand-42
	width: 38px
	background-position: -1481px 0

.brand-80
	width: 26px
	background-position: -2477px 0

.brand-81
	width: 38px
	background-position: -2513px 0

.brand-71
	width: 23px
	background-position: -1577px 0

.brand-21
	width: 57px
	background-position: -1737px 0

.brand-38
	width: 25px
	background-position: -1804px 0

.brand-23
	width: 70px
	background-position: -1839px 0

.brand-72
	width: 70px
	background-position: -2396px 0

.brand-73
	width: 30px
	background-position: -1958px 0

.brand-74
	width: 66px
	background-position: -2000px 0

.brand-75
	width: 70px
	background-position: -2076px 0

.brand-76
	width: 70px
	background-position: -2156px 0

.brand-77
	width: 70px
	background-position: -2236px 0

.brand-79
	width: 70px
	background-position: -2316px 0

.brand-82
	width: 42px
	background-position: -2561px 0
