.section-header,
.section-inner-padding
	padding: 15px 20px
	@include box-shadow-card()

.section-bottom-margin
	margin-bottom: 20px

.section-h2-title
	font-size: 18px

.section-heading
	text-align: center
	font-size: 18px
	margin-top: 25px
	margin-bottom: 15px
	font-weight: $font-bold