.color-box-content
	height: 60px

.select-color-box
	padding-bottom: 5px
	position: relative
	border-bottom: 1px solid $text-light
	background: #fff url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) 100% 50% no-repeat
	height: 36px
	
	.select-color-label
		font-size: $font-size-medium
		color: $text-light
		position: absolute
		top: 4px
		
	.color-box-default
		width: 100%
		cursor: pointer

#selected-color
	font-size: $font-size-medium
	color: $text-primary
	font-weight: $font-bold
	height: 36px
	padding-top: 7px

#color-popup
	.color-box
		width: 30px
		height: 30px
		margin-right: 10px
		background: #a2a2a2
		border: 1px solid #bababa

		span
			width: 100%
			display: block !important

	.color-box-label
		font-size: $font-size-base
		color: $text-light

	.color-list-item
		cursor: pointer

	.active
		pointer-events: none

		.color-box-label
			color: $text-primary
			font-weight: $font-bold

.color-list-item
	&.active
		.color-box
			position: relative
		
			&:before
				content: ""
				background: rgba(0,0,0,0.2) url(https://imgd.aeplcdn.com/0x0/bw/static/design15/white-tick-mark.png) 48% no-repeat
				width: 28px
				height: 28px
				display: block
				position: absolute


.color-box,
.color-box-label
	display: inline-block
	vertical-align: middle

.other-color-item
	.color-box,
	.color-box-label
		display: inline-block
		vertical-align: top

// overwrite modal css
#color-popup
	.popup-body
		padding-right: 0
		padding-left: 0

		li
			padding-right: 20px
			padding-left: 20px

// count
.color-count-one
	span
		height: 100%
		
.color-count-two
	span
		height: 50%
		
.color-count-three
	span
		height: 33.33%

// input-color-box
.input-box.input-color-box
	width: 75%
	height: 50px
	display: inline-block

.input-box.input-color-box
	input
		font-size: $font-size-base
		padding-top: 5px
		padding-bottom: 5px

		&:focus ~ label
			top: -12px

	label
		top: 5px
		font-size: $font-size-base

	.error-text
		top: 0

.input-box.input-color-box.not-empty
	label
		top: -12px
		font-size: $font-size-small

// selection-done
#select-color-box.selection-done
	.select-color-label
		font-size: $font-size-small
		top: -14px