@media only screen and (max-width: 320px)
	#seller-type-list
		li
			&:first-child
				width: 160px

		.seller-label
			font-size: 14px

	.btn-primary-big
		min-width: 145px

	.btn-primary-small
		min-width: 110px