#form-step-tabs
	min-height: 130px
	padding-top: 15px
	padding-bottom: 15px
	border-bottom: 1px solid $border-light

.form-step-body
	padding: 15px 20px 20px

.form-step-title
	margin-bottom: 25px

.row-bottom-margin,
.margin-bottom15
	margin-bottom: 15px

.btn-primary-big,
.btn-primary-small
	font-size: $font-size-base
	padding: 5px 0

.btn-primary-big
	min-width: 180px

.btn-primary-small
	min-width: 120px

// seller type
#seller-type-list
	overflow: hidden
	margin-bottom: 25px

	li
		float: left
		cursor: pointer

		&:first-child
			width: 180px

		span
			display: inline-block
			vertical-align: middle

	.checked
		.seller-label
			font-weight: $font-bold

// terms
#terms-content
	p
		width: 90%
		font-size: $font-size-small
		color: $text-light
		display: inline-block
		vertical-align: top
		position: relative
		top: -2px

// verification
.verify-title
	margin-bottom: 20px

.verify-desc
	font-size: $font-size-base
	margin-bottom: 25px
