@mixin collapsible($background: 'white')
  .collapsible
    background-color: color('bg-light-grey')
    border-bottom: 1px solid color('gainsboro')

  .collapsible__trigger
    position: relative
    padding: 20px 50px 20px 20px
    color: color('default')
    font-size: 14px
    font-weight: $font-semibold
    background-color: color($background)
    cursor: pointer


@mixin collapsible-arrow($dimension: 15)
  @if unitless($dimension)
    $dimensionWithUnit: $dimension * 1px

    .collapsible__trigger
      &:after
        @include vendor-prefix('transition', transform 300ms)
        @include arrow-down-4d5057-icon
        background-size: $dimensionWithUnit
        content: ''
        position: absolute
        right: 20px
        top: 0px
        width: $dimensionWithUnit
        height: 100%
        display: block
        will-change: transform

      &.collapsible--open
        &:after
          @include vendor-prefix('transform', rotateZ(180deg))

      &.collapsible--disabled
        opacity: .5

  @else
    @warn 'Please provide unitless value for collapsible-arrow `$dimension` parameter'
