
<div class="jcarousel-wrapper inner-content-carousel brand-type-carousel">
    <div class="jcarousel">
        <ul>
            <li>
                <a href="" title="" class="jcarousel-card">
                    <div class="brand-logo-image">
                        <span class="brand-type">
                            <span class="brandlogosprite brand-7"></span>
                        </span>
                    </div>
                    <div class="card-desc-block">
                        <p class="card-heading font14 text-bold text-black padding-top10 border-solid-top">Honda</p>
                        <h3 class="text-unbold text-light-grey">11 bikes</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <span class="jcarousel-control-left">
        <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
    </span>
    <span class="jcarousel-control-right">
        <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
    </span>
</div>