@model Bikewale.Models.QuestionAndAnswers.QuestionAnswerSlugVM
<div class="question-answer-slug question-answer-slug__link qna-search-slug">
    <div class="question-answer-slug__block">
        <div class="question-answer-slug__content-block">
            <span class="question-answer-slug__title">
                Have a specific question?
            </span>
            <span class="question-answer-slug__description">Get answers from fellow riders!</span>
        </div>
        <div class="question-answer-slug__icon qna-search-slug--icon"></div>
    </div>
        <div class="qna-search__form-control js-qna-popup-link qna-search__popup bw-ga" data-popup="qnaSearchPopup" data-sourceid="@((int)Bikewale.Entities.QuestionAndAnswers.Sources.ModelPage_Question_Search_Slug)" data-cat="Model_Page" data-act="Search_Bar_Clicked_Slug" data-lab="@string.Format("{0}_{1}",Model.MakeName, Model.ModelName)">
            <div class="qna-search__input-icon search-icon--peach"></div>
            <div class="qna-search__input">Have a question? Search here</div>
        </div>
</div>