.padding-10-15 {
    padding: 10px 15px;
}

.dealer-details a:hover {
    text-decoration: none;
}

.pos-top-3 {
    top: 3px;
}

.featured-tag {
    width:74px;
    text-align: center;
    background:#3799a7;
    font-size: 12px;
    color: #fff;
    line-height:20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.dealership-details {
    width: 92%;
}

.location-details {
    display: none;
}

/* floating buttons */
.btn-green {
    background: #1b9618;
    color: #fff;
    border: 1px solid #1b9618;
}

.float-button .btn {
    padding: 8px 0;
    font-size: 18px;
}

.float-button a:hover {
    text-decoration: none;
}

/* icons */
.dealership-loc-icon {
    margin-right: 3px;
}

.star-white {
    width: 12px;
    height: 12px;
    background-position: -172px -447px;
    margin-right: 4px;
    position: relative;
    top: 2px;
}

.tel-sm-grey-icon {    
    margin-right: 3px;
}

.mail-grey-icon {
    width: 15px;
    height: 10px;
    background-position: -19px -437px;
    position: relative;
    top: 6px;
}

.crosshair-icon {
    width: 20px;
    height: 20px;
    background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/detect-location-icon.png) no-repeat;
    top: 10px;
    right: 10px;
}

.clock-icon {
    width: 14px;
    height: 14px;
    background-position: -159px -462px;
    position: relative;
    top: 4px;
    margin-right:4px;
}

.get-direction-icon {
    width: 12px;
    height: 10px;
    background-position: -31px -421px;
}

/* model-available-list */
#model-available-list li {
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
    padding-bottom: 15px;
}

#model-available-list li:first-child {
    border-top: 0;
}

.image-block {
    width: 100%;
    height: 163px;
    line-height: 0;
    display: table;
    text-align:center;
    margin-bottom: 15px;
}

.image-block .image-content {
    display: table-cell;
    vertical-align: middle;
}

.image-block img {
    width: 290px;
    max-width: 100%;
}

.bw-horizontal-swiper.card-container .swiper-slide {
    width: 308px;
}
.bw-horizontal-swiper .swiper-card {
    width: 308px;
    font-size: 14px;
    min-height: 140px;
}
.bw-horizontal-swiper .swiper-card a {
    display: block;
    padding: 15px 10px 10px;
}
@media only screen and (max-width: 320px) {
    .bw-horizontal-swiper.card-container .swiper-slide {
        width: 275px;
    }
    .bw-horizontal-swiper .swiper-card {
        width: 275px;
    }
    .location-details {
        font-size: 13px;
    }
}

/* get offers popup */
#leadCapturePopup .errorIcon,
#leadCapturePopup .errorText,
#otpPopup,
.update-mobile-box,
.otp-notify-text {
    display: none;
}
.otp-icon {
    width: 29px;
    height: 29px;
    background-position: -109px -177px;
}
.edit-blue-icon {
    width: 20px;
    height: 20px;
    background-position: -114px -122px;
}
#otpPopup .otp-box p.resend-otp-btn {
    color: #0288d1;
    cursor: pointer;
    font-size: 14px;
}

.btn-fixed-width {
    padding-right: 0;
    padding-left: 0;
    width: 205px;
}