html {
	font-size: 13px;
	padding: 0;
	margin: 0;
	background: #f5f5f5;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif, Arial;
	color: #4d5057;
	line-height: 1.42857143
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 700;
	color: #2a2a2a
}
h2 {
	font-size: 16px;
	font-weight: 600;
	color: #2a2a2a
}
h3 {
	font-size: 14px;
	font-weight: 600;
	color: #4d5057
}
.omega {
	padding-right: 0
}
.alpha {
	padding-left: 0
}
.grid-12 {
	width: 100%
}
.grid-9 {
	width: 75%
}
.grid-8 {
	width: 66.66666667%
}
.grid-7 {
	width: 58.33333333%
}
.grid-5 {
	width: 41.66666667%
}
.grid-4 {
	width: 33.33333333%
}
.grid-3 {
	width: 25%
}
.grid-1,
.grid-10,
.grid-11,
.grid-12,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9 {
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px
}
.padding-top10 {
	padding-top: 10px
}
.padding-top15 {
	padding-top: 15px
}
.padding-top20 {
	padding-top: 20px
}
.orpContent-block.padding-top40 {
	padding-top: 40px;
}
.padding-left5 {
	padding-left: 5px
}
.padding-left10 {
	padding-left: 10px
}
.padding-left15 {
	padding-left: 15px
}
.padding-left20 {
	padding-left: 20px
}
.padding-right20 {
	padding-right: 20px
}
.padding-bottom5 {
	padding-bottom: 5px
}
.padding-bottom10 {
	padding-bottom: 10px
}
.padding-bottom15 {
	padding-bottom: 15px
}
.padding-bottom20 {
	padding-bottom: 20px
}
.padding-15-20 {
	padding: 15px 20px
}
.text-right {
	text-align: right
}
.text-default {
	color: #4d5057
}
.text-center {
	text-align: center
}
.text-slate-grey {
	color: #787878
}
.text-xx-light {
	color: #a2a2a2
}
.margin-right5 {
	margin-right: 5px
}
.margin-right10 {
	margin-right: 10px
}
.margin-right20 {
	margin-right: 20px
}
.margin-left20 {
	margin-left: 20px
}
.margin-top5 {
	margin-top: 5px
}
.margin-top15 {
	margin-top: 15px
}
.margin-bottom20 {
	margin-bottom: 20px
}
.margin-bottom15 {
	margin-bottom: 15px
}
.margin-bottom16 {
	margin-bottom: 16px
}
.margin-bottom10 {
	margin-bottom: 10px
}
.margin-bottom5 {
	margin-bottom: 5px
}
.font11 {
	font-size: 11px
}
.font12 {
	font-size: 12px
}
.font14 {
	font-size: 14px
}
.font20 {
	font-size: 20px
}
.font15 {
	font-size: 15px
}
.alpha {
	padding-left: 0
}
.omega {
	padding-right: 0
}
.text-light-grey {
	color: #82888b
}
.font-bold {
	font-weight: 700
}
.text-unbold {
	font-weight: 400
}
.text-bold {
	font-weight: 600
}
.line-height16 {
	line-height: 1.6
}
.clear {
	clear: both
}
.border-solid-top {
	border-top: 1px solid #e2e2e2
}
.border-solid-bottom {
	border-bottom: 1px solid #e2e2e2
}
.review-left-divider {
	position: relative;
	margin-left: 15px;
	padding-left: 15px;
	padding-right: 5px
}
.divider-bottom {
	border-bottom: 1px solid #eee
}
a {
	color: #0288d1;
	text-decoration: none
}
.hide {
	display: none
}
.inline-block {
	display: inline-block;
	vertical-align: middle
}
.vertical-top {
	display: inline-block;
	vertical-align: top
}
.block {
	display: block
}
.position-rel {
	position: relative
}
.pos-top2 {
	top: 2px
}
.text-truncate {
	width: 100%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
.target-link {
	color: #2a2a2a;
	font-weight: 600;
	display: block
}
.btn {
	display: inline-block;
	padding: 8px 42px;
	font-size: 16px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	border: 1px solid transparent;
	border-radius: 2px;
	outline: 0;
	text-decoration: none;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	-webkit-appearance: none
}
.city-sprite {
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-city-sprite-v2.png?v07Oct2016') no-repeat;
	display: inline-block;
}
.btn-teal {
	background: #41b4c4;
	color: #fff;
	border: 1px solid #41b4c4
}
.btn-orange {
	background: #ef3030;
	color: #fff
}
.btn-white {
	background: #fff;
	color: #e42029;
	border: 1px solid #e42029
}
.btn-180-34 {
	font-size: 14px;
	width: 180px;
	padding: 6px
}
.btn-red-arrow {
	width: 6px;
	height: 10px;
	background-position: -204px -35px;
	margin-left: 5px;
	position: relative;
	top: 1px
}
.btn-inv-teal,
.view-all-target-btn {
	background: 0 0;
	color: #3799a7;
	border: 1px solid #3799a7
}
.btn-card {
	font-size: 14px;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis
}
.btn-170-32 {
	width: 170px;
	font-size: 14px;
	padding: 5px
}
.btn-160-32 {
	min-width: 160px;
	padding: 5px;
	font-size: 14px
}
.btn-full-width {
	display: block;
	width: 100%
}
.campaign__floating-btn {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 8;
	padding: 10px;
	background: #fff;
	-moz-box-shadow: 0 0 7px #ccc;
	-webkit-box-shadow: 0 0 7px #ccc;
	-o-box-shadow: 0 0 7px #ccc;
	box-shadow: 0 0 7px #ccc
}
.clearfix {
	clear: both
}
.btn__left-label {
	color: #82888b;
	position: relative;
	top: 6px
}
.btn.btn-full-32 {
	width: 100%;
	padding: 5px;
	font-size: 14px;
	border-radius: 2px
}
.btn-orange {
	background: #ef3030;
	color: #fff
}
ol,
ul {
	list-style: none
}
.campaign__powered-key {
	font-size: 12px;
	color: #a2a2a2
}
.campaign__powered-value {
	font-size: 13px;
	color: #82888b
}
.item-more-details-list li {
	float: left;
	margin-bottom: 8px;
	margin-right: 8px
}
.container {
	width: 100%;
	margin: 0 auto;
	clear: both
}
.price-in-city__head {
	padding: 10px 20px 0;
	font-size: 20px;
	background: #fff
}
#modelOverallSpecsTopContent {
	height: 44px
}
#overallSpecsTab {
	width: 100%;
	display: block;
	background: #fff;
	overflow-x: auto;
	z-index: 3;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 0;
	-moz-box-shadow: 0 4px 5px -2px #d5d5d5;
	-webkit-box-shadow: 0 4px 5px -2px #d5d5d5;
	-o-box-shadow: 0 4px 5px -2px #d5d5d5;
	-ms-box-shadow: 0 4px 5px -2px #d5d5d5;
	box-shadow: 0 4px 5px -2px #d5d5d5
}
.overall-specs-tabs-wrapper {
	width: 100%;
	display: table
}
.overall-specs-tabs-wrapper li {
	display: table-cell;
	width: 1%;
	padding: 10px 15px;
	text-align: center;
	white-space: nowrap;
	font-size: 14px;
	color: #82888b;
	cursor: pointer
}
.overall-specs-tabs-wrapper li a {
	color: #82888b
}
.overall-specs-tabs-wrapper li.active {
	border-bottom: 3px solid #ef3f30;
	color: #4d5057;
	font-weight: 600
}
.overall-specs-tabs-wrapper li.active a {
	color: #4d5057
}
#overallSpecsTab::-webkit-scrollbar {
	width: 0;
	height: 0;
	display: none
}
.card-bottom-margin,
.section-bottom-margin {
	margin-bottom: 20px
}
.content-box-shadow {
	background: #fff;
	-moz-box-shadow: 2px 2px 2px #dcdcdc;
	-webkit-box-shadow: 2px 2px 2px #dcdcdc;
	-o-box-shadow: 2px 2px 2px #dcdcdc;
	-ms-box-shadow: 2px 2px 2px #dcdcdc;
	box-shadow: 2px 2px 2px #dcdcdc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px
}
.content-inner-block-20 {
	padding: 20px
}
.model-image {
	width: 96px;
	height: 53px;
	display: inline-block;
	vertical-align: top
}
.model-image a {
	display: inline-block;
	height: 48px;
	width: 86px
}
.model-version-block {
	width: 60%;
	padding-left: 0;
	display: inline-block;
	font-size: 14px
}
.version-block__title {
	color: #82888b;
	font-size: 12px
}
.select-wrapper__list {
	position: absolute;
	top: 35px;
	background: #fff
}
.select-wrapper__list[selected] {
	border-bottom: 1px solid #82888b
}

.model-version-block amp-selector [option][selected] {
	cursor: auto;
	outline: 0
}
.price-table__heading {
	padding-bottom: 15px;
	color: #4d5057;
	font-size: 14px;
	text-align: left
}
.model-version_price-table {
	width: 100%
}
.model-version_price-table td {
	font-size: 14px
}
.info-grey-14 {
	width: 14px;
	height: 15px;
	background-position: -173px -613px;
	position: relative;
	top: 2px;
	margin-right: 2px;
	cursor: pointer
}
.position--left-neg-5 {
	left: -5px
}
.rate-count-1 .star-icon {
	background-position: 0 -667px
}
.rate-count-2 .star-icon {
	background-position: -38px -667px
}
.rate-count-3 .star-icon {
	background-position: 0 -278px
}
.rate-count-4 .star-icon {
	background-position: -74px -667px
}
.rate-count-5 .star-icon {
	background-position: -110px -667px
}
.rate-count-5 {
	color: #198d55
}
.rate-count-4 {
	color: #13b65d
}
.rate-count-3 {
	color: #efd700
}
.rate-count-2 {
	color: #fd971c
}
.rate-count-1 {
	color: #ef3f30
}
.star-icon.star-size-16 {
	-webkit-transform: scale(.6);
	-moz-transform: scale(.6);
	-o-transform: scale(.6);
	transform: scale(.6)
}
.star-icon {
	width: 26px;
	height: 25px;
	vertical-align: middle;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8)
}
.review-left-divider:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 1px;
	height: 12px;
	border-left: 1px solid #e2e2e2
}
.model-more-info-section .item-image-content {
	width: 100px;
	height: 56px;
	display: inline-block;
	vertical-align: top;
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif) no-repeat center
}
.item-image-content img {
	width: 100%
}
.model-more-info-section .bike-details-block {
	width: 62%;
	vertical-align: top;
	display: inline-block;
	padding-left: 10px
}
.price-label-size-12 {
	font-size: 12px;
	color: #82888b
}
.price-value-size-18 {
	font-size: 18px;
	font-weight: 700
}
.item-more-details-list a {
	display: block;
	padding: 1px 8px 5px;
	color: #787878;
	background: rgba(245, 245, 245, .9);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px
}
.photos-sm {
	background-position: 0 -477px
}
.photos-sm,
.videos-sm {
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin-right: 3px
}
.item-more-details-list .icon-label {
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
	line-height: 13px
}
.dealers-sm {
	background-position: -31px -476px;
}
.specs-sm {
	background-position: -141px -555px
}
.dealers-sm,
.news-sm,
.reviews-sm,
.specs-sm,
.user-reviews-sm {
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin-right: 3px
}
.videos-sm {
	background-position: -16px -476px
}
.model-more-info-section .used-target-label {
	width: 94%
}
.next-grey-icon {
	width: 8px;
	height: 13px;
	background-position: -182px -393px;
	vertical-align: middle
}
.carousel-heading-content {
	margin-bottom: 10px;
	padding-right: 15px;
	padding-left: 20px
}
.swiper-heading-left-grid {
	width: 77%;
	margin-right: -4px
}
.swiper-heading-right-grid {
	width: 23%
}
.view-all-target-btn {
	padding: 5px 6px;
	font-size: 14px
}
.dealer-horizontal-swiper .swiper-slide {
	width: 253px
}
.swiper-slide:first-child {
	margin-left: 5px
}
.swiper-card {
	vertical-align: top;
	width: 253px;
	margin: 2px 3px 2px 5px;
	padding: 15px 15px 10px;
	min-height: 170px;
	background: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px
}
.dealership-loc-icon {
	width: 12px;
	height: 15px;
	background-position: -40px -435px;
	position: relative;
	top: 4px
}
.dealership-address {
	color: #82888b;
	width: 92%;
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	text-align: left;
	max-height: 80px;
	overflow: hidden
}
.tel-sm-grey-icon {
	width: 15px;
	height: 15px;
	background-position: 0 -435px;
	position: relative;
	top: 2px
}
.dealer-horizontal-swiper::-webkit-scrollbar {
	width: 0;
	height: 0;
	display: none
}
.service-center-grey {
	width: 28px;
	height: 25px;
	background-position: 0 -636px;
	vertical-align: middle
}
.grid-11-inline {
	display: inline-block;
	vertical-align: middle;
	width: 88.66666667%
}
.card-h2-heading {
	font-size: 18px
}
.teal-right {
	background-position: -69px -437px
}
.blue-right-arrow-icon,
.teal-right {
	width: 6px;
	height: 10px;
	position: relative;
	top: 1px;
	margin-left: 6px
}
.emi-slider-box-right-section {
	text-align: right
}
#emiContent .inr-xxsm-icon {
	width: 8px
}
.inr-xxsm-icon {
	width: 11px;
	height: 10px;
	background-position: -54px -94px
}
#versionContent td a {
	font-size: 14px
}
#viewmore {
	color: #0288d1
}
.view-cities-link:before {
	content: '';
	width: 100%;
	height: 20px;
	position: absolute;
	top: -40px;
	left: 0;
	z-index: 1;
	background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
	background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%)
}
#similarContent .swiper-card {
	margin-left: 8px;
	padding: 5px;
	width: 200px;
	min-height: 210px
}
#popularContent .swiper-card {
	margin-left: 8px;
	padding: 5px;
	width: 200px;
	min-height: 210px
}
.swiper-card:first-child {
	margin-left: 8px
}
.swiper-card:last-child {
	margin-right: 8px
}
.carousel-image-preview {
	height: 95px;
	padding: 5px 5px 0;
	position: relative
}
.carousel-slide img {
	max-width: 100%
}
.carousel-image-preview img {
	height: 90px
}
#similarContent .swiper-details-block {
	padding: 5px 15px 0
}
#similarContent .swiper-btn-block {
	padding: 10px 15px 15px
}
#popularContent .swiper-btn-block {
	padding: 10px 15px 15px
}
#popularContent .swiper-details-block {
	padding: 5px 15px 0
}
.compare-with-target {
	display: block;
	padding: 10px 35px 0 15px;
	position: relative;
	font-size: 12px;
	color: #4d5057;
	top: -1px
}
.compare-with-target:before {
	content: '';
	position: absolute;
	left: 8%;
	top: 0;
	width: 168px;
	height: 1px;
	border-top: 1px solid #e2e2e2
}
.compare-sm {
	width: 17px;
	height: 12px;
	background-position: -173px -596px;
	position: relative;
	top: 1px;
	margin-right: 5px
}
.swiper-type-similar .right-arrow {
	right: 18px;
	top: 13px;
	transform: scale(.8)
}
.right-arrow {
	width: 8px;
	height: 12px;
	background-position: -182px -394px;
	position: absolute;
	right: 20px;
	top: 41%
}
#swiper-city .swiper-card {
	width: 200px;
	margin-left: 8px
}
#swiper-city .swiper-image-preview {
	height: 100px;
	padding: 25px 0 10px;
	border-bottom: 1px solid #eee;
	text-align: center
}
.c-bangalore-icon,
.c-chennai-icon,
.c-hyderabad-icon,
.c-kolkata-icon,
.c-lucknow-icon,
.c-mumbai-icon,
.c-newdelhi-icon,
.c-pune-icon {
	height: 48px
}
.c-mumbai-icon {
	width: 78px;
	background-position: 0 0
}
.c-pune-icon {
	width: 112px;
	background-position: -84px 0
}
.c-bangalore-icon {
	width: 82px;
	background-position: -202px 0
}
.c-newdelhi-icon {
	width: 38px;
	background-position: -290px 0
}
.c-chennai-icon {
	width: 33px;
	background-position: -334px 0
}
.c-hyderabad-icon {
	width: 34px;
	background-position: -373px 0
}
.c-kolkata-icon {
	width: 110px;
	background-position: -413px 0
}
.c-lucknow-icon {
	width: 106px;
	background-position: -529px 0
}
#swiper-city .swiper-details-block {
	padding-top: 10px
}
.graph-rank-grey {
	width: 28px;
	height: 25px;
	background-position: -62px -637px;
	vertical-align: middle
}
.text-white {
	color: #fff
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type=range] {
		overflow: hidden;
		width: 100%;
		-webkit-appearance: none;
		background-color: #e2e2e2
	}
	input[type=range]::-webkit-slider-runnable-track {
		height: 10px;
		-webkit-appearance: none;
		color: #ef3030;
		margin-top: 1px
	}
	input[type=range]::-webkit-slider-thumb {
		width: 10px;
		border-radius: 50%;
		border: 1px solid #930202;
		-webkit-appearance: none;
		height: 10px;
		cursor: ew-resize;
		background: #ef3030;
		box-shadow: -605px 10px 0 600px #ef3030
	}
}
input[type=range] {
	overflow: hidden;
	width: 100%;
	-webkit-appearance: none
}
input[type=range]:focus {
	outline: 0
}
input[type=range]::-moz-range-thumb {
	border-radius: 10px;
	-moz-box-shadow: inset 0 0 6px #fff;
	background: #ef3030;
	color: #00f
}
input[type=range]::-moz-range-progress {
	background-color: #ef3030
}
input[type=range]::-moz-range-track {
	background-color: #bababa
}
input[type=range]::-ms-track {
	width: 100%;
	height: 5px;
	background: 0 0;
	border-color: transparent;
	border-width: 6px 0;
	color: transparent
}
input[type=range]::-ms-fill-lower {
	background: #ef3030;
	border-radius: 10px
}
input[type=range]::-ms-fill-upper {
	background: #bababa;
	border-radius: 10px
}
input[type=range]::-ms-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #ef3030
}
input[type=range]:focus::-ms-fill-lower {
	background: #ef3030
}
input[type=range]:focus::-ms-fill-upper {
	background: #bababa
}
div::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0
}
#select-box:focus {
	outline: 0
}
.orpContent-block {
    position: relative;
	padding: 20px;
	margin-bottom: 20px;
	background: #fff;
	-moz-box-shadow: 2px 2px 2px #dcdcdc;
	-webkit-box-shadow: 2px 2px 2px #dcdcdc;
	-o-box-shadow: 2px 2px 2px #dcdcdc;
	-ms-box-shadow: 2px 2px 2px #dcdcdc;
	box-shadow: 2px 2px 2px #dcdcdc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px
}
.version-table__head tr {
	font-weight: 400;
	color: #82888b;
	font-size: 12px
}
.version-table__head th {
	padding-bottom: 10px;
	border-bottom: 1px solid #e2e2e2
}
.version-table__body td {
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #787878;
	padding-bottom: 10px;
	padding-top: 10px
}
.price-table__body td:first-child {
	color: #787878
}
.price-table__body td {
	padding-bottom: 15px
}
.price-table__body tr:last-child td {
	padding-bottom: 5px;
	padding-top: 15px;
	border-top: 1px solid #e2e2e2;
	font-size: 14px;
	color: #4d5057
}
.dealer-name {
	color: #2a2a2a;
	font-weight: 600;
	display: block;
	width: 100%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 15px;
	margin-bottom: 10px
}
.dealer-contact {
	width: 100%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: 600;
	font-size: 14px;
	color: #4d5057
}
.swiper-block__title {
	width: 100%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #2a2a2a;
	font-weight: 600;
	display: block;
	margin-bottom: 5px;
	font-size: 12px
}
.city-area-banner {
	width: 100%;
	height: 109px;
	background: #f5f5f5 url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/city-area-banner.png) repeat-x center bottom
}
#priceInCityWrapper {
	overflow-x: hidden;
	background: #fff;
	padding: 10px 20px 30px;
	margin: auto;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 11;
	overflow-y: scroll;
	text-align: center
}
.onroad-price-close-btn {
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-position: -36px -226px;
	position: absolute;
	top: 10px;
	right: 10px
}
#popupHeading {
	padding: 20px
}
.popupheading-head {
	margin-bottom: 5px;
	font-size: 18px;
	text-transform: capitalize
}
#pcitySelection {
	position: relative;
	margin-bottom: 10px;
	text-align: left;
	padding: 8px 10px;
	display: block;
	width: 100%;
	padding: 10px;
	min-height: 35px;
	line-height: 1.42857143;
	color: #4d5057;
	position: relative;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.fa-angle-right {
	width: 6px;
	height: 13px;
	background-position: -162px -58px;
	position: absolute;
	top: 10px;
	right: 10px
}
#btnPriceinCityLoader {
	position: relative;
	margin-top: 20px;
	text-align: center
}
.btnPriceInCityPopup {
	font-size: 18px;
	display: block;
	width: 100%;
	background: #ef3030;
	color: #fff;
	padding: 8px 42px;
	line-height: 1.42857143;
	white-space: nowrap;
	border: 1px solid transparent;
	border-radius: 2px;
	outline: 0;
	text-decoration: none;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	-webkit-appearance: none
}
#priceInCityPopUpContent {
	background: #f5f5f5;
	z-index: 12;
	position: fixed;
	right: 0;
	top: 0;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	-webkit-transition: right 1s;
	transition: right .5s;
	animation: fadein .5s;
	-moz-animation: fadein .5s;
	-webkit-animation: fadein .5s;
	-o-animation: fadein .5s
}
.bwm-city-area-box {
	text-align: left;
	position: relative
}
#pcPopupCityList {
	padding-top: 40px
}
#pcPopupCityList li {
	border-top: 1px solid #ccc;
	font-size: 14px;
	padding: 15px 10px;
	color: #333;
	cursor: pointer
}
.user-input-box {
	width: 100%;
	position: fixed;
	top: 0;
	right: 0
}
.bwm-city-area-box .back-arrow-box {
	position: absolute;
	left: 5px;
	height: 30px;
	width: 40px;
	position: absolute;
	top: 5px;
	z-index: 11;
	cursor: pointer
}
.bwm-city-area-box .back-arrow-box span.back-long-arrow-left {
	position: absolute;
	top: 7px;
	left: 10px
}
.back-long-arrow-left {
	background-position: -155px 0;
	width: 21px;
	height: 16px
}
#popupPriceInCityInput {
	background: #f5f5f5;
	display: block;
	padding: 10px 50px;
	border: 1px solid #ccc;
	border-radius: 2px;
	position: relative
}
@keyframes fadein {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@-moz-keyframes fadein {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@-webkit-keyframes fadein {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@-o-keyframes fadein {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
.error-text {
	display: block;
	font-size: 12px;
	position: relative;
	top: 4px;
	left: 0;
	color: #d9534f
}
.single-version-content {
	min-width: 125px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 700;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	position: relative
}
.exploremore__imagebackground {
	padding-top: 15px;
	padding-bottom: 10px;
	background: rgba(65, 180, 196, .3)
}
.exploremore__icon-background {
	height: 64px;
	width: 64px;
	background: #fff url(https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/bike-36x22.png) no-repeat center;
	margin: 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%
}
.exploremore-detailblock {
	margin: 0 auto;
	padding-top: 20px;
	min-height: 115px;
	text-align: center
}
.detailblock__title {
	white-space: normal;
	font-size: 14px;
	color: #4d5057;
	font-weight: 600;
	line-height: 25px;
	margin-bottom: 10px
}
.detailblock__description {
	white-space: normal;
	font-size: 12px;
	color: #a2a2a2
}
.single-version-content {
	min-width: 125px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 700;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	position: relative
}
.dropdown-effect-light:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	height: 100%;
	background: #fff;
	opacity: .7;
	background: transparent url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) no-repeat 94%
}
.model-image .model-ribbon-tag {
	position: absolute;
	top: -25px;
	display: inline-block
}
.content-box-shadow {
	background: #fff;
	-moz-box-shadow: 2px 2px 2px #dcdcdc;
	-webkit-box-shadow: 2px 2px 2px #dcdcdc;
	-o-box-shadow: 2px 2px 2px #dcdcdc;
	-ms-box-shadow: 2px 2px 2px #dcdcdc;
	box-shadow: 2px 2px 2px #dcdcdc;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}
.discontinued-ribbon {
	color: #4d5957;
	background: #b5b5b5
}
.model-ribbon-tag {
	position: relative;
	top: -5px;
	left: -20px;
	font-size: 12px;
	padding: 2px 20px 2px 10px;
	display: inline-block
}
.model-ribbon-tag:after {
	content: '';
	position: absolute;
	border-top: 10px solid transparent;
	border-right: 10px solid #fff;
	border-bottom: 10px solid transparent;
	right: 0;
	top: 0
}
.ShowroomInCity {
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
}
.btn-auto-32 {
	padding: 5px 10px;
	font-size: 14px;
}
.dealer-campaign-wrapper {
	padding: 20px
}
.campaign__icon {
	width: 18px;
	height: 17px;
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/dealer-4d5057-18.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px
}
.campaign__name {
	width: 80%;
	font-size: 14px;
	font-weight: 700
}
.campaign__list li {
	color: #787878
}
.campaign__list li:before {
	content: '\2022';
	margin-right: 5px
}
.item--50-percent li {
	width: 49%;
	display: inline-block;
	vertical-align: top
}
.btn-180-32 {
	min-width: 180px;
	padding: 5px;
	font-size: 14px
}
.campaign__floating-btn {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 8;
	padding: 10px;
	background: #fff;
	-moz-box-shadow: 0 0 7px #ccc;
	-webkit-box-shadow: 0 0 7px #ccc;
	-o-box-shadow: 0 0 7px #ccc;
	box-shadow: 0 0 7px #ccc
}
.campaign__floating-btn .btn.btn-full-32 {
	width: 100%;
	padding: 5px;
	font-size: 14px;
	border-radius: 2px
}
.campaign__floating-btn .btn__left-label {
	color: #82888b;
	position: relative;
	top: 6px
}
.campaign__contact {
	font-size: 14px;
	color: #4d5057;
	font-weight: 600
}
.campaign__contact:hover {
	text-decoration: none
}
.tel-sm-icon {
	width: 15px;
	height: 12px;
	background-position: -88px -324px;
	position: relative;
	top: 2px
}
@media only screen and (max-width: 320px) {
	.dealer-campaign-wrapper.btn-180-32 {
		min-width: 160px;
		margin-right: 5px;
	}
}
.list-type-disc {
	list-style: disc;
	margin-left: 19px;
}
.dealer-grey {
	width: 24px;
	height: 22px;
	background-position: -33px -639px;
	vertical-align: middle;
}
.get-offer-link {
	color: #0288d1;
	font-weight: bold
}
.dealer-campaign__name {
	font-size: 14px;
	font-weight: 700
}
.vertical-align-middle {
	vertical-align: bottom;
	margin-right: 5px
}
.dealer-campaign__list-offer li {
	padding-top: 5px;
	color: #787878;
	list-style: none;
	line-height: 1.9
}
.dealer-campaign__list-offer .campaign__list-item {
	padding-left: 40px;
	min-height: 30px;
	background-repeat: no-repeat;
	background-position: left center
}
.list-item__jacket {
	background-image: url('https://imgd.aeplcdn.com/0x0//bw/static/icons/f04031/jacket-30x30.jpg?v24112017')
}
.list-item__warranty {
	background-image: url('https://imgd.aeplcdn.com/0x0//bw/static/icons/f04031/warranty-30x30.jpg?v24112017')
}
.list-item__gift {
	background-image: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/f04031/gift-30x30.jpg?v24112017')
}
.breadcrumb {
	margin: 10px;
	padding: 10px;
	background: #eee;
}
.breadcrumb li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 10px;
}
.breadcrumb-title {
	display: block;
	font-size: 12px;
	color: #82888B;
	padding-bottom: 5px;
}
.breadcrumb-link__label {
	padding-right: 12px;
}
.breadcrumb-link::after {
	content: '';
	height: 5px;
	width: 5px;
	border: solid grey;
	border-width: 0px 1px 1px 0px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: inline-block;
	position: absolute;
	top: 7px;
	right: 0px;
}
.related-list__section {
	padding-top: 15px;
	font-size: 0
}
.model-related__card {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	width: 247px;
	height: 205px
}
.related-card__title {
	font-weight: 600;
	font-size: 14px;
	padding-bottom: 10px
}
.related-card__target-link {
	color: #787878;
	padding-top: 5px;
	padding-bottom: 15px;
	display: block
}
.related-card__list li {
	font-size: 12px;
	margin-bottom: 0
}
.model-related-swiper .swiper-slide {
	margin-right: 0;
	width: 190px
}
.model-related-swiper .swiper-slide:last-child {
	margin-right: 30px
}

/* version dropdown */
.dropdown-box__menu-tab {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: start;
	-moz-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	cursor: pointer;
	position: relative;
}
.dropdown-box__menu-tab:after {
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png') no-repeat center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	content: '';
	display: inline-block;
	width: 10px;
	height: 5px;
	position: absolute;
	right: 20px;
	top: 50%;
	will-change: transform;
}
.dropdown-box__menu-title {
	font-size: 12px;
	color: #82888b;
}
.dropdown-box__menu-value {
	width: 90%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #4d5057;
	font-weight: 600;
}
.dropdown-box--active .dropdown-box__menu-title {
	font-size: 14px;
}
.dropdown-box--active .dropdown-box__menu-value {
	display: none;
}
.dropdown-box--active .dropdown-box__menu-tab {
	-webkit-box-shadow: 2px 0 15px 1px #e2e2e2;
	-moz-box-shadow: 2px 0 15px 1px #e2e2e2;
	-ms-box-shadow: 2px 0 15px 1px #e2e2e2;
	box-shadow: 2px 0 15px 1px #e2e2e2;
}
.dropdown-box--active .dropdown-box__menu-tab:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dropdown-box__submenu-wrapper {
    width: 100%;
    clear: both;
    position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}

.dropdown-box__submenu-list {
	-webkit-box-shadow: 1px 2px 10px 2px #e2e2e2;
	-moz-box-shadow: 1px 2px 10px 2px #e2e2e2;
	-ms-box-shadow: 1px 2px 10px 2px #e2e2e2;
	box-shadow: 1px 2px 10px 2px #e2e2e2;
	width: 100%;
    display: none;
	list-style: none;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #fff;
}
.dropdown-box__submenu-list:before,
.dropdown-box__submenu-list:after {
	content: '';
	display: table;
}
.dropdown-box__submenu-list:after {
	clear: both;
}
.dropdown-box-submenu-list__item {
	border-bottom: 1px solid #e6e6e6;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #8f9496;
	font-weight: 600;
	cursor: pointer;
}
.dropdown-box-submenu-list__item:last-child {
	border-bottom: none;
}
.dropdown-box-submenu-list__item:focus {
    outline: none;
}
.submenu-list-item__title {
	font-size: 14px;
	font-weight: 600;
}
.submenu-list-item--active .submenu-list-item__title {
	color: #4d5057;
}
.dropdown-box--active .dropdown-box__submenu-list {
	display: block;
}


.dropdown-box-submenu__specs-list {
	width: 100%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.dropdown-box-specs-list__item {
	font-weight: normal;
	border: none;
	font-size: 12px;
	line-height: 17px;
	display: inline-block;
	vertical-align: middle;
	padding: 7px 7px 0 10px;
	color: #a2a2a2;
	position: relative;
}
.dropdown-box-specs-list__item:before {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	content: '';
	width: 4px;
	height: 4px;
	background-color: #a2a2a2;
	position: absolute;
	top: 56%;
	left: 0;
}
.submenu-list-item__title {
	clear: both;
	width: 100%;
}
.submenu-list-item__title:before,
.submenu-list-item__title:after {
	content: '';
	display: table;
}
.submenu-list-item__title:after {
	clear: both;
}
.submenu-list-item-title__left-col {
	width: 70%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}
.submenu-list-item-title__right-col {
	float: right;
	text-align: right;
}

.version__dropdown-box .dropdown-box__menu-tab {
    padding: 6px 17px;
    min-height: 55px;
}

.version__dropdown-box .dropdown-box__menu-tab:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 10%;
    right: 10%;
    display: block;
    width: 80%;
    border-bottom: 1px solid #e2e2e2;
}
