.article, .article-head {
    box-shadow: 2px 2px 2px #dcdcdc;
}

blockquote, body, div, fieldset, h1, h2, h3, h4, h5, h6, label, legend, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans',Serif;
    font-size: 13px;
    color: #4d5057;
    background: #f5f5f5;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    color: #2a2a2a;
}

a {
    color: #0288d1;
    text-decoration: none;
}

.block {
    display: block;
}

.article-stats-content, .vertical-middle {
    display: inline-block;
    vertical-align: middle;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.article {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

.article-head {
    padding: 15px 20px;
}

.article-stats-list li {
    width: 50%;
    float: left;
}

.article-stats-content {
    font-size: 12px;
    color: #82888b;
    width: 90%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.article-body {
    padding: 20px 20px 15px;
    margin-bottom: 10px;
}

.article-content p {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

.share-story-title {
    font-size: 14px;
    color: #82888b;
}

.social-wrapper {
    margin-top: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

    .social-wrapper li {
        width: 38px;
        height: 24px;
        float: left;
        margin-right: 10px;
        text-align: center;
    }

    .social-wrapper a {
        display: block;
        height: 24px;
        border-radius: 2px;
    }

.whatsapp-container {
    background: linear-gradient(to bottom,#49c633,#40ad2c);
}

.fb-container {
    background: linear-gradient(to bottom,#5171ba,#3b599c);
}

.tweet-container {
    background: linear-gradient(to bottom,#28c0ff,#1babe7);
}

.gplus-container {
    background: linear-gradient(to bottom,#ff533f,#dd2a16);
}

.next-prev-article-list {
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
}

    .next-prev-article-list li {
        width: 46%;
        float: left;
        padding-left: 10px;
    }

        .next-prev-article-list li:first-child {
            padding-left: 0;
            padding-right: 10px;
            border-right: 1px solid #e2e2e2;
        }

    .next-prev-article-list a {
        color: #4d5057;
        display: block;
    }

.article-item-box {
    width: 85%;
}

.next-prev-arrow-label {
    font-size: 12px;
    color: #a2a2a2;
}

.next-prev-article-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    height: 40px;
    overflow: hidden;
}



.font11 {
    font-size: 11px;
}
.author-grey-sm-icon, .calender-grey-sm-icon {
    width: 10px;
    height: 11px;
    margin-right: 2px;
    vertical-align: middle;
}

.calender-grey-sm-icon {
    background-position: -48px -486px;
}

.author-grey-sm-icon {
    background-position: -66px -486px;
}

.next-arrow, .prev-arrow {
    width: 14px;
    height: 18px;
    vertical-align: middle;
}

.prev-arrow {
    background-position: -159px -219px;
}

.next-arrow {
    background-position: -185px -219px;
}

.social-icons-sprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/social-icons-sprite.png) no-repeat;
    display: inline-block;
}

.fb-icon, .gplus-icon, .tweet-icon, .whatsapp-icon {
    height: 14px;
    position: relative;
    top: 4px;
}

.whatsapp-icon {
    width: 12px;
    background-position: 0 0;
}

.fb-icon {
    width: 8px;
    background-position: -22px 0;
}

.tweet-icon {
    width: 16px;
    background-position: -39px 0;
}

.gplus-icon {
    width: 14px;
    background-position: -65px 0;
}

button::-webkit-focus-inner {
    border: 0;
    padding: 0;
    outline: none;
}

button:focus {
    outline: none;
}

amp-social-share[type="whatsapp"] {
    background: #34af23 url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/whatsapp-white.png) no-repeat;
}

.article.no-content {
    padding: 10px;
    min-height: 150px;
}

.not-found {
    width: 90%;
}

    .not-found ul {
        list-style-type: disc;
    }

.margin-top15 {
    margin-top: 15px;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-top10 {
    margin-top: 10px;
}

.model-slug-content {
    padding: 10px 5px 0;
    border: 1px solid #a0d9e1;
    margin-bottom: 10px;
    background: #fff;
}

    .model-slug-content .item-image-content {
        width: 68px;
        height: 38px;
        margin-right: 5px;
    }

.item-image-content img {
    width: 100%;
}

.model-slug-content .bike-details-block {
    font-size: 14px;
    width: 70%;
}

.item-more-details-list li {
    float: left;
    margin: 0 3px 10px;
}

.item-more-details-list a {
    display: block;
    padding: 0 7px 2px;
    color: #787878;
    background: rgba(245,245,245,.9);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

    .item-more-details-list a:hover {
        text-decoration: none;
    }

.item-more-details-list .icon-label {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
}

.generic-sprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/generic-sprite.png) no-repeat;
    display: inline-block;
}

.news-sm, .photos-sm, .reviews-sm, .specs-sm, .videos-sm {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    position: relative;
    top: 1px;
    opacity: .6;
    -moz-opacity: .6;
    -khtml-opacity: .6;
}

.reviews-sm {
    background-position: -84px -3px;
}

.news-sm {
    background-position: -102px -3px;
}

.videos-sm {
    background-position: -121px -3px;
}

.specs-sm {
    background-position: -140px -3px;
}

.photos-sm {
    width: 16px;
    background-position: 0 -486px;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.text-truncate {
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-bold {
    font-weight: bold;
}

.block {
    display: block;
}

.text-default {
    color: #4d5057;
}

.font14 {
    font-size: 14px;
}

.font12 {
    font-size: 12px;
}

.inr-xsm-icon {
    width: 9px;
    height: 12px;
    background-position: -38px -36px;
}

.text-grey {
    color: #787878;
}

.key-specs-list li:last-child:before {
    content: none;
}
