#videoJumbotron .grid-8 {
    padding: 20px 0 20px 20px;
}
#videoJumbotron .grid-4 {
    padding: 20px 10px;
}
.main-video-container {
    width: 100%;
    height: 350px;
    display: block;
    position: relative;
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center center;
    text-align: center;
    overflow: hidden;
}
.main-video-container img {
    width: 100%;
    position: relative;
    top: -59px;
}
.main-video-container span {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    font-size: 22px;
    width: 624px;
    color: #fff;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(5, 0, 0, 0.7));
}
.main-video-container span:hover {
    text-decoration: underline;
}
#videoJumbotron ul {
    border-left: 1px solid #e2e2e2;
    padding-left: 14px;
}
#videoJumbotron li {
    width: 280px;
    height: auto;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e2e2e2;
}
#videoJumbotron li:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.sidebar-video-image {
    width: 100px;
    height: 55px;
    overflow: hidden;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center center;
    text-align: center;
}
.sidebar-video-image,
.sidebar-video-title {  
    display: inline-block;
    vertical-align: middle;
}
.sidebar-video-title:hover {
    color: #4d5057;
}
.sidebar-video-title {
    width: 160px;
    height: auto;
}
.sidebar-video-image img {
    width: 100%;
    position: relative;
    top: -10px;
}
.powerdrift-banner {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/d/d-powerdrift-banner.jpg') no-repeat center;
    height: 129px;
}
.powerdrift-banner h3 {
    line-height: 1.7;
}
.margin-top35 {
    margin-top: 35px;
}
.powerdrift-subscribe {
    padding: 15px 15px 10px;
    margin-top: 25px;
    margin-right: 25px;
    background: #fff;
}
.firstride-jcarousel li {
    height: 312px;
    border: 1px solid #e2e2e2;
    padding: 20px;
}
.videocarousel-image-wrapper {
    width: 271px;
    height: 153px;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: center;
}
.videocarousel-image-wrapper a,
.reviews-image-wrapper a {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center center;
}
.videocarousel-image-wrapper img,
.reviews-image-wrapper img {
    width: 100%;
}
.reviews-image-wrapper img {
    position: relative;
    top: -43px;
}
.border-light-right {
    border-right: 1px solid #e2e2e2;
}
.more-videos-link {
    width: 200px;
    display: block;
    margin: 5px auto 25px;
}
.reviews-image-wrapper {
    width: 458px;
    height: 258px;
    margin-bottom: 15px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    text-align: center;
}
.firstride-jcarousel .jcarousel-control-next {
    background-position: -66px -81px;
}
.firstride-jcarousel .jcarousel-control-prev {
    background-position: -34px -81px;
}
.firstride-jcarousel .jcarousel-control-next:hover {
    background-position: -66px -136px;
}
.firstride-jcarousel .jcarousel-control-prev:hover {
    background-position: -34px -136px;
}
.firstride-jcarousel .jcarousel-control-next.inactive {
    background-position: -66px -25px
}
.firstride-jcarousel .jcarousel-control-prev.inactive {
    background-position: -34px -25px;
}
.brand-type-container li {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 85px;
    margin: 0 5px 30px;
    text-align: center;
    font-size: 18px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px
}
.brand-1,
.brand-10,
.brand-11,
.brand-12,
.brand-13,
.brand-14,
.brand-15,
.brand-16,
.brand-17,
.brand-18,
.brand-19,
.brand-2,
.brand-20,
.brand-22,
.brand-23,
.brand-24,
.brand-3,
.brand-34,
.brand-37,
.brand-38,
.brand-39,
.brand-4,
.brand-40,
.brand-41,
.brand-42,
.brand-5,
.brand-6,
.brand-7,
.brand-71,
.brand-8,
.brand-81,
.brand-9,
.brand-23,
.brand-type,
.brand-72,
.brand-73,
.brand-74,
.brand-75,
.brand-76 {
    height: 50px
}
.brand-type {
    width: 180px;
    display: block;
    margin: 0 auto
}
.brand-type-title {
    margin-top: 10px;
    display: block
}
.brand-type-container a {
    text-decoration: none;
    color: #82888b;
    display: inline-block
}
.brand-type-container li:hover span.brand-type-title {
    color: #4d5057;
    font-weight: 700
}
.brand-bottom-border {
    overflow: hidden
}
.brandlogosprite {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/brand-type-sprite.png?30Jan20181517282547756') no-repeat;
    display: inline-block
}
.brand-2 {
    width: 87px;
    background-position: 0 0
}
.brand-7 {
    width: 56px;
    background-position: -96px 0
}
.brand-1 {
    width: 88px;
    background-position: -162px 0
}
.brand-8 {
    width: 100px;
    background-position: -260px 0
}
.brand-12 {
    width: 67px;
    background-position: -370px 0
}
.brand-40 {
    width: 125px;
    background-position: -447px 0
}
.brand-34 {
    width: 122px;
    background-position: -582px 0
}
.brand-22 {
    width: 121px;
    background-position: -714px 0
}
.brand-3 {
    width: 44px;
    background-position: -845px 0
}
.brand-17 {
    width: 86px;
    background-position: -899px 0
}
.brand-15 {
    width: 118px;
    background-position: -995px 0
}
.brand-4 {
    width: 43px;
    background-position: -1123px 0
}
.brand-9 {
    width: 99px;
    background-position: -1176px 0
}
.brand-16 {
    width: 117px;
    background-position: -1285px 0
}
.brand-5 {
    width: 59px;
    background-position: -1412px 0
}
.brand-19 {
    width: 122px;
    background-position: -1481px 0
}
.brand-13 {
    width: 122px;
    background-position: -1613px 0
}
.brand-6 {
    width: 63px;
    background-position: -1745px 0
}
.brand-10 {
    width: 102px;
    background-position: -1818px 0
}
.brand-14 {
    width: 127px;
    background-position: -1930px 0
}
.brand-39 {
    width: 89px;
    background-position: -2067px 0
}
.brand-20 {
    width: 82px;
    background-position: -2166px 0
}
.brand-11 {
    width: 121px;
    background-position: -2258px 0
}
.brand-41 {
    width: 63px;
    background-position: -2389px 0
}
.brand-42 {
    width: 64px;
    background-position: -2461px 0
}
.brand-81 {
    width: 71px;
    background-position: -2535px 0
}
.brand-71 {
    width: 39px;
    background-position: -2616px 0
}
.brand-23 {
    width: 125px;
    background-position: -3026px 0;
}
.brand-72 {
	width: 50px;
	background-position: -3161px 0;
}
.brand-73 {
    width: 60px;
    background-position: -3217px 0;
}
.brand-74 {
    width: 110px;
    background-position: -3281px 0;
}
.brand-75 {
    width: 122px;
    background-position: -3400px 0;
}
.brand-76 {
	width: 124px;
	background-position: -3530px 0;
}
@media only screen and (max-width: 1024px) {
    .brand-type,
    .brand-type-container li {
        width: 170px
    }
}
#dealer-main-content, #dealer-more-content.active {
    display: inline;
}

/* images carousel */
.carousel__recently-added {
	padding-right: 0;
}

.carousel__recently-added .carousel-slide {
	width: 297px;
	height: 354px;
	padding-left: 20px;
	margin-right: 0;
}

.carousel__recently-added .carousel-slide:first-child {
	margin-left: 0;
}

.carousel__recently-added .carousel-slide:last-child {
	width: 317px;
	padding-right: 20px;
}

.model-image__card {
	width: 100%;
	max-height: 354px;
	display: block;
	background-color: #fff9f9;
	border: 1px solid #e6e6e6;
	box-shadow: 0 2px 4px 0 rgba(213, 213, 213, 0.5);
	border-radius: 2px;
	text-decoration: none;
}

.model-image__card:hover {
	text-decoration: none;
}

.card-image__details {
	font-size: 0;
	padding: 8px 20px 18px;
}

.card-details__left-col {
	width: 70%;
	padding-right: 5px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
}

.card-details__right-col {
	width: 30%;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.card-details__make {
	width: 100%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
	font-weight: 400;
	color: #565a5c;
	margin-bottom: 3px;
	display: block;
}

.card-details__model {
	width: 100%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
	font-weight: 600;
	color: #2a2a2a;
	display: block;
}

.card-details__image-count {
	background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/image.svg") no-repeat center;
	background-position: 0 3px;
	background-size: 16px;
	font-size: 14px;
	padding-left: 22px;
	color: #4d5057;
}

/* override jcarousel start */
.jcarousel .image-grid__list {
	width: 100%;
}

.jcarousel .image-grid-list__item {
	height: 0;
	margin-right: 0;
}

.carousel--arrow-sm .jcarousel .carousel-slide {
	background-color: transparent;
}

.carousel--arrow-sm .jcarousel-control-next {
    background-position: -66px -81px;
}

.carousel--arrow-sm .jcarousel-control-prev {
    background-position: -34px -81px;
}

.carousel--arrow-sm .jcarousel-control-next:hover {
    background-position: -66px -136px;
}

.carousel--arrow-sm .jcarousel-control-prev:hover {
    background-position: -34px -136px;
}

.carousel--arrow-sm .jcarousel-control-next.inactive {
    background-position: -66px -25px
}

.carousel--arrow-sm .jcarousel-control-prev.inactive {
    background-position: -34px -25px;
}

/* override jcarousel end */

.image-grid__list {
	padding: 4px;
	overflow: hidden;
}

.image-grid__list .image-grid-list__item img {
	max-width: none;
	position: absolute;
}

.image-grid-list__item {
	float: left;
	height: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: pointer;
	background-color: #f9f9f9;
	border: 4px solid #fff9f9;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+1),
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+7) {
	width: 63%;
	padding-bottom: 34%;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+1) img,
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+7) img {
	width: 100%;
	top: 0;
	left: 0;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+2),
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+6) {
	width: 37%;
	padding-bottom: 34%;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+2) img,
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+6) img {
	width: 200%;
	top: -5%;
	left: -50%;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+3),
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+4),
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+5) {
	width: 33.33%;
	padding-bottom: 30.33%;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+3) img,
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+4) img,
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+5) img {
	width: 200%;
	top: -5%;
	left: -50%;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+1) {
	width: 100%;
	padding-bottom: 55%;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+1) img {
	width: 100%;
	top: 0;
	left: 0;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+2) {
	width: 43%;
	padding-bottom: 46%;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+2) img {
	width: 230%;
	top: -5%;
	left: -65%;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+3) {
	width: 57%;
	padding-bottom: 46%;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+3) img {
	width: 200%;
	top: -15%;
	left: -50%;
}

.image-grid__list[data-grid="1"] .image-grid-list__item {
	width: 100%;
	padding-bottom: 104%;
}

.image-grid__list[data-grid="1"] .image-grid-list__item img {
	width: 200%;
	top: 0;
	left: -50%;
}
