.miscWrapper li {
	width: 304px;
	height: 312px;
	background: #fff;
	float: left;
	border: 1px solid #e2e2e2;
	padding: 15px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.video-image-wrapper {
	width: 271px;
	height: 153px;
	margin-bottom: 15px;
	overflow: hidden;
	text-align: center;
}

.video-image-wrapper a {
	width: 100%;
	height: 100%;
	display: block;
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center center;
}

.video-image-wrapper img {
	width: 100%;
	height: 100%;
}

.border-light-right {
	border-right: 1px solid #e2e2e2;
}

@media only screen and (max-width:1024px) {
	.miscWrapper li {
		width: 300px;
		padding: 14px;
	}
}
