.miscWrapper li {
	width: 304px;
	height: 312px;
	background: #fff;
	float: left;
	border: 1px solid #e2e2e2;
	padding: 15px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.video-image-wrapper {
	width: 271px;
	height: 153px;
	margin-bottom: 15px;
	overflow: hidden;
	text-align: center;
}

.video-image-wrapper a,
.video-image-wrapper img {
	width: 100%;
	height: 100%;
}

.video-image-wrapper a {
	display: block;
	background: url(https://img.aeplcdn.com/bikewaleimg/images/loader.gif) center center no-repeat;
}

.border-light-right {
	border-right: 1px solid #e2e2e2;
}


        /* Review and rating css */
.star-icon {
  width: 26px;
  height: 25px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }
  .star-icon.star-size-16 {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6); }

.rate-count-1 .star-icon {
  background-position: 0 -790px; }

.rate-count-2 .star-icon {
  background-position: -46px -790px; }

.rate-count-3 .star-icon {
  background-position: 0 -757px; }

.rate-count-4 .star-icon {
  background-position: -92px -790px; }

.rate-count-5 .star-icon {
  background-position: -138px -790px; }
  
.rate-count-5 {
  color: #198D55; }

.rate-count-4 {
  color: #13B65D; }

.rate-count-3 {
  color: #EFD700; }

.rate-count-2 {
  color: #FD971C; }

.rate-count-1 {
  color: #EF3F30; }
  
  .review-left-divider {
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
}
  .review-left-divider:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 1px;
    height: 12px;
    border-left: 1px solid #e2e2e2;
}
  /* videos */
.alternate-photos-swiper .card-desc-block {
    padding-top: 15px;
}

.model-jcarousel-image-preview {
    position: relative;
}

.black-overlay {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    background: rgba(0,0,0,0.4);
}

.black-overlay-content {
    display: table-cell;
    vertical-align: middle;
}

.compare-with-target {
    display: block;
    padding: 10px 35px 10px 20px;
    position: relative;
    font-size: 14px;
    color: #4d5057;
}

.compare-with-target:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    width: 85%;
    height: 1px;
    border-top: 1px solid #e2e2e2;
}

.compare-sm {
    width: 17px;
    height: 12px;
    background-position: -210px -580px;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.compare-with-target .next-grey-icon {
    position: absolute;
    right: 20px;
    top: 15px;
}
.compare-with-target:hover {
    text-decoration: none;
}
.text-bold {
    font-weight: 600;
}
.sprite-video {
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/play-14x14.png');
	position: absolute;
	top: 14px;
	display: inline-block;
	height: 14px;
	width: 14px;
}

@media only screen and (max-width:1024px) {
	.miscWrapper li {
		width: 300px;
		padding: 10px;
		margin-right: 5px;
		margin-left: 5px;
	}
}

.series-jcarousel-image-preview {
	width: 100%;
	height: 168px;
	display: table;
	text-align: center;
	position: relative;
}
.jcarousel-card {
	display: block;
	font-size: 14px;
}
.jcarousel-wrapper {
	position: relative;
	width: 976px;
}
.jcarousel-card:hover {
	text-decoration: none;
}
.jcarousel {
	position: relative;
	overflow: hidden;
	padding: 10px 0 20px 0;
}

.jcarousel ul {
	width: 20000em;
	position: relative;
}

.jcarousel li {
	float: left;
	width: 312px;
	height: 330px;
	margin-right: 20px;
	background: #fff;
}
