<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
  </configSections>
  <connectionStrings>
    <add name="RabbitMQServerList" connectionString="172.16.0.10;172.16.0.20" />
  </connectionStrings>
  <appSettings>
    <!--<add key="connectionString" value="server=192.168.0.10;uid=cwuser;pwd=cw@007;database=Carwale"/>-->
    <add key="connectionString" value="server=cwdb\cwdev;uid=cwuser;pwd=cw@007;database=CarWale" />
    <!--<add key="connectionString" value="server=192.168.0.10;uid=cwreadonly;pwd=P@ssw0rd;database=Carwale_com"/>-->
    <add key="connectionStringNotReadOnly" value="server=cwdb\cwdev;uid=cwuser;pwd=cw@007;database=CarWale" />
    <!--<add key="connectionStringNotReadOnly" value="server=192.168.0.10;uid=cwreadonly;pwd=P@ssw0rd;database=Carwale"/>-->
    <add key="MaxMemcacheConnections" value="400" />
    <add key="IsMemcachedUsed" value="false" />
    <add key="MemcacheTimespan" value="30" />
    <add key="DefaultCityId" value="10" />
    <add key="DefaultCityName" value="New Delhi" />    
    <!--<add key="CWKKey" value="qrZC9JoLpbQUPmbbJG5jcFaQQK8="/>-->
    <add key="SkipValidation" value="true" />
    <!--<add key="AppSupportedVersions" value="1,2,4,5,6"/>
    <add key="AppLatestVersion" value="6"/>-->
    <add key="ZipDial" value="1" />
    <add key="zipDialCustomerToken" value="4050d98bf0f5d73425fb09c60349dff0dc6e5bcb" />
    <add key="zipDialZ2V" value="c04ce38468364530fcdefa441121e75f5061e998" />
    <add key="CustomSplashImgUrl" value="http://172.16.10.139/Images/splash.jpg" />
    <add key="RabbitMQ" value="true" />
    <add key="LeadStoreType" value="LeadScoreAN" /> <!--add in web config its different from carwale-->
    <add key="isMSMQ" value="true" />
    <add key="AndroidLeadSourceCategoryId" value="74" />
    <add key="AndroidLeadSourceName" value="CarWale Android App" />
  </appSettings>
  <memcached>
    <servers>
      <add address="172.16.0.11" port="11211" />
      <!-- Add more server instances here-->
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="400" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
  </memcached>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                 <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
          <dependentAssembly>
             <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
             <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
          </dependentAssembly>
          <dependentAssembly>
             <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
             <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
          </dependentAssembly>
          <dependentAssembly>
             <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
             <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
          </dependentAssembly>
          <dependentAssembly>
             <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
			  <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
          </dependentAssembly>
          <dependentAssembly>
             <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
             <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
          </dependentAssembly>
          <dependentAssembly>
             <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
             <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
          </dependentAssembly>
       </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>