@model Bikewale.Models.BikeModels.ModelPageVM

@if (Model.IsModelDescriptionAvailable)
{
    <a class="active" href="#modelSummaryContent" rel="nofollow">Overview</a>
}
@if (Model.ModelPageEntity.ModelVersions != null && Model.ModelPageEntity.ModelVersions.Count > 0)
{
    <a href="#modelPricesContent" rel="nofollow">Price</a>
}
@if (Model.IsModelColorsAvailable)
{
    <a href="#modelColorsContent" rel="nofollow">Colours</a>
}
@if (Model.IsSimilarBikesAvailable)
{
    <a href="#modelSimilarContent" rel="nofollow">Similar Bikes</a>
}
@if (Model.IsVersionSpecsAvailable)
{
    <a href="#modelSpecsFeaturesContent" rel="nofollow">Specs</a>
}
@if (Model.IsModelDescriptionAvailable)
{
    <a href="#modelAboutContent" rel="nofollow">About</a>
}
@if (Model.IsReviewsAvailable || Model.IsUserReviewsAvailable && Model.IsNewsAvailable)
{
    <a href="#modelReviewsContent" rel="nofollow">Reviews & News</a>
}
@if (Model.IsReviewsAvailable || Model.IsUserReviewsAvailable && !Model.IsNewsAvailable)
{
    <a href="#modelReviewsContent" rel="nofollow">Reviews</a>
}
@if (!(Model.IsReviewsAvailable || Model.IsUserReviewsAvailable) && Model.IsNewsAvailable)
{
    <a href="#modelReviewsContent" rel="nofollow">News</a>
}
@if (Model.IsVideosAvailable)
{
    <a href="#modelVideosContent" rel="nofollow">Videos</a>
}

@if (Model.IsNewBike &&((Model.IsServiceCentersAvailable||Model.IsOtherDealersAvailable)))
{
    <a href="#dealerAndServiceContent" rel="nofollow">
        @String.Format("{0} {1} {2}", ((Model.IsOtherDealersAvailable ) ? "Dealers" : ""), (((Model.IsServiceCentersAvailable && Model.IsOtherDealersAvailable)) ? "&" : ""), ((Model.IsServiceCentersAvailable) ? "Service Centers" : ""))
    </a>
}
@if (Model.DealersServiceCenter != null && Model.DealersServiceCenter.DealerServiceCenters!=null)
{

    <a href="#dealerAndServiceContent" rel="nofollow">
        @String.Format("{0} {1} {2}", ((Model.DealersServiceCenter.DealerServiceCenters.TotalDealerCount > 0) ? "Dealers" : ""), ((Model.DealersServiceCenter.DealerServiceCenters.TotalDealerCount > 0 && Model.DealersServiceCenter.DealerServiceCenters.TotalServiceCenterCount > 0) ? "&" : ""), ((Model.DealersServiceCenter.DealerServiceCenters.TotalServiceCenterCount > 0) ? "Service Centers" : ""))
    </a>
}
@if (Model.IsUsedBikesAvailable)
{
    <a href="#makeUsedBikeContent" rel="nofollow">Used</a>
}
