@model Bikewale.Models.BikeModels.ModelPageVM

@{ string bikeName = string.Format("{0}_{1}", Model.ModelPageEntity.ModelDetails.MakeBase.MakeName, Model.ModelPageEntity.ModelDetails.ModelName);}

<span  class="bw-ga navtab"  c="Model_Page" a="Floating_Navigation_Clicked" l="@bikeName&#95;Overview" data-href="#modelSummaryContent" rel="nofollow">Overview</span>

@if (Model.ModelPageEntity.ModelVersions != null && Model.ModelPageEntity.ModelVersions.Count > 0)
{
    <span class="bw-ga navtab" c="Model_Page" a="Floating_Navigation_Clicked" l="@bikeName&#95;Price"  data-href="#modelPricesContent"  rel="nofollow">Price</span>
}
@if (Model.IsModelColorsAvailable)
{
    <span class="bw-ga navtab" c="Model_Page" a="Floating_Navigation_Clicked" l="@bikeName&#95;Colours"  data-href="#modelColorsContent"  rel="nofollow">Colours</span>
}

<!--New Implementation-->
@if (Model.IsSimilarBikesAvailable)
{
    <span class="bw-ga navtab" c="Model_Page" a="Floating_Navigation_Clicked" l="@bikeName&#95;Similar Bikes"  data-href="#modelSimilarContent"  rel="nofollow">Compare Bikes</span>
}

@if (Model.IsVersionSpecsAvailable)
{
    <span class="bw-ga navtab" c="Model_Page" a="Floating_Navigation_Clicked" l="@bikeName&#95;Specs"  data-href="#modelSpecsFeaturesContent"   rel="nofollow">Specs</span>
}
@if (Model.IsReviewsAvailable || Model.IsUserReviewsAvailable)
{
    <span class="bw-ga navtab" c="Model_Page" a="Floating_Navigation_Clicked" l="@bikeName&#95;Reviews"  data-href="#modelReviewsContent"  rel="nofollow">Reviews</span>
}

@if (Model.IsNewsAvailable)
{
    <span class="bw-ga navtab" c="Model_Page" a="Floating_Navigation_Clicked" l="@bikeName&#95;News"  data-href="#modelNewsContent"  rel="nofollow">News</span>
}
@if (Model.IsVideosAvailable)
{
    <span class="bw-ga navtab" c="Model_Page" a="Floating_Navigation_Clicked" l="@bikeName&#95;Videos"  data-href="#modelVideosContent"  rel="nofollow">Videos</span>
}

@if (Model.IsNewBike && ((Model.IsServiceCentersAvailable || Model.IsOtherDealersAvailable)))
{
    <span class="bw-ga navtab" c="Model_Page" a="Floating_Navigation_Clicked" l="@bikeName&#95;Dealers&ServiceCenters"   data-href="#dealerAndServiceContent"  rel="nofollow">
        @String.Format("{0} {1} {2}", ((Model.IsOtherDealersAvailable) ? "Dealers" : ""), (((Model.IsServiceCentersAvailable && Model.IsOtherDealersAvailable)) ? "&" : ""), ((Model.IsServiceCentersAvailable) ? "Service Centers" : ""))
    </span>
}
@if (Model.DealersServiceCenter != null && Model.DealersServiceCenter.DealerServiceCenters != null && Model.IsDealersServiceCenterAvailable)
{

    <span class="bw-ga navtab" c="Model_Page" a="Floating_Navigation_Clicked" l="@bikeName&#95;Dealers&ServiceCenters"  data-href="#dealerAndServiceContent"  rel="nofollow">
        @String.Format("{0} {1} {2}", ((Model.DealersServiceCenter.DealerServiceCenters.TotalDealerCount > 0) ? "Dealers" : ""), ((Model.DealersServiceCenter.DealerServiceCenters.TotalDealerCount > 0 && Model.DealersServiceCenter.DealerServiceCenters.TotalServiceCenterCount > 0) ? "&" : ""), ((Model.DealersServiceCenter.DealerServiceCenters.TotalServiceCenterCount > 0) ? "Service Centers" : ""))
    </span>
}
@if (Model.IsUsedBikesAvailable)
{
    <span class="bw-ga navtab" c="Model_Page" a="Floating_Navigation_Clicked" l="@bikeName&#95;Used" data-href="#makeUsedBikeContent" rel="nofollow">Used</span>
}


