@model Bikewale.Entities.manufacturecampaign.v2.ManufactureCampaignLeadEntity
@using Bikewale.Utility
@if (Model != null)
{
    <!-- Manufacturer Campaign Ad section starts -->
    <div class="ribbon-container">
        @try
        {
            string hash = Bikewale.PWA.Utils.PwaCmsHelper.GetSha256Hash(Model.LeadsHtmlMobile);
            @Html.Raw(MvcHelper.Render(hash, Model, Model.LeadsHtmlMobile))
        }
        catch (Exception ex)
        {
            Bikewale.Notifications.ErrorClass.LogError(ex, String.Format("ManufacturerCampaign.Mobile(CampaignId : {0})", Model.CampaignId));
        }
        @if (Model.OffersList != null && Model.OffersList.Any())
        {
            <div id="dealerOffersRibbon" class="offers-ribbon ribbon-content">
                <div class="ribbon-icon-wrapper">
                    <span class="ribbon-icon__background"></span>
                    <span class="ribbon-icon__percent"></span>
                </div>
                <span>@Model.OfferCount</span>
                <span class="ribbon-content__data">&nbsp;Offer@(Model.OfferCount > 1 ? "s" : "") Available</span>
            </div>
        }
    </div>
     <!-- Manufacturer Campaign Ad section ends -->
}