 .brand-type-carousel
  .swiper-slide, .swiper-card
    width: 200px
    min-height: 110px
  a
    display: block
  .brand-logo-image
    width: 100%
    height: 50px
    line-height: 0
    display: table
    text-align: center
  .brand-type
    display: table-cell
    vertical-align: middle
  .swiper-details-block
    padding-bottom: 12px

.brandlogosprite
  background-image: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/brand-type-sprite.png?07Dec20170158351092222)
  background-repeat: no-repeat
  display: inline-block

.brand-2, .brand-1, .brand-40, .brand-3, .brand-4, .brand-11, .brand-20, .brand-5, .brand-39, .brand-6, .brand-7, .brand-8, .brand-34, .brand-17, .brand-9, .brand-19, .brand-10, .brand-12, .brand-22, .brand-15, .brand-16, .brand-13, .brand-14, .brand-41, .brand-42, .brand-81, .brand-71, .brand-21, .brand-38, .brand-23, .brand-72, .brand-73
  height: 30px

.brand-2
  width: 52px
  background-position: 0 0

.brand-7
  width: 34px
  background-position: -58px 0

.brand-1
  width: 53px
  background-position: -97px 0

.brand-8
  width: 60px
  background-position: -156px 0

.brand-12
  width: 40px
  background-position: -222px 0

.brand-40
  width: 75px
  background-position: -268px 0

.brand-34
  width: 73px
  background-position: -349px 0

.brand-22
  width: 73px
  background-position: -428px 0

.brand-3
  width: 26px
  background-position: -507px 0

.brand-17
  width: 52px
  background-position: -539px 0

.brand-15
  width: 71px
  background-position: -597px 0

.brand-4
  width: 26px
  background-position: -674px 0

.brand-9
  width: 59px
  background-position: -706px 0

.brand-16
  width: 70px
  background-position: -771px 0

.brand-5
  width: 35px
  background-position: -847px 0

.brand-19
  width: 73px
  background-position: -889px 0

.brand-13
  width: 73px
  background-position: -968px 0

.brand-6
  width: 38px
  background-position: -1047px 0

.brand-10
  width: 61px
  background-position: -1091px 0

.brand-14
  width: 76px
  background-position: -1159px 0

.brand-39
  width: 53px
  background-position: -1242px 0

.brand-20
  width: 49px
  background-position: -1300px 0

.brand-11
  width: 74px
  background-position: -1354px 0

.brand-41
  width: 40px
  background-position: -1432px 0

.brand-42
  width: 38px
  background-position: -1481px 0

.brand-81
  width: 38px
  background-position: -1529px 0

.brand-71
  width: 23px
  background-position: -1577px 0

.brand-21
  width: 57px
  background-position: -1737px 0

.brand-38
  width: 25px
  background-position: -1804px 0

.brand-23
  width: 70px
  background-position: -1839px 0

.brand-73
  width: 30px
  background-position: -1958px 0



.padding-10-15
	padding: 10px 15px

.margin-top15
	margin-top: 15px

.vertical-top
	display: inline-block
	vertical-align: top

.vertical-middle
	display: inline-block
	vertical-align: middle

#center-list
	padding: 0 20px 20px

	li
		border-top: 1px solid #e2e2e2
		padding-top: 15px
		margin-top: 20px
		font-size: 14px

		&:first-child
			border-top: 0
			margin-top: 0

	.center-list-item
		display: block

	a
		&:hover
			text-decoration: none

.service-btn
	font-size: 14px
	padding: 9px 0
	width: 180px

.btn-inv-green
	background: #fff
	color: #00aa33
	border: 1px solid #00aa33

	&.active
		background: #1b9618
		color: #fff

		.tel-green-icon
			background-position: -83px -111px

// icons
.dealership-loc-icon
	margin-right: 3px

.service-sprite
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-service-sprite.png') no-repeat
	display: inline-block

.blue-right-arrow-icon
    width: 10px
    height: 12px
    background-position: -56px -435px
    position: relative
    top: 1px
    left: 2px

.edit-blue
	width: 16px
	height: 16px
	background-position: -83px -257px
	position: relative
	top: 3px

.service-location-img
    width: 200px
    height: 75px
    display: block
    background-color: rgb(229, 227, 223)
    background-size: cover
    background-position: center center


@media only screen and (max-width: 420px)
	.change-text
		display: block

	.dealer-heading
		width: 80%

	.edit-blue
		left: 3px

@media only screen and (max-width: 320px)
	#makeDealersContent .card-container
		.swiper-slide,
		.swiper-card
			width: 275px !important


// city

.city-sprite
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-city-sprite-v2.png?v07Oct2016) no-repeat
  display: inline-block

.c-mumbai-icon, .c-pune-icon, .c-bangalore-icon, .c-newdelhi-icon, .c-chennai-icon, .c-hyderabad-icon, .c-kolkata-icon, .c-lucknow-icon
  height: 48px

.c-mumbai-icon
  width: 78px
  background-position: 0 0

.c-pune-icon
  width: 112px
  background-position: -84px 0

.c-bangalore-icon
  width: 82px
  background-position: -202px 0

.c-newdelhi-icon
  width: 38px
  background-position: -290px 0

.c-chennai-icon
  width: 33px
  background-position: -334px 0

.c-hyderabad-icon
  width: 34px
  background-position: -373px 0

.c-kolkata-icon
  width: 110px
  background-position: -413px 0

.c-lucknow-icon
  width: 106px
  background-position: -529px 0

.swiper-city .swiper-image-preview
  height: 100px
  padding: 25px 0 10px
  margin-right: 15px
  margin-left: 15px
  border-bottom: 1px solid #eee
  text-align: center

.service-center-grey
  width: 28px
  height: 25px
  background-position: 0 -636px
  vertical-align: middle

.dealer-grey
  width: 26px
  height: 24px
  background-position: -32px -638px
  vertical-align: top

.grid-11-inline
  display: inline-block
  vertical-align: middle
  width: 88.66666667%

.swiper-card
  min-height: 165px


 