@model Bikewale.Models.BikeModels.ModelPageVM

@{
    ViewBag.Title = "details_Mobile";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/authors.css' />";
    Model.Page_JS_Path = "/m/src/authors.js";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
<div class="detail-author">
    <div class="box-content">
        <div class="detail-author__head">
            <h1 class="detail-author__name">Abhishek Nigam</h1>
            <span class="detail-author__designation">Asst. Editor News and Features</span>
        </div>
        <div class="detail-author__body">
            <div class="detail-author__image">
                <img src="https://imgd1.aeplcdn.com/400x300/cw/author/sagarbhanushali.jpg" alt="Author" title="Author" border="0">
            </div>
            <div class="detail-author__description">
                Bilal is the youngest member in the team. And having grown up on a healthy diet of car magazines, he knows more than a thing or two about cars. He also enjoys motorcycling, but is currently tasked with keeping CarWale readers up-to-date with current, relevant and
                insightful news articles.
            </div>
            <span class="detail-author__mail">Get in touch: <a href="" title="">bilal.firfiray@carwale.com</a></span>
            <span class="detail-author__social">Follow him on:</span>
        </div>
    </div>
    <div class="box-content">
        <div class="border-after-bottom padding-top20 padding-left20 padding-right20 padding-bottom20">
            <h2 class="list-heading">News by Abhishek</h2>
            <ul class="disk-list">
                <li>
                    <a href="">Piaggio to double two-wheeler dealership count in this fiscal.</a>
                </li>
                <li>
                    <a href="">Honda Grom spied testing in India.</a>
                </li>
                <li>
                    <a href="">UM to launch an adventure bike within 6 months</a>
                </li>
                <li>
                    <a href="">UM Motorcycles Renegade Commando Classic and Mojave launched</a>
                </li>
            </ul>
        </div>
        <div class="padding-left20 padding-right20 padding-bottom20">
            <h2 class="list-heading">Expert Reviews by Abhishek</h2>
            <ul class="disk-list">
                <li>
                    <a href="">Piaggio to double two-wheeler dealership count in this fiscal.</a>
                </li>
                <li>
                    <a href="">Honda Grom spied testing in India.</a>
                </li>
                <li>
                    <a href="">UM to launch an adventure bike within 6 months</a>
                </li>
                <li>
                    <a href="">UM Motorcycles Renegade Commando Classic and Mojave launched</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-content">
        <h2 class="list-heading padding-left20 padding-top15">Other authors</h2>
        <div class="swiper-container card-container">
            <div class="swiper-wrapper detail-author__swiper">
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a class="block" href="" title="Charles Pennefather">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com/400x300/cw/author/charles.jpg" title="Charles Pennefather" alt="Charles Pennefather" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="author__swiper-label">Charles Pennefather</h3>
                                <p class="author__swiper-designation">Assistant Editor</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a class="block" href="" title="Charles Pennefather">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com/400x300/cw/author/sagarbhanushali.jpg" title="Abhishek Nigam" alt="Abhishek Nigam" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="author__swiper-label">Abhishek Nigam</h3>
                                <p class="author__swiper-designation">Asst. Editor News and Features</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a class="block" href="" title="Charles Pennefather">
                            <div class="swiper-image-preview">
                                <img class="swiper-lazy" data-src="https://imgd1.aeplcdn.com/400x300/cw/author/ameyadandekar.jpg" title="Ameya Dandekar" alt="Ameya Dandekar" src="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-details-block">
                                <h3 class="author__swiper-label">Ameya Dandekar</h3>
                                <p class="author__swiper-designation">Associate Editor</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



