@model Bikewale.Models.BikeModels.ModelPageVM

@{
    ViewBag.Title = "Listing_Mobile";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/authors.css' />";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
<div class="author-listing box-content">
    <h1 class="author__title">All authors</h1>
    <ul class="author__list">
        <li>
            <a href="" title="" class="author__block">
                <div class="author__image">
                    <img src="https://imgd1.aeplcdn.com/400x300/cw/author/sagarbhanushali.jpg" alt="Abhishek Nigam" title="Abhishek Nigam" border="0">
                </div>
                <div class="author__detail">
                    <span class="author__name">Abhishek Nigam</span>
                    <span class="author__designation">Asst. Editor News and Features</span>
                </div>
            </a>
        </li>
        <li>
            <a href="" title="" class="author__block">
                <div class="author__image">
                    <img src="https://imgd1.aeplcdn.com/400x300/cw/author/ameyadandekar.jpg" alt="Ameya Dandekar" title="Ameya Dandekar" border="0">
                </div>
                <div class="author__detail">
                    <span class="author__name">Ameya Dandekar</span>
                    <span class="author__designation">Associate Editor</span>
                </div>
            </a>
        </li>
        <li>
            <a href="" title="" class="author__block">
                <div class="author__image">
                    <img src="https://imgd1.aeplcdn.com/400x300/cw/author/bilal.jpg" alt="Bilal Ahmed Firfiray" title="Bilal Ahmed Firfiray" border="0">
                </div>
                <div class="author__detail">
                    <span class="author__name">Bilal Ahmed Firfiray</span>
                    <span class="author__designation">Trainee Correspondent</span>
                </div>
            </a>
        </li>
        <li>
            <a href="" title="" class="author__block">
                <div class="author__image">
                    <img src="https://imgd1.aeplcdn.com/400x300/cw/author/charles.jpg" alt="Charles Pennefather" title="Charles Pennefather" border="0">
                </div>
                <div class="author__detail">
                    <span class="author__name">Charles Pennefather</span>
                    <span class="author__designation">Assitant Editor</span>
                </div>
            </a>
        </li>
    </ul>
</div>




