@for (var i = 0; i <= 2; i++)
{
        <div class="swiper-slide">
            <div class="model-related__card swiper-card">
                <h3 class="related-card__title">More about Activa 4G</h3>
                <ul class="related-card__list">
                    <li>Activa 4G Expert Reviews</li>
                    <li>Activa 4G Specs</li>
                    <li>Activa 4G Specs</li>
                    <li>Activa 4G Expert Reviews</li>
                </ul>
            </div>
        </div>
}
