
<div id="otpCapturePopup" class="otp-container hide">
    <div class="otp-container__close otp-icons"></div>
    <div class="otp-container__info">
        <div class="icon-outer-container rounded-corner50">
            <div class="icon-inner-container rounded-corner50">
                <div class="otp-container__icon"></div>
            </div>
        </div>
        <p class="otp-container__title">Verify your mobile number</p>
        <p class="font14">We have sent an OTP on the following mobile number. Please enter that OTP in the box provided below: </p>
        <div class="otp-container__verification">
            <span class="otp-container__span otp-container__phone-icon otp-icons"></span>
            <span class="otp-container__span otp-container__phone-number"><span data-bind="text: mobileNumber()"></span></span>
            <span class="otp-container__span otp-container__edit-icon"></span>
            <div class="input-box form-control-box">
                <input id="otpNumber" type="tel" min="1" maxlength="6">
                <label for="otpNumber">Enter your OTP<sup>*</sup></label>
                <span class="boundary"></span>
                <span class="error-text" style="display: none;"></span>
            </div>
            <input type="button" id="process-order" class="btn btn-orange btn-primary-big bw-ga margin-bottom10" value="Process Order">
            <p class="otp-container__resend font15">Resend OTP</p>
        </div>
        <div class="otp-container__edit">
            <div class="input-box form-control-box">
                <input id="otpNewNumber" type="tel" min="1" maxlength="10">
                <label for="otpNewNumber">Mobile Number<sup>*</sup></label>
                <span class="input-number-prefix">+91</span>
                <span class="boundary"></span>
                <span class="error-text" style="display: none;"></span>
            </div>
            <input type="button" id="saveNewNumber" data-bind="event: { click: changeMobileNumber }" class="btn btn-orange btn-primary-big bw-ga margin-bottom10" value="Done">
        </div>
    </div>
    <div id="thankyouScreen" class="thankyou-container hide">
        <div class="icon-outer-container rounded-corner50">
            <div class="icon-inner-container rounded-corner50">
                <span class="otp-icons thumbsup-icon"></span>
            </div>
        </div>
        <p class="font18 text-bold margin-top20">Thank you, <span data-bind="text: userName()"></span>!</p>
        <p class="text-black font14 margin-top20">Your loan application is being verfied. </p>
        <p class="text-black font14">Loan approval will be generated shortly</p>
        <input type="button" id="sendEmail" class="btn btn-orange btn-primary-big bw-ga margin-top20" value="Done">
    </div>
</div>

<script type="text/javascript">
    var otpvm;
    function otpModel() {
        var self = this;
        self.userName = ko.observable();
        self.mobileNumber = ko.observable();

        // set parameter for otp popup
        self.setParameters = function (objData) {
            if (objData != null) {
                if (objData.userName != null)
                    self.userName(objData.userName);


                if (objData.mobileNumber != null)
                    self.mobileNumber(objData.mobileNumber);

            }
        }
        self.changeMobileNumber = function () {
            var mobileNumber = $('#otpNewNumber').val();
            if (validatePhoneNumber('#otpNewNumber')) {
                var employeDetails = {

                    "status": $('#cfStatusS').is(':checked') ? 1 : 2,
                    "companyName": $('#cfCompName').val(),
                    "OfficialAddressLine1": $('#cfCompAddress1').val(),
                    "OfficialAddressLine2": $('#cfCompAddress2').val(),
                    "pincode": $('#cfCompPincode').val(),
                    "annualIncome": $('#cfCompIncome').val(),
                    "mobileNumber": mobileNumber,
                    "emailId": $('#cfEmail').val(),
                    "objLeadJson": $("#objLead").val(),
                    "firstName": $('#cfFName').val(),
                    "lastName": $('#cfLName').val(),
                    "dateOfBirth": $('#cfDOB').val(),
                    "gender": $('#cfGenderM').is(':checked') ? 1 : 2,
                    "maritalStatus": $('#cfMaritalS').is(':checked') ? 1 : 2,
                    "addressLine1": $("#cfAddress1").val(),
                    "addressLine2": $('#cfAddress2').val(),
                    "pincode": $("#cfPincode").val(),
                    "pancard": $("#cfPan").val(),
                    "objLeadJson": $("#objLead").val()


                }
                $.ajax({
                    type: "POST",
                    url: "/api/finance/saveemployedetails/",
                    contentType: "application/json",
                    data: ko.toJSON(employeDetails),
                    success: function (response) {
                        if (response == "Not Registered Mobile Number") {
                            otpScreen.openOtp();
                            var objData = {
                                "userName": $('#cfFName').val() + " " + $('#cfLName').val(),
                                "mobileNumber": mobileNumber
                            }
                            otpvm.setParameters(objData);
                            $('#otpNumber').val("");
                        }
                        else if (response == "Registered Mobile Number") {
                            otpScreen.openOtp();
                            $('.otp-container__info').hide();
                            $('#thankyouScreen').removeClass("hide")

                        }

                    }
                });

            }


        };

        self.Done = function () {
            var otp = $('#otpNumber').val();

            $.ajax({
                type: "POST",
                url: "/api/finance/verifymobile/otp/" + otp + "/mobilenumber/" + otpvm.mobileNumber()+"/",
                contentType: "application/json",
                dataType: 'json',
                success: function (response) {
                    if (response==true) {
                        $('.otp-container__info').hide();
                        $('#thankyouScreen').removeClass("hide");
                    }
                    else {

                        validate.setError($('#otpNumber'), "Wrong Otp");

                    }

                }
            });


        };

    }

    docReady(function () {
        otpvm = new otpModel();
        ko.applyBindings(otpvm, document.getElementById("otpCapturePopup"));
    });

</script>