
<section class="margin-top20">
    <div id="otpCapturePopup" class="container">
        <div class="otp-container hide">
            <a href="javascript:void(0)" data-bind="event: { click: redirect }" class="otp-container__close otp-icons"></a>
            <div id="otpContainerInfo" class="otp-container__info">
                <div class="icon-outer-container rounded-corner50">
                    <div class="icon-inner-container rounded-corner50">
                        <div class="otp-container__icon"></div>
                    </div>
                </div>
                <p class="otp-container__title">Verify your mobile number</p>
                <p class="font14">We have sent an OTP on the following mobile number. Please enter that OTP in the box provided below: </p>
                <div class="otp-container__verification">
                    <span class="otp-container__span otp-container__phone-icon otp-icons"></span>
                    <span class="otp-container__span otp-container__phone-number"><span data-bind="text: mobileNumber()"></span></span>
                    <span class="otp-container__span otp-container__edit-icon"></span>
                    <div class="input-box form-control-box">
                        <input id="otpNumber" type="tel" min="1" maxlength="6">
                        <label for="otpNumber">Enter your OTP<sup>*</sup></label>
                        <span class="boundary"></span>
                        <span class="error-text" style="display: none;"></span>
                    </div>
                    <input type="button" id="process-order" data-bind="event: { click: Done }" class="btn btn-orange btn-primary-big bw-ga margin-bottom10" value="Submit OTP">
                    <p><a href="javascript:void(0)" rel="nofollow" id="resend_Otp" class="otp-container__resend font15" data-bind="event: { click: resendOtp }">Resend OTP</a></p>
                </div>
                <div class="otp-container__edit">
                    <div class="input-box input-number-box form-control-box">
                        <input id="otpNewNumber" type="tel" min="1" maxlength="10">
                        <label for="otpNewNumber">Mobile Number<sup>*</sup></label>
                        <span class="input-number-prefix">+91</span>
                        <span class="boundary"></span>
                        <span class="error-text" style="display: none;"></span>
                    </div>
                    <input type="button" id="saveNewNumber" data-bind="event: { click: changeMobileNumber }" class="btn btn-orange btn-primary-big bw-ga margin-bottom10" value="Done">
                </div>
            </div>
            <div id="thankyouScreen" class="thankyou-container hide">
                <div class="icon-outer-container rounded-corner50">
                    <div class="icon-inner-container rounded-corner50">
                        <span class="otp-icons thumbsup-icon"></span>
                    </div>
                </div>
                <p class="font18 text-bold margin-top20">Thank you, <span data-bind="text: userName()"></span>!</p>
                <p class="text-black font14 margin-top20">Your loan application is being processed by our finance partner. The status of the application will be shared over SMS and E-mail.</p>
                <input type="button" id="sendEmail"  data-bind="event: { click: redirect }" class="btn btn-orange btn-primary-big bw-ga margin-top20" value="Done">
            </div>
            <div id="failureScreen" class="failure-container hide">
                <div class="icon-outer-container rounded-corner50">
                    <div class="icon-inner-container rounded-corner50 fail-icon">
                        <span class="otp-icons "></span>
                    </div>
                </div>
                <p class="font18 text-bold margin-top20">We are sorry</p>
                <p class="text-black font14 margin-top20">Your loan application is being verfied. </p>
                <p class="text-black font14">Loan approval will be generated shortly</p>
            </div>
						
			<div id="otpLoader" class="spinner-box spinner-box--absolute">
				<svg class="bw-spinner" width="50px" height="50px" viewBox="0 0 50 50">
					<circle class="circle-path" fill="none" stroke-width="4" stroke-linecap="round" cx="25" cy="25" r="22"></circle>
				</svg>
			</div>
        </div>
    </div>
</section>

<script type="text/javascript">
    var otpvm;
    function otpModel() {
        var self = this;
        self.userName = ko.observable();
        self.mobileNumber = ko.observable();

        // set parameter for otp popup
        self.setParameters = function (objData) {
            if (objData != null) {
                if (objData.userName != null)
                    self.userName(objData.userName);


                if (objData.mobileNumber != null)
                    self.mobileNumber(objData.mobileNumber);

            }
        };

        self.resendOtp = function () {
            var objInput = {

                "customerName": $('#cfFName').val() + " " + $('#cfLName').val(),
                "customerMobile": otpvm.mobileNumber,
                "customerEmail": $('#cfEmail').val()
            };

            $.ajax({
                type: "POST",
                url: "/api/ResendVerificationCode/",
                contentType: "application/json",
                data: ko.toJSON(objInput),
                beforeSend: function () {
                    $('#otpLoader').show();
                },
                success: function (response) {
                    var obj = JSON.parse(response);
                    if (response != null)
                    {
                        if (obj.noOfAttempts >= 3)
                        {
                            $('#resend_Otp').hide();
                        }
                    }

                },
                complete: function () {
                    $('#otpLoader').hide();
                }
            });


        };

        self.changeMobileNumber = function () {
            var mobileNumber = $('#otpNewNumber').val();
            if (validatePhoneNumber('#otpNewNumber')) {
                $('#cfNum').val(mobileNumber);
                self.submitDetails(mobileNumber);
            }


        };
        self.redirect = function () {
            if ($("#otpContainerInfo").is(":visible"))
            {
                $(".otp-container").hide();
            }
            else {
                window.location.href = $("#pageUrl").val();
            }
        };

        self.Done = function () {
            var otp = $('#otpNumber').val();
            $.ajax({
                type: "POST",
                url: "/api/mobileverification/validateotp/?mobile=" + $('#cfNum').val() + "&otp=" + otp,
                contentType: "application/json",
                beforeSend: function () {
                    $('#otpLoader').show();
                },
                success: function (response) {
                    if (response == true) {
                        $('.otp-container__info').hide();
                        self.submitDetails($('#cfNum').val());
                    }
                    else {
                        validate.setError($('#otpNumber'), "Invalid otp");
                    }
                },
                complete: function () {
                    $('#otpLoader').hide();
                }
            });
        };

        self.submitDetails = function (mobileNumber) {
            var contactDetails = {
                "objLeadJson": $("#objLead").val(),
                "firstName": $('#cfFName').val(),
                "lastName": $('#cfLName').val(),
                "mobileNumber": mobileNumber,
                "emailId": $('#cfEmail').val(),
                "pincode": ($("#cfPincode").val() != null ? $("#cfPincode").val().substring(0, 6) : ""),
                "pancard": $("#cfPan").val()
            };

            $.ajax({
                type: "POST",
                url: "/api/finance/savepersonaldetails/?source=" + $("#hdnPlatform").val(),
                contentType: "application/json",
                data: ko.toJSON(contactDetails),
                beforeSend: function () {
                    $('#otpLoader').show();
                },
                success: function (response) {
                    $("#cpId").val(response.cpId);
                    $("#ctLeadId").val(response.ctLeadId);
                    $("#leadId").val(response.leadId);

                    if (response.status == 6) {                        
                        triggerGA('Loan_Application', 'Success', bikeName + '_' + $('#cfNum').val());
                        $('.otp-container__info').hide();
                        $('#thankyouScreen').removeClass("hide");                        
                    } else if (response && response.status == 1) {                        
                        var objData = {
                            "userName": $('#cfFName').val() + " " + $('#cfLName').val(),
                            "mobileNumber": contactDetails.mobileNumber
                        };
                        otpvm.setParameters(objData);
                        $('#otpNumber').val("");
                    }
                    else {
                        $('.otp-container__info').hide();
                        $('#thankyouScreen').removeClass("hide");

                    }
                    otpScreen.openOtp();

                },
                complete: function () {
                    $('#otpLoader').hide();
                }
            });
        };
    }

    docReady(function () {
        otpvm = new otpModel();
        ko.applyBindings(otpvm, document.getElementById("otpCapturePopup"));
    });

</script>