
<div id="reviewPopup" class="review-popup hide">
    <span class="review-popup-close-btn"></span>
    <div class="review-popup__title-block">
        <div class="left-grid-image">
            <img src="https://imgd.aeplcdn.com//110x61//bw/models/bajaj-platina-platina-100-spoke-wheel-12.jpg?20151209174354&amp;q=65" alt="Bajaj Platina">
        </div>

        <div class="right-grid-details inline-block">
            <h1 class="font16 font-bold">Bajaj Platina</h1>
            <div class="review-overall-rating">
                <span class="review-overall-rating__list rate-count-5">
                    <span class="star-icon"></span>
                    <span class="font14 text-bold">4.5</span>
                </span>
                <span class="review-overall-rating__list">111 ratings</span>
                <span class="review-overall-rating__list">38 reviews</span>
            </div>
        </div>
    </div>
    <div class="review-popup-container">
        <div class="about-reviewer-content margin-bottom15">
            <p class="font13 text-grey text-bold">About the reviewer</p>
            <ul class="about-reviewer-list item-count-2">
                <li>
                    <span class="bwsprite bwmsprite questionId-1"></span>
                    <p class="item-question">Used it for</p>
                    <p class="item-answer">Everything</p>
                </li>
                <li>
                    <span class="bwsprite bwmsprite questionId-2"></span>
                    <p class="item-question">Owned for</p>
                    <p class="item-answer">Never owned</p>
                </li>
            </ul>
        </div>
        <div class="review-popup-list content-box-shadow">
            <div class="margin-bottom10">
                <span class="rating-badge bg-rate-4" data-rate-bg="4">
                    <span class="bwsprite bwmsprite star-white"></span>
                    <span>4</span>
                </span>
                <div class="review-popup-list__title">
                    One of the best mileage bike with reasonable riding comfort
                </div>
            </div>

            <span class="font12 text-light-grey">2 years ago by Abhijit</span>
        </div>

        <div class="content-inner-block-20">
            <h2 class="font14 margin-bottom10">Full review of Bajaj Platina</h2>
            <ul class="horizontal-rating-graph user-review-graph">
                <li>
                    <span class="graph-bar-label">Visual Appeal</span>
                    <span class="graph-bar-bg">
                        <span style="width:60%" class="rating-bar bg-rate-3"></span>
                    </span>
                </li>
                <li>
                    <span class="graph-bar-label">Comfort</span>
                    <span class="graph-bar-bg">
                        <span style="width:80%" class="rating-bar bg-rate-4"></span>
                    </span>
                </li>
                <li>
                    <span class="graph-bar-label">Value for Money</span>
                    <span class="graph-bar-bg">
                        <span style="width:100%" class="rating-bar bg-rate-5"></span>
                    </span>
                </li>
            </ul>
        </div>

        <div class="padding-bottom20">
            <div class="user-review__content">
                <p></p>
                <p class="margin-top5"><strong>Style</strong> easy to ride, nice features and looks different in the crowd (of 100cc bikes).</p>
                <p class="margin-top5"><strong>Engine performance, fuel economy and gearbox</strong> engine: engine has reasonable power and pickup but little lower than similar bikes of hero and honda. But the tradeoff is its awesome mileage.</p>
                <p class="margin-top5">Fuel economy: i was able to extract 88 kmpl maximum and currently getting around 81 kmpl in city riding that includes heavy traffic.</p>
                <p class="margin-top5">Gearbox: it's smooth. No false nutrals unless the engine oil goes dirt black. Grar ratio seems optimal for the power of the bike.</p>
                <p class="margin-top5"><strong>Ride quality &amp; handling</strong> i have done numerous long rides on the bike. Not a single time there was breakdown. Even long drives of 100 km at a stretch does not figigue engine provided you drive sub 60 kmph speeds (that's what the bike is designed for).</p>
                <p class="margin-top5">For city driving, handling is great. Very easy to drive thgourh traffic. Engine starts the first kick everytime.</p>
                <p class="margin-top5"><strong>Final words</strong> this is for you if</p>
                <p class="margin-top5">1. You are not hungry for power and speed.</p>
                <p class="margin-top5">2. You need it for daily commuting from city traffic and occassional long drives.</p>
                <p class="margin-top5">3. Mileage is your primary constraint.</p>
                <p class="margin-top5">4. You are looking for moderate comfort.</p>
                <p class="margin-top5">
                    <strong>Areas of improvement</strong> projection and power of head lamp. It is too week in cities. I have been able to drive seemlessly when it is totally dark (a rainy night for example) with the same headlight.
                    <img src="../../editor/tiny_mce/plugins/emotions/img/smiley-smile.gif" alt="smile">
                </p>
                <p class="margin-top5"><strong>Pros</strong></p>
                <p>mileage, comfort, fule tank capacity, stability, rug performance</p>
                <p></p>
                <p class="margin-top5"><strong>cons</strong></p>
                <p>power, head lamp</p>
                <p class="margin-top5"></p>
                <p></p>
            </div>

            <div class="review-question__block">

                <span class="review__question">Was this review helpful?</span>

                <button type="button" class="feedback-button">
                    <span class="bwmsprite like-sm"></span>
                    Yes
                    (<span class="btn-count review-btn">225</span>)
                </button>


                <button type="button" class="feedback-button">
                    <span class="bwmsprite dislike-sm"></span>
                    No
                    (<span class="btn-count">13</span>)
                </button>
            </div>
            <p class="report-abuse__block">
                Inappropriate review?
                <a href="javascript:void(0)">Report Abuse</a>
            </p>
        </div>

    </div>
</div>
