<div class="sidebar-bike-container">
    <ul class="sidebar-bike-list">
        @for (var k = 0; k < 9; k++ )
        {
            <li>
                <a href="" title="" class="bike-target-link">
                    <div class="bike-target-image inline-block">
                        <img src="https://imgd.aeplcdn.com//110x61//bw/models/bajaj-platina-platina-100-spoke-wheel-12.jpg?20151209174354&q=70" alt="" />
                    </div>
                    <div class="bike-target-content inline-block padding-left10">
                        <h3>Bajaj Platina</h3>
                            <p class="font11 text-light-grey">Ex-showroom, Chennai</p>
                            <span class='font16'> &#x20B9;</span><span class="font16 text-bold">&nbsp; 46,766</span>
                    </div>
                </a>
                <a href="" title="" class="compare-with-link">
                    Compare with Jupiter
                </a>
            </li>
        }
    </ul>
</div>
<link rel="stylesheet" type="text/css" href="/sass/modules/sidebar-bike-section.css">
