/* common */
.padding-15-20 {
    padding: 15px 20px;
}

.card-bottom-margin {
    margin-bottom: 10px;
}

.margin-bottom3 {
    margin-bottom: 3px;
}

/* comparison main card */
.bike-details-block {
    width: 50%;
    padding: 10px;
    float: left;
    position: relative;
}

.comparison-main-card .bike-details-block {
    min-height: 250px;
}

.bike-details-block .btn-white {
    width: 134px;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 4px;
    overflow: hidden;
}

.bike-details-block .cross-sm-dark-grey {
    width: 20px;
    height: 20px;
    top: 2px;
    background-position: -80px -236px;
    cursor: pointer;
}

.bike-details-block a:hover {
    text-decoration: none;
}

.bike-details-block h2 {
    height: 40px;
    margin-bottom: 5px;
}

.bike-details-block .bike-image-block {
    width: 80px;
}

.comparison-main-card .bike-details-block:nth-of-type(3),
#comparison-floating-card .bike-details-block:nth-of-type(3) {
    background: #f5fbfc;
}

/* comparison floating card */
#comparison-floating-card {
    display: block;
    position: fixed;
    top: -200px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 2;
}

.slideIn-transition {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

#comparison-floating-card .bike-details-block {
    min-height: 95px;
}

.bike-details-block .bike-title-target {
    font-size: 14px;
    font-weight: 600;
    color: #2a2a2a;
    display: block;
    margin-bottom: 10px;
    height: 40px;
}

#comparison-floating-card .overall-specs-tabs-wrapper {
    border-bottom: 0;
}

/* fixed-card */
#comparison-floating-card.fixed-card {
    top: 0;
}

/* version */
.bike-details-block .label-text {
    font-size: 11px;
    color: #82888b;
    margin-bottom: 2px;
}

/* dropdown */
.dropdown-select {
	display: none;
}

.dropdown-select-wrapper,
.dropdown-menu {
    height: 30px;
}

.dropdown-menu {
	width: 150px;
	font-size: 14px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #4d5057;
    margin-bottom: 5px;
}

.dropdown-menu .dropdown-label,
.dropdown-selected-item {
	width: 100%;
	background: url(https://imgd1.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) no-repeat;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-selected-item {
	cursor: pointer;
	display: inline-block;
	z-index: 0;
    font-weight: 600;
    padding-bottom: 3px;
    padding-right: 12px;
    background-position: 100%;
    border-bottom: 1px solid #82888b;
}

.dropdown-menu .dropdown-label {
    border-bottom: 1px solid #e2e2e2;
    padding: 9px 30px 9px 10px;
    background-position: 94%;
}

.dropdown-menu .dropdown-list-wrapper {
	display: none;
	min-width: 170px;
	overflow:hidden;
	position: absolute;
	top: -15px;
	right: 0;
	background: #fff;
	z-index: 1;
	border-radius: 2px;
	border: 1px solid #e2e2e2\9;
	-webkit-box-shadow: -3px 3px 15px 1px #ddd;
	-moz-box-shadow: -3px 3px 15px 1px #ddd;
	-ms-box-shadow: -3px 3px 15px 1px #ddd;
	-o-box-shadow: -3px 3px 15px 1px #ddd;
	box-shadow: -3px 3px 15px 1px #ddd;
}

.dropdown-menu.dropdown-active .dropdown-list-wrapper {
	display: inline-block;
}

.dropdown-menu .dropdown-menu-list li {
    color: #444;
	padding: 5px 10px;
	cursor: pointer;
	white-space: nowrap;
}

.dropdown-menu li:hover {
	background: #f5f5f5;
}

.dropdown-menu li.option-active {
    font-weight: 600;
}

/* single version */
.option-count-one {
    pointer-events: none;
    font-size: 14px;
    margin-bottom: 2px;
    border-bottom: 1px solid #e6e7e8;
    position: relative;
}

.option-count-one:after {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    background: rgba(255,255,255,0.7);
}

.dropdown-menu .fullwidth {
    width: 100%;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
}

.comparison-main-card .bike-details-block:nth-child(1) .dropdown-list-wrapper,
#sponsored-column-active .bike-details-block:nth-child(2) .dropdown-list-wrapper {
    left: 0;
    right: auto;
}

/* floating-tabs-content */
.overall-specs-tabs-container {
    width: 100%;
    display: block;
    background: #fff;
    overflow-x: scroll;
    z-index: 2;
}

.overall-specs-tabs-wrapper {
    width: 100%;
    display: table;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.overall-specs-tabs-wrapper li {
    font-size: 14px;
    padding: 10px 15px;
    display: table-cell;
    text-align: center;
    white-space: nowrap;
    color: #82888b;
    cursor: pointer;
}

.overall-specs-tabs-wrapper.inline-tabs li {
    float: left;
}

.overall-specs-tabs-wrapper li.active {
    border-bottom: 3px solid #ef3f30;
    color: #4d5057;
    font-weight: 700;
}

/* floating button */
#toggle-features-btn.btn {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.btn-inv-teal{    
    background: #fff;
}

#toggle-float-button.float-fixed {
    bottom: -100px;
    padding-right: 15px;
    padding-left: 15px;
    background: rgba(255,255,255,0.8);
}

#toggle-float-button.float-button.fixed-floater {
    bottom: 0;
}

/* hide show features */
.hide-equivalent-data .equivalent-data {
    display: none;
}

.show-equivalent-data .equivalent-data {
    display: table-row;
}

/* table */
.table-content {
    display: none;
}

.table-content td {
    padding-left: 15px;
}

.row-type-heading td {
    font-size: 14px;
    color: #82888b;
    padding: 10px 15px;
    border-top: 1px solid #e2e2e2;
}

.table-content .row-type-heading:nth-child(1) td {
    border-top: 0;
}

.row-type-data td {
    width: 50%;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 5px;
    vertical-align: top;
}

.row-type-data td:nth-child(2) {
    padding-right: 15px;
}

.row-type-heading td:nth-child(2),
.row-type-data td:nth-child(3) {
    display: none;
}

/* table sponsored-column-active */
.sponsored-bike-details-block {
    display: none;
}

#sponsored-column-active .sponsored-bike-details-block {
    display: block;
}

#sponsored-column-active .bike-details-block {
    width: 33.33%;
}

#sponsored-column-active .bike-details-block .btn-white {
    width: 99px;
    font-size: 12px;
}

#sponsored-column-active .row-type-data td {
    width: 33.33%;
}

#sponsored-column-active .row-type-data td:nth-child(2) {
    padding-right: 0;
}

#sponsored-column-active .row-type-data td:nth-child(3) {
    padding-right: 15px;
}

#sponsored-column-active .row-type-heading td:nth-child(2),
#sponsored-column-active .row-type-data td:nth-child(3) {
    display: table-cell;
    background: #f5fbfc;
}

#sponsored-column-active .dropdown-width {
    width: 100px;
}

#sponsored-column-active #comparison-floating-card .bike-details-block {
    padding-top: 20px;
}

/* compare-box-placeholder */
.compare-box-placeholder {
    width: 100%;
    min-height: 230px;
    background: #f5f5f5;
    display: table;
    text-align: center;
    cursor: pointer;
}

.bike-icon-wrapper {
    display: table-cell;
    vertical-align: middle;
}

#comparison-floating-card .compare-box-placeholder {
    min-height: 95px;
}

#comparison-floating-card .grey-bike {
    margin-bottom: 5px;
}

/* accordion */
.model-accordion-tab {
    padding: 12px 15px;
    position: relative;
    border-top: 1px solid #e2e2e2;
    cursor: pointer;
}

.bw-model-tabs-data .model-accordion-tab:first-of-type {
    border-top: 0;
}

.accordion-tab-label {
    font-size: 16px;
    font-weight: 600;
}

.model-accordion-tab .fa-angle-down {
    position: absolute;
    right: 20px;
    top: 20px;
    -moz-transition: transform .3s;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    -ms-transition: transform .3s;
    transition: transform .3s;
}

.model-accordion-tab.active {
    box-shadow: 0 2px 3px #e2e2e2;
}

.model-accordion-tab.active .fa-angle-down {
    -moz-transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.model-accordion-tab.brakes-accordion-tab {
    padding-top: 7px;
    padding-bottom: 8px;
}

.model-accordion-tab.active + .table-content,
.model-accordion-tab.active:nth-child(1) + .table-content {
    display: table;
    border-bottom: 1px solid #e2e2e2;
}

.model-accordion-tab.active + .table-content + .model-accordion-tab {
    border-top: 0;
}

/* used-bikes-container */
#used-bikes-container .table-content {
    display: table;
}

#used-bikes-container .row-type-heading {
    display: none;
}

#used-bikes-container .row-type-data td {
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 14px;
}
 
/* icons */
.offers-sprite {
    background: url(https://imgd3.aeplcdn.com/0x0/bw/static/sprites/m/offers-sprite.png?v19Aug2016) no-repeat;
    display: inline-block;
}

.engine-sm-icon, .brakes-sm-icon, .dimension-sm-icon, .fuel-sm-icon { width:20px; margin-right: 5px; }
.engine-sm-icon { height: 13px; background-position: -46px -274px;}
.brakes-sm-icon { height: 20px; background-position: -46px -294px; position:relative; top:3px;}
.dimension-sm-icon { height: 14px; background-position: -46px -323px;}
.fuel-sm-icon { height: 16px; background-position: -46px -344px;}

.tick-grey {
    width: 18px;
    height: 16px;
    background-position: -88px -458px
}

.cross-grey {
    width: 14px;
    height: 16px;
    background-position: -116px -458px
}

.grey-bike {
    width: 52px;
    height: 31px;
    background: url(https://imgd2.aeplcdn.com/0x0/bw/static/design15/grey-bike.png) no-repeat;
    display: inline-block;
    margin-bottom: 12px;
}

@media only screen and (max-width: 320px) {
    #sponsored-column-active .bike-details-block,
    .bike-details-block,
    .row-type-data td {
        width: 50%;
    }

    #sponsored-column-active .row-type-data td:nth-child(2),
    .row-type-data td:nth-child(2) {
        padding-right: 15px;
    }

    #sponsored-column-active .bike-details-block.sponsored-bike-details-block,
    #sponsored-column-active .row-type-heading td:nth-child(2),
    #sponsored-column-active .row-type-data td:nth-child(3),
    .row-type-heading td:nth-child(2),
    .row-type-data td:nth-child(3),
    .comparison-main-card .bike-details-block:nth-of-type(3),
    #comparison-floating-card .bike-details-block:nth-of-type(3) {
        display: none;
    }

    .dropdown-width {
        width: 120px;
    }

    #sponsored-column-active .bike-details-block:nth-child(2) .dropdown-list-wrapper,
    .bike-details-block:nth-child(2) .dropdown-list-wrapper {
        right: 0;
        left: auto;
    }

    #sponsored-column-active .bike-details-block,
    .bike-details-block {
        padding-top: 10px;
    }
}


/*
table td{text-align:center;height:25px}div.color-box{margin:10px auto auto;width:40px;height:40px;background:#ccc;border:1px solid #e2e2e2;-moz-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;border-radius:2px}.color-box.color-count-one span{width:100%;height:100%;display:block!important;background:#eee}.color-box.color-count-two span{width:100%;height:50%;display:block!important;background:#e34f4f}.color-box.color-count-three span{width:100%;height:33.33%;display:block!important}.related-comparison-container.container{border-bottom:0;padding:0}.related-comparison-carousel-content,.usedBikes{border:1px solid #ccc;padding:20px 20px 10px}.related-comparison-carousel-content{width:260px;height:auto;background:#fff}.related-comparison-carousel-content a{color:#0288d1;font-size:14px;font-weight:400;margin-bottom:10px;display:block}.related-comparison-carousel-content a:hover{color:#0288d1}.compare-tick{width:18px;height:16px;background-position:-88px -458px}.compare-cross{width:14px;height:16px;background-position:-116px -458px}.related-comparison-container .swiper-wrapper,.usedBikes{margin:10px;height:auto}.usedBikes{background:#fff}.usedBikes a {color: #0288d1;font-size: 16px;font-weight: 400;margin-bottom: 10px;}
*/