/* common */
.padding-15-20 {
    padding: 15px 20px;
}

.card-bottom-margin {
    margin-bottom: 10px;
}

.margin-bottom3 {
    margin-bottom: 3px;
}

/* comparison main card */
.bike-details-block {
    width: 50%;
    padding: 10px;
    float: left;
    position: relative;
}

.comparison-main-card .bike-details-block a.block,.comparison-main-card  a.block {
    width: 88%;
}

.bike-details-block .btn-white {
    width: 134px;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 4px;
    overflow: hidden;
}

.bike-details-block .cross-sm-dark-grey {
    width: 20px;
    height: 20px;
    top: 2px;
    background-position: -80px -236px;
    cursor: pointer;
}

.bike-details-block a:hover {
    text-decoration: none;
}

.bike-details-block .bike-image-block {
    width: 110px;
}

.bike-details-block .bike-title-target {
    font-size: 14px;
    font-weight: 600;
    color: #2a2a2a;
    display: block;
    margin-bottom: 10px;
}

/* version */
.bike-details-block .label-text {
    font-size: 11px;
    color: #82888b;
    margin-bottom: 2px;
}

/* compare-box-placeholder */
.compare-box-placeholder {
    width: 100%;
    height: 230px;
    background: #f5f5f5;
    display: table;
    text-align: center;
    cursor: pointer;
}

.bike-icon-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.cross-grey {
    width: 14px;
    height: 16px;
    background-position: -116px -458px
}

.grey-bike {
    width: 52px;
    height: 31px;
    background: url(https://imgd2.aeplcdn.com/0x0/bw/static/design15/grey-bike.png) no-repeat;
    display: inline-block;
    margin-bottom: 12px;
}

/* bike popup */
.cover-window-popup {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
}
.cover-window-popup .cover-popup-back,
.cover-window-popup .body-popup-back {
    padding: 15px 15px 12px;
}
.cover-window-popup .cover-popup-header {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
}
.cover-window-popup .cover-popup-list {
    overflow: hidden;
}
.cover-window-popup .cover-popup-list li {
    padding-right: 20px;
    padding-left: 20px;
}
.cover-window-popup .cover-popup-list li span {
    font-size: 16px;
    padding: 10px 20px 10px 0;
    display: block;
    position: relative;
    border-top: 1px solid #f5f5f5;
    cursor: pointer;
}
.cover-window-popup .cover-popup-list li:hover {
    background-color: #f5f5f5;
}
.cover-window-popup .cover-popup-list li:first-child span {
    border-top: 0;
}
.cover-window-popup .with-arrow li {
    background: url("https://imgd1.aeplcdn.com/0x0/bw/static/design15/grey-right-arrow.png") no-repeat 94% 50%;
}
.cover-window-popup .cover-popup-loader-body {
    display: none;
}
.bike-banner {
    width: 100%;
    height: 110px;
    background: #fff url(https://imgd3.aeplcdn.com/0x0/bw/static/landing-banners/m/bike-popup-banner.png) repeat-x center bottom;
}
.cover-popup-body-head .head-label {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.cover-popup-body-head .body-popup-back {
    padding-left: 20px;
}
.cover-popup-body-head .no-back-btn-label {
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 12px;
}
#select-model-wrapper,
#select-version-wrapper {
    display: none;
}
.extra-padding .cover-popup-body {
    padding-bottom: 40px;
}

/* compare bikes list */
.compare-bikes-list a {
    width: 100%;
    min-height: 140px;
    padding-top: 15px;
    padding-bottom: 12px;
    display: block;
    border-top: 1px solid #e2e2e2;
    background: #fff;
    overflow: hidden;
}

.compare-bikes-list li:first-child a {
    border-top: 0;
}

.compare-bikes-list .comparison-image {
    width: 110px;
    height: 62px;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
}

.compare-bikes-list img {
    height: 61px;
}

.compare-bikes-list .grid-6:first-child:after {
    content: '';
    position: absolute;
    right: -3px;
    top: 45px;
    width: 22px;
    height: 21px;
    background: url(https://imgd2.aeplcdn.com/0x0/bw/static/design15/comparison-divider.png) no-repeat;
    display: block;
}