/*Yarris Zone Property CSS Start*/
.bg-white .zone-property-tab {
	padding: 0;
}
.bg-white .zone-property-tab span {
	background-color: #f2f2f2;
	display: block;
	padding: 9px 0;
	border-radius: 6px;
	cursor: pointer;
}
.zone-property__sponsored-text {
	position: absolute;
	top: 6px;
	right: 4px;
	font-size: 9px;
	color: #999;
	background-color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
}	
.zone-property-background {
	background-color: #f2f2f2;
}
.jcarousel.zone-property__jcarousel .zone-property__block {
  width: 936px;
  height: 313px;
	position: relative;
}	
.jcarousel.zone-property__jcarousel {
	padding-bottom: 30px;
	margin: 0 20px;
}
.zone-property__block img {
	float: right;
}
.zone-property__content {
	position: absolute;
	top: 25%;
	left: 10%;
	display: inline-block;
}
.zone-property__first-screen--top {
	top: 13%;
}
.zone-property__content-heading {
	font-size: 22px;
	color: #484848;
	letter-spacing: 1px;
	line-height: 20px;
	text-transform: uppercase;
}	
.zone-property__content-data {
	font-size: 14px;
	color: #6f6f6f;
	margin-bottom: 18px;
	max-width: 260px;
}
.zone-property__cta-btn {
	display: inline-block;
	padding: 12px 34px;
	font-size: 16px;
	font-weight: 600;
	color: #ef3f30;
	border: 1px solid #ef3f30;
	border-radius: 3px;
}
.zone-property__cta-btn:hover {
	text-decoration: none;
	background-color: #ef3f30;
	color: #fff;
}
.jcarousel-pagination.zone-property__pagination-container {
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 40px;
 }
.jcarousel-pagination.zone-property__pagination-container a {
	background-color: #c9c9c9;
	height: 5px;
	width: 5px;
	border: 3px solid #c9c9c9;
}
.jcarousel-pagination.zone-property__pagination-container a.active {
	background-color: #ef3f30;
	border-color: #ef3f30;
}
.zone-property__first-screen-heading {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0;
	text-transform: capitalize;
}	
.zone-property__first-screen-sub-heading {
	display: block;
	font-weight: 600;
	margin-bottom: 5px;
	line-height: 28px;
	letter-spacing: 0;
	font-size: 32px;
}	
.zone-property__jcarousel-prev,
.zone-property__jcarousel-next {
	border: none;
	background-color: transparent;
}
.zone-property__jcarousel-prev {
	left: 40px;
}
.zone-property__jcarousel-next {
	right: 40px;
}
.zone-property__jcarousel-prev .jcarousel-control-prev,
.zone-property__jcarousel-next .jcarousel-control-next {
	opacity: .5;
  display: inline-block;
  width: 30px;
  height: 60px;
  border: 1px solid #aaa;
	border-radius: 3px;
}
.zone-property__jcarousel-prev .jcarousel-control-prev {
	background: url('https://imgd.aeplcdn.com/0x0/cw/es/yaris-zone/d/arrow/left-arrow.svg') no-repeat center #fff;
  background-size: 15px;
}
.zone-property__jcarousel-next .jcarousel-control-next {
	background: url('https://imgd.aeplcdn.com/0x0/cw/es/yaris-zone/d/arrow/right-arrow.svg') no-repeat center #fff;
  background-size: 15px;
}
.zone-property__jcarousel-prev .jcarousel-control-prev:hover,
.zone-property__jcarousel-next .jcarousel-control-next:hover {
	opacity: 1;
}
.zone-property__seprator {
	display: inline-block;
	height: 1px;
	width: 230px;
	background-image: -webkit-linear-gradient(to right, #7e7e7e, #5a5a5a 67%, rgba(72, 72, 72, 0));
	background-image: -moz-linear-gradient(to right, #7e7e7e, #5a5a5a 67%, rgba(72, 72, 72, 0));
	background-image: -ms-linear-gradient(to right, #7e7e7e, #5a5a5a 67%, rgba(72, 72, 72, 0));
  background-image: -o-linear-gradient(to right, #7e7e7e, #5a5a5a 67%, rgba(72, 72, 72, 0));
	background-image: linear-gradient(to right, #7e7e7e, #5a5a5a 67%, rgba(72, 72, 72, 0));
	margin: 2px 0;
}
.zone-card_toyota-logo {
	display: inline-block;
	width: 99px;
  height: 37px;
  position: absolute;
  bottom: 35px;
  right: 20px;
	background: url('https://imgd.aeplcdn.com/0x0/cw/es/yaris-zone/d/logo/toyota-yaris-d-logo.svg') no-repeat center;
	background-size: contain;
}	
.zone-property__block img.float-none {
	float: none;
}
/*Yarris Zone Property CSS end*/