<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="WebApiHostUrl" value="http://192.168.1.235/api/" />
    <add key="CWKKey" value="qrZC9JoLpbQUPmbbJG5jcFaQQK8="/>
    <add key="SkipValidation" value="false"/>
    <add key="AppSupportedVersions" value="1,2,4,5,6"/>
    <add key="AppLatestVersion" value="6"/>-->
  </appSettings>
</configuration>
