@{
    ViewBag.Title = "All About Scorpio";
    ViewBag.BodyClass = "bg-light-grey special-landing-page long-landing-page";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
    ViewBag.landingPage = true;
    ViewBag.Responsive = true;
    ViewBag.DeeplinkAlternatives = Request.ServerVariables["HTTP_X_REWRITE_URL"].ToString();
    ViewBag.Canonical = "";
    ViewBag.Alternate = "";
    ViewBag.CustomJS = "~/Views/StaticPartials/ES/MahindraScorpioSpotlightScripts.cshtml";
    ViewBag.CustomCss = "~/Views/StaticPartials/ES/MahindraScorpioSpotlightCss.cshtml";
    Layout = (ViewBag.isMobile != null && ViewBag.isMobile ? "~/views/shared/m/_MLayout.cshtml" : "~/views/shared/_Layout.cshtml");
}

<div class="scorpio-main">
    <section class="full-width-carousel banner position-rel">
     <picture>
        <source srcset="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/scorpio-banner-mobile.jpg" media="(max-width: 768px)">
        <img class="banner" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/scorpio-banner-desktop.jpg" alt="Mahindra Scorpio">
    </picture>
    <div class="ad-container">
        <div class="heading">New Generation Scorpio. <br /> Nothing else will do.</div>
        <div class="normal-text">Head-turning on the outside. Refined and inviting inside.</div>
        <a href="#" id="assistant-btn" class="btn btn-transparent btn-sm click_track" data-label="HP_get assistance">Get Assistance</a>
    </div>
       <img class="position-abt" src="https://ad.doubleclick.net/ddm/trackimp/N6267.139588.CARWALE/B10494210.141284830;dc_trk_aid=313518939;dc_trk_cid=75544818;ord=%%CACHEBUSTER%%;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?" border="0" height="1" width="1" alt="Advertisement">
    </section>

    <div class="mb-margin">
        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">Top 5 Reasons to Buy The New Generation Scorpio</h2>
        <section class="container top-box">
            <div class="grid-12">
                <div class="bg-white content-box-shadow">
                    <div class="grid-12 alpha omega">
                        <div class="grid-6 alpha omega">
                            <img class="scorpio-img-box" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/reason-1.jpg" />
                        </div>
                        <div class="grid-6 alpha omega content content-parent">
                            <div class="scorpio-content-box font15">
                                <div class="font18 text-bold">Agressive Front Styling</div>
                                <div class="margin-bottom10">Inspire awe in some and fear in many with the chrome highlighted new front grille. And while the new bonnet scoop with its ‘low-drag intake’ design lets in air to the intercooler which increases engine performance, the tough new bumpers make the new Scorpio look like a predator on the prowl.</div>
                                <span class="font15 text-boldest margin-top10 margin-bottom10">New Scorpio #Legendary...</span><a href="https://www.carwale.com/mahindra-cars/scorpio/userreviews/43651/" target="_blank" class="click_track_section" data-label="Styling_Read full review">Read full review</a>
                                <div class="font17 text-bold margin-bottom10 margin-top10">What owners say:</div>
                                <div class="text-bold margin-bottom5">Ace</div>
                                <div>Engine Performance, Fuel Economy and Gearbox Has Really great fuel effenciency, Gearbox is convinient and smooth...<a href="https://www.carwale.com/mahindra-cars/scorpio/userreviews/43651/" target="_blank" class="click_track_section" data-label="Styling_Read more">Read more</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="grid-12 swap-parent alpha omega">
                        <div class="grid-6 alpha omega content-parent first_div">
                            <div class="scorpio-content-box font15">
                                <div class="font18 text-bold">Powerful 88kW (120 BHP) mHAWK Engine:</div>
                                <div class="margin-bottom10">Mahindra's signature engine delivers 120 bhp (88 kW) power and 280 Nm torque for a powerful drive.</div>
                                <span class="font15 text-boldest margin-top10 margin-bottom10">Has a great power ...People look at it as it is a expensive car...I would like to thank mahindra...</span><a href="https://www.carwale.com/mahindra-cars/scorpio/userreviews/44638/" target="_blank" class="click_track_section" data-label="Powerful Engine_Read full review">Read full review</a>
                                <div class="font17 text-bold margin-bottom10 margin-top10">What owners say:</div>
                                <div class="text-bold margin-bottom5">Chandresh Doshi</div>
                                <div>This variant has been incorporated with a 2.2-litre mHawk diesel engine that has the ability to displace 2179cc. cylinders, sixteen valves and is based on a double overhead...<a href="https://www.carwale.com/mahindra-cars/scorpio/userreviews/44638/" target="_blank" class="click_track_section" data-label="Powerful Engine_Read more">Read more</a></div>
                            </div>
                        </div>
                        <div class="grid-6 alpha omega second_div">
                            <img class="scorpio-img-box" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/reason-2.jpg" />
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="grid-12 alpha omega">
                        <div class="grid-6 alpha omega">
                            <img class="scorpio-img-box" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/reason-3.jpg" />
                        </div>
                        <div class="grid-6 alpha omega content-parent">
                            <div class="scorpio-content-box font15">
                                <div class="font18 text-bold">Luxurious New Blue-Grey Interiors</div>
                                <div class="margin-bottom10">Step into a luxurious world with new, premium blue-grey interiors.</div>
                                <span class="font15 text-boldest margin-top10 margin-bottom10">EXCELLENT! King of comfort and off-roading...</span><a href="https://www.carwale.com/mahindra-cars/scorpio/userreviews/45619/" target="_blank" class="click_track_section" data-label="Luxurious_Read full review">Read full review</a>
                                <div class="font17 text-bold margin-bottom10 margin-top10">What owners say:</div>
                                <div class="text-bold margin-bottom5">NPPal</div>
                                <div>Ride Quality & Handling THE BEST comfort EVER. I once got a bit agressive and...<a href="https://www.carwale.com/mahindra-cars/scorpio/userreviews/45619/" target="_blank" class="click_track_section" data-label="Luxurious_Read more">Read more</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="grid-12 swap-parent alpha omega">
                        <div class="grid-6 alpha omega content-parent first_div">
                            <div class="scorpio-content-box font15">
                                <div class="font18 text-bold">6” (15 cm) Touchscreen Infotainment System with Bluetooth/CD/DVD/USB/AUX</div>
                                <div class="margin-bottom10">Control your music, navigation and temperature on the go with the new 6” (15 cm) Touch screen Infotainment with inbuilt GPS Navigation/Bluetooth/CD/DVD/USB/Aux and a Fully Automatic Temperature Control (FATC)</div>
                                <span class="font15 text-boldest margin-top10 margin-bottom10">Indian brand doing well...</span><a href="https://www.carwale.com/mahindra-cars/scorpio/userreviews/45840/" target="_blank" class="click_track_section" data-label="Touchscreen_Read full review">Read full review</a>
                                <div class="font17 text-bold margin-bottom10 margin-top10">What owners say:</div>
                                <div class="text-bold margin-bottom5">Sunny Suprabhat</div>
                                <div>Interior (Features, Space & Comfort) Sapce is solid, infact it goes well in every aspect...<a href="https://www.carwale.com/mahindra-cars/scorpio/userreviews/45840/" target="_blank" class="click_track_section" data-label="Touchscreen_Read more">Read more</a></div>
                            </div>
                        </div>
                        <div class="grid-6 alpha omega second_div">
                            <img class="scorpio-img-box" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/reason-4.jpg" />
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="grid-12 alpha omega">
                        <div class="grid-6 alpha omega">
                            <img class="scorpio-img-box" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/reason-5.jpg" />
                        </div>
                        <div class="grid-6 alpha omega content-parent">
                            <div class="scorpio-content-box font15">
                                <div class="font18 text-bold">Inbuilt GPS Navigation System:</div>
                                <div class="margin-bottom10">Exploring new and unknown places is easy with the New Generation Scorpio. It displays detailed maps, and turn-by-turn voice directions for finding your way to your destination with ease. Also allows you to preset multiple locations</div>
                                <span class="font15 text-boldest margin-top10 margin-bottom10">Fabulous and marvolous, value for money, good dealer service...</span><a href="https://www.carwale.com/mahindra-cars/scorpio/userreviews/44104/" target="_blank" class="click_track_section" data-label="Navigation_Read full review">Read full review</a>
                                <div class="font17 text-bold margin-bottom10 margin-top10">What owners say:</div>
                                <div class="text-bold margin-bottom5"> Jignesh N Mota </div>
                                <div>Very good service by automotive manufacturers, panjagutta branch, hyderabad. Good response...<a href="https://www.carwale.com/mahindra-cars/scorpio/userreviews/44104/" target="_blank" class="click_track_section" data-label="Navigation_Read more">Read more</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                

            </div>
            <div class="clear"></div>
        </section>
        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">Mahindra SCORPIO Specifications</h2>
        <section class="container content-box-shadow">    
            <div class="clear"></div>
            <div class="grid-12 bg-white inline-block-noalign">
                <h2 class="font20 text-underline text-uppercase text-center margin-bottom20 margin-top30">Tech Specs</h2>
                <div class="grid-12">
                    <div class="grid-3 margin-bottom20">
                        <div class="spec-sprite performance-icon"> </div>
                        <div class="spec-head font16 text-bold margin-top10">Performance</div>
                        <div class="spec-details font15">
                            <div>Power: 120 bhp (88kW) <br /><span class="fa fa-at"></span>4000 rpm</div>
                            <div>Torque: 280 Nm <br /><span class="fa fa-at"></span>1800 - 2800 rpm</div>
                        </div>
                    </div>
                    <div class="grid-3 margin-bottom20">
                        <div class="spec-sprite fuel-icon"> </div>
                        <div class="spec-head font16 text-bold margin-top10">Fuel Efficiency</div>
                        <div class="spec-details font14">
                            Mileage of 16.31 kmpl
                        </div>
                    </div>
                    <div class="grid-3 margin-bottom20">
                        <div class="spec-sprite transmission-icon"> </div>
                        <div class="spec-head font16 text-bold margin-top10">Transmission</div>
                        <div class="spec-details font14">
                           5-Speed <br /> Manual Transmission
                        </div>
                    </div>
                    <div class="grid-3 margin-bottom20">
                        <div class="spec-sprite safety-icon"> </div>
                        <div class="spec-head font16 text-bold margin-top10">Safety</div>
                        <div class="spec-details font14">
                            Dual Airbags, ABS <br /> & many more
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <h2 class="font20 text-uppercase text-center padding-bottom20 padding-top20 bg-white text-underline">Features</h2>
            <div class="clear"></div>
            <div class="grid-12 bg-white scorpio-features">
                <ul class="text-center">
                    <li>
                        <img src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/feature1.jpg" alt="Mahindra scorpio">
                        <div class="padding-left10 padding-right10">
                            <div class="text-bold">Aggressive Front Styling</div>
                            <div class="margin-top10 margin-bottom30">Inspire awe in some and fear in many with the chrome highlighted new front grille.</div>
                        </div>
                    </li>
                    <li>
                        <img src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/feature2.jpg" alt="Mahindra scorpio">
                        <div class="padding-left10 padding-right10">
                            <div class="text-bold">Dual Projector Headlamps</div>
                            <div class="margin-top10 margin-bottom30">Dual Projector Headlamps with Advanced Static Bending Technology.</div>
                        </div>        
                    </li>
                    <li>
                        <img src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/feature3.jpg" alt="Mahindra scorpio">
                        <div class="padding-left10 padding-right10">
                            <div class="text-bold">Alloy Wheels</div>
                            <div class="margin-top10 margin-bottom30">Create a bold impression everywhere <br /> you go with new 17” alloy wheels.</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="margin-bottom20 margin-top20 text-center">
                <a href="#" id="assistance-feature-btn" class="btn btn-orange btn-sm click_track" data-label="Feature_get assistance">Get Assistance</a>
            </div>
        </section>
        <section class="container terrano-compare-main">
            
            <div class="grid-12">
                <h2 class="text-center margin-top40 margin-bottom20">MAHINDRA SCORPIO vs COMPETITION</h2>
                <div class="padding-lr-40 content-box-shadow">
                    <div class="position-rel margin-top20">
                        <div class="car-models">
                            <ul>
                                <li class="comp-border-right grid-4  alpha omega">
                                    <div class="compare-img-container">
                                        <img class="lazy" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/compare-scorpio.jpg" border="0" alt="Mahindra Scorpio" title="Mahindra Scorpio" />
                                    </div>
                                    <div class="car-name-container">
                                        <div class="car-name-head">Mahindra Scorpio</div>
                                        <div class="car-version">S10 4WD 1.99</div>
                                        <div class="car-price">Price: ₹ 14.46L</div>
                                    </div>
                                    @*<h4>Nissan Terrano</h4>*@

                                    <div class="clear"></div>
                                </li>
                                <li class="grid-4 alpha omega">
                                    <div class="car-name">
                                        <div class="hide-content">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/compare-duster.jpg" border="0" alt="Renault Duster" title="Renault Duster" />
                                            </div>
                                            <div class="car-name-container">
                                                <div class="car-name-head">Renault Duster</div>
                                                <div class="car-version">110 PS RXZ 4X4 MT</div>
                                                <div class="car-price">Price: ₹ 15.14L</div>
                                            </div>
                                            @*<h4>Hyundai Creta</h4>*@
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="grid-4 third-column alpha omega">
                                    <div class="car-name">
                                        <div class="hide-content2">
                                            <div class="compare-img-container">
                                                <img class="lazy force-lazy" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/scorpio/compare-creta.jpg" border="0" alt="Hyundai Creta" title="Hyundai Creta" />
                                            </div>
                                            <div class="car-name-container">
                                                <div class="car-name-head">Hyundai Creta</div>
                                                <div class="car-version">1.6 SX(O)</div>
                                                <div class="car-price">Price: ₹ 15.38L</div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="comparo-accordion">
                            <ul>
                                <li class="sep" data-role="click-tracking" data-event="CWInteractive" data-action="comparo-widget" data-cat="comparo-widget-tabs" data-label="Highlights">
                                    <h5 class="active-text">More Features</h5>
                                    <span class="accordion-sprite minus-icon plus-icon"></span>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                            <div class="data text-bold">
                                <div class="data-table">
                                    <div class="data-table-th">Max Torque (Nm<span class="fa fa-at"></span>rpm)</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">120 <span class="fa fa-at"></span> 4000 </div>
                                        <div class="data-table-td creta-content hide-content">108 <span class="fa fa-at"></span> 3900</div>
                                        <div class="data-table-td creta-content hide-content2 active">126 <span class="fa fa-at"></span> 4000 </div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Max Torque</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">280 <span class="fa fa-at"></span> 1800</div>
                                        <div class="data-table-td creta-content hide-content">248 <span class="fa fa-at"></span> 2250</div>
                                        <div class="data-table-td duster-content hide-content hide">19.6</div>
                                        <div class="data-table-td tuv300-content hide-content hide">18.49</div>
                                        <div class="data-table-td ecosport-content hide-content hide">16.5</div>

                                        <div class="data-table-td creta-content hide-content2 active">265 <span class="fa fa-at"></span> 1900</div>
                                        <div class="data-table-td duster-content hide-content2 hide">19.6</div>
                                        <div class="data-table-td tuv300-content hide-content2 hide">18.49</div>
                                        <div class="data-table-td ecosport-content hide-content2 hide">16.5</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">12V Power Outlets</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">2</div>
                                        <div class="data-table-td creta-content hide-content">1</div>
                                        <div class="data-table-td creta-content hide-content2 active">2</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Rear Passenger Adjustable seats</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td"> Bench</div>
                                        <div class="data-table-td creta-content hide-content"> Bench </div>
                                        <div class="data-table-td creta-content hide-content2 active">Bench</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Split Rear Seat</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">60:40</div>
                                        <div class="data-table-td creta-content hide-content">X</div>

                                        <div class="data-table-td creta-content hide-content2 active">X</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Rain-sensing Wipres</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">Available</div>
                                        <div class="data-table-td creta-content hide-content">NA</div>

                                        <div class="data-table-td creta-content hide-content2 active">NA</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Seating Capacity</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">7 & 8 Person </div>
                                        <div class="data-table-td creta-content hide-content">5 Person</div>

                                        <div class="data-table-td creta-content hide-content2 active">5 Person</div>
                                    </div>
                                </div>
                                <div class="data-table">
                                    <div class="data-table-th">Headlamps</div>
                                    <div class="data-table-tr">
                                        <div class="data-table-td">Projector</div>
                                        <div class="data-table-td creta-content hide-content">Conventinal</div>

                                        <div class="data-table-td creta-content hide-content2 active">Projector</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (!ViewBag.isMobile)
                        {
                            <div class="margin-bottom20 margin-top20" id="moreComparison">
                                <a href="https://www.carwale.com/comparecars/mahindra-scorpio-vs-renault-duster-vs-hyundai-creta/?car1=4694&car2=4929&car3=4132" target="_blank" class="btn btn-orange btn-sm click_track" data-label="View Detailed Comparison">View Detailed Comparison</a>
                            </div>    
                        }                        
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <section>
            <div class="container mb-view pq-box">
                <div class="grid-12">
                    <h2 class="text-uppercase text-center margin-top40 margin-bottom20">Know More About the Scorpio</h2>
                    <div class="font14 content-box-shadow content-inner-block-15nr buy-automatic-car">
                        <div class="request-callback-box">
                            <div class="grid-4 rightfloat">
                            @{ Html.RenderPartial("~/Views/Shared/ES/_LeadForm.cshtml"); }
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">Also check other Mahindra models</h2>
        <section>
            <div class="container content-box-shadow">
                <div class="grid-12 bg-white">
                    @*<div class="grid-3">
                        <div class="full-box-icon comp-border-right">
                            <img src="../../images/tuv-icon.jpg" />
                        </div>
                    </div>
                    <div class="grid-5 margin-top20">
                        <div class="text-bold font18">Mahindra TUV300 - It's Bold. It's Stunning</div>
                        <div>5 Reasons to Buy Mahindra TUV300</div>
                    </div>
                    <div class="grid-2 margin-top25"><a href="#" id="assistance-feature-btn" class="btn btn-orange btn-xs click_track font14" data-label="Feature_get assistance">Explore Now</a></div>
                    <div class="grid-2"><img class="tuv-icon" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/compare-tuv.jpg" /></div>
                    <div class="clear"></div>*@
                    <div class="other-models">
                        <div class="other-models-text"><a href="/tuv300specials" target="_blank" class="click_track" data-label="Mahindra TUV300">Mahindra <br /> TUV300</a></div>
                        <div class="other-models-img">
                            <a href="/tuv300specials" target="_blank" class="click_track" data-label="tuv300 model"> 
                                <img class="tuv-icon" src="https://imgd.aeplcdn.com/0x0/cw/es/spotlight/mahindra/tuv/compare-tuv.jpg" />
                            </a>
                        </div>
                    </div>
                </div> 
                <div class="clear"></div>
            </div>

        </section>

        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">QUICK LINKS</h2>
        <section>
            <div class="container">
                <div class="grid-12 quick-links content-box-shadow">
                    <ul>
                        @*<li class="comp-border-right click_track" data-label="download brochure">
                            <span class="download-icon spec-sprite"></span>
                            <span class="inline-block-noalign quick-text">DOWNLOAD E-BROCHURE</span>
                        </li>*@
                        <li class="comp-border-right click_track book-drive" data-label="book test drive">
                            <span class="book-icon spec-sprite"></span>
                            <span class="inline-block-noalign quick-text">BOOK TEST DRIVE</span>
                        </li>
                        <li class="comp-border-right click_track check-price" data-label="check on road price">
                            <span class="check-icon spec-sprite"></span>
                            <span class="inline-block-noalign quick-text">CHECK ON-ROAD PRICE</span>
                        </li>
                        <li class="click_track request-callback-div" data-label="request a callback">
                            <span class="request-icon spec-sprite"></span>
                            <span class="inline-block-noalign quick-text">REQUEST A CALLBACK</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </section>
    </div>
</div>
