@{
    ViewBag.Title = "Volvo S60 Polestar";
    ViewBag.BodyClass = "bg-light-grey special-landing-page long-landing-page";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
    ViewBag.landingPage = true;
    ViewBag.Responsive = true;
    ViewBag.Canonical = "";
    ViewBag.Alternate = "";
    ViewBag.CustomJS = "~/Views/StaticPartials/ES/VolvoCarsScripts.cshtml";
    ViewBag.CustomCss = "~/Views/StaticPartials/ES/VolvoCarsCss.cshtml";
    Layout = (ViewBag.isMobile != null && ViewBag.isMobile ? "~/views/shared/m/_MLayout.cshtml" : "~/views/shared/_Layout.cshtml");
}

<div class="volvo-main">
    <section class="full-width-carousel banner position-rel">
     <picture>
        <source srcset="https://imgd.aeplcdn.com/0x0/cw/es/volvo/m-volvo-s60-banner.jpg?123345658" media="(max-width: 768px)">
        <img class="banner" src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/volvo-s60-banner.jpg?123345" alt="Volvo S60">
    </picture>
    <div class="ad-container">
        <div class="heading">Unleash the power of 367 horses <br /> in the S60 Polestar at Kari Race Track
        </div>

    </div>
       <img class="position-abt" src="https://ad.doubleclick.net/ddm/trackimp/N6267.139588.CARWALE/B10494210.141284830;dc_trk_aid=313518939;dc_trk_cid=75544818;ord=%%CACHEBUSTER%%;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?" border="0" height="1" width="1" alt="Advertisement">
    </section>

    <div class="mb-margin">
        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">Volvo Cars and Carwale offer you a chance to drive the s60 polestar</h2>
        <section class="container">
            <div class="grid-12">
                <div class="bg-white content-box-shadow content-inner-block-20">
                    <p class="font16 text-bold text-black text-center">Volvo Cars and CarWale invite you to an opportunity to drive the newly launched Volvo S60 Polestar along with the expert drivers from Polestar global team.</p>
                    <p class="margin-top10 font14 text-center">Answer a simple question and submit your details. Lucky winners will be selected for an experience of a lifetime!</p>
                    <div class="batch-container">
                        <div class="batch-list">
                            <span class="batch-title">Batch 1</span>
                            <p>Fri 14 Apr - Arrive in Coimbatore.</p>
                            <p>Sat 15 Apr - S60 Polestar drive.</p>
                            <p>Depart Coimbatore in the evening.</p>
                        </div>
                        <div class="batch-list">
                            <span class="batch-title">Batch 2</span>
                            <p>Sat 15 Apr - Arrive in Coimbatore.</p>
                            <p>Sun 16 Apr - S60 Polestar drive.</p>
                            <p>Depart Coimbatore in the evening.</p>
                        </div>
                    </div>
                    <p class="text-bold font14 margin-top10 text-center">All expenses will be covered courtesy Volvo Cars.</p>
                    <p class="font18 text-center margin-top10">Hurry! Registrations close on Wed 12 Apr.</p>
                 </div>          
            </div>
            <div class="clear"></div>
        </section>

        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">Volvo s60 polestar key features</h2>
        <section class="container">
            <div class="grid-12">
                    <ul class="feature-list bg-white content-box-shadow">
                        <li>
                            <div class="image-wrapper">
                                <img src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/volvo-cylinder-img.jpg?123345" alt="New four-cylinder 367hp engine for improved  0-100 km/h in 4.7 sec" title="New four-cylinder 367hp engine for improved  0-100 km/h in 4.7 sec">
                            </div>
                            <div class="content-wrapper">
                                <h2 class="text-black font14 text-bold margin-bottom10"><a href="#">New four-cylinder 367hp engine for improved  0-100 km/h in 4.7 sec</a></h2>
                                <a href="https://pubads.g.doubleclick.net/gampad/clk?id=1378593982&iu=/1017752/1x1_CompareCars" target="_blank" class="click_track" data-action="key features_four-cylinder" data-label="know more">Know More</a>
                            </div>
                        </li>
                        <li>
                            <div class="image-wrapper">
                                <img src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/all-wheel-img.jpg?1233456" alt="All-Wheel Drive with Torque Vectoring" title="All-Wheel Drive with Torque Vectoring">
                            </div>
                            <div class="content-wrapper">
                                <h2 class="text-black font14 text-bold margin-bottom10"><a href="#">All-Wheel Drive with Torque Vectoring</a></h2>
                                <a href="https://pubads.g.doubleclick.net/gampad/clk?id=1378593982&iu=/1017752/1x1_CompareCars" target="_blank" class="click_track" data-action="key features_Torque Vectoring" data-label="know more">Know More</a>
                            </div>
                        </li>
                        <li>
                            <div class="image-wrapper">
                                <img src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/sport-tires-img.jpg?1233456" alt="20” wheels with Michelin Pilot Super Sport tyres" title="20” wheels with Michelin Pilot Super Sport tyres">
                            </div>
                            <div class="content-wrapper">
                                <h2 class="text-black font14 text-bold margin-bottom10"><a href="#">20” wheels with Michelin Pilot Super Sport tyres</a></h2>
                                <a href="https://pubads.g.doubleclick.net/gampad/clk?id=1378593982&iu=/1017752/1x1_CompareCars" target="_blank" class="click_track" data-action="key features_Michelin Pilot" data-label="know more">Know More</a>
                            </div>
                        </li>
                    </ul>
            </div>
            <div class="clear"></div>
        </section>

        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">Request your invitation</h2>
        <section class="container">
            <div class="grid-12 margin-bottom20">
                <div class="content-box-shadow invitation-container">
                    <div class="grid-4 bg-white content-inner-block-10 left-form">
                        <div class="left-form-content first-form">
                            <h3 class="text-black font16 margin-bottom10">Answer a simple question and submit your details.</h3>
                            <p class="margin-bottom10 font16">What is the horse power of the new Volvo S60 Polestar?</p>
                            <div class="form-control-box margin-bottom10 name-box-form">
                                <input type="text" class="form-control" name="answer" placeholder="Answer" id="power" maxlength="50">
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please enter your answer</div>
                            </div>
                            <div class="margin-top20 margin-bottom5">
                                <input type="button" value="Submit" class="btn btn-sm btn-orange text-uppercase click_track" id="firstForm" data-action="invitation_firstForm" data-label="Submit">
                            </div>
                        </div>
                        <div class="left-form-content personal-form hide">
                            <h3 class="text-black font16 margin-bottom10">Your Contact Information</h3>
                            <div class="form-control-box margin-bottom10 name-box-form">
                                <input type="text" class="form-control" name="name" placeholder="Name" id="personName">
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please enter your name</div>
                            </div>
                            <div class="form-control-box margin-bottom10 email-box-form">
                                <input type="text" class="form-control" name="emailId" placeholder="Email Id" id="personEmail">
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please enter your email id</div>
                            </div>
                            <div class="form-control-box margin-bottom10 mobile-box-form">
                                <span class="form-mobile-prefix">+91</span>
                                <input type="text" class="form-control padding-left40" id="personMob" maxlength="10" name="mobile" placeholder="Mobile no.">
                                <small class="mobile-warn-text">We will call you on this number to confirm your participation</small>
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please enter your mobile number</div>
                            </div>
                            <div class="form-control-box margin-bottom10">
                                <input type="text" placeholder="Type to select city" id="personCity" class="form-control ui-autocomplete-input blur" autocomplete="off">
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please select your city</div>
                            </div>
                            <div class="margin-top20 margin-bottom5">
                                <input type="button" value="Next" class="btn btn-sm btn-orange text-uppercase click_track" id="basicInfoSubmit" data-action="invitation_Contact Information" data-label="Next">
                                <small class="font11 text-right mandatory-text"><span class="red-astrick">*</span> All Fields are Mandatory</small>
                            </div>
                        </div>

                        <div class="left-form-content additional-form hide">
                            <h3 class="text-black font16 margin-bottom10">Additional Information</h3>
                            <div class="form-control-box margin-bottom10 age-box-form">
                                <input type="number" class="form-control" name="age" placeholder="Age" id="age" min="1" max="99" maxlength="2">
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please enter your age</div>
                            </div>
                            <div class="form-control-box margin-bottom10 profession-box-form">
                                <input type="text" class="form-control" name="profession" placeholder="Profession" id="profession" maxlength="50">
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please enter your profession</div>
                            </div>
                            <div class="form-control-box margin-bottom10 profession-box-form">
                                <input type="text" class="form-control" name="car-owned" placeholder="Cars Currently Owned" id="carOwned" maxlength="200">
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please enter your current car owned</div>
                            </div>
                            <div>
                                <small class="font11 block check-info"><label><input type="checkbox" name="checkbox" value="value" id="licence">Yes, I confirm that I hold a valid four wheeler driving license that does not expire before 16 Apr 2017.</label></small>
                            </div>
                            <div class="margin-top20 margin-bottom5">
                                <input type="button" value="Next" class="btn btn-sm btn-orange text-uppercase click_track" id="additionalInfoSubmit" data-action="invitation_Additional Information" data-label="Next">
                                <small class="font11 text-right mandatory-text"><span class="red-astrick">*</span> All Fields are Mandatory</small>
                             </div>
                        </div>

                        <div class="left-form-content social-form hide">
                            <h3 class="text-black font16 margin-bottom10">Your Social Media Details:</h3>
                            <div class="form-control-box margin-bottom10 address-box-form">
                                <span class="social-icon-prefix"><span class="form-social-sprites form-fb-icon"></span></span>
                                <input type="text" class="form-control social-form-input" placeholder="Paste Link Here" id="facebook" maxlength="200">
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please enter your link</div>
                            </div>
                            <div class="form-control-box margin-bottom10 address-box-form">
                                <span class="social-icon-prefix"><span class="form-social-sprites form-twitter-icon"></span></span>
                                <input type="text" class="form-control social-form-input" placeholder="Paste Link Here" id="twitter" maxlength="200">
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please enter your link</div>
                            </div>
                            <div class="form-control-box margin-bottom10 address-box-form">
                                <span class="social-icon-prefix"><span class="form-social-sprites form-linkdin-icon"></span></span>
                                <input type="text" class="form-control social-form-input" id="linkdIn" placeholder="Paste Link Here" maxlength="200">
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please enter your link</div>
                            </div>
                            <div class="form-control-box margin-bottom10 address-box-form">
                                <span class="social-icon-prefix"><span class="form-social-sprites form-insta-icon"></span></span>
                                <input type="text" class="form-control social-form-input" name="address" placeholder="Paste Link Here" id="instagram" maxlength="200">
                                <span class="cwsprite error-icon hide"></span>
                                <div class="cw-blackbg-tooltip hide">Please enter your link</div>
                            </div>
                            <div class="margin-top20 margin-bottom5">
                                <input type="button" value="Submit" class="btn btn-sm btn-orange text-uppercase click_track" id="socialInfoSubmit" data-action="invitation_Social Media Details" data-label="Submit">
                            </div>
                        </div>

                        <div class="left-form-content greeting-section position-rel hide">
                            <span class="cwsprite cross-lg-dark-grey position-abt pos-right0 cur-pointer" id="reset"></span>
                            <span class="form-social-sprites blue-thanks-icon"></span>
                            <p class="font16">Thank you! Your invitation  request has been received. We will call you back to confirm your participation.</p>
                        </div>
                        <div class="clear"></div>
                     </div>
                    <div class="grid-8 right-content-volvo alpha omega text-center">
                        <div class="right-content-section">
                            <div class="blue-bg-heading text-black">
                            <p>Get Ready to Live Life at the Edge of Exhilaration!</p>
                            <p>On 15th and 16th April 2017, in Coimbatore.</p></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div> 
            </div>
            <div class="clear"></div>
        </section>
        <div class="clear"></div>

        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">Volvo S60 Polestar Gallery</h2>
        <section id="volvoGallery">
            <div class="connected-carousels-photos">
                <div class="stage-photos">
                    <div class="swiper-container noSwiper carousel-photos carousel-stage-photos">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/large/volvo-large-01.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/large/volvo-large-02.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/large/volvo-large-03.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/large/volvo-large-04.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/large/volvo-large-05.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/large/volvo-large-06.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/large/volvo-large-07.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/large/volvo-large-08.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/large/volvo-large-09.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/large/volvo-large-10.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cwsprite swiper-button-next click_track" data-action="Gallery" data-label="main-image-right"></div>
                    <div class="cwsprite swiper-button-prev click_track" data-action="Gallery" data-label="main-image-left""></div>
                </div>
                <div class="navigation-photos">
                    <div class="swiper-container noSwiper carousel-navigation-photos">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/thumb/volvo-thumb-01.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/thumb/volvo-thumb-02.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/thumb/volvo-thumb-03.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/thumb/volvo-thumb-04.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/thumb/volvo-thumb-05.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/thumb/volvo-thumb-06.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/thumb/volvo-thumb-07.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/thumb/volvo-thumb-08.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/thumb/volvo-thumb-09.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                            <div class="swiper-slide">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com/0x0/cw/es/volvo/gallery/thumb/volvo-thumb-10.jpg" alt="" title="" />
                                <span class="swiper-lazy-preloader"></span>
                            </div>
                        </div>
                    </div>
                    <div class="cwsprite swiper-button-next click_track" data-action="Gallery" data-label="sub-image-right"></div>
                    <div class="cwsprite swiper-button-prev click_track" data-action="Gallery" data-label="sub-image-left"></div>
                </div>
            </div>
        </section>

        <div id="gallery-close-btn" class="cwsprite cur-pointer cross-lg-white"></div>
        <div id="gallery-blackOut-window"></div>

        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">Contact us</h2>
            <section class="container">
                <div class="grid-12">
                    <div class="bg-white content-box-shadow content-inner-block-20 text-center contact-section">
                        <p class="">For any other information, queries or questions related to this event,</p>
                        <p class="margin-bottom10">please call us on the below toll free number</p>
                        <span class="contact-text"><span class="fa fa-phone"></span>1800 2090 230</span>
                        <p class="text-dark-grey text-bold margin-top10">( Monday to Friday 10:00am to 7:00pm )</p>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
</div>
</div>
