@{
    ViewBag.Title = "Volvo V90 Cross Country";
    ViewBag.BodyClass = "bg-light-grey";
    ViewBag.landingPage = true;
    ViewBag.Responsive = true;
    ViewBag.DeeplinkAlternatives = Request.ServerVariables["HTTP_X_REWRITE_URL"].ToString();
    ViewBag.CustomCss = "~/Views/StaticPartials/ES/VolvoV90SpotlightCss.cshtml";
    Layout = (ViewBag.isMobile != null && ViewBag.isMobile ? (ViewBag.isApp ? "~/views/shared/m/_MLayoutAppV2.cshtml" : "~/views/shared/m/_MLayoutV2.cshtml") : "~/views/shared/_LayoutV2.cshtml");
    <script>var isMobile = false, isApp = false;</script>
    if (ViewBag.isMobile)
    {
        <script>isMobile = true;</script>
    }
    if (ViewBag.isApp)
    {
        <script>isApp = true;</script>
    }
}
@section Styles{
    <noscript class="deferred-styles"><link rel="stylesheet" href="/static/css/volvo-v90-style.css" type="text/css"></noscript>    
}
<div class="ameo-main">
    <section class="banner position-rel">
        <div class="top-banner"></div>
        <div class="ad-container">
            <div class="heading">All New V90 Cross Country</div>
            <div class="offer-heading">The Get Away Car.</div>
            <div id="ad-container__startBooking" class="btn btn-white btn-sm click_track" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="button-clicked-HP" data-label="Book Now">Book Now > </div>
        </div>
        <img class="position-abt" src="https://ad.doubleclick.net/ddm/trackimp/N6267.139588.CARWALE/B10494210.141284830;dc_trk_aid=313518939;dc_trk_cid=75544818;ord=%%CACHEBUSTER%%;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?" border="0" height="1" width="1" alt="Advertisement">
    </section>

    <div class="mb-margin">
        <section>
            <div class="container top-box neg-margin">
                <div class="grid-12">
                    <div class="content-box-shadow top-container text-black">
                        <p class="title">The All-New Volvo V90 Cross Country</p>
                        <p class="explain">Get away from the everyday in the “Get Away Car”, the new Volvo V90 Cross Country. The blend of powerful off-road capability in a most elegant, sophisticated, tailored wagon suit. A car that has imbibed Volvo’s core human values, it inspires you to reclaim those moments which you have lost in the everyday rigors of life. It isn’t just a machine on four wheels but in fact, a philosophy of life.</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>

        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">Designed For Adventure</h2>
        <section>
            <div class="container top-box">
                <div class="grid-12">
                    <div class="content-box-shadow reason-container lazy" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/reason-bg.jpg?201707101151272299">
                        <div class="white-patch hide"></div>
                        <h2 class="reason-heading position-rel">5 Reasons to Buy the All New Volvo V90 Cross Country</h2>
                        <div class="cw-tabs-panel">
                            <div class="scroll-list">
                                <div class="cw-tabs cw-tabs-flex state-tabs-container">
                                    <ul>
                                        <li class="state-tabs" data-tabs="safety" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="5-reason-clicked" data-label="Engine"><span class="reason-sprite safety"></span><p class="font15"><span class="state-tabs-text">Engine</span></p></li>
                                        <li class="state-tabs" data-tabs="power" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="5-reason-clicked" data-label="Adaptive Cruise Control"><span class="reason-sprite power"></span><p class="font15"><span class="state-tabs-text">Adaptive</span> <span class="state-tabs-text"> Cruise Control</span></p></li>
                                        <li class="state-tabs" data-tabs="design" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="5-reason-clicked" data-label="Park Assist Camera"><span class="reason-sprite design"></span><p class="font15"><span class="state-tabs-text">Park Assist</span> <span class="state-tabs-text"> Camera</span></p></li>
                                        <li class="state-tabs" data-tabs="comfort" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="5-reason-clicked" data-label="Rear Air Suspension"><span class="reason-sprite comfort"></span><p class="font15"><span class="state-tabs-text">Rear Air</span><span class="state-tabs-text"> Suspension</span></p></li>
                                        <li class="state-tabs" data-tabs="innovation" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="5-reason-clicked" data-label="Bowers & Wilkins"><span class="reason-sprite innovation"></span><p class="font15"><span class="state-tabs-text">Bowers &</span> <span class="state-tabs-text"> Wilkins</span></p></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="safety" class="cw-tabs-data bg-white">
                                <div class="grid-7 alpha omega text-left">
                                    <img class="responsive-img lazy" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/reason01.jpg" />
                                </div>
                                <div class="grid-5">
                                    <div class="reason-explain text-left">
                                        <p class="font14 text-left padding-top10">The heart of the V90 Cross Country is a robust diesel engine that has a Volvo invention – Power Pulse Technology. This feature spools up the turbo instantly thereby negating any turbo-lag from a stop-go situation, Power Pulse provides a constant boost to the acceleration. </p>
                                    </div>
                                </div>
                                <div class="cross-icon"></div>
                            </div>
                            <div id="power" class="cw-tabs-data bg-white">
                                <div class="grid-7 alpha omega text-left">
                                    <img class="responsive-img lazy" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/reason2.jpg" />
                                </div>
                                <div class="grid-5">
                                    <div class="reason-explain text-left">
                                        <p class="font14 text-left padding-top10">Adaptive Cruise Control with steer assist helps the driver stay in the lane and follow the rhythm of the traffic.</p>
                                    </div>
                                </div>
                                <div class="cross-icon"></div>
                            </div>
                            <div id="design" class="cw-tabs-data bg-white">
                                <div class="grid-7 alpha omega text-left">
                                    <img class="responsive-img lazy" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/reason3.jpg" />
                                </div>
                                <div class="grid-5">
                                    <div class="reason-explain text-left">
                                        <p class="font14 text-left padding-top10">Park Assist Camera offers automatic reversing into a parking bay as well as entering and exiting a parallel parking spot.</p>
                                    </div>
                                </div>
                                <div class="cross-icon"></div>
                            </div>
                            <div id="comfort" class="cw-tabs-data bg-white">
                                <div class="grid-7 alpha omega text-left">
                                    <img class="responsive-img lazy" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/reason04.jpg" />
                                </div>
                                <div class="grid-5">
                                    <div class="reason-explain text-left">
                                        <p class="font14 text-left padding-top10">The V90 Cross Country is available with an electronically controlled air suspension. A choice of five modes, including one where the driver is free to tailor the settings, makes sure that there is a perfect ride for everyone. </p>
                                    </div>
                                </div>
                                <div class="cross-icon"></div>
                            </div>
                            <div id="innovation" class="cw-tabs-data bg-white">
                                <div class="grid-7 alpha omega text-left">
                                    <img class="responsive-img lazy" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/reason05.jpg" />
                                </div>
                                <div class="grid-5">
                                    <div class="reason-explain text-left">
                                        <p class="font14 text-left padding-top10">The all-new Volvo V90 Cross Country will offer drivers one of the top audio systems available in the automotive world by Bowers & Wilkins.</p>
                                    </div>
                                </div>
                                <div class="cross-icon"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>

        <h2 class="text-uppercase text-center margin-bottom20 margin-top30">GALLERY AND VIDEOS</h2>
        <section>
            <div class="container gallery">
                <div class="grid-12">
                    <div class="content-box-shadow position-rel">
                        <ul>
                            <li class="gallery__li li__type-video" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="gallery-clicked" data-label="video"><img class="lazy responsive-img" data-video="https://www.youtube.com/embed/pTveQV8iFkA?rel=0&amp;showinfo=0" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/video-bg-sm.jpg" /></li>
                            <li class="gallery__li" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="gallery-clicked" data-label="image"><img class="lazy responsive-img" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/gallery1-sm.jpg" /></li>
                            <li class="gallery__li" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="gallery-clicked" data-label="image"><img class="lazy responsive-img" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/gallery2-sm.jpg" /></li>
                            <li class="gallery__li" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="gallery-clicked" data-label="image"><img class="lazy responsive-img" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/gallery3-sm.jpg" /></li>
                            <li class="gallery__li" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="gallery-clicked" data-label="image"><img class="lazy responsive-img" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/gallery4-sm.jpg" /></li>
                            <li class="gallery__li" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="gallery-clicked" data-label="image"><img class="lazy responsive-img" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/gallery5-sm.jpg" /></li>
                        </ul>
                        <div id="galleryPopup" class="gallery__popup hide">
                            <div class="gallery__cross"></div>
                            <img class="responsive-img" src="" />
                            <div class="video-iframe-wrapper">
                                <iframe id="iframe-video" width="974" height="548" src="" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>

        <h2 class="text-uppercase text-center margin-bottom20 margin-top30 booking_head" id="booking_heading">Online Booking</h2>
        <section>
            <div class="container booking">
                <div class="grid-12">
                    <div class="content-box-shadow">

                        <div class="booking__status text-center margin-top20 margin-bottom50 hide">
                            <ul>
                                <li data-index="1"><span class="status-text"><span>Contact</span> <span> Information</span></span></li>
                                <li data-index="2"><span class="status-text"><span>Select</span> <span> Variant</span></span></li>
                                <li data-index="3"><span class="status-text"><span>Select</span> <span> Dealer</span></span></li>
                                <li data-index="4"><span class="status-text"><span>Make </span> <span> Payment</span></span></li>
                            </ul>
                        </div>
                        <div class="booking__intro screen">
                            <p class="booking__intro-text padding-bottom5">Book the All New V90 Cross Country Online &<br /> Get an Exclusive 2-nights Get Away</p>
                            <p class="booking__price-text padding-bottom0">Price Starts at &#x20b9; 60 Lakhs*</p>
                            <p class="call-text">For Assistance call - 1800-2090-230</p>
                            <div id="startBooking" class="btn btn--white btn-sm" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="bookin-engine-clicked" data-label="Intro Book Now">Book Now ></div>
                            <p class="terms-cond">*Ex-showroom Pan India.</p>
                        </div>
                       @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "/es/booking/volvo-v90/" }))
                       {
                        <div id="step1" class="booking__contact text-black screen hide">
                            <div class="booking__container padding-left20 padding-right20">
                                <p class="font20 padding-top10 padding-bottom5 text-bold">Contact Information</p>
                                <p class="booking__title font14 padding-bottom10">Please share your details which we'll use to contact you to complete this booking only. </p>
                                <div class="booking__inputContainer">
                                    <div class="margin-top15 form-control-box">
                                        <input type="text" id="booking__personName" prefill="name" placeholder="Full Name" prefill="name" class="form-control">
                                        <span class="cwsprite error-icon hide"></span>
                                        <div class="cw-blackbg-tooltip hide">Please provide your Name</div>
                                        <input type="hidden" name="CustomerId" value="-1"/>
                                    </div>
                                    <div class="margin-top15 form-control-box">
                                        <input type="text" id="booking__personEmail" prefill="email" placeholder="Email id" prefill="email" class="form-control">
                                        <span class="cwsprite error-icon hide"></span>
                                        <div class="cw-blackbg-tooltip hide">Please provide your email</div>
                                    </div>
                                    <div class="margin-top15 form-control-box">
                                        <input type="text" id="booking__personMob" placeholder="Mobile +91" prefill="mobile" prefill="mobile" class="form-control" maxlength="10">
                                        <span class="cwsprite error-icon hide"></span>
                                        <div class="cw-blackbg-tooltip hide">Please provide your Mobile no.</div>
                                    </div>
                                    <div class="margin-top15 form-control-box">
                                        <input type="text" placeholder="Type to select city" id="booking__personCity" class="form-control ui-autocomplete-input blur" autocomplete="off">
                                        <span class="cwsprite error-icon hide"></span>
                                        <div class="cw-blackbg-tooltip hide">No city match</div>
                                    </div>
                                    <div id="step1Btn" class="btn btn--blue btn-sm margin-top20 margin-bottom20 text-uppercase font13" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="bookin-engine-clicked" data-label="Step1 Proceed to Select Variant">Proceed to Select Variant</div>
                                    <input type="hidden" name="PlatformId" value="-1" />
                                </div>
                            </div>
                        </div>
                            <div id="step2" class="booking__variant text-black screen hide">
                                <div class="booking__container padding-left20 padding-right20">
                                    <p class="font20 padding-top10 padding-bottom5 text-bold">Select Variant</p>
                                    <p class="booking__title font14 padding-bottom10">Please select Variant details from the below options: </p>
                                    <p class="font13 text-bold margin-top10">Select Fuel Type</p>
                                    <div class="booking__fuel-details">
                                        <ul>
                                            <li class="custom-radio-list">
                                                <input type="radio" id="booking__fuelType" name="fuel" value="DIESEL" checked>
                                                <label for="booking__version1"> <span>DIESEL</span> </label>
                                                <div class="check"></div>
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                    <p class="font13 text-bold margin-top10">Select Variant</p>
                                    <div class="booking__version-details position-rel">
                                        <ul data-bind="foreach: versionData">
                                            <li class="custom-radio-list" data-bind="click: VolvoV90.variantClick.bind()">
                                                <input type="radio" name="VersionId" data-bind="attr: {id: 'booking__version' + $index() }">
                                                <label data-bind="text: $data.version.name, attr: {for: 'booking__version' + $index() }"></label>
                                                <div class="check"></div>
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                        <div class="error-text"></div>
                                    </div>
                                    <div class="booking__exterior-container position-rel hide">
                                        <p class="font13 text-bold margin-top10">Select Exterior Colour</p>
                                        <ul data-bind="foreach: exteriorColorData">
                                            <li class="booking__exterior__li">
                                                <div class="booking__exterior" data-bind="click: VolvoV90.extColorClick.bind(), style:{'background-color':'#' + $data.hexCode}"></div>
                                                <span class="color_name" data-bind="text: $data.name"></span>
                                                <input type="hidden" name="ExteriorColorId" value="-1" />
                                            </li>
                                        </ul>
                                        <div class="error-text"></div>
                                    </div>
                                    <div class="booking__interior-container position-rel hide">
                                        <p class="font13 text-bold margin-top10">Select Interior Colour</p>
                                        <ul data-bind="foreach: interiorColorData">
                                            <li class="booking__interior__li">
                                                <div class="booking__interior" data-bind="click: VolvoV90.intColorClick.bind(), style:{'background-color':'#' + $data.hexCode}"></div>
                                                <span class="color_name" data-bind="text: $data.name"></span>
                                                <input type="hidden" name="InteriorColorId" value="-1"/>
                                            </li>
                                        </ul>

                                        <div class="error-text"></div>
                                    </div>
                                    <div id="step2Btn" class="btn btn--blue btn-sm margin-top20 margin-bottom20 text-uppercase font13" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="bookin-engine-clicked" data-label="Step2 Proceed to Select Dealer">Proceed to Select Dealer</div>
                                </div>
                            </div>
                            <div id="step3" class="booking__dealer text-black hide screen">
                                <div class="booking__container padding-left20 padding-right20">
                                    <p class="font20 padding-top10 padding-bottom5 text-bold">Select Dealer</p>
                                    <p class="booking__title font14 padding-bottom10">Select the dealer of your choice from the below list of dealers. </p>
                                    <p class="font13 text-bold margin-top10">Select Location</p>
                                    <div class="margin-top10 form-control-box">
                                        <select class="form-control" id="drpFormDealerCity" data-bind='options:cities, optionsText: "cityName", optionsValue: "cityId"'></select>
                                        <span class="cwsprite error-icon hide"></span>
                                        <div class="cw-blackbg-tooltip hide">No city match</div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="booking__address-details">
                                        <ul data-bind="template:{name:'dealerAddrTemplate',foreach:DealerInfoList}"></ul>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="error-text"></div>
                                    <div id="step3Btn" class="btn btn--blue btn-sm margin-top20 margin-bottom20 text-uppercase font13" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="bookin-engine-clicked" data-label="Step3 Proceed to Make Payment">Proceed to Make Payment</div>
                                </div>
                            </div>
                            <div id="step4" class="booking__payment text-black hide screen">
                                <div class="booking__container padding-left20 padding-right20">
                                    <p class="font20 padding-top10 padding-bottom5 text-bold">Make Payment</p>
                                    <p class="booking__title font14 padding-bottom10">You are just one step away from owning V90 Cross Country. Choose your mode of payment from the below options: </p>
                                    <input type="hidden" name="PaymentType" value="-1"/>
                                    <p class="font15 margin-top10 text-bold">Online Payment<sup>*</sup></p>
                                    <p class="font14 text-black margin-top5">Pay Rs 50,000</p>
                                    <p class="font14 text-black margin-top5">This is an advance booking payment, pending amount to be paid directly to the dealer.</p>
                                    <input type="submit" id="onlinePay" class="btn btn--blue btn-sm margin-top20 text-uppercase font13" value="Pay Online" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="bookin-engine-clicked" data-label="Step4 Pay Online" />
                                    <div class="or-div">
                                        <p>OR</p>
                                    </div>
                                    <p class="font15 text-bold">Cheque Payment<sup>*</sup></p>
                                    <div>
                                        <p class="margin-bottom20 font14 text-black margin-top5">Please help us with your address so that our executive can visit you to collect the cheque.</p>
                                        <textarea id="address" maxlength="300" class="address-textbox" placeholder="Please provide your address."> </textarea>
                                    </div>
                                    <input type="submit" id="chequePay" class="btn btn--blue btn-sm margin-top20 text-uppercase font13 margin-bottom20" value="Submit" data-role="click-tracking" data-event="CWInteractive" data-cat="volvo-v90-booking-engine" data-action="bookin-engine-clicked" data-label="Step4 Submit" />
                                    <a href="/volvo-cars/v90-cross-country/termsconditions/" class="font14 text-right block" target="_blank">*Terms and Conditions Apply</a>
                                </div>
                            </div>
                            <input type="hidden" id="setPlatform" name="IsApp" value="" />                            
                       }

                        <div class="booking__car-info text-black padding-left10 padding-right10 hide">
                            <p class="font20 padding-top20 padding-bottom20 text-bold" id="bookingSummary">Volvo V90 Cross Country</p>
                            <!--ko 'if':$data != null && $data.imageSrc() != null && $data.imageSrc() != ""  -->
                            <img class="responsive-img" data-bind="attr: {src: $data.imageSrc()}"/>
                            <!-- /ko -->
                            <p class="font13 margin-top5 text-bold">Model: <span class="font14 text-unbold">V90 Cross Country</span></p>
                            <!--ko 'if':$data != null && $data.summaryData() != null && $data.summaryData() != ""  -->
                            <p class="font13 margin-top5 text-bold">Engine & Transmission: <span class="font14 text-unbold" data-bind="text: $data.summaryData()"></span></p>
                            <!-- /ko -->
                            <!--ko 'if':$data != null && $data.extColorName() != null && $data.extColorName() != ""  -->
                            <p class="font13 margin-top5 text-bold">Exterior Color: <span class="font14 text-unbold" data-bind="text: $data.extColorName()"></span></p>
                            <!-- /ko -->
                            <!--ko 'if':$data != null && $data.intColorName() != null && $data.intColorName() != ""  -->
                            <p class="font13 margin-top5 text-bold">Interior Color: <span class="font14 text-unbold" data-bind="text: $data.intColorName()"></span></p>
                            <!-- /ko -->
                            <!--ko 'if':$data != null && $data.dealerName() != null && $data.dealerName() != ""  -->
                            <p class="font13 margin-top5 text-bold">Dealership: <span class="font14 text-unbold" data-bind="text: $data.dealerName()"></span></p>
                            <!-- /ko -->
                            <p class="font13 margin-top5 text-bold hide" id="bookingAmt">Amount: <span class="font14 text-unbold">₹ 50,000</span></p>
                            <p id="init-text" class="margin-top5 font14">Get away from the everyday in the “Get Away Car”. The blend of powerful off-road capability in a most elegant, sophisticated, tailored wagon suit.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>    

        <section>
            <div class="container mb-view pq-box">
                <div class="grid-12">
                    <h2 class="text-uppercase text-center margin-top40 margin-bottom20">Request a Call Back</h2>
                    <div class="font14 content-box-shadow content-inner-block-15nr buy-automatic-car lazy">
                        <div class="request-callback-box">
                            <div class="grid-4 rightfloat">
                            @{ Html.RenderPartial("~/Views/Shared/ES/_LeadForm.cshtml"); }
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
        <section>
            <div class="container mb-view margin-bottom30">
                <div class="grid-12">
                    <h2 class="text-uppercase text-center margin-top30 margin-bottom20">Locate Dealer</h2>
                    <div class="content-box-shadow margin-top20 content-inner-block-15lr">
                        <div class="grid-8 alpha text-center margin-top20 margin-bottom20">
                            <div id="divMap"></div>
                        </div>
                        <div class="grid-4 alpha omega margin-top20">
                            <div class="content-box-shadow content-inner-block-10 margin-bottom10">
                                <h4 class="margin-bottom10 text-black">Find dealers in your city</h4>
                                <select class="form-control" id="drpDealerCity" data-bind='options:cities, optionsText: "cityName", optionsValue: "cityId"'></select>
                            </div>
                            <div class="content-box-shadow content-inner-block-10 map-dealer-list" data-bind="template:{name:'dealerTemplate',foreach:LocateDealerList}" id="dealerDiv"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>

        <section>
            <div class="container mb-view margin-bottom30 media-review">
                <div class="grid-12">
                    <h2 class="text-uppercase text-center margin-top40 margin-bottom30">Indian Media Reviews</h2>
                    <div class="content-box-shadow margin-top20 media-review__box">
                        <div class="grid-7 alpha omega main-review">
                            <p class="review-text"><i>"The V90 Cross Country has all the credence, capability of a complete family, load-lugging, mud-plugging, luxurious and comfortable machine that will easily do long distances over varied terrain. In fact, the V90 Cross Country is the complete family luxury car."</i></p>
                            <p class="review-title-text">- Topgear</p>
                        </div>
                        <div class="grid-5 content-box-shadow alpha omega scroll-reviews">
                            <div class="media-review__img lazy review1" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/review1.jpg?q=85">
                                - Stuff
                            </div>
                            <div class="media-review__content">
                                <p>It’s a treat of a car that blends practicality and fun like nothing else in the market.</p>
                                <span class="right-arrow arrow"></span>
                            </div>
                            <div class="media-review__content">
                                <p>The Volvo V90 Cross Country has been a revelation.</p>
                                <span class="left-arrow arrow reverse"></span>
                            </div>
                            <div class="media-review__img lazy" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/review2.jpg?q=85">
                                - Overdrive
                            </div>
                            <div class="media-review__img lazy" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/review3.jpg?q=85">
                                - Autocar
                            </div>
                            <div class="media-review__content">
                                <p>While rivals focus on a sportier experience, Volvo aims more at comfort, confidence and capability.</p>
                                <span class="right-arrow arrow"></span>
                            </div>
                            <div class="media-review__content">
                                <p>It was pouring with rain and the near two-tonne V90 Cross Country stayed planted and sure-footed at all times at all speeds.</p>
                                <span class="left-arrow arrow reverse"></span>
                            </div>
                            <div class="media-review__img lazy" data-original="https://imgd.aeplcdn.com/0x0/cw/es/volvo/v90/review4.jpg?q=85">
                                - Car India
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </section>

        <section>
            <div class="container mb-view margin-bottom30">
                <div class="grid-12">
                    <h2 class="text-uppercase text-center margin-top40 margin-bottom30">Buzz On Social Media</h2>
                    <div class="content-box-shadow margin-top20 content-inner-block-15lr">
                        <div class="grid-6 alpha text-center margin-top20 margin-bottom20" id="pageFbContainer">
                            <div class="fb-page" data-href="https://www.facebook.com/volvocars/" data-tabs="timeline,events" data-width="380" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/volvocars/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/volvocars/">Volvo Cars</a></blockquote></div>
                        </div>
                        <div class="grid-6 omega text-center margin-top20" id="twiiterContainer">
                            <a class="twitter-timeline" href="https://twitter.com/VolvoAutoIndia"  width="100%" height="500px">Tweets by VolvoAutoIndia</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            
        </section>

        <section class="term-parent">
            <div class="container mb-view term-section padding-right10 text-right">
                <a href="/volvo-cars/v90-cross-country/termsconditions/" target="_blank">*Terms and Conditions Apply</a>
            </div>
        </section>
    </div>
</div>
<script type="text/html" id="dealerTemplate">
    <div class="map-dealer-list-card" data-bind="attr:{id:dealerId}">
        <h4 class="margin-bottom5 text-unbold text-black">
            <i class="icon-view fa uncheck"></i> <span data-bind="text:name"></span>
        </h4>
        <p class="text-light-grey font14">
            <span data-bind="text:address"></span><br>
            <span data-bind="text:cityName + ', ' + state + ' - ' + pincode"></span>
        </p>
        <h4 class="margin-bottom10 text-unbold">
            <i class="fa fa-phone"></i>
            <span data-bind="text:' ' + landlineNo + (mobileNo && landlineNo ? ', ' : '') + mobileNo"></span>
        </h4>
        <input type="hidden" data-bind="value:latitude" />
        <input type="hidden" data-bind="value:longitude" />
    </div>
</script>
<script type="text/html" id="dealerAddrTemplate">
    <li class="custom-radio-list">
        <input type="radio" data-bind="attr:{id:dealerId}, click: VolvoV90.dealerClick.bind()" name="DealerId" value="-1">
        <label data-bind="attr:{for:dealerId}">
            <span class="address-title" data-bind="text:name"></span>
            <span class="address-text" data-bind="text:address"></span>
            <span data-bind="text:' ' + landlineNo + (mobileNo && landlineNo ? ', ' : '') + mobileNo"></span>
        </label>
        <div class="check"></div>
    </li>
</script>

<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
<script type="text/javascript" src="/static/js/leadform-v1.js" defer></script>
<script type="text/javascript" src="/static/m/js/easy-autocomplete.js" defer></script>
<script type="text/javascript" src="/static/src/dealerlocatormaps.js" defer></script>
<script type="text/javascript" src="/static/js/volvo-v90-script.js" defer></script>
<script>
    landingPage = true;
    PushleadType = 25; 
    modelid = 1084;
    carName = "Volvo V90 Cross Country";
</script>
