@model Carwale.Entity.ES.EsBookingSummary
@using Carwale.Utility;
@{
    ViewBag.Title = "Volvo V90 Cross Country";
    ViewBag.BodyClass = "bg-light-grey";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
    ViewBag.landingPage = false;
    ViewBag.Responsive = true;
    Layout = (ViewBag.isMobile != null && ViewBag.isMobile ? "~/views/shared/m/_MLayoutV2.cshtml" : "~/views/shared/_LayoutV2.cshtml");
    <script>var isMobile = false;</script>
    if (ViewBag.isMobile != null && ViewBag.isMobile)
    {
        <script>isMobile = true;</script>
    }
}
@section Styles{
    <style>.termsconditions-container p{margin-top:10px;}.termsconditions-container.top-offset{padding-top: 70px; padding-bottom: 20px;}</style>
}
<div class="@(ViewBag.isMobile ? "termsconditions-container" : "termsconditions-container top-offset")">
    <section>
        <div class="container top-box">
            <div class="grid-12 bg-white content-box-shadow padding-bottom10">
                <div id="step5">
                    <div class="booking__container padding-left20 padding-right20">
                        <p class="booking__title font20 padding-top20 padding-bottom20 text-bold">Terms and Conditions</p>
                        <p>The Volvo V90 Cross Country is available in a D5 Inscription variants in diesel versions. The detailed specifications and features of the car is available on the official website of Volvo Cars India - www.volvocars.com/in. The customers are requested to thoroughly read and understand all specifications, features posted in the official website before making his/her choice. The price, specifications and features of the car is subject to change without prior intimation and at the discretion of Volvo Cars India. For any additional information and latest updates on Volvo, the prospective customers are requested to contact any Authorized Dealer (hereinafter referred as <span class="text-bold">“Dealer”</span>) of Volvo Cars India.</p>
                        <p>The online booking system will facilitate the prospective customers in faster booking of the Volvo V90 Cross Country with the Dealers in a secured environment and at their convenience.</p> 
                        <p>The Customer would be able to make an online payment towards booking for the Volvo V90 Cross Country only through a valid transaction and by submitting required information on the online process as available on www.carwale.com. The payment made on www.carwale.com shall be credited to Automotive Exchange Private Limited (<span class="text-bold">“Agency”</span>) on behalf of the Dealer. Volvo Cars India is not a party to any of the booking transactions done through this website and Volvo Cars India is only acting as a facilitator between Customer, Automotive Exchange Private Limited and Dealer. Volvo Cars India shall not assume any liability with regards to the transactions done by the Customer through this website and no claim can be made against Volvo Cars India in this regard in any manner.</p> 
                        <p class="text-bold">1. Acceptance of payment towards booking:</p>
                        <p>a. A Person will be able to book for one or more Volvo V90 Cross Country and the person will be required to pay booking amount for as many vehicles as the person intends to book.</p>
                        <p>b. &#39;Person&#39; means and includes any Individual / Firm / Proprietorship/ Company etc. Volvo vehicle can be ordered by Individuals / Firms / Proprietorships / Companies etc. (hereinafter referred to as the &#39;<span class="text-bold">Customer</span>&#39;)</p>
                        <p>c. The Customer needs to provide accurate information in filling the form online and will be required to submit documents to the Dealer, when required for completing the vehicles purchase/order.</p>
                        <p>d. The Customer will be required to submit and complete formalities by providing photocopies of PAN card, address proof, driving license and such other documents as needed by the  Dealer for completing the booking and subsequently sale. All document in original will need to be produced before confirmation of booking and before taking delivery of Volvo V90 Cross Country. In case Customer does not have any of the above-mentioned proofs, he should submit copy of any other valid photo identity proof duly attested by a gazetted officer and mention the details of the same on the form. For online payment, the details are to be filled at the relevant section and will have to be produced at the time of delivery. If the Customer fails to comply with these conditions, the Dealer with whom the order is placed reserves the right to deny the delivery of the Volvo V90 Cross Country and or cancel the booking of the customer.</p>
                        <p>e. Any information of the Customer may be shared with the Government or statutory authorities or court of law if any authority calls upon Agency, Dealer of Volvo Cars India to do so, or as may be prescribed under applicable law.</p>
                        <p>f. Acceptance of bookings/advance payment is taken on behalf of the specified Dealer by the Agency, and is merely an indication of an intention to sell on part of the Dealer and does not result in a Booking or Contract of sale.</p>
                        <p>g. After completing the form and a valid online payment transaction, the system will generate a reference number for the receipt of payment towards the booking amount. The Customer can use that payment reference number to communicate with the Dealer and for any future communication.</p>
                        <p>h. The amount collected online is only part of the booking amount and the balance will need to be paid to the selected Dealer within 7 days of online payment. Only after receipt of the entire booking amount will the booking be binding according to the booking terms and conditions of the Deale. Until then the amount received is merely a request on part of the Customer and an indication of an intention to sell on part of the Dealer and does not result in a booking confirmation or contract of sale.</p>
                        <p>i. Only after the booking request is accepted and completed as per the process at the Dealer and a Customer Order generated will the Booking be considered complete and binding as per the Booking terms and conditions available at the said Dealer. Should the booking fail to be accepted and / or completed there will be no financial implications to Volvo Cars India, Agency or the Dealer.</p>
                        <p>j. In case of failure on part of the Customer to pay the balance of the booking amount in the next 7 days to the selected Dealer, Dealer reserves the right to cancel the booking without any liability towards the Customer (please see article 4 below, for refund conditions).</p>
                        <p>k. The Customer agrees that the Dealer shall not be deemed to have accepted the booking of the Customer or be bound by the booking until Dealer notifies the Customer of its acceptance of the booking subject to the terms and conditions, contained herein and the terms and conditions of Booking as per Dealer.</p>
                        <p>l. The booking is non-transferable and only the Customer would be eligible to the buy the vehicle if booking is accepted and confirmed by the Dealer in accordance with the terms thereof..</p>
                        <p>m. The online booking engine is available at www.carwale.com whereas technology, process and backend all is powered by CarWale.</p>
                        <p>n. The payment amount for the Volvo V90 Cross Country will be mentioned once the Customer makes choices as such as Dealer, vehicle variant, color and city. The payment amount can be paid online using debit card / credit card / Internet banking or Cheque pick-up.</p>
                        <p>o. The price shown online is the 'ex-showroom' price and is subject to statutory levies, taxes, insurance etc. The final 'on-road' price can be availed at the Dealer on request and the prices may be subject to change on the date of delivery. Customer agrees to pay applicable prices at the time of actual delivery. By choosing to pay online towards the booking the Customer agrees to abide by the local laws governing sale of vehicles.</p>
                        <p>p. The amount paid online by the Customer will be transferred to the Dealer as selected by the Customer within 3 working days from the receipt of online payment by CarWale.</p>
                        <p>q. The booking details as submitted by the Customer are notified to the Dealerin real time through email and software communication.</p>
                        <p>r. Delivery of the variant, fuel type, transmission type or colour preference given by the Customer may be affected by production constraints. In case the Dealer is not able to match the preference of the customer it will alternatively offer to the Customer other available colour variant. Any differential amount if any applicable thereof will be adjusted at the time of the delivery.</p>
                        <p>s. Ex-Showroom price of the Volvo V90 Cross Country will vary depending upon the city where the delivery is to be made. The ex-showroom prices applicable to your city on date of booking will be available at the Volvo Cars India website www.volvocars.com/in.</p>
                        <p>t. Volvo Cars India shall have the right to revise the specification, standard fitment and / or accessories for the vehicle or introduce new versions of the variants, allotted to the Customer, which will be binding on the Customer.</p>
                        <p>u. The colour, variant and features chosen at the time of online booking are subject to confirmation by the Dealer.</p>
                        <p class="text-bold">2. Delivery of Volvo V90 Cross Country</p>
                        <p>a. Customer will be informed of payment receipt confirmation or cancellation. The Dealer will not be responsible if delivery of the Volvo V90 Cross Country is delayed beyond the tentative availability due to any reason beyond its control. In such case, the Dealer will intimate the revised delivery period to the Customer on the contact details provided at the time of online payment. The Dealer will not be liable to pay interest or any other compensation to the Customer in such cases.</p>
                        <p>b. The Customer can also contact the Dealer indicated for the purpose of taking delivery. Volvo Cars India or Dealer would not be responsible for delay/ non-receipt of communication by Customer due to incorrect address, given in the Online booking form or otherwise.</p>
                        <p>c. The Dealer set out in the Online Booking confirmation as selected by the Customer during the online booking process will make delivery of the vehicle.</p>
                        <p>d. Volvo Cars India reserves the right to change the Dealer for the purposes of the delivery of the vehicle.</p>
                        <p>e. The said Dealer will advise the expected / tentative delivery date to the Customer as soon this information is available with the said Dealer.</p>
                        <p>f. In the event of any unforeseen circumstance, acts of God or Force majeure, delivery period of the vehicle may be changed. This will be informed to the Customer directly by the Dealer.</p>
                        <p>g. Under no circumstances will Volvo Cars India, Dealer and CarWale be liable towards any financial implication or Interest penalty including but not limited to delays not in their control.</p>
                        <p class="text-bold">3. Cancellation</p>
                        <p>a. Customer needs to contact selected Dealer for any matters pertaining to cancellations and refunds which are governed by relevant terms and conditions.</p>
                        <p class="text-bold">4. Refund in case of Booking Cancelled</p>
                        <p>a. The online payment amount of Rs. 50,000 (Rupees Fifty Thousand only) is fully refundable in the event of cancellation prior to confirmation of booking.</p>
                        <p>b. Once the Booking is confirmed by the Dealer all refunds / cancellations etc. will be governed by the terms and conditions of Booking / Sale as agreed upon with the Dealer.</p>
                        <p>c. All refunds will be issued only by the Dealer directly towards the Customer's name as on records. There will be no liability to Volvo Cars India or CarWale under any circumstances whatsoever.</p>
                        <p>d. Under no circumstances will there be any assumption or payments towards interest and / or any other financial implications or obligations.</p>
                        <p class="text-bold">5. General</p>
                        <p>a. Volvo Cars India or Dealer or CarWale will not be responsible for delay, loss or non- receipt of online booking information or any other form of submission not contemplated herein.</p>
                        <p>b. Actual colours and appearance of the Volvo V90 Cross Country may vary from the colour on your screen due to monitor colour restrictions.</p>
                        <p>c. Booking from minors will not be accepted.</p>
                        <p>d. Booking is open only for the Indian residents.</p>
                        <p>e. Volvo Cars India reserves the right to change the variants, variant names and specifications at its own discretion and will make reasonable efforts to keep the Customer informed before the completion of the sales process.</p>
                        <p>f. Customer acknowledges that retail transactions are between Customer and Dealer and Volvo Cars India is not at all involved in this transaction at any stage and shall not be held liable for any disputes, claims or concerns that may arise out of this transaction.</p>
                        <p>g. Volvo Cars India or Dealerships or CarWale will not assume any liability for any inability or failure on their part in executing any order registered by any Customer on account of any causes, constituting a force majeure or otherwise, beyond their control.</p>
                        <p>h. In event of demise of Customer, the booking / allotment / retention stands cancelled and will be refunded as per refund terms mentioned.</p>
                        <p>i. In any case of dispute, inconvenience or loss, Customer agrees to indemnify Volvo Cars India, Dealerships or CarWale.</p>
                        <p>j. Notwithstanding anything contained, the total joint or individual liability of Volvo Cars India, Dealerships or CarWale will under no circumstances exceed the payments received online.</p>
                        <p>k. Any dispute relating to enforcement, interpretation or application of these terms and conditions will be subject to Courts at Delhi alone to the exclusion of all others.</p>
                        <p>l. Volvo Cars India reserves the right to alter any terms and conditions/ or the process itself clause at its sole discretion as and when considered necessary. Reasonable efforts will be made to keep Customer informed as soon as possible.</p>
                        <p>m. Any special offer on Online Booking of the vehicle  will be supported by Volvo Cars India and executed by the Dealer. Volvo Cars India reserves the right to alter any terms and conditions on the special offer on Online Booking of the car. Volvo Cars India or Dealer or CarWale will not assume any liability for any inability or failure on their part in executing the offer on account of any causes, constituting a force majeure, act of God or otherwise, beyond their control.</p>
                        <p>No payment can be made to Volvo Cars India since it is not allowed to do any retail trade.</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
</div>
