<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Staging</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://stablestg.carwale.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://10.10.3.110:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>stablestg.carwale.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>AEPL\webdepadmin</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnectionMySqlMasterClassified" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwusedcartesting;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlMasterClassified_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwusedcartesting;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlMasterAdvantage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwadvantage;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlMasterAdvantage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwadvantage;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlReadClassified" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwusedcartesting;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlReadClassified_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwusedcartesting;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlReadAdvantage" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwadvantage;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlReadAdvantage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwadvantage;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlMasterCarData" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwexperience;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlMasterCarData_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwexperience;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlMasterEditCms" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=editcms;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlMasterEditCms_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=editcms;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlMasterNewCar" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwnewcar;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlMasterNewCar_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwnewcar;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlMasterForums" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=forums;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlMasterForums_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=forums;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlReadCarData" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwexperience;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlReadCarData_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwexperience;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlReadEditCms" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=editcms;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlReadEditCms_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=editcms;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlReadNewCar" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwnewcar;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlReadNewCar_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwnewcar;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlReadForums" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=forums;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlReadForums_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=forums;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlMasterEs" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwes;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlMasterEs_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwes;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionMySqlReadEs" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwes;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionMySqlReadEs_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwes;Allow User Variables=true;Min Pool Size=1;Max Pool Size=300" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RabbitMQServerList" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="172.16.0.20" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RabbitMQServerList_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="172.16.0.20" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IndexServerList" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="172.16.4.16:8092" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IndexServerList_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="172.16.4.16:8092" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ModelVarURL" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="http://ec2-54-205-58-222.compute-1.amazonaws.com:8080/modelvar/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ModelVarURL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="http://ec2-54-205-58-222.compute-1.amazonaws.com:8080/modelvar/" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PageRankURL" Order="18" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="http://ec2-54-205-58-222.compute-1.amazonaws.com:8080/pagerank/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PageRankURL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="http://ec2-54-205-58-222.compute-1.amazonaws.com:8080/pagerank/" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlMasterAdvantage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlMasterCarData-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlMasterClassified-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlMasterEditCms-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlMasterEs-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlMasterForums-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlMasterNewCar-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlReadAdvantage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlReadCarData-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlReadClassified-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlReadEditCms-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlReadEs-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlReadForums-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionMySqlReadNewCar-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IndexServerList-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ModelVarURL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PageRankURL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RabbitMQServerList-Web.config Connection String" />
  </ItemGroup>
</Project>