@model Bikewale.Models.OtherMakesVM

@if (Model != null && Model.Makes != null && Model.Makes.Any())
{
    <div class="swiper-container padding-top5 padding-bottom5 brand-type-carousel">
        <div class="swiper-wrapper">
            @foreach (var BrandCount in Model.Makes)
            {
                <div class="swiper-slide">
                    <div class="swiper-card">
                        <a href="/m@(!string.IsNullOrEmpty(Model.PageLinkFormat) ? string.Format(Model.PageLinkFormat, BrandCount.MaskingName) : Bikewale.Utility.UrlFormatter.BikeMakeUrl(BrandCount.MaskingName))" title="@(!string.IsNullOrEmpty(Model.PageTitleFormat) ? string.Format(Model.PageTitleFormat, BrandCount.MakeName) : string.Format("{0} {1}", BrandCount.MakeName, Model.CardText))">
                            <div class="brand-logo-image">
                                <span class="brand-type">
                                    <span class="brandlogosprite @string.Format("brand-{0}", BrandCount.MakeId)"></span>
                                </span>
                            </div>
                            <div class="swiper-details-block">
                                <p class="text-bold text-black font12 margin-bottom5 border-solid-top padding-top10">@BrandCount.MakeName</p>
                                <h3 class="text-unbold text-light-grey font11">@string.Format("{0} {1}{2}", BrandCount.TotalCount, Model.CardText, (BrandCount.TotalCount == 1 ? "" : "s"))</h3>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}
