@model Bikewale.Models.BikeMakes.EditorialOtherBrandsWidget


@if (Model != null)
{
    var otherBrandsList = Model.OtherBrandsList;
    
    if (otherBrandsList != null && otherBrandsList.Any())
    {
        <div class="swiper-container padding-top5 padding-bottom5 brand-type-carousel">
            <div class="swiper-wrapper">
                @foreach (var make in otherBrandsList)
                {
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <a href="@string.Format("/m/{0}-{1}/", make.MaskingName, !make.IsScooterOnly ? "scooters" : "bikes")" title="@make.MakeName scooters">
                                <div class="brand-logo-image">
                                    <span class="brand-type">
                                        <span class="brandlogosprite brand-@make.MakeId"></span>
                                    </span>
                                </div>
                                <div class="swiper-details-block">
                                    <p class="text-bold text-black font12 margin-bottom5 border-solid-top padding-top10">@make.MakeName</p>
                                    <h3 class="text-unbold text-light-grey font11">@String.Format("{0} {1}", make.TotalCount, make.TotalCount > 1 ? "scooters" : "scooter")</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}