<!-- 300x600 -->
<div class="content-box-shadow content-inner-block-5 margin-top20 ad-slot">
	<div class="text-right font11 text-medium-grey">Ad</div>
	<div id='div-gpt-ad-@ViewBag.AdId-9'>
		<script type='text/javascript'>googletag.cmd.push(function () { googletag.display('div-gpt-ad-@ViewBag.AdId-9'); });</script>
	</div>
</div>