<!-- 970x90 -->
<div class="inline-block ad-slot">
	<div class="text-right font11 text-medium-grey">Ad</div>
	<div id='div-gpt-ad-@ViewBag.AdId-2' data-load-immediate="true" style="min-width:728px;min-height:90px;">
		<script type='text/javascript'>googletag.cmd.push(function () { googletag.display('div-gpt-ad-@ViewBag.AdId-2'); });</script>
	</div>
</div>