<!-- 300x250 -->
<div class="ad-container ad-slot">
    <div id="floating-ad" class="content-box-shadow content-inner-block-5 margin-top20 margin-bottom10 ad-slot" style="display: block !important; min-width: 312px">
        <div class="text-right font11 text-medium-grey">Ad</div>
        <div id='div-gpt-ad-@ViewBag.AdId-9'>
            <script type='text/javascript'>googletag.cmd.push(function () { googletag.display('div-gpt-ad-@ViewBag.AdId-9'); });</script>
        </div>
    </div>
</div>