<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="ReadOnlyConnectionString" value="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300" />
    <add key="MasterConnectionString" value="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300" />
    <add key="ElasticHostUrl" value="172.16.1.114:9201" />
    <add key="AutoSuggestIndex" value="bwsrckeywords" />
    <add key="AutoSuggestType" value="mm" />
    <add key="ABApiHostUrl" value="http://webserver:8094" />
    <add key="connectionstring" value="server=cwdb\cwdev;uid=cwuser;pwd=cw@007;database=carwale" />
    <add key="OfferUniqueTransaction" value="BWL" />
    <add key="BillDeskWorkingKey" value="sYPmiUQUoYdZ" />
    <add key="imgHostURL" value="localhost:84" />
    <add key="RabbitImgHostURL" value="localhost:84" />
    <add key="imgPathFolder" value="E:\sites\carwaleimg\staging\" />
    <add key="sourceId" value="1" />
    <add key="mobileSourceId" value="2" />
    <!-- Source id is 1 for bikewale change the id for other sources -->
    <add key="DefaultCity" value="1" />
    <add key="defaultName" value="Mumbai" />
    <add key="isMSMQ" value="false" />
    <add key="SendSMS" value="1" />
    <add key="AppPath" value="/" />
    <!-- Will store Application Path. -->
    <!-- Keys for memcache -->
    <add key="IsMemcachedUsed" value="false" />
    <add key="MemcacheTimespan" value="30" />
    <add key="staticUrl" value="" />
    <!-- Auto Expo Keys -->
    <add key="AutoExpo" value="Carwale.CMS.AutoExpo" />
    <add key="SMTPSERVER" value="127.0.0.1" />
    <!-- SMTP Server -->
    <add key="errorMailTo" value="bikewalebugs@gmail.com" />
    <add key="localMail" value="contact@bikewale.com" />
    <add key="ReplyTo" value="contact@bikewale.com" />
    <add key="MailFrom" value="ashish.BikeWale.com" />
    <add key="ApplicationName" value="BikeWale.com" />
    <add key="sendError" value="Off" />
    <add key="cwApiHostUrl" value="http://webserver" />
    <add key="bwHostUrl" value="http://localhost:9011" />
    <!--<add key="abApiHostUrl" value="http://localhost:58300/" />
  <add key="ApiHostUrl" value="http://172.16.1.56:8084" />-->
    <add key="applicationId" value="2" />
    <add key="feedbackEmailTo" value="ashish.kamble@carwale.com" />
    <add key="OfferClaimAlertEmail" value="saurabh@bikewale.com,rohit@bikewale.com" />
    <add key="ImageQueueName" value="BWIMAGEIPC" />
    <add key="PageSize" value="10" />
    <add key="MMindexName" value="11bwsrckeywordsv1" />
    
    <add key="cityIndexName" value="bwsrckeywordscityv1" />
    
    
  
	<add key="Microsoft.VisualStudio.Enterprise.AspNetHelper.VsInstrLocation" value="C:\Program Files (x86)\Microsoft Visual Studio 12.0\Team Tools\Performance Tools\vsinstr.exe" />
	<add key="GrpcPoolSize" value="2" />
	</appSettings>
  <memcached>
    <servers>
      <add address="172.16.0.11" port="11211" />
      <!-- Add more server instances here-->
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="400" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
  </memcached>
  <system.web>
    <compilation debug="true" targetFramework="4.5" assemblyPostProcessorType="Microsoft.VisualStudio.Enterprise.Common.AspPerformanceInstrumenter, Microsoft.VisualStudio.Enterprise.AspNetHelper, Version=12.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <codeBase version="1.2.10.0" href="file:///E:/work/bikewaleweb/BikeWale.Service/bin/DuplicateAssembly/log4net.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<codeBase version="12.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio%2012.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL" /></dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nest" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>