@model Bikewale.Models.Survey.BajajSurveyVM
@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/survey/bajaj-survey.css' />";
    Model.Page_JS_Path = "/src/survey/bajaj-survey.js";
}


<header class="bajaj-survey-banner">
    <div class="header-text font14 text-black text-bold text-center">BikeWale Two Wheeler Popularity Survey</div>
</header>

<div class="container content-box-shadow margin-bottom50">

    <div class="header-container text-left container-padding10 font14">
        <p class="survey-heading">BikeWale is conducting a survey on two wheeler popularity. Here is your chance to participate and win Paytm cash amount. There are a few simple questions that you need to answer and it will take maximum 2 minutes of your time.</p>
    </div>
    <div class="question-status-container x-transform position-rel leftfloat">
        <div class="q1-circle q-circle active"><span class="qNum">1</span></div>
        <div class="q2-line q-line"></div>
        <div class="q2-circle q-circle"><span class="qNum">2</span></div>
        <div class="q3-line q-line"></div>
        <div class="q3-circle q-circle"><span class="qNum">3</span></div>
    </div>
    <div class="clear"></div>
    <form action="/m/survey/bajaj/SubmitReview/" method="post">
        <div id="page1" class="survey-page survey-page1 x-transform font14">

            <div class="question1 question-box" data-qNumber="1">
                <p class="text-bold">1) Which 2-wheeler do you currently ride?</p>
                <select id="ModelName" name="ModelName" class="survey-q1-select survey-select container-margin10">
                    <option value="" disabled selected> Select </option>
                    <option value="Activa 4G">Activa 4G</option>
                    <option value="RTR 200">RTR 200</option>
                    <option value="KTM Duke 200">KTM Duke 200</option>
                </select>
                <div class="checkbox-container"> <input type="checkbox" name="vehicle" value="Bike" id="question1_checkbox" class="survey-q1__checkbox survey-checkbox"> <label for="question1_checkbox">No, I don't ride a two wheeler</label> </div>
                <div class="error-text error-text-q1 visibility-off">Please attempt this question</div>
            </div>

            <div class="question2 question-box" data-qNumber="2">
                <p class="text-bold">2) Which two wheeler do you plan to purchase in the next 3 months?</p>
                <select id="MultipleModel" multiple="multiple" name="MultipleModel" class="survey-q2-select chosen-select">
                    <option value="Activa 4G">1 Activa 4G</option>
                    <option value="RTR 200">1 RTR 200</option>
                    <option value="KTM Duke 200">1 KTM Duke 200</option>
                </select>
                <div class="checkbox-container"> <input type="checkbox" name="vehicle" value="Bike" id="question2_checkbox" class="survey-q2__checkbox survey-checkbox"> <label for="question2_checkbox">No, I don't ride a two wheeler</label> </div>
                <div class="error-text error-text-q2 visibility-off">Please attempt this question</div>
            </div>

            <div class="btn btn-orange btn-sm survey-page1__btn font14 x-transform position-rel margin-bottom15">Next</div>
        </div>

        <div id="page2" class="survey-page survey-page2 x-transform font14 hide">
            <div class="question3 question-box">
                <p class="text-bold">3. Which are the recent bike commercial that you remember? </p>
                @*@Html.TextBoxFor(m => m.OtherBike)*@
                <input class="survey-q3-input survey-input" type="text" />
                <div class="error-text error-text-q3 visibility-off">Please attempt this question</div>
            </div>
            <div class="question-4 question-box">
                <p class="text-bold">4. Do you remember watching this video Ad before?</p>
                <div class="radio-container">
                    <input id="IsLongerFormat1" name="IsLongerFormat" type="radio" value="Yes" /> <label for="IsLongerFormat1">Yes</label>
                    <input id="IsLongerFormat2" name="IsLongerFormat" type="radio" value="No" /><label for="IsLongerFormat2">No</label>
                </div>
                <iframe width="250" height="180" src="https://www.youtube.com/embed/XGSy3_Czz8k"></iframe>
                <div id="adnumberofviews" class="conditional-question margin-top20 hide">
                    <p class="text-bold">a. Approximately how many times have you seen the above commercial?</p>

                    <select id="viewscount" name="viewscount" class="survey-q4a-select survey-select-conditional container-margin10">
                        <option value="" disabled selected> Select </option>
                        <option value="1-2 Times">1-2 Times:</option>
                        <option value="3-5 Times">3-5 Times:</option>
                        <option value="More than 5 Times">More than 5 Times:</option>
                    </select>
                </div>
                <div id="admedium" class="conditional-question margin-top20 hide">
                    <p class="text-bold">b. On which media platforms, do you remember watching this commercial?</p>
                    <select id="InternetOptions" name="InternetOptions" class="survey-q4b-select survey-select-conditional container-margin10">
                        <option value="" disabled selected> Select </option>
                        <option value="YouTube:">YouTube</option>
                        <option value="Facebook:">Facebook</option>
                        <option value="Hotstar:">Hotstar</option>
                        <option value="Sony Live:">Sony Live</option>
                    </select>
                </div>
                <div class="error-text error-text-q4 visibility-off">Please attempt this question</div>
            </div>
            <div class="btn btn-orange btn-sm survey-page2__btn font14 x-transform position-rel margin-bottom20">Next</div>
        </div>

        <div id="page3" class="survey-page survey-page3 x-transform font14" style="display: none;">
            <div class="question5 question-box">
                <p class="text-bold">5. Your age </p>
                @*@Html.TextBoxFor(m => m.Age)*@
                <input class="survey-q5-input survey-input" type="number" />
            </div>
            <div class="question6 question-box">
                <p class="text-bold">6. Which mobile phone are you using currently?</p>
                @*@Html.TextBoxFor(m => m.Handset)*@
                <input class="survey-q6-input survey-input" type="text" />
            </div>
            <div class="question7 question-box">
                <p class="text-bold">7. City </p>
                <input type="text" class="ui-autocomplete-input survey-input" name="globalCityPopUp" placeholder="Type to select city" id="globalCityPopUp" autocomplete="off">
            </div>
            @*<div>
                    <p>7. Paytm Number</p>
                    @Html.TextBoxFor(m => m.Handset)
                </div>*@
            <div><p><input type="submit" value="Submit" class="btn btn-orange btn-sm survey-page3__btn font14 margin-bottom20 x-transform position-rel" /></p></div>
        </div>

    </form>
    <div id="page4" class="text-center survey-page">
        <div class="thankyou-page">
            <img src="../../../images/like-m.png" class="margin-bottom10" />
            <div class="font24 text-bold margin-bottom10">Thank you</div>
            <div class="margin-bottom30">Thank you for participating in the survey. This will help us to enhance your experience</div>
            <img src="../../../images/facebook.png" />
        </div>
    </div>
</div>

