@charset "utf-8";
.used-bikes-banner {
    background:#53442a url(https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/used-landing-banner.jpg?v1=07Oct2016) no-repeat center;
    background-size: cover;
    height:130px;
}

.text-white {
    color: #fff;
}

/* section margin */
.section-container {
    margin-bottom: 25px;
}

h2.section-heading {
    margin-bottom: 15px;
}

/* search box */
#search-used-bikes .content-box-shadow {
    margin-top: -25px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.20);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.20);
    -o-box-shadow: 2px 2px 2px rgba(0,0,0,0.20);
    -ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.20);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.20);
}

.form-selection-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    position: relative;
    text-align: left;
    cursor: pointer;
    color: #82888b;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-angle-down {
    background: #fff url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/dropArrowBg.png?v1=03Mar2016) no-repeat;
    background-position: 96% 50% !important;
}

.text-underline {
    text-decoration: underline;
}

.margin-bottom30 {
    margin-bottom: 30px;
}

/* budget */
#budget-list-box {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 0 0 2px 2px;
}

.input-label-box {
    display: inline-block;
    margin: 5px 0;
    padding: 3px 8px;
    width: 49%;
    font-size: 14px;
    color: #82888b;
}

#search-form-budget #min-input-label, #search-form-budget.max-active #max-input-label {
    color: #4d5057;
}

#search-form-budget.max-active #min-input-label {
    color: #82888b;
}

#max-budget-list {
    display: none;
}

#search-form-budget li {
    display: block;
    padding: 5px 20px;
    color: #82888b;
    cursor: pointer;
    background: none;
}

#search-form-budget li:hover {
    background: #f5f5f5;
}

#budget-list-box::before {
    border-bottom: 10px solid #e2e2e2;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    left: 46.5%;
    position: absolute;
    top: -11px;
    z-index: 1;
}

#budget-list-box::after {
    border-bottom: 10px solid #f5f5f5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    left: 46.5%;
    position: absolute;
    top: -10px;
    z-index: 1;
}

#min-max-budget-box.open .fa-angle-down {
    -moz-transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

#min-max-budget-box.open + #budget-list-box {
    display: block;
}

/* city selection */
#city-slider {
    display: none;
    background: #f5f5f5;
}

#city-slider.bwm-fullscreen-popup {
    padding: 0;
    bottom: 0;
}

.city-slider-input {
    width: 100%;
}

.city-slider-input input {
    padding: 10px 50px;
}

.slider-back-arrow {
    height: 30px;
    width: 40px;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 11;
    cursor: pointer;
}

.back-long-arrow-left {
    position: absolute;
    top: 7px;
    left: 10px;
}

.slider-list {
    padding-bottom: 40px;
}

.slider-list li {
    border-top: 1px solid #e2e2e2;
    font-size: 14px;
    padding: 15px 20px;
    color: #333;
    cursor: pointer;
}

.slider-list li:first-child {
    border-top: 0;
}

.slider-list li:hover {
    background: #ededed;
}

.noResult {
    font-size: 14px;
    padding: 15px 20px;
    color: #333;
}

/*fixed*/
#city-slider.input-fixed {
    padding-top: 41px;
}

#city-slider.input-fixed .city-slider-input {
    position: fixed;
    top: 0;
    left: 0;
}

.inv-teal-sm {
    font-size: 14px;
    padding: 6px 19px;
}

.teal-next {
    width: 6px;
    height: 10px;
    background-position: -69px -437px;
    margin-left: 6px;
}

/* profile id */
#profile-id-popup {
    display: none
}

#profile-id-popup.bwm-fullscreen-popup {
    padding: 30px 30px 100px;
}

.close-btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-position: -36px -226px;
}

.size-small .icon-outer-container {
    width: 72px;
    height: 72px;
}

.size-small .icon-inner-container {
    width: 64px;
    height: 64px;
    margin: 3px auto;
}

.btn-fixed-width {
    padding-right: 0;
    padding-left: 0;
    width: 205px;
}

/* sprite */
.used-sprite { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/used-sprite.png?v1=04Oct2016) no-repeat; display: inline-block; }
.free-cost, .buyer, .listing-time, .contact-buyer { width: 20px; height: 20px; margin-right: 10px; vertical-align: middle; }
.free-cost { background-position: 0 -35px; }
.buyer { background-position: 0 -60px; }
.listing-time { background-position: 0 -83px; }
.contact-buyer { background-position: 0 -108px; }
.profile-id-icon { width: 30px; height: 30px; background-position: 0 0; }

#sell-benefit-list li {
    font-size: 14px;
    text-align: left;
    margin-bottom: 15px;
}

/* brand */
#more-brand-nav { display: none }
#more-brand-tab:hover { text-decoration: none }
.brand-type-container ul li { display: inline-block; *display:inline; *zoom:1; vertical-align: top; width: 90px; height: 65px; margin-bottom: 15px; }
.brand-type-title { display: block; text-transform: capitalize; }
.brand-type-container li a { text-decoration: none; color: #565a5c; display: inline-block; }
.brand-type-container ul li:hover span.brand-type-title { font-weight: bold; }

.city-sprite { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-city-sprite-v2.png?v07Oct2016) no-repeat; display: inline-block; }
.c1-icon, .c12-icon, .c2-icon, .c10-icon, .c176-icon, .c105-icon, .c198-icon, .c220-icon { height: 48px; }
.c1-icon { width: 78px; background-position: 0 0; }
.c12-icon { width: 112px; background-position: -84px 0; }
.c2-icon { width: 82px; background-position: -202px 0; }
.c10-icon { width: 38px; background-position: -290px 0; }
.c176-icon { width: 33px; background-position: -334px 0; }
.c105-icon { width: 34px; background-position: -373px 0; }
.c198-icon { width: 110px; background-position: -413px 0; }
.c220-icon { width: 106px; background-position: -529px 0; }

.swiper-details-block {
    text-align: left;
}

.swiper-city .swiper-slide {
    width: 185px;
    height: 155px;
    background: #fff;
}

.swiper-city .swiper-card {
    width: 185px;
    min-height: 155px;
}

.swiper-city .swiper-image-preview {
    height: 80px;
    padding-top: 20px;
}

.swiper-city .swiper-details-block {
    padding: 10px 20px 20px;
}

/* swiper */
.used-swiper .swiper-slide {
    width: 200px;
    min-height: 200px;
    background: #fff;
    text-align: left;
}

.swiper-card a:hover {
    text-decoration: none;
}

.used-swiper .swiper-image-preview {
    width: 100%;
    height: 110px;
    padding: 5px 5px 0;
    display: table;
    text-align: center;
}

.used-swiper .image-thumbnail {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    background: #f5f5f5;
}

.used-swiper .swiper-image-preview img {
    height: 101px;
}

.used-swiper .swiper-details-block {
    padding: 5px 10px 10px;
}

.used-swiper .model-details-label {
    width: 80%;
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
    color: #82888b;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.author-grey-icon-xs, .kms-driven-icon-xs, .model-date-icon-xs, .model-loc-icon-xs {
    width: 9px;
    height: 10px;
    margin-right: 3px;
    vertical-align: middle
}

.model-date-icon-xs {
    background-position: -140px -502px
}

.kms-driven-icon-xs {
    background-position: -156px -502px
}

.model-loc-icon-xs {
    background-position: -173px -502px
}

.author-grey-icon-xs {
    background-position: -196px -486px
}
