/* city-model-carousel */
#city-model-used-carousel {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    background: #f9f9f9;
    position: relative;
}

#city-model-used-carousel .carousel-heading {
    width: 88%;
}

#close-city-model-carousel {
    position: absolute;
    top: 13px;
    right: 15px;
}

.city-model-carousel.card-container .swiper-slide {
    width: 220px;
}

.city-model-carousel.card-container .swiper-card {
    width: 220px;
    height: 66px;
    min-height: 66px;
    background: #fff;
}

.city-model-carousel .card-target-block {
    display: block;
    padding: 10px;
}

.city-model-carousel .card-target-block:hover {
    text-decoration: none;
}

.city-model-carousel .card-image-placeholder, .city-model-carousel .card-details-placeholder {
    display: inline-block;
    vertical-align: middle;
}

.city-model-carousel .card-image-placeholder {
    width: 63px;
    height: 35px;
    text-align: center;
    position: relative;
}

.city-model-carousel .card-image-placeholder img {
    width: 100%;
    height: 35px;
    line-height: 0;
}

.city-model-carousel .card-details-placeholder {
    width: 65%;
    padding-left: 3px;
}

/* city-sm-sprite */
.city-sm-sprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/city-sm-sprite.png?04Jan2017v2) no-repeat;
    display: inline-block;
}
/*
1   mumbai
2   bangalore
10  new-delhi
12  pune
105 hyderabad
176 chennai
198 kolkata
220 lucknow
*/
.c2-sm-icon, .c176-sm-icon, .c10-sm-icon, .c105-sm-icon, .c198-sm-icon, .c220-sm-icon, .c1-sm-icon, .c12-sm-icon {
    height: 32px;
}
.c1-sm-icon {
    width: 52px;
    background-position: 0 0;
}
.c12-sm-icon {
    width: 43px;
    background-position: -430px 0;
}
.c2-sm-icon {
    width: 54px;
    background-position: -136px 0;
}
.c10-sm-icon {
    width: 25px;
    background-position: -195px 0;
}
.c176-sm-icon {
    width: 21px;
    background-position: -225px 0;
}
.c105-sm-icon {
    width: 22px;
    background-position: -251px 0;
}
.c198-sm-icon {
    width: 43px;
    background-position: -478px 0;
}
.c220-sm-icon {
    width: 41px;
    background-position: -526px 0;
}

/* used-bikes-list */
#used-bikes-list h2 a {
    color: #2a2a2a;
}

#used-bikes-list li {
    margin-bottom: 20px;
}

#used-bikes-list li:first-child {
    padding-top: 0;
}

#used-bikes-list li:before {
    content: '';
    display: block;
    border-top: 1px solid #e2e2e2;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}

#used-bikes-list li:first-child:before {
    content: none;
}

.model-thumbnail-image {
    width: 100%; 
    max-width: 476px;
    margin: 0 auto;
    height: 202px;
    display: table;
    position: relative;
    text-align: center;
    background-color: #f5f5f5;
}

.model-image-target {
    width:100%;
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif') no-repeat center center;
}

.model-image-target:hover {
    text-decoration: none;
}

.model-thumbnail-image img {
    max-height: 202px;
}

.model-thumbnail-image img[src$=""]{background: #fff;}

.model-media-details {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 12px;
}

.model-media-item {
    display:inline-block;
    vertical-align: middle;
    padding: 4px 5px;
    color: #4d5057;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
}

.model-media-item:hover {
    text-decoration:none;
}

.model-media-count { 
    font-size:13px;
    line-height: 13px;
    display: inline-block;
    vertical-align: middle;
    color: #787878;
}

/* bike details */
.model-date-icon, .kms-driven-icon, .model-loc-icon { 
    width:10px;
    height:14px;
    margin-right: 5px;
    vertical-align:middle;
}

.model-date-icon {
    background-position:-140px -484px;
}

.kms-driven-icon {
    background-position:-159px -484px;
}

.model-loc-icon {
    background-position:-177px -484px;
}

.author-grey-sm-icon {
    height: 12px;
    margin-right: 5px;
    vertical-align:middle;
}

.model-details-label {
    width:85%;
    display: inline-block;
    vertical-align: middle;
    color: #82888b;
    text-align:left;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.btn.seller-details-btn {
    font-size: 14px;
    padding: 5px 31px;
}

/* sort-filter */
#sort-filter-wrapper {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 2;
    -moz-box-shadow: 0 0 6px #999;
    -webkit-box-shadow: 0 0 6px #999;
    -o-box-shadow: 0 0 6px #999;
    -ms-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999;
}

.sort-by-icon, .filter-icon {
    width: 18px;
    height: 12px;
    margin-right: 15px;
}

.sort-by-icon {
    background-position: -49px -510px;
}

.filter-icon {
    background-position: -49px -528px;
}

#sort-filters-loader {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(245,245,245,0.95);
    z-index: 4;
}

/* pagination */
#pagination-list-content {
    width:auto
}

#pagination-list {
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
}

.init-pagination li, #pagination-list li {
    float: left;
    margin-right: 2px;
    margin-left: 2px;
}

.init-pagination li.active, #pagination-list a {
    color: #82888b;
    font-size: 12px;
    border: 1px solid #fff;
    display: block;
    min-width: 25px;
    text-align: center;
}

#pagination-list a:hover {
    text-decoration: none;
}

#pagination-list li.active {
    color: #4d5057;
    font-weight: bold;
    border: 1px solid #a2a2a2;
    border-radius: 1px;
}

.pagination-control-prev, .pagination-control-next {
    position: absolute;
    top: 0;
    height: 20px;
}

.pagination-control-prev {
    left: 0;
}

.pagination-control-next {
    right: 5px;
}

.prev-page-icon, .next-page-icon {
    width: 18px;
    height: 18px;
}

.prev-page-icon {
    background-position: -164px -391px;
}

.next-page-icon {
    background-position: -178px -391px;
}

.pagination-control-prev.inactive .prev-page-icon, .pagination-control-next.inactive .next-page-icon {
    opacity: 0.2;
    pointer-events: none;
}

/* sort by */
.sort-popup-container {
    display: none;
    width: 80%;
    min-height: 350px;
    position: fixed;
    top: 14%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 5;
    margin: 0 auto;
}

.sort-popup-container .popup-header {
    font-size: 16px;
    color: #fff;
    padding: 17px 20px;
    background: #2a2a2a;
}

.sort-popup-container .popup-body {
    padding: 25px 20px 30px;
}

#sort-by-list li {
    font-size: 14px;
    color: #82888b;
    cursor: pointer;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;      
}

#sort-by-list li:first-child {
    margin-top: 0
}

.radio-uncheck {
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
    margin-right: 30px;
}

.radio-uncheck {
    background-position: -179px -80px;
}

.modal-background { display: none; background:#000; position:fixed; top:0; left:0; right:0; bottom:0; z-index:5; opacity:.6; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; }

.back-to-top {
    z-index: 3;
    bottom: 55px;
}

/* radio active */
#sort-by-list li.active {
    color: #4d5057;
    font-weight: bold;
}

#sort-by-list li.active .radio-uncheck {
    background-position: -179px -59px;
}

/* filter */
.filter-popup-container {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ui-corner-top {
    width: 100%;
    height: 50px;
}

.filter-back-arrow {
    padding: 15px 15px 12px;
    cursor: pointer;
}

.filter-popup-label {
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
}

#filter-selection-list {
    padding: 25px 30px 80px;
}

.filter-option-key {
    font-size: 12px;
    color: #82888b;
}

.filter-option-value {
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #4d5057;
    cursor: pointer;
    position: relative;
}

.selected-filters {
    width: 90%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.grey-right-icon {
    width: 7px;
    height: 11px;
    background-position: -69px -421px;
    position: absolute;
    right: 0;
    top: 11px;
}

.margin-bottom35 { 
    margin-bottom: 35px;
}

/* slider */
.filter-popup-container .ui-widget-content { background: #bababa; height: 3px; margin: 18px 0 3px; width: 96%; border-radius: 0px; }
.ui-slider .ui-slider-range { border: none; display: block; font-size: 0.7em; position: absolute; z-index: 1; border-radius: 0px; }
.ui-widget-header { background: #ef3030; height: 3px; }
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/slider-handle.png) no-repeat; cursor:pointer; height:28px; width:28px; display:block; margin-left: -9px; position: absolute; outline:none; top: -13px; z-index: 2; background-position:3px 3px; }

#previous-owners-list {
    overflow: hidden;
}

#previous-owners-list li {
    margin-left: 10px;
    float: left;
}

#previous-owners-list li:first-child {
    margin-left: 0
}

#previous-owners-list span {
    display: block;
    font-size: 16px;
    padding: 8px 14px;
    border: 1px solid #82888b;
    position: relative;
    border-radius: 1px;
    cursor: pointer;
}

#previous-owners-list .prev-owner-last-item {
    padding-right: 36px;
    padding-left: 36px;
}

#previous-owners-list span:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #fff;
}

#previous-owners-list .active span, #previous-owners-list .active span:before {
    border: 1px solid #4d5057;
}

#previous-owners-list .active span {
    font-weight: bold;
}

.filter-type-seller {
    font-size: 15px;
    color: #82888b;
}

.filter-type-seller.checked {
    font-weight: bold;
    color: #4d5057;
}

.filter-container-footer {
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;
}

.btn-size-0 {
    font-size: 14px;
    padding: 5px 0;
}

/* fixed */
#filter-container.fixed #filter-container-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#filter-container.fixed #filter-selection-list {
    padding-top: 75px;
}

#filter-container.fixed #filter-container-footer, #filter-container.fixed.bikes-footer #filter-bike-container-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

#filter-city-container.city-header {
    padding-top: 40px;
}

#filter-city-container.city-header .filter-input-box {
    position: fixed;
    top: 0;
    left: 0;
}

/* filter city */
#filter-city-container {
    background: #f5f5f5;
}

.filter-input-box {
    width: 100%;
}

#filter-city-list li {
    border-top: 1px solid #ccc;
    font-size: 14px;
    padding: 15px 20px;
    color: #333;
    cursor: pointer;
}

.filter-bike-banner {
    width:100%;
    height:110px;
    background: #fff url('https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/bike-popup-banner.png') repeat-x center bottom;
}

/* bike accordion */
#filter-bike-container {
    display: none;
    z-index: 3;
}

#filter-bike-container .filter-container-footer {
    z-index: 3;
}

.accordion-tab { 
    padding:4px 5px;
    position: relative;
    border-top: 1px solid #e2e2e2;
}

.accordion-tab .accordion-label-tab {
    width: 85%;
    padding: 11px 40px 11px 0;
    cursor: pointer;
}

.accordion-tab ~ .bike-model-list {
    display: none;
}

.accordion-tab .arrow-down {
    position: absolute;
    right: 20px;
    top: 23px;
    -moz-transition: transform .3s;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    -ms-transition: transform .3s;
    transition: transform .3s;
}

.accordion-tab .accordion-checkbox {
    padding: 15px;
    cursor: pointer;
}

.accordion-tab .accordion-label {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    max-width: 70%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.accordion-tab .accordion-count {
    font-size: 12px;
    color: #82888b;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 2px;
}

.checked-box, .unchecked-box {
    width: 14px;
    height: 14px;
    display: inline-block;
}

.unchecked-box {
    background-position: -174px -415px;
}

.checked-box {
    background-position: -174px -430px;
}

.arrow-down {
    width: 16px;
    height: 11px;
    background-position: -194px -421px;
}

.bike-model-list li {
    padding: 10px 20px;
    cursor: pointer;
}

.bike-model-list li:first-child {
    padding-top: 0;
}

.bike-model-list li.active .unchecked-box {
    background-position: -174px -430px;
}

.bike-model-label {
    font-size: 16px;
    color: #82888b;
    padding-left: 11px;
}

/* accordion active */
.accordion-tab.active .arrow-down {
    -moz-transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.accordion-tab.tab-checked .accordion-checkbox .unchecked-box {
    background-position: -174px -430px;
}

* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 350px) {

    .model-thumbnail-image {
        height: 170px;
    }

    .model-thumbnail-image img {
        height: 170px;
    }

    #previous-owners-list span {
        padding-right: 12px;
        padding-left: 12px;
    }

    #previous-owners-list .prev-owner-last-item {
        padding-right: 25px;
        padding-left: 25px;
    }

    #pagination-list a {
        font-size: 12px;
        min-width: 22px;
    }

    .sort-popup-container {
        top: 10px;
    }
}

/* lead capture popup */
#get-seller-details-popup.bwm-fullscreen-popup, #request-media-popup.bwm-fullscreen-popup {
    padding: 30px 30px 100px;
    display: none;
}

#mobile-verification-section, #update-mobile-content, #seller-details-section, #request-sent-section {
    display: none;
}

.btn-fixed-width {
    padding-right: 0;
    padding-left: 0;
    width: 205px;
}

#submit-request-sent-btn.btn{
    padding: 8px 67px
}

.size-small .icon-outer-container {
    width: 72px;
    height: 72px;
}

.size-small .icon-inner-container {
    width: 64px;
    height: 64px;
    margin: 3px auto;
}

.user-contact-details-icon {
    width: 29px;
    height: 30px;
    background-position: -109px -216px
}

.otp-icon {
    width: 29px;
    height: 29px;
    background-position: -109px -177px;
}

.edit-blue-icon {
    width: 25px;
    height: 25px;
    background-position: -110px -120px;
    position: relative;
    top: 13px;
    cursor: pointer;
}

.request-media-icon {
    width:32px;
    height:25px;
    background-position: -136px -428px;
    position:relative;
    top:2px;
}

.thankyou-icon {
    width:24px;
    height:28px;
    background-position: -138px -394px;
}

.no-image-icon {
    width:40px;
    height:30px;
    background-position: 0 -510px;
}

.margin-bottom35 { 
    margin-bottom: 35px;
}

.dealer-details-list li {
    margin-bottom: 25px;
}

.dealer-details-list .data-key {
    font-size: 12px;
    color: #82888b;
}

.dealer-details-list .data-value {
    font-size: 16px;
    font-weight: bold;
}

.back-to-top {
    bottom: 50px !important;
}