#bw-tips-list
	li
		padding-right: 30px
		padding-left: 30px
		margin-bottom: 20px

		&:first-child
			border-right: 1px solid #e2e2e2

	a
		display: block
		position: relative

		&:hover
			text-decoration: none

	.bike-tips-label
		width: 85%
		font-size: $font-size-medium

// tips
.care-icon,
.faq-icon
	width: 30px
	height: 30px
	vertical-align: middle

.care-icon
	background-position: 0 -43px

.faq-icon
	background-position: 0 -77px

.right-arrow
	width: 12px
	height: 20px
	background-position: -76px -102px
	position: absolute
	right: 0
	top: 20%