#report-abuse
    display: none
    width: 450px
    height: 300px
    position: fixed
    top: 15%
    left: 0
    right: 0
    background: #fff
    z-index: 6
    margin: 0 auto
    padding: 20px 30px

    textarea
        width: 100%
        height: 100px
        border: 1px solid #e2e2e2
        resize: none
        font-family: $font-open-sans

#report-background
    display: none
    background: #000
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 5
    opacity: 0.6
    filter: alpha(opacity=60)
    -moz-opacity: 0.6


.report-abuse-close-btn
	width: 16px
	height: 16px
	background-position: -36px -226px
	position: absolute
	top: 10px
	right: 10px
	cursor: pointer