@mixin carousel-card-category
	.card-category__tag
		&:before
			content: ''
			display: block
			position: absolute
			left: 8px
			top: 5px
			width: 15px
			height: 13px

	.carousel-card[data-review-category='40']
		.card-category__tag
			&:before
				@include star-white
	.carousel-card[data-review-category='24']
		.card-category__tag
			&:before
				@include flag-white

	.carousel-card[data-review-category='23']
		.card-category__tag
			&:before
				@include helmet-white
				top: 4px

//data-review-category= '40' for long term report review #68c7d2
// data-review-category= '23' for road test #57abeb
// data-review-category= '24' for first ride review #f2aa58

@mixin review-carousel-card()
	.card-category__tag
		padding-left: 20px

		&:before
			content: ''
			display: block
			position: absolute
			width: 15px
			height: 13px
			top: 2px
			left: 0


	.carousel-card[data-review-category='40']
		.card-category__tag
			&:before
				@include star-68c7d2-icon
				left: 5px

	.carousel-card[data-review-category='24']
		.card-category__tag
			&:before
				@include flag-f2aa58-icon
				left: 5px

	.carousel-card[data-review-category='23']
		.card-category__tag
			&:before
				@include helmet-teal