.card-category__tag
	&:before
		content: ''
		display: block
		position: absolute
		left: 8px
		top: 5px
		width: 15px
		height: 13px

.carousel-card[data-review-category='0']
	.card-category__tag
		&:before
			@include star-white

.carousel-card[data-review-category='1']
	.card-category__tag
		&:before
			@include flag-white

.carousel-card[data-review-category='2']
	.card-category__tag
		&:before
			@include helmet-white
			top: 4px
