.section-header
	padding: 15px 20px
	@include box-shadow-card()

.section-bottom-margin
	margin-bottom: 20px

.section-inner-padding
	padding: 15px 20px
	@include box-shadow-card()

.section-h2-title
	font-size: 18px