.model-related__card
    width: 33%
    padding-left: 30px
    display: inline-block
    font-size: 0

.related-card__title
    font-size: 18px
    font-weight: 600
    padding-bottom: 25px

.related-card__list 
	li
		font-size: 16px
		color: #787878
		margin-bottom: 20px


@media only screen and (max-width: 768px)
	.model-related__card
		width: 	190px
		max-height: 227px
		padding: 20px
		padding-bottom: 0

	.related-card__title
		font-size: 14px
		padding-bottom: 18px
		
	.related-card__list 
		li
			font-size: 12px
			margin-bottom: 20px

	.model-related-swiper
		.swiper-slide
			margin-right: 0
			width: 190px

			&:last-child
				margin-right: 30px