@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/css/fonts/open-sans-v15-latin-700.woff2') format('woff2');
}
