.trackday-banner {
    background: url(https://imgd1.aeplcdn.com/0x0/bw/static/landing-banners/m/dealer-locator-banner.jpg) center bottom no-repeat #8d8c8a;
    background-size: cover;
    height: 203px;
    padding-top: 85px;
}

.text-white {
    color: #fff;
}

.target-link {
    color: #2a2a2a;
}

.section-container {
    margin-bottom: 25px;
}

h2.section-heading {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

/* articles */
.article-list li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e2e2e2;
}

.article-list li:first-child {
    border-top: none;
}

.review-image-full-width-wrapper {
    width: 100%;
    max-width: 320px;
    min-height: 156px;
    border: 1px solid #e2e2e2;
    margin: 0 auto 10px;
}

.review-image-full-width-wrapper img {
    width: 100%;
    min-height: 156px;
}

.bg-loader-placeholder {
    width: 100%;
    background: url(https://imgd1.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif) no-repeat center;
    line-height: 0;
}

.article-stats-wrapper {
    min-width: 115px;
    padding-right: 10px;
}

.review-image-wrapper {
    width: 120px;
    height: 68px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.review-image-wrapper img {
    width: 100%;
    height: 68px;
}

.review-heading-wrapper {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}

.review-heading-full-width-wrapper .target-link, .review-heading-wrapper .target-link {
    margin-bottom: 7px;
}

/* video container */
.video-content {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-content .bg-loader-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
}
 
.video-content iframe,
.video-content object,
.video-content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* expert-reviews */
.expert-review-image-preview {
    height: 140px;    
}

.expert-review-image-preview img {
    height: 140px;
    width: 100%;
}

.expert-review-details-block {
    padding: 15px 10px;
}

/* Making of track day */
.padding-15-20 {
    padding: 15px 20px;
}

.track-day-collage-list li {
    min-height: 160px;
    display: block;
}

.track-day-collage-list img {
    width: 100%;
}

@media (max-width: 350px) {
    .review-heading-wrapper {
        width: 50%;
    }
}