<configuration>
  <appSettings>
    <add key="CholaMSQueueName" value="CholaMS" />
    <!-- Chola Assistance Mobile Number-->
    <add key="CholaAssitanceNo" value="8695823863"/>
    <add key="cholaUrl" value="http://websalespr.cholainsurance.com/websales/frmCarWaleProcessingPage.aspx"/>
  </appSettings>
</configuration>