@model Bikewale.Entities.Filters.FilterBase

@if (Model != null && Model.FilterText != null)
{
    <div class="refine-result">
        <h3 class="refine-result__heading">Refine Your Results</h3>
        <p class="refine-result__instruction">@Model.FilterText</p> 
        <ul class="refine-result__list">
            @if(Model.FilterType != "budget")
            { 
                @Html.Partial("~/Views/Filters/InPageFilters/_InPageMinSpecsFilters_Mobile.cshtml", Model)
            }
            else
            {
                @Html.Partial("~/Views/Filters/InPageFilters/_InPageBudgetFilter_Mobile.cshtml", Model)
            }
        </ul>

        <button type="button" id="refineResultApply" class="inv-blue--disabled btn btn-inv-blue refine-result__view-more refine-result__apply" data-filter-type ="@Model.FilterType">Apply</button>
    </div>
}
