// Core variables and mixins
@import ../../components/typography
@import ../../base/variables
@import ../../components/mixins
@import ../../partials/rating

@import ../../mixins/index
@import ../../utils/index

body
	overflow-x: hidden

.image-grid__list
	margin: 0 -2px
	overflow: hidden
	background: #fff

	img
		position: relative
		width: 100%
		line-height: 0

		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			width: 100%
			height: 100%
			display: block
			background: #fff

.image-grid-list__item
	float: left
	min-height: 68px
	overflow: hidden
	position: relative
	text-align: center
	cursor: pointer
	background-color: #fff
	line-height: 0

	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: block
		border: 2px solid #fff
		z-index: 1

.image-grid__list
	&[data-grid="7"]
		.image-grid-list__item
			&:nth-child(7n+1)
				width: 66.67%

			&:nth-child(7n+2),
			&:nth-child(7n+3)
				width: 33.33%

			&:nth-child(7n+4),
			&:nth-child(7n+7)
				width: 100%

			&:nth-child(7n+5),
			&:nth-child(7n+6)
				width: 50%


.image-grid__list
	&[data-grid="6"]
		.image-grid-list__item
			&:nth-child(6n+1)
				width: 100%

			&:nth-child(6n+2)
				float: right
				width: 66.67%

			&:nth-child(6n+3),
			&:nth-child(6n+4)
				width: 33.33%
			
			&:nth-child(6n+5),
			&:nth-child(6n+6)
				width: 50%

			&:nth-child(12n+8)
				float: left


.image-grid__list-more
	padding: 20px
	background: #fff

.image-grid__more-btn
	width: 100%
	padding: 8px

.btn-inv-blue
	background: #fff
	color: #0288d1
	border: 1px solid #0288d1


.video-slug__content
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	padding: 20px
	display: block
	text-align: left
	line-height: 1.42857143
	background: rgba(0, 0, 0, .6)
	border: 2px solid #fff
	z-index: 2

.video-slug__title
	color: #fff
	font-size: 12px
	font-weight: 700
	text-transform: uppercase
	padding-left: 32px
	margin-bottom: 10px
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/play.svg') no-repeat left
	background-size: 22px
	line-height: 22px

.video-slug__list
	color: #fff
	font-size: 10px
	margin-bottom: 10px
	margin-left: 23px
	list-style: disc

	li
		padding-left: 10px

.video-slug__more-btn
	font-size: 10px
	padding: 4px 14px
	margin-left: 9px

	&.btn-inv-blue
		border-color: #fff

// video slug sizes
// 100%
[data-slug-size="large"]
	.video-slug__content
		padding: 40px

	.video-slug__title
		font-size: 14px
		padding-left: 40px
		background-size: 30px
		line-height: 30px

	.video-slug__list
		font-size: 12px
		margin-left: 27px

		li
			padding-left: 13px

	.video-slug__more-btn
		font-size: 12px
		padding: 5px 18px
		margin-left: 12px

// 50%
[data-slug-size="small"]
	.video-slug__list
		display: none

	.video-slug__title
		margin-bottom: 15px

	.video-slug__more-btn
		margin-left: 0

// 33.33%
[data-slug-size="extra-small"]
	.video-slug__content
		padding: 10px

	.video-slug__title
		margin-bottom: 5px

	.video-slug__list
		display: none

	.video-slug__more-btn
		font-size: 9px
		padding: 4px 8px
		margin-left: 0		


.page-header
	padding: 15px 20px


.model-gallery__container
	position: relative
	z-index: 6

.black-window
	background: black
	display: none
	height: 100%
	width: 100%
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	z-index: 5

.gallery-image__footer
	@include flexbox
	@include justify-content(space-between)
	align-items: center
	background: color('border-light')
	padding-left: 20px
	width: 100%
	height: 40px

.model-gallery
	padding-bottom: 60px

	.swiper-slide
		@include flexbox
		@include justify-content(center)
		@include align-items(center)
		width: 100%
		height: 203px
		margin: 0
		img
			width: auto
			height: auto
			max-height: 203px

	&
		.gallery--next,
		.gallery--prev
			background-color: transparent !important
			border: none
			top: 44%

@media only screen and (max-width: 320px)
	.model-gallery
		.swiper-slide
			height: 180px
		
			img
				max-height: 180px	

.gallery-image__count
	display: inline-block
	vertical-align: middle
	font-size: 12px
	color: color('light-grey')


.gallery-image__feature
	> a
		margin-right: 8px
		padding: 20px
		
		&:last-child
			margin-right: 0

.gallery__download-icon
	display: inline-block
	vertical-align: middle
	height: 18px
	width: 20px
	@include download-2d2d2d-icon
	background-size: 18px

.share-icon
	display: inline-block
	vertical-align: middle
	height: 18px
	width: 14px
	@include share-2d2d2d-icon
	background-size: 17px

.zoom-icon
	display: inline-block
	vertical-align: middle
	height: 16px
	width: 16px
	@include fullscreen-2d2d2d-icon
	background-size: 17px

.screen--rotate
	display: none

.model-gallery--relative
	z-index: 6
	background: color('white')
	position: relative
	left: 0
	width: 100%


	.model-gallery
		height: 100%

	.swiper-slide
		height: auto
		width: 100%

	.zoom-icon
		display: none

	.share-icon
		margin-right: 0

	.model-gallery__image-title
		background: color('dark-black')
		color: color('light-grey')
		width: 100%
		text-align: center
		font-size: 12px

	.landscape-icon
		display: inline-block
		vertical-align: middle
		height: 40px
		width: 40px
		text-align: right
		background: url('/image/rotate-orange.svg') no-repeat center
			
	.screen--rotate
		&[data-fixed='0']
			@include vendor-prefix('border-radius', 2px)
			@include vendor-prefix('transform', translateX(-50%))
			left: 50%
			padding: 0
			display: none
			border: 1px solid #ffcf63
			color: #ffcf63
			position: fixed
			bottom: 13%
			width: auto
			white-space: nowrap
			padding-right: 15px

			.landscape-text
				display: inline-block
				vertical-align: middle
				padding: 9px 14px 10px
				font-size: 12px

		&[data-fixed='1']
			position: static
			display: inline-block
			padding: 0

			.landscape-text
				display: none

			.landscape-icon
				background: url('/image/rotate-2d2d2d.svg') no-repeat center
				background-size: 19px

	.gallery-image__footer
		&[data-visible='rotate']
			.screen--rotate
				&[data-fixed='0']
					display: inline-block
		&[data-visible='color']
			.gallery-image__color
				&[data-fixed='0']
					display: inline-block
			

.gallery-image__color
	display: none
	&[data-fixed='1']
		color: color('white')
		font-size: 12px

	&[data-fixed='0']
		color: color('default')


.gallery-color--fixed
	@include vendor-prefix('border-radius', 16px)
	@include vendor-prefix('transform', translateX(-50%))
	background: color('white')
	padding: 9px 14px 9px 34px
	color: color('default')
	font-size: 12px
	position: fixed
	bottom: 12%
	left: 50%
	text-transform: capitalize

@media screen and (min-aspect-ratio: 1/1) and (orientation: landscape)
	.model-gallery--relative
		.model-gallery
			padding-bottom: 0

			.swiper-slide
				height: 100vh
				background: color('black')
					
				img
					max-height: 100%

		#mainPhotoSwiper
			&:hover
				.gallery-image__footer
					display: flex

		.gallery-image__footer
			display: none
			position: fixed
			bottom: 0
			left: 0
			right: 0
			width: 100%
			z-index: 1
			background: #1a1a1a


			.screen--rotate[data-fixed='0']
				position: static
				display: inline-block
				border: none
				padding: 0

				.landscape-text
					display: none

				.landscape-icon
					background: url('/image/rotate.svg') no-repeat center
					background-size: 19px

			&[data-fixed='1']
				.landscape-icon
					background: url('/image/rotate.svg') no-repeat center
					background-size: 19px

				&[data-visible='color']
					.gallery-image__color
						&[data-fixed='1']
							display: inline-block


		.share-icon
			background-image: url('/image/share.svg')
			margin-right: 8px

		.gallery__download-icon
			background-image: url('/image/download.svg')
		
		.model-gallery__image-title
			padding: 0 20px
			display: inline
			position: static
			font-size: 12px
			background: transparent
			color: color('light-grey')


.model-gallery__image-title
	background: color('white')
	padding: 15px 20px 25px
	font-size: 14px
	position: absolute
	bottom: 0
	left: 0
	right: 0
	width: 100%

@mixin model-info__image($width: 122px, $height: 69px)
	.model-info__image
		height: $height
		width: $width
		max-width: 100%
		display: inline-block
		vertical-align: middle
		margin-top: 20px

		img
			height: $height
			width: auto

@include model-info__image()

.model-info-section
	margin: 10px 10px 14px
	background: color('white')
	@include vendor-prefix('box-shadow',  0 2px 4px 0 rgba(213, 213, 213, 0.5))

.model-info__target-link
	display: block

	&:hover
		text-decoration: none

.model-info__container
	@include flexbox
	padding: 10px 10px 20px
	position: relative

	.rating-badge
		position: absolute
		top: 10px
		left: 10px


.model-info-description
	min-width: 0
	padding-left: 10px
	display: inline-block
	vertical-align: middle

.model-info__title
	@include text-truncate
	font-size: 16px
	font-weight: $font_semibold
	line-height: 22px
	margin-bottom: 12px

.model-info__ex-showroom
	@include text-truncate
	margin-bottom: 12px
	font-size: 12px
	color: color('light-grey')
	margin-bottom: 6px

.card-exshowroom__value
	font-size: 18px
	color: color('default')

.text--semibold
	font-weight: $font_semibold

@for $i from 1 through 5
	@include rating-badge($i)

.model-info__specs-container
	border-top: 1px solid color('border-dark')	

.model-info__specs-item
	font-size: 11px
	font-weight: $font-semibold
	text-align: left
	display: inline-block
	vertical-align: middle
	padding: 16px
	margin-right: 8px

	&:last-child
		margin-right: 0

	&:hover
		text-decoration: none

.page__heading-h2
	@include heading-h2

.similar-model
	.page__heading-h2
		margin: 27px 16px 15px
			

@import ../../partials/similar-bike-carousel

@include similar-model__card()
@include similar-model__image()
@include similar-model__footer


// colors slide
.model-gallery__color-slide
	@include flexbox
	@include justify-content(center)
	@include align-items(center)
	@include flex-direction(column)
	width: 100%
	height: 100%
	padding: 10px
	background: radial-gradient(#82888b, #ffffff)
	position: relative

.color-slide__title
	color: #2a2a2a
	font-size: 16px
	font-weight: 700
	margin-bottom: 30px

.color-slide__more-count
	color: #fff
	font-size: 12px
	font-weight: 600

.color-slide__list
	margin-bottom: 10px

.color-slide-list__item
	margin-left: 30px
	display: inline-block
	vertical-align: middle

	&:first-child
		margin-left: 0

.swiper-slide__more-btn
	font-size: 12px
	padding: 9px 25px
	border-radius: 20px
	position: absolute
	bottom: -19px


// color boxes
.color-box
	width: 37px
	height: 37px
	background: #f1f1f1
	border-radius: 4px
	display: inline-block
	overflow: hidden

	span
		width: 100%
		display: block

	&[data-color-count="1"]
		span
			height: 100%

	&[data-color-count="2"]
		span
			height: 50%

	&[data-color-count="3"]
		span
			height: 33.4%


