// Core variables and mixins
@import ../../components/typography
@import ../../base/variables
@import ../../components/mixins
@import ../../partials/rating

@import ../../mixins/index
@import ../../utils/index

body
	overflow-x: hidden

.image-grid__list
	margin: 0 -2px
	overflow: hidden
	background: #fff

	img
		position: relative
		width: 100%
		line-height: 0

		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			width: 100%
			height: 100%
			display: block
			background: #fff

.image-grid-list__item
	float: left
	min-height: 68px
	overflow: hidden
	position: relative
	text-align: center
	cursor: pointer
	background-color: #fff
	line-height: 0

	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: block
		border: 2px solid #fff
		z-index: 1

.image-grid__list
	&[data-grid="7"]
		.image-grid-list__item
			&:nth-child(7n+1)
				width: 66.67%

			&:nth-child(7n+2),
			&:nth-child(7n+3)
				width: 33.33%

			&:nth-child(7n+4),
			&:nth-child(7n+7)
				width: 100%

			&:nth-child(7n+5),
			&:nth-child(7n+6)
				width: 50%


.image-grid__list
	&[data-grid="6"]
		.image-grid-list__item
			&:nth-child(6n+1)
				width: 100%

			&:nth-child(6n+2)
				float: right
				width: 66.67%

			&:nth-child(6n+3),
			&:nth-child(6n+4)
				width: 33.33%
			
			&:nth-child(6n+5),
			&:nth-child(6n+6)
				width: 50%

			&:nth-child(12n+8)
				float: left


.image-grid__list-more
	padding: 20px
	background: #fff

.image-grid__more-btn
	width: 100%
	padding: 8px

.btn-inv-blue
	background: #fff
	color: #0288d1
	border: 1px solid #0288d1


.video-slug__content
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	padding: 20px
	display: block
	text-align: left
	line-height: 1.42857143
	background: rgba(0, 0, 0, .6)
	border: 2px solid #fff
	z-index: 2

.video-slug__title
	color: #fff
	font-size: 12px
	font-weight: 700
	text-transform: uppercase
	padding-left: 32px
	margin-bottom: 10px
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/play.svg') no-repeat left
	background-size: 22px
	line-height: 22px

.video-slug__list
	color: #fff
	font-size: 10px
	margin-bottom: 10px
	margin-left: 23px
	list-style: disc

	li
		padding-left: 10px

.video-slug__more-btn
	font-size: 10px
	padding: 4px 14px
	margin-left: 9px

	&.btn-inv-blue
		border-color: #fff

// video slug sizes
// 100%
[data-slug-size="large"]
	.video-slug__content
		padding: 40px

	.video-slug__title
		font-size: 14px
		padding-left: 40px
		background-size: 30px
		line-height: 30px

	.video-slug__list
		font-size: 12px
		margin-left: 27px

		li
			padding-left: 13px

	.video-slug__more-btn
		font-size: 12px
		padding: 5px 18px
		margin-left: 12px

// 50%
[data-slug-size="small"]
	.video-slug__list
		display: none

	.video-slug__title
		margin-bottom: 15px

	.video-slug__more-btn
		margin-left: 0

// 33.33%
[data-slug-size="extra-small"]
	.video-slug__content
		padding: 10px

	.video-slug__title
		margin-bottom: 5px

	.video-slug__list
		display: none

	.video-slug__more-btn
		font-size: 9px
		padding: 4px 8px
		margin-left: 0		


.page-header
	padding: 15px 20px

.model-gallery-section
	position: relative
	padding-bottom: 24px

.gallery-image__footer
	@include flexbox
	@include justify-content(space-between)
	align-items: center
	background: color('border-light')
	position: absolute
	bottom: 0
	left: 0
	right: 0
	padding-left: 20px
	padding-right: 20px
	width: 100%

.model-gallery
	.swiper-slide
		width: 100%
		height: 203px

		img
			width: auto
			height: auto
			-ms-transform: translate(-50%, -50%)
			-webkit-transform: translate(-50%, -50%)
			-moz-transform: translate(-50%, -50%)
			transform: translate(-50%, -50%)
			position: absolute
			left: 50%
			top: 43%
			line-height: 0
			text-indent: 999999px

.gallery-image__count
	display: inline-block
	vertical-align: middle
	font-size: 12px
	color: color('light-grey')
.gallery-image__feature
	> a
		margin-right: 28px
		padding: 20px 10px
		
		&:last-child
			margin-right: 0

.gallery__download-icon
	display: inline-block
	vertical-align: middle
	height: 18px
	width: 20px
	background: url('/image/download.svg') no-repeat center
	background-size: 18px

.share-icon
	display: inline-block
	vertical-align: middle
	height: 18px
	width: 14px
	background: url('/image/share.svg') no-repeat center
	background-size: 16px

.zoom-icon
	display: inline-block
	vertical-align: middle
	height: 16px
	width: 16px
	background: url('/image/fullscreen.svg') no-repeat center
	background-size: 17px


.model-gallery--fixed
	z-index: 99
	background: black
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	height: 100%
	width: 100%
	-webkit-transition: all 2s
    transition: all 2s

	.swiper-slide
		height: 100%
		width: 100%
		-webkit-transition: all 1s
		transition: all 1s

@mixin model-info__image($width: 144px, $height: 67px)
	.model-info__image
		height: $height
		width: $width
		max-width: 100%
		display: inline-block
		vertical-align: middle
		margin-top: 20px

		img
			height: $height
			width: auto

@include model-info__image()

.model-info-section
	margin: 10px 10px 14px
	background: color('white')
	@include vendor-prefix('box-shadow',  0 2px 4px 0 rgba(213, 213, 213, 0.5))

.model-info__target-link
	display: block

	&:hover
		text-decoration: none

.model-info__container
	@include flexbox
	padding: 10px 10px 20px
	position: relative

	.rating-badge
		position: absolute
		top: 10px
		left: 10px


.model-info-description
	display: inline-block
	vertical-align: middle

.model-info__title
	@include text-truncate
	font-size: 16px
	font-weight: $font_semibold
	line-height: 22px
	margin-bottom: 12px

.model-info__ex-showroom
	@include text-truncate
	margin-bottom: 12px
	font-size: 12px
	color: color('light-grey')
	margin-bottom: 6px

.card-exshowroom__value
	font-size: 18px
	color: color('default')

.text--semibold
	font-weight: $font_semibold

@for $i from 1 through 5
	@include rating-badge($i)

.model-info__specs-container
	border-top: 1px solid color('border-dark')	

.model-info__specs-item
	font-size: 11px
	font-weight: $font-semibold
	text-align: left
	display: inline-block
	vertical-align: middle
	padding: 16px
	margin-right: 8px

	&:last-child
		margin-right: 0

.page__heading-h2
	@include heading-h2

.similar-model
	.page__heading-h2
		margin: 27px 16px 15px
			

@import ../../partials/similar-bike-carousel

@include similar-model__card()
@include similar-model__image()
@include similar-model__footer
