// Core variables and mixins
@import ../components/variables
@import ../components/mixins

// Components
@import ../components/typography
@import ../modules/section
@import ../components/buttons
@import ../components/inline-grid
@import ../components/rating-count
@import ../components/rating-bar
@import ../components/rating-badge

// Page specific
@import details-style
@import bike-comparison-grid
@import ../components/select-box-atf
@import ../modules/collapsible-content
@import ../modules/comparison-type-carousel


.model-accordion-tab
	background: #fff
// Compare with similar bikes swiper

.compare-bike-carousel
	.card-desc-block
		margin-bottom: 15px
		padding-bottom: 0

.compare-bike-carousel
	.card-desc-block:after
		content: ''
		display: block
		height: 1px
		margin-top: 15px
		background-color: #e2e2e2

.compare-with-card
	display: inline-block
	vertical-align: middle
	text-align: center
	width: 118px
	min-height: 100px
	padding-bottom: 10px
	border: 1px solid #e2e2e2
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px

@media only screen and (max-width: 1024px)
	.compare-with-card
		width: 113px

.compare-card__title
    padding: 5px 5px 0
    white-space: nowrap
    width: 100%
    color: #4d5057
    font-size: 12px
    overflow: hidden
    text-overflow: ellipsis

.compare-with-card:hover
	border: 1px solid #a2a2a2
	text-decoration: none

.compare-card__image-preview
	height: 65px
	padding: 5px
	text-align: center

	img
		width: 100px
		height: auto


.bw-tabs_title
	padding: 18px 20px
	font-size: 18px
	font-weight: 700
	text-transform: capitalize
	border-top: 1px solid #e2e2e2
	border-bottom: 1px solid #e2e2e2
	background: #f9f9f9

.fixed-overall-tab
	background: #fff
	display: block
	width: 976px
	position: fixed
	top: 0
	-moz-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1
	-webkit-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1
	-o-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1
	-ms-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1
	box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1