
<div id="mck-side-panel">
    <div id="mck-sidebox" class="mck-sidebox mck-box fade">
        <div class="mck-box-dialog mck-box-sm mck-right mck-bg-white">
            <div id="mck-sidebox-content"
                 class="mck-sidebox-content mck-box-content">
                <div id="mck-conversation-header"
                     class="mck-conversation-header mck-truncate n-vis"></div>
                <div class="mck-box-top desktop-header">
                    <div class="blk-lg-12">
                        <div id="mck-tab-individual" class="mck-row n-vis tab-individual-header">
                            <div id="mck-icon-backward" class="mck-tab-link blk-lg-2 back-arrow">
                                <a href="javascript:void(0)" target="_self" role="link" class="mck-conversation-tab-link">
                                    <span id="mck-icon-backward-icon" class="mck-icon-backward"></span>
                                </a>
                            </div>
                            <div class="blk-lg-6 mck-box-title">
                                <div id="mck-tab-title" class="mck-tab-title mck-truncate">
                                    Conversations
                                </div>
                                <div id="mck-tab-status"
                                     class="mck-tab-status mck-truncate n-vis"></div>
                                <div class="mck-typing-box mck-truncate n-vis">
                                    <span id="mck-typing-label">typing...</span>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="sidebox-close" class="mck-close-sidebox blk-lg-2 desktop-cross-icon" aria-label="Close">
                            <span class="mck-icon-backward" aria-hidden="true"></span>
                        </button>
                        <div id="mck-tab-conversation" class="mck-row blk-lg-8">
                            <h4 id="mck-conversation-title"
                                class="mck-box-title mck-truncate all-chat-title">
                                Chats
                            </h4>
                        </div>
                    </div>
                    <div class="blk-lg-2 hide">
                        <button type="button"
                                class="mck-minimize-icon mck-box-close mck-close icon n-vis">
                            <span aria-hidden="true">&minus;</span>
                        </button>
                    </div>
                </div>
                <div id="mck-product-group"
                     class="mck-tab-panel mck-btn-group mck-product-group">
                    <div id="mck-product-box"
                         class="mck-product-box n-vis mck-dropdown-toggle"
                         data-toggle="mckdropdown" aria-expanded="true">
                        <div class="mck-row">
                            <div class="blk-lg-10">
                                <div class="mck-row">
                                    <div class="blk-lg-3 mck-product-icon"></div>
                                    <div class="blk-lg-9">
                                        <div class="mck-row">
                                            <div class="blk-lg-8 mck-product-title mck-truncate"></div>
                                            <div class="move-right mck-product-rt-up mck-truncate blk-lg-4">
                                                <strong class="mck-product-key"></strong><span class="mck-product-value"></span>
                                            </div>
                                        </div>
                                        <div class="mck-row">
                                            <div class="blk-lg-8 mck-truncate mck-product-subtitle"></div>
                                            <div class="move-right mck-product-rt-down mck-truncate blk-lg-4">
                                                <strong class="mck-product-key"></strong><span class="mck-product-value"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blk-lg-2">
                                <span class="mck-caret n-vis"></span>
                            </div>
                        </div>
                    </div>
                    <div class="other-car-list">
                        <div class="mck-product__other-cars">Other Cars <span class="mck-product__other-car-subtitle"></span>(from same dealer)</div>
                        <ul id="mck-conversation-list"
                            class="mck-dropdown-menu menu-right mck-conversation-list n-vis"
                            role="menu"></ul>
                    </div>
                </div>
                <div id="mck-tab-option-panel"
                     class="mck-tab-panel mck-top-btn-panel">
                    <div id="mck-tab-menu-box" class="mck-tab-menu-box vis">
                        <div class="mck-row">
                            <div class="blk-lg-2 move-right">
                                <button type="button" class="mck-tab-link mck-box-close mck-close-sidebox move-right sidebox-close cross-icon" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                                <div class="mck-dropdown-toggle" data-toggle="mckdropdown"
                                     aria-expanded="true">
                                    <span class="mckdropdown__icon"></span>
                                </div>
                                <ul id="mck-tab-menu-list"
                                    class="mck-dropdown-menu mck-tab-menu-box menu-right tab-menu"
                                    role="menu">
                                    <li class="mck-tab-message-option">
                                        <a href="javascript:void(0)" id="mck-btn-clear-messages"
                                           class="mck-btn-clear-messages menu-item"
                                           title="Clear Messages">Clear Messages</a>
                                    </li>
                                    <li id="li-mck-block-user">
                                        <a href="#" target="_self"
                                           id="mck-block-button" class="menu-item" title="Block User">
                                            Block User
                                        </a>
                                    </li>
                                    @*<li id="li-mck-group-info" class="mck-group-menu-options">
                                        <a href="#" target="_self" id="mck-group-info-btn" class="menu-item"
                                           title="Group Info">Group Info</a>
                                    </li>
                                    <li id="li-mck-leave-group" class="mck-group-menu-options">
                                        <a href="#" target="_self" id="mck-btn-leave-group" class="menu-item"
                                           title="Exit Group">Exit Group</a>
                                    </li>
                                    <li id="li-mck-video-call">
                                        <a href="#" target="_self" id="mck-btn-video-call" class="menu-item n-vis" title="Video Call">Video Call</a>
                                    </li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mck-box-body">
                    @*<div id="mck-video-call-indicator" class="applozic-launchar n-vis row">
                        <div id="mck-video-call-icon" class="col-lg-3 mck-alpha-contact-image">
                            <span class="mck-contact-icon"></span>
                        </div>
                        <div id="mck-vid-btn" class="mck-vid-flex-box">
                            <div id="mck-video-call-indicator-txt" class="mck-video-call-indicator-txt"></div>
                            <div id="mck-call-btn-div" class="col-lg-8">
                                <button id="mck-vid-receive-btn" class="mck-btn">Accept</button>
                                <button id="mck-vid-reject-btn" class="mck-btn">Reject</button>
                            </div>
                        </div>
                    </div>*@
                    <div id="mck-message-cell" class="mck-tab-cell mck-message-cell">
                        <div id="mck-price-widget"
                             class="mck-row mck-price-widget mck-top-widget n-vis">
                            <div class="mck-widget-panel">
                                <input type="text" id="mck-price-text-box"
                                       placeholder="Enter final agreed price">
                                <button type="button" id="mck-price-submit"
                                        class="mck-btn mck-btn-green mck-price-submit" title="Submit">
                                    <span>Submit</span>
                                </button>
                            </div>
                        </div>
                        <div class="mck-message-inner"></div>
                        <div id="mck-contact-loading" class="mck-loading">
                            <img src="https://imgd.aeplcdn.com/0x0/cw/static/used/chat/old-images/ring.gif" alt="Loading" />
                        </div>
                        <div id="mck-no-conversations"
                             class="mck-no-data-text mck-text-muted n-vis">
                            <h3>No conversations yet!</h3>
                        </div>
                        <div id="mck-no-messages"
                             class="mck-no-data-text mck-text-muted n-vis">
                            <h3>No Chat History Available</h3>
                        </div>
                        <div id="mck-no-more-conversations"
                             class="mck-show-more-icon n-vis">
                            <h3>No more conversations!</h3>
                        </div>
                        <div id="mck-no-more-messages" class="mck-show-more-icon n-vis">
                            <p>No more messages!</p>
                        </div>
                    </div>
                </div>
                <div id="mck-offline-message-box"
                     class="mck-offline-message-box n-vis">
                    SET DEFAULT OFFLINE
                    MESSAGE!
                </div>
                <div id="mck-sidebox-ft" class="mck-box-ft">
                    <div class="mck-box-form mck-row n-vis">
                        <div class="blk-lg-12">
                            <p id="mck-msg-error" class="mck-sidebox-error n-vis"></p>
                        </div>
                        <div id="mck-msg-response"
                             class="blk-lg-12 mck-box-response n-vis">
                            <div id="mck-response-text" class="response-text"></div>
                        </div>
                        <div class="blk-lg-12">
                            <form id="mck-msg-form" class="vertical mck-msg-form">
                                <div class="mck-form-group n-vis">
                                    <label class="sr-only placeholder-text control-label"
                                           for="mck-msg-to">To:</label> <input class="mck-form-cntrl"
                                                                               id="mck-msg-to" name="mck-msg-to" placeholder="To" required>
                                </div>
                                @*<div id="mck-audio" class="mck-mic-timer n-vis">
                                    <a href="#" id="mck-stop-recording" class="mck-stop-btn n-vis "></a>
                                    <label id="mck-minutes">00</label>:<label id="mck-seconds">00</label>
                                </div>*@
                                <div id="mck-reply-to-div" class="n-vis">
                                    <button type="button" id="close"
                                            class="mck-box-close mck-close-panel move-right">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div id="mck-reply-to" class="mck-msgto"></div>
                                    <div id="mck-reply-msg"> </div>
                                </div>
                                <div class="mck-form-group last last-child">
                                    <label class="sr-only placeholder-text control-label"
                                           for="mck-textbox">Message</label>
                                    <div id="mck-textbox-container" class="mck-textbox-container">
                                        <div class="mck-blk-2 mck-text-box-panel move-left mck-btn-smiley">
                                            <div class="mck-blk-12">
                                                <button type="button" id="mck-btn-smiley"
                                                        class="mck-btn mck-btn-smiley mck-btn-text-panel"
                                                        title="Smiley">
                                                    <span class="mck-icon-smiley-blue"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mck-blk-2 mck-text-box-panel mck-mid-panel move-left">
                                            <div id="mck-attachmenu-box" class="mck-attach-menu">
                                                <div id="mck-btn-attach"
                                                     class="mck-dropdown-toggle mck-btn-attach mck-file-attach-label mck-btn mck-btn-text-panel"
                                                     data-toggle="mckdropdown" aria-expanded="true"
                                                     title="Attach File">
                                                    <span class="mck-icon-upload"></span>
                                                </div>
                                                <ul id="mck-upload-menu-list"
                                                    class="mck-dropup-menu mck-upload-menu-list mck-menu-right"
                                                    role="menu">
                                                    <li>
                                                        <a id="mck-file-up" href="javascript:void(0)"
                                                           class="mck-file-upload menu-item"
                                                           title="File &amp; Photos">
                                                            <span id="mck-file-up-label" class="file-upload__attachment-icon"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a id="mck-btn-loc" href="javascript:void(0)"
                                                           class="menu-item mck-btn-loc" title="Share Location">
                                                            @*<div class="mck-menu-icon hide">
                                                                <span class="mck-icon-marker-blue"></span>
                                                            </div>*@<span id="mck-share-loc-label" class="mck-btn-loc__location-icon">Share Location</span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                            <div id="mck-attachfile-box" class="mck-blk-12 n-vis">
                                                <button id="mck-file-up2" type="button"
                                                        class="mck-file-upload mck-file-attach-label mck-btn mck-btn-text-panel"
                                                        title="Attach File">
                                                    <span class="mck-icon-upload"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <a href="#" id="mck-mike-btn" type="button"
                                           class="mck-mic-btn mck-mike-btn vis"
                                           title="Mic"></a>
                                        <div id="mck-text-box" contenteditable="true"
                                             class="mck-blk-8 mck-text-box mck-text required" placeholder="Write a message..."></div>
                                        <div class="mck-blk-2 mck-text-box-panel move-right">
                                            <div class="mck-blk-12 testGSN">
                                                <button type="submit" id="mck-msg-sbmt"
                                                        class="mck-btn mck-btn-text-panel" title="Send Message">
                                                    <span class="mck-icon-send"></span>
                                                </button>
                                            </div>
                                        </div>

                                        <input id="mck-file-input" class="mck-file-input n-vis"
                                               type="file" name="files[]">
                                        <div id="mck-file-box" class="n-vis"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="mck-contacts-content"
                         class="mck-contacts-content mck-text-center">
                        <button type="button" id="mck-msg-new"
                                class="mck-contact-search mck-btn mck-btn-blue"
                                title="Start New">
                            <span>Start New</span>
                        </button>
                    </div>
                </div>
                @*<div class="mck-running-on n-vis">
                    <a href="https://www.applozic.com" target="_blank">
                        <span class="n-vis">Applozic Chat SDK</span><strong>
                            Powered by
                            Applozic
                        </strong>
                    </a>
                </div>*@
            </div>
            <div id="mck-group-create-tab"
                 class="mck-group-create-tab mck-sidebox-content mck-box-content n-vis">
                <div class="mck-box-top">
                </div>
                <div class="mck-box-body">
                    <div class="mck-tab-cell">
                        <div id="mck-group-create-panel"
                             class="mck-tab-panel mck-message-inner mck-group-create-inner">
                            <div id="mck-group-create-type-sec" class="mck-group-sub-sec">
                                <div id="mck-group-create-type-box"
                                     class="mck-row mck-group-type-box">
                                    <div class="blk-lg-12">
                                        <div id="mck-gc-type-label" class="mck-label">
                                            Group
                                            Type
                                        </div>
                                    </div>
                                    <div class="blk-lg-12">
                                        <select id="mck-group-create-type" class="mck-select"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mck-loc-box" class="mck-box mck-loc-box fade" aria-hidden="false">
    <div class="mck-box-dialog mck-box-md">
        <div class="mck-box-content">
            <div class="mck-box-top mck-row hide">
                <div class="blk-lg-10">
                    <h4 class="mck-box-title">Share Location</h4>
                </div>
                <div class="blk-lg-2">
                    <button type="button" class="mck-box-close" data-dismiss="mckbox"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="mck-box-body">
                <div class="mck-form-group">
                    <div class="blk-lg-12">
                        <input id="mck-loc-address" type="text" class="mck-form-control"
                               placeholder="Enter a location" autocomplete="off">
                    </div>
                </div>
                <div id="mck-map-content" class="mck-loc-content"></div>
                <div class="n-vis">
                    <label class="blk-sm-2 mck-control-label">Lat.:</label>
                    <div class="blk-sm-3">
                        <input type="text" id="mck-loc-lat" class="mck-form-control">
                    </div>
                    <label class="blk-sm-2 mck-control-label">Long.:</label>
                    <div class="blk-sm-3">
                        <input type="text" id="mck-loc-lon" class="mck-form-control">
                    </div>
                </div>
            </div>
            <div class="mck-box-footer">
                <button id="mck-my-loc" type="button"
                        class="mck-my-loc mck-btn mck-btn-green">
                    My Location
                </button>
                <button id="mck-loc-submit" type="button"
                        class="mck-btn mck-btn-blue mck-loc-submit move-right">
                    Send
                </button>
                <button id="mck-btn-close-loc-box" type="button"
                        class="mck-btn mck-btn-default move-right" data-dismiss="mckbox">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
