<style>#seller-Name-div{width:85%;word-wrap:break-word;border-bottom:1px solid #ccc;padding:0 0 10px}</style>
<img class="recommendloadIcon centerAlign" src="https://imgd.aeplcdn.com/0x0/statics/loader.gif" width="16" height="16">
<ul class="sellerDetails margin-bottom10 content-inner-block-10 text-white showToastMessage">
    <li>
        <span class="buyerprocess-sprite seller-name"></span>
        <div id="seller-Name-div" class="leftfloat">
            <p class="seller-Person top-rated-seller-name-field"></p>
            <span id="seller-details-rating-text" class="top-rated-seller-tag" style="display:none">
            </span>
            <div class="seller-rating__toast" style="display: none;">
                <span class="seller-rating-toast__close"></span>
                <p>This seller has consistently been rated well by his customers</p>
            </div>
            <p class="seller-Name font13 text-light-grey"> Loading...</p>
        </div>
        <div class="clear"></div>
    </li>
    <li>
        <span class="buyerprocess-sprite seller-masking-no"></span>
        <p class="leftfloat"><a class="seller-Contact">Loading...</a></p>
        <div class="clear"></div>
    </li>
    <li>
        <span class="buyerprocess-sprite seller-email"></span>
        <p class="leftfloat"><a class="seller-Email">Loading...</a></p>
        <div class="clear"></div>
    </li>
    <li>
        <span class="buyerprocess-sprite seller-address"></span>
        <p class="leftfloat"><span class="seller-Address">Loading...</span></p>
        <div class="clear"></div>
        <p><span class="font10 text-light-grey margin-left10">Your contact details have been shared with the seller</span></p>
    </li>
</ul>

