/* Expert Review image swipper code starts here*/

.image-swiper .swiper-wrapper {
    padding: 0;
}

.image-swiper .image-swiper__slide {
    width: 100%;
    height: auto;
}

.image-swiper .image-swiper__imageWrapper {
    min-width: 320px;
    min-height: 180px;
    height: 100%;
    max-height: 202px;
}

.image-swiper .image-swiper__imageWrapper img {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
}

.arrow-fff-10 {
    background: url(https://imgd.aeplcdn.com/0x0/cw/static/icons/arrow-fff-10x18.png) no-repeat;
    display: inline-block;
}

.swiper-container.image-swiper .swiper-button-next,
.swiper-container.image-swiper .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 32px;
    margin-top: -22px;
    text-indent: -9999px;
    background-color: rgba(0, 0, 0, 0.3)!important;
    z-index: 1;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.swiper-container.image-swiper .swiper-button-next {
    background-position: -16px 7px;
    right: 0;
}

.swiper-container.image-swiper .swiper-button-prev {
    background-position: 6px 7px;
    left: 0;
}

.news-video-view iframe {
    width:100%;
    height: 100%;
    border: 1px solid #ccc;
}

.review-yt-video-icon {
    position: absolute;
    top: 18%;
    left: 40%;
}