<configuration>
  
  <appSettings>
    <!--<add key="NewRelic.AppName" value="M.Carwale"/>-->    
    <add key="adPathMObile" value="" />
    <add key="MobilePlatformId" value="43"/>
  </appSettings>
  <system.web>
    <!-- The below code basically tells ASP.Net that any requests made that match 
				the specified path (ajax/*.ashx) are to be handled by Ajax.PageHandlerFactory -->
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>    
    <customErrors defaultRedirect="/m/servererror.aspx" mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/m/pageNotFound.aspx"/>
    </customErrors>    
  </system.web>  
</configuration>
