.rating-sprite{background:url("https://imgd.aeplcdn.com/0x0/cw/static/sprites/m/review-rating-sprite.png") no-repeat;display:inline-block;width:100px;height:20px;vertical-align: text-bottom;}
.empty-rating{background-position:-102px 0px;}
.half-rating{background-position:-80px -29px;}
.one-rating{background-position:-80px 0;}
.oneHalf-rating{background-position:-59px -29px;}
.two-rating{background-position:-59px 0;}
.twoHalf-rating{background-position:-38px -29px;}
.three-rating{background-position:-39px 0;}
.threeHalf-rating{background-position:-20px -29px;}
.four-rating{background-position:-20px 0;}
.fourHalf-rating{background-position:0 -29px;}
.five-rating{background-position:0 0;}