.winner-review-swiper
	padding-top: 75px
	padding-bottom: 45px
	
	.swiper-slide
		width: 262px
		height: 200px
		padding: 35px 25px 20px
		text-align: center
		background: #fff
		@include border-radius(2px)

	&.swiper-container-horizontal
		> .swiper-pagination
			bottom: 12px

	.swiper-pagination-bullet
		opacity: 1
		border: 1px solid #fff
		background: #003663

	.swiper-pagination-bullet-active
		background: #000

	.card-title
		font-size: 15px
		margin-bottom: 10px
		font-weight: 700
		color: #2a2a2a
		text-transform: uppercase

.text-underline
	text-decoration: underline