.font-oxygen
	font-family: 'Oxygen', sans-serif

.contest-banner-container
	height: 290px
	background: #2e3192

.contest-banner
	background: #2e3192 url(https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/review-contest-banner.jpg?v5May) no-repeat center bottom
	height: 215px
	background-size: cover

.btn-130-34
	width: 130px
	padding: 6px
	font-size: 14px

.h2-heading
	color: #000
	font-size: 15px
	font-weight: 700
	text-transform: uppercase
	margin-bottom: 15px

.font-light
	font-weight: 300

.font-bold
	font-weight: 700

.padding-25-20
	padding: 25px 20px

.margin-bottom40
	margin-bottom: 40px

.text-dark
	color: #000

.text-light-black
	color: #323434

.card-shadow
	background: #fff
	@include box-shadow(0, 0, 2px, 0, #bbb)

// rewards-banner
.rewards-banner
	margin: 10px
	height: 81px
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/rewards-banner.png) repeat-x
	text-align: center
	padding-top: 20px
	color: #16645f

// overallSpecsTopContent
#overallSpecsTopContent
    height: 44px

// divider
.bottom-divider
	position: relative
	padding-bottom: 25px
	margin-bottom: 20px

	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 0
		right: 0
		margin: 0 auto
		width: 24px
		height: 4px
		background: #d2d2d2

// guidelines list
.guideline-list
	margin-bottom: 25px

	li
		width: 33.33333%
		display: inline-block
		vertical-align: top
		text-align: center
		margin-right: -4px

.guideline-sprite
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/guideline-sprite.png) no-repeat
	display: inline-block

.truth-icon,
.details-icon,
.original-icon
	width: 40px
	height: 40px
	margin-bottom: 5px

.truth-icon
	background-position: 0 0

.details-icon
	background-position: -50px 0

.original-icon
	background-position: -100px 0

// form
.form-input-box
	height: 40px
	color: #4d5057
	padding: 9px 25px 9px 8px
	text-align: left
	cursor: pointer
	-webkit-border-radius: 2px
	-moz-border-radius: 2px
	-ms-border-radius: 2px
	border-radius: 2px
	border: 1px solid #e2e2e2

	.grey-right-icon
		right: 10px
		opacity: 0.7

	.error-icon,
	.bw-blackbg-tooltip
		display: none
		z-index: 2

// cheatsheet
.bullet-list
	margin-left: 17px
	list-style: disc

	li
		margin-top: 17px

		&:first-child
			margin-top: 0

	&.more-list-content
		li
			&:first-child
				margin-top: 17px

// winnersContent
#winnersContent
	background: #2e3192

.text-white
	color: #fff

.padding-bottom45
	padding-bottom: 45px

// review author icon
.review-author
	position: absolute
	top: -75px
	left: 0
	right: 0
	margin: 0 auto

.john-doe
	width: 73px
	height: 101px
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/john-doe.png) no-repeat
	display: inline-block