.model-image-grid
	width: 82px
	height: 46px

	img
		width: auto
		height: 46px

.model-details-grid
	width: 72%
	padding-left: 10px

	.star-one
		@include transform(scale(0.6))
		position: relative
		top: -2px

// common classes
h1,
.font-bold
	font-weight: 700

.text-bold
	font-weight: 600 !important

.font15
	font-size: 15px

.padding-10-20
	padding: 10px 20px

// contest slug
@include contest-slug-grey-sm()

// ribbon
.model-ribbon
	position: absolute
	top: -10px
	left: -20px
	font-size: 12px
	padding: 2px 10px
	display: inline-block
	z-index: 2

	&:before,
	&:after
		content: ''
		width: 0
		height: 0
		position: absolute
		border-style: solid
		border-color: transparent
		right: -10px

	&:before
		top: 0
		border-width: 11px 10px 0 0

	&:after
		bottom: 0
		border-width: 0 10px 11px 0

.discontinued-ribbon
	color: #4d5057
	background: #b5b5b5

	&:before
		border-top-color: #b5b5b5

	&:after
		border-bottom-color: #b5b5b5

// rating box
.border-light
	border: 1px solid #eee

.border-radius-10
	@include border-radius(10px)

.margin-top5
	margin-top: 5px

.rating-box-top
	width: 100%
	height: 87px
	display: table
	border-bottom: 1px solid #f5f5f5
	padding: 10px 10px 10px 15px

.table-middle
	display: table-cell
	vertical-align: middle

.feedback-grid
	width: 83%
	padding-left: 15px

// rating box
#bike-rating-box
	min-height: 140px
	padding-bottom: 10px

	.item-rating-list
		li
			margin-right: 10px
			margin-left: 10px
			cursor: pointer

.circle-placeholder
	width: 42px
	height: 42px
	padding-top: 10px
	border: 1px solid #e2e2e2
	background: #fff
	text-align: center
	@include border-radius(50%)

// answer-radio-list
.answer-radio-list
	> input
		display: none

		+ label
			width: auto
			float: left
			color: $text-light
			margin: 4px 8px 4px 0
			padding: 5px 14px
			cursor: pointer
			border: 1px solid #e2e2e2
			@include border-radius(2px)

		&:checked
			+ label
				color: $white
				background: #41B4C4
				border-color: #41B4C4
				cursor: default
				pointer-events: none

.answer-star-list
	> input
		display: none

		+ label
			float: right
			margin-right: 12px

		&:checked
			+ label,
			~ label
				background-position: 0 -278px

.rating-start
	> input
		+ label
			background-position: 0 -308px

	li.star-zero
		background-position: 0 -308px

.rating-placeholder
	.answer-star-list
		width: 230px
		height: 25px
		margin: 10px auto 0

		> input
			+ label
				margin-right: 25px

			&:first-child
				+ label
					margin-right: 0

// questions and answers
.question-field
	padding-bottom: 10px

	.error-text
		top: -6px

.question-item
	margin-bottom: 5px

.answer-list
	li
		float: left !important
		color: $text-light
		margin: 4px 8px 4px 0
		padding: 5px 14px
		cursor: pointer
		border: 1px solid #e2e2e2
		@include border-radius(2px)

		&.active
			color: $white
			background: #41B4C4
			border-color: #41B4C4
			cursor: default
			pointer-events: none

// write review
.numeric-list
	list-style: decimal
	margin-left: 15px

	li
		margin-bottom: 5px

.write-review-padding
	padding: 15px 20px 5px

.textarea-box
	position: relative

	textarea
		width: 100%
		border: 1px solid #a2a2a2
		font-family: $font-open-sans
		font-size: 14px
		padding: 20px
		resize: none

		&:focus
			border-color: #82888b
			box-shadow: none

.textarea-error
	left: 7px
	bottom: 7px
	padding: 5px

	.error-text
		top: 0

.review-char-count
	background: rgba(255,255,255,0.9)
	bottom: 7px
	right: 7px
	color: #787878
	padding: 5px

#getReviewTitle
	font-weight: 600

// review-question-mileage
.review-question-mileage
	border-bottom: 1px solid #eee

	.item-title
		font-weight: 600
		margin-bottom: 20px

// review-question-list
.review-question-list
	.list-item
		padding-top: 15px
		padding-bottom: 15px
		border-bottom: 1px solid #eee

	.item-title
		font-weight: 600
		margin-bottom: 8px

	.item-subtitle
		color: #787878
		margin-bottom: 10px

	.item-rating-list
		li
			margin-right: 4px
			margin-left: 4px
			float: right

	.answer-list
		li
			margin-right: 6px
			margin-left: 0

	.feedback-text
		font-size: 13px
		position: relative
		top: 1px
		color: #4d5057		

body
	-webkit-tap-highlight-color: rgba(0,0,0,0)

#review-summary-page ~ footer
	display: none

// review summary
#thankyou-card
	.model-image-grid
		height: 66px

	.icon-outer-container
		width: 66px
		height: 66px

	.icon-inner-container
		width: 62px
		height: 62px
		margin: 1px auto

#review-summary-card
	margin-bottom: 45px

#summary-review-box
	p
		margin-bottom: 10px

// user-rated-list
.user-rated-list
	.list-item
		margin-bottom: 10px

	.star-one,
	.star-zero
		@include transform(scale(0.7))
		margin-right: -1px

.category-label
	width: 55%
	line-height: 25px

.category-rating
	width: 140px
	font-weight: 600
	line-height: 25px

// floating button
.floating-btn
	position: fixed
	bottom: 0
	right: 0
	left: 0
	z-index: 8
	box-shadow: 0 0 2px 2px #e2e2e2

	.btn
		padding: 10px 5px
		border-radius: 0

	.btn-white
		border-color: #fff
		color: #4d5057

#back-to-top
	bottom: 60px

// icons
.star-zero,
.star-one
	width: 26px
	height: 25px
	vertical-align: middle

.star-zero
	background-position: -144px -668px

// 0 -308px

.star-one,
.star-one-active .star-zero
		background-position: 0 -278px

.share-rating
	width: 21px
	height: 21px
	background-position: -183px -571px

.rating-feedback
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/rating-feedback.png') no-repeat
	display: inline-block

.feedback-1,
.feedback-2,
.feedback-3,
.feedback-4,
.feedback-5,
	width: 42px
	height: 42px
	vertical-align: middle

.feedback-1
	background-position: 0 0

.feedback-2
	background-position: -52px 0

.feedback-3
	background-position: -104px 0

.feedback-4
	background-position: -156px 0

.feedback-5
	background-position: -208px 0

#back-to-top
	display: none !important

#review-summary-card
	&.browser-type-uc
		margin-bottom: 80px

.rate-count-5
  color: #198D55

.rate-count-4
  color: #13B65D

.rate-count-3
  color: #EFD700

.rate-count-2
  color: #FD971C

.rate-count-1
  color: #EF3F30

.rating-badge
  &[data-rate-bg="5"]
    background-color: #198D55
  &[data-rate-bg="4"]
    background-color: #13B65D
  &[data-rate-bg="3"]
    background-color: #EFD700
  &[data-rate-bg="2"]
    background-color: #FD971C
  &[data-rate-bg="1"]
    background-color: #EF3F30

.bg-rate-5
  background-color: #198D55

.bg-rate-4
  background-color: #13B65D

.bg-rate-3
  background-color: #EFD700

.bg-rate-2
  background-color: #FD971C

.bg-rate-1
  background-color: #EF3F30

.star-icon
  width: 26px
  height: 25px
  vertical-align: middle
  -webkit-transform: scale(0.8)
  -moz-transform: scale(0.8)
  -o-transform: scale(0.8)
  transform: scale(0.8)

.rate-count-1 .star-icon
  background-position: 0 -667px

.rate-count-2 .star-icon
  background-position: -38px -667px

.rate-count-3 .star-icon
  background-position: 0 -278px

.rate-count-4 .star-icon
  background-position: -74px -667px

.rate-count-5 .star-icon
  background-position: -110px -667px

.rating-badge
  min-width: 40px
  height: 20px
  padding-right: 5px
  padding-left: 5px
  font-size: 14px
  font-weight: 600
  color: #fff
  display: inline-block
  vertical-align: middle
  margin-right: 6px
  text-align: center
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  -ms-border-radius: 2px
  border-radius: 2px

.star-white
  width: 12px
  height: 12px
  background-position: -172px -447px
  position: relative
  top: 1px
  margin-right: 4px

.star-0
  width: 26px
  height: 25px
  vertical-align: middle
  background-position: -144px -667px

.grid-10-inline
  width: 83.33333%
  display: inline-block
  vertical-align: middle
  margin-right: -4px

.bg-light
  background: #fafafa

.top3
  top: 3px

.about-reviewer-content
  padding: 15px 20px 0
  background: #fafafa

.about-reviewer-list
  li
    text-align: center
    display: inline-block
    vertical-align: top
    margin-right: -4px
    padding: 20px 15px
  .item-question
    font-size: 10px
    color: #a2a2a2
    margin-bottom: 4px
  .item-answer
    font-size: 13px
    color: #787878

.item-count-3 li
  width: 33.33333%

.item-count-2 li
  width: 50%

.item-count-1 li
  width: 100%

.questionId-2, .questionId-3
  width: 16px
  height: 16px

.questionId-2
  background-position: -94px -643px

.questionId-3
  background-position: -112px -643px

.questionId-1
  width: 24px
  height: 16px
  background-position: -131px -643px

/*Rating circle Starts here

.rating-circle
  width: 30px
  height: 30px
  position: relative
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  border-radius: 50%
  background-color: #ccc
  display: inline-block
  vertical-align: middle

.circle-label
  width: 24px
  height: 24px
  font-size: 12px
  font-weight: 600
  color: #787878
  position: absolute
  top: 3px
  left: 3px
  line-height: 24px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  border-radius: 50%
  background: #fff
  text-align: center
  z-index: 1

.rating-progress
  width: 30px
  height: 30px
  display: block
  position: absolute
  clip: rect(0, 30px, 30px, 15px)
  &:before, &:after
    content: ''
    width: 30px
    height: 30px
    display: block
    position: absolute
    border-width: 3px
    border-style: solid
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    -ms-border-radius: 50%
    border-radius: 50%
    clip: rect(0, 15px, 30px, 0)

.circle-rate-3 .rating-progress, .circle-rate-4 .rating-progress, .circle-rate-5 .rating-progress
  clip: rect(auto, auto, auto, auto)

.circle-rate-3 .rating-progress:after, .circle-rate-4 .rating-progress:after, .circle-rate-5 .rating-progress:after
  -webkit-transform: rotate(180deg)
  -moz-transform: rotate(180deg)
  -o-transform: rotate(180deg)
  transform: rotate(180deg)

.circle-rate-1 .rating-progress:before
  border-color: #EF3F30
  -webkit-transform: rotate(62deg)
  -moz-transform: rotate(62deg)
  -o-transform: rotate(62deg)
  transform: rotate(62deg)

.circle-rate-2 .rating-progress:before
  border-color: #FD971C
  -webkit-transform: rotate(144deg)
  -moz-transform: rotate(144deg)
  -o-transform: rotate(144deg)
  transform: rotate(144deg)

.circle-rate-3 .rating-progress:before
  -webkit-transform: rotate(216deg)
  -moz-transform: rotate(216deg)
  -o-transform: rotate(216deg)
  transform: rotate(216deg)

.circle-rate-4 .rating-progress:before
  -webkit-transform: rotate(288deg)
  -moz-transform: rotate(288deg)
  -o-transform: rotate(288deg)
  transform: rotate(288deg)

.circle-rate-3 .rating-progress
  &:before, &:after
    border-color: #EFD700

.circle-rate-4 .rating-progress
  &:before, &:after
    border-color: #13B65D

.circle-rate-5 .rating-progress
  &:before, &:after
    border-color: #198D55

.rating-circle-list
  &:after
    content: ''
    display: block
    clear: both
  li
    float: left
    margin-right: 15px
    margin-top: 10px
    margin-bottom: 10px
    &:last-child
      margin-right: 0
  .list-item-label
    font-size: 14px
    color: #787878
    padding-left: 5px
    display: inline-block
    vertical-align: middle

/*Rating circle Ends here

// terms and condition
.input-type-checkbox
	display: none

.checkbox-icon
	width: 14px
	height: 14px
	background-position: -174px -415px
	position: relative
	top: 2px

.checkbox-label
	display: inline-block
	vertical-align: top
	width: 92%
	padding-left: 5px
	cursor: pointer

.input-type-checkbox
	&:checked
		~ label
			.checkbox-icon
				background-position: -174px -430px

