.service-center-banner
	background: #565b5e url(https://imgd1.aeplcdn.com/0x0/bw/static/landing-banners/d/bw-service-banner.jpg) no-repeat center
	height: 268px
	padding-top: 1px

.padding-15-20
	padding: 15px 20px

#service-center-box
	.welcome-box
		margin-top: 85px

.negative-50
	margin-top: -50px

.search-box
	.section-heading
		margin-bottom: 20px

.locator-search-container
	margin: 0 auto
	width: 570px

	.form-control
		padding: 8px
		border-radius: 0

.locator-search-brand,
.locator-search-city
	height: 40px
	float: left

.locator-search-brand
	width: 334px

.locator-search-city
	width: 233px

.locator-search-brand select
	width: 100%
	height: 38px
	color: #555

.locator-search-city
	select
		width: 100%
		height: 38px
		color: #555
	.chosen-container
		border-left: 0 !important

.locator-search-brand .chosen-container,
.locator-search-city .chosen-container
	border: 1px solid #e2e2e2
	@include border-radius(0)
	padding: 12px 20px

#applyFiltersBtn
	margin-top: 35px

.locator-search-btn.btn-lg
	padding: 8px 64px

.locator-search-container
	.error-icon
		right: 20px
	.bw-blackbg-tooltip
		right: 10px