#service-main-content,
#service-more-content
	display: inline

#service-more-content
	display: none

	&.active
		display: inline

#listing-left-column
	&.grid-4
		width: 32.333333%
		@include box-shadow(0, 0, 8px, 0, #ddd)
		z-index: 1

#listing-right-column.grid-8
	width: 67.66667%

// common
.padding-15-20
	padding: 15px 20px

.vertical-top
	display: inline-block
	vertical-align: top

#center-list
	a
		padding-right: 20px
		padding-left: 20px
		display: block

		&:hover
			text-decoration: none

	.dealer-card-content
		padding-top: 15px
		font-size: 14px
		border-top: 1px solid #e2e2e2

	.service-center-lead-content
		min-height: 55px

	li
		padding-bottom: 10px
		cursor: pointer

		&:first-child
			.dealer-card-content
				border-top: 0
				margin-top: 0

		&.input-active
			.get-details-btn,
			.service-center-lead-response
				display: none

			.lead-mobile-content
				display: block

		&.response-active
			.get-details-btn,
			.lead-mobile-content
				display: none

			.service-center-lead-response
				display: block
			

.details-column
	width: 92%

.service-btn
	padding: 9px 0
	width: 180px

.lead-mobile-content
	display: none
	position: relative
	top: 5px

	.input-box
		width: 170px
		height: 51px
		display: inline-block
		vertical-align: middle

		label
			top: 9px
			font-size: 12px

		input:focus ~ label,
		&.not-empty label
			top: -14px
			font-size: 11px

	.input-number-box
		input
			padding-left: 35px

.submit-service-center-lead-btn
	margin-left: 10px
	display: inline-block
	vertical-align: top
	padding: 9px 0
	width: 90px
	position: relative
	top: -7px

.service-center-lead-response
	display: none

.service-center-resend-btn
	color: #0288d1

	&:hover
		text-decoration: underline

.response-text
	width: 80%

// map
.dealer-map-wrapper
	width: 100%
	height: 530px
	display: block
	position: relative

.dealer-info-tooltip
	max-width: 350px

#dealersMap
	.dealership-card-details
		width: 80%

.dealer-info-tooltip
	a
		&:hover
			text-decoration: none

			p
				text-decoration: underline

// icons
.dealership-loc-icon
	width: 9px
	height: 12px
	background-position: -52px -469px
	position: relative
	top: 4px

.phone-black-icon
	width: 10px
	height: 10px
	background-position: -73px -444px
	position: relative
	top: 5px

.service-sprite
	background: url('https://imgd2.aeplcdn.com/0x0/bw/static/sprites/d/bw-service-sprite.png') no-repeat
	display: inline-block

.blue-right-arrow-icon
	width: 6px
	height: 10px
	background-position: -74px -469px
	position: relative
	top: 1px
	left: 7px

.response-icon
	width: 30px
	height: 30px
	background-position: 0 -112px
	vertical-align: middle
	margin-right: 10px

.limit-reached
	.response-icon
		background-position: 0 -147px

.edit-blue
	width: 18px
	height: 16px
	background-position: -205px -330px
	position: relative
	top: 3px

.service-location-img
    width: 290px
    height: 90px
    display: block
    background-color: rgb(229, 227, 223)
    background-size: cover
    background-position: center center

@media only screen and (max-width: 1024px)
	.submit-lead-mobile-btn
		margin-left: 10px