@{
    var AdId = Model.GetType().GetProperty("AdId").GetValue(Model, null);
}
<div id='div-gpt-ad-@string.Format("{0}-0",AdId)' class="margin-bottom20">
    <script>
        googletag.cmd.push(function () { googletag.display('div-gpt-ad-@string.Format("{0}-0", AdId)'); });
    </script>
</div>