#modelCityPriceDetails {width: 100%;display: table;padding: 15px 10px 10px;}
#modelCityPriceDetails .bike-image, #modelCityPriceDetails h1 {display: table-cell;vertical-align: middle;}
#modelCityPriceDetails .bike-image {width: 80px;height: 45px;}
#modelCityPriceDetails h1 {position: relative;top: -3px;}
.bike-image img {width: 100%;}
.text-x-grey{color:#565a5c;}
.discont-text-label{width:120px;background:#4c4c4c;z-index:2;padding:2px 25px 4px 20px;line-height:22px;position:relative;left:0;}
.discont-text-label:after{content: "";background:url(https://imgd2.aeplcdn.com/0x0/bw/static/sprites/m/upcoming-ribbon.png?v=9Sep2016) no-repeat right top;width:12px;position: absolute;height: 28px;top: 0;right:-12px;}
.text-dark-black {color: #1a1a1a;}
#versionTabsWrapper {width: 100%;display: block;overflow-x: auto;}
.model-versions-tabs-wrapper {width: 100%;display: table;background: #fff;border-bottom: 1px solid #e2e2e2;}
.model-versions-tabs-wrapper li {padding: 10px 20px;display: table-cell;width:1%;text-align: center;white-space: nowrap;font-size: 14px;color: #82888b;cursor:pointer;}
.model-versions-tabs-wrapper li.active {border-bottom: 3px solid #ef3f30;font-weight: bold;color: #4d5057;}
#versionTabsWrapper::-webkit-scrollbar {width: 0;}
#versionTabsWrapper::-webkit-scrollbar-track, #versionTabsWrapper::-webkit-scrollbar-thumb {display:none;}
.float-button {background-color: #f5f5f5;padding: 10px;}
.float-button.float-fixed {z-index: 3;}
.select-area-label {position: relative;top: 2px;}
.content-inner-block-2017 {padding: 20px 20px 17px;}
.border-divider {border-top: 1px solid #e2e2e2;}
.dealer-in-city-list li {padding-top: 15px;padding-bottom: 18px;border-top: 1px solid #f5f5f5;}
.dealer-in-city-list li:first-child {border-top: 0;}
.dealership-details {width: 92%;}
.tel-sm-icon {width: 13px;height: 15px;background-position: -86px -323px;position: relative;top: 2px;}
.mail-grey-icon {width: 13px;height: 9px;background-position: -19px -437px;margin-right: 2px;}
.block {display: block;}
.blue-right-arrow-icon {width: 6px;height: 10px;background-position: -58px -437px;position: relative;top: 1px;left: 7px;}
.prices-by-cities-list {overflow: hidden;}
.prices-by-cities-list li {margin-bottom: 20px;}
.prices-by-cities-list li a, .prices-by-cities-list li .nearby-city-price {display: inline-block;vertical-align: top;}
.prices-by-cities-list li a {width: 55%;}
.prices-by-cities-list li .nearby-city-price {width: 42%;color: #2a2a2a;text-align:right}
.inr-dark-grey-xsm-icon {width: 9px;height: 12px;background-position: 0px -459px;position: relative;top: 1px;}
#modelAlternateBikeContent .swiper-slide {width: 186px;min-height: 252px;border: 1px solid #e2e2e2;background: #fff;}
#modelAlternateBikeContent .swiper-slide h3 {margin-bottom: 7px;}
.model-swiper-image-preview {width: 100%;height: 103px;position: relative;}
.model-swiper-image-preview a {display: block;}
.model-swiper-details {padding: 10px 18px 20px;}
.btn-x-sm {padding: 8px 14px;color: #4d5057;}
#modelForSaleContent li {margin-top: 20px;}
#modelForSaleContent li:first-child {margin-top: 0;} 
.text-x-light { color:#a8afb3; }
.text-xx-light { color:#a2a2a2; }
.swiper-slide.bike-carousel-swiper { width:184px; min-height:250px; background:#fff; border:1px solid #e2e2e2; }.bike-carousel-swiper img { width:100%; height:103px; }
.bike-swiper-image-wrapper { width:100%; height:103px; display: block; overflow: hidden; text-align: center; position:relative; }.bike-swiper-image-wrapper a { width:100%; height:100%; display: block;}
.bike-swiper-details-wrapper { padding:5px 20px 10px; }
.bike-swiper-details-wrapper p { font-size:12px; }
.block { display:block; }
#makeDealersContent h2 { margin-bottom:13px; }
.swiper-wrapper.upcoming-carousel-content .swiper-slide:first-child{ margin-left:10px; }
#makeDealersContent .swiper-slide:first-child { margin-left:10px; }
.swiper-slide.bike-carousel-swiper.dealer-by-city { width:184px; min-height:210px;padding:17px 10px; }
.swiper-slide.bike-carousel-swiper.dealer-no-city { width:184px; min-height:210px; }
.dealership-loc-icon {width: 10px;height: 15px;background-position: -40px -435px;position: relative;top: 4px;}
.dealership-address, .dealership-email {width: 87%;}
.tel-sm-grey-icon { width: 15px; height: 15px;background-position: 0 -435px; position: relative;top: 2px;}
.mail-grey-icon { width: 15px;height: 9px;background-position: -19px -437px;position: relative;top: 6px;}
.dealer-no-city a { width:184px; min-height:210px; display:block; padding:20px; }
#makeUsedBikeContent h2 {
    margin-bottom: 20px;
}
#modelAlternateBikeContent .btn-xs {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 6px;
}

#modelAlternateBikeContent .btn-xs:hover {
    text-decoration: none;
}

.padding-15-20 {
    padding: 15px 20px;
}
.details-column{width: 92%}

.bw-horizontal-swiper.card-container .swiper-slide {
    width: 308px;
}
.bw-horizontal-swiper .swiper-card {
    width: 308px;
    font-size: 14px;
    min-height: 140px;
}
.bw-horizontal-swiper .swiper-card a {
    display: block;
    padding: 15px 10px 10px;
}

/* full-width slug */
.model-rank-slug {
    width: 100%;
    min-height: 52px;
    padding: 10px 40px 10px 20px;
    border: 1px solid #e2e2e2;
    display: block;
    position: relative;
}
.model-rank-slug:hover {
    text-decoration: none;
}
.rank-slug-label {
    width: 83%;
    padding-left: 15px;
}
.icon-red-bg {
    width: 30px;
    height: 30px;
    background: #ef3f30;
    text-align: center;
    padding-top: 5px;
}
.rank-graph {
    width: 20px;
    height: 20px;
    background-position: -190px -435px;
}
.right-arrow {
    width: 8px;
    height: 12px;
    background-position: -182px -394px;
    position: absolute;
    right: 20px;
    top: 41%;
}
.item-rank {
    min-width: 30px;
    display: block;
    padding: 5px 2px;
    background: #ef3f30;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

#modelPriceInNearbyCities h2 {
    font-size: 16px;
}

@media only screen and (max-width: 320px) {
    .bw-horizontal-swiper.card-container .swiper-slide {
        width: 275px;
    }
    .bw-horizontal-swiper .swiper-card {
        width: 275px;
    }
    .location-details {
        font-size: 13px;
    }
    .rank-slug-label {
        width: 80%;
    }
}
  .model-more-info-section .item-image-content {
        width: 100px;
        height: 56px;
        display: inline-block;
        background: url(https://imgd1.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif) no-repeat center;
    }

    .item-image-content img {
        width: 100%;
    }

    .model-more-info-section .bike-details-block {
        width: 66%;
        padding-left: 10px;
    }

    .model-more-info-section .used-target-label {
        width: 96%;
    }

    .price-label-size-12 {
        font-size: 12px;
        color: #82888b;
    }

    .price-value-size-18 {
        font-size: 18px;
        font-weight: bold;
    }

    .inr-12-grey {
        width: 8px;
        height: 10px;
        background-position: -102px -137px;
        position: relative;
        top: 1px;
    }

    /* ribbon */
    .model-ribbon-tag {
        position: relative;
        top: -5px;
        left: -20px;
        font-size: 12px;
        padding: 2px 20px 2px 10px;
        display: inline-block;
    }

    .upcoming-ribbon {
        color: #fff;
        background: #4d5057;
    }

    .discontinued-ribbon {
        color: #4d5957;
        background: #b5b5b5;
    }

    .model-ribbon-tag:after {
        content: '';
        position: absolute;
        border-top: 10px solid transparent;
        border-right: 10px solid #fff;
        border-bottom: 10px solid transparent;
        right: 0;
        top: 0;
    }

    .model-more-info-section.ribbon-present {
        padding-top: 10px;
    }
    /* more info list */
    .item-more-details-list li {
        float: left;
        margin-bottom: 8px;
        margin-right: 8px;
    }

    .item-more-details-list a:hover {
        color: #fff;
        background: #54bbca;
    }

    .item-more-details-list a {
        display: block;
        padding: 1px 10px 5px;
        color: #787878;
        background: rgba(245, 245, 245, 0.9);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
    }

        .item-more-details-list a:hover {
            text-decoration: none;
        }

    .item-more-details-list .icon-label {
        font-size: 13px;
        display: inline-block;
        vertical-align: middle;
        line-height: 13px;
    }

    .text-grey {
        color: #787878 !important;
    }

    .key-specs-list li {
        margin-right: 4px;
        padding-right: 8px;
        position: relative;
        display: inline-block;
    }

        .key-specs-list li:before {
            content: "";
            width: 1px;
            height: 11px;
            position: absolute;
            top: 3px;
            right: 0;
            border-left: 1px solid #b0b0b0;
        }

        .key-specs-list li:last-child:before {
            border-left: 0;
        }

    .btn-180-34 {
        font-size: 14px;
        width: 180px;
        padding: 6px;
    }
    /* generic icons */
    .reviews-sm,
    .news-sm,
    .specs-sm {
        width: 14px;
        height: 14px;
        vertical-align: middle;
        margin-right: 3px;
    }

    .reviews-sm {
        background-position: -77px -555px;
    }

    .news-sm {
        background-position: -109px -555px;
    }

    .specs-sm {
        background-position: -141px -555px;
    }

    .item-more-details-list a:hover .reviews-sm {
        background-position: -93px -555px;
    }

    .item-more-details-list a:hover .news-sm {
        background-position: -125px -555px;
    }

    .item-more-details-list a:hover .specs-sm {
        background-position: -157px -555px;
    }

    .item-more-details-list a:hover .photos-sm {
        background-position: 0 -493px;
    }

    .item-more-details-list a:hover .videos-sm {
        background-position: -16px -492px;
    }

    .btn-red-arrow {
        width: 6px;
        height: 10px;
        background-position: -204px -35px;
        margin-left: 5px;
        position: relative;
        top: 1px;
    }

    .btn-white.active .btn-red-arrow {
        background-position: -204px -49px;
    }

    .btn-white:hover {
        text-decoration: none;
    }
   
    body {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .btn-size-120 {
        width: 120px;
        font-size: 14px;
        padding: 5px 0;
        position: relative;
        top: 2px;
    }
    .next-grey-icon {
    width: 8px;
    height: 13px;
    background-position: -182px -393px;
    vertical-align: middle;
}
    .padding-15-20 {
    padding: 15px 20px
}