/* common */
.text-slate-grey {
    color: #787878;
}
.card-h2-heading {
    font-size: 18px;
}
.font-bold {
    font-weight: 700;
}

/* floating tabs */
#modelOverallSpecsTopContent {
    height: 44px;
}
.overall-specs-tabs-container {
    width: 100%;
    display: block;
    background: #fff;
    overflow-x: auto;
    z-index: 3;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    -moz-box-shadow: 0 4px 5px -2px #d5d5d5;
    -webkit-box-shadow: 0 4px 5px -2px #d5d5d5;
    -o-box-shadow: 0 4px 5px -2px #d5d5d5;
    -ms-box-shadow: 0 4px 5px -2px #d5d5d5;
    box-shadow: 0 4px 5px -2px #d5d5d5;
}
.overall-specs-tabs-container.fixed-tab-nav {
    position: fixed;
    top: 0;
    left: 0;
}
.overall-specs-tabs-wrapper {
    width: 100%;
    display: table;
}
.overall-specs-tabs-wrapper li {
    display: table-cell;
    width: 1%;
    padding: 10px 15px;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    color: #82888b;
    cursor: pointer;
}
.overall-specs-tabs-wrapper li.active {
    border-bottom: 3px solid #ef3f30;
    color: #4d5057;
    font-weight: 600;
}
.overall-specs-tabs-container::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

/* on-road price content */
/* model-image */
.model-image {
    width: 120px;
    height: 68px;
}

.model-image img {
    width: 100%;
}

.model-image .model-ribbon-tag {
    position: absolute;
    top: -25px;
}

/* model-version-block */
.model-version-block {
    width: 60%;
}

/* dropdown */
.dropdown-select-wrapper {
    display: inline-block;
}

.dropdown-select {
    display: none;
}

.dropdown-menu {
    min-width: 125px;
    max-width: 185px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #4d5057;
}

.dropdown-menu .dropdown-label,
.dropdown-menu .dropdown-menu-title,
.single-version-label {
    max-width: 185px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu .dropdown-label {
    padding-right: 30px;
    padding-bottom: 3px;
}

.dropdown-menu .dropdown-menu-title {
    padding: 8px 10px;
    font-weight: 400;
}

.dropdown-menu .dropdown-label,
.dropdown-menu .dropdown-menu-title {
    width: 100%;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) no-repeat 94%;
    border-bottom: 1px solid #e2e2e2;
}

.dropdown-menu .dropdown-label {
    cursor: pointer;
    display: inline-block;
    z-index: 0;
}

.dropdown-menu .dropdown-list-wrapper {
    display: none;
    max-width: 185px;
    overflow:hidden;
    position: absolute;
    top: -13px;
    left: 0;
    background: #fff;
    z-index: 1;
    border-radius: 2px;
    border: 1px solid #e2e2e2\9;
    -webkit-box-shadow: -3px 3px 15px 1px #ddd;
    -moz-box-shadow: -3px 3px 15px 1px #ddd;
    -ms-box-shadow: -3px 3px 15px 1px #ddd;
    -o-box-shadow: -3px 3px 15px 1px #ddd;
    box-shadow: -3px 3px 15px 1px #ddd;
}

.dropdown-menu.dropdown-active .dropdown-list-wrapper {
    display: inline-block;
}

.dropdown-menu-list li {
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown-menu-list li.active {
    font-weight: 600;
}

/* facts */
.text-bold {
    font-weight: 600 !important;
}

.line-height16 {
    line-height: 1.6;
}

/* model dealers */
.list-type-disc {
    list-style: disc;
    margin-left: 19px;
}

.btn-auto-32 {
    padding: 5px 10px;
    font-size: 14px;
}

.btn-180-32 {
    padding: 5px 28px;
    font-size: 14px;
}

/* emi calculator */
#emiContent .inr-xxsm-icon {
    width: 8px;
}

.emi-slider-box-left-section {
    width: 100%;
    float: left;
    padding-top: 5px;
}

.finance-emi-container .ui-widget-content {
    background: #bababa;
    height: 2px;
    margin-top: 16px;
    margin-bottom: 28px;
    width: 100%;
}


.finance-emi-container .ui-slider .ui-slider-range {
    border: none;
    display: block;
    position: absolute;
    z-index: 1;
}

.finance-emi-container .ui-widget-header {
    background: #ef3030;
    height: 2px;
}

.finance-emi-container .ui-slider {
    position: relative;
    text-align: left;
}

.finance-emi-container .ui-slider .ui-slider-handle {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/slider-handle.png) no-repeat;
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: block;
    margin-left: -13px;
    position: absolute;
    outline: none;
    top: -13px;
    z-index: 2;
    background-position: 3px 3px;
}

.emi-slider-box-right-section {
    text-align: right;
}

.pos-top2 {
    top: 2px;
}

.btn.emi-quote-btn {
    padding: 8px 19px;
}

/* model version prices */
.divider-bottom {
    border-bottom: 1px solid #eee;
}

/* model prices in nearby cities */
.view-cities-link:before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 1;
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
}


/* model prices in other cities */
.btn-170-32 {
    width: 170px;
    font-size: 14px;
    padding: 5px;
}


/* similar bikes swiper */
.swiper-type-similar .swiper-btn-block {
    padding-bottom: 15px;
}

.swiper-type-similar .right-arrow {
    right: 18px;
    top: 13px;
    transform: scale(0.8);
}

.compare-with-target {
    display: block;
    padding: 10px 35px 10px 15px;
    position: relative;
    font-size: 12px;
    color: #4d5057;    
}

.compare-with-target:before {
    content: '';
    position: absolute;
    left: 8%;
    top: 0;
    width: 168px;
    height: 1px;
    border-top: 1px solid #e2e2e2;
}

.compare-sm {
    width: 17px;
    height: 12px;
    background-position: -173px -596px;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

/* other cities swiper */
.swiper-city .card-target-link {
    display: block;
}

.swiper-city .card-target-link,
.swiper-city .swiper-card {
    min-height: 165px;
}

.swiper-city .swiper-image-preview {
    height: 100px;
    padding: 25px 0 10px;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.swiper-city .swiper-details-block {
    padding-top: 10px;
}

/* city */
.city-sprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-city-sprite-v2.png?v07Oct2016) no-repeat;
    display: inline-block;
}
.c-mumbai-icon,
.c-pune-icon,
.c-bangalore-icon,
.c-newdelhi-icon,
.c-chennai-icon,
.c-hyderabad-icon,
.c-kolkata-icon,
.c-lucknow-icon {
    height: 48px;
}
.c-mumbai-icon {
    width: 78px;
    background-position: 0 0;
}
.c-pune-icon {
    width: 112px;
    background-position: -84px 0;
}
.c-bangalore-icon {
    width: 82px;
    background-position: -202px 0;
}
.c-newdelhi-icon {
    width: 38px;
    background-position: -290px 0;
}
.c-chennai-icon {
    width: 33px;
    background-position: -334px 0;
}
.c-hyderabad-icon {
    width: 34px;
    background-position: -373px 0;
}
.c-kolkata-icon {
    width: 110px;
    background-position: -413px 0;
}
.c-lucknow-icon {
    width: 106px;
    background-position: -529px 0;
}

/* top 10 bikes */
.rank-graph-black {
    width: 28px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.rank-graph-label {
    width: 88%;
}

.inr-dark-grey-xsm-icon {
    width: 9px;
    height: 12px;
    background-position: 0px -459px;
    position: relative;
    top: 1px;
}

@media only screen and (max-width: 320px) {
    .model-image {
        width: 96px;
        height: 53px;
    }
    .model-image img {
        width: 90%;
    }

    .model-version-block {
        width: 60%;
        padding-left: 0;
    }
}