/* common */
.text-slate-grey {
    color: #787878;
}
.card-h2-heading {
    font-size: 18px;
}
.font-bold {
    font-weight: 700;
}

.card-bottom-margin,
.section-bottom-margin {
    margin-bottom: 20px
}

/* floating tabs */
#modelOverallSpecsTopContent {
    height: 44px;
}

.pos-right35 {
    right: -15px;
}

.overall-specs-tabs-container {
    width: 100%;
    display: block;
    background: #fff;
    overflow-x: auto;
    z-index: 3;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    -moz-box-shadow: 0 4px 5px -2px #d5d5d5;
    -webkit-box-shadow: 0 4px 5px -2px #d5d5d5;
    -o-box-shadow: 0 4px 5px -2px #d5d5d5;
    -ms-box-shadow: 0 4px 5px -2px #d5d5d5;
    box-shadow: 0 4px 5px -2px #d5d5d5;
}
.overall-specs-tabs-container.fixed-tab-nav {
    position: fixed;
    top: 0;
    left: 0;
}
.overall-specs-tabs-wrapper {
    width: 100%;
    display: table;
}
.overall-specs-tabs-wrapper li {
    display: table-cell;
    width: 1%;
    padding: 10px 15px;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    color: #82888b;
    cursor: pointer;
}
.overall-specs-tabs-wrapper li.active {
    border-bottom: 3px solid #ef3f30;
    color: #4d5057;
    font-weight: 600;
}
.overall-specs-tabs-container::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

/* on-road price content */
/* model-image */
.model-image {
    width: 120px;
    height: 68px;
}

.model-image img {
    width: 100%;
}

.model-image .model-ribbon-tag {
    position: absolute;
    top: -25px;
    display: inline-block;
}

/* model-version-block */
.model-version-block {
    width: 60%;
}

/* dropdown */
.dropdown-select-wrapper {
    display: inline-block;
}

.dropdown-select {
    display: none;
}

.dropdown-menu {
    min-width: 125px;
    max-width: 185px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #4d5057;
}

.dropdown-menu .dropdown-label,
.dropdown-menu .dropdown-menu-title {
    max-width: 185px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu .dropdown-label {
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu .dropdown-menu-title {
    padding: 8px 10px;
    font-weight: 400;
}

.dropdown-menu .dropdown-label,
.dropdown-menu .dropdown-menu-title {
    width: 100%;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) no-repeat 94%;
    border-bottom: 1px solid #82888b;
}

.dropdown-menu .dropdown-label {
    cursor: pointer;
    z-index: 0;
}

.dropdown-menu .dropdown-list-wrapper {
    display: none;
    max-width: 185px;
    overflow:hidden;
    position: absolute;
    top: -13px;
    left: 0;
    background: #fff;
    z-index: 1;
    border-radius: 2px;
    -webkit-box-shadow: -3px 3px 15px 1px #ddd;
    -moz-box-shadow: -3px 3px 15px 1px #ddd;
    -ms-box-shadow: -3px 3px 15px 1px #ddd;
    -o-box-shadow: -3px 3px 15px 1px #ddd;
    box-shadow: -3px 3px 15px 1px #ddd;
}

.dropdown-menu.dropdown-active .dropdown-list-wrapper {
    display: inline-block;
}

.dropdown-menu-list li {
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-menu-list li.active {
    font-weight: 600;
}

/* single version */
.single-version-content {
    min-width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    position: relative;
}

.dropdown-effect-light {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) no-repeat 94%;
    padding-right: 25px;
}

.dropdown-effect-light:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 100%;
    background: #fff;
    opacity: 0.7;
}

/* facts */
.text-bold {
    font-weight: 600 !important;
}

.line-height16 {
    line-height: 1.6;
}

/* model dealers */
.list-type-disc {
    list-style: disc;
    margin-left: 19px;
}

.btn-auto-32 {
    padding: 5px 10px;
    font-size: 14px;
}

.btn-180-32 {
    padding: 5px 28px;
    font-size: 14px;
}

/* info icon */
.info-grey-14 {
	width: 14px;
	height: 14px;
	background-position: -173px -613px;
	position: relative;
	top: 2px;
	margin-right: 2px;
	cursor: pointer;
}

/* emi calculator */
#emiContent .inr-xxsm-icon {
    width: 8px;
}

.emi-slider-box-left-section {
    width: 100%;
    float: left;
    padding-top: 5px;
}

.finance-emi-container .ui-widget-content {
    background: #bababa;
    height: 2px;
    margin-top: 16px;
    margin-bottom: 28px;
    width: 100%;
}


.finance-emi-container .ui-slider .ui-slider-range {
    border: none;
    display: block;
    position: absolute;
    z-index: 1;
}

.finance-emi-container .ui-widget-header {
    background: #ef3030;
    height: 2px;
}

.finance-emi-container .ui-slider {
    position: relative;
    text-align: left;
}

.finance-emi-container .ui-slider .ui-slider-handle {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/slider-handle.png) no-repeat;
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: block;
    margin-left: -13px;
    position: absolute;
    outline: none;
    top: -13px;
    z-index: 2;
    background-position: 3px 3px;
}

.emi-slider-box-right-section {
    text-align: right;
}

.pos-top2 {
    top: 2px;
}

.btn.emi-quote-btn {
    padding: 8px 19px;
}

/* model version prices */
.divider-bottom {
    border-bottom: 1px solid #eee;
}

/* model prices in nearby cities */
.view-cities-link:before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 1;
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
}


/* model prices in other cities */
.btn-170-32 {
    width: 170px;
    font-size: 14px;
    padding: 5px;
}


/* similar bikes swiper */
.swiper-type-similar .swiper-btn-block {
    padding-bottom: 15px;
}

.swiper-type-similar .right-arrow {
    right: 18px;
    top: 13px;
    transform: scale(0.8);
}

.compare-with-target {
    display: block;
    padding: 10px 35px 10px 15px;
    position: relative;
    font-size: 12px;
    color: #4d5057;    
}

.compare-with-target:before {
    content: '';
    position: absolute;
    left: 8%;
    top: 0;
    width: 168px;
    height: 1px;
    border-top: 1px solid #e2e2e2;
}

.compare-sm {
    width: 17px;
    height: 12px;
    background-position: -173px -596px;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

/* other cities swiper */
.swiper-city .card-target-link {
    display: block;
}

.swiper-city .card-target-link,
.swiper-city .swiper-card {
    min-height: 165px;
}

.swiper-city .swiper-image-preview {
    height: 100px;
    padding: 25px 0 10px;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.swiper-city .swiper-details-block {
    padding-top: 10px;
}

/* city */
.city-sprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-city-sprite-v2.png?v07Oct2016) no-repeat;
    display: inline-block;
}
.c-mumbai-icon,
.c-pune-icon,
.c-bangalore-icon,
.c-newdelhi-icon,
.c-chennai-icon,
.c-hyderabad-icon,
.c-kolkata-icon,
.c-lucknow-icon {
    height: 48px;
}
.c-mumbai-icon {
    width: 78px;
    background-position: 0 0;
}
.c-pune-icon {
    width: 112px;
    background-position: -84px 0;
}
.c-bangalore-icon {
    width: 82px;
    background-position: -202px 0;
}
.c-newdelhi-icon {
    width: 38px;
    background-position: -290px 0;
}
.c-chennai-icon {
    width: 33px;
    background-position: -334px 0;
}
.c-hyderabad-icon {
    width: 34px;
    background-position: -373px 0;
}
.c-kolkata-icon {
    width: 110px;
    background-position: -413px 0;
}
.c-lucknow-icon {
    width: 106px;
    background-position: -529px 0;
}

/* top 10 bikes */
.grid-11-inline {
    width: 88.66666667%; /* grid-11 - 2% */
}

.grid-11-inline {
    display: inline-block;
    vertical-align: middle;
}

.rank-graph-black {
    width: 28px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.rank-graph-label {
    width: 88%;
}

.inr-dark-grey-xsm-icon {
    width: 9px;
    height: 12px;
    background-position: 0px -459px;
    position: relative;
    top: 1px;
}

/* icons */
.dealer-grey {
    width: 24px;
    height: 22px;
    background-position: -33px -639px;
    vertical-align: middle;
}

.service-center-grey {
    width: 28px;
    height: 25px;
    background-position: 0 -636px;
    vertical-align: middle;
}

.graph-rank-grey {
    width: 28px;
    height: 25px;
    background-position: -62px -637px;
    vertical-align: middle;
}

@media only screen and (max-width: 320px) {
    .model-image {
        width: 96px;
        height: 53px;
    }
    .model-image img {
        width: 90%;
    }

    .model-version-block {
        width: 60%;
        padding-left: 0;
    }
}

.full-width-select .dropdown-select-wrapper,
.full-width-select .dropdown-menu,
.full-width-select .dropdown-menu .dropdown-label,
.full-width-select .dropdown-menu .dropdown-selected-item,
.full-width-select .dropdown-menu .dropdown-list-wrapper,
.full-width-select .dropdown-menu .dropdown-menu-title {
    width: 100%;
	max-width: 100%;
}

.full-width-select .dropdown-menu-list {
	max-height: 165px;
	overflow-y: scroll;
}

.offers-sprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/offers-sprite.png?v16may2017) no-repeat;
    display: inline-block;
}

/* campaign offer loans */
.campaign__powered-key {
    font-size: 12px;
    color: #a2a2a2;
}

.campaign__powered-value {
    font-size: 13px;
    color: #82888b;
}

.btn-160-32 {
    min-width: 160px;
    padding: 5px;
    font-size: 14px;    
}

/*ratings css*/
.star-span {
    position: relative;
    top: -2px;
    transform: scale(0.9);
}

.border-light-left {
    border-left: 1px solid #ededed;
}

.star-icon {
  width: 26px;
  height: 25px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }
  .star-icon.star-size-16 {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6); }

.rate-count-1 .star-icon {
  background-position: 0 -667px; }

.rate-count-2 .star-icon {
  background-position: -38px -667px; }

.rate-count-3 .star-icon {
  background-position: 0 -278px; }

.rate-count-4 .star-icon {
  background-position: -74px -667px; }

.rate-count-5 .star-icon {
  background-position: -110px -667px; }
  
.rate-count-5 {
  color: #198D55; }

.rate-count-4 {
  color: #13B65D; }

.rate-count-3 {
  color: #EFD700; }

.rate-count-2 {
  color: #FD971C; }

.rate-count-1 {
  color: #EF3F30; }

 .review-left-divider {
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
}
  .review-left-divider:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 1px;
    height: 12px;
    border-left: 1px solid #e2e2e2;
}

  /*explore more card starts here*/
.exploremore__imagebackground {
    
    padding-top: 15px;
    padding-bottom: 10px;
    background: rgba(65,180,196,0.3);
}

.exploremore__icon-background {
    height: 64px;
    width: 64px;
    background: white url(https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/bike-36x22.png) no-repeat center;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.exploremore-detailblock {
    margin: 0 auto;
    padding-top: 20px;
    min-height:115px;
    text-align:center;
}

.detailblock__title {
    font-size: 14px;
    color: #4d5057;
    font-weight: 600;
    line-height:25px;
    margin-bottom: 10px;
}

.detailblock__description {
    font-size: 12px;
    color: #a2a2a2;
}
/*explore more card ends here*/

/* version price table */
.version-price-table {
    width: 100%;
}
.version-price-table th:first-child {
    width: 30%;
}
.version-price-table th {
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    font-size: 12px;
    color: #82888b;
    font-weight: normal;
    width: 35%;
}
.version-price-table td {
    vertical-align: top;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
}
/* price in top city */
.PriceInTopCity {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 0;
}
.PriceInTopCity .city-name {
    font-size: 14px;
    width: 60%;
    display: inline-block;
    padding-bottom: 20px;
    text-align: left;
}
.PriceInTopCity .city-price {
    font-size: 14px;
    width: 40%;
    display: inline-block;
    padding-bottom: 20px;
    text-align: right;
}
.get-offer-link {color: #0288d1!important; font-weight:bold}


/* popup gallery */
.gallery-container {
    z-index: 10;
}

.gallery-loader-placeholder {
    z-index: 8;
}

.gallery-bg-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #2a2a2a;
    overflow-y: hidden;
}

#gallery-close-btn {
    width: 25px;
    height: 25px;
    background-position: -56px -194px;
    top: 10px;
    right: 10px;
}

/* gallery-header */
.gallery-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: #2a2a2a;
}

.gallery-header .gallery-title {
    padding: 10px 40px 0 15px;
}

.horizontal-tabs-wrapper {
    width: 100%;
    display: table;
    border-bottom: 1px solid #82888b;
}

.horizontal-tabs-wrapper li {
    display: inline-block;
    width: auto;
    padding: 12px 20px;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    color: #82888b;
    cursor: pointer;
}

.horizontal-tabs-wrapper li.active {
    border-bottom: 3px solid #ef3f30;
    color: #fff;
    font-weight: bold;
    cursor: default;
    pointer-events: none;
}

/* gallery-body */
.gallery-body {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    margin: 0 auto;
}

/* gallery */
.gallery-swiper .swiper-slide:first-child {
    margin-left: 0;
}

.gallery-swiper,
.gallery-swiper .swiper-slide,
.main-video-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-heading-details {
    width: 100%;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 10%;
    z-index: 2;
    background: rgba(42,42,42,0.1);
}

.swiper-heading-details .grid-9.text-truncate {
    width: 75%;
}

.gallery-swiper .gallery-swiper-image {
    width: auto;
    height: auto;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 43%;
    line-height: 0;
    text-indent: 999999px;
}

.gallery-swiper .swiper-lazy-preloader {
    top: 43%;
}

.pos-top2 {
    top: 2px;
}

.gallery-swiper .swiper-button-prev,
.gallery-swiper .swiper-button-next {
    top: 39%;
    margin-top: 0;
    border: none;
    background-color: transparent !important;
}

.gallery-swiper .swiper-button-next {
    right: 5px;
}

.gallery-swiper .swiper-button-prev {
    left: 7px;
}
/* thumbnail swiper */
.thumbnail-swiper,
.color-thumbnail-swiper {
    padding-right: 20px;
}

.thumbnail-swiper .swiper-slide {
    width: 140px;
    height: 68px;
    padding-left: 20px;
    text-align: center;
}

.thumbnail-swiper .swiper-slide:first-child,
.color-thumbnail-swiper .swiper-slide:first-child {
    margin-left: 0px
}

.thumbnail-swiper .thumbnail-image-placeholder {
    width: 100%;
    height: 68px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
}

.thumbnail-swiper .swiper-slide img {
    height: 68px;
    line-height: 0;
}

.thumbnail-swiper .focus-slide .thumbnail-image-placeholder {
    border-color: #41b4c4;
}

/* color-thumbnail-swiper */
.color-thumbnail-swiper .swiper-slide {
    width: 140px;
    height: 40px;
    padding-left: 20px;
}

.color-thumbnail-swiper .color-box {
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    border: 1px solid #e2e2e2;
}

.color-thumbnail-swiper .color-box-label {
    width: 62%;
    padding-left: 10px;
    color: #82888b;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.color-count-one span {
    width: 100%;
    height: 100%;
    display: block!important;
    background: #f1f1f1
}

.color-count-two span {
    width: 100%;
    height: 50%;
    display: block!important;
    background: #f1f1f1
}

.color-count-three span {
    width: 100%;
    height: 33.33%;
    display: block!important
}

.focus-slide .color-box:before {
    content: "";
    background: rgba(0, 0, 0, 0.2) url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/white-tick-lg.png) 48% no-repeat;
    width: 38px;
    height: 38px;
    display: block;
    position: absolute;
}

.focus-slide .color-box-label {
    color: #4d5057;
}

/* gallery-footer */
.gallery-footer {
    background: #2a2a2a;
}

.footer-tabs-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 6px #999;
}

.footer-shadow {
    box-shadow: 0 0 6px #999;
}

.tab-active {
    background: #41b4c4;
    color: #fff;
}

.tab-separator:after {
    content: '';
    width: 1px;
    height: 30px;
    border-right: 1px solid #e2e2e2;
    position: absolute;
    right: 0;
    top: 10px;
}

.tab-active.tab-separator:after {
    content: none;
}

.footer-tab {
    cursor: pointer;
    text-align: center;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 0;
}

.all-option-tab {
    width: 42%;
}

.grid-3-tab {
    width: 19.33%;
    float: right;
}

/* tab cards */
.footer-tab-card {
    width: 100%;
    bottom: 50px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 6px #999;
}

.position-fixed {
    position: absolute;
}

#color-tab-screen {
    height: 80px;
}

#info-tab-screen {
    min-height: 100px;
}

#video-tab-screen {
    height: 155px;
    overflow-y: scroll;
    position: fixed;
}

.footer-tab-card .model-more-info-section .bike-details-block {
    width: 75%;
}

/* gallery-video-swiper */
#main-video-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.main-video-iframe-content {
    position: relative;
    top: 18%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.main-video-iframe-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-tab-list li {
    padding: 20px;
    border: 1px solid #fff;
    position: relative;
    cursor: pointer;
}

.video-tab-list li:first-child:before {
    border-top: 0;
}

.video-tab-list li:before {
    content: '';
    width: 90%;
    height: 1px;
    display: block;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    top: 0;
}

.video-image-block {
    width: 100px;
    height: 56px;
    position: relative;
    overflow: hidden;
}

.video-image-block img {
    width: 100px;
    position: relative;
    top: -15%;
}

.video-image-block .black-overlay {
    padding-top: 17%;
    background: rgba(0,0,0,0.7);
}

.video-title-block {
    width: 65%;
    color: #82888b;
}

/* active video */
.video-tab-list .active {
    border: 1px solid #41b4c4;
    cursor: default;
    pointer-events: none;
}
.video-tab-list .active:before,
.video-tab-list .active + li:before {
    border-top: 0;
}
.video-tab-list .active .video-title-block {
    color: #4d5057;
}
.video-tab-list .active .black-overlay {
    display: none;
}

/* popup gallery icons */
.grid-icon,
.color-palette,
.fullscreen-icon,
.info-icon {
    width: 20px;
    height: 20px;
}

.grid-icon {
    background-position: 0 -572px;
    vertical-align: middle;
}

.tab-active .grid-icon {
    background-position: -22px -572px;
}

.color-palette {
    background-position: -46px -572px;
}

.tab-active .color-palette {
    background-position: -69px -572px;
}

.fullscreen-icon {
    background-position: -93px -572px;
}

.fullscreen-active .fullscreen-icon {
    background-position: -114px -572px;
}

.info-icon {
    background-position: -138px -572px;
}

.tab-active .info-icon {
    background-position: -161px -572px;
}

.play-icon-lg {
    width: 38px;
    height: 38px;
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/play-icon-lg.png') no-repeat;
    display: inline-block;
}

.next-grey-icon {
    width: 8px;
    height: 13px;
    background-position: -182px -393px;
    vertical-align: middle;
}

body { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-size-120 {
    width: 120px;
    font-size: 14px;
    padding: 5px 0;
    position: relative;
    top: 2px;
}

.footer-tab-card .model-more-info-section .item-image-content {
    width: 68px;
    height: 38px;
    margin-right: 5px;
}

/* uc browser specific */
.uc-iframe-position #video-tab-screen {
    height: 100px;
}

.uc-iframe-position #info-tab-screen {
    height: 100px;
    min-height: 100px;
    overflow: scroll;
}

.uc-iframe-position .model-ribbon-tag {
    top: -4px;
    left: -10px;
}

.uc-iframe-position .video-tab-list li {
    padding: 10px;
}

.uc-iframe-position #info-tab-screen .padding-15-20 {
    padding: 5px 10px;
}

.uc-iframe-position #info-tab-screen .margin-bottom10,
.uc-iframe-position #info-tab-screen h3.margin-bottom5 {
    margin-bottom: 0;
}

.uc-iframe-position #info-tab-screen .item-more-details-list li {
    margin-bottom: 4px;
}

.spin-loader {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 auto;
    border: 3px solid #f5f5f5;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1.1s infinite linear;
    -moz-animation: spin 1.1s infinite linear;
    -ms-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
}

.fixed-loader {
    position: fixed;
    top: 40%;
    right: 0;
    left: 0;
}

@-moz-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-ms-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.thumbnail-swiper .swiper-lazy-preloader { left: 57%; }

.footer-tab-card .item-more-details-list li {
    margin-right: 5px;
    margin-bottom: 5px;
}

.footer-tab-card .item-more-details-list a {
    padding-right: 6px;
    padding-left: 6px;
}

.footer-tab-card .item-more-details-list .icon-label {
    font-size: 12px;
}

@media only screen and (min-width: 720px) {
    .photos-grid-list li:nth-child(6n+1) {
        width: 99.4%;
    }
    
    .photos-grid-list li:nth-child(6n+2) {
        padding-bottom: 36.6%;
    }

    .photos-grid-list li:nth-child(6n+3),
    .photos-grid-list li:nth-child(6n+4) {
        width: 33.7%;
        padding-bottom: 18%;
    }

    .photos-grid-list li:nth-child(6n+5),
    .photos-grid-list li:nth-child(6n+6) {
        width: 49.3%;
    }

    .photos-grid-list .black-overlay .font14 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 719px) {
    .photos-grid-list li:nth-child(6n+5),
    .photos-grid-list li:nth-child(6n+6) {
        width: 49%
    }

    .photos-grid-list .black-overlay .font14 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
    .photos-grid-list li:nth-child(6n+2) {
        width: 64.7%;
    }
}

@media only screen and (max-width: 320px) {
    .swiper-heading-details {
        top: 10%;
    }
    #main-video-content .swiper-heading-details {
        top: 7%;
    }
    .swiper-heading-details .text-truncate {
        width: 74%;
    }
    .photos-grid-list li:nth-child(6n+3),
    .photos-grid-list li:nth-child(6n+4) {
        width: 32.2%
    }


    #main-color-swiper .swiper-heading-details .grid-9 {
        width: 65%;
    }

    #main-color-swiper .swiper-heading-details .grid-3 {
        width: 35%;
    }

    .footer-tab-card .model-more-info-section .bike-details-block {
        width: 70%;
    }

    .footer-tab-card .btn-180-34 {
        width: 150px;
    }

    /* thumbnail-tab-screen */
    .thumbnail-swiper .swiper-slide {
        width: 110px;
        height: 56px;
        padding-left: 10px;
    }
    .thumbnail-swiper .swiper-slide img {
        height: 56px;
    }

    .video-image-block,
    .video-image-block img {
        width: 90px;
    }

    .btn-size-120 {
        width: 110px;
    }
    .model-more-info-section .bike-details-block {
        width: 62%;
    }

    .model-more-info-section .used-target-label {
        width: 94%;
    }

}

@media screen and (orientation:landscape) {
    .gallery-body {
        padding-top: 0;
    }

    .gallery-swiper .gallery-swiper-image {
        top: 50%;
    }

    .swiper-heading-details {
        top: 0;
        text-align: left;
        padding-top: 10px;
        background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.7));
    }

    .swiper-heading-details .text-xx-light {
        color: #fff;
    }

    /* thumbnail-tab-screen */
    #thumbnail-tab-screen,
    #color-tab-screen {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #color-tab-screen {
        height: 60px;
    }
    .thumbnail-swiper .swiper-slide {
        width: 110px;
        height: 56px;
        padding-left: 10px;
    }
    .thumbnail-swiper .thumbnail-image-placeholder,
    .thumbnail-swiper .swiper-slide img {
        height: 56px;
    }
    .color-thumbnail-swiper .swiper-slide {
        padding-left: 10px;
    }
    .main-video-iframe-content {
        top: 0;
    }

    .gallery-swiper .swiper-button-prev,
    .gallery-swiper .swiper-button-next {
        top: 45%;
    }

    .model-more-info-section {
        padding: 10px 15px;
    }
}

/* electric slug */
.electric-slug__content {
	padding: 15px 30px 15px 15px;
	margin-bottom: 10px;
	display: block;
	font-size: 0;
	border: 1px solid #b5b5b5;
	background: #fff url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/arrow-right.svg') no-repeat 95%;
	box-shadow: 0 2px 2px #e2e2e2;
}

.electric-scooter-icon {
	width: 55px;
	height: 47px;
	display: inline-block;
	vertical-align: middle;
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/electric-scooter.svg') no-repeat center;
	background-size: contain;
}

.electric-slug__details {
	width: 74%;
	padding-left: 15px;
	display: inline-block;
	vertical-align: middle;
}

.electric-slug__title {
	font-size: 14px;
	font-weight: 600;
	color: #4acea8;
	margin-bottom: 5px;
	text-transform: capitalize;
}

.electric-slug__subtitle {
	font-size: 11px;
	font-weight: 600;
	color: #82888b;
}

@media (max-width: 320px) {
	.electric-slug__content {
		padding: 10px;
	}

	.electric-slug__details {
		width: 70%;
		padding-left: 10px;
	}
}