RewriteEngine	On

# member page
RewriteRule members/(.*).html				members/profile.aspx?handle=$1 [NC,L]

# ViewAlbumPhotos page
RewriteRule photos/album/(.*)/(.*)/			photos/viewalbumphotos.aspx?albumId=$1&UserId=$2 [NC,L]
