<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="ReadOnlyConnectionString" value="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=2;Max Pool Size=10"/>
    <add key="MasterConnectionString" value="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=2;Max Pool Size=10"/>
    <add key="SitemapLoc" value="sitemaps/"/>
    <add key="SiteMapDomain" value="https://www.bikewale.com"/>
    <add key="MaxUrlCount" value="40000"/>
    <add key="FileName" value="sitemap"/>
    <add key="NewsApiUrl" value="https://www.bikewale.com/api/cms/cat/1/posts/100/"/>
    <add key="ExpertReviewApiUrl" value="https://www.bikewale.com/api/cms/cat/8/posts/25/"/>
    <add key="FeaturesApiUrl" value="https://www.bikewale.com/api/cms/cat/6/posts/25/"/>
    <add key="VideosApiUrl" value="https://www.bikewale.com/api/videos/cat/6/pn/1/ps/25/"/>
    <add key="SitemapType" value="1"/>
    <add key="copyToServerUtilLocation" value="E:\\work\\Bikewale\\bikewaleweb\\Bikewale.Sitemap.CopySiteMapToServers\\bin\\Debug\\Bikewale.Sitemap.CopySiteMapToServers.exe"/>
    <add  key="sitemapSP" value="getmainsitemapurldata"/>
    <add key="ElasticHostUrl" value="172.16.0.11:9201"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <log4net>
    <!--This appender is for adding the default providers -->
    <appender name="ProviderFile" type="log4net.Appender.RollingFileAppender">
      <file value="logs/LogInfo.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{MM/dd/yyyy hh:mm:ss} - %message%newline"/>
      </layout>
    </appender>

    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <file value="logs/Error.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception%newline"/>
      </layout>
    </appender>

    <root>
      <level value="INFO"/>
      <appender-ref ref="ProviderFile"/>
    </root>

    <logger additivity="false" name="ErrorLog">
      <level value="ERROR"/>
      <appender-ref ref="ErrorLog"/>
    </logger>

  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">    
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>