<header id="header">
    <div class="header-fixed">
        <!-- Fixed Header code starts here -->
        <a href="/m/" class="cwmsprite cw-logo" onclick="trackTopMenu('CarwaleLogo-Click',window.location.href)"></a>
        <div class="leftfloat">
            <span class="navbarBtn cwmsprite nav-icon margin-right10"></span>
        </div>

        <div class="rightfloat">
            <div id="global-location" class="global-location">
                <div class="locInput position-rel padding-right15">
                    <input type="hidden" id="hdnGlobalCity" value="@Carwale.UI.Common.CookiesCustomers.MasterCityId" />
                    <span id="global-place" class="font13 text-capitalize">Enter your location </span>
                    <span class="fa fa-map-marker position-abt pos-right0 pos-top4 text-white"></span>
                </div>
            </div>
            <div class="global-search">
                <span class="cwmsprite search-icon-grey"></span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div> <!-- ends here -->
    <div class="clear"></div>
</header>