@using Carwale.Utility;
<div class="container">
    <div class="grid-12 margin-bottom20">
        <h2 class="text-uppercase text-center margin-bottom10">car insurance & loan</h2>
        <div class="swiper-container loanInsCarousel">
            <ul class="swiper-wrapper">
               
                <li class="swiper-slide" onclick="window.open('/m/insurance/', '_blank' )">
                    <div class="front content-inner-block-10">
                        <h3 class="font18 text-uppercase text-black margin-top10 margin-bottom15">Insurance</h3>

                        <div class="list table margin-bottom25">
                            <span class="table-cell"><i class="cwm-md-circle saving50per"></i></span>
                            <span class="font16 table-cell text-bold padding-left15">Save upto 50% on insurance premium</span>
                        </div>

                        <div class="list table margin-bottom25">
                            <span class="table-cell"><i class="cwm-md-circle web-pointer"></i></span>
                            <span class="font16 table-cell text-bold padding-left15">Easy online purchase & renewal</span>
                        </div>

                        <button class="btn btn-orange btn-full-width text-center text-uppercase">Take a free quote</button>
                    </div>
                </li>

                <li class="swiper-slide" onclick="window.open('http://www.bankbazaar.com/car-loan.html?WT.mc_id=bb01|CL|modelpage_mobile&utm_source=bb01&utm_medium=display&utm_campaign=bb01&variant=slide&variantOptions=mobileRequired', '_blank')">
                    <div class="front content-inner-block-10">
                        <span class="position-abt pos-top0 pos-right5 text-medium-grey font11">Ad</span>
                        <h3 class="font18 text-uppercase text-black margin-top10 margin-bottom15">Loan</h3>
                        <div class="list table margin-bottom25">
                            <span class="table-cell"><i class="cwm-md-circle finance"></i></span>
                            <span class="font16 table-cell text-bold padding-left15">Upto 100% finance at lowest interest rates</span>
                        </div>
                        <div class="list table margin-bottom25">
                            <span class="table-cell"><i class="cwm-md-circle certificate"></i></span>
                            <span class="font16 table-cell text-bold padding-left15">Get an approval in 30 minutes</span>
                        </div>
                        <button class="btn btn-orange btn-full-width text-center text-uppercase">Apply Now</button>
                    </div>
                </li>
                        
            </ul>
            <div class="clear"></div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Navigation -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        
    </div>
    <div class="clear"></div>
</div>
