<link href="~/PWA/build/locationapp.css" rel="stylesheet">
<div id="root"></div>
<script src="~/PWA/build/bootstrap.js" defer></script>
<script src="~/PWA/build/vendor.js" defer></script>
<script src="~/PWA/build/locationapp.js" defer></script>