<section class="ncf-secondary-blue-slug">
	<div class="ncf-slug-wrapper">
		<span class="slug-close-btn">
			<svg viewBox="0 0 40 40">
				<path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30"></path>
			</svg>
		</span>
		<div class="ncf-white-car-img">
			<span class="ncf-magnify-image"></span>
		</div>
		<div class="ncf-white-car-content">
			<h2 class="font11" style="color: white; text-transform: uppercase; letter-spacing: 1.5px;">CLICK HERE TO FIND THE CAR OF YOUR CHOICE IN A FEW STEPS </h2>
		</div>
	</div>
</section>
