<section class="ncf-secondary-slug" data-role="inview-imp" data-event="CWNonInteractive" data-action="NCFLinkage_Secondary_impression" data-cat="NCFLinkage" data-label="@Request.RawUrl">
    <div class="ncf-linkage">
        <div class="ncf-image">
            <span class="ncf-car-image"></span>
            <span class="ncf-magnify-image"></span>
        </div>
        <div class="ncf-content">
            <h2 class="font16">Buying a new car?</h2>
            <p class="font11">Find the suitable one in a few steps.</p>
            <button class="btn ncf-button font12">Explore Now</button>
        </div>
    </div>
</section>