<section data-role="inview-imp" data-event="CWNonInteractive" data-action="NCFLinkage_Primary_impression" data-cat="NCFLinkage" data-label="@Request.RawUrl">
    <div class="ncf-linkage">
        <div class="ncf-image">
            <span class="ncf-car-image"></span>
            <span class="ncf-magnify-image"></span>
        </div>
        <div class="ncf-content">
            <h2 class="font18">Looking for a new car?</h2>
            <p class="font14">Try our wizard to get the best car suggestions.</p>
            <button class="btn ncf-button">Explore Now</button>
        </div>
    </div>
</section>