<section class="leaderboard-container">
    <div class="leaderboard">
        <div class="leaderboard__tvs-logo"></div>
        <p class="leaderboard__content">
            There's One For Everyone!
            <span class="leaderboard__sub-content">Celebrate With The Best Offer From TVS Scooters</span>
        </p>
		    <button class="btn leaderboard-btn js-leaderboard-popup-link bw-ga" data-cat="leaderboard" data-act="TVS leaderboard_click to Expand_clicked" data-lab="TVS leaderboard Click to Expand" data-popup="leaderPopup"><span class="leaderboard-btn__mobile-text">Expand <span class="leaderboard__expand-icon"></span></span><span class="leaderboard-btn__desktop-text">Click to Expand</span></button>

        <div class="leaderboard__bike-conatiner">
            <span class="leaderboard__bike-one-block">
                <span class="leaderboard__bike leaderboard__bike-one"></span>
                <span class="leaderboard__wheel leaderboard__bike-one-wheel--one"></span>
                <span class="leaderboard__wheel leaderboard__bike-one-wheel--two"></span>
            </span>
            <span class="leaderboard__bike-two-block">
                <span class="leaderboard__bike leaderboard__bike-two"></span>
                <span class="leaderboard__wheel leaderboard__bike-two-wheel--one"></span>
                <span class="leaderboard__wheel leaderboard__bike-two-wheel--two"></span>
            </span>
            <span class="leaderboard__bike-three-block">
                <span class="leaderboard__bike leaderboard__bike-three"></span>
                <span class="leaderboard__wheel leaderboard__bike-three-wheel--one"></span>
                <span class="leaderboard__wheel leaderboard__bike-three-wheel--two"></span>
            </span>
            <span class="leaderboard__bike-four-block">
                <span class="leaderboard__bike leaderboard__bike-four"></span>
                <span class="leaderboard__wheel leaderboard__bike-four-wheel--one"></span>
                <span class="leaderboard__wheel leaderboard__bike-four-wheel--two"></span>
            </span>
        </div>
    </div>

    <div class="popup-container leaderboard-popup" id="leaderPopup">
        <div class="popup-overlay"></div>
        <div class="popup">
            <div class="popup-head">
                <h2 class="popup-head__title">There's One For Everyone!</h2>
            </div>
			<span class="popup-back-btn js-popup-back-btn js-leaderboard-popup-close bw-ga" data-cat="leaderboard" data-act="TVS leaderboard popup_close_clicked" data-lab="TVS leaderboard popup_close"></span>

            <div class="popup-body">

                <div class="bw-tabs-panel bg-white leaderboard__tabs-wrapper" id="leaderboardTabs">

                    <div class="bw-tabs bw-tabs-flex leaderboard__tabs js-leaderboard__tabs">
                        <ul class="brand-collapsible-present">
                            <li class="active bw-ga leader-board-tab" data-cat="leaderboard" data-act="TVS leaderboard Jupiter_tab_clicked" data-lab="TVS leaderboard Jupiter_tab" data-tabs="tvsJupiter">
                                <div class="leaderboard__tab-img tab--jupiter-img">
                                    <img class="lazy" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/jupiter-tab.jpg" alt="TVS Jupiter" />
                                </div>
                                <div class="leaderboard__tab-text-img tab--jupiter-text-img">
                                    <img class="lazy" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/jupiter-logo.png" alt="TVS Jupiter" />
                                </div>
                            </li>
                            <li data-tabs="tvsWego" class="bw-ga leader-board-tab" data-cat="leaderboard" data-act="TVS leaderboard Wego_tab_clicked" data-lab="TVS leaderboard Wego_tab">
                                <div class="leaderboard__tab-img tab--wego-img">
                                    <img class="lazy" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/wego-tab.jpg" alt="TVS Wego" />
                                </div>
                                <div class="leaderboard__tab-text-img tab--wego-text-img">
                                    <img class="lazy" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/wego-logo.png" alt="TVS Wego" />
                                </div>
                            </li>
                            <li data-tabs="scootypep" class="bw-ga leader-board-tab" data-cat="leaderboard" data-act="TVS leaderboard Pep_tab_clicked" data-lab="TVS leaderboard Pep_tab">
                                <div class="leaderboard__tab-img tab--pep-img">
                                    <img class="lazy" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/pep-tab.jpg" alt="TVS Scooty Pep+" />
                                </div>
                                <div class="leaderboard__tab-text-img tab--pep-text-img">
                                    <img class="lazy" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/pep-logo.png" alt="TVS Scooty Pep+" />
                                </div>
                            </li>
                            <li data-tabs="tvsNtorq" class="bw-ga leader-board-tab" data-cat="leaderboard" data-act="TVS leaderboard NTORQ_tab_clicked" data-lab="TVS leaderboard NTORQ_tab">
                                <div class="leaderboard__tab-img tab--ntorq-img">
                                    <img class="lazy" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/ntorq-tab.jpg" alt="TVS NTORQ" />
                                </div>
                                <div class="leaderboard__tab-text-img tab--ntorq-text-img">
                                    <img class="lazy" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/ntorq-logo.png" alt="TVS NTORQ" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="leaderboard__tabs-content">
                        <div class="bw-tabs-data leaderboard-tab__container tvs-jupiter-tab" id="tvsJupiter">
                            <div class="tab-body-container">
                                <div class="tab-body__head js-tab-body__head">
                                    <div class="leaderboard__brand-details">
                                        <img class="leaderboard__brand-logo brand--tvs-logo lazy" alt="TVS" src="" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/tvs-logo.png?v09112018" />
                                        <div class="leaderboard__brand-img-wrapper">
                                            <img class="leaderboard__brand-image lazy" alt="TVS Jupiter" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/bike-jupiter.png?v091120181600" />
                                        </div>
                                        <div class="leaderboard__brand-info">
                                            <h2 class="leaderboard__brand-title">TVS Jupiter</h2>
                                            <h3 class="leaderboard__brand-subtitle">Price : &#8377; <strong class="leaderboard__brand-subtitle-bold">54,933</strong></h3>
                                            <p class="leaderboard__brand-exshowroom">(Ex-showroom price in Mumbai)</p>
                                            <p class="leaderboard__brand-desription">With 20 best in-class features, colors, style and technical specs, there is defenitely one for everyone, Zyada Ka Fayda</p>
                                        </div>
                                    </div>
                                    <div class="leaderboard__specs">
                                        <ul class="leaderboard__specs-list">
                                            <li class="leaderboard__specs-item specs-item__engine">
                                                <div class="leaderbord__specs-icon specs-icon--engine">
                                                    <img class="lazy" alt="Engine" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/engine.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Engine</h3><p>4 Stroke,</p><p>Air Cooled, 109.7cc</p></div>
                                            </li>
                                            <li class="leaderboard__specs-item specs-item__power">
                                                <div class="leaderbord__specs-icon specs-icon--power">
                                                    <img class="lazy" alt="Power" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/power.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Power & Torque</h3><p>5.88 kW &#64; 7500 rpm,</p><p>8 Nm &#64; 5500 rpm</p></div>
                                            </li>
                                            <li class="leaderboard__specs-item specs-item__transmission">
                                                <div class="leaderbord__specs-icon specs-icon--transmission">
                                                    <img class="lazy" alt="Transmission" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/transmission.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Transmission</h3><p>Primary CVT &</p> <p>Secondary Gear Box</p></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="popup-footer leaderboard__tabs-footer">
                                    <a href="https://www.tvsmotor.com/scooter-range/" rel="nofollow noopener" target="_blank" class="btn btn-cinnabar bw-ga" data-cat="leaderboard" data-act="TVS leaderboard Jupiter-Explore More_clicked" data-lab="TVS leaderboard Jupiter-Explore More">
                                        <span class="btn-cinnabar__mobile-text">Explore more</span>
                                        <span class="btn-cinnabar__desktop-text">Book a Test Drive</span>
                                    </a>
                                    <a href="https://stb.aeplcdn.com/bikewale/pdf/tvs-jupiter-brochure.pdf" rel="nofollow noopener" download title="Download TVS Jupiter Brochure" class="btn btn-cinnabar-outline bw-ga" data-cat="leaderboard" data-act="TVS leaderboard Jupiter-Download Brochure_clicked" data-lab="TVS leaderboard Jupiter-Download Brochure">Download Brochure</a>
                                </div>
                            </div>
                        </div>
                        <div class="bw-tabs-data leaderboard-tab__container hide tvs-wego-tab" id="tvsWego">
                            <div class="tab-body-container">
                                <div class="tab-body__head js-tab-body__head">
                                    <div class="leaderboard__brand-details">
                                        <img class="leaderboard__brand-logo brand--tvs-logo lazy" alt="TVS" src="" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/tvs-logo.png?v09112018" />
                                        <div class="leaderboard__brand-img-wrapper">
                                            <img class="leaderboard__brand-image lazy" alt="TVS Wego" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/bike-wego.png?v091120181600" />
                                        </div>
                                        <div class="leaderboard__brand-info">
                                            <h2 class="leaderboard__brand-title">TVS Wego</h2>
                                            <h3 class="leaderboard__brand-subtitle">Price : &#8377; <strong class="leaderboard__brand-subtitle-bold">53,413</strong></h3>
                                            <p class="leaderboard__brand-exshowroom">(Ex-showroom price in Mumbai)</p>
                                            <p class="leaderboard__brand-desription">India's first scooter with body balance technology and more exciting features, it is time to make your own #Wetime</p>
                                        </div>
                                    </div>
                                    <div class="leaderboard__specs">
                                        <ul class="leaderboard__specs-list">
                                            <li class="leaderboard__specs-item specs-item__engine">
                                                <div class="leaderbord__specs-icon specs-icon--engine">
                                                    <img class="lazy" alt="Engine" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/engine.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Engine</h3><p>4 Stroke, </p><p>Air Cooled, 109.7 cc</p></div>
                                            </li>
                                            <li class="leaderboard__specs-item specs-item__power">
                                                <div class="leaderbord__specs-icon specs-icon--power">
                                                    <img class="lazy" alt="Power" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/power.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Power & Torque</h3><p>5.88 kW &#64; 7500 rpm,</p><p>8.4 Nm &#64; 5500 rpm</p></div>
                                            </li>
                                            <li class="leaderboard__specs-item specs-item__transmission">
                                                <div class="leaderbord__specs-icon specs-icon--transmission">
                                                    <img class="lazy" alt="Transmission" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/transmission.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Transmission</h3><p>CVT Transmission</p></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="popup-footer leaderboard__tabs-footer">
                                    <a href="https://www.tvsmotor.com/scooter-range/" rel="nofollow noopener" target="_blank" class="btn btn-cinnabar bw-ga" data-cat="leaderboard" data-act="TVS leaderboard Wego-Explore More_clicked" data-lab="TVS leaderboard Wego-Explore More">
                                        <span class="btn-cinnabar__mobile-text">Explore more</span>
                                        <span class="btn-cinnabar__desktop-text">Book a Test Drive</span>
                                    </a>
                                    <a href="https://stb.aeplcdn.com/bikewale/pdf/tvs-wego-brochure.pdf" rel="nofollow noopener" download title="Download TVS Wego Brochure" class="btn btn-cinnabar-outline bw-ga" data-cat="leaderboard" data-act="TVS leaderboard Wego-Download Brochure_clicked" data-lab="TVS leaderboard Wego-Download Brochure">Download Brochure</a>
                                </div>
                            </div>
                        </div>
                        <div class="bw-tabs-data leaderboard-tab__container hide scooty-pep-tab" id="scootypep">
                            <div class="tab-body-container">
                                <div class="tab-body__head js-tab-body__head">
                                    <div class="leaderboard__brand-details">
                                        <img class="leaderboard__brand-logo brand--tvs-logo lazy" alt="TVS" src="" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/tvs-logo.png?v09112018" />
                                        <div class="leaderboard__brand-img-wrapper">
                                            <img class="leaderboard__brand-image lazy" alt="TVS Scooty Pep+" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/bike-pep.png?v091120181600" />
                                        </div>
                                        <div class="leaderboard__brand-info">
                                            <h2 class="leaderboard__brand-title">TVS Scooty Pep+</h2>
                                            <h3 class="leaderboard__brand-subtitle">Price : &#8377; <strong class="leaderboard__brand-subtitle-bold">41,075</strong></h3>
                                            <p class="leaderboard__brand-exshowroom">(Ex-showroom price in Mumbai)</p>
                                            <p class="leaderboard__brand-desription">India's #1 mileage scooter, now with all new advanced ECO-THRUST engine. Have a smooth and comfortable ride</p>
                                        </div>
                                    </div>
                                    <div class="leaderboard__specs">
                                        <ul class="leaderboard__specs-list">
                                            <li class="leaderboard__specs-item specs-item__engine">
                                                <div class="leaderbord__specs-icon specs-icon--engine">
                                                    <img class="lazy" alt="Engine" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/engine.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Engine</h3><p>4 Stroke Forced,</p><p> Air Cooled, 87.8cc</p></div>
                                            </li>
                                            <li class="leaderboard__specs-item specs-item__power">
                                                <div class="leaderbord__specs-icon specs-icon--power">
                                                    <img class="lazy" alt="Power" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/power.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Power & Torque</h3><p>3.68 kW &#64; 6500 RPM, </p><p>5.8 NM &#64; 4000 RPM</p></div>
                                            </li>
                                            <li class="leaderboard__specs-item specs-item__transmission">
                                                <div class="leaderbord__specs-icon specs-icon--transmission">
                                                    <img class="lazy" alt="Transmission" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/transmission.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Transmission</h3><p>DIGITAL IDI IGNITION</p></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="popup-footer leaderboard__tabs-footer">
                                    <a href="https://www.tvsmotor.com/scooter-range/" rel="nofollow noopener" target="_blank" class="btn btn-cinnabar bw-ga" data-cat="leaderboard" data-act="TVS leaderboard Pep-Explore More_clicked" data-lab="TVS leaderboard Pep-Explore More">
                                        <span class="btn-cinnabar__mobile-text">Explore more</span>
                                        <span class="btn-cinnabar__desktop-text">Book a Test Drive</span>
                                    </a>
                                    <a href="https://stb.aeplcdn.com/bikewale/pdf/tvs-scootypep-brochure.pdf" rel="nofollow noopener" download title="Download TVS Scooty Pep+ Brochure" class="btn btn-cinnabar-outline bw-ga" data-cat="leaderboard" data-act="TVS leaderboard Pep-Download Brochure_clicked" data-lab="TVS leaderboard Pep-Download Brochure">Download Brochure</a>
                                </div>
                            </div>
                        </div>
                        <div class="bw-tabs-data leaderboard-tab__container hide tvs-ntorq-tab" id="tvsNtorq">
                            <div class="tab-body-container">
                                <div class="tab-body__head js-tab-body__head">
                                    <div class="leaderboard__brand-details">
                                        <img class="leaderboard__brand-logo brand--tvs-logo lazy" alt="TVS" src="" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/tvs-logo.png?v09112018" />
                                        <div class="leaderboard__brand-img-wrapper">
                                            <img class="leaderboard__brand-image lazy" alt="TVS Ntorq 125" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/bike-ntorq.png?v091120181600" />
                                        </div>
                                        <div class="leaderboard__brand-info">
                                            <h2 class="leaderboard__brand-title">TVS Ntorq 125</h2>
                                            <h3 class="leaderboard__brand-subtitle">Price : &#8377; <strong class="leaderboard__brand-subtitle-bold">67,034</strong></h3>
                                            <p class="leaderboard__brand-exshowroom">(Ex-showroom price in Mumbai)</p>
                                            <p class="leaderboard__brand-desription">Experience India's first Bluetooth connected scooter with navigation, caller ID and more exciting features</p>
                                        </div>
                                    </div>
                                    <div class="leaderboard__specs">
                                        <ul class="leaderboard__specs-list">
                                            <li class="leaderboard__specs-item specs-item__engine">
                                                <div class="leaderbord__specs-icon specs-icon--engine">
                                                    <img class="lazy" alt="Engine" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/engine.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Engine</h3><p>4 Stroke, Air Cooled,</p><p>124.79 cc (3V)</p></div>
                                            </li>
                                            <li class="leaderboard__specs-item specs-item__power">
                                                <div class="leaderbord__specs-icon specs-icon--power">
                                                    <img class="lazy" alt="Power" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/power.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Power & Torque</h3><p>6.9kW &#64; 7500 rpm/</p><p>9.4PS &#64; 7500 rpm,</p><p>10.5Nm &#64; 5500rpm</p></div>
                                            </li>
                                            <li class="leaderboard__specs-item specs-item__transmission">
                                                <div class="leaderbord__specs-icon specs-icon--transmission">
                                                    <img class="lazy" alt="Transmission" src="https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif" data-original="https://imgd.aeplcdn.com/0x0/bw/es/html5-creatives/tvs/08112018/transmission.png" />
                                                </div>
                                                <div class="leaderboard__specs-content"><h3 class="leaderboard__specs-title">Transmission</h3><p>3 Valve 125 CVTi-Revv Engine</p></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="popup-footer leaderboard__tabs-footer">
                                    <a href="https://www.tvsmotor.com/scooter-range/" rel="nofollow noopener" target="_blank" class="btn btn-cinnabar bw-ga" data-cat="leaderboard" data-act="TVS leaderboard NTORQ-Explore More_clicked" data-lab="TVS leaderboard NTORQ-Explore More">
                                        <span class="btn-cinnabar__mobile-text">Explore more</span>
                                        <span class="btn-cinnabar__desktop-text">Book a Test Drive</span>
                                    </a>
                                    <a href="https://stb.aeplcdn.com/bikewale/pdf/tvs-ntorq-brochure.pdf" rel="nofollow noopener" download title="Download TVS Ntorq 125 Brochure" class="btn btn-cinnabar-outline bw-ga" data-cat="leaderboard" data-act="TVS leaderboard NTORQ-Download Brochure_clicked" data-lab="TVS leaderboard NTORQ-Download Brochure">Download Brochure</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
