@{
    Layout = null;
    ViewBag.Title = "Bikewale Operations | Login";
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/materialize.css" rel="stylesheet" />
    <link href="~/css/Common.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
<body class="center-align">
    <div class="mainDiv" style="">
        <div class="loginHeader"  >BikeWale Operations</div>
        <div id="gSignInWrapper">
            <button id="customBtn" class="offset-m3 loginBtn loginBtn--google">Sign in with Google</button>
        </div>
        <p class="displayMsg">Login using CarWale email address (xxxx@carwale.com)</p>
    </div>

    <script src="~/src/framework.js" type="text/javascript"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <!--<script src="~/src/googleApiClient.js"></script>--><!--outdated-->
    <script> var isAuthenticated = '@TempData["isAuthenticated"]'; </script>
    <script src="~/src/users/login.js?v=1.0"></script>
</body>
</html>
