@{
    var AdId = Model.GetType().GetProperty("AdId").GetValue(Model, null);
}


<li class="sponsored-card" id='div-gpt-ad-@string.Format("{0}-15", AdId)'>
    <div>
        <script>
            googletag.cmd.push(function () { googletag.display('div-gpt-ad-@string.Format("{0}-15", AdId)'); });
        </script>
    </div>
</li>