@{
    var AdId = Model.GetType().GetProperty("AdId").GetValue(Model, null);
}
<div id='div-gpt-ad-@string.Format("{0}-19", AdId)' class="margin-bottom15 margin-top10 text-center">
    <script type='text/javascript'>
        googletag.cmd.push(function () { googletag.display('div-gpt-ad-@string.Format("{0}-19", AdId)'); });
    </script>
</div>
