.section-header,
.section-inner-padding {
  padding: 15px 20px;
  -webkit-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  -moz-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  -ms-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  -o-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
  border: 1px solid #e2e2e2 \9; }

.section-bottom-margin {
  margin-bottom: 20px; }

.section-h2-title {
  font-size: 18px; }

.section-heading {
  text-align: center;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 700; }

.collapsible-content .main-content {
  display: inline; }

.collapsible-content .more-content {
  display: none; }

.collapsible-content.active .more-content {
  display: inline; }

.scooters-banner {
  background: #82817e url(https://imgd3.aeplcdn.com/0x0/bw/static/landing-banners/d/scooters-banner.jpg) no-repeat center;
  background-size: cover;
  height: 268px;
  padding-top: 1px; }

.welcome-box.margin-top85 {
  margin-top: 85px; }

.brand-budget-mileage-style-wrapper .bw-tabs-flex ul {
  overflow: hidden; }
  .brand-budget-mileage-style-wrapper .bw-tabs-flex ul li {
    float: left;
    width: 33.3%; }

.negative-50 {
  margin-top: -50px; }

.table-middle {
  display: table-cell;
  vertical-align: middle; }

.key-size-14 {
  font-size: 14px;
  color: #82888b; }

.value-size-16 {
  font-size: 16px;
  color: #4d5057;
  font-weight: 700; }

#main-compare-bikes-target {
  width: 100%;
  min-height: 384px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block; }
  #main-compare-bikes-target .imageWrapper {
    width: 201px;
    height: 113px; }
  #main-compare-bikes-target .comparison-image {
    display: table-cell;
    vertical-align: middle;
    background: url(https://imgd4.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif) center center no-repeat; }
  #main-compare-bikes-target img {
    height: 113px; }

#main-compare-bikes-target,
#compare-sidebar-list .compare-bikes-target {
  border: 1px solid #e2e2e2;
  border-radius: 1px;
  background: #fff;
  overflow: hidden; }

#compare-sidebar-list li {
  margin-bottom: 20px; }

#compare-sidebar-list .compare-bikes-target {
  width: 100%;
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: table; }
  #compare-sidebar-list .compare-bikes-target:hover {
    text-decoration: none; }

.compare-bike-box {
  display: table-cell;
  vertical-align: middle;
  float: none; }

.sidebar-image {
  width: 80px;
  height: 45px;
  line-height: 0; }
  .sidebar-image img {
    height: 45px; }

.sidebar-image-label {
  width: 128px;
  padding-left: 5px; }

#main-compare-bikes-target .grid-6:first-child:after {
  content: '';
  position: absolute;
  right: -10px;
  top: 100px;
  width: 37px;
  height: 37px;
  background: url(https://imgd2.aeplcdn.com/0x0/bw/static/design15/comparison-divider-lg.png) no-repeat;
  display: block; }

.compare-bikes-target .grid-6:first-child:after {
  content: '';
  position: absolute;
  right: -6px;
  top: 30px;
  width: 22px;
  height: 21px;
  background: url(https://imgd2.aeplcdn.com/0x0/bw/static/design15/comparison-divider.png) no-repeat;
  display: block; }

.inr-md-lg {
  width: 12px;
  height: 17px;
  background-position: -64px -515px;
  position: relative;
  top: 1px; }

.brand-type {
  height: 50px;
  width: 180px;
  display: block;
  margin: 0 auto; }

.brand-type-title {
  margin-top: 10px;
  display: block; }

.brand-type-container a {
  text-decoration: none;
  color: #82888b;
  display: inline-block; }

.brand-type-container li {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  height: 85px;
  margin: 0 5px 30px;
  text-align: center;
  font-size: 18px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  .brand-type-container li:hover .brand-type-title {
    color: #4d5057;
    font-weight: 700; }

.brand-bottom-border {
  overflow: hidden; }

@media only screen and (max-width: 1024px) {
  .brand-type li,
  .brand-type-container li {
    width: 170px; } }

.brand-1, .brand-10, .brand-11, .brand-12, .brand-13, .brand-14, .brand-15, .brand-16, .brand-17, .brand-18, .brand-19, .brand-2, .brand-20, .brand-22, .brand-23, .brand-24, .brand-3, .brand-34, .brand-37, .brand-38, .brand-39, .brand-4, .brand-40, .brand-41, .brand-42, .brand-5, .brand-6, .brand-7, .brand-8, .brand-81, .brand-71, .brand-9 {
  height: 50px; }

.brandlogosprite {
  background: url(https://imgd2.aeplcdn.com/0x0/bw/static/sprites/d/brand-type-sprite.png?v=04Oct2016) no-repeat;
  display: inline-block; }

.brand-2 {
  width: 87px;
  background-position: 0 0; }

.brand-7 {
  width: 56px;
  background-position: -96px 0; }

.brand-1 {
  width: 88px;
  background-position: -162px 0; }

.brand-8 {
  width: 100px;
  background-position: -260px 0; }

.brand-12 {
  width: 67px;
  background-position: -370px 0; }

.brand-40 {
  width: 125px;
  background-position: -447px 0; }

.brand-34 {
  width: 122px;
  background-position: -582px 0; }

.brand-22 {
  width: 121px;
  background-position: -714px 0; }

.brand-3 {
  width: 44px;
  background-position: -845px 0; }

.brand-17 {
  width: 86px;
  background-position: -899px 0; }

.brand-15 {
  width: 118px;
  background-position: -995px 0; }

.brand-4 {
  width: 43px;
  background-position: -1123px 0; }

.brand-9 {
  width: 99px;
  background-position: -1176px 0; }

.brand-16 {
  width: 117px;
  background-position: -1285px 0; }

.brand-5 {
  width: 59px;
  background-position: -1412px 0; }

.brand-19 {
  width: 122px;
  background-position: -1481px 0; }

.brand-13 {
  width: 122px;
  background-position: -1613px 0; }

.brand-6 {
  width: 63px;
  background-position: -1745px 0; }

.brand-10 {
  width: 102px;
  background-position: -1818px 0; }

.brand-14 {
  width: 127px;
  background-position: -1930px 0; }

.brand-39 {
  width: 89px;
  background-position: -2067px 0; }

.brand-20 {
  width: 82px;
  background-position: -2166px 0; }

.brand-11 {
  width: 121px;
  background-position: -2258px 0; }

.brand-41 {
  width: 63px;
  background-position: -2389px 0; }

.brand-42 {
  width: 64px;
  background-position: -2461px 0; }

.brand-81 {
  width: 71px;
  background-position: -2535px 0; }

.brand-71 {
  width: 39px;
  background-position: -2616px 0; }

.elevated-card-list {
  text-align: center; }
  .elevated-card-list li {
    width: 31%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px 10px; }
    .elevated-card-list li a {
      width: 100%;
      height: 137px;
      display: table;
      -webkit-box-shadow: 0 1px 2px 1px #e4e4e4;
      -moz-box-shadow: 0 1px 2px 1px #e4e4e4;
      -ms-box-shadow: 0 1px 2px 1px #e4e4e4;
      -o-box-shadow: 0 1px 2px 1px #e4e4e4;
      box-shadow: 0 1px 2px 1px #e4e4e4; }
      .elevated-card-list li a:hover {
        text-decoration: none; }

.tab-icon-container {
  height: 37px;
  margin-bottom: 10px; }

.budget-one {
  width: 16px;
  height: 24px;
  background-position: 0 -710px;
  position: relative;
  top: 6px; }

.budget-two {
  width: 28px;
  height: 30px;
  background-position: -19px -710px;
  position: relative;
  top: 3px; }

.budget-three {
  width: 39px;
  height: 37px;
  background-position: -50px -710px; }

.engine-lg {
  width: 36px;
  height: 24px;
  background-position: -92px -710px;
  position: relative; }

.engine-sm {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  top: 2px; }

.engine-md {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  top: 1px; }
