@include model-card
@include model-card__image(285)
@include model-card__detail

@include card-details__specs

@include model-card__exshowroom-content
@include model-card__exshowroom
@include card-emi__col

@import rating

@for $i from 1 through 5
	@include rating-badge($i)

.model-card__detail
	.rating-badge
		margin-bottom: 8px

.badge-star-white
	@include star-white
	background-size: contain
	width: 10px
	height: 10px
	display: inline-block
