.horizontal-rating-graph
	span
		display: inline-block
		vertical-align: middle

.horizontal-rating-graph 
	.star-0
		position: relative
		top: -1px
		-webkit-transform: scale(0.5)
		-moz-transform: scale(0.5)
		-o-transform: scale(0.5)
		transform: scale(0.5)

.horizontal-rating-graph
	.star-label
		font-size: 14px
		margin-left: -8px

.horizontal-rating-graph
	.graph-bar-bg
		width: 62%
		height: 5px
		margin-right: 3px
		margin-left: 3px
		position: relative
		background: #eee
		border-radius: 3px

.horizontal-rating-graph
	.graph-bar-bg
		.rating-bar
			height: 5px
			position: absolute
			top: 0
			left: 0
			border-radius: 3px

	.graph-bar-label,
	.graph-bar-count
		font-size: 12px
		color: #82888b
	
	.graph-bar-label
		width: 120px
	

.horizontal-rating-graph.user-review-graph 
	.graph-bar-bg
		width: 49%
	li
		margin-bottom: 7px


.bg-rate-1
  background-color: #ef3f30

.bg-rate-2
  background-color: #fd971c

.bg-rate-3
  background-color: #efd700

.bg-rate-4
  background-color: #13b65d

.bg-rate-5
  background-color: #198d55