$checkbox-label-color: #565a5c
$checkbox-color: #bcbcbc
$refine-result-text: #ababab
$checkbox-light-green: #4acea8

@mixin refine-result($background: color('border-light'))
	.refine-result
		position: relative
		left: -16px
		right: -16px
		width: 111%
		width: 100vw
		background-color: $background
		padding: 25px 18px 32px

	@media only screen and (min-width: 475px)
		.refine-result
			width: 107%
			width: 100vw

	@media only screen and (min-width: 650px)
		.refine-result
			width: 103%
			width: 100vw

.refine-result__heading
	font-size: 16px
	font-weight: $font_semibold
	margin-bottom: 4px

.refine-result__instruction
	font-size: 12px
	color: color('aluminium')

.btn-inv-blue
	background: #fff
	color: color('pacific-blue')
	border: 1px solid color('pacific-blue')
	padding: 12px
	overflow: hidden
	text-overflow: ellipsis
	font-weight: 600
	font-size: 14px

.refine-result__list
	padding-top: 15px
	padding-bottom: 15px

.refine-result__list-item
	margin-bottom: 10px

@mixin refine-result__checkbox
	.refine-result__list-checkbox
		display: none

		&:checked
			background: $checkbox-light-green

			+ .refine-result__checkbox-label
				font-weight: $font_bold

				&:before
					background: $checkbox-light-green
		
	.refine-result__checkbox-label
		font-size: 14px
		color: $checkbox-label-color
		padding-right: 10px
		margin-right: 7px
		position: relative
		display: inline-block
		min-width: 118px

		&:before
			content: ''
			display: inline-block
			width: 18px
			height: 18px
			margin: -2px 10px 0 0
			vertical-align: middle
			cursor: pointer
			border: 1px solid $checkbox-color
			@include vendor-prefix('border-radius', 3px)


	.refine-result__text
		font-size: 12px
		display: inline-block
		vertical-align: top
		color: $refine-result-text

	@media only screen and (max-width: 320px)
		.refine-result__checkbox-label
			padding-right: 0
			font-size: 13px

		.refine-result__text
			font-size: 11px

@mixin refine-result__view-more
	.refine-result__view-more
		width: 100%
		padding: 9px
		@include vendor-prefix('border-radius', 3px)