
﻿@mixin animateSkyline()
	@-webkit-keyframes animateSkyline
		from
			@include vendor-prefix('transform', translate(-1024px, 0))
		to
			@include vendor-prefix('transform', translate(0, 0))

	@keyframes animateSkyline
		from
			@include vendor-prefix('transform', translate(-1024px, 0))
		to
			@include vendor-prefix('transform', translate(0, 0))

@mixin bell-swing
	@-webkit-keyframes bell-swing
		0%
			-webkit-transform: rotate(-20deg)
		100%
			-webkit-transform: rotate(20deg)

	@keyframes bell-swing
		0%
			transform: rotate(-20deg)
		100%
			transform: rotate(20deg)


@mixin bell-clapper-swing
	@-webkit-keyframes bell-clapper-swing
		0%
			-webkit-transform: translateX(-8px)
		100%
			-webkit-transform: translateX(8px)

	@keyframes bell-clapper-swing
		0%
			transform: translateX(-8px)
		100%
			transform: translateX(8px)

