@mixin btn($font-size: 16px, $font-weight: normal)
  .btn
    @include vendor-prefix('border-radius', 4px)
    display: inline-block
    padding: 8px 42px
    font-size: $font-size
    line-height: 1.42857143
    text-align: center
    white-space: nowrap
    border: 1px solid transparent
    outline: none
    text-decoration: none
    vertical-align: middle
    -ms-touch-action: manipulation
    touch-action: manipulation
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    background-image: none
    -webkit-appearance: none
    font-weight: $font-weight

@mixin btn-blue
  .btn-blue
    display: block
    width: 100%
    color: color('white')
    background-color: color('pacific-blue')
    text-transform: capitalize

@mixin btn-inv-blue($btn-padding: 5px 31px 5px 15px, $hover: false)
  .btn-inv-blue
    background-color: transparent
    color: color('pacific-blue')
    border-color: color('pacific-blue')
    padding: $btn-padding
    position: relative

    @if $hover
        @include btn-inv-blue-hover

@mixin btn-inv-blue-hover
    &:hover
      background-color: color('pacific-blue')
      color: color('white')

@mixin btn-inv-teal($padding: 5px 28px 5px 16px, $hover: false)
    background-color: transparent
    color: color('scooter')
    border-color: color('scooter')
    padding: $padding
    position: relative

    @if $hover
        @include btn-inv-teal-hover

@mixin btn-inv-teal-hover
    &:hover
      background-color: color('viking')
      border-color: color('viking')
      color: color('white')