@mixin electric-scooter-widget__container
	position: relative
	border: 1px solid #b5b5b5
	background: #fff
	box-shadow: 0 2px 2px #e2e2e2
	overflow: hidden

@import icons
@import animation
@import mixins

@mixin electric-scooter-widget__background($width: 2048)
	@if unitless($width)
		$width: $width * 1px

		.electric-widget__background
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

			&:before
				@include skyline-bg
				@include vendor-prefix('animation', animateSkyline 30s linear 10)
				content: ''
				position: absolute
				bottom: 18px
				width: $width
				height: 60px
				display: block
				background-position: center bottom
				will-change: transform
				opacity: .2

	@else
		@warn 'Please provide unitless value for `$width` property'

/* mobile widget */
@mixin electric-scooter-widget-mobile
	.electric-widget__content
		@include electric-scooter-widget__container
		padding-top: 15px
		padding-bottom: 10px
		text-align: center

		@include electric-scooter-widget__background

	@include animateSkyline()

	.electric-widget__title
		font-size: 16px
		font-weight: 600
		color: #4acea8
		margin-bottom: 5px
		text-transform: capitalize

	.electric-widget__subtitle
		font-size: 12px
		font-weight: 600
		color: #82888b
		margin-bottom: 10px

	.btn-explore-scooters
		position: relative
		font-size: 12px
		width: 100px
		padding: 5px
		margin-bottom: 10px
		background: #fff

	.electric-scooter-icon
		position: relative
		width: 77px
		height: 49px
		margin: 0 auto
		@include electric-scooter
		background-size: contain


/* desktop widget */
@mixin electric-scooter-widget-desktop
	.electric-fullwidth-widget__content
		@include electric-scooter-widget__container
		min-height: 92px
		padding-top: 15px
		padding-bottom: 10px

		@include electric-scooter-widget__background(3072)

	@include animateSkyline()

	.electric-fullwidth-widget__details
		padding-left: 280px

	.electric-widget__left-col,
	.electric-widget__right-col,
		display: inline-block
		vertical-align: middle

	.electric-widget__left-col
		margin-right: 95px
		padding: 10px
		background: rgba(255, 255, 255, .3)

	.position--relative
		position: relative

	.electric-widget__title
		font-size: 16px
		font-weight: 600
		color: #4acea8
		margin-bottom: 5px
		text-transform: capitalize

	.electric-widget__subtitle
		font-size: 12px
		font-weight: 600
		color: #82888b

	.btn-explore-scooters
		position: relative
		font-size: 12px
		width: 100px
		padding: 5px
		background: #fff

	.electric-scooter-icon
		position: absolute
		left: 97px
		bottom: 0
		width: 77px
		height: 49px
		margin: 0 auto
		@include electric-scooter
		background-size: contain
