@mixin vendor-prefix($property, $value)
	-webkit-#{$property}: $value
	-moz-#{$property}: $value
	-ms-#{$property}: $value
	#{$property}: $value


@mixin clearfix()
  clear: both
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both