$badge-triangle-map: ('aluminium': 'tuna')
  
@mixin badge($font-size: 11px, $color: 'white', $background-color: 'aluminium', $triangle-width: 9px)
  position: absolute
  top: -$triangle-width
  left: 15px
  font-size: $font-size
  font-weight: $font-bold
  color: color($color)
  padding: 6px 10px
  background-color: color($background-color)
  text-align: center
  text-transform: uppercase
  letter-spacing: 1px
  border-radius: 2px 0 2px 2px

  &:after
    content: ''
    position: absolute
    top: 0
    right: -$triangle-width
    border-right: $triangle-width solid transparent
    border-bottom: $triangle-width solid color(map-get($badge-triangle-map, $background-color))


@mixin ribbon-tag($direction: 'right', $font-size: 11px, $color: 'white', $background-color: 'iris-blue')
  position: relative
  padding: 3px 7px 4px
  color: color($color)
  font-size: $font-size
  background-color: color($background-color)
  z-index: 2
  transition: all .5s
  cursor: pointer

  &:before
    content: ''
    position: absolute
    top: 0
    left: -11px
    border-top: 11px solid color($background-color)
    border-left: 11px solid transparent
    border-bottom: 11px solid color($background-color)
    display: block
