<div data-role="popup" id="verfiyError" data-overlay-theme="a" data-theme="c" data-dismissible="false" class="text-center buyer-popup rounded-corner2 content-box-shadow hide">
    <div data-role="header" data-theme="a" class="ui-corner-top content-inner-block-10">
        <span class="error-image"></span>
        <h3 id="errorHeading">Invalid Number</h3>
    </div>
    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content ">
        <span id="verifyErrorMssg" class="error padding-left10 padding-right10 block">Enter valid 10 digit mobile number.</span>
        <a href="javascript:void(0)" data-role="button" class="btn btn-xs btn-white btn-full-width margin-top15" id="btnErrorOk">OK</a>
    </div>
</div>
