<div class="top-corner">
    <span id="btnSortBack" class="content-inner-block-10 padding-right30">
        <span class="cwmsprite back-long-arrow-left-white"></span>
    </span>
    <span class="margin-left10">Sort by</span>
</div>
<div class="sort-list">
    <ul id="sortFilter">
        <li so="-1" sc="-1" class="active">Best Match</li>
        <li so="0" sc="2">Price - Low to High</li>
        <li so="1" sc="2">Price - High to Low</li>
        <li so="1" sc="0">Year - Newest to Oldest</li>
        <li so="0" sc="3">Kms - Low to High</li>
        <li so="1" sc="3">Kms - High to Low</li>
        <li so="1" sc="6">Last Updated - Latest to Oldest</li>
        <li so="1" sc="8" class="hide"></li>
    </ul>
</div>


