
@model Bikewale.Models.BikeModels.ModelPageVM

@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/m/model-series/series.css' inline>";
    Model.Page_JS_Path = "/m/src/model-series/series.js";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<section>
    <div class="container margin-bottom20 bg-white">
		<h1 class="padding-15">Bajaj Pulsar Series</h1>
		<div class="intro-card">
			<div class="main-series-model foldable-content" data-toggle="yes">
				<p class="truncatable-content">
					The 2017 model year of the KTM RC200 doesn’t have mechanical updates, other than the fact that the engine is now BS4 compliant. A couple of changes have been made to its appearance – there are orange wheels, a white/orange paint scheme which has been introduced for 2017. Nothing else changes though, not even the price. That makes it a little more value for money, and as far as entry-level crotch rockets go, you can’t get much better than the RC200. There’s still no ABS, even as an option, and just like its elder sibling, it retains the scalpel-sharp handling that made us like it so much. If you’re looking for an all-new RC200, though, you’ll have to wait until the end of 2017 or beyond. There isn’t any real competition for the RC200 - the only other product that is as committed is the Yamaha YZF-R15, and that sits a segment below the RC200. The 2017 model year of the KTM RC200 doesn’t have mechanical updates, other than the fact that the engine is now BS4 compliant. A couple of changes have been made to its appearance – there are orange wheels, a white/orange paint scheme which has been introduced for 2017. Nothing else changes though, not even the price. That makes it a little more value for money, and as far as entry-level crotch rockets go, you can’t get much better than the RC200. There’s still no ABS, even as an option, and just like its elder sibling, it retains the scalpel-sharp handling that made us like it so much. If you’re looking for an all-new RC200, though, you’ll have to wait until the end of 2017 or beyond. There isn’t any real competition for the RC200 - the only other product that is as committed is the Yamaha YZF-R15, and that sits a segment below the RC200.

				</p>
				<a href="javascript:void(0)" class="read-more-button" rel="nofollow">...Read more</a>
			</div>
		</div>
    </div>
    <div class="container clearfix bg-white">
        <div class="padding-left15 padding-right15 padding-top20">
            <h2 class="padding-left5 padding-right5 padding-bottom5">Bajaj Pulsar Models</h2>
            <ul>
                <li class="model-series-card featured-card">
                    <a href="" title="">
                        <div class="model-series-card__image">
                            <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                            <div class="popular-tag">
                                <span class="popular-icon"></span>
                                Most Popular
                            </div>
                        </div>
                        <div class="series-card__desc">
                            <span class="rating-badge" data-rate-bg="5">
                                <span class="bwmsprite star-white"></span>
                                <span>5</span>
                            </span>
                            <div class="model-series-list">
                                <div class="series-list_card">
                                    <h3 class="series-card__label">Bajaj Pulsar NS 200</h3>
                                    <ul class="summary-specs-list">
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                    </ul>
                                </div>
                                <div class="series-list_card">
                                    <p class="series-card__sub-title">Expected launch date</p>
                                    <p class="font20 text-default">&#x20b9; <span class="font-bold">92,352</span></p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="model-series-card__btn-block">
                        <a href="javascript:void(0)" class="btn btn-white" rel="nofollow">Check on-road price</a>
                    </div>
                </li>

                <li class="model-series-card">
                    <a href="" title="">
                        <div class="model-series-card__image">
                            <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                        </div>
                        <div class="series-card__desc">
                            <span class="rating-badge" data-rate-bg="5">
                                <span class="bwmsprite star-white"></span>
                                <span>5</span>
                            </span>
                            <div class="model-series-list">
                                <div class="series-list_card">
                                    <h3 class="series-card__label">Bajaj Pulsar NS 200</h3>
                                    <ul class="summary-specs-list">
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                    </ul>
                                </div>
                                <div class="series-list_card">
                                    <p class="series-card__sub-title">Expected launch date</p>
                                    <p class="font20 text-default">&#x20b9; <span class="font-bold">92,352</span></p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="model-series-card__btn-block">
                        <a href="javascript:void(0)" class="btn btn-white" rel="nofollow">Check on-road price</a>
                    </div>
                </li>


            </ul>
        </div>
    </div>

    <div class="container clearfix bg-white">
        <div class="padding-top20">
            <h2 class="padding-left20 padding-right20 padding-bottom10">Bajaj Pulsar Upcoming bikes</h2>
            <div>
                <div class="model-series-card">
                    <a href="" title="">
                        <div class="model-series-card__image">
                            <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                        </div>
                        <div class="series-card__desc">
                            <div class="model-series-list">
                                <div class="series-list_card">
                                    <h3 class="series-card__label">Bajaj Pulsar NS 200</h3>
                                </div>
                                <div class="series-list_card">
                                    <p class="series-card__sub-title">Expected launch date</p>
                                    <p class="font18">&#x20b9; <span class="font-bold">1,60,000 - </span> &#x20b9; <span class="font-bold">1,80,000</span></p>
                                    </div>
                                <div class="series-list_card">
                                    <p class="series-card__sub-title">Expected launch date</p>
                                    <p class="font16 font-bold">February 2018</p>
                                    </div>
                            </div>
                        </div>
                    </a>
                </div>
            <div class="swiper-container upcoming-model-swiper card-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                <div class="model-series-card">
                    <a href="" title="">
                        <div class="model-series-card__image">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                        </div>
                        <div class="series-card__desc">
                            <div class="model-series-list">
                                <div class="series-list_card">
                                    <h3 class="series-card__label">Bajaj Pulsar NS 200</h3>
                                </div>
                                <div class="series-list_card">
                                    <p class="series-card__sub-title">Expected launch date</p>
                                    <p class="font18">&#x20b9; <span class="font-bold">1,60,000 - </span> &#x20b9; <span class="font-bold">1,80,000</span></p>
                                    </div>
                                <div class="series-list_card">
                                    <p class="series-card__sub-title">Expected launch date</p>
                                    <p class="font16 font-bold">February 2018</p>
                                    </div>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>

                     <div class="swiper-slide">
                <div class="model-series-card">
                    <a href="" title="">
                        <div class="model-series-card__image">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                        </div>
                        <div class="series-card__desc">
                            <div class="model-series-list">
                                <div class="series-list_card">
                                    <h3 class="series-card__label">Bajaj Pulsar NS 200</h3>
                                </div>
                                <div class="series-list_card">
                                    <p class="series-card__sub-title">Expected launch date</p>
                                    <p class="font18">&#x20b9; <span class="font-bold">1,60,000 - </span> &#x20b9; <span class="font-bold">1,80,000</span></p>
                                    </div>
                                <div class="series-list_card">
                                    <p class="series-card__sub-title">Expected launch date</p>
                                    <p class="font16 font-bold">February 2018</p>
                                    </div>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
                    <div class="swiper-slide">
                <div class="model-series-card">
                    <a href="" title="">
                        <div class="model-series-card__image">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                        </div>
                        <div class="series-card__desc">
                            <div class="model-series-list">
                                <div class="series-list_card">
                                    <h3 class="series-card__label">Bajaj Pulsar NS 200</h3>
                                </div>
                                <div class="series-list_card">
                                    <p class="series-card__sub-title">Expected launch date</p>
                                    <p class="font18">&#x20b9; <span class="font-bold">1,60,000 - </span> &#x20b9; <span class="font-bold">1,80,000</span></p>
                                    </div>
                                <div class="series-list_card">
                                    <p class="series-card__sub-title">Expected launch date</p>
                                    <p class="font16 font-bold">February 2018</p>
                                    </div>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="container clearfix bg-white">
        <div class="padding-top20 padding-bottom15">
            <div class="carousel-heading-content">
                <div class="swiper-heading-left-grid inline-block">
                    <h2>Pulsar Bikes Comparisons</h2>
                </div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="" title="" class="font16">View all</a>
                </div>
                <div class="clear"></div>
            </div>

            <div class="swiper-container comparison-swiper card-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <a href="" title="" class="card-target">
                                <h4 class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </h4>
                                <div class="grid-6 padding-left5">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="" title="" data-src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default font-bold">1,58,149</span>
                                    </div>
                                </div>
                                <div class="grid-6 padding-left10">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="Royal Enfield Bullet 350" title="Royal Enfield Bullet 350" data-src="https://imgd.aeplcdn.com//144x81//bw/models/royalenfield-bullet.jpg?20160410150931&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default text-bold">1,26,167</span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="margin-top20 margin-left20 margin-right20">
                                    <span class="btn btn-white">Compare now</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <a href="" title="" class="card-target">
                                <h4 class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </h4>
                                <div class="grid-6 padding-left5">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="" title="" data-src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default font-bold">1,58,149</span>
                                    </div>
                                </div>
                                <div class="grid-6 padding-left10">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="Royal Enfield Bullet 350" title="Royal Enfield Bullet 350" data-src="https://imgd.aeplcdn.com//144x81//bw/models/royalenfield-bullet.jpg?20160410150931&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default text-bold">1,26,167</span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="margin-top20 margin-left20 margin-right20">
                                    <span class="btn btn-white">Compare now</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <a href="" title="" class="card-target">
                                <h4 class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </h4>
                                <div class="grid-6 padding-left5">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="" title="" data-src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default font-bold">1,58,149</span>
                                    </div>
                                </div>
                                <div class="grid-6 padding-left10">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="Royal Enfield Bullet 350" title="Royal Enfield Bullet 350" data-src="https://imgd.aeplcdn.com//144x81//bw/models/royalenfield-bullet.jpg?20160410150931&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default text-bold">1,26,167</span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="margin-top20 margin-left20 margin-right20">
                                    <span class="btn btn-white">Compare now</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container clearfix bg-white">
        <div class="padding-top20">
            <h2 class="padding-right20 padding-bottom10 padding-left20">Find The Right Pulsar</h2>
            <p class="padding-left20 font12 font-bold padding-right20">What’s are you looking for?</p>
            <div class="find-right-bike margin-top15">
                <div class="model-specs-tabs">
                    <div class="find-specs__tabs-container">
                        <ul class="find-specs-tabs-wrapper">
                            <li>
                                <span class="specs-btn" data-swipe="1">Max Power</span>
                            </li>
                            <li>
                                <span class="specs-btn" data-swipe="2">Mileage</span>
                            </li>
                            <li>
                                <span class="specs-btn" data-swipe="3">Price</span>
                            </li>
                            <li>
                                <span class="specs-btn" data-swipe="1">weight</span>
                            </li>
                            <li>
                                <span class="specs-btn" data-swipe="2">Displacement</span>
                                
                            </li>
                            <li>
                                <span class="specs-btn" data-swipe="3">Seat Height</span>
                            </li>
                            <li>
                                <span class="specs-btn" data-swipe="1">Brake Type</span>
                            </li>
                            <li>
                                <span class="specs-btn" data-swipe="2">Fuel Capacity</span>
                            </li>
                            <li>
                                <span class="specs-btn" data-swipe="3">Gears</span>
                            </li>
                        </ul>

                    </div>
                </div>

                <div id="rightBikeSwiper" class="right-bike-swiper">
                    <div class="rightbike__swiper-card right-bike__swiper-keys">
                        <div class="rightbike-carousel__model-card">
                        </div>
                        <div class="series-card__desc">
                            <span class="right-bike__label">
                                Price
                            </span>
                            <span class="right-bike__label">
                                Displacement
                            </span>
                            <span class="right-bike__label">
                                Weight
                            </span>
                            <span class="right-bike__label">
                                Fuel Capacity
                            </span>
                            <span class="right-bike__label">
                                Mileage
                            </span>
                            <span class="right-bike__label">
                                Seat Height
                            </span>
                            <span class="right-bike__label">
                                Brake Type
                            </span>
                            <span class="right-bike__label">
                                Gears
                            </span>
                            <span class="right-bike__label">
                                Max Power
                            </span>
                        </div>

                    </div>
                    <div class="right-bike-swiper swiper-container card-container">
                    <div class="swiper-ribbon">
                        <span class="swiper-left-arrow"></span>
                        Swipe
                    </div>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide rightbike__swiper-card popular-card" data-model-index="1">
                            <div class="rightbike-carousel__model-card">
                                <div class="rightbike-carousel__image">
                                    <img class="swiper-lazy" alt="" title="" data-src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70" src="" />
                                </div>
                                <p class="rightbike-caraousel__label">
                                    Pulsar AS 160
                                </p>
                                <span class="popular-tag recommended-tag">Most Popular</span>
                            </div>
                            <div class="series-card__desc featured-card">
                                <span class="popular-icon"></span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
									<span class="right-bike__desc"> @@8500 rpm</span>
                                </span>
                            </div>
                        </div>

                        <div class="swiper-slide rightbike__swiper-card"  data-model-index="2">
                            <div class="rightbike-carousel__model-card">
                                <div class="rightbike-carousel__image">
                                    <img class="swiper-lazy" alt="" title="" data-src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70" src="" />
                                </div>
                                <p class="rightbike-caraousel__label">
                                    Pulsar AS 160
                                </p>
                                <span class="recommended-tag"></span>
                            </div>
                            <div class="series-card__desc">
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
									<span class="right-bike__desc"> @@8500 rpm</span>
                                </span>
                            </div>
                        </div>

                        <div class="swiper-slide rightbike__swiper-card"  data-model-index="3">
                            <div class="rightbike-carousel__model-card">
                                <div class="rightbike-carousel__image">
                                    <img class="swiper-lazy" alt="" title="" data-src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70" src="" />
                                </div>
                                <p class="rightbike-caraousel__label">
                                    Pulsar AS 160
                                </p>
                                <span class="recommended-tag"></span>
                            </div>
                            <div class="series-card__desc">
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
                                </span>
                                <span class="right-bike__label">
                                    Rs. 80,128
									<span class="right-bike__desc"> @@8500 rpm</span>
                                </span>
                            </div>
                        </div>
                    </div>


            		<div class="clearfix"></div>
                </div>

                </div>

            </div>
        </div>
    </div>
    <div class="container clearfix bg-white">
		<h2 class="padding-left15 padding-right15 padding-top15">Pulsar Latest Updates</h2>
		<div id="modelLatestUpdatesWrapper" class="block">
                <div id="modelLatestUpdatesTopContent" class="overall-specs__top-content margin-bottom5 bg-white position-rel">
				<div id="overallUpdatesTab" class="overall-specs-tabs-container">
					<ul class="overall-specs-tabs-wrapper">
						<li data-tabs="#newsContent" class="bw-ga active news-tabs" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="Yamaha YZF R15&#95;Overview">
							<span class="overallUpdate-news-icon"></span>
							News
						</li>
						<li data-tabs="#videoContent" class="bw-ga video-tabs" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="Yamaha YZF R15&#95;Price">
							<span class="video-icon"></span>
							Videos
						</li>
						<li data-tabs="#reviewContent" class="bw-ga reviews-tabs" data-cat="Model_Page" data-act="Floating_Navigation_Clicked" data-lab="Yamaha YZF R15&#95;Used">
							<span class="reviews-icon"></span>
							Reviews
						</li>
					</ul>

				</div>
			</div>

			<div id="newsContent" class="bw-model-tabs-data content-details-wrapper active">
				<h2>News</h2>
				<ul class="model-series-list">
					<li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="series-card__sub-title">JAN 03, 2017</p>
								<p class="series-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
					<li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="series-card__sub-title">JAN 03, 2017</p>
								<p class="series-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
					<li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="series-card__sub-title">JAN 03, 2017</p>
								<p class="series-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
				</ul>
				<div class="margin-top10">
                        <span class="btn btn-blue">View All News</span>
				</div>
			</div>

			<div id="videoContent" class="bw-model-tabs-data margin-bottom20 content-details-wrapper">
				<h2>Videos</h2>
				<ul class="model-series-list">
					<li class="video-card-container">
						<h4 class="swiper-card__label">Pulsar SS400 New look the new FZ Series in India. Featuring a host of mechanical </h4>
						<div class="model-series-list__video-card">
							<div class="video-card__video-preview">
								<iframe width="330" height="186" src="https://www.youtube.com/embed/WDSI_AyYCtA" frameborder="0"  allowfullscreen></iframe>
							</div>
							<div class="video-card__desc clearfix">
								<div class="grid-6">
									<p class="font11 text-light-grey">JAN 03, 2017</p>
								</div>
								<div class="grid-6">
									<span class="series-card__sub-title">3.6K Views</span>
									<span class="series-card__sub-title margin-left20">
										<span class="thumbsup-icon"></span>
										9,904
									</span>
								</div>

							</div>
						</div>
					</li>

					<li class="video-card-container">
						<h4 class="swiper-card__label">Pulsar SS400 New look the new FZ Series in India. Featuring a host of mechanical </h4>
						<div class="model-series-list__video-card">
							<div class="video-card__video-preview">
								<iframe width="330" height="186" src="https://www.youtube.com/embed/WDSI_AyYCtA" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="video-card__desc clearfix">
								<div class="grid-6">
									<p class="font11 text-light-grey">JAN 03, 2017</p>
								</div>
								<div class="grid-6">
									<span class="series-card__sub-title">3.6K Views</span>
									<span class="series-card__sub-title margin-left20">
										<span class="thumbsup-icon"></span>
										9,904
									</span>
								</div>

							</div>
						</div>
					</li>

				</ul>
				<div class="margin-top10">
                        <span class="btn btn-blue">View All News</span>
				</div>
			</div>

			<div id="reviewContent" class="bw-model-tabs-data margin-bottom20 content-details-wrapper">
				<h2>Expert Reviews</h2>
				<ul class="model-series-list">
                         <li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="series-card__sub-title">JAN 03, 2017</p>
								<p class="series-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
					<li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="series-card__sub-title">JAN 03, 2017</p>
								<p class="series-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
					<li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="series-card__sub-title">JAN 03, 2017</p>
								<p class="series-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
				</ul>
				<div class="margin-top10">
                        <span class="btn btn-blue">View All News</span>
				</div>
			</div>
			<div id="overallSpecsFooter"></div>
		</div>
    </div>

    <div class="container clearfix bg-white padding-top20">
		<div class="carousel-heading-content">
			<div class="swiper-heading-left-grid inline-block">
				<h2>Bajaj Pulsar Used bikes</h2>
			</div>
			<div class="swiper-heading-right-grid inline-block text-right">
				<a href="" title="" class="font16">View all</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="swiper-container used-model-swiper card-container">
			<div class="swiper-wrapper">

                    <div class="swiper-slide">
						<div class="model-series-card">
					<a href="" title="">
						<div class="model-series-card__image">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//210x118//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
						</div>
						<div class="series-card__desc">
							<ul class="model-series-list">
								<li>
									<h3 class="series-card__label">Bajaj Pulsar NS 200</h3>
									<p class="series-card__sub-title">Expected launch date</p>
								</li>
								<li>
                                        <p class="text-default font18">
										&#x20b9; 
										<span class="font-bold">
											8,000 
											<span class="font12">onwards</span>
										</span>
									</p>
								</li>
							</ul>
						</div>
					</a>
						</div>
                    </div>

                    <div class="swiper-slide">
						<div class="model-series-card">
					<a href="" title="">
						<div class="model-series-card__image">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//210x118//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
						</div>
						<div class="series-card__desc">
							<ul class="model-series-list">
								<li>
									<h3 class="series-card__label">Bajaj Pulsar NS 200</h3>
									<p class="series-card__sub-title">Expected launch date</p>
								</li>
								<li>
                                        <p class="text-default font18">
                                            &#x20b9; 
										<span class="font-bold">
                                                8,000 
											<span class="font12">onwards</span>
										</span>
									</p>
								</li>
							</ul>
						</div>
					</a>
						</div>
                    </div>

                    <div class="swiper-slide">
						<div class="model-series-card">
					<a href="" title="">
						<div class="model-series-card__image">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//210x118//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
						</div>
						<div class="series-card__desc">
							<ul class="model-series-list">
								<li>
									<h3 class="series-card__label">Bajaj Pulsar NS 200</h3>
									<p class="series-card__sub-title">Expected launch date</p>
								</li>
								<li>
                                        <p class="text-default font18">
                                            &#x20b9; 
										<span class="font-bold">
                                                8,000 
											<span class="font12">onwards</span>
										</span>
									</p>
								</li>
							</ul>
						</div>
					</a>
						</div>
                    </div>
					
			</div>
		</div>
    </div>

    <div class="container clearfix bg-white">
        <div class="padding-left20 padding-right20 padding-top20">
            <h2 class="padding-bottom10">Bajaj other series</h2>
            <div class="model-series-card other-model-series">
                <ul class="model-series-list">
                    <li>
                        <a href="" title="">
                            <div class="other-series-image">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                            </div>
                            <div class="other-series__label-block">
                                <p class="other-series__list-title">Avenger Series</p>
                                <p class="font13">3 Bikes</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            <div class="other-series-image">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                            </div>
                            <div class="other-series__label-block">
                                <p class="other-series__list-title">Avenger Series</p>
                                <p class="font13">3 Bikes</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>