<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
<appSettings>    
  <!--<add key="FileSourcePath" value="D:\WebDevelopment\bikewaleweb\BikeWale.UI\"/>-->
  <!--<add key="filesourcepath" value="d:\bw_mysql_migration\bikewaleweb_mysql\bikewaleopr.ui\"/>-->
  <!--<add key="FileSourcePath" value="\\webserver\d$\sites\bikewale\bikewaleweb\BikeWale.UI\"/>-->
  <add key="FileSourcePath" value="d:\work\bikewaleweb\BikeWale.UI\"/>
  <add key="solutionPath" value="d:\work\bikewaleweb\BikewalePro.sln"/>
  <!--<add key="FolderPath" value="D:\WebDevelopment\BikeWale_Releases\2016\Bikewale-HotFixRelease-13Jul2016v1\website\"/>--> 
  <!--<add key="folderpath" value="d:\webdevelopment\bikewale_releases\2016\BikeWale-27Dec2016v1\website\"/>-->  
  <add key="FolderPath" value="D:\BikeWale $(Configuration)\$(DATE)\website\"/>
  <add key="IgnoreFiles" value=".htaccess,.sass,.rar,.pdb,.suo,.log,.user,.XML,.Xml,.sln,.git,.sample,.txt,.cs,.aspx.cs,.ascx.cs,ashx.cs,.csproj,.exe,.orig,.designer.cs,.debug.config,.release.config"/>
  <add key="IgnoreFolders" value="obj,debug,Forums,Debug,Obj"/>
  <add key="FromDateTime" value="07/01/2017 00:00:01 AM"/>
  <!--<add key="DateFormat" value="5/06/2016 4:00:00 PM"/>--> <!-- mm/dd/yyyy -->
  <add key="DaysOld" value="1"/>
  <add key="isMinify" value="true"/>
  <add key="buildSolution" value="false"/>
</appSettings>
</configuration>
