<div class="select-model-popup popup-content js-select-model-popup">
    <div class="popup__head">
        <div class="popup-head__content">
            <span class="popup__close js-popup__close"></span>
            <div class="popup__search-box">
                <p class="popup-search__title">Select Your Car</p>
                <div class="autocomplete-box">
                    <div class="easy-autocomplete">
                        <input id="modelSelectionInput" type="text" class="search-input-box" placeholder="Type to select your car">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

