<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>

    <connectionStrings>
      <add name="RabbitMQServerList" connectionString="172.16.0.20"/>
      <add name="SMTPHost" connectionString="172.16.10.250"/>
      <add name="EmailFrom" connectionString="no-reply@carwale.com"/>
      <add name="EmailTo" connectionString="bikewalebugs2016@gmail.com"/>
      <add name="EmailCC" connectionString="sanskar.gupta@carwale.com"/>
      <add name="IsSMTPEnabled" connectionString="true"/>
    </connectionStrings>

    <appSettings>
      <add key="ConsumerName" value="Bikewale.RabbitMq.BWEsDocumentQueue-Local"/>
      <add key="QueueName" value="BWEsDocumentQueue"/>
      <add key="RabbitMsgTTL" value="60000"/>
      <add key="RetryCount" value="3"/>

      <add key="ElasticHostUrl" value="172.16.0.11:9201"/>
    </appSettings>

    <log4net>
      <!--This appender is for adding the default providers -->
      <appender name="ProviderFile" type="log4net.Appender.RollingFileAppender">
        <file value="logs/LogInfo.txt"/>
        <appendToFile value="true"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="5"/>
        <maximumFileSize value="1MB"/>
        <staticLogFileName value="true"/>
        <filter type="log4net.Filter.LevelMatchFilter">
          <levelToMatch value="INFO"/>
        </filter>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{MM/dd/yyyy hh:mm:ss} - %message%newline"/>
        </layout>
      </appender>

      <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
        <file value="logs/Error.log"/>
        <appendToFile value="true"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="5"/>
        <maximumFileSize value="1MB"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception%newline"/>
        </layout>
      </appender>

      <root>
        <level value="INFO"/>
        <appender-ref ref="ProviderFile"/>
      </root>

      <logger additivity="false" name="ErrorLog">
        <level value="ERROR"/>
        <appender-ref ref="ErrorLog"/>
      </logger>
    </log4net>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  
</configuration>