<html>
<head>    
    <title>Bikewale Operations | @ViewBag.Title</title>        
    <link href="~/css/materialize.css" rel="stylesheet" />
    <link href="~/css/common-new.css" rel="stylesheet" />
	<link href="~/css/brand-logo.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />       
    <script src="~/src/framework.js"></script>
    <script src="~/src/knockout.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    @{Html.RenderPartial("~/Views/Shared/_MenuContent.cshtml");}
    @RenderBody()
    @{Html.RenderPartial("~/Views/Shared/_Footer.cshtml");}
    <script src="~/src/common.js" type="text/javascript"></script>
</body>
</html>
