<nav>
    <div class="nav-wrapper teal">
        <ul class="side-nav" id="mobile-demo">
            <li>
                <div class="teal">
                    <a href="/" style="font-size:large"><span class="white-text name left-align">BikeWale Operations</span></a>
                </div>
            </li>
            <li>
                <ul class="collapsible teal lighten-2 " data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">Contents</div>
                        <div class="collapsible-body teal-text">
                            <ul>
                                <li class="teal lighten-4">Bike Data</li>
                                <li><a href="/content/makes/">Makes</a></li>
                                <li><a href="/content/models/">Models</a></li>
                                <li><a href="/content/versions/">Versions</a></li>
                                <li><a href="/content/models/colors/">Model Colors</a></li>
                                <li><a href="/content/models/upcoming/">Upcoming Bikes</a></li>
                                <li><a href="/content/comparisons/">Featured Comparisons</a></li>
                                <li class="teal lighten-4">Manage Prices</li>
                                <li>Pricing</li>
                                <li>Bulk Pricing</li>
                                <li>Price Monitoring</li>
                                <li class="teal lighten-4">Bikewale Dealers</li>
                                <li>Add Dealer</li>
                                <li>Edit Dealer</li>
                                <li class="teal lighten-4">User Reviews</li>
                                <li>Manage Reviews</li>
                                <li class="teal lighten-4">Mobile Applications</li>
                                <li>Manage App Versions</li>
                            </ul>
                        </div>

                    </li>
                    <li>
                        <div class="collapsible-header">Classified</div>
                        <div class="collapsible-body teal-text">
                            <ul>
                                <li>Manage Listings</li>
                                <li>Verify Edited Listings</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Dealers</div>
                        <div class="collapsible-body teal-text">
                            <ul>
                                <li>Manage Dealers</li>
                                <li>Dealer Campaigns</li>
                                <li>manufacturer Campigns</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="left">
            <li><a href="#" data-activates="mobile-demo" class="buttons"><i class="material-icons">menu</i></a></li>
            <li style="font-size:large; margin-left:15px;">@ViewBag.PageTitle</li>
        </ul>

        <ul class="right">
            <li style="margin-right:15px;"><strong>Welcome, @BikeWaleOpr.Common.CurrentUser.UserName</strong></li>
            <li><a class="white-text" href="/users/logout/"><i class="material-icons right">exit_to_app</i>Logout</a></li>
        </ul>

    </div>
</nav>