<nav>
    <div class="nav-wrapper teal">
        <ul class="side-nav" id="mobile-demo">
            <li>
                <div class="teal">
                    <a href="/" style="font-size:large"><span class="white-text name left-align">BikeWale Operations</span></a>
                </div>
            </li>
            <li>
                <ul class="collapsible teal lighten-2 " data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">Contents</div>
                        <div class="collapsible-body teal-text">
                            <ul>
                                <li class="teal lighten-4">Bike Data</li>
                                <li><a href="/makes/">Makes</a></li>
                                <li><a href="/series/">Series</a></li>
                                <li><a href="/content/bikemodels.aspx">Models</a></li>
                                <li><a href="/content/bikeversions.aspx">Versions</a></li>
                                <li><a href="/pageMetas/">Configure Page Metas</a></li>
                                <li><a href="/content/NewBikeModelColors_New.aspx">Model Colors</a></li>
                                <li><a href="/content/ModelColorWiseImage.aspx">Model Images By Color</a></li>
                                <li><a href="/content/expectedlanuches.aspx">Upcoming Bikes</a></li>                               
                                <li><a href="/content/bikeunitssold.aspx">Bulk Units Sold</a></li>
                                <li><a href="/Models/UsedModelImageUpload">Used Model Image Upload</a></li>
   
                                <li class="teal lighten-4">Manage Prices</li>                                
                                <li><a href="/content/showroomprices.aspx">Pricing</a></li>
                                <li><a href="/content/bulkpriceupload.aspx">Bulk Pricing</a></li>
                                <li><a href="/pricemonitoring/">Price Monitoring</a></li>

                                <li class="teal lighten-4">Bikewale Dealers</li>
                                <li><a href="/content/adddealers.aspx">Add delear</a></li>
                                <li><a href="/content/editdealers.aspx">Edit delear</a></li>
                                <li class="teal lighten-4">User Reviews</li>
                                <li><a href="/userreviews/">Manage Reviews</a></li>
                                <li><a href="/userreviews/manageratings/">Manage Ratings</a></li>

                                <li class="teal lighten-4">Mobile Applications</li>
                                <li><a href="/MobileApp/AppVersioning.aspx">App Versions</a></li>
                            </ul>
                        </div>

                    </li>
                    <li>
                        <div class="collapsible-header">Classified</div>
                        <div class="collapsible-body teal-text">
                            <ul>
                                <li><a href="/classified/verifycustomerlisting.aspx">Manage Listings</a></li>
                                <li><a href="/classified/verifyeditedlisting.aspx">Verify Edited Listings</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Dealers</div>
                        <div class="collapsible-body teal-text">
                            <ul>
                                <li><a href="/dealers/operations/">Manage Dealers</a></li>
                                <li><a href="/campaign/SearchDealerCampaigns.aspx">Dealer Campaigns</a></li>                                
                                <li><a href="/campaign/ManageDealerPriceCategories.aspx">Dealer Price Categories</a></li>
                                <li><a href="/servicecenter/search/">Manage Service Centers</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Enterprise Sales</div>
                        <div class="collapsible-body teal-text">
                            <ul>                               
                                <li><a href="/manufacturercampaign/search/index/">Manufacturer Campaigns</a></li>
                                <li><a href="/banner/bannerslist/">Home Page Banner Configuration</a></li>
                                <li><a href="/content/bikecomparisonlist.aspx">Featured Comparisons</a></li>
                                <li><a href="/comparison/sponsored/manage/">Sponsored Comparison</a></li>  
                                <li><a href="/adslots/">Manage Ad Slots</a></li>
                                <li><a href="/AdOperation/Index/">AdOperations</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="left">
            <li><a href="#" data-activates="mobile-demo" class="buttons"><i class="material-icons">menu</i></a></li>
            <li style="font-size:large; margin-left:15px;">@ViewBag.PageTitle</li>
        </ul>

        <ul class="right">
            <li style="margin-right:15px;"><strong>Welcome, @Bikewale.Utility.OprUser.UserName</strong></li>
            <li><a class="white-text" href="/users/logout/"><i class="material-icons right">exit_to_app</i>Logout</a></li>
        </ul>
        
    </div>
    <div class="progress hide">
        <div class="indeterminate" style="width: 70%"></div>
    </div>
</nav>
