<li>
    <div class="collapsible-header"><strong>Dealer Operation</strong></div>
    <div class="collapsible-body">
        <div class="container">
            <div class="input-field row s12">
                <select>
                    <option value="0" disabled selected>Dealer City</option>
                    <option value="1">Mumbai</option>
                    <option value="2">Pune</option>
                    <option value="3">New Delhi</option>
                    <option value="3">Bangalore</option>
                </select>
            </div>
            <div class="input-field row s12">
                <select>
                    <option value="0" disabled selected>Make</option>
                    <option value="1">Sai Point Honda</option>
                    <option value="2">Executive Bajaj</option>
                    <option value="3">Dolphin Suzuki</option>
                </select>
            </div>
            <div class="input-field row s12">
                <select>
                    <option value="0" disabled selected>Dealer Name</option>
                    <option value="1">Offers</option>
                    <option value="2">Pricing</option>
                    <option value="3">Facilities</option>
                    <option value="3">EMI</option>
                    <option value="3">Disclaimer</option>
                    <option value="3">Booking Amount</option>
                    <option value="3">Benefits / USP</option>
                </select>
            </div>
            <div class="input-field row s12">
                <select>
                    <option value="0" disabled selected>Operation</option>
                    <option value="1">Offers</option>
                    <option value="2">Pricing</option>
                    <option value="3">Facilities</option>
                    <option value="3">EMI</option>
                    <option value="3">Disclaimer</option>
                    <option value="3">Booking Amount</option>
                    <option value="3">Benefits / USP</option>
                </select>
            </div>
            <div class="input-field row s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Submit
                </button>
            </div>
        </div>
    </div>
</li>