@mixin ink($scale: 2.5) {
	.ink {
		@include vendor-prefix('transform', scale(0));
		display: block;
		position: absolute;
		background-color: rgba(map-get($color-map, 'dark-black'), .3);
		border-radius: 100%;
		will-change: tranform opacity;
		
		&.animate {
			@include vendor-prefix('animation', ripple .5s ease-out);
		}
	}

	@-webkit-keyframes ripple {
		100% {
			@include vendor-prefix('transform', scale($scale));
			opacity: 0;
		}
	}

	@keyframes ripple {
		100% {
			@include vendor-prefix('transform', scale($scale));
			opacity: 0;
		}
	}
}
