select
    display: none

.select-box
	position: relative

	.select-label
		text-transform: capitalize
		position: absolute
		top: 0
		color: #82888b
		font-size: 16px

	.chosen-container
		height: 30px
		position: relative
		top: 0
		cursor: pointer
		border-bottom: 1px solid #82888b
		background: transparent url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) 100% 50% no-repeat

.chosen-container-single
	.chosen-single
		span
			display: block
			overflow: hidden
			margin-right: 26px
			text-overflow: ellipsis
			white-space: nowrap

.done
	.select-label
		font-size: 12px
		top: -20px