<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\AppNotification.Service\packages.config" />
  <repository path="..\Bikewale.BAL\packages.config" />
  <repository path="..\Bikewale.DAL\packages.config" />
  <repository path="..\Bikewale.PinCodesAutosuggest\packages.config" />
  <repository path="..\Bikewale.Service\packages.config" />
  <repository path="..\BikeWale.UI\packages.config" />
  <repository path="..\Bikewale.UserReviewsReminder\packages.config" />
  <repository path="..\BikewaleAutoSuggest\packages.config" />
  <repository path="..\BikeWaleOpr.MVC.UI\packages.config" />
  <repository path="..\BikewaleOpr.Service\packages.config" />
</repositories>