<div id="div-sellcar-slug" class="sellcar-slug">
    <a href="/used/sell/" data-role="click-tracking" data-event="CWInteractive" data-action="Link_Clicked" data-cat="SellCarLink_MSite" data-label="PQPage" class="block content-box-shadow padding-top10 padding-right15 padding-bottom10 padding-left15 hover-no-underline">
        <div class="display-table" data-role="impression-tracking" data-event="CWNonInteractive" data-action="Link" data-cat="SellCarLink_MSite" data-label="PQPage">
            <span class="icon-wrapper-42 table-cell">
                <img src="https://imgd.aeplcdn.com/0x0/cw/static/icons/circle/sell-icon-40.png" alt="Sell car" width="40" height="40" />
            </span>
            <div class="table-cell padding-left15">
                <p class="font16 text-black text-bold">
                    Sell Car</h2>
                <p class="font12 text-light-grey margin-bottom5">Just 3 steps and your ad is live.</p>
                <p class="font12">List Your Car for Free</p>
            </div>
        </div>
    </a>
</div>
