h1,
.text-bold
	font-weight: 600

.font-bold
	font-weight: 700

.text-slate-grey
	color: #787878

.font15
	font-size: 15px

// contest slug
@include contest-slug-grey-sm()
.contest-slug-container
	background-color: #41b4c4
	margin: 15px 20px

.contest-slug__title
	color: #fff
	padding-left: 10px
	display: inline-block
	vertical-align: middle

// main container

.main-container
	border: 1px solid #e2e2e2

// rating box
#bike-rating-box
	width: 100%
	margin-top: 15px
	margin-bottom: 20px

.answer-star-list
	> input
		display: none

		+ label
			float: right
			width: 37px
			cursor: pointer

		&:checked
			+ label,
			~ label
				background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/ffd24d/star-24x23.png) no-repeat 50% #ccc

.rating-placeholder

	.answer-star-list
		width: 250px
		height: 36px
		float: left

		> input
			+ label
				width: 36px
				height: 36px
				background-color: #ccc
				border-radius: 4px
				margin-right: 14px

			&:first-child
				+ label
					width: 36px

.hover-effect
	> input
		+ label:hover,
		+ label:hover ~ label
				background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/ffd24d/star-24x23.png) no-repeat 50% #ccc

.circle-placeholder
	width: 61px
	height: 61px
	margin: 0 auto
	padding-top: 15px
	border: 1px solid #e2e2e2
	background: #fff
	position: relative
	top: -31px
	@include border-radius(50%)

// questions and answers
.question-field
	margin-bottom: 20px

	.error-text
		top: -6px

.question-item
	margin-bottom: 10px
	font-size: 15px
	color: #2a2a2a

.answer-radio-list
	> input
		display: none

		+ label
			width: auto
			float: left
			color: $text-light
			margin: 4px 8px 4px 0
			padding: 5px 14px
			cursor: pointer
			border: 1px solid #e2e2e2
			@include border-radius(2px)

			&:hover
				background: #f5f5f5

		&:checked
			+ label
				color: $white
				background: #41B4C4
				border-color: #41B4C4
				cursor: default
				pointer-events: none


// write review
.text-xx-light
	color: #a2a2a2

.user-rating-box
	position: relative
	top: 1px

	.star-one
		position: relative
		top: -1px
		@include transform(scale(0.85))

.numeric-list
	list-style: decimal
	margin-left: 15px

	li
		margin-bottom: 5px

.textarea-box
	position: relative

	textarea
		width: 100%
		color: #4d5057
		border: 1px solid #a2a2a2
		font-family: $font-open-sans
		font-size: 14px
		padding: 20px
		resize: none

		&:focus
			border-color: #82888b
			box-shadow: none
			outline: 0

.textarea-error
	left: 7px
	bottom: 7px
	padding: 5px

	.error-text
		top: 0

.review-char-count
	background: rgba(255,255,255,0.9)
	bottom: 7px
	right: 7px
	color: #787878
	padding: 5px

#getReviewTitle
	font-weight: 600

// review-question-list
.review-question-list
	.list-item
		padding-top: 15px
		padding-bottom: 15px
		border-bottom: 1px solid #eee

	.item-title
		font-weight: 600
		margin-bottom: 8px

	.item-subtitle
		color: #787878
		margin-bottom: 10px

	.feedback-text
		font-size: 13px
		position: relative
		top: 1px
		color: #4d5057

.thankyou-card
	.icon-outer-container
		width: 66px
		height: 66px

	.icon-inner-container
		width: 62px
		height: 62px
		margin: 1px auto

.model-details-grid
	width: 85%
	padding-left: 15px

// review-summary-card
#review-summary-card
	#bike-rating-box
		width: 602px
		margin: 30px auto 20px
		text-align: center
		background: #F5F5F5

	.rating-placeholder

		.answer-star-list
			margin: auto
			float: none

.item-rating-list
	&.no-float
		li
			float: left
			width: 50px

			&:last-child
				width: 36px

.full-review-box
	p
		margin-bottom: 10px

.btn-220-40
	width: 220px

// user-rated-list
.user-rated-list
	.list-item
		margin-bottom: 10px

.category-label
	width: 50%
	line-height: 25px

.category-rating
	width: 140px
	font-weight: 600
	line-height: 25px

.rating-size-sm
	li
		float: left

	.star-zero,
	.star-one
		transform: scale(0.7)
		margin-right: 1px

// tips
.collapsible-main-content,
.collapsible-more-content
	display: inline

.collapsible-more-content
	display: none

.collapsible-content
	&.active
		.collapsible-main-content
			display: none

		.collapsible-more-content
			display: inline

// icons
.star-zero,
.star-one
	width: 36px
	height: 36px
	vertical-align: middle

.star-zero
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/star-24x23.png) no-repeat 50% #ccc

.star-one
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/ffd24d/star-24x23.png) no-repeat 50% #ccc

.feedback-1,
.feedback-2,
.feedback-3,
.feedback-4,
.feedback-5,
	width: 22px
	height: 20px
	position: relative
	top: 2px
	left: 1px

.feedback-3,
.feedback-4,
.feedback-5
	background-position: -139px -710px

.feedback-3
	opacity: 0.4

.feedback-4
	opacity: 0.6

.feedback-1,
.feedback-2
	background-position: -168px -710px
	top: 6px

.feedback-2
	opacity: 0.6

.thankyou-icon
	width: 51px
	height: 58px
	background-position: -165px -436px
	@include transform(scale(0.6))

// sidebar
#review-sidebar
	padding-right: 20px
	padding-left: 20px
	margin-top: 70px
	border: 1px solid #4d5057

.sidebar-circle-placeholder
	width: 110px
	background: #fff
	margin: 0 auto
	text-align: center
	position: relative
	top: -40px

	.sidebar-circle
		width: 80px
		height: 80px
		border: 1px solid #4d5057
		margin: 0 auto
		@include border-radius(50%)

.sidebar-content
	position: relative
	top: -15px

.sidebar-list
	margin-top: 25px

	li
		margin-bottom: 30px

	span,
	p
		display: inline-block
		vertical-align: middle

	p
		width: 90%
		padding-left: 10px
		color: #82888b

	.ui-search-icon
		width: 20px
		height: 20px
		margin-right: 0
		top: 0

.review-sprite
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/bw-review-sprite.png) no-repeat
	display: inline-block

.write-icon
	width: 30px
	height: 32px
	background-position: 0 0
	position: relative
	top: 23px
	left: 3px

.user-review-lg
	width: 20px
	height: 18px
	background-position: -38px 0

.info-icon
	width: 20px
	height: 20px
	background-position: -205px -616px
	opacity: 0.6


///Vivek

.review-progress

	li
		width: 100px
		height: 100px
		border-radius: 8px
		margin-bottom: 20px
		background-color: #f5f5f5
		cursor: default

		&:before
			content: ""
			display: block
			width: 20px
			height: 20px
			border-radius: 50%
			margin: auto
			position: relative
			top: 20px

		&.active
			border: 1px solid #41b4c4
			box-shadow: 0px 2px 5px #a2a2a2
			background-color: #fff
			cursor: pointer
			pointer-events: none

		&.completed
			border: 1px solid #E2E2E2
			background-color: #fff
			cursor: pointer

			&:before
				background-image: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/tick-filled-20x20.png)
				background-color: transparent

		&.incomplete
			border: 1px solid #E2E2E2
			background-color: #fff
			cursor: pointer
			pointer-events: none

	.review-progress__rate-bike
		&:before
			background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/787878/star-10x10.png) no-repeat 50% #e2e2e2

		&.active
			&:before
				background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/star-10x10.png) no-repeat 50% #41b4c4

		&.incomplete
			&:before
				background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/star-10x10.png) no-repeat 50% #e2e2e2


	.review-progress__write-review
		&:before
			background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/787878/edit-9x10.png) no-repeat 50% #e2e2e2

		&.active
			&:before
				background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/edit-9x10.png) no-repeat 50% #41b4c4

		&.incomplete
			&:before
				background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/edit-9x10.png) no-repeat 50% #e2e2e2

	.review-progress__other-details
		&:before
			background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/787878/bike-12x8.png) no-repeat 50% #e2e2e2

		&.active
			&:before
				background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/bike-12x8.png) no-repeat 50% #41b4c4

		&.incomplete
			&:before
				background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/bike-12x8.png) no-repeat 50% #e2e2e2

.review-progress__text
	width: 50px
	font-size: 12px
	margin: auto
	text-align: center
	position: relative
	top: 30px
