h1,
.text-bold {
  font-weight: 600; }

.font-bold {
  font-weight: 700; }

.text-slate-grey {
  color: #787878; }

.font15 {
  font-size: 15px; }

.contest-slug-sm {
  padding: 10px 15px; }

.contest-slug__label {
  font-size: 13px;
  color: #4d5057; }

.slug-grey-info {
  background: #f3f3f3; }

.contest-slug__label {
  width: 95%;
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle; }

.trophy-a2a2a2-14 {
  width: 14px;
  height: 16px;
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/trophy-a2a2a2-14.png) no-repeat;
  display: inline-block;
  vertical-align: middle; }

#bike-rating-box {
  width: 100%;
  min-height: 132px;
  margin-top: 45px;
  margin-bottom: 20px;
  background: #F5F5F5;
  text-align: center; }

.answer-star-list > input {
  display: none; }
  .answer-star-list > input + label {
    float: right;
    width: 37px;
    cursor: pointer; }
  .answer-star-list > input:checked + label,
  .answer-star-list > input:checked ~ label {
    background-position: 0 -757px; }

.rating-placeholder {
  position: relative;
  top: -20px; }
  .rating-placeholder .answer-star-list {
    width: 230px;
    height: 25px;
    margin: 15px auto 0; }
    .rating-placeholder .answer-star-list > input + label {
      width: 50px;
      margin-right: 0; }
    .rating-placeholder .answer-star-list > input:first-child + label {
      width: 25px; }

.hover-effect > input + label:hover,
.hover-effect > input + label:hover ~ label {
  background-position: 0 -757px; }

.circle-placeholder {
  width: 61px;
  height: 61px;
  margin: 0 auto;
  padding-top: 15px;
  border: 1px solid #e2e2e2;
  background: #fff;
  position: relative;
  top: -31px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.question-field {
  margin-bottom: 20px; }
  .question-field .error-text {
    top: -6px; }

.question-item {
  margin-bottom: 10px; }

.answer-radio-list > input {
  display: none; }
  .answer-radio-list > input + label {
    width: auto;
    float: left;
    color: #82888b;
    margin: 4px 8px 4px 0;
    padding: 5px 14px;
    cursor: pointer;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .answer-radio-list > input + label:hover {
      background: #f5f5f5; }
  .answer-radio-list > input:checked + label {
    color: #fff;
    background: #41B4C4;
    border-color: #41B4C4;
    cursor: default;
    pointer-events: none; }

.text-xx-light {
  color: #a2a2a2; }

.user-rating-box {
  position: relative;
  top: 1px; }
  .user-rating-box .star-one {
    position: relative;
    top: -1px;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85); }

.numeric-list {
  list-style: decimal;
  margin-left: 15px; }
  .numeric-list li {
    margin-bottom: 5px; }

.textarea-box {
  position: relative; }
  .textarea-box textarea {
    width: 100%;
    color: #4d5057;
    border: 1px solid #a2a2a2;
    font-family: "Open Sans", sans-serif, Arial;
    font-size: 14px;
    padding: 20px;
    resize: none; }
    .textarea-box textarea:focus {
      border-color: #82888b;
      box-shadow: none;
      outline: 0; }

.textarea-error {
  left: 7px;
  bottom: 7px;
  padding: 5px; }
  .textarea-error .error-text {
    top: 0; }

.review-char-count {
  background: rgba(255, 255, 255, 0.9);
  bottom: 7px;
  right: 7px;
  color: #787878;
  padding: 5px; }

#getReviewTitle {
  font-weight: 600; }

.review-question-list .list-item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee; }

.review-question-list .item-title {
  font-weight: 600;
  margin-bottom: 8px; }

.review-question-list .item-subtitle {
  color: #787878;
  margin-bottom: 10px; }

.review-question-list .feedback-text {
  font-size: 13px;
  position: relative;
  top: 1px;
  color: #4d5057; }

.thankyou-card .icon-outer-container {
  width: 66px;
  height: 66px; }

.thankyou-card .icon-inner-container {
  width: 62px;
  height: 62px;
  margin: 1px auto; }

.model-details-grid {
  width: 85%;
  padding-left: 15px; }

#review-summary-card #bike-rating-box {
  width: 602px;
  margin: 30px auto 20px; }

.item-rating-list.no-float li {
  float: left;
  width: 50px; }
  .item-rating-list.no-float li:last-child {
    width: 25px; }

.full-review-box p {
  margin-bottom: 10px; }

.btn-220-40 {
  width: 220px; }

.user-rated-list .list-item {
  margin-bottom: 10px; }

.category-label {
  width: 50%;
  line-height: 25px; }

.category-rating {
  width: 140px;
  font-weight: 600;
  line-height: 25px; }

.rating-size-sm li {
  float: left; }

.rating-size-sm .star-zero,
.rating-size-sm .star-one {
  transform: scale(0.7);
  margin-right: 1px; }

.collapsible-main-content,
.collapsible-more-content {
  display: inline; }

.collapsible-more-content {
  display: none; }

.collapsible-content.active .collapsible-main-content {
  display: none; }

.collapsible-content.active .collapsible-more-content {
  display: inline; }

.star-zero,
.star-one {
  width: 26px;
  height: 25px;
  vertical-align: middle; }

.star-zero {
  background-position: -53px -757px; }

.star-one {
  background-position: 0 -757px; }

.feedback-1,
.feedback-2,
.feedback-3,
.feedback-4,
.feedback-5 {
  width: 22px;
  height: 20px;
  position: relative;
  top: 2px;
  left: 1px; }

.feedback-3,
.feedback-4,
.feedback-5 {
  background-position: -139px -710px; }

.feedback-3 {
  opacity: 0.4; }

.feedback-4 {
  opacity: 0.6; }

.feedback-1,
.feedback-2 {
  background-position: -168px -710px;
  top: 6px; }

.feedback-2 {
  opacity: 0.6; }

.thankyou-icon {
  width: 51px;
  height: 58px;
  background-position: -165px -436px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6); }

#review-sidebar {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 70px;
  border: 1px solid #4d5057; }

.sidebar-circle-placeholder {
  width: 110px;
  background: #fff;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -40px; }
  .sidebar-circle-placeholder .sidebar-circle {
    width: 80px;
    height: 80px;
    border: 1px solid #4d5057;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.sidebar-content {
  position: relative;
  top: -15px; }

.sidebar-list {
  margin-top: 25px; }
  .sidebar-list li {
    margin-bottom: 30px; }
  .sidebar-list span,
  .sidebar-list p {
    display: inline-block;
    vertical-align: middle; }
  .sidebar-list p {
    width: 90%;
    padding-left: 10px;
    color: #82888b; }
  .sidebar-list .ui-search-icon {
    width: 20px;
    height: 20px;
    margin-right: 0;
    top: 0; }

.review-sprite {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/bw-review-sprite.png) no-repeat;
  display: inline-block; }

.write-icon {
  width: 30px;
  height: 32px;
  background-position: 0 0;
  position: relative;
  top: 23px;
  left: 3px; }

.user-review-lg {
  width: 20px;
  height: 18px;
  background-position: -38px 0; }

.info-icon {
  width: 20px;
  height: 20px;
  background-position: -205px -616px;
  opacity: 0.6; }
