h1,
.text-bold {
  font-weight: 600; }

.font-bold {
  font-weight: 700; }

.text-slate-grey {
  color: #787878; }

.font15 {
  font-size: 15px; }

.contest-slug-sm {
  padding: 10px 15px; }

.contest-slug__label {
  font-size: 13px;
  color: #4d5057; }

.slug-grey-info {
  background: #f3f3f3; }

.contest-slug__label {
  width: 95%;
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle; }

.trophy-a2a2a2-14 {
  width: 14px;
  height: 16px;
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/trophy-a2a2a2-14.png) no-repeat;
  display: inline-block;
  vertical-align: middle; }

.contest-slug-container {
  background-color: #41b4c4;
  margin: 15px 20px; }

.contest-slug__title {
  color: #fff;
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle; }

.trophy-fff-14 {
  width: 14px;
  height: 16px;
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/trophy-14x16.png) no-repeat;
  display: inline-block;
  vertical-align: middle; }

.main-container {
  border: 1px solid #e2e2e2; }

.content-box-head .star-one {
  background-color: #fff; }

#bike-rating-box {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px; }

.answer-star-list > input {
  display: none; }
  .answer-star-list > input + label {
    float: right;
    width: 37px;
    cursor: pointer; }
  .answer-star-list > input:checked + label,
  .answer-star-list > input:checked ~ label {
    background-color: #fed130 !important; }

.rating-placeholder .answer-star-list {
  width: 250px;
  height: 36px;
  float: left; }
  .rating-placeholder .answer-star-list > input + label {
    width: 36px;
    height: 36px;
    background-color: #eee;
    border-radius: 4px;
    margin-right: 14px; }
  .rating-placeholder .answer-star-list > input:first-child + label {
    width: 36px; }

.hover-effect > input + label:hover,
.hover-effect > input + label:hover ~ label {
  background-color: #fed130; }

.circle-placeholder {
  width: 61px;
  height: 61px;
  margin: 0 auto;
  padding-top: 15px;
  border: 1px solid #e2e2e2;
  background: #fff;
  position: relative;
  top: -31px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.question-field {
  margin-bottom: 20px; }
  .question-field .error-text {
    top: -6px; }

.question-item {
  margin-bottom: 10px;
  font-size: 15px;
  color: #2a2a2a; }

.answer-radio-list > input {
  display: none; }
  .answer-radio-list > input + label {
    width: auto;
    float: left;
    color: #82888b;
    margin: 4px 8px 4px 0;
    padding: 5px 14px;
    cursor: pointer;
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .answer-radio-list > input + label:hover {
      background: #f5f5f5; }
  .answer-radio-list > input:checked + label {
    color: #fff;
    background: #41B4C4;
    border-color: #41B4C4;
    cursor: default;
    pointer-events: none; }

.text-xx-light {
  color: #a2a2a2; }

.user-rating-box {
  position: relative;
  top: 1px; }
  .user-rating-box .star-one {
    position: relative;
    top: -1px;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85); }

.numeric-list {
  list-style: decimal;
  margin-left: 15px; }
  .numeric-list li {
    margin-bottom: 5px; }

.textarea-box {
  position: relative; }
  .textarea-box textarea {
    width: 100%;
    color: #4d5057;
    border: 1px solid #a2a2a2;
    font-family: "Open Sans", sans-serif, Arial;
    font-size: 14px;
    padding: 20px;
    resize: none; }
    .textarea-box textarea:focus {
      border-color: #82888b;
      box-shadow: none;
      outline: 0; }

.textarea-error {
  left: 7px;
  bottom: 7px;
  padding: 5px; }
  .textarea-error .error-text {
    top: 0; }

.review-char-count {
  background: rgba(255, 255, 255, 0.9);
  bottom: 7px;
  right: 7px;
  color: #787878;
  padding: 5px; }

#getReviewTitle {
  font-weight: 600; }

.review-question-list .list-item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee; }

.review-question-list .item-title {
  font-weight: 600;
  margin-bottom: 8px; }

.review-question-list .item-subtitle {
  color: #787878;
  margin-bottom: 10px; }

.review-question-list .feedback-text {
  font-size: 13px;
  position: relative;
  top: 1px;
  color: #4d5057; }

.thankyou-card .icon-outer-container {
  width: 66px;
  height: 66px; }

.thankyou-card .icon-inner-container {
  width: 62px;
  height: 62px;
  margin: 1px auto; }

.model-details-grid {
  width: 85%;
  padding-left: 15px; }

#review-summary-card #bike-rating-box {
  width: 602px;
  margin: 30px auto 20px;
  text-align: center;
  background: #F5F5F5; }

#review-summary-card .rating-placeholder .answer-star-list {
  margin: auto;
  float: none; }

.item-rating-list.no-float li {
  float: left;
  width: 50px; }
  .item-rating-list.no-float li:last-child {
    width: 36px; }

.full-review-box p {
  margin-bottom: 10px; }

.btn-220-40 {
  width: 220px; }

.user-rated-list .list-item {
  margin-bottom: 10px; }

.category-label {
  width: 50%;
  line-height: 25px; }

.category-rating {
  width: 140px;
  font-weight: 600;
  line-height: 25px; }

.rating-size-sm li {
  float: left; }

.rating-size-sm .star-zero,
.rating-size-sm .star-one {
  transform: scale(0.7);
  margin-right: 1px; }

.collapsible-main-content,
.collapsible-more-content {
  display: inline; }

.collapsible-more-content {
  display: none; }

.collapsible-content.active .collapsible-main-content {
  display: none; }

.collapsible-content.active .collapsible-more-content {
  display: inline; }

.star-zero,
.star-one {
  width: 36px;
  height: 36px;
  vertical-align: middle; }

.star-zero {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/star-24x23.png) no-repeat 50% #ccc; }

.star-one {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/ffd24d/star-24x23.png) no-repeat 50% #ccc; }

.feedback-1,
.feedback-2,
.feedback-3,
.feedback-4,
.feedback-5 {
  width: 22px;
  height: 20px;
  position: relative;
  top: 2px;
  left: 1px; }

.feedback-3,
.feedback-4,
.feedback-5 {
  background-position: -139px -710px; }

.feedback-3 {
  opacity: 0.4; }

.feedback-4 {
  opacity: 0.6; }

.feedback-1,
.feedback-2 {
  background-position: -168px -710px;
  top: 6px; }

.feedback-2 {
  opacity: 0.6; }

.thankyou-icon {
  width: 51px;
  height: 58px;
  background-position: -165px -436px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6); }

#review-sidebar {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 70px;
  border: 1px solid #4d5057; }

.sidebar-circle-placeholder {
  width: 110px;
  background: #fff;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -40px; }
  .sidebar-circle-placeholder .sidebar-circle {
    width: 80px;
    height: 80px;
    border: 1px solid #4d5057;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.sidebar-content {
  position: relative;
  top: -15px; }

.sidebar-list {
  margin-top: 25px; }
  .sidebar-list li {
    margin-bottom: 30px; }
  .sidebar-list span,
  .sidebar-list p {
    display: inline-block;
    vertical-align: middle; }
  .sidebar-list p {
    width: 90%;
    padding-left: 10px;
    color: #82888b; }
  .sidebar-list .ui-search-icon {
    width: 20px;
    height: 20px;
    margin-right: 0;
    top: 0; }

.review-sprite {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/bw-review-sprite.png) no-repeat;
  display: inline-block; }

.write-icon {
  width: 30px;
  height: 32px;
  background-position: 0 0;
  position: relative;
  top: 23px;
  left: 3px; }

.user-review-lg {
  width: 20px;
  height: 18px;
  background-position: -38px 0; }

.info-icon {
  width: 20px;
  height: 20px;
  background-position: -205px -616px;
  opacity: 0.6; }

.review-progress li {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  cursor: default; }
  .review-progress li:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 20px; }
  .review-progress li.active {
    border: 1px solid #41b4c4;
    box-shadow: 0px 2px 5px #ccc;
    background-color: #fff;
    cursor: pointer;
    pointer-events: none; }
  .review-progress li.completed {
    border: 1px solid #E2E2E2;
    background-color: #fff; }
    .review-progress li.completed:before {
      background-image: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/tick-filled-20x20.png);
      background-color: transparent; }
  .review-progress li.incomplete {
    border: 1px solid #E2E2E2;
    background-color: #fff;
    cursor: pointer;
    pointer-events: none; }

.review-progress .review-progress__rate-bike:before {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/787878/star-10x10.png) no-repeat 50% #e2e2e2; }

.review-progress .review-progress__rate-bike.active:before {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/star-10x10.png) no-repeat 50% #41b4c4; }

.review-progress .review-progress__rate-bike.incomplete:before {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/star-10x10.png) no-repeat 50% #e2e2e2; }

.review-progress .review-progress__write-review:before {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/787878/edit-9x10.png) no-repeat 50% #e2e2e2; }

.review-progress .review-progress__write-review.active:before {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/edit-9x10.png) no-repeat 50% #41b4c4; }

.review-progress .review-progress__write-review.incomplete:before {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/edit-9x10.png) no-repeat 50% #e2e2e2; }

.review-progress .review-progress__other-details:before {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/787878/bike-12x8.png) no-repeat 50% #e2e2e2; }

.review-progress .review-progress__other-details.active:before {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/bike-12x8.png) no-repeat 50% #41b4c4; }

.review-progress .review-progress__other-details.incomplete:before {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/fff/bike-12x8.png) no-repeat 50% #e2e2e2; }

.review-progress__text {
  width: 50px;
  font-size: 12px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 30px; }
  .review-progress__text .border-light-right {
    border-right: 1px solid #f5f5f5; }

/*Rating and star icon css Starts here */
.rate-count-5 {
  color: #198D55; }

.rate-count-4 {
  color: #13B65D; }

.rate-count-3 {
  color: #EFD700; }

.rate-count-2 {
  color: #FD971C; }

.rate-count-1 {
  color: #EF3F30; }

.rating-badge[data-rate-bg="5"] {
  background-color: #198D55; }

.rating-badge[data-rate-bg="4"] {
  background-color: #13B65D; }

.rating-badge[data-rate-bg="3"] {
  background-color: #EFD700; }

.rating-badge[data-rate-bg="2"] {
  background-color: #FD971C; }

.rating-badge[data-rate-bg="1"] {
  background-color: #EF3F30; }

.bg-rate-5 {
  background-color: #198D55; }

.bg-rate-4 {
  background-color: #13B65D; }

.bg-rate-3 {
  background-color: #EFD700; }

.bg-rate-2 {
  background-color: #FD971C; }

.bg-rate-1 {
  background-color: #EF3F30; }

.star-icon {
  width: 26px;
  height: 25px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }
  .star-icon.star-size-16 {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6); }

.rate-count-1 .star-icon {
  background-position: 0 -790px; }

.rate-count-2 .star-icon {
  background-position: -46px -790px; }

.rate-count-3 .star-icon {
  background-position: 0 -757px; }

.rate-count-4 .star-icon {
  background-position: -92px -790px; }

.rate-count-5 .star-icon {
  background-position: -138px -790px; }

.questionId-1, .questionId-2, .questionId-3 {
  width: 24px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.8; }

.questionId-1 {
  background-position: -48px -825px; }

.questionId-2 {
  background-position: 0 -825px; }

.questionId-3 {
  background-position: -24px -825px; }

.rating-badge {
  min-width: 40px;
  height: 20px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.star-white {
  width: 12px;
  height: 12px;
  background-position: -218px -103px;
  position: relative;
  top: 1px;
  margin-right: 4px; }

.circle-placeholder-80 {
  width: 80px;
  height: 80px;
  border: 1px solid #e2e2e2;
  background: #f5f5f5;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.circle-placeholder-60 {
  width: 60px;
  height: 60px;
  border: 1px solid #e2e2e2;
  background: #fff;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

/*Rating and star icon css Ends here */
/*Rating circle Starts here */
.rating-circle {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  vertical-align: middle; }

.circle-label {
  width: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: 600;
  color: #787878;
  position: absolute;
  top: 3px;
  left: 3px;
  line-height: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  z-index: 1; }

.rating-progress {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  clip: rect(0, 30px, 30px, 15px); }
  .rating-progress:before, .rating-progress:after {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-width: 3px;
    border-style: solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    clip: rect(0, 15px, 30px, 0); }

.circle-rate-3 .rating-progress,
.circle-rate-4 .rating-progress,
.circle-rate-5 .rating-progress {
  clip: rect(auto, auto, auto, auto); }

.circle-rate-3 .rating-progress:after,
.circle-rate-4 .rating-progress:after,
.circle-rate-5 .rating-progress:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.circle-rate-1 .rating-progress:before {
  border-color: #EF3F30;
  -webkit-transform: rotate(62deg);
  -moz-transform: rotate(62deg);
  -o-transform: rotate(62deg);
  transform: rotate(62deg); }

.circle-rate-2 .rating-progress:before {
  border-color: #FD971C;
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg); }

.circle-rate-3 .rating-progress:before {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg); }

.circle-rate-4 .rating-progress:before {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg); }

.circle-rate-3 .rating-progress:before, .circle-rate-3 .rating-progress:after {
  border-color: #EFD700; }

.circle-rate-4 .rating-progress:before, .circle-rate-4 .rating-progress:after {
  border-color: #13B65D; }

.circle-rate-5 .rating-progress:before, .circle-rate-5 .rating-progress:after {
  border-color: #198D55; }

.rating-circle-list:after {
  content: '';
  display: block;
  clear: both; }

.rating-circle-list li {
  float: left;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .rating-circle-list li:last-child {
    margin-right: 0; }

.rating-circle-list .list-item-label {
  font-size: 14px;
  color: #787878;
  padding-left: 5px;
  display: inline-block;
  vertical-align: middle; }

/*Rating circle Ends here */
.text-slate-grey {
  color: #787878; }

.font15 {
  font-size: 15px; }

.input-type-checkbox {
  display: none; }

.checkbox-icon {
  width: 14px;
  height: 14px;
  background-position: -216px -120px;
  position: relative;
  top: 2px; }

.checkbox-label {
  display: inline-block;
  vertical-align: top;
  width: 95%;
  padding-left: 5px;
  cursor: pointer; }

.input-type-checkbox:checked ~ label .checkbox-icon {
  background-position: -216px -135px; }
