@model Bikewale.Models.QuestionAndAnswers.UnansweredQuestionsVM
@if (Model != null && Model.Questions != null && Model.Questions.Any())
{
    @*<ul class="answer-question__list">
            <li class="answer-question__item">
                <p class="answer-question__item-title">Q: Lorem ipsum dolor sit amet, conser adipiscing elit. Aenean commodo ligula eget dolor?</p>
                <a href="" title="Answer this Question">Answer this Question</a>
            </li>
            <li class="answer-question__item">
                <p class="answer-question__item-title">Q: Lorem ipsum dolor sit amet, conser adipiscing elit. Aenean commodo ligula eget dolor?</p>
                <a href="" title="Answer this Question">Answer this Question</a>
            </li>
        </ul>*@
    <ul class="answer-question__list">

        @foreach (var question in Model.Questions)
        {
            <li class="answer-question__item">
                <p class="answer-question__item-title">Q: @question.QuestionData.Text</p>
                <a href="@question.AnsweringUrl" title="Answer this Question">Answer this Question</a>
            </li>
        }
    </ul>
}
