
<link href="~/css/materialize-stepper.css" rel="stylesheet" />

<div class="row stepper-height-60">
    <ul class="stepper horizontal focused">    
        <li class="step  " id="step_1"><a href="#" data-bind="click: uploadPricesFile "><div class="step-title waves-effect waves-dark" data-step-label="Step 1"><font size="2">Upload Price File</font></div></a></li>
        <li class="step " id="step_2" ><a href="#" data-bind="click: getUnmappedBikes "><div class="step-title waves-effect waves-dark" data-step-label="Step 2"><font size="2">Add Bike Mappings</font></div></a></li>
        <li class="step " id="step_3" ><a href="#" data-bind="click: getUnmappedCities "><div class="step-title waves-effect waves-dark" data-step-label="Step 3"><font size="2">Add City Mappings</font></div></a></li>
        <li class="step " id="step_4" ><a href="#" data-bind="click: getUpdatablePrices "><div class="step-title waves-effect waves-dark" data-step-label="Step 4"><font size="2">Update Prices</font></div></a></li>
    </ul>
</div>