.location-details
	display: none

// common
.vertical-top
	display: inline-block
	vertical-align: top

.vertical-middle
	display: inline-block
	vertical-align: middle

.text-truncate
	width: 100%
	text-align: left
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden

// service schedule
#service-not-avaiable
	text-align: center
	max-width: 250px
	margin: 15px auto 20px

#service-schedular
	tbody
		tr
			&:first-child
				td
					border-top: 0

	.select-box
		width: 150px
		height: 40px

.divider-top
	border-top: 1px solid #eee
	

// icons
.dealership-loc-icon
	margin-right: 3px

.mail-grey-icon
	width: 15px
	height: 10px
	background-position: -19px -437px
	position: relative
	top: 6px

.crosshair-icon
	width: 20px
	height: 20px
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/detect-location-icon.png) no-repeat
	top: 10px
	right: 10px

.clock-icon
	width: 14px
	height: 14px
	background-position: -159px -462px
	position: relative
	top: 4px
	margin-right: 2px

.get-direction-icon
	width: 12px
	height: 10px
	background-position: -31px -421px

.blue-right-arrow-icon
    width: 10px
    height: 12px
    background-position: -56px -435px
    position: relative
    top: 1px
    left: 2px

.service-sprite
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-service-sprite.png') no-repeat
	display: inline-block

.calender-lg
	width: 36px
	height: 40px
	background-position: 0 0
	margin-bottom: 20px