#bw-tips-list
	padding: 0 20px 5px

	li
		&:first-child
			border-bottom: 1px solid #e2e2e2

	a
		display: block
		padding-top: 17px
		padding-bottom: 17px
		position: relative

		&:hover
			text-decoration: none

// tips
.care-icon,
.faq-icon
	width: 18px
	height: 18px
	vertical-align: middle

.care-icon
	background-position: 0 -45px

.faq-icon
	background-position: -22px -45px

.right-arrow
	width: 8px
	height: 12px
	background-position: -182px -394px
	position: absolute
	right: 0
	top: 22px