.boundary
	position: relative
	width: 100%
	display: block

	&::before,
	&::after
		content: ''
		position: absolute
		bottom: 0
		width: 0
		height: 2px
		background-color: #41b4c4
		@include transition(0.2s, ease, all)
		
	&::before
		left: 50%

	&::after
		right: 50%

.error-text
	font-size: $font-size-small
	position: relative
	top: 4px
	left: 0
	color: $error-red

// validation
.invalid ~ .boundary:before,
.invalid ~ .boundary:after,
.invalid .boundary:before,
.invalid .boundary:after,
	background-color: $error-red
	width: 50%