.comparison-swiper
	.swiper-slide
		width: 310px
		min-height: 220px

		a
			padding-top: 15px
			padding-bottom: 20px

	.swiper-card
		width: 310px
		min-height: 220px
		border: 1px solid #e2e2e2

.model-img-content
	width: 126px
	height: 71px
	margin-bottom: 5px

.model-comparison-list
	h3 + .grid-6
		position: relative
		border-right: 1px solid #f5f5f5

		&:after
			content: ''
			position: absolute
			right: -11px
			top: 45px
			width: 22px
			height: 21px
			background: url('https://imgd.aeplcdn.com/0x0/bw/static/design15/comparison-divider.png') no-repeat
			display: block

.btn-size-1
	font-size: 14px
	padding: 6px 42px