.slideIn-input-box-content
	height: 60px

.slideIn-input-box
	padding-bottom: 5px
	position: relative
	border-bottom: 1px solid $text-light
	height: 36px
	
	.slideIn-input-label
		font-size: $font-size-medium
		color: $text-light
		position: absolute
		top: 4px
		
	.city-box-default
		width: 100%
		cursor: pointer

	.selected-option-box
		padding-right: 20px

.selection-done
	.slideIn-input-label
		font-size: $font-size-small
		top: -14px		

.selected-option-box
	font-size: $font-size-medium
	color: $text-primary
	font-weight: $font-bold
	height: 36px
	padding-top: 7px