.box-content {
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(204,204,204,0.50);
    -moz-box-shadow: 0 2px 4px 0 rgba(204,204,204,0.50);
    box-shadow: 0 2px 4px 0 rgba(204,204,204,0.50);
    margin-bottom: 20px;
}

/*Listing author*/

.author__head {
    font-size: 20px;
    padding: 25px 20px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(221,221,221,0.50);
    -moz-box-shadow: 0 2px 4px 0 rgba(221,221,221,0.50);
    box-shadow: 0 2px 4px 0 rgba(221,221,221,0.50);
}

.author__block {
    padding: 15px 20px 15px;
    display: block;
}

.author__list li:after {
    content: '';
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    border-bottom: 1px solid #eee;
}

.author__block div {
    display: inline-block;
    vertical-align: top;
}

.author__image {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.author__image img {
    height: auto;
    width: auto;
    max-width: 100%;
}

.author__detail {
    width: 70%;
    text-align: left;
}

.author__name {
    font-size: 15px;
    margin-bottom: 10px;
}

.author__designation {
    font-size: 14px;
    color: #82888b;
    display: block;
}

/* Details author*/

.detail-author__head {
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(221,221,221,0.50);
}

.detail-author__name {
    font-size: 20px;
    margin-bottom: 5px;
}

.detail-author__designation {
    font-size: 14px;
    color: #82888b;
    display: block;
}

.detail-author__body {
    font-size: 14px;
    padding: 15px 20px 30px;
}

.detail-author__image {
    min-width: 320px;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
}

.detail-author__image img {
    height: auto;
    width: auto;
    max-width: 100%;
}

.detail-author__description {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.detail-author__mail {
    padding-top: 15px;
    padding-bottom: 10px;
    display: block;
}

.detail-author__social {
    padding-bottom: 20px;
}

.border-after-bottom::after {
    content: '';
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}

.list-heading {
    font-size: 18px;
    margin-bottom: 20px;
}

.disk-list {
    list-style-type: disc;
    padding-left: 20px;
}

.disk-list li {
    margin-top: 15px;
}

/* detail-author swiper */

.detail-author__swiper .swiper-image-preview {
    height: auto;
    width: 160px;
    padding: 15px 15px 10px;
    text-align: center;
}

.detail-author__swiper .swiper-image-preview img{
    height: auto;
    width: 140px;
    max-width: 100%;
}

.detail-author__swiper .swiper-details-block {
    padding-top: 5px;
    padding-bottom: 15px;
}

.detail-author__swiper .swiper-card {
    min-height: 190px;
    width: 170px;
    -webkit-box-shadow: 0 2px 4px 1px rgba(204,204,204,0.50);
    -moz-box-shadow: 0 2px 4px 1px rgba(204,204,204,0.50);
    box-shadow: 0 2px 4px 1px rgba(204,204,204,0.50);
    margin-bottom: 15px;
}

.detail-author__swiper .swiper-slide {
    width: 170px;
}

.author__swiper-designation {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    color: #82888b;
    font-size: 12px;
}

.author__swiper-label {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
}