@charset "utf-8";
/* CSS Document */
header { width:100%; height:50px; }
#bw-header.fixed { position: fixed; left: 0; right: 0; top: 0; z-index: 3; }
.discover-bike-carousel .front, .discover-bike-carousel .back, .discover-bike-carousel .jcarousel li { height: auto; }
.content-inner-block-1520 { padding:15px 20px; }
.pos-top3 { top:3px; }
.text-x-black { color:#1a1a1a; }
.search-bike-item { background: #fff; }
.search-bike-item .front { height: auto; border-radius: 0; box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; border: 0 none; }
.search-bike-item div.border-top1:last-child{display:none;}
.sort-icon { background-position: -193px -144px !important; height: 20px; width: 20px; }
.sort-btn {color: #FFF;padding: 0px 10px;position: relative;cursor: pointer;font-size: 20px;}
.filter-sort-div { display: table; width: 100%; border-top: solid 1px #d9d9d9; padding: 10px 0; background: #fff; margin-bottom: 10px; box-shadow: 0 3px 4px 0 #e5e5e5; }
.filter-sort-div div { display: table-cell; width: 33.333%; }
.filter-sort-div div a { padding: 0; color: #565a5c; display: block; text-decoration: none; text-align: center; }
.filter-sort-div .filter-icon { position: relative; top: 2px; }
#sort-by-div.fixed { position: fixed; left: 0; right: 0; top: 50px; z-index: 999; }
.modelurl img { width:292px; }
#listitems .bikeDescWrapper { padding-right:20px; padding-left:20px; }
.text-default { color:#4d5057; }
.text-truncate { width:100%; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.swiper-slide.bike-carousel-swiper { width:184px; min-height:250px; background:#fff; border:1px solid #e2e2e2; }.bike-carousel-swiper img { width:100%; height:103px; }
.bike-swiper-image-wrapper { width:100%; height:103px; display: block; overflow: hidden; text-align: center; position:relative; }.bike-swiper-image-wrapper a { width:100%; height:100%; display: block;}
.bike-swiper-details-wrapper { padding:5px 20px 10px; }
.bike-swiper-details-wrapper p { font-size:12px; }
.block { display:block; }
.swiper-wrapper.upcoming-carousel-content .swiper-slide:first-child{ margin-left:10px; }
#makeOverallTabsWrapper { height:44px; }
.overall-specs-tabs-container { width:100%; display:block; background:#fff; overflow-x:scroll; z-index:2; }
.overall-specs-tabs-container::-webkit-scrollbar {width: 0;height: 0;}
.overall-specs-tabs-container::-webkit-scrollbar-track, .overall-specs-tabs-container::-webkit-scrollbar-thumb {display:none;}
.overall-specs-tabs-container.fixed-tab-nav { position:fixed; top:0; left:0; }
.overall-specs-tabs-wrapper { width:100%; display:table; border-bottom:1px solid #e2e2e2; }
.overall-specs-tabs-wrapper li { font-size: 14px; padding:10px 15px; display:table-cell; text-align:center; white-space:nowrap; color:#82888b;cursor:pointer;}
.overall-specs-tabs-wrapper li.active { border-bottom:3px solid #ef3f30; color:#4d5057; font-weight:bold; }
#makeTabsContentWrapper h2 { margin-bottom:13px; }
#makeTabsContentWrapper h3 { margin-bottom:12px; }
.model-preview-more-content { display:none; }
.border-divider { border-top:1px solid #e2e2e2; }
.news-image-wrapper { width:148px; height:83px; border:1px solid #e2e2e2; display:inline-block; vertical-align:top; margin-right:10px; overflow:hidden; }
.review-image-wrapper { width:120px; height:68px; border:1px solid #e2e2e2; display:inline-block; vertical-align:top; margin-right:10px; }
.news-image-wrapper a, .review-image-wrapper a { width:100%; display:block; }
.news-image-wrapper img, .review-image-wrapper img { width:100%; height: 68px; }
.blue-right-arrow-icon { width:10px; height:12px; background-position:-56px -435px; position:relative; top:1px; left:7px; }
#makeNewsContent .news-heading-wrapper h4, #makeReviewsContent .review-heading-wrapper h4, #makeReviewsContent .make-user-review-title-container h4 { margin-top:2px; margin-bottom:7px; }
.news-heading-wrapper { width:47%; display:inline-block; vertical-align:top; }
.review-heading-wrapper { width: 55%; display:inline-block; vertical-align:top; }
.margin-top17 { margin-top:17px; }
.make-user-review-rating-container { width:120px; height:68px; border:1px solid #e2e2e2; background:#f9f9f9; padding-top:10px; text-align:center;display:inline-block; vertical-align:top; margin-right:15px;}
.make-user-review-title-container { width:55%; display:inline-block; vertical-align:top;}
.dealer-city-image-preview { height: 75px; display:block; text-align:center; margin-bottom:25px; }
.city-sprite { background: url(http://imgd2.aeplcdn.com/0x0/bw/static/sprites/m/bwm-city-sprite.png) no-repeat; display: inline-block; }
.mumbai-icon, .pune-icon, .bangalore-icon, .delhi-icon, .chennai-icon, .hyderabad-icon, .kolkata-icon, .ahmedabad-icon, .chandigarh-icon, .lucknow-icon { height: 70px; }
.mumbai-icon { width: 98px; background-position: 0 0; }
.pune-icon { width: 140px; background-position: -108px 0; }
.bangalore-icon { width: 102px; background-position: -258px 0; }
.delhi-icon { width: 54px; background-position: -370px 0; }
.chennai-icon { width: 41px; background-position: -434px 0; }
.hyderabad-icon { width: 49px; background-position: -485px 0; }
.kolkata-icon { width: 138px; background-position: -544px 0; }
.lucknow-icon { width: 132px; background-position: -692px 0; }
.ahmedabad-icon { width: 0px; background-position: 0 0; }
.chandigarh-icon { width: 0px; background-position: 0 0; }
#makeUsedBikeContent li { margin-top:20px; }
#makeUsedBikeContent li:first-child { margin-top:0; }
#makeDealersContent h2 { margin-bottom:20px; }
#makeDealersContent .swiper-slide:first-child { margin-left:10px; }
.swiper-slide.bike-carousel-swiper.dealer-by-city { width:184px; min-height:210px;padding:17px 10px; }
.swiper-slide.bike-carousel-swiper.dealer-no-city { width:184px; min-height:210px; }
.vertical-top {display: inline-block;vertical-align: top;}
.dealership-loc-icon {width: 10px;height: 15px;background-position: -40px -435px;position: relative;top: 4px;}
.dealership-address, .dealership-email {width: 87%;}
.tel-sm-grey-icon { width: 15px; height: 15px;background-position: 0 -435px; position: relative;top: 2px;}
.mail-grey-icon { width: 15px;height: 9px;background-position: -19px -437px;position: relative;top: 6px;}
.dealer-no-city a { width:184px; min-height:210px; color: #2a2a2a; display:block; padding:20px; }

@media all and (max-width: 355px) {
    .review-heading-wrapper, .make-user-review-title-container { width:50%; }
    .news-heading-wrapper { width:40%; }
}