/* version price table */
.version-price-table {
    width: 100%;
}
.version-price-table th:first-child {
    width: 30%;
}
.version-price-table th {
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    font-size: 12px;
    color: #82888b;
    font-weight: normal;
    width: 35%;
}
.version-price-table td {
    vertical-align: top;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
}

/* price in top city */
.PriceInTopCity {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 0;
}
.PriceInTopCity .city-name {
    font-size: 14px;
    width: 60%;
    display: inline-block;
    padding-bottom: 20px;
    text-align: left;
}
.PriceInTopCity .city-price {
    font-size: 14px;
    width: 40%;
    display: inline-block;
    padding-bottom: 20px;
    text-align: right;
}
  
.view-cities-link {
    top: -13px;
}

/* colors */
#modelColorsList li {
    width:100%;
    margin-top:20px;
}
#modelColorsList li:first-child {
    margin-top:0;
}
#modelColorsList a:hover {
    text-decoration: none;    
}
#modelColorsList li p {
    width:75%;
}
.color-box {
    width:30px;
    height:30px;
    margin-right:15px;
    background: #f1f1f1;
    border: 1px solid #e2e2e2;
}
.color-box span {
    width:100%;
    display: block;
}
.color-count-one span {
    height:100%;
}
.color-count-two span {
    height:50%;
}
.color-count-three span {
    height:33.33%;
}

/* similar bikes */
.swiper-type-similar .swiper-btn-block {
    padding-bottom: 15px;
}
.swiper-type-similar .right-arrow {
    right: 18px;
    top: 13px;
    transform: scale(0.8);
}

.compare-with-target {
    display: block;
    padding: 10px 35px 10px 15px;
    position: relative;
    font-size: 12px;
    color: #4d5057;    
}
.compare-with-target:before {
    content: '';
    position: absolute;
    left: 8%;
    top: 0;
    width: 168px;
    height: 1px;
    border-top: 1px solid #e2e2e2;
}

.compare-sm {
    width: 17px;
    height: 12px;
    background-position: -173px -596px;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

/* specs and features */
#specsFeaturesContent ul { overflow:hidden;}
/* model specs and features */
.model-accordion-tab { padding: 12px 15px; font-weight: 600; position: relative; border-bottom: 1px solid #e2e2e2; cursor: pointer; }
#model-specs-list > li:first-child .model-accordion-tab { border-top: 1px solid #e2e2e2; }
.model-accordion-tab .fa-angle-down { position: absolute; right: 20px; top: 17px; transition: transform .3s; -moz-transition: transform .3s; -webkit-transition: transform .3s; -o-transition: transform .3s; -ms-transition: transform .3s; }
.model-accordion-tab.active .fa-angle-down { -moz-transform: rotateZ(180deg); -webkit-transform: rotateZ(180deg); -o-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); transform: rotateZ(180deg); }
.model-accordion-tab.brakes-accordion-tab { padding-top: 7px; padding-bottom: 8px; }
.model-accordion-tab.active { -webkit-box-shadow: 0 2px 3px #e2e2e2; -moz-box-shadow: 0 2px 3px #e2e2e2; box-shadow: 0 2px 3px #e2e2e2; }
.model-accordion-tab.active + .specs-features-list { display: block }
.engine-sm-icon, .brakes-sm-icon, .dimension-sm-icon, .fuel-sm-icon { width:20px; }
.engine-sm-icon { height: 13px; background-position: -46px -274px;}
.brakes-sm-icon { height: 20px; background-position: -46px -294px; position:relative; top:3px;}
.dimension-sm-icon { height: 14px; background-position: -46px -323px;}
.fuel-sm-icon { height: 16px; background-position: -46px -344px;}
.specs-features-list { display: none; padding-right:20px; padding-bottom:10px; padding-left:20px; border-bottom: 1px solid #e2e2e2; }
.specs-features-list li { width:100%; float:left; margin-top:20px; }
.specs-features-list li:first-child { margin-top:10px; }
.specs-features-list li div {width:50%; float:left; padding-right: 5px; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.specs-features-list.model-features-list { display: block; border-bottom: none; }
.specs-features-list.model-features-list li:first-child { margin-top:0; }
#model-more-features-list { display:none; margin-top:10px; }

/*about*/
#aboutContent img {
	width: 100%;
}

/* reviews and news */
.user-review-subContent .model-section-subtitle {
    margin-top: 0;
}

/* best bikes list */
.best-bike-list .list-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
}

.best-bike-list .list-item:first-child {
    border-top: 0;
}

.best-bike-list .list-item-target {
    display: block;
}

.best-bike-list .item-rank-label {
    font-size: 14px;
    color: #a2a2a2;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: -12px;
}

.best-bike-list .item-image-block {
    width: 102px;
    height: 57px;
    margin-right: 5px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif) center no-repeat;
    position: relative;
}
.best-bike-list .item-image-block img {
    height: 57px;
}
.best-bike-list .item-details-block {
    width: 65%;
}

/* model slug */
.trend-arrow {
    width: 116px;
    height: 72px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/trend-arrow.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: -20px;
}

.right-arrow {
    width: 8px;
    height: 12px;
    background-position: -182px -394px;
    position: absolute;
    right: 20px;
    top: 41%;
}

/* full-width slug */
.icon-red-bg {
    width: 30px;
    height: 30px;
    background: #ef3f30;
    text-align: center;
    padding-top: 5px;
}
.rank-graph {
    width: 20px;
    height: 20px;
    background-position: -190px -435px;
}

.pos-top3{top:3px;}
.pos-top8{top:8px;}
.pos-left3 {left: 3px;}
.font6{font-size:6px}
.pos-top13 { top:13px; }

.viewMoreOffersBtn { cursor: pointer; color: #0288d1; margin-left:25px; }
.viewBreakupText { cursor: pointer; color: #0288d1; margin-top:3px; }
.breakup-header { width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:left; }

#otpPopup { display:none; }
.user-contact-details-icon { width:36px; height:44px; background-position: -107px -227px; }
.otp-icon { width:30px; height:40px; background-position: -107px -177px; }
.edit-blue-icon { width:20px; height:20px; background-position: -114px -121px; }
#getMobile { padding:9px 40px; }
.mobile-prefix { position: absolute; padding: 10px 13px 13px; color: #999; z-index:2; }
#otpPopup .errorIcon, #otpPopup .errorText { display:none; }
#otpPopup .otp-box p.resend-otp-btn { color:#0288d1; cursor:pointer; font-size:14px; }
#otpPopup .update-mobile-box { display:none; }
#otpPopup .edit-mobile-btn { cursor:pointer; }
.thankyou-icon{width:24px;height:28px;background-position:-138px -394px}

.offer-list-container ul { list-style-type:disc; }
.offer-list-container ul li { /*margin-left:20px;*/ position:relative; margin-top:5px; padding-bottom:5px; font-size: 14px;}
.offer-error-text { color:#f00; }

.city-area-select-container { width:100%; /*min-height:100px;*/ }

.city-edit-btn { color:#0288d1; }
.city-edit-btn:hover { cursor:pointer; text-decoration:underline; }

.notify-btn-container { width:100%; height:100%; background:rgba(255,255,255,0.95); }
.notify-btn-container input { padding:0 10px; }
.notify-btn-container button { margin-top:-2px; }
.notify-input { width:200px; height: 40px; line-height:40px; border:1px solid #ccc;  }

.breakupCloseBtn.cross-lg-lgt-grey { background-position: -36px -226px; }

#ctrlExpertReviews li{min-height:236px;height:auto;}
#ctrlExpertReviews li .front{height:100%;}
.view-breakup-text {cursor:pointer;color:#0288d1;}

.termsPopUpContainer { width: 90%; height: 400px; overflow-y:auto; background-color: #fff; z-index: 10; margin: 0 auto; position: fixed; top: 7%; left: 5%; right: 5%; }
.termsPopUpCloseBtn.cross-lg-lgt-grey { background-position: -36px -226px; }
#terms h1 { font-size:18px; padding-top:10px; }

.viewterms{color: #ababab;text-decoration: none;font-size: 10px;cursor: pointer;}
.viewterms:hover{text-decoration:underline;}

/*notify availability*/
#notifyAvailabilityContainer {min-height: 320px; background: #fff; margin: 0 auto; padding:10px;position: fixed; top: 10%; right: 5%; left: 5%; z-index: 10; }
#notify-form .grid-12 { padding: 10px 20px; }
.personal-info-notify-container input { margin:0 auto; } 
.notify-offers-list { list-style:disc; margin-left:10px; }
#notifyAvailabilityContainer .notify-close-btn {z-index:2;}
#leadCapturePopup .error-icon, #leadCapturePopup .bw-blackbg-tooltip {display:none} 

.offer-list-container ul.offersList li, .offer-list-container ul.moreOffersList li { background:url("https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/star-icon.png") no-repeat 0 3px; padding: 0 0 0 18px;} 
.bike-details-list-ul { list-style:disc; margin-left:18px; }

.content-details-wrapper .overall-specs-tabs-wrapper li.active h3 { font-weight: bold; }
.content-details-wrapper h2 { font-size: 16px; margin-bottom:13px; }
h2.text-bold { font-weight: bold; }
.content-details-wrapper h3, .content-details-wrapper .model-specs-header { margin-bottom:12px; }
#modelReviewsContent h3.model-section-subtitle { margin-bottom:20px; }
.model-preview-more-content { display:none; }

.content-inner-block-1222 { padding:15px 20px 20px; }

.swiper-wrapper .swiper-slide:first-child { margin-left:10px; }

/* user reviews */
.content-details-wrapper h2.heading-bottom-margin {
	margin-bottom: 5px;
}

/* overall rating */
.model-overall-rating {
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #e2e2e2;
}

.overall-rating-alignment {
	position: relative;
	left: -4px;
}

.text-xt-light {
	color: #a2a2a2;
}

.model-overall-rating span {
    display: inline-block;
    vertical-align: middle;
}

.review-left-divider {
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
}
.review-left-divider:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 1px;
    height: 16px;
    border-left: 1px solid #e2e2e2;
}

.rate-count-5 {
    color: #198D55;
}
.rate-count-4 {
    color: #13B65D;
}
.rate-count-3 {
    color: #EFD700;
}
.rate-count-2 {
    color: #FD971C;
}
.rate-count-1 {
    color: #EF3F30;
}

.model-overall-rating .star-icon {
    width: 26px;
    height: 25px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}
.rate-count-1 .star-icon {
    background-position: 0 -667px;
}
.rate-count-2 .star-icon {
    background-position: -38px -667px;
}
.rate-count-3 .star-icon {
    background-position: 0 -278px;
}
.rate-count-4 .star-icon {
    background-position: -74px -667px;
}
.rate-count-5 .star-icon {
    background-position: -110px -667px;
}

/* rating circle list container */
.rating-list {
	width: 100%;
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
}
.rating-list::-webkit-scrollbar {
    width: 0;
    height: 0;
	display: none;
}
.rating-list .rating-circle-list li {
    margin-right: 10px;
    padding-right: 10px;
    width: auto;
    display: table-cell;
    white-space: nowrap;
    float: none;
	border-top: 0;
}

/* rating circle list */
.rating-circle-list {
	margin: 0 20px 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e2e2e2;
}
.rating-circle-list:after {
    content: '';
    display: block;
    clear: both;
}
.rating-circle-list li {
	float: left;
	min-width: 148px;
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.rating-circle-list li:last-child {
    margin-right: 0;
}
.rating-circle-list .list-item-label {
    font-size: 13px;
    color: #787878;
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.rating-circle {
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    vertical-align: middle;
}
.circle-label {
    width: 24px;
    height: 24px;
    font-size: 12px;
    font-weight: 600;
    color: #787878;
    position: absolute;
    top: 3px;
    left: 3px;
    line-height: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    z-index: 1;
}
.rating-progress {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    clip: rect(0, 30px, 30px, 15px);
}
.rating-progress:before,
.rating-progress:after {
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    border-width: 3px;
    border-style: solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    clip: rect(0, 15px, 30px, 0);
}
.circle-rate-3 .rating-progress,
.circle-rate-4 .rating-progress,
.circle-rate-5 .rating-progress {
    clip: rect(auto, auto, auto, auto);
}
.circle-rate-3 .rating-progress:after,
.circle-rate-4 .rating-progress:after,
.circle-rate-5 .rating-progress:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.circle-rate-1 .rating-progress:before {
    border-color: #EF3F30;
    -webkit-transform: rotate(62deg);
    -moz-transform: rotate(62deg);
    -o-transform: rotate(62deg);
    transform: rotate(62deg);
}
.circle-rate-2 .rating-progress:before {
    border-color: #FD971C;
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -o-transform: rotate(144deg);
    transform: rotate(144deg);
}
.circle-rate-3 .rating-progress:before {
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -o-transform: rotate(216deg);
    transform: rotate(216deg);
}
.circle-rate-4 .rating-progress:before {
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -o-transform: rotate(288deg);
    transform: rotate(288deg);
}
.circle-rate-3 .rating-progress:before,
.circle-rate-3 .rating-progress:after {
    border-color: #EFD700;
}
.circle-rate-4 .rating-progress:before,
.circle-rate-4 .rating-progress:after {
    border-color: #13B65D;
}
.circle-rate-5 .rating-progress:before,
.circle-rate-5 .rating-progress:after {
    border-color: #198D55;
}

/* user reviews list */
.user-review-list li {
    position: relative
}
.user-review-list li:after {
    content: '';
	width: 90%;
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-top: 1px solid #eee;
}
.user-review-list li:first-child:after {
	border-top: 0;
}
.user-review-list .item-target {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.user-review-list .item-target:hover {
    text-decoration: none;
}
.user-review-list .grid-10-inline.text-truncate {
    width: 83.33333%;
}
.user-review-list .star-white {
    margin-right: 0;
}

.grid-10-inline {
    width: 83.33333%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

.inline {
	display: inline;
}

/* rating badges */
.rating-badge {
    min-width: 40px;
    height: 20px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.star-white {
    width: 12px;
    height: 12px;
    background-position: -172px -447px;
    position: relative;
    top: 1px;
    margin-right: 4px;
}

.rating-badge[data-rate-bg="5"] {
    background-color: #198D55;
}
.rating-badge[data-rate-bg="4"] {
    background-color: #13B65D;
}
.rating-badge[data-rate-bg="3"] {
    background-color: #EFD700;
}
.rating-badge[data-rate-bg="2"] {
    background-color: #FD971C;
}
.rating-badge[data-rate-bg="1"] {
    background-color: #EF3F30;
}

.item-stats-grid {
    font-size: 14px;
    color: #82888b;
    display: inline-block;
    vertical-align: middle;
}
.item-stats-grid span {
    display: inline-block;
    vertical-align: middle;
}
.item-stats-grid {
    min-width: 60px;
}

/* icons */
.like-sm,
.dislike-sm,
.views-sm {
    width: 16px;
    height: 14px;
    vertical-align: middle;
}
.like-sm {
    background-position: -109px -252px;
}
.dislike-sm {
    background-position: -109px -265px;
}
.views-sm {
    background-position: -59px -304px;
}


.news-image-wrapper { width:148px; height:83px; border:1px solid #e2e2e2; display:inline-block; vertical-align:top; margin-right:15px; }
.news-image-wrapper .article-target-image { width:148px; height:83px; display:table-cell; vertical-align:middle; text-align:center; cursor: pointer; }
.news-image-wrapper img { width:148px; height:83px;}
.review-image-wrapper .article-target-image { width:100%; display:block; }
.review-image-wrapper img { width:100%; height: 68px; }
.news-heading-wrapper { width:47%; display:inline-block; vertical-align:top; }
.review-image-wrapper { width:120px; height:68px; border:1px solid #e2e2e2; display:inline-block; vertical-align:top; margin-right:10px; }
.review-heading-wrapper { width: 55%; display:inline-block; vertical-align:top; }
.margin-top17 { margin-top:17px; }
.model-user-review-rating-container { width:120px; height:68px; border:1px solid #e2e2e2; background:#f9f9f9; padding-top:10px; text-align:center;display:inline-block; vertical-align:top; margin-right:10px;}
.model-user-review-title-container { width:55%; display:inline-block; vertical-align:top;}
#modelAlternateBikeContent .swiper-slide { width:186px; min-height:240px; background:#fff; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2); -ms-box-shadow: 0 1px 4px rgba(0,0,0,0.2); box-shadow: 0 1px 4px rgba(0,0,0,0.2); -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; border-radius:2px; }
#modelAlternateBikeContent .swiper-slide h3 {  margin-bottom:7px; }
.model-swiper-image-preview { width:100%; height:101px; }
.model-swiper-image-preview a { width:180px; height:101px; display:block; position:relative; }
.model-swiper-details { padding:10px 18px 20px; }
.btn-x-sm { padding:8px 14px; color:#4d5057; }
#modelForSaleContent li { margin-top:20px; }
#modelForSaleContent li:first-child { margin-top:0; }
.divider-bottom { border-bottom:1px solid #eee; }
.view-features-link { position: relative; display:block; }
.view-features-link:before,
.view-cities-link:before { content: ''; width: 100%; height: 20px; position:absolute; top:-40px; left: 0; z-index: 1; background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%); background: -moz-linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%); background: -o-linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%); background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);}
.view-features-link.active:before { content: none; }

/* model-news-content */
#modelReviewsContent .model-news-content {
    margin: 0;
    border-bottom: none;
    padding-bottom: 0;
}

/* comparison */
.comparison-swiper .swiper-slide,
.comparison-swiper .swiper-card {
    width: 310px;
    min-height: 220px;
}
.comparison-swiper .swiper-card {
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.comparison-swiper .swiper-slide a {
    padding-top: 15px;
    padding-bottom: 20px;
}

.model-img-content {
    width: 126px;
    height: 71px;
    margin-bottom: 5px;
}

.model-comparison-list h3 + .grid-6 {
    position: relative;
    border-right: 1px solid #f5f5f5;
}

.model-comparison-list h3 + .grid-6:after {
    content: '';
    position: absolute;
    right: -11px;
    top: 45px;
    width: 22px;
    height: 21px;
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/design15/comparison-divider.png') no-repeat;
    display: block;
}

.btn-size-1 {
    font-size: 14px;
    padding: 6px 42px;
}

.icon-outer-container {
    width: 72px;
    height: 72px;
}

.icon-inner-container {
    width: 64px;
    height: 64px;
    margin: 3px auto;
}

.secondary-dealer-card a {
    width: 308px;
    min-height: 102px;
    padding: 10px 10px 20px;
    -webkit-box-shadow: 0 1px 7px 0 #ccc;
    -moz-box-shadow: 0 1px 7px 0 #ccc;
    box-shadow: 0 1px 7px 0 #ccc;
    border-radius: 2px;
    display: block;
}

.secondary-dealer-card a:hover {
    text-decoration:none;
}

.secondary-dealer-card {
    margin-top: 10px;
}

.secondary-dealer-card:first-child {
    margin-top: 0;
}

#more-dealers-popup ul {
    max-width: 310px;
    margin: 0 auto;
}

/* dealer carousel */
.dealer-city-image-preview { height: 75px; display:block; text-align:center; margin-bottom:10px; }
.city-sprite { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-city-sprite.png?26Dec2016) no-repeat; display: inline-block; }
.mumbai-icon, .pune-icon, .bangalore-icon, .newdelhi-icon, .delhi-icon, .chennai-icon, .hyderabad-icon, .kolkata-icon, .ahmedabad-icon, .chandigarh-icon, .lucknow-icon, .india-icon { height: 70px; }
.mumbai-icon { width: 98px; background-position: 0 0; }
.pune-icon { width: 140px; background-position: -108px 0; }
.bangalore-icon { width: 102px; background-position: -258px 0; }
.newdelhi-icon { width: 54px; background-position: -370px 0; }
.delhi-icon { width: 54px; background-position: -370px 0; }
.chennai-icon { width: 41px; background-position: -434px 0; }
.hyderabad-icon { width: 49px; background-position: -485px 0; }
.kolkata-icon { width: 138px; background-position: -544px 0; }
.lucknow-icon { width: 132px; background-position: -692px 0; }
.ahmedabad-icon { width: 0px; background-position: 0 0; }
.chandigarh-icon { width: 0px; background-position: 0 0; }
.india-icon { width: 61px; background-position: -834px 0; }

/* model-photos-swiper */
.model-photos-swiper .black-overlay {
    padding-top: 80px;
}

#scroll-to-top {
    display: none;
    width: 48px;
    height: 48px;
    z-index: 8;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/top-icon.png) no-repeat scroll center center;
    cursor: pointer;
}

@media all and (max-width: 350px) {
    .review-heading-wrapper, .model-user-review-title-container { width:50%; }
    .news-heading-wrapper { width:40%; }
}

@media only screen and (max-width: 320px) {
    .dealer-details .dealership-title {
        width: 85%;
    }

    .selected-location-label.text-truncate { width: 82%; }

    .booknow-label, .callback-label { width: 100%; padding-left: 0; margin-top: 5px; top: 0; }

    .nearby-partner-left-col { width: 100%; margin-bottom: 10px; }

    .nearby-partner-label { width: 85%; }

    #model-dealer-card .offers-content-label { vertical-align: top; top: 0; }

    #dealer-offers-list { width: 75%; vertical-align: top; }
    
    #dealer-offers-list li { margin-left: 0; margin-right: 10px; }

    #more-dealers-popup.bwm-fullscreen-popup { padding-right: 0; padding-left: 0; }

    .float-button .btn { font-size: 15px; }

    .campaign-offer-label { width: 75%; }

    .rank-slug-label { width: 80%; }

    /* media list */
    .model-media-list a {
        padding-right: 5px;
        padding-left: 5px;
    }

    /* best bike list */
    .best-bike-list .item-image-block {
        width: 75px;
        height: 42px;
        margin-right: 3px;
    }

    .best-bike-list .item-image-block img {
        height: 42px;
    }

    .best-bike-list .bike-details-block {
        width: 68%;
    }

    /* model photo swiper */
    .model-photos-swiper.swiper-container,
    .model-photos-swiper.swiper-container img {
        height: 179px;
    }

    /* summary */
    .summary-specs-list .font12 {
        font-size: 11px;
    }
}


.full-width-select .dropdown-select-wrapper,
	.full-width-select .dropdown-menu,
	.full-width-select .dropdown-menu .dropdown-label,
	.full-width-select .dropdown-menu .dropdown-selected-item,
.full-width-select .dropdown-menu .dropdown-list-wrapper,
.full-width-select .dropdown-menu .dropdown-menu-title {
		width: 100%;
	max-width: 100%;
	}

.full-width-select .dropdown-menu-list {
	max-height: 165px;
	overflow-y: scroll;
}

#getDealer-select-box .dropdown-select-wrapper {
    border-bottom: 1px solid #82888b;
    padding-bottom: 7px;
}

@media only screen and (max-width: 320px) {
	.rating-circle-list .list-item-label {
		min-width: 95px;
	}
}

.collapsible-content .main-content {
	display: block;
	padding-right: 20px;
	padding-left: 20px;
}

.collapsible-content .more-content {
	display: none;
}

.collapsible-content.active .more-content {
	display: block;
}

.collapsible-content.toggle-off.active .read-more-target {
	display: none;
}

.collapsible-content.active ~ .review-block  {
	display: block;
}

.collapsible-content.main-content-off.active .main-content {
	display: none;
}

/* feedback buttons */
.feedback-button {
	font-size: 11px;
	min-width: 60px;
	background: white;
	margin: 0 4px;
	padding: 6px; 
	color: #82888B;
	border: 1px solid #E2E2E2;
	border-radius: 2px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif, Arial;
}

.feedback-button .like-sm,
.feedback-button .dislike-sm {
	opacity: 0.6;
}

.about-reviewer-list li:after {
    border:none;
}	

.feedback-button.active {
    border-color: #41B4C4;
    background:#41B4C4;
    color:white;
    pointer-events: none;
}

.feedback-button.active .like-sm {
	opacity: 1;
    background-position: -94px -624px;
}
.feedback-button.active .dislike-sm {
	opacity: 1;
    background-position: -110px -624px;
}
.overall-circle-list {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 10px;
	margin-top: 5px;
}

.overall-circle-list.rating-circle-list li {
	margin-right: 30px;
}

@media only screen and (max-width: 320px) {
    .review__question {
		display: block;
		padding-bottom: 5px;
    }
}

/* about reviewer */
.about-reviewer-content {
	padding: 15px 20px 0;
	background: #fafafa;
}
.about-reviewer-content .item-answer {
	font-size: 13px;
}
.about-reviewer-list li {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding: 20px 10px; }

.about-reviewer-list .item-question {
  font-size: 10px;
  color: #a2a2a2;
  margin-bottom: 4px; }

.about-reviewer-list .item-answer {
  color: #787878; }

.item-count-3 li {
  width: 33.33333%; }

.item-count-2 li {
  width: 50%; }

.item-count-1 li {
  width: 100%; }

.questionId-2,
.questionId-3 {
  width: 16px;
  height: 16px; }

.questionId-2 {
  background-position: -94px -643px; }

.questionId-3 {
  background-position: -112px -643px; }

.questionId-1 {
  width: 24px;
  height: 16px;
  background-position: -131px -643px; }


/*explore more card starts here*/
.exploremore__imagebackground {
    
    padding-top: 15px;
    padding-bottom: 10px;
    background: rgba(65,180,196,0.3);
}

.exploremore__icon-background {
    height: 64px;
    width: 64px;
    background: white url(https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/bike-36x22.png) no-repeat center;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.exploremore-detailblock {
    margin: 0 auto;
    padding-top: 10px;
    min-height: 115px;
    text-align:center;
}

.detailblock__title {
    font-size: 14px;
    color: #4D5057;
    font-weight: 600;
    line-height:25px;
    margin-bottom: 10px;
}

.detailblock__description {
    font-size: 12px;
    color: #A2A2A2;
}
/*explore more card ends here*/

/* carousel for image detail grid list */

.image-details-grid-list .card-target {
    min-height: 120px;
    display: block;
    padding: 15px;
}

.more-make-bike .item-image-block {
    width: 102px;
    height: 57px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif) center no-repeat;
    position: relative;
}
.more-make-bike .item-image-block img {
    height: 57px;
}
.more-make-bike .item-details-block {
    width: 57%;
    padding-left: 5px;
}

/* expert review list*/
.user-reviews-type-carousel .swiper-slide,
.user-reviews-type-carousel .swiper-card {
    width: 200px;
    min-height: 110px; 
}

.user-reviews-type-carousel .swiper-details-block {
    padding-top: 7px;
    padding-bottom: 15px; 
}


.more-make-bikes .swiper-card {
    min-height: 170px;
}
.more-make-bikes .swiper-details-block {
    padding-bottom: 15px;
}
.more-make-bikes .swiper-slide:first-child {
    margin-left: 0px;
}

/* best bikes and other bikes tooltip */
.best-bike-list .tooltip-icon-target {
	position: absolute;
	top: 53px;
	left: 230px;
}

.discover-bike-carousel .tooltip-icon-target,
.other-popular-bikes-swiper .tooltip-icon-target {
	position: absolute;
	top: 123px;
	left: 138px;
}

/* loader */
.section-spinner {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	background: #fff url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/loader-red.gif') no-repeat center;
	width: 100%;
	height: 100%;
	z-index: 1;
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

/* content loader */
.rating-container {
	height: 20px;
	width: 12%;
	background: #eee;
	display: inline-block;
	border-radius: 2px;
	margin-bottom: 10px;
}

.review-header {
	height: 20px;
	width: 81%;
	background: #eee;
	display: inline-block;
	border-radius: 2px;
	margin-left: 8px;
	margin-bottom: 10px;
}

.review-author {
	height: 12px;
	width: 49%;
	background: #eee;
	margin-bottom: 20px;
}

.paragraph-item {
	background: #eee;
	height: 12px;
	margin-bottom: 8px;
}

.para-one {
	margin-top: 16px;
	width: 85%;
}

.para-two {
	width: 93%;
}

.para-three {
	width: 80%;
	margin-bottom: 15px;
}

.para-four {
	width: 21%;
	margin-bottom: 0;
}

.user-review-loader-divider {
	padding-top: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}

/* Mileage section */
.mileage-box-list {
	width: 100%;
    font-size: 0;
    padding-bottom: 20px;
    position: relative;
}

.mileage-box-list th {
	text-align: left;
}

.mileage-box-list .mileage-list__item {
	width: 50%;
	display: inline-block;
    vertical-align: middle;
    padding: 0 20px 10px;
    min-height: 45px;
	border-left: 1px solid #eee;
}


.mileage-box-list .mileage-list__item:first-child {
    border-left-style: none;
    padding-right: 10px;
}

.mileage-box-list .tooltip-icon-target.info-icon {
    left: -8px;
    top: -5px;
}

.grey-scooter-icon {
    display: inline-block;
    vertical-align: middle;
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/82888b/scooter-36x23.png') no-repeat;
    width: 36px;
    height: 23px;
}

.grey-bike-icon {
	display: inline-block;
	vertical-align: middle;
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/82888b/bike-36x20.png') no-repeat;
	width: 36px;
	height: 20px;
}

.mileage-box__arai-block,
.mileage-box__users-block {
    padding-left: 50px;
}

.mileage-box__arai-block {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/41B4C4/arai-40x40.png') no-repeat left;
}

.mileage-box__users-block {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/41B4C4/users-36x24.png') no-repeat left;
}

.mileage-box__subtitle {
    margin-right: 2px;
    font-size: 11px;
    color: #787878;
}

.mileage-box__desc {
    color: #787878;
    font-size: 12px;
}

.top-grey-divider {
    padding-top: 20px;
    margin-left:20px;
    margin-right: 20px;
    border-top: 1px solid #e2e2e2;
}

.model-mileage-carousel .swiper-card {
    min-height: 155px;
    margin-left: 0;
}

.model-mileage-carousel .swiper-slide:last-child {
    margin-right: 20px;
}

.model-mileage-carousel .swiper-details-block h3 {
    margin-bottom: 5px;
}

.text-teal {
    color: #3799A7;
}

@media only screen and (max-width: 320px) {
    .mileage-box-list li .arai-icon,
    .mileage-box-list li .users-icon {
        display: block;
        margin: 0 auto;
    }
    .mileage-box-list .info-tooltip {
        width: 148px;
    }
}

.trucatable-content {
	overflow: hidden;
	position: relative;
	max-height: 36px;
}

.trucatable-content:before {
	content: '...';
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	padding-left: 3px;
	background: white;
}

.trucatable-content:after {
	content: '';
	position: absolute;
	right: 0;
	width: 14px;
	height: 14px;
	margin-top: 0.2em;
	background: white;
}

