.newbikes-banner-div { background:#161209 url(https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/new-bike-banner.jpg) no-repeat left top; background-size: cover; height:130px;}
.newbikes-banner-div h1 {
    padding-top: 25px;
}
.margin-minus60 {
    margin-top: -60px;
}
.margin-top30 {
    margin-top: 30px;
}
.brand-wrapper.content-box-shadow {-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.20); -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.20); -o-box-shadow: 2px 2px 2px rgba(0,0,0,0.20); -ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.20); box-shadow: 2px 2px 2px rgba(0,0,0,0.20); }
.brand-type-container ul li { display: inline-block; *display:inline; *zoom:1; vertical-align: top; width: 90px; height: 70px; margin: 0 0 15px; text-align: center; }
.brand-type-title { display: block; text-transform: capitalize; }
.brand-type-container a { text-decoration: none; color: #565a5c; display: inline-block; }
.brand-type-container li:hover .brand-type-title { font-weight: bold; }
.brandlogosprite {
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/brand-type-sprite.png?18Dec20171513599310542') no-repeat;
	display: inline-block;
}
.brand-2, .brand-1, .brand-40, .brand-3, .brand-4, .brand-11, .brand-20, .brand-5, .brand-39, .brand-6, .brand-7, .brand-8, .brand-34, .brand-17, .brand-9, .brand-19, .brand-10, .brand-12, .brand-22, .brand-15, .brand-16, .brand-13, .brand-14, .brand-41, .brand-42, .brand-81, .brand-71, .brand-23, .brand-72, .brand-73, .brand-74, .brand-75 { height:30px; }
.brand-2 { width: 52px; background-position: 0 0; }.brand-7 { width: 34px; background-position: -58px 0; }
.brand-1 { width: 53px; background-position: -97px 0; }.brand-8 { width: 60px; background-position: -156px 0; }
.brand-12 { width: 40px; background-position: -222px 0; }.brand-40 { width: 75px; background-position: -268px 0; }
.brand-34 { width: 73px; background-position: -349px 0; }.brand-22 { width: 73px; background-position: -428px 0; }
.brand-3 { width: 26px; background-position: -507px 0; }.brand-17 { width: 52px; background-position: -539px 0; }
.brand-15 { width: 71px; background-position: -597px 0; }.brand-4 { width: 26px; background-position: -674px 0; }
.brand-9 { width: 59px; background-position: -706px 0; }.brand-16 { width: 70px; background-position: -771px 0; }
.brand-5 { width: 35px; background-position: -847px 0; }.brand-19 { width: 73px; background-position: -889px 0; }
.brand-13 { width: 73px; background-position: -968px 0; }.brand-6 { width: 38px; background-position: -1047px 0; }
.brand-10 { width: 61px; background-position: -1091px 0; }.brand-14 { width: 76px; background-position: -1159px 0; }
.brand-39 { width: 53px; background-position: -1242px 0; }.brand-20 { width: 49px; background-position: -1300px 0; }
.brand-11 { width: 74px; background-position: -1354px 0; }.brand-41 { width: 40px; background-position: -1432px 0; }
.brand-42 { width: 38px; background-position: -1481px 0; }.brand-81 { width:38px; background-position:-1529px 0; }
 .brand-71 {
    width: 23px;
    background-position: -1577px 0;
}
.brand-23 {
    width: 70px;
    background-position: -1839px 0;
}
.brand-72 {
	width: 31px;
	background-position: -1919px 0;
}
.brand-73 {
    width: 30px;
    background-position: -1958px 0;
}
.brand-74 {
	width: 66px;
	background-position: -2000px 0;
}

.brand-75 {
	width: 70px;
	background-position: -2076px 0;
}
.style-type-container ul li, .budget-container ul li, .mileage-container ul li { display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:148px; height:108px; margin:0 0 4px; padding:3px; text-align:center; font-size:16px; }
.style-type { width:100%; height:51px; display:block; margin:0 auto; padding-top:10px; }
.style-type-title { margin-top:10px; margin-bottom:10px; display:block; }
.style-type-container a, .budget-container ul li a, .mileage-container ul li a { text-decoration:none; width: 100%; height: 100%; color:#82888b; display: inline-block; border:1px solid #e2e2e2; }
.style-type-container ul li:hover a, .budget-container ul li a:hover, .mileage-container ul li a:hover { border: 1px solid #4d5057; color:#4d5057;}
.style-type-container ul li:hover span.style-type-title, .budget-container ul li:hover span.style-type-title, .mileage-container ul li:hover span.style-type-title { color: #4d5057; }

/* budget-container and mileage-container */
.budget-container ul li a span.budget-title-box , .budget-container ul li a span.budget-amount-box, .mileage-container ul li a span.mileage-title-box , .mileage-container ul li a span.mileage-amount-box { display:block; }
.budget-container ul li a span.budget-title-box, .mileage-container ul li a span.mileage-title-box { padding-top: 23px; padding-bottom: 5px; }

.styletypesprite { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/style-type-sprite.png?v=150915) no-repeat; display: inline-block;  }
.style-scooters, .style-street, .style-cruiser, .style-sports { width:77px; height:45px; }
.style-scooters { background-position: 0 0; }
.style-type-container ul li:hover .style-scooters { background-position: 0 -54px; }
.style-street { background-position: 0 -108px; }
.style-type-container ul li:hover .style-street { background-position: 0 -162px; }
.style-cruiser { background-position: 0 -216px; }
.style-type-container ul li:hover .style-cruiser { background-position: 0 -270px; }
.style-sports { background-position: 0 -324px; }
.style-type-container ul li:hover .style-sports { background-position: 0 -378px; }
.home-compare .compare-bikes-container{background:#ffffff;}

.tools-need-container a { display: table; text-decoration: none; }
.tools-need-container a .tools-need-logo { display: table-cell; vertical-align: top; width: 92px; height: 92px; overflow: hidden; }
.tools-need-container a .tools-need-desc { display: table-cell; color: #565a5c; padding-left: 20px; }
.tools-need-container a .tools-need-text { display: block; margin-top: 20px; }

#main-compare-bikes-target {
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    border: 1px solid #e2e2e2;
    border-radius: 1px;
    background: #fff;
    overflow: hidden;
}

#main-compare-bikes-target .comparison-image {
    width: 120px;
    height: 67px;
    margin: 0 auto 15px;
    overflow: hidden;
    display: block;
    text-align: center;
}

#main-compare-bikes-target img {
    height: 67px;
}

#main-compare-bikes-target .grid-6:first-child:after {
    content: '';
    position: absolute;
    right: -6px;
    top: 55px;
    width: 22px;
    height: 21px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/design15/comparison-divider.png) no-repeat;
    display: block;
}

.article-control #makeNewsContent {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.review-image-wrapper {
    width: 120px;
    height: 68px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.review-image-wrapper a {
    width: 100%;
    display: block;
}

.review-image-wrapper img {
    width: 100%;
    height: 68px;
}

.review-heading-wrapper {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}

/* best bikes swiper */
.best-bikes-swiper .swiper-card,
.best-bikes-swiper .swiper-card-target {
    min-height: 180px
}

.best-bikes-swiper .swiper-image-preview {
    height: 113px;
    padding: 0
}

.best-bikes-swiper .swiper-image-preview img {
    height: 113px
}

.best-bikes-swiper .swiper-details-block {
    padding-top: 10px;
    padding-bottom: 15px
}
/*popular comparison*/
.comparison-swiper .swiper-slide {
  width: 310px;
  min-height: 220px; }
  .comparison-swiper .swiper-slide a {
    padding-top: 15px;
    padding-bottom: 20px; }

.comparison-swiper .swiper-card {
  width: 310px;
  min-height: 220px;
  border: 1px solid #e2e2e2; }

.model-img-content {
  width: 126px;
  height: 71px;
  margin-bottom: 5px; }

.model-comparison-list h3 + .grid-6 {
  position: relative;
  border-right: 1px solid #f5f5f5; }
.model-comparison-list h3 + .grid-6:after {
    content: '';
    position: absolute;
    right: -11px;
    top: 45px;
    width: 22px;
    height: 21px;
    background: url("https://imgd.aeplcdn.com/0x0/bw/static/design15/comparison-divider.png") no-repeat;
    display: block; }

.btn-size-1 {
  font-size: 14px;
  padding: 6px 42px; }

/* user reviews starts here */
/* user-review__intro */
.user-review__intro {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 20px 15px 20px;
	border-bottom: 1px solid #eee;
	text-align: center;
}

.review-intro__title {
	font-size: 14px;
	color: #787878;
	margin-bottom: 15px;
}

.btn-120-32 {
	width: 120px;
    padding: 5px;
    font-size: 14px;
}

/* review search field */
#erruserReviewList.ui-autocomplete {
	position: absolute;
	top: 41px;
	left: 3px;
    text-align: left;

}

.user-review__search-field {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
}


/* user-review__swiper */
.user-review__swiper {
	padding-top: 30px;
	padding-bottom: 15px;
}

.user-review__swiper .swiper-slide,
.user-review__swiper .swiper-card {
	width: 250px;
}

.user-review__swiper .swiper-card {
	position: relative;
	min-height: 215px;
	padding: 35px 10px 15px;
	text-align: center;
}
/* winner ribbon */
.review-card__winner {
	position: absolute;
	top: 0;
	left: 10px;
}

.vertical-ribbon {
	position: relative;
	width: 14px;
	height: 35px;
	display: inline-block;
	vertical-align: top;
}

.vertical-ribbon:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	border-right: 7px solid #41B4C4;
	border-left: 7px solid #41B4C4;
	border-bottom: 7px solid transparent;
}

.bg-color--teal {	
	background: #41B4C4;
}

.trophy-teal-10x12:before {
	content: '';
	width: 22px;
	height: 22px;
	position: absolute;
	top: 4px;
	left: -4px;
	border: 1px solid #4d5057;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #fff url('https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/trophy-10x12.png') no-repeat 50%;
}

.winner-tag__label {
	font-size: 10px;
	color: #82888b;
	padding-left: 5px;
	padding-top: 8px;
	display: inline-block;
	vertical-align: top;
}

.review-card__author-circle {
	width: 40px;
	height: 40px;
	background: #f5f5f5 url('https://imgd.aeplcdn.com/0x0/bw/static/icons/john-doe-30x36.png') no-repeat 50% bottom;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
	margin: 0 auto;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.review-card__author {
    font-size: 12px;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.user-review__swiper .rating-badge {
	margin-bottom: 8px;
}

.review-card__bike {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

.review-card__bike.text-truncate {
	text-align: center;
}

.review-card__desc {
	color: #787878;
	margin-bottom: 8px;
}

.review-card__date {
	color: #82888b;
	font-size: 10px;
	margin-bottom: 10px;
}
/* rating badge */
.rating-badge[data-rate-bg="5"] {
    background-color: #198D55;
}

.rating-badge[data-rate-bg="4"] {
    background-color: #13B65D;
}

.rating-badge[data-rate-bg="3"] {
    background-color: #EFD700;
}

.rating-badge[data-rate-bg="2"] {
    background-color: #FD971C;
}

.rating-badge[data-rate-bg="1"] {
    background-color: #EF3F30;
}

.rating-badge {
    min-width: 40px;
    height: 20px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.star-white {
    width: 12px;
    height: 12px;
    background-position: -172px -447px;
    position: relative;
    top: 1px;
    margin-right: 4px;
}


/* contest-participate-banner */
.contest-participate-banner {
	display: table;
	min-height: 62px;
	padding: 10px 15px;
	background: #2e3192 url('https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/city-bg-360x59.png') repeat-x center bottom;
}

.contest-banner__wrapper {
	max-width: 360px;
	margin: 0 auto;
}

.contest-banner__left-grid {
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #fff;
}

.contest-banner__right-grid {
	width: 66%;
}

.contest-banner__right-grid:hover {
	text-decoration: none;
}

.yellow-arrow-7x10 {
	width: 7px;
	height: 10px;
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/ffe70c/arrow-right-7x10.png) no-repeat;
	display: inline-block;
}

.contest-banner__title-13,
.contest-banner__title-18 {
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.contest-banner__title-13 {
	font-size: 13px;
}

.contest-banner__title-18 {
	font-size: 18px;
}

.contest-banner__subtitle {
	font-size: 12px;
	color: #fff;
}

.contest-banner__target-link {
	color: #ffe70c;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}