@charset "utf-8";
.swiper-container.model{width:100%;}
.swiper-container.model .swiper-slide { background-color: #fff; width:100%; margin:0; min-height:180px; max-height:268px; position:relative; text-align:center;}
.swiper-container.model .swiper-slide > img {max-width:100%; }
.colours-wrap .jcarousel li {width:120px; height:auto;}
#versText { width:75%; }

.pos-top3{top:3px;}
.pos-top8{top:8px;}
.pos-left3 {left: 3px;}
.font6{font-size:6px}

.sort-div { height:32px; padding:5px 5px 5px 8px; border:1px solid #ccc; color:#555; position:relative; cursor:pointer; background:#fff; }
.sort-by-title { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: left; width:85%; }
.sort-selection-div { background:#fff; border:1px solid #ccc; position:absolute; z-index:2; left:0; right:0; }
.sort-selection-div ul li { margin-bottom:5px; margin-top:5px; font-size:14px; }
.sort-selection-div ul li.selected { font-weight:bold; }
.sort-selection-div ul li input{background: #fff;color:rgb(77, 80, 87); padding:2px 0 2px 8px;  white-space:nowrap; text-overflow:ellipsis; overflow:hidden; text-align:left;}
.sort-selection-div ul li:hover input{ padding:2px 0 2px 8px; cursor:pointer; background:#82888b; color:#fff;}

.pos-top13 { top:13px; }

#upDownArrow.fa-angle-down { transition: all 0.5s ease-in-out 0s; font-size: 20px; }
.sort-div .fa-angle-down { transition: transform .3s; -moz-transition: transform .3s; -webkit-transition: transform .3s; -o-transition: transform .3s; -ms-transition: transform .3s; }
.sort-div.open .fa-angle-down { -moz-transform: rotateZ(180deg); -webkit-transform: rotateZ(180deg); -o-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); transform: rotateZ(180deg); }

.model-specs-overview { display:block; padding-bottom:10px; font-weight:400; overflow:hidden; }
.model-specs-overview > div {width:49%; float:left; padding:10px 0; position:relative;}
.model-specs-overview > div.btmAftBorder { margin-bottom:12px;  } 
.model-specs-overview > div span { display:inline-block;}
.model-specs-overview div.even { padding-left:20px; }
.model-specs-overview div.btmAftBorder:after{content:'';position:absolute; bottom:-8px; height:1px; background-color:#e2e2e2; width:90%;}
.model-specs-overview div.odd.btmAftBorder:after{left:0;}
.model-specs-overview div.even.btmAftBorder:after{right:0;}
.viewMoreOffersBtn { cursor: pointer; color: #0288d1; margin-left:25px; }
.viewBreakupText { cursor: pointer; color: #0288d1; margin-top:3px; }
.breakup-header { width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:left; }

#otpPopup { display:none; }
.user-contact-details-icon { width:36px; height:44px; background-position: -107px -227px; }
.otp-icon { width:30px; height:40px; background-position: -107px -177px; }
.edit-blue-icon { width:14px; height:16px; background-position: -114px -121px; }
#getMobile { padding:9px 40px; }
.mobile-prefix { position: absolute; padding: 10px 13px 13px; color: #999; z-index:2; }
#otpPopup .errorIcon, #otpPopup .errorText { display:none; }
#otpPopup .otp-box p.resend-otp-btn { color:#0288d1; cursor:pointer; font-size:14px; }
#otpPopup .update-mobile-box { display:none; }
#otpPopup .edit-mobile-btn { cursor:pointer; }

.offer-list-container ul { list-style-type:disc; }
.offer-list-container ul li { /*margin-left:20px;*/ position:relative; margin-top:5px; padding-bottom:5px; font-size: 14px;}
.offer-error-text { color:#f00; }

.city-area-select-container { width:100%; /*min-height:100px;*/ }

.city-edit-btn { color:#0288d1; }
.city-edit-btn:hover { cursor:pointer; text-decoration:underline; }

.notify-btn-container { width:100%; height:100%; background:rgba(255,255,255,0.95); }
.notify-btn-container input { padding:0 10px; }
.notify-btn-container button { margin-top:-2px; }
.notify-input { width:200px; height: 40px; line-height:40px; border:1px solid #ccc;  }

/* overview-box css */
.overview-box{padding:0 30px; display:inline-block; margin:auto; clear:both; font-weight: 600;}
.overview-box > div {width:49%; float:left; margin-bottom:15px; padding:10px 0; position:relative;}
.overview-box > div.odd{padding-right:10px; border-right:1px solid #e2e2e2;}
.overview-box > div.even{padding-left:10px;}
.overview-box > div span { display:block; text-align: center;}
.overview-box div.btmAftBorder:after{content:'';position:absolute; bottom:-8px; height:1px; background-color:#e2e2e2; width:90%;}
.overview-box div.odd.btmAftBorder:after{left:0;}
.overview-box div.even.btmAftBorder:after{right:0;}

/* inner classes classes */
.specification-box li { display:block; float:left;}
.specification-box li div {float:left; width:205px; padding-right:10px;}
.alternatives-carousel .jcarousel li {height: auto;}
.alternatives-carousel .jcarousel li.front { border:none;}
.newBikes-latest-updates-container .grid-4 { padding-left:10px;}
.available-colors { display:inline-block; vertical-align:top; width:150px; text-align:center; margin-bottom:10px; padding:0 5px;}
.available-colors .color-box {width:60px; height:60px; margin:0 auto 15px; border-radius:3px;border:1px solid #ccc}
.color-box.red {background:#f00;}
.color-box.blue {background:#3749a4;}

/* or text classes */
.or-text:before { border-top: 1px solid #ccc; content: ""; left: 0; position: absolute; top: 18px; width: 100%;}
.or-text div {background: #fff none repeat scroll 0 0; display: inline-block; position: relative; cursor:pointer;}
.or-text { position:relative; margin:0 auto 10px; background-color: #fff; font-size: 11px; padding: 3px; text-align: center; top: 7px; z-index: 2; line-height:1.1;}
.or-text a{ height:30px; width:30px; display:inline-block; border:1px solid #ccc; border-radius:50%; font-size:24px; position:relative; text-decoration:none; color:#4d5057; }

.discover-bike-carousel .front, .discover-bike-carousel .back, .discover-bike-carousel .jcarousel li { height: auto;min-height: 420px; }

.breakupCloseBtn.cross-lg-lgt-grey { background-position: -36px -226px; }

#ctrlExpertReviews li{min-height:236px;height:auto;}
#ctrlExpertReviews li .front{height:100%;}
.view-breakup-text {cursor:pointer;color:#0288d1;}

#SneakPeak img { width:100%; }

.termsPopUpContainer { width: 90%; height: 400px; overflow-y:auto; background-color: #fff; z-index: 10; margin: 0 auto; position: fixed; top: 7%; left: 5%; right: 5%; }
.termsPopUpCloseBtn.cross-lg-lgt-grey { background-position: -36px -226px; }
#terms h1 { font-size:18px; padding-top:10px; }

.viewterms{color: #ababab;text-decoration: none;font-size: 10px;cursor: pointer;}
.viewterms:hover{text-decoration:underline;}

/*notify availability*/
#notifyAvailabilityContainer {min-height: 320px; background: #fff; margin: 0 auto; padding:10px;position: fixed; top: 10%; right: 5%; left: 5%; z-index: 10; }
#notify-form .grid-12 { padding: 10px 20px; }
.personal-info-notify-container input { margin:0 auto; } 
.notify-offers-list { list-style:disc; margin-left:10px; }
#notifyAvailabilityContainer .notify-close-btn {z-index:2;}
#leadCapturePopup .error-icon, #leadCapturePopup .bw-blackbg-tooltip {display:none} 

.offer-list-container ul.offersList li, .offer-list-container ul.moreOffersList li { background:url("http://imgd3.aeplcdn.com/0x0/bw/static/sprites/d/star-icon.png") no-repeat 0 3px; padding: 0 0 0 18px;} 
.bike-details-list-ul { list-style:disc; margin-left:18px; }
#faqSlug .icon-outer-container { width:82px; height:82px; }
#faqSlug .icon-inner-container { width:72px; height:72px; }

.question-mark-icon { width:22px; height:33px; background-position:-189px -348px; }
.faq-slug-container { width:100%; }
.question-icon-container { width:82px; }
.question-text-container { width:68%; }
.question-title { position:relative; top:-7px; margin-bottom:5px; }

.color-box.color-count-one span { width:100%; height:100%; display:block !important; background:#eee; }  
.color-box.color-count-two span { width:100%; height:50%; display:block !important; background:#e34f4f; }
.color-box.color-count-three span { width:100%; height:33.33%; display:block !important; }

#modelOverallSpecsTopContent { height:44px; }
#modelSpecsTabsContentWrapper .overall-specs-tabs-wrapper li.active h3 { font-weight:bold; }
#modelSpecsTabsContentWrapper h2 { margin-bottom:13px; }
#modelSpecsTabsContentWrapper h3, #modelSpecsTabsContentWrapper #modelSpecsFeaturesContent .model-specs-header { margin-bottom:12px; }
#modelSpecsFeaturesContent h3, #modelReviewsContent h3.model-section-subtitle { margin-bottom:20px; }
.model-preview-more-content { display:none; }
.padding-15-20 { padding:15px 20px; } 
.content-inner-block-1222 { padding:15px 20px 20px; }
.summary-overview-box{text-align:left; padding:0; display:inline-block; margin:auto; clear:both;}
.summary-overview-box > div {width:49%; float:left; padding:7px 0 10px; position:relative;}
.summary-overview-box > div.odd{padding-left:5px;padding-right:8px; border-right:1px solid #f5f5f5;}
.summary-overview-box > div.even{padding-left:15px;}
.summary-overview-box div.btmAftBorder { margin-bottom:15px; }
.summary-overview-box div.btmAftBorder:after{content:'';position:absolute; bottom:-8px; height:1px; background-color:#f5f5f5; width:90%;}
.summary-overview-box div.odd.btmAftBorder:after{left:0;}
.summary-overview-box div.even.btmAftBorder:after{right:0;}

.swiper-wrapper .swiper-slide:first-child { margin-left:10px; }
.model-gallery-container .swiper-wrapper .swiper-slide:first-child { margin-left:0; }
.prices-by-cities-list { margin:0 20px; }
.prices-by-cities-list li { width:50%; float:left; padding-right:10px; margin-bottom:20px; }
.prices-by-cities-list li a, .prices-by-cities-list li .price-in-city-price { display:inline-block; vertical-align:top; }
.prices-by-cities-list li a { width:50%; }
.prices-by-cities-list li .price-in-city-price { width:45%; color:#2a2a2a; }
.prices-by-cities-list, #modelSpecsFeaturesContent ul { overflow:hidden;}
/* model specs and features */
.model-accordion-tab { padding:10px 20px; position: relative; border-bottom: 1px solid #e2e2e2; cursor: pointer; }
#model-specs-list > li:first-child .model-accordion-tab { border-top: 1px solid #e2e2e2; }
.model-accordion-tab .fa-angle-down { position: absolute; right: 20px; top: 17px; transition: transform .3s; -moz-transition: transform .3s; -webkit-transition: transform .3s; -o-transition: transform .3s; -ms-transition: transform .3s; }
.model-accordion-tab.active .fa-angle-down { -moz-transform: rotateZ(180deg); -webkit-transform: rotateZ(180deg); -o-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); transform: rotateZ(180deg); }
.model-accordion-tab.brakes-accordion-tab { padding-top: 7px; padding-bottom: 8px; }
.model-accordion-tab.active + .specs-features-list { display: block }
.engine-sm-icon, .brakes-sm-icon, .dimension-sm-icon, .fuel-sm-icon { width:20px; }
.engine-sm-icon { height: 13px; background-position: -46px -274px;}
.brakes-sm-icon { height: 20px; background-position: -46px -294px; position:relative; top:3px;}
.dimension-sm-icon { height: 14px; background-position: -46px -323px;}
.fuel-sm-icon { height: 16px; background-position: -46px -344px;}
.specs-features-list { display: none; padding-right:20px; padding-bottom:10px; padding-left:20px; border-bottom: 1px solid #e2e2e2; }
.specs-features-list li { width:100%; float:left; margin-top:20px; }
.specs-features-list li:first-child { margin-top:10px; }
.specs-features-list li div {width:50%; float:left; padding-right: 5px; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.specs-features-list.model-features-list { display: block; border-bottom: none; }
.specs-features-list.model-features-list li:first-child { margin-top:0; }
#model-more-features-list { display:none; margin-top:10px; }

.blue-right-arrow-icon { width:6px; height:10px; background-position:-58px -437px; position:relative; top:1px; left:7px; }
#modelColorsList li { width:100%; margin-top:20px; }
#modelColorsList li:first-child { margin-top:0; }
#modelColorsList li p { width:75%; }
#modelColoursContent .color-box { width:44px; height:44px; margin-right:15px; background: #f1f1f1; border: 1px solid #e2e2e2; }
.color-box.color-count-one span { width:100%; height:100%; display:block !important; background:#f1f1f1; }  
.color-box.color-count-two span { width:100%; height:50%; display:block !important; background:#f1f1f1; } 
.color-box.color-count-three span { width:100%; height:33.33%; display:block !important; }
.news-image-wrapper { width:148px; height:83px; border:1px solid #e2e2e2; display:inline-block; vertical-align:top; margin-right:15px; }
.news-image-wrapper a { width:148px; height:83px; display:table-cell; vertical-align:middle; text-align:center; }
.news-image-wrapper img { width:148px; height:83px;}
.review-image-wrapper a { width:100%; display:block; }
.review-image-wrapper img { width:100%; height: 68px; }
.news-heading-wrapper { width:47%; display:inline-block; vertical-align:top; }
.review-image-wrapper { width:120px; height:68px; border:1px solid #e2e2e2; display:inline-block; vertical-align:top; margin-right:10px; }
.review-heading-wrapper { width: 55%; display:inline-block; vertical-align:top; }
.margin-top17 { margin-top:17px; }
.model-user-review-rating-container { width:120px; height:68px; border:1px solid #e2e2e2; background:#f9f9f9; padding-top:10px; text-align:center;display:inline-block; vertical-align:top; margin-right:10px;}
.model-user-review-title-container { width:55%; display:inline-block; vertical-align:top;}
#modelAlternateBikeContent .swiper-slide { width:186px; min-height:240px; border:1px solid #e2e2e2\9; background:#fff; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2); -ms-box-shadow: 0 1px 4px rgba(0,0,0,0.2); box-shadow: 0 1px 4px rgba(0,0,0,0.2); -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; border-radius:2px; }
#modelAlternateBikeContent .swiper-slide h3 {  margin-bottom:7px; }
.model-swiper-image-preview { width:100%; height:101px; }
.model-swiper-image-preview a { width:180px; height:101px; display:block; position:relative; }
.model-swiper-details { padding:10px 18px 20px; }
.btn-x-sm { padding:8px 14px; color:#4d5057; }
#modelForSaleContent li { margin-top:20px; }
#modelForSaleContent li:first-child { margin-top:0; }
.divider-bottom { border-bottom:1px solid #eee; }
.view-features-link { position: relative; display:block; }
.view-features-link:before { content: ''; width: 100%; height: 20px; position:absolute; top:-40px; left: 0; z-index: 1; background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%); background: -moz-linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%); background: -o-linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%); background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);}
.view-features-link.active:before { content: none; }

.icon-outer-container {
    width: 72px;
    height: 72px;
}

.icon-inner-container {
    width: 64px;
    height: 64px;
    margin: 3px auto;
}

.secondary-dealer-card a {
    width: 308px;
    min-height: 102px;
    padding: 10px 10px 20px;
    -webkit-box-shadow: 0 1px 7px 0 #ccc;
    -moz-box-shadow: 0 1px 7px 0 #ccc;
    box-shadow: 0 1px 7px 0 #ccc;
    border-radius: 2px;
    border: 1px solid #ccc\9;
    display: block;
}

.secondary-dealer-card a:hover {
    text-decoration:none;
}

.secondary-dealer-card {
    margin-top: 10px;
}

.secondary-dealer-card:first-child {
    margin-top: 0;
}

#more-dealers-popup ul {
    max-width: 310px;
    margin: 0 auto;
}

@media all and (max-width: 350px) {
    .summary-overview-box > div.odd{padding-left:0;}
    .summary-overview-box > div.even{padding-left:15px;}
    .review-heading-wrapper, .model-user-review-title-container { width:50%; }
    .news-heading-wrapper { width:40%; }
}

@media only screen and (max-width: 320px) {
    .selected-location-label.text-truncate {
        width: 82%;
    }

    .booknow-label, .callback-label {
        width: 100%;
        padding-left: 0;
        margin-top: 5px;
    }

    .nearby-partner-left-col {
        width: 100%;
        margin-bottom: 10px;
    }

    .nearby-partner-label {
        width: 85%;
    }

    #model-dealer-card .offers-content-label {
        vertical-align: top;
    }

    #dealer-offers-list {
        width:75%;
        vertical-align:top;
    }

    #dealer-offers-list li {
        margin-left: 0;
        margin-right: 10px;
    }

    #more-dealers-popup.bwm-fullscreen-popup {
        padding-right: 0;
        padding-left: 0;
    }
}