@charset "utf-8";
/* CSS Document reset properties */
html { height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; line-height: 1.42857143; -webkit-overflow-scrolling: touch; }
body { font-size:13px; font-family: 'Open Sans', sans-serif, Arial; color:#4d5057; background: #f4f3f3; font-style: normal; -webkit-overflow-scrolling: touch; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,label{ margin: 0; padding: 0; }
ul,ol{ list-style: none; }
a img { border: none; }
a { color: #0288d1; text-decoration: none; }
a:hover { cursor: pointer; text-decoration: underline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block }
*, :after, :before, #globalCity-input input[type="text"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
h1 { font-size: 18px; font-weight: 600; color: #2a2a2a; }
h2 { font-size: 16px; font-weight: 600; color: #2a2a2a; }
h3 { font-size: 14px; font-weight: 600; color: #4d5057; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

/* grid properties */
.container { width: 100%; margin: 0 auto; clear:both; }
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, 
.grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { float: left;  position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; }
.grid-12 { width: 100%; }
.grid-11 { width: 91.66666667%; *width: 73.20%; } 
.grid-10 { width: 83.33333333%; *width: 79.6%; }
.grid-9 { width: 75%; *width: 70.90%; }
.grid-8 { width: 66.66666667%; *width: 63.20%; }
.grid-7 { width: 58.33333333%; *width: 55.6%; }
.grid-6 { width: 50%; *width: 47.90%; }
.grid-5 { width: 41.66666667%; *width: 40.3%; }
.grid-4 { width: 33.33333333%; *width: 32.60%; }
.grid-3 { width: 25%; *width: 24.90%; }
.grid-2 { width: 16.66666667%; *width: 16.30%; }
.grid-1 { width: 8.33333333%;  }
.alpha { padding-left: 0; }
.omega { padding-right: 0; }
.beta { padding-top: 0 !important; }
.gamma { padding-bottom: 0 !important; }
.clear { clear: both; }
.hide { display: none }
.show { display: block }

/* form properties */
input, select, button { font-family: 'Open Sans', sans-serif, Arial; border: none; outline: none; margin:0;}
input::-moz-focus-inner, button::-moz-focus-inner, input::-webkit-focus-inner, button::-webkit-focus-inner { border:0; padding:0; outline: none; }
input::-webkit-input-placeholder, .ui-autocomplete-input { color: #a8afb3 ; font-size: 13px;}
input:-moz-placeholder, .ui-autocomplete-input { color: #a8afb3; font-size: 13px; opacity:1; }
input::-moz-placeholder, .ui-autocomplete-input { color: #a8afb3; font-size: 13px; opacity:1; }
input:-ms-input-placeholder, .ui-autocomplete-input { color: #a8afb3; font-size: 13px; }
.ui-autocomplete-input:focus { color: #4d5057; }

.form-control-box { position: relative; }
.form-control { display: block; width: 100%; padding: 10px; line-height: 1.42857143; color: #4d5057; position: relative;
	background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 2px;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="search"]:focus, textarea:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(102,175,233,.6); }
select.form-control	{ -moz-appearance: none; -webkit-appearance:none;  background:#fff url(http://imgd1.aeplcdn.com/0x0/bw/static/design15/old-images/m/dropArrowBg.png) no-repeat 96% 50%; padding-right: 30px;  background: #fff\0; padding-right: 5px\0; }

.input-xs { padding: 5px 10px; }
.input-sm { padding: 8px 10px; }
.input-md { padding: 10px 10px; }
.input-lg { padding: 12px 10px; }
.input-xlg { padding: 14px 10px; }

.btn { display: inline-block; padding: 8px 42px; font-size: 16px; line-height: 1.42857143; text-align: center; white-space: nowrap; border: 1px solid transparent; border-radius: 2px;
	outline: none; text-decoration: none; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; -webkit-appearance:none;
}
.btn-orange { background: #ef3030; color: #fff; }
.btn-orange:hover { background: #f44336; text-decoration: none; }
.btn-orange:focus { background: #d42c2c; }
.btn-white { background:#fff; color:#e42029; border:1px solid #e42029; }
.btn-white:hover { background: #f44336; color: #fff; text-decoration: none; border:1px solid #f44336; }
.btn-white:focus { background: #d42c2c; color: #fff; border: 1px solid #d42c2c; }
.btn-disable { cursor: not-allowed; opacity: .3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; }

.btn-xs { padding: 8px; }
.btn-sm { padding: 8px 25px; }
.btn-md { padding: 8px 30px; }
.btn-lg { padding: 12px 42px; }
.btn-xlg { padding: 12px 52px; }
.btn-full-width { display: block; width: 100%; }

.lock-browser-scroll { position: fixed; overflow-y: scroll; width: 100%; }

/* global-search classes */
.global-search { float: left; padding: 0 10px; position: relative; top: 2px; cursor: pointer; }
.global-search input[type="text"], #globalCity-input input[type="text"] { width: 100%; padding: 7px 5px; border: none; outline: none; }
.global-location { float: left; color: #fff; padding: 0 10px; position: relative; top: -1px; cursor: pointer; font-size: 17px; }
.gl-default-stage { cursor: pointer; padding: 0 10px; }
.gl-default-stage span.cross-md-lgt-grey { position: relative; top: 2px; margin-left: 20px; }

#errNewBikeSearch.ui-autocomplete { width:95.5%;position:relative;top:0;left:3px; color:#4d5057; }
#errGlobalSearch.ui-autocomplete { display: none; width:100%; margin-left:0; }
/* App Banner */
#appBanner { background:#e2e2e2; padding:5px 5px 0; position:relative; overflow:hidden; }
.app-banner-img-container { float:left; width:130px; height:95px; position:relative; margin-right:12px; }
.app-banner-img-container img { position:absolute; bottom:0; }
.banner-close-btn { width:30px; height:30px; background: url("http://imgd3.aeplcdn.com/0x0/bw/static/sprites/m/banner-close-btn.png") no-repeat; position:absolute; top:0; right:0; cursor:pointer; }
.app-banner-text-container { float:left; }
.app-banner-btn-container { padding:10px 25px 10px 0; }
.app-banner-btn-container .btn { padding:6px 10px; }

/* breadcrumb classes */
.breadcrumb li { display: inline-block; margin-right: 5px; }
.breadcrumb li span.fa-angle-right { font-size: 18px; vertical-align: top; }

/* nav classes */
header.fixed { position: fixed; left: 0; right: 0; top: 0; z-index: 3; }
.header-fixed { background: #333333; padding:15px 10px; height:50px; z-index: 3; }
header.fixed {    position: fixed;    left: 0;    right: 0;    top: 0;    z-index: 3;}
.header-fixed-inner { padding-top: 65px; }

/* sprite classes */
.bwmsprite { background: url(http://imgd2.aeplcdn.com/0x0/bw/static/sprites/m/bwmsprite-new.png?v1=18Aug2016) no-repeat; display: inline-block; }
.nav-icon { background-position: 0 0; width: 27px; height: 20px; cursor: pointer; position: relative; top: 3px; }
.nav-icon:hover { background-position: 0 -20px; }
.headerTitle,.white-back-arrow {display:none;}
.headerTitle { position:relative; top:-2px; left:-10px;}
.header-dealername { max-width: 210px; font-size: 16px; font-weight: bold; overflow: hidden; text-align: left; text-overflow: ellipsis; white-space: nowrap; }
.white-back-arrow{ width: 22px; height: 18px; cursor: pointer; background-position: -63px -163px; position: relative; top: 8px; }
.bw-logo { background-position: -31px 0px; width: 84px; height: 24px; }
.bw-logo.bw-lg-fixed-position { position: absolute; left: 52px; }
.search-icon-grey, .search-icon-white { width: 18px; height: 18px; }
.search-icon-grey { background-position: -60px -277px; }
.search-icon-white { background-position: -64px -278px; }
.map-loc-icon { width:12px; height:16px; background-position:-40px -164px; }
.tel-grey-icon { width:16px; height:16px; background-position:-40px -111px; }
.tel-green-icon { width:16px; height:16px; background-position:-62px -111px; }
.tel-white-icon { width:18px; height:18px; background-position:-83px -109px; position:relative; top:3px; }
.inr-xxsm-icon { width:11px; height:10px; background-position:-54px -94px; }
.inr-grey-xxsm-icon { width:8px; height:10px; background-position:-76px -87px; }
.inr-red-xxsm-icon { width:8px; height:10px; background-position:-91px -87px; }
.inr-xsm-icon { width:9px; height:12px; background-position:-38px -36px; }
.inr-grey-xsm-icon { width:9px; height:12px; background-position:-40px -58px; }
.inr-sm-icon { width:10px; height:14px; background-position:-40px -79px; }
.inr-grey-sm-icon { width:10px; height:14px; background-position:-79px -63px; }
.inr-dark-sm-icon { width:10px; height:14px; background-position:-140px -460px; }
.inr-md-icon { width:12px; height:18px; background-position:-56px -35px; }
.inr-lg-icon { width:13px; height:21px; background-position:-76px -34px; }
.inr-xlg-icon { width:16px; height:22px; background-position:-56px -63px; }

/* common properties */
.leftfloat{float:left;}
.rightfloat{float:right;}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }
.text-bold { font-weight: bold; }
.text-unbold { font-weight: normal; }
.text-italic { font-style: italic; }
.text-default {color:#4d5057}
.text-x-light { color:#a8afb3; }
.text-xx-light { color:#a2a2a2; }
.text-light-grey { color: #82888b; }
.text-medium-grey { color: #82888b; }

.font9 { font-size: 9px; }
.font10 { font-size: 10px; }
.font11 { font-size: 11px; }
.font12 { font-size: 12px; }
.font13 { font-size: 13px; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font20 { font-size: 20px; }
.font22 { font-size: 22px; }
.font24 { font-size: 24px; }
.line-height { line-height: 1.8; }
.content-inner-block-5 { padding: 5px; }
.content-inner-block-10 { padding: 10px; }
.content-inner-block-15 { padding: 15px; }
.content-inner-block-20 { padding: 20px; }
.content-box-shadow { background: #fff; -moz-box-shadow: 2px 2px 2px #dcdcdc; -webkit-box-shadow: 2px 2px 2px #dcdcdc; -o-box-shadow: 2px 2px 2px #dcdcdc; -ms-box-shadow: 2px 2px 2px #dcdcdc; box-shadow: 2px 2px 2px #dcdcdc; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; border:1px solid #e2e2e2\9; }

.margin-top20 { margin-top: 20px; }
.margin-right20 { margin-right: 20px; }
.margin-bottom20 { margin-bottom: 20px; }
.margin-left20 { margin-left: 20px; }

.padding-top15 { padding-top: 15px; }
.padding-right15 { padding-right: 15px; }
.padding-bottom15 { padding-bottom: 15px; }
.padding-left15 { padding-left: 15px; }

.padding-top20 { padding-top: 20px; }
.padding-right20 { padding-right: 20px; }
.padding-bottom20 { padding-bottom: 20px; }
.padding-left20 { padding-left: 20px; }

.bg-white { background: #FFF; }
.bg-light-grey { background: #f5f5f5; }
.bg-light-grey-with-alpha { background: rgba(242, 242, 243, 0.9); }
.bg-grey { background: #e1e1e1; }
.bg-dark-grey { background: #333333; }

img.lazy[src$="circleloader.gif"]{min-width:16px !important; width:16px !important; height:16px !important;}

.cardWrapper { width:100%; height:100%; overflow:hidden; display:inline-block; }
.front, .back { height: 330px; background: #fff; overflow:hidden; display: inline-block; /*border:1px solid #ccc;*/ border-radius:2px; box-shadow:0 2px 2px 0 #cacaca; -webkit-box-shadow:0 2px 2px 0 #cacaca; -moz-box-shadow:0 2px 2px 0 #cacaca; -ms-box-shadow:0 2px 2px 0 #cacaca; -o-box-shadow:0 2px 2px 0 #cacaca; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; width: 100%;}
.contentWrapper, .formWrapper { position:relative; overflow:hidden; background:#fff; backface-visibility: hidden;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;-o-backface-visibility: hidden;}
.swiper-container .front .contentWrapper, .swiper-container .front .bikeDescWrapper { background:none;}
.imageWrapper { display:table; width: 100%; height:174px; overflow: hidden; text-align: center; position:relative; }
.swiper-container .front .imageWrapper{ border-top-left-radius: 2px;    border-top-right-radius: 2px;}
.imageWrapper a { /*display: block;*/ display:table-cell; vertical-align:middle; }
.imageWrapper img { max-width: 100%; height: auto; }
.bikeDescWrapper { padding: 15px; background:#fff; }
.bikeTitle a { color:#2a2a2a; font-size: 16px; display: block; }
.bikeTitle a:hover, a.bikeTitle:hover { text-decoration:underline; cursor:pointer; }
a.bikeTitle { color:#2a2a2a; font-size: 16px; font-weight: bold; display: block; }
.bike-swiper-details-wrapper .bikeTitle a { font-size: 14px; }
.formContent { padding: 30px 20px 20px 20px; }
.bike-preview { text-align: center; }
.bike-preview img { max-width: 100%; }
.swiper-container .front .btn { font-size:14px; }
#News li .imageWrapper { height: 153px; }

/* autocomplete class */
.ui-helper-hidden-accessible { position: absolute; left: -9999px; overflow:hidden; height:0; }
.ui-autocomplete { z-index: 9; margin: -1px 0 0 -3px; padding:0; width:auto; display:inline-block; background: #aaa; border-radius: 0 0 2px 2px; border:1px solid #ccc; border-top: 0; }
.ui-autocomplete.source:hover { background: #ddd; }
.ui-menu .ui-menu-item { padding: 10px; background:#fff; font-size:14px; cursor:pointer; }
.ui-menu .ui-menu-item:hover, .ui-menu .ui-menu-item.ui-state-focus { background:#eee; }
.ui-menu .ui-menu-item a { color: #333; width:60%; float:left; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; }
.ui-menu .ui-menu-item a.target-popup-link, .ui-menu .ui-menu-item span.upcoming-link { width:35%; display:block; float:right; position:absolute; right:10px; color:#0288d1; font-size:12px; text-align: right; }
.ui-menu .ui-menu-item span.upcoming-link { color: #4d5057; }