@charset "utf-8";
/* CSS Document */
/* Car to Buy Section */

.call-for-queries { background:#f5f5f5; padding:50px 20px 20px; margin:60px 0 0; height:140px;}
.query-call-pic {width:130px; height:92px; margin:0 auto; position:absolute; top:10px; left:94px; border:1px solid #ddd\9; -moz-box-shadow:0px 2px 5px #dcdcdc; -o-box-shadow:0px 2px 5px #dcdcdc; -webkit-box-shadow:0px 2px 5px #dcdcdc; -ms-box-shadow:0px 2px 5px #dcdcdc; box-shadow:0px 2px 5px #dcdcdc;}

.table-cell { display:table-cell; vertical-align:middle;}
.what-next-box .inner-thumb { width:84px; height:84px; box-shadow:3px 3px 7px rgba(0,0,0,0.11); -webkit-box-shadow:3px 3px 7px rgba(0,0,0,0.11); -moz-box-shadow:3px 3px 7px rgba(0,0,0,0.11); -ms-box-shadow:3px 3px 7px rgba(0,0,0,0.11); -o-box-shadow:3px 3px 7px rgba(0,0,0,0.11); text-align:center;}
.what-next-box li { background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/m/steps-bg-pic.png) repeat-y; padding:0 0 20px 45px;}
.what-next-box li:nth-child(4) { padding-bottom:0; margin-bottom:20px;}
/* next steps sprite classes */
.whatnext-sprite { background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/m/what-next-sprite.png) no-repeat; display:inline-block;}
.get-dealership { background-position:0 0; width:55px; height:37px;}
.show-id { background-position:0 -49px; width:48px; height:37px;}
.submit-list { background-position:0 -95px; width:40px; height:40px;}
.pay-balance { background-position:0 -142px; width:50px; height:36px;}

/* booking comforts sprite */

.bookingcomforts-sprite { background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/booking-comforts-sprite.png) no-repeat; display:inline-block;}
.buying-asst-icon { background-position:-247px 0; width:71px; height:46px; position:relative; top:22px;}

.booking-tabs ul{ display:table; margin:0 auto 20px; width: 270px; overflow: hidden; }
.booking-tabs ul li { float:left; width:90px; height:42px; background:#fff; text-align:center; position:relative; }
.booking-tabs ul li:before, .booking-tabs ul li:after{content:''; height:1px; position:absolute; z-index:0; background:#e2e2e2; width:50%;  top:0; bottom:0; margin:auto;}
.booking-tabs ul li:before {left:0;}
.booking-tabs ul li:after {right:0;}
.booking-tabs ul li.ticked:before, .booking-tabs ul li.ticked:after{background:#4d5057; height:3px;}
.booking-tabs ul li.middle.ticked:after{background:#e2e2e2; height:1px;}
.booking-tabs ul li.first:before{display:none;}
.booking-tabs ul li.last:after{display:none;}
.personal-info-form-container { margin:20px auto; width: 100%; min-height:90px; }
.bike-booking-part { width:100%; height:42px; display:inline-block; cursor: pointer;}
.bike-booking-title {  width:200px; height:20px; display:inline-block; margin-bottom:10px;}
.bike-booking-image { width:100%;  height:42px; position:relative; }
.bike-booking-image span {  margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index:1;  }
.personal-info-form-container .personal-info-list { margin-bottom:15px; }
.personal-info-list .error-icon, .personal-info-list .errorText { display:none; }
.mobile-verification-container .error-icon, .mobile-verification-container .errorText { display:none; }
.get-monthly-usage { margin:0 auto; width:540px; }
.disabled-tab { cursor: not-allowed; }
.resend-otp-btn:hover { cursor:pointer; }

.input-border-bottom { border-bottom:1px solid #ccc; }

/* color box css */
.colours-wrap .jcarousel li {width:120px; height:auto;}
.available-colors { display:inline-block; vertical-align:top; width:150px; text-align:center; margin-bottom:10px; padding:0 5px;}
.available-colors .color-box {width:60px; height:60px; margin:0 auto 15px; border-radius:3px; position:relative;}
.color-box.red {background:#f00;}
.color-box.blue {background:#3749a4;}
.available-colors .color-box .ticked { background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/blue-tick.png) no-repeat; width:22px; height:16px; position:absolute; top:50%; left:50%; margin-top:-8px; margin-left:-11px;}
.text-green { color:#5bc033;}

.feedback-container { width:100%; font-size:16px; line-height:1.6; }

.varientsList li .varient-item { margin-bottom:20px; }
.varientsList li .varient-item:hover { cursor:pointer;}
.border-dark { border:1px solid #222; }

/* booking sprite */
.booking-sprite { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/booking-sprite.png?4Mar2016) no-repeat; display: inline-block; }
.booking-sprite, .booking-sprite + span.iconTtl{display:inline-block; vertical-align:middle;}
.personalInfo-icon-selected, .customize-icon-selected, .confirmation-icon-selected { width:42px; height:42px; }
.personalInfo-icon-selected { background-position: 0 0; }
.customize-icon-selected { background-position: 0 -52px; }
.confirmation-icon-selected { background-position: 0 -102px; }
.booking-tick-blue, .customize-icon-grey, .confirmation-icon-grey { width:42px; height:42px; }
.booking-tick-blue { background-position: -86px 0; }
.customize-icon-grey { background-position:-43px -52px; }
.confirmation-icon-grey { background-position: -43px -102px; }

.white-back-arrow{ width: 22px; height: 18px; cursor: pointer; background-position: -63px -163px; position: relative; top: 8px; }
.call-text-green{border:1px solid #5bc033;padding:0 10px;}

.bwm-popup {background: #fff; position: fixed; left: 5%; top: 15%; right: 5%; bottom:15%; z-index: 10; margin:-50px 0; overflow-y:scroll;}
.doc-list ul {list-style-type:disc; }
.cancellation-list ol li { padding-bottom:10px; }
.doc-list ul li {padding-bottom:5px;}
.cancellation-list ol { list-style-type:lower-alpha; }

.booking-success-icon{width: 42px;height: 42px;display: inline-block;background-position: -85px -51px;}
.booking-fail-icon{width: 42px;height: 42px;display: inline-block;background-position: -85px -102px;}

/* offers popup */
/* offers popup */
.termsPopUpContainer { width: 90%; height: 400px; overflow-y:auto; background-color: #fff; z-index: 10; margin: 0 auto; position: fixed; top: 7%; left: 5%; right: 5%; }
.termsPopUpCloseBtn.cross-lg-lgt-grey { background-position: -36px -226px; }
#terms h1 { font-size:18px; padding-top:10px; }
.viewterms{color: #ababab;text-decoration: none;font-size: 10px;cursor: pointer;}
.viewterms:hover{text-decoration:underline;}