@charset "utf-8";
/* CSS Document */

.jcarousel-wrapper.model{width:100%;}
.jcarousel-wrapper.model .jcarousel-control-left { left:0; }
.jcarousel-wrapper.model .jcarousel-control-right { right:0; }
.jcarousel-wrapper.model .jcarousel{    padding: 0 0 20px;}
.jcarousel-wrapper.model .jcarousel li { background-color: #fff; width:100%; margin:0; height:100%; max-height:268px; text-align:center;}
.jcarousel-wrapper.model .jcarousel li > img {min-width:320px; max-width:100%; height:180px;}
/*img.lazy[src$="grey.gif"]{height:180px;}*/

@media only screen and (min-width: 321px) and (max-width: 360px){
    .jcarousel-wrapper.model .jcarousel li img {height:203px;}
}

@media only screen and (min-width: 361px){
    .jcarousel-wrapper.model .jcarousel li img {height:268px;}
}


.colours-wrap .jcarousel li {width:120px; height:auto;}

.rating-wrap img { width:18px;}
.line-Ht22{line-height:22px;}


.city-list-container { width:100%; }
.city-list-container ul { overflow: auto; }
.city-list-container ul li { height:34px; border:1px solid #e2e2e2; min-width:80px; padding:0px 25px; text-align:center; line-height:34px; color:#82888b; font-size:12px; float:left; margin-right:6px; margin-bottom:6px; 
	transition:all 1s ease; -webkit-transition:all 1s ease; -moz-transition:all 1s ease; -ms-transition:all 1s ease; -o-transition:all 1s ease;
}
.city-list-container ul li:hover, .city-list-container ul li.focused { border: 1px solid #4d5057; cursor:pointer; color:#4d5057;  }
/*.city-list-container ul li.focused { min-width: 100%;}*/

.city-unveil-offer-container { border:1px dashed #f00; width:100%; min-height:115px; }
.offer-list-container ul { list-style-type:disc; }
.offer-list-container ul li { margin-left:20px; padding-bottom:5px; font-size: 12px;}
.unveil-offer-btn-container { width:100%; height:100%; background:rgba(255,255,255,0.8); }
.unveil-offer-btn-container input[type='button'] { position:relative; margin:0 auto; top:50%; margin-top: -20px; }
.offer-error-text { color:#f00; }

.city-area-select-container { width:100%; min-height:100px; }

.city-edit-btn { color:#0288d1; }
.city-edit-btn:hover { cursor:pointer; text-decoration:underline; }

.notify-btn-container { width:100%; height:100%; background:rgba(255,255,255,0.95); }
.notify-btn-container input { padding:0 10px; }
.notify-btn-container button { margin-top:-2px; }
.notify-input { width:200px; height: 40px; line-height:40px; border:1px solid #ccc;  }

/* overview-box css */
.overview-box{padding:0 30px; display:inline-block; margin:auto; clear:both; font-weight: 600;}
.overview-box > div {width:49%; float:left; margin-bottom:15px; padding:10px 0; position:relative;}
.overview-box > div.odd{padding-right:25px; border-right:1px solid #e2e2e2;}
.overview-box > div.even{padding-left:25px;}
.overview-box > div span { display:block; text-align: center;}
.overview-box div.btmAftBorder:after{content:'';position:absolute; bottom:-8px; height:1px; background-color:#e2e2e2; width:60%;}
.overview-box div.odd.btmAftBorder:after{left:0;}
.overview-box div.even.btmAftBorder:after{right:0;}

/* horizontal tabs classes */
.bw-horz-tabs {width:372px; border-bottom:1px solid #ccc; border-left:1px solid #ccc; border-top:1px solid #ccc; }
.bw-horz-tabs li { padding:25px 0 25px 50px; background:#f5f5f5; border-top:1px solid #ccc; font-size:16px; cursor:pointer; border-left:3px solid rgba(0,0,0,0)}
.bw-horz-tabs li.active { background:#fff; border-left:3px solid #ef3f30;}
.bw-horz-tabs li:first-child { border-top:none;}
.bw-horz-tabs-data  {width:100%;}
.bw-horz-tabs-data .bw-tabs-data li { float:left; margin-bottom:20px; width:100%;}
.bw-horz-tabs-data .bw-tabs-data li div {float:left; width:60%; padding-right:15px; /*text-overflow:ellipsis; overflow:hidden; white-space:nowrap;*/}
.bw-horz-tabs-data .bw-tabs-data li div:last-child{width:40%; padding-left:15px; padding-right:0;}
/* inner classes classes */
.specification-box li { display:block; float:left;}
.specification-box li div {float:left; width:205px; padding-right:10px;}
.alternatives-carousel .jcarousel li {height: auto;}
.alternatives-carousel .jcarousel li.front { border:none;}
.newBikes-latest-updates-container .grid-4 { padding-left:10px;}
.available-colors { display:inline-block; width:150px; text-align:center; margin-bottom:10px; padding:0 5px;}
.available-colors .color-box {width:60px; height:60px; margin:0 auto 15px; border-radius:3px;}
.color-box.red {background:#f00;}
.color-box.blue {background:#3749a4;}

/* model sprite classes */
.model-sprite { background:url(http://img.aeplcdn.com/bikewaleimg/m/images/model-sprite.png) no-repeat; display:inline-block;}
.bw-summary-ico { background-position:0 0; width:23px; height:23px; margin-right:26px; position:relative; top:3px; left:5px;}
.bw-engine-ico { background-position:0 -32px; width:30px; height:22px; margin-right:20px; position:relative; top:3px;}
.bw-brakeswheels-ico { background-position:0 -63px; width:26px; height:26px; margin-right:26px; position:relative; top:3px; left:3px;}
.bw-dimensions-ico { background-position:0 -99px; width:33px; height:22px; margin-right:20px; position:relative; top:3px;}
.bw-performance-ico { background-position:0 -131px; width:11px; height:22px; margin-right:41px; position:relative; top:3px; left:7px;}

/**************/
/* or text classes */
.or-text:before { border-top: 1px solid #ccc; content: ""; left: 0; position: absolute; top: 18px; width: 100%;}
.or-text div {background: #fff none repeat scroll 0 0; display: inline-block; position: relative; cursor:pointer;}
.or-text { position:relative; margin:0 auto 10px; background-color: #fff; font-size: 11px; padding: 3px; text-align: center; top: 7px; z-index: 2; line-height:1.1;}
.or-text span{ height:30px; width:30px; display:inline-block; border:1px solid #ccc; border-radius:50%; font-size:24px; position:relative;}

.discover-bike-carousel .front, .discover-bike-carousel .back, .discover-bike-carousel .jcarousel li { height: auto; }

.breakupPopUpContainer { min-height: 300px; background: #fff; z-index: 10; margin: 0 auto; position: fixed; top: 10%; left: 5%; right: 5%; padding:20px; }
.breakupCloseBtn.cross-lg-lgt-grey { background-position: -36px -226px; }

.upcoming-text-label{background:#4c4c4c;z-index:1;padding:2px 25px 4px 20px;line-height:22px;left:-10px}
.upcoming-text-label:after{content: "";background:url(http://img.aeplcdn.com/bikewaleimg/m/images/upcoming-ribbon.png) no-repeat right top;width:12px;position: absolute;height: 28px;top: 0;padding:0 0 0 35px;}
.reviews-rating{width:42%;}
#ctrlExpertReviews li{min-height:236px;height:auto;}
#ctrlExpertReviews li .front{height:100%;}
.view-breakup-text {cursor:pointer;color:#0288d1;}
.container img {max-width:100%;}

#SneakPeak img { width:100%; }

/* offers popup */
.termsPopUpContainer { width: 700px; height: 150px; overflow-y:auto; background-color: #fff; z-index: 10; margin: 0 auto; position: fixed; top: 10%; left: 5%; right: 5%; }
.termsPopUpCloseBtn.cross-lg-lgt-grey { background-position: -36px -226px; }
.offer-text { width:80%; padding-right:10px; }