header {
    width: 100%;
    height: 50px;
}
#bw-header.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
}
.discover-bike-carousel .front,
.discover-bike-carousel .back,
.discover-bike-carousel .jcarousel li {
    height: auto;
}
.content-inner-block-1520 {
    padding: 15px 20px;
}
.pos-top3 {
    top: 3px;
}
.text-x-black {
    color: #1a1a1a;
}
.search-bike-item {
    background: #fff;
}
.search-bike-item .front {
    height: auto;
    border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    border: 0 none;
}
.search-bike-item li:first-child .border-top1 {
    display: none;
}
.search-bike-item .btn:hover {
    text-decoration: none
}
.sort-icon {
    background-position: -193px -144px !important;
    height: 20px;
    width: 20px;
}
.sort-btn {
    color: #FFF;
    padding: 0px 10px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}
.filter-sort-div {
    display: table;
    width: 100%;
    border-top: solid 1px #d9d9d9;
    padding: 10px 0;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0 3px 4px 0 #e5e5e5;
}
.filter-sort-div div {
    display: table-cell;
    width: 33.333%;
}
.filter-sort-div div a {
    padding: 0;
    color: #565a5c;
    display: block;
    text-decoration: none;
    text-align: center;
}
.filter-sort-div .filter-icon {
    position: relative;
    top: 2px;
}
#sort-by-div.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 999;
}
.modelurl img {
    width: 292px;
}
#listitems .bikeDescWrapper {
    padding-right: 20px;
    padding-left: 20px;
}
.text-default {
    color: #4d5057;
}
.text-truncate {
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.swiper-slide.bike-carousel-swiper {
    width: 184px;
    min-height: 250px;
    background: #fff;
    border: 1px solid #e2e2e2;
}
.bike-carousel-swiper img {
    width: 100%;
    height: 103px;
}
.bike-swiper-image-wrapper {
    width: 100%;
    height: 103px;
    display: block;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.bike-swiper-image-wrapper a {
    width: 100%;
    height: 100%;
    display: block;
}
.bike-swiper-details-wrapper {
    padding: 5px 20px 10px;
}
.bike-swiper-details-wrapper p {
    font-size: 12px;
}
.swiper-wrapper.upcoming-carousel-content .swiper-slide:first-child {
    margin-left: 10px;
}
#makeOverallTabsWrapper {
    height: 44px;
}
.overall-specs-tabs-container {
    width: 100%;
    display: block;
    background: #fff;
    overflow-x: scroll;
    z-index: 2;
}
.overall-specs-tabs-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.overall-specs-tabs-container::-webkit-scrollbar-track,
.overall-specs-tabs-container::-webkit-scrollbar-thumb {
    display: none;
}
.overall-specs-tabs-container.fixed-tab-nav {
    position: fixed;
    top: 0;
    left: 0;
}
.overall-specs-tabs-wrapper {
    width: 100%;
    display: table;
    border-bottom: 1px solid #e2e2e2;
}
.overall-specs-tabs-wrapper li {
    font-size: 14px;
    padding: 10px 15px;
    display: table-cell;
    text-align: center;
    white-space: nowrap;
    color: #82888b;
    cursor: pointer;
}
.overall-specs-tabs-wrapper li.active {
    border-bottom: 3px solid #ef3f30;
    color: #4d5057;
    font-weight: bold;
}
.content-details-wrapper h2 {
    margin-bottom: 13px;
}
.content-details-wrapper h3 {
    margin-bottom: 12px;
}
.model-preview-more-content {
    display: none;
}
.border-divider {
    border-top: 1px solid #e2e2e2;
}
.news-image-wrapper {
    width: 148px;
    height: 83px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    overflow: hidden;
}
.review-image-wrapper {
    width: 120px;
    height: 68px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.news-image-wrapper .article-target-image,
.review-image-wrapper .article-target-image {
    width: 100%;
    display: block;
}
.news-image-wrapper img,
.review-image-wrapper img {
    width: 100%;
    height: 68px;
}
.blue-right-arrow-icon {
    width: 10px;
    height: 12px;
    background-position: -56px -435px;
    position: relative;
    top: 1px;
    left: 7px;
}
#makeNewsContent .news-heading-wrapper h4,
#makeReviewsContent .review-heading-wrapper h4,
#makeReviewsContent .make-user-review-title-container h4 {
    margin-top: 2px;
    margin-bottom: 7px;
}
.news-heading-wrapper {
    width: 47%;
    display: inline-block;
    vertical-align: top;
}
.review-heading-wrapper {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}
.margin-top17 {
    margin-top: 17px;
}
.make-user-review-rating-container {
    width: 120px;
    height: 68px;
    border: 1px solid #e2e2e2;
    background: #f9f9f9;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}
.make-user-review-title-container {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}
.dealer-city-image-preview {
    height: 75px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.city-sprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-city-sprite.png?26Dec2016) no-repeat;
    display: inline-block;
}
.c-mumbai-icon,
.c-pune-icon,
.c-bangalore-icon,
.c-newdelhi-icon,
.c-delhi-icon,
.c-chennai-icon,
.c-hyderabad-icon,
.c-kolkata-icon,
.c-ahmedabad-icon,
.c-chandigarh-icon,
.c-lucknow-icon,
.c-india-icon {
    height: 70px;
}
.c-mumbai-icon {
    width: 98px;
    background-position: 0 0;
}
.c-pune-icon {
    width: 140px;
    background-position: -108px 0;
}
.c-bangalore-icon {
    width: 102px;
    background-position: -258px 0;
}
.c-delhi-icon {
    width: 54px;
    background-position: -370px 0;
}
.c-newdelhi-icon {
    width: 54px;
    background-position: -370px 0;
}
.c-chennai-icon {
    width: 41px;
    background-position: -434px 0;
}
.c-hyderabad-icon {
    width: 49px;
    background-position: -485px 0;
}
.c-kolkata-icon {
    width: 138px;
    background-position: -544px 0;
}
.c-lucknow-icon {
    width: 132px;
    background-position: -692px 0;
}
.c-ahmedabad-icon {
    width: 0px;
    background-position: 0 0;
}
.c-chandigarh-icon {
    width: 0px;
    background-position: 0 0;
}
.c-india-icon {
    width: 61px;
    background-position: -834px 0;
}
#makeUsedBikeContent li {
    margin-top: 20px;
}
#makeUsedBikeContent li:first-child {
    margin-top: 0;
}
#makeDealersContent .swiper-slide:first-child {
    margin-left: 10px;
}
.swiper-slide.bike-carousel-swiper.dealer-by-city {
    width: 184px;
    min-height: 210px;
    padding: 17px 10px;
}
.swiper-slide.bike-carousel-swiper.dealer-no-city {
    width: 184px;
    min-height: 210px;
}
.dealership-loc-icon {
    width: 10px;
    height: 15px;
    background-position: -40px -435px;
    position: relative;
    top: 4px;
}
.dealership-address,
.dealership-email {
    width: 87%;
}
.tel-sm-grey-icon {
    width: 15px;
    height: 15px;
    background-position: 0 -435px;
    position: relative;
    top: 2px;
}
.mail-grey-icon {
    width: 15px;
    height: 9px;
    background-position: -19px -437px;
    position: relative;
    top: 6px;
}
.dealer-no-city a {
    width: 184px;
    min-height: 210px;
    color: #2a2a2a;
    display: block;
    padding: 20px;
}
.comparison-swiper .swiper-slide {
    width: 310px;
    min-height: 220px;
}
.comparison-swiper .swiper-slide a {
    padding-top: 15px;
    padding-bottom: 20px;
}
.comparison-swiper .swiper-card {
    width: 310px;
    min-height: 220px;
    border: 1px solid #e2e2e2;
}
.model-img-content {
    width: 126px;
    height: 71px;
    margin-bottom: 5px;
}
.model-comparison-list h3 + .grid-6 {
    position: relative;
    border-right: 1px solid #f5f5f5;
}
.model-comparison-list h3 + .grid-6:after {
    content: '';
    position: absolute;
    right: -11px;
    top: 45px;
    width: 22px;
    height: 21px;
    background: url("https://imgd.aeplcdn.com/0x0/bw/static/design15/comparison-divider.png") no-repeat;
    display: block;
}
.btn-size-1 {
    font-size: 14px;
    padding: 6px 42px;
}
@media all and (max-width: 355px) {
    .review-heading-wrapper,
    .make-user-review-title-container {
        width: 50%;
    }
    .news-heading-wrapper {
        width: 40%;
    }
}
.swiper-city .swiper-image-preview {
    height: 100px;
    padding: 25px 0 10px;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: 1px solid #eee;
    text-align: center;
}
.swiper-city .swiper-slide,
.swiper-city .swiper-card {
    min-height: 165px;
}
.brand-type-carousel .swiper-slide,
.brand-type-carousel .swiper-card {
    width: 200px;
    min-height: 110px;
}
.brand-type-carousel a {
    display: block;
}
.brand-type-carousel .brand-logo-image {
    width: 100%;
    height: 50px;
    line-height: 0;
    display: table;
    text-align: center;
}
.brand-type-carousel .brand-type {
    display: table-cell;
    vertical-align: middle;
}
.brand-type-carousel .swiper-details-block {
    padding-bottom: 12px;
}
/* popular review starts here */

.padding-20 {
    padding: 20px;
}

.brand-72 {
	width: 31px;
	background-position: -1919px 0;
}

.popular-review-list h3 {
    margin-bottom: 0;
}
.popular-review-list .list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #f5f5f5;
}
.popular-review-list .list-item:first-child {
    padding-top: 0;
    border-top: none;
}
.review-item__label {
    font-size: 12px;
    color: #787878;
    margin-bottom: 10px;
}
.review-item__preview {
    font-size: 14px;
    margin-bottom: 5px;
}
.review-type-list .review-type-list__item {
    margin-top: 15px;
}
.review-type-list .review-type-list__item:first-child {
    margin-top: 0;
}
.rate-count-container {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
/* rating */

.rate-count-5 {
    color: #198d55;
}
.rate-count-4 {
    color: #13b65d;
}
.rate-count-3 {
    color: #efd700;
}
.rate-count-2 {
    color: #fd971c;
}
.rate-count-1 {
    color: #ef3f30;
}
.rate-star--small .star-icon {
    width: 23px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}
.rate-count-5 .star-icon {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-5-26x25.png') no-repeat center;
}
.rate-count-4 .star-icon {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-4-26x25.png') no-repeat center;
}
.rate-count-3 .star-icon {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-3-26x25.png') no-repeat center;
}
.rate-count-2 .star-icon {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-2-26x25.png') no-repeat center;
}
.rate-count-1 .star-icon {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-1-26x25.png') no-repeat center;
}
.rate-star-count {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
}
/* popular review ends here */

/* foldable content*/

.foldable-content {
    font-size: 14px;
}
.truncatable-content {
    overflow: hidden;
    position: relative;
    text-align: justify;
}
.about-make .truncatable-content:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    padding-left: 3px;
    background-color: #eee;
}
.about-make .truncatable-content:after {
    content: '';
    position: absolute;
    right: 0;
    width: 14px;
    height: 18px;
    margin-top: -8px;
    background-color: #eee;
}
.about-make .truncatable-content {
    text-align: left;
}
.foldable-content .truncatable-content[data-readTextFlag='0'] {
    max-height: initial;
}
.about-make .truncatable-content[data-readTextFlag='1'],
.about-make .truncatable-content {
    max-height: 275px;
}
.make-price-block .truncatable-content[data-readTextFlag='1'],
.make-price-block .truncatable-content {
    max-height: 263px;
}
.read-more-button {
    display: inline-block;
    padding-top: 10px;
}
/* sub-footer */

.make-subfooter {
    background-color: #eee;
}
.make-price-block {
    font-size: 14px;
}
.about-make {
    color: #787878;
}
.make-subfooter {
    margin: 10px;
    padding: 20px 15px;
}
.about-make__list-title {
    margin-bottom: 10px;
    padding-top: 5px;
    display: block;
    font-weight: 600;
}
.about-make__list-desc {
    padding-bottom: 10px;
}
.make-price-block {
    padding-top: 20px;
    border-top: 1px solid #e2e2e2;
    margin-top: 15px;
}
.make-price-table {
    text-align: left;
    width: 100%;
    border-spacing: 0;
}
.make-price-table td {
    padding-bottom: 10px;
}
.make-price-table__title {
    display: table-cell;
    font-size: 14px;
    color: #4d5057;
}
.make-price-table tr:nth-of-type(2) td {
    padding-top: 10px;
}
.make-price__thead.make-price__model {
    width: 54%;
    padding-top: 10px;
}
.make-price__thead.make-price-table__price {
    width: 46%;
    padding-top: 10px;
}
.make-price__thead {
    padding-bottom: 10px;
    color: #82888b;
    font-size: 12px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
    font-weight: normal;
}
.make-price__model h3 {
    font-weight: 400;
    color: #787878;
}
.make-price__model-price {
    font-weight: 600;
}
.font-bold {
    font-weight: 600;
}
.service-center-grey {
    width: 28px;
    height: 25px;
    background-position: 0 -636px;
    vertical-align: middle;
}

.dealer-grey{
    width: 26px;
    height: 24px;
    background-position: -32px -638px;
     vertical-align: top;
}
/*video widget*/

.swiper-card__label {
	display: block;
	font-size: 13px;
	text-align: center;
	color: #4d5057;
	font-weight: 600;
	margin-bottom: 10px;
}

.model-card__sub-title {
	font-size: 11px;
	color: #82888b;
	padding-bottom: 5px;
}

.overalltab__section-list li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #e2e2e2;
}

.overalltab__section-list li:first-child {
	border: none;
	padding-top: 0;
}

.video-card-container .swiper-card__label {
    text-align: left
}

.video-card__video-preview {
    position: relative;
    top: 0;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px
}

.video-card__video-preview iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.video-card__desc .grid-6:nth-of-type(1) {
    text-align: left
}

.video-card__desc .grid-6:nth-of-type(2) {
    text-align: right
}


.btn-inv-blue {
    background: #fff;
    color: #0288d1;
    border: 1px solid #0288d1;
    padding: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 14px
}