.booking-landing-banner { background:#8d8c8a url(https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/m-booking-landing-banner.jpg) no-repeat center top; background-size:cover; height: 300px; padding-top: 1px; }
.booking-landing-search-container { margin-bottom:20px; width:100%; }
.booking-landing-search-container .form-control { padding:8px; }
.booking-search-city, .booking-search-area { width:50%; height: 40px; float:left;}
.booking-search-city select, .booking-search-area select, .booking-search-city-form, .booking-search-area-form { width: 100%; height: 38px; color: #555; background:#fff; }
.booking-search-city-form, .booking-search-area-form { padding:8px 25px 8px 8px; text-align:left; cursor:pointer; background: #fff url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/m/dropArrowBg.png?v1=19082015) no-repeat 96% 50%; text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.booking-search-city select, .booking-search-area select { border: none; display:none; }
.booking-search-area select { border:1px solid #ccc }
.booking-landing-search-btn { width:44%; }
.booking-landing-search-btn.btn-lg { padding:8px 42px; }
#bookingSearchBar.bwm-fullscreen-popup { padding:0; background: #f5f5f5; z-index: 11; position: fixed; left: 100%; top: 0; overflow-y: scroll; width: 100%; height: 100%;}
#bookingSearchBar li { border-top: 1px solid #ccc; font-size: 14px; padding: 15px 10px; color: #333333; cursor: pointer;}
#bookingSearchBar li:hover { background: #ededed; }
.booking-area-slider-wrapper { display:none; }
.booking-landing-search-container .errorIcon, .booking-landing-search-container .errorText { display:none; }
.swiper-container { width:200px; height: 205px; }
.swiper-slide { width:100%; }
.benefit-icon-outer-container { width:90px; height:90px; margin:0 auto; background:#fff; border:1px solid #ccc; }
.benefit-icon-inner-container { width:80px; height:80px; margin:4px auto; background:#fff; border:1px solid #666; }

.booking-landing-sprite { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/m-booking-landing-sprite.png) no-repeat; display: inline-block; }
.benefit-offers-icon { width:35px; height:37px; background-position:0 0; }
.benefit-dealer-icon { width:45px; height:30px; background-position:-45px 0; }
.benefit-assistance-icon { width:37px; height:43px; background-position:-100px 0; }
.benefit-cancellation-icon { width:29px; height:38px; background-position:-147px 0; }
.offer-insurance-icon { width:38px; height:40px; background-position:-185px 0; }
.offer-voucher-icon { width:40px; height:32px; background-position:-233px 0; }
.offer-doorstep-icon { width:30px; height:36px; background-position:-283px 0; }
.work-payment-icon, .work-document-icon, .work-delivery-icon { height:36px; }
.work-payment-icon { width:62px; background-position:-323px 0; }
.work-document-icon { width:32px; background-position:-395px 0; }
.work-delivery-icon { width:22px; background-position:-437px 0; }
.work-arrow-icon { width:13px; height:8px; background-position:-469px 0; position:relative; left:50%; }

.avail-offers-container ul { margin-left:30px; margin-right:30px; }
.avail-offers-container ul li { display:table;  padding-bottom:30px; }
.booking-icon-container, .booking-text-container { display:table-cell; vertical-align:middle; }
.booking-icon-container { width:60px; height:40px; }

#bookingWorksWrapper { background:#666 url(https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/m-booking-works-banner.jpg) no-repeat center; height:380px; background-size:cover; }
#bookingWorksWrapper li { margin-bottom:20px; }
#faqsWraper .swiper-container { width:100%; height:auto; }
#faqsWraper .swiper-slide { width:270px; height:165px; line-height:1.7; padding:18px; background:#fff; border:1px solid #ccc; }
#testimonialWrapper .swiper-container { width:100%; padding:0 10px; height:auto; }
#testimonialWrapper .swiper-container-horizontal > .swiper-pagination { bottom:0; }
#testimonialWrapper .testimonial-image-container { width:82px; height:82px; background:#fff; margin:0 auto; border:1px solid #ccc; }
#testimonialWrapper .testimonial-user-image { width:76px; height:76px; overflow:hidden; margin:2px auto; border:1px solid #666; }
#testimonialWrapper .testimonial-user-image img { width:100%; }
.activeCity,.activeArea{font-weight: bold; background-color: #ddd;}