@charset "utf-8";
/* CSS Document */
/* booking sprite */
.booking-sprite { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/booking-sprite.png?v1=4Mar2016) no-repeat; display: inline-block; }
.booking-sprite, .booking-sprite + span.iconTtl{display:inline-block; vertical-align:middle;}
.booking-tick-blue, .summary-icon-grey, .payment-icon-grey, .summary-icon-selected, .personal-details-icon-selected, .payment-icon-selected { width:42px; height:42px; }
.personal-details-icon-selected { background-position: 0 0; }
.booking-tick-blue { background-position: -86px 0;}
.summary-icon-grey {background-position:-43px -201px;}
.payment-icon-grey { background-position: -43px -300px; }
.summary-icon-selected { background-position: 0 -201px; }
.payment-icon-selected { background-position: 0 -250px; }
.booking-tabs ul{ display:table; margin:0 auto 20px; width: 270px; overflow: hidden; }
.booking-tabs ul li { float:left; width:90px; height:42px; background:#fff; text-align:center; position:relative; }
.booking-tabs ul li:before, .booking-tabs ul li:after{content:''; height:1px; position:absolute; z-index:0; background:#e2e2e2; width:50%;  top:0; bottom:0; margin:auto;}
.booking-tabs ul li:before {left:0;}
.booking-tabs ul li:after {right:0;}
.booking-tabs ul li.ticked:before, .booking-tabs ul li.ticked:after{background:#4d5057; height:3px;}
.booking-tabs ul li.middle.ticked:after{background:#e2e2e2; height:1px;}
.booking-tabs ul li.first:before{display:none;}
.booking-tabs ul li.last:after{display:none;}
.personal-info-form-container { margin:20px auto; width: 100%; min-height:90px; }
.bike-booking-part { width:100%; height:42px; display:inline-block; cursor: pointer;}
.bike-booking-title {  width:200px; height:20px; display:inline-block; margin-bottom:10px;}
.bike-booking-image { width:100%;  height:42px; position:relative; }
.bike-booking-image span {  margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index:1;  }
.personal-info-form-container .personal-info-list { margin-bottom:15px; }
.personal-info-form-icon { width:18px; height:26px; background-position:-111px -139px; }

.horizontal-line { width:610px; height:1px; background:#ccc; top:59px; }
.border-light-grey { border:1px solid #e2e2e2; }
.border-dark-grey { border:1px solid #4d5057; }
.border-light-top { border-top:1px solid #e2e2e2; }
.border-light-right { border-right:1px solid #e2e2e2; }
.border-light-bottom { border-bottom:1px solid #e2e2e2; }
.border-light-left { border-left:1px solid #e2e2e2; }
.text-default { color:#4d5057; }
.pos-top-minus10 { top:-10px;}
/* select dropdown */
.select-dropdown { width: 100%; height: 32px; padding: 5px 10px; border: 1px solid #ccc; color: #555; position: relative; cursor: pointer; background: #fff; }
.select-btn { width:160px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.select-dropdown-list { background: #fff; border: 1px solid #ccc; position: absolute; left:10px; right:0; z-index: 2; }
.select-dropdown-list li { background:#fff; cursor:pointer; border-top:1px solid #e2e2e2; }
.select-dropdown-list li:first-child { border-top:none; }
.select-dropdown-list li p { width:100%; text-align:left; background:#fff; padding: 5px 8px; font-size: 14px;white-space: normal; color:#4d5057; cursor:pointer; }
.select-dropdown-list li:hover, .select-dropdown-list li:hover p { background: #f5f5f5; }

.colour-dropdown .select-dropdown { padding:4px 10px 4px 5px; }
.colour-dropdown .select-btn { width:137px; }
.colour-dropdown .select-color-box { width:22px; height:22px;border:1px solid #ccc;background:#f00; display:inline-block; *display: inline;
zoom: 1; vertical-align:middle; margin-right:7px; }
.colour-dropdown .select-dropdown-list li { overflow:hidden; padding:4px 5px; border-top:1px solid #e2e2e2; }
.colour-dropdown .select-dropdown-list li:first-child { border-top:none; }
.colour-dropdown .select-dropdown-list li p { width:80%; padding:0; display:inline-block; *display: inline; zoom: 1; vertical-align:middle; }

/* select dropdown */
#upDownArrow.fa-angle-down { transition: all 0.5s ease-in-out 0s; font-size: 20px; }
.select-dropdown .fa-angle-down { transition: transform .3s; -moz-transition: transform .3s; -webkit-transition: transform .3s; -o-transition: transform .3s; -ms-transition: transform .3s; }
.select-dropdown.open .fa-angle-down { -moz-transform: rotateZ(180deg); -webkit-transform: rotateZ(180deg); -o-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); transform: rotateZ(180deg); }

.bike-details-ul { list-style:disc; margin-left:25px; }

.viewBreakupText { cursor: pointer; color: #0288d1; margin-left:5px; }
.radio-btn-checked, .radio-btn-unchecked { width: 18px; height: 18px; }
.radio-btn-checked { background-position:-177px -57px; }
.radio-btn-unchecked { background-position:-177px -78px; }
.disabled-tab { cursor: not-allowed !important;}
.pos-top8 { top:8px; }
.pos-top3 { top:3px;}
.pos-top2 { top:2px;}
.font6 { font-size:6px; }

.offers-container{ border: 1px dashed #82888b; padding:10px;}
.offers-container li, .offers-container ul.pay-and-get-ul li { background:url("https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/star-icon.png") no-repeat 0 3px; padding-left:20px; }
.offers-container li { margin: 10px 0; }

.call-text-green {border: 1px solid #00b16a;padding: 5px 10px; width:100%; display:block}
.text-green { color: #00b16a; }

/* finance-details */
#deliveryDetails ul.select-financeUL li { height:32px; margin:15px 0 8px 0; }
/* #deliveryDetails .finance-emi-container .emi-slider-box { border-bottom:1px solid #e2e2e2; } */
#deliveryDetailsv .emi-slider-box .emi-slider-box-left-section p { font-size:14px; margin-bottom:10px; }

/*#otpPopup { display:none; background: #fff; margin: auto; padding:20px; overflow-y: auto; position: fixed; top: 25px; bottom: 25px; max-height: 410px; right: 5%; left: 5%; z-index: 10; }*/
.icon-outer-container { width:102px; height:102px; margin:0 auto; background:#fff; border:1px solid #ccc; }
.icon-inner-container { width:92px; height:92px; margin:4px auto; background:#fff; border:1px solid #666; }
.otp-icon { width:29px; height:29px; background-position: -109px -177px; }
.edit-blue-icon { width:20px; height:20px; background-position: -114px -122px; }
.mobile-prefix { position: absolute; padding: 10px 13px 13px; color: #999; z-index:2; }
#otpPopup .errorIcon, #otpPopup .errorText { display:none; }
#otpPopup .otp-box p.resend-otp-btn { color:#0288d1; cursor:pointer; font-size:14px; }
#otpPopup .update-mobile-box { display:none; }
#otpPopup .edit-mobile-btn { cursor:pointer; }

.mobile-prefix { position: absolute; padding: 10px 13px 13px; color: #999; z-index:2; }

/* dealer-details */
.contact-details-container ul { list-style:disc; margin:15px 0 15px 25px; font-size:14px; }
.contact-details-container li { line-height:1.7; margin-bottom:10px; }
.offer-details-container ul { color:#82888b; font-size:14px; }
.offer-details-container li { margin-top:15px; position:relative; }

/* booking-config */
.emi-slider-box { border-top:1px solid #e2e2e2; padding-bottom:20px; padding-top:20px; margin-top: 5px; margin-right:20px; }
.emi-slider-box:first-child { border-top:none; padding-top:10px; }
.finance-emi-left-box { width:100%; float:left; overflow: hidden;}
.finance-emi-right-box { width:290px; float:right; }
.emi-slider-box-left-section { width:100%; float:left; }
.ui-widget-content { background: #e2e2e2; height: 7px; margin: 10px 0 0; width: 100%; border-radius: 0px; }
.ui-slider .ui-slider-range { border: none; display: block; font-size: 0.7em; position: absolute; z-index: 1; border-radius: 0px; }
.ui-widget-header { background: #565a5c; height: 6px; }
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/slider-sprite.png?v=27012016v1) no-repeat; cursor:pointer; height:20px; width:20px; display:block; margin-left: -9px; position: absolute; outline:none; top: -7px; z-index: 2; background-position:0 0; }

.emi-slider-box-right-section { text-align:right; }


/* disclaimer-onroadprice-container */
.disclaimer-onroadprice-container { width:100%; border-top:1px solid #e2e2e2; padding-top:20px; margin-top:20px }
.disclaimer-onRoadPrice-container { width:290px; float:left; }
#deliveryDetails .disclaimer-onroadprice-container ul { list-style:disc; margin:15px 0 15px 25px; font-size:14px; }
#deliveryDetails .disclaimer-onroadprice-container li { line-height:1.7; margin-bottom:10px; color:#82888b; }

/* range points */
.slider-range-points ul li { float:left; position:relative; }
.slider-range-points ul.range-pointsUL li { width:14%; }
.range-points-bar { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/slider-sprite.png?v=27012016v1) no-repeat; height:5px; width:2px; display:block; z-index: 1; background-position:-30px 0px; }
.range-points-bar span { position:absolute; top:5px; left:0; font-size:11px; }
.slider-range-points .range-five-pointsUL.range-pointsUL li { width:20%; }

.finance-icon-grey { width:28px; height:28px; background-position: -90px 0; }
.finance-icon-selected { width:42px; height:42px; background-position: 0 -156px; }
.alloy-wheel-icon, .spoke-wheel-icon, .disc-brake-icon, .drum-brake-icon, .electric-start-icon, .kick-start-icon, .abs-icon { width:34px; height:34px; }
.alloy-wheel-icon { background-position:-95px -37px; }
.spoke-wheel-icon { background-position:0px -208px; }
.disc-brake-icon { background-position:-95px -81px; }
.drum-brake-icon { background-position:-52px -164px; }
.electric-start-icon { background-position:-95px -127px; }
.kick-start-icon { background-position:-52px 208px; }
.abs-icon { background-position:-95px -169px; }

.radio-sm-checked, .radio-sm-unchecked { width:12px; height:12px; }
.radio-sm-checked { background-position:-205px -65px; }
.radio-sm-unchecked { background-position:-205px -88px; }
.disclaimer-icon { width:16px; height:16px; background-position:-115px -209px; }

/* version icons */
.versionIcon, .versionIcon + span { display:inline-block; vertical-align:middle;}
.versionIcon { width:34px; height:34px; background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/booking-sprite.png?v=27012016v1) no-repeat;}
.versionIcon.alloy-wheel { background-position:-131px 0}
.versionIcon.disc-brake { background-position:-131px -44px}
.versionIcon.elect-start { background-position:-131px -90px}
.versionIcon.abs { background-position:-131px -131px}
.versionIcon.spoke-wheel { background-position:-132px -170px}
.versionIcon.drum-brake { background-position:-91px -147px}
.versionIcon.kick-start { background-position:-91px -191px}

.contact-icon, .offers-icon, .disclaimer-icon, .call-icon { width:16px; height:16px; }
.disclaimer-icon { background-position: -135px -308px; }
.offers-icon { background-position: -135px -280px; }
.contact-icon { background-position: -107px -280px; }
.text-green { color:#5bc033;}
.breakupPopUpContainer, .cancellation-popup { height: 375px; overflow-y:scroll; background:#fff; z-index: 10; margin: 0 auto; position: fixed; top: 10%; left: 5%; right: 5%; padding:20px; }
.breakupCloseBtn.cross-lg-lgt-grey { background-position: -36px -226px; }
.call-text-green {border: 1px solid #00b16a;padding: 5px 10px;width: 100%;display: block;}
.call-icon { background-position: -107px -135px; }

.offer-details-container ul li { background:url("https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/star-icon.png") no-repeat 0 3px; padding: 0 0 0 22px;} 

#faqSlug .icon-outer-container { width:82px; height:82px; }
#faqSlug .icon-inner-container { width:72px; height:72px; }
.question-mark-icon { width:22px; height:33px; background-position:-189px -348px; }
.faq-slug-container { width:100%; }
.question-icon-container { width:82px; }
.question-text-container { width:68%; }
/* offers popup */
.termsPopUpContainer { width: 90%; height: 400px; overflow-y:auto; background-color: #fff; z-index: 10; margin: 0 auto; position: fixed; top: 7%; left: 5%; right: 5%; }
.termsPopUpCloseBtn.cross-lg-lgt-grey { background-position: -36px -226px; }
#terms h1 { font-size:18px; padding-top:10px; }

.viewterms{color: #ababab;text-decoration: none;font-size: 10px;cursor: pointer;}
.viewterms:hover{text-decoration:underline;}
.question-title { position:relative; top:-7px; margin-bottom:5px; }
#testimonialWrapper .swiper-container { width:100%; padding:0 10px; height:auto; }
#testimonialWrapper .swiper-slide { width: 100%; }
#testimonialWrapper .swiper-container-horizontal > .swiper-pagination { bottom:0; }
#testimonialWrapper .testimonial-image-container { width:82px; height:82px; background:#fff; margin:0 auto; border:1px solid #ccc; }
#testimonialWrapper .testimonial-user-image { width:76px; height:76px; overflow:hidden; margin:2px auto; border:1px solid #666; }
#testimonialWrapper .testimonial-user-image img { width:100%; }

/* Multitonecolor*/
.select-color-box.color-count-one span { width:100%; height:100%; display:block !important; background:#eee; }  
.select-color-box.color-count-two span { width:100%; height:40%; display:block !important; background:#eee; }
.select-color-box.color-count-two span:first-child { width:100%; height:60%; background:#545454; }
.select-color-box.color-count-three span { width:100%; height:33.33%; display:block !important; }
#customizeBike ul.select-colorUL li.selected-color span.select-color-box.color-count-two + span.color-title-box { top:-37px; }

#faqsWraper .swiper-container { width:100%; height:auto; }
#faqsWraper .swiper-slide { width:270px; height:165px; line-height:1.7; padding:18px; background:#fff; border:1px solid #ccc; }