@charset "utf-8";
.banner-home { height: 268px; background: #161209 url(http://imgd3.aeplcdn.com/0x0/bw/static/landing-banners/m/home-top-banner.jpg) no-repeat scroll center top;  background-size: cover; }
.btn-search { position:absolute; padding:8px 12px 9px; top: 1px; right:1px; border-top-left-radius: 0;border-bottom-left-radius: 0;height:41px;}

.brand-budget-mileage-style-wrapper { background:#fff; padding-bottom:30px; }
.bw-tabs-data ul li:hover { cursor: pointer; }

.brand-type-container ul li { display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:96px; height:70px; margin:0 0 15px; text-align:center; }
.brand-type-title { display:block; text-transform:capitalize; }
.brand-type-container a { text-decoration:none; color:#565a5c; display: inline-block; }
.brand-type-container ul li:hover span.brand-type-title { font-weight: bold; }

.brandlogosprite { background:url('http://imgd3.aeplcdn.com/0x0/bw/static/sprites/m/brand-type-sprite.png?v=19May2016') no-repeat; display: inline-block; }
.brand-aprilia, .brand-bajaj, .brand-benelli, .brand-bmw, .brand-ducati, .brand-royalenfield, .brand-motoguzzi, .brand-harleydavidson, .brand-heroelectric, .brand-hero, .brand-honda, .brand-hyosung, .brand-indian, .brand-kawasaki, .brand-ktm, .brand-lml, .brand-mahindra, .brand-suzuki, .brand-triumph, .brand-tvs, .brand-vespa, .brand-yamaha, .brand-yo, .brand-mv-agusta, .brand-um, .brand-eider { height:30px; }
.brand-aprilia { width: 52px; background-position: 0 0; }.brand-honda { width: 34px; background-position: -58px 0; }
.brand-bajaj { width: 53px; background-position: -97px 0; }.brand-hyosung { width: 60px; background-position: -156px 0; }
.brand-suzuki { width: 40px; background-position: -222px 0; }.brand-benelli { width: 75px; background-position: -268px 0; }
.brand-indian { width: 73px; background-position: -349px 0; }.brand-triumph { width: 73px; background-position: -428px 0; }
.brand-bmw { width: 26px; background-position: -507px 0; }.brand-kawasaki { width: 52px; background-position: -539px 0; }
.brand-tvs { width: 71px; background-position: -597px 0; }.brand-ducati { width: 26px; background-position: -674px 0; }
.brand-ktm { width: 59px; background-position: -706px 0; }.brand-vespa { width: 70px; background-position: -771px 0; }
.brand-harleydavidson { width: 35px; background-position: -847px 0; }.brand-lml { width: 73px; background-position: -889px 0; }
.brand-yamaha { width: 73px; background-position: -968px 0; }.brand-hero { width: 38px; background-position: -1047px 0; }
.brand-mahindra { width: 61px; background-position: -1091px 0; }.brand-yo { width: 76px; background-position: -1159px 0; }
.brand-heroelectric { width: 53px; background-position: -1242px 0; }.brand-motoguzzi { width: 49px; background-position: -1300px 0; }
.brand-royalenfield { width: 74px; background-position: -1354px 0; }.brand-mv-agusta { width: 40px; background-position: -1432px 0; }
.brand-um { width: 38px; background-position: -1481px 0; }.brand-eider { width:38px; background-position:-1529px 0; }

.style-type-container ul li, .budget-container ul li, .mileage-container ul li { display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:148px; height:108px; margin:0 0 4px; padding:3px; text-align:center; font-size:16px; }
.style-type { width:100%; height:51px; display:block; margin:0 auto; padding-top:10px; }
.style-type-title { margin-top:10px; margin-bottom:10px; display:block; }
.style-type-container a, .budget-container ul li a, .mileage-container ul li a { text-decoration:none; width: 100%; height: 100%; color:#82888b; display: inline-block; border:1px solid #e2e2e2; }
.style-type-container ul li:hover a, .budget-container ul li a:hover, .mileage-container ul li a:hover { border: 1px solid #4d5057; color:#4d5057;}
.style-type-container ul li:hover span.style-type-title, .budget-container ul li:hover span.style-type-title, .mileage-container ul li:hover span.style-type-title { color: #4d5057; }

/* budget-container and mileage-container */
.budget-container ul li a span.budget-title-box , .budget-container ul li a span.budget-amount-box, .mileage-container ul li a span.mileage-title-box , .mileage-container ul li a span.mileage-amount-box { display:block; }
.budget-container ul li a span.budget-title-box, .mileage-container ul li a span.mileage-title-box { padding-top: 23px; padding-bottom: 5px; }

.styletypesprite { background: url(http://imgd3.aeplcdn.com/0x0/bw/static/sprites/m/style-type-sprite.png?v=150915) no-repeat; display: inline-block;  }
.style-scooters, .style-street, .style-cruiser, .style-sports { width:77px; height:45px; }
.style-scooters { background-position: 0 0; }
.style-type-container ul li:hover .style-scooters { background-position: 0 -54px; }
.style-street { background-position: 0 -108px; }
.style-type-container ul li:hover .style-street { background-position: 0 -162px; }
.style-cruiser { background-position: 0 -216px; }
.style-type-container ul li:hover .style-cruiser { background-position: 0 -270px; }
.style-sports { background-position: 0 -324px; }
.style-type-container ul li:hover .style-sports { background-position: 0 -378px; }
.home-compare .compare-bikes-container{background:#ffffff;}
