@charset "utf-8";
.banner-home { height: 268px; }
/* 268px #161209 home-top-banner right center */
.banner-container {
    padding: 40px 10px 20px;
}
.banner-container h1 {
    margin-bottom: 15px;
}
.banner-container .banner-subheading {
    margin-bottom: 30px;
}
.btn-search { position:absolute; padding:8px 12px 9px; top: 1px; right:1px; border-top-left-radius: 0;border-bottom-left-radius: 0;height:41px;}
.new-used-search-container { margin: 0 auto; width: 264px; }
.new-bikes-search input[type="text"] { border: 1px solid #ccc; width: 100%; padding: 13px 10px; padding-right:52px; height: 43px;}
#global-search{display:none;}
.brand-budget-mileage-style-wrapper { background:#fff; padding-bottom:30px; }
.bw-tabs-data ul li:hover { cursor: pointer; }


.brand-type-container li {
  display: inline-block;
  vertical-align: top;
  width: 90px;
  height: 70px;
  margin-bottom: 10px;
  text-align: center; }
  .brand-type-container li:hover .brand-type-title {
    font-weight: bold; }

.brand-type-container a {
  text-decoration: none;
  color: #565a5c;
  display: inline-block; }

.brand-type-title {
  display: block;
  text-transform: capitalize; }

.brandlogosprite {
  background-image: url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/brand-type-sprite.png?18Dec20171513599310542');
  background-repeat: no-repeat;
  display: inline-block; 
}

.brand-2,
.brand-1,
.brand-40,
.brand-3,
.brand-4,
.brand-11,
.brand-20,
.brand-5,
.brand-39,
.brand-6,
.brand-7,
.brand-8,
.brand-34,
.brand-17,
.brand-9,
.brand-19,
.brand-10,
.brand-12,
.brand-22,
.brand-15,
.brand-16,
.brand-13,
.brand-14,
.brand-41,
.brand-42,
.brand-81,
.brand-71,
.brand-21,
.brand-38,
.brand-23,
.brand-72,
.brand-73,
.brand-74,
.brand-75 {
  height: 30px;
}

.brand-2 {
  width: 52px;
  background-position: 0 0; }

.brand-7 {
  width: 34px;
  background-position: -58px 0; }

.brand-1 {
  width: 53px;
  background-position: -97px 0; }

.brand-8 {
  width: 60px;
  background-position: -156px 0; }

.brand-12 {
  width: 40px;
  background-position: -222px 0; }

.brand-40 {
  width: 75px;
  background-position: -268px 0; }

.brand-34 {
  width: 73px;
  background-position: -349px 0; }

.brand-22 {
  width: 73px;
  background-position: -428px 0; }

.brand-3 {
  width: 26px;
  background-position: -507px 0; }

.brand-17 {
  width: 52px;
  background-position: -539px 0; }

.brand-15 {
  width: 71px;
  background-position: -597px 0; }

.brand-4 {
  width: 26px;
  background-position: -674px 0; }

.brand-9 {
  width: 59px;
  background-position: -706px 0; }

.brand-16 {
  width: 70px;
  background-position: -771px 0; }

.brand-5 {
  width: 35px;
  background-position: -847px 0; }

.brand-19 {
  width: 73px;
  background-position: -889px 0; }

.brand-13 {
  width: 73px;
  background-position: -968px 0; }

.brand-6 {
  width: 38px;
  background-position: -1047px 0; }

.brand-10 {
  width: 61px;
  background-position: -1091px 0; }

.brand-14 {
  width: 76px;
  background-position: -1159px 0; }

.brand-39 {
  width: 53px;
  background-position: -1242px 0; }

.brand-20 {
  width: 49px;
  background-position: -1300px 0; }

.brand-11 {
  width: 74px;
  background-position: -1354px 0; }

.brand-41 {
  width: 40px;
  background-position: -1432px 0; }

.brand-42 {
  width: 38px;
  background-position: -1481px 0; }

.brand-81 {
  width: 38px;
  background-position: -1529px 0; }

.brand-71 {
  width: 23px;
  background-position: -1577px 0; }

.brand-21 {
  width: 57px;
  background-position: -1737px 0; }

.brand-38 {
  width: 25px;
  background-position: -1804px 0; }

.brand-23 {
    width: 70px;
    background-position: -1839px 0;
}

.brand-72 {
	width: 31px;
	background-position: -1919px 0;
}

.brand-73 {
    width: 30px;
    background-position: -1958px 0;
}

.brand-74 {
	width: 66px;
	background-position: -2000px 0;
}

.brand-75 {
	width: 70px;
	background-position: -2076px 0;
}

.block-button-list li {
  width: 148px;
  height: 108px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 4px;
  padding: 3px;
  text-align: center;
  font-size: 16px; }

.block-button-list .list-item {
  color: #82888b;
  display: block;
  height: 100%;
  border: 1px solid #e2e2e2;
  text-decoration: none; }
  .block-button-list .list-item:hover {
    border-color: #4d5057;
    color: #4d5057; }

.block-button-list .block-key-field {
  font-size: 14px;
  padding-top: 23px;
  padding-bottom: 5px;
  display: block; }

.style-type {
  display: block;
  padding-top: 15px; }

.styletypesprite {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/style-type-sprite.png?v=150915) no-repeat;
  display: inline-block; }

.style-scooters,
.style-street,
.style-cruiser,
.style-sports {
  width: 77px;
  height: 45px; }

.style-scooters {
  background-position: 0 0; }

.style-street {
  background-position: 0 -108px; }

.style-cruiser {
  background-position: 0 -216px; }

.style-sports {
  background-position: 0 -324px; }

.style-type-container li:hover .style-scooters {
  background-position: 0 -54px; }

.style-type-container li:hover .style-street {
  background-position: 0 -162px; }

.style-type-container li:hover .style-cruiser {
  background-position: 0 -270px; }

.style-type-container li:hover .style-sports {
  background-position: 0 -378px; }

.home-compare .compare-bikes-container{background:#ffffff;}

/* check on-road price */
.chosen-container {
    text-align: left;
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    display: inline-block;
    font-size: 13px;
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}
a.chosen-single:hover {
    text-decoration: none;
}
.chosen-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    width: 100%;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15)
}
.chosen-container.chosen-with-drop .chosen-drop {
    left: 0
}
.chosen-container a {
    cursor: pointer
}
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    color: #666;
    width: 100%;
    background: #fff url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/dropArrowBg.png) no-repeat 96% 50%
}
.chosen-container-single .chosen-default {
    color: #999
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%
}
.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap
}
.chosen-container-single .chosen-search input[type=text] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px
}
.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch
}
.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 7px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none
}
.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer
}
.chosen-container .chosen-results li.highlighted {
    background-color: #eee;
}
.chosen-container .chosen-results li.no-results {
    color: #777;
    display: list-item;
    background: #f4f4f4
}
.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline
}
.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: 0;
    background: transparent
}


/*popular comparison*/
.comparison-swiper .swiper-slide {
  width: 310px;
  min-height: 220px; }
  .comparison-swiper .swiper-slide a {
    padding-top: 15px;
    padding-bottom: 20px; }

.comparison-swiper .swiper-card {
  width: 310px;
  min-height: 220px; }

.model-img-content {
  width: 126px;
  height: 71px;
  margin-bottom: 5px; }

.model-comparison-list h3 + .grid-6 {
  position: relative;
  border-right: 1px solid #f5f5f5; }
.model-comparison-list h3 + .grid-6:after {
    content: '';
    position: absolute;
    right: -11px;
    top: 45px;
    width: 22px;
    height: 21px;
    background: url("https://imgd.aeplcdn.com/0x0/bw/static/design15/comparison-divider.png") no-repeat;
    display: block; }

.btn-size-1 {
  font-size: 14px;
  padding: 6px 42px; }



/* used bikes */
.used-swiper .swiper-card {
    min-height: 190px
}

.used-swiper .swiper-image-preview {
    width: 100%;
    height: 110px;
    padding: 5px 5px 0;
    display: table;
    text-align: center;
}

.used-swiper .image-thumbnail {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.used-swiper .swiper-image-preview img {
    height: 101px;
}

.used-swiper .swiper-details-block {
    padding: 5px 10px 10px;
}

/* article */
.article-control #makeNewsContent {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.review-image-wrapper {
    width: 120px;
    height: 68px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.review-image-wrapper .article-target-image {
    width: 100%;
    display: block;
}

.review-image-wrapper img {
    width: 100%;
    height: 68px;
}

.review-heading-wrapper {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}

/* best bikes swiper */
.best-bikes-swiper .swiper-card,
.best-bikes-swiper .swiper-card-target {
    min-height: 180px
}

.best-bikes-swiper .swiper-image-preview {
    height: 113px;
    padding: 0
}

.best-bikes-swiper .swiper-image-preview img {
    height: 113px
}

.best-bikes-swiper .swiper-details-block {
    padding-top: 10px;
    padding-bottom: 15px
}

/* used section */
.bw-tabs-flex.tabs-bottom15 {
    margin-bottom: 15px;
}

#usedByCity .box-shadow.padding-top20 {
    padding-top: 0;
}

/* city */
.city-sprite { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-city-sprite-v2.png?v07Oct2016) no-repeat; display: inline-block; }
.c1-icon, .c12-icon, .c2-icon, .c10-icon, .c176-icon, .c105-icon, .c198-icon, .c220-icon { height: 48px; }
.c1-icon { width: 78px; background-position: 0 0; }
.c12-icon { width: 112px; background-position: -84px 0; }
.c2-icon { width: 82px; background-position: -202px 0; }
.c10-icon { width: 38px; background-position: -290px 0; }
.c176-icon { width: 33px; background-position: -334px 0; }
.c105-icon { width: 34px; background-position: -373px 0; }
.c198-icon { width: 110px; background-position: -413px 0; }
.c220-icon { width: 106px; background-position: -529px 0; }

.swiper-details-block {
    text-align: left;
}

.swiper-city .swiper-slide {
    width: 185px;
    height: 155px;
    background: #fff;
}

.swiper-city .swiper-card {
    width: 185px;
    min-height: 155px;
}

.swiper-city .swiper-image-preview {
    height: 80px;
    padding-top: 20px;
    text-align: center;
}

.swiper-city .swiper-details-block {
    padding: 10px 20px 20px;
}

/* budget */
.table-middle {
    display: table-cell;
    vertical-align: middle;
}

.key-size-14 {
    font-size: 14px;
    color: #82888b;
}

.value-size-15 {
    font-size: 15px;
    color: #4d5057;
    font-weight: 700;
}

.elevated-card-list {
    text-align: center;
}

.elevated-card-list li {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 5px;
}

.elevated-card-list li a {
    width: 100%;
    height: 137px;
    display: table;
    -webkit-box-shadow: 0 1px 2px 1px #e4e4e4;
    -moz-box-shadow: 0 1px 2px 1px #e4e4e4;
    -ms-box-shadow: 0 1px 2px 1px #e4e4e4;
    -o-box-shadow: 0 1px 2px 1px #e4e4e4;
    box-shadow: 0 1px 2px 1px #e4e4e4;
}

.elevated-card-list li a:hover {
    text-decoration: none;
}

.tab-icon-container {
    height: 37px;
    margin-bottom: 10px;
}

.budget-one {
    width: 16px;
    height: 24px;
    background-position: 0 -596px;
    position: relative;
    top: 6px;
}

.budget-two {
    width: 28px;
    height: 30px;
    background-position: -19px -596px;
    position: relative;
    top: 3px;
}

.budget-three {
    width: 39px;
    height: 37px;
    background-position: -50px -596px;
}

.swiper-type-min .swiper-details-block {
    padding-bottom: 15px;
}

.swiper-type-min .swiper-card {
    min-height: 184px;
}

/* user reviews starts here */
/* user-review__intro */
.user-review__intro {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 20px 15px 20px;
	border-bottom: 1px solid #eee;
	text-align: center;
}

.review-intro__title {
	font-size: 14px;
	color: #787878;
	margin-bottom: 15px;
}

.btn-120-32 {
	width: 120px;
    padding: 5px;
    font-size: 14px;
}

/* review search field */
#erruserReviewList.ui-autocomplete {
	position: absolute;
	top: 41px;
	left: 3px;
    text-align: left;
}

.user-review__search-field {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
}

/* user-review__swiper */
.user-review__swiper {
	padding-top: 30px;
	padding-bottom: 15px;
}

.user-review__swiper .swiper-slide,
.user-review__swiper .swiper-card {
	width: 250px;
}

.user-review__swiper .swiper-card {
	position: relative;
	min-height: 215px;
	padding: 35px 10px 15px;
	text-align: center;
}

/* winner ribbon */
.review-card__winner {
	position: absolute;
	top: 0;
	left: 10px;
}

.vertical-ribbon {
	position: relative;
	width: 14px;
	height: 35px;
	display: inline-block;
	vertical-align: top;
}

.vertical-ribbon:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	border-right: 7px solid #41B4C4;
	border-left: 7px solid #41B4C4;
	border-bottom: 7px solid transparent;
}

.bg-color--teal {	
	background: #41B4C4;
}

.trophy-teal-10x12:before {
	content: '';
	width: 22px;
	height: 22px;
	position: absolute;
	top: 4px;
	left: -4px;
	border: 1px solid #4d5057;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #fff url('https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/trophy-10x12.png') no-repeat 50%;
}

.winner-tag__label {
	font-size: 10px;
	color: #82888b;
	padding-left: 5px;
	padding-top: 8px;
	display: inline-block;
	vertical-align: top;
}

.review-card__author-circle {
	width: 40px;
	height: 40px;
	background: #f5f5f5 url('https://imgd.aeplcdn.com/0x0/bw/static/icons/john-doe-30x36.png') no-repeat 50% bottom;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
	margin: 0 auto;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.review-card__author {
    font-size: 12px;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.user-review__swiper .rating-badge {
	margin-bottom: 8px;
}

.review-card__bike {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}

.review-card__bike.text-truncate {
	text-align: center;
}

.review-card__desc {
	color: #787878;
	margin-bottom: 8px;
}

.review-card__date {
	color: #82888b;
	font-size: 10px;
	margin-bottom: 10px;
}

/* rating badge */
.rating-badge[data-rate-bg="5"] {
    background-color: #198D55;
}

.rating-badge[data-rate-bg="4"] {
    background-color: #13B65D;
}

.rating-badge[data-rate-bg="3"] {
    background-color: #EFD700;
}

.rating-badge[data-rate-bg="2"] {
    background-color: #FD971C;
}

.rating-badge[data-rate-bg="1"] {
    background-color: #EF3F30;
}

.rating-badge {
    min-width: 40px;
    height: 20px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.star-white {
    width: 12px;
    height: 12px;
    background-position: -172px -447px;
    position: relative;
    top: 1px;
    margin-right: 4px;
}


/* contest-participate-banner */
.contest-participate-banner {
	display: table;
	min-height: 62px;
	padding: 10px 15px;
	background: #2e3192 url('https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/city-bg-360x59.png') repeat-x center bottom;
}

.contest-banner__wrapper {
	max-width: 360px;
	margin: 0 auto;
}

.contest-banner__left-grid {
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #fff;
}

.contest-banner__right-grid {
	width: 66%;
}

.contest-banner__right-grid:hover {
	text-decoration: none;
}

.yellow-arrow-7x10 {
	width: 7px;
	height: 10px;
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/ffe70c/arrow-right-7x10.png) no-repeat;
	display: inline-block;
}

.contest-banner__title-13,
.contest-banner__title-18 {
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.contest-banner__title-13 {
	font-size: 13px;
}

.contest-banner__title-18 {
	font-size: 18px;
}

.contest-banner__subtitle {
	font-size: 12px;
	color: #fff;
}

.contest-banner__target-link {
	color: #ffe70c;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

@media only screen and (max-width: 320px) {
	.contest-banner__right-grid {
		width: 60%;
	}
}
