/* common */
.section-bottom-margin {
    margin-bottom: 10px;
}

.section-header {
    padding: 15px 20px;
    -webkit-box-shadow: 0 2px 2px 0 #dcdcdc;
    -moz-box-shadow: 0 2px 2px 0 #dcdcdc;
    -ms-box-shadow: 0 2px 2px 0 #dcdcdc;
    -o-box-shadow: 0 2px 2px 0 #dcdcdc;
    box-shadow: 0 2px 2px 0 #dcdcdc;
}

.padding-15-20 {
    padding: 15px 20px;
}

.vertical-top {
    display: inline-block;
    vertical-align: top;
}

/* photos-grid-list */
.bg-grid {
    background: #f0f0f0;
}
.photos-grid-list {
    padding: 5px 2px 3px;
    overflow: hidden;
}
.photos-grid-list li {
    float: left;
    padding: 3px;
    height: 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.photos-grid-list li:nth-child(6n+1) {
    width: 100%;
    padding-bottom: 56.1%;
}

.photos-grid-list li:nth-child(6n+2) {
    width: 67%;
    padding-bottom: 37.5%;
}

.photos-grid-list li:nth-child(6n+3),
.photos-grid-list li:nth-child(6n+4) {
    width: 33%;
    padding-bottom: 18.3%;
}

.photos-grid-list li:nth-child(6n+5),
.photos-grid-list li:nth-child(6n+6) {
    width: 50%;
    padding-bottom: 28%;
}

.photos-grid-list li:nth-child(12n+8) {
    float: right;
}

.photos-grid-list li img {
    width: 100%;
}

.photos-grid-list li .black-overlay {
    width: 96%;
    height: 94%;
    top: 3%;
    left: 2%;
    padding-top: 16%;
    background: rgba(0,0,0,0.6);
    line-height: 1.3;
}

/* photos-remainder */
.photos-grid-list:nth-of-type(2n+2) {
    padding-top: 0;
}
.photos-grid-list.photos-remainder-2 li {
    width: 50%;
    padding-bottom: 28%;
}

.photos-grid-list.photos-remainder-3 li:nth-child(3n+2),
.photos-grid-list.photos-remainder-3 li:nth-child(3n+3) {
    width: 50%;
    padding-bottom: 28%;
}

.photos-grid-list.photos-remainder-5 li:nth-child(5n+5) {
    width: 100%;
    padding-bottom: 56.1%;
}

/* model-more-info-section */
.model-more-info-section .item-image-content {
    width: 68px;
    height: 38px;
    margin-right: 5px;
    background: url(https://imgd1.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif) no-repeat center;
    display: inline-block;
}

.item-image-content img {
    width: 100%;
}

.model-more-info-section .bike-details-block {
    font-size: 14px;
    width: 70%;
}

/* ribbon */
.model-ribbon-tag {
    position: relative;
    top: -5px;
    left: -20px;
    font-size: 12px;
    padding: 2px 20px 2px 10px;
    display: inline-block;
}

.upcoming-ribbon {
    color: #fff;
    background: #4d5057;
}

.discontinued-ribbon {
    color: #4d5957;
    background: #b5b5b5;
}

.model-ribbon-tag:after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    right: 0;
    top: 0;
}

.model-more-info-section.ribbon-present {
    padding-top: 10px;
}

/* more info list */
.item-more-details-list li {
    float: left;
    margin-bottom: 8px;
    margin-right: 8px;
}

.item-more-details-list a:hover {
    color: #fff;
    background: #54bbca;
}

.item-more-details-list a {
    display: block;
    padding: 1px 7px;
    color: #787878;
    background: rgba(245, 245, 245, 0.9);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.item-more-details-list a:hover {
    text-decoration: none;
}

.item-more-details-list .icon-label {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
}

.text-grey {
    color: #787878 !important;
}

/* key-specs-list */
.key-specs-list li {
    margin-right: 4px;
    padding-right: 8px;
    position: relative;
    display: inline-block;
}

.key-specs-list li:before {
    content: "";
    width: 1px;
    height: 11px;
    position: absolute;
    top: 3px;
    right: 0;
    border-left: 1px solid #b0b0b0;
}

.key-specs-list li:last-child:before {
    border-left: 0;
}

.btn-size-180 {
    font-size: 14px;
    width: 180px;
    padding: 5px 0;
}

/* videos */
.review-image-wrapper {
    width: 120px;
    height: 68px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.review-image-wrapper a {
    width: 100%;
    display: block;
}

.review-image-wrapper img {
    width: 100%;
    height: 68px;
}

.video-image-thumbnail {
    position: relative;
    height: 68px;
}

.review-heading-wrapper {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}

.video-play-icon {
    width: 24px;
    height: 24px;
    background-position: -107px -486px;
}

/* alternate-bikes-photo-swiper */
.alternate-bikes-photo-swiper .swiper-card,
.alternate-bikes-photo-swiper .swiper-card-target {
    height: 160px;
    min-height: 160px;
}

.alternate-bikes-photo-swiper.card-container {
    padding-top: 0;
    padding-bottom: 15px;
}

.alternate-bikes-photo-swiper .swiper-image-preview {
    padding-top: 0;
    position: relative;
}

.alternate-bikes-photo-swiper .swiper-details-block {
    padding-top: 8px;
}

.black-overlay,
.play-icon-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    padding-top: 18%;
    background: rgba(0,0,0,0.4);
}

.photos-white-icon {
    width: 31px;
    height: 25px;
    background-position: -179px -524px;
}

/* popup gallery */
.gallery-container {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #000;
    overflow-y: scroll;
}

/* gallery-header */
.gallery-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0,0,0,0.6);
}

.gallery-header .gallery-title {
    padding: 10px 40px 0 15px;
}

.horizontal-tabs-wrapper {
    width: 100%;
    display: table;
    border-bottom: 1px solid #82888b;
}

.horizontal-tabs-wrapper li {
    display: inline-block;
    width: auto;
    padding: 12px 20px;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    color: #82888b;
    cursor: pointer;
}

.horizontal-tabs-wrapper li.active {
    border-bottom: 3px solid #ef3f30;
    color: #fff;
    font-weight: bold;
    cursor: default;
    pointer-events: none;
}

/* gallery-body */
.gallery-body {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    margin: 0 auto;
}

/* gallery */
.gallery-swiper .swiper-slide:first-child {
    margin-left: 0;
}

.gallery-swiper.swiper-container {
    padding-top: 12%;
}

.gallery-swiper.swiper-container, .gallery-swiper.swiper-container .swiper-slide {
    width: 100%;
    height: 100%;
}

.main-photo-swiper-details {
    width: 100%;
    position: absolute;
    left: 0;
    top: 10px;
}

.gallery-swiper.swiper-container .swiper-slide img {
    width: 100%;
    height: auto;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 38%;
}

.pos-top3 {
    top: 3px;
}

/* thumbnail swiper */
.thumbnail-swiper.swiper-container,
.color-thumbnail-swiper.swiper-container {
    padding-right: 20px;
}

.thumbnail-swiper .swiper-slide {
    width: 140px;
    height: 68px;
    padding-left: 20px;
    text-align: center;
}

.thumbnail-swiper .swiper-slide:first-child,
.color-thumbnail-swiper .swiper-slide:first-child {
    margin-left: 0px
}

.thumbnail-swiper .swiper-slide img {
    height: 68px;
    border: 1px solid #e2e2e2;
}

.thumbnail-swiper .swiper-slide-active.swiper-slide img {
    border-color: #41b4c4;
}

/* color-thumbnail-swiper */
.color-thumbnail-swiper .swiper-slide {
    width: 140px;
    height: 40px;
    padding-left: 20px;
}

.color-thumbnail-swiper .color-box {
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    border: 1px solid #e2e2e2;
}

.color-thumbnail-swiper .color-box-label {
    width: 62%;
    padding-left: 10px;
}

.color-box.color-count-one span {
    width: 100%;
    height: 100%;
    display: block!important;
    background: #f1f1f1
}

.color-box.color-count-two span {
    width: 100%;
    height: 50%;
    display: block!important;
    background: #f1f1f1
}

.color-box.color-count-three span {
    width: 100%;
    height: 33.33%;
    display: block!important
}

/* gallery-footer */
.footer-tabs-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 6px #999;
}

.footer-shadow {
    box-shadow: 0 0 6px #999;
}

.tab-active {
    background: #41b4c4;
    color: #fff;
}

.tab-separator:after {
    content: '';
    width: 1px;
    height: 30px;
    border-right: 1px solid #e2e2e2;
    position: absolute;
    right: 0;
    top: 10px;
}

.tab-active.tab-separator:after {
    content: none;
}

.footer-tab {
    cursor: pointer;
    text-align: center;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 0;
}

.all-option-tab {
    width: 42%;
}

.grid-3-tab {
    width: 19.33%;
}

.grid-2-tab .grid-3-tab {
    width: 29%;
}

/* tab cards */
.footer-tab-card {
    width: 100%;
    position: fixed;
    bottom: 50px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 6px #999;
}

#color-tab-screen {
    height: 80px;
}

#share-tab-screen {
    height: 75px;
}

#info-tab-screen {
    min-height: 135px;
}

.footer-tab-card .model-more-info-section .bike-details-block {
    width: 75%;
}

#info-tab-screen .btn-white:hover {
    background: #f44336; color: #fff; text-decoration: none; border:1px solid #f44336;
}

/* popup gallery icons */
.grid-icon, .color-palette, .share-icon, .info-icon {
    width: 20px;
    height: 20px;
}

.grid-icon {
    background-position: 0 -572px;
    vertical-align: middle;
}

.tab-active .grid-icon {
    background-position: -22px -572px;
}

.color-palette {
    background-position: -46px -572px;
}

.tab-active .color-palette {
    background-position: -69px -572px;
}

.share-icon {
    background-position: -94px -572px;
}

.tab-active .share-icon {
    background-position: -115px -572px;
}

.info-icon {
    background-position: -138px -572px;
}

.tab-active .info-icon {
    background-position: -161px -572px;
}

/* generic icons */
.reviews-sm,
.news-sm,
.photos-sm,
.videos-sm,
.specs-sm {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    position: relative;
    top: 1px;
}

.reviews-sm {
    background-position: -78px -555px;
}

.news-sm {
    background-position: -108px -555px;
}

.videos-sm {
    background-position: -138px -555px;
}

.specs-sm {
    background-position: -168px -555px;
}

.photos-sm {
    background-position: 0 -486px;
}

.item-more-details-list a:hover .reviews-sm {
    background-position: -93px -555px;
}

.item-more-details-list a:hover .news-sm {
    background-position: -123px -555px;
}

.item-more-details-list a:hover .videos-sm {
    background-position: -153px -555px;
}

.item-more-details-list a:hover .specs-sm {
    background-position: -183px -555px;
}

.item-more-details-list a:hover .photos-sm {
    background-position: -198px -555px;
}

/* button arrows */
.btn-red-arrow {
    width: 6px;
    height: 10px;
    background-position: -204px -35px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

.btn-white.active .btn-red-arrow,
.btn-white:hover .btn-red-arrow {
    background-position: -204px -49px;
}

.btn-white:hover {
    text-decoration: none;
}

* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 768px) {
    .photos-grid-list li:nth-child(6n+3),
    .photos-grid-list li:nth-child(6n+4) {
        padding-bottom: 18.6%;
    }

    .photos-grid-list li:nth-child(6n+2) {
        padding-bottom: 37.7%;
    }

    .photos-grid-list li .black-overlay {
        width: 98%;
        height: 97%;
        top: 2%;
        left: 1%;
        padding-top: 24%;
    }
}

@media only screen and (max-width: 320px) {
    .photos-grid-list li:nth-child(6n+2) {
        padding-bottom: 37.8%;
    }

    .footer-tab-card .model-more-info-section .bike-details-block {
        width: 70%;
    }

    .footer-tab-card .btn-size-180 {
        width: 150px;
    }

    /* thumbnail-tab-screen */
    #thumbnail-tab-screen {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .thumbnail-swiper .swiper-slide {
        width: 110px;
        height: 56px;
        padding-left: 10px;
    }
    .thumbnail-swiper .swiper-slide img {
        height: 56px;
    }
}

@media screen and (orientation:landscape) {
    .gallery-body,
    .gallery-swiper.swiper-container {
        padding-top: 0;
    }

    .gallery-swiper.swiper-container .swiper-slide img {
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .main-photo-swiper-details {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.7));
        z-index: 2;
        text-align: left;
        padding-top: 10px;
    }

    .main-photo-swiper-details .text-xx-light {
        color: #fff;
    }

    /* thumbnail-tab-screen */
    #thumbnail-tab-screen,
    #color-tab-screen {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .thumbnail-swiper .swiper-slide {
        width: 110px;
        height: 56px;
        padding-left: 10px;
    }
    .thumbnail-swiper .swiper-slide img {
        height: 56px;
    }
}