<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    <section name="wurfl" type="Net.SourceForge.WURFL.Core.Resource.Config.WURFLConfigSectionHandler, Net.SourceForge.WURFL" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Wurfl" publicKeyToken="816aeec277aa13b9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.4.0" newVersion="1.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <wurfl>
    <wurflLocation path="bin\wurfl.xml" />
    <patches>
      <add path="bin\web_browsers_patch.xml" />
    </patches>
  </wurfl>
  <appSettings>
    <add key="connectionStringClassified" value="server=cwdb\cwdev;uid=cwuser;pwd=cw@007;database=Carwale" />
    <add key="connectionString" value="server=cwdb\cwdev;uid=cwuser;pwd=cw@007;database=Carwale" />
    <add key="UsedCarLeadQueue" value="USEDCARLEADS" />
    <add key="UsedCarStockQueue" value="USEDCARSTOCK" />
    <add key="UsedCarStockImageQueue" value="USEDCARSTOCKIMAGES" />
    <add key="UsedCarStockImageIPCQueue" value="MASTERIMAGE" />
    <add key="UsedCarESStockQueue" value="CLASSIFIED" />
    <add key="UsedCarCityCompletionField" value="mm_suggest" />
    <add key="IPCQueueNameMysql" value="USEDIMAGEIPC" />
    <add key="smsqueue" value="SMSv1" />
    <add key="smspriorityqueue" value="SmsPriority" />
    <add key="News" value="Carwale.CMS.News" />
    <add key="IsMemcachedUsed" value="false" />
    <add key="MemcacheTimespan" value="30" />
    <add key="tsMask" value="30" />
    <add key="sendError" value="On" />
    <add key="errorMailTo" value="webserverbugs@gmail.com" />
    <add key="MobileAlertQueuename" value="MobileAppAlerts" />
    <add key="CRMApi" value="Carwale.Service.CRMApi" />
    <add key="APIKey" value="AIzaSyD9CiSrNomU7HPw5PLIpFZYP6NXXOq0dlE" />
    <add key="MobileAlertBatchSize" value="1000" />
    <!-- Insurance capthcha used in m and desktop -->
    <add key="captchaExpire" value="15" />
    <!-- Insurance capthcha used in m and desktop END -->
    <add key="UsedCarFeedbackEmail" value="shubham.agarwal@carwale.com" />
    <add key="SendSMS" value="1" />
    <add key="isMSMQ" value="true" />
    <add key="adPath" value="" />
    <add key="imgRootPath" value="https://webserver:8083" />
    <add key="staticUrl" value="" />
    <add key="stagingPath" value="" />
    <add key="AppPath" value="/" />
    <add key="WebApi" value="https://webserver/" />
    <add key="HostUrl" value="localhost" />
    <add key="Domain" value="localhost" />
    <!-- Will be used for accessing the webservice for payment gateway. -->
    <add key="PaymentGatewayUrl" value="https://webserver:8082/PaymentWebServices/InquiryGateway.asmx" />
    <!--Payment Gateway Related keys Start-->
    <add key="configFilePath" value="E:\Sites\carwale\mycarwale\PG\Config\" />
    <add key="astrFileName" value="E:\Sites\Carwale\mycarwale\PG\icici\00002562.key" />
    <add key="WorkingKey" value="ft6z77h5haqyogytvhsdec8lfy73uvo9" />
    <add key="UsedListPageSize" value="20" />
    <add key="UsedListPageSlotSize" value="5" />
    <add key="UsedCountDataRefreshTimeMinutes" value="30" />
    <add key="MumbaiAroundCityIds" value="1,40,13,6,8,1029,395,1281,1267" />
    <add key="DelhiNCRCityIds" value="10,224,225,273,246" />
    <add key="NewsCacheCount" value="50" />
    <!-- Used at CW Home Page -->
    <add key="UsedCarSearchCount" value="28+" />
    <!-- Default city to show prices across site -->
    <add key="DefaultCityId" value="10" />
    <add key="DefaultCityName" value="New Delhi" />
    <add key="IPtoLocation" value="true" />
    <add key="MostRecentArticlesCount" value="20" />
    <add key="showcitypopup" value="true" />
    <!--added-->
    <add key="asktheExpertpopup" value="true" />
    <!--added-->
    <add key="PopularNewsList" value="50" />
    <!--added-->
    <add key="ShowEmiAssistLink" value="false " />
    <!--added-->
    <add key="ZipDial" value="1" />
    <!--added-->
    <add key="interestRate" value="10.5" />
    <!--added-->
    <add key="tenure" value="60" />
    <!--added-->
    <add key="SourceId" value="1" />
    <add key="ExpertReviewsDesktop_Count" value="3" />
    <!--added-->
    <add key="ExpertReviewsForMobile_Count" value="3" />
    <!--added-->
    <add key="ModelNewsCount" value="5" />
    <!--added-->
    <add key="ModelUserReviewsCount_Desktop" value="5" />
    <!--added-->
    <add key="ModelUserReviewsCount_Mobile" value="3" />
    <add key="RabbitMQ" value="true" />
    <add key="RabbitMQImage" value="true" />
    <add key="defaultPackageId" value="44" />
    <add key="paidPkgId" value="49" />
    <add key="freePkgId" value="48" />
    <add key="freePkgType" value="30" />
    <add key="paidPkgType" value="31" />
    <add key="BookingAmount" value="1" />
    <add key="pushToIC" value="on" />
    <add key="d_.5" value="5" />
    <add key="d_1" value="15" />
    <add key="d_2" value="20" />
    <add key="d_3" value="35" />
    <add key="d_4" value="40" />
    <add key="d_5" value="50" />
    <add key="A:1" value="3.127" />
    <add key="A:2" value="3.283" />
    <add key="A:3" value="3.440" />
    <add key="B:1" value="3.039" />
    <add key="B:2" value="3.191" />
    <add key="B:3" value="3.343" />
    <add key="RSLeadLimit" value="10" />
    <add key="RSInsLead" value="1" />
    <add key="RSLeadStartTime" value="01:00:00 PM" />
    <add key="L:1" value="1129" />
    <add key="L:2" value="1332" />
    <add key="L:3" value="4109" />
    <add key="LeadSourceId" value="1" />
    <add key="LeadSourceCategoryId" value="1" />
    <add key="PADriverOwnerLiability" value="100" />
    <add key="PaidDriverLiability" value="0" />
    <add key="ServiceTax" value="12.24" />
    <add key="DesktopPlatformId" value="1" />
    <add key="HdfcLeadsDailyLimit" value="1" />
    <add key="zipDialCustomerToken" value="4050d98bf0f5d73425fb09c60349dff0dc6e5bcb" />
    <add key="zipDialZ2V" value="0becdec1b316cb13f04764daf893bb286ec06adb" />
    <add key="MobileSourceId" value="43" />
    <add key="ClientSourceId" value="1" />
    <add key="RabbitMQPriceQuoteQueue" value="Price_Quote_Lead_Queue" />
    <add key="ElasticCarDataQueue" value="ELASTICCARDATA" />
    <!-- added keys-->
    <add key="FacebookAppId" value="481333722014878" />
    <add key="GoogleClientId" value="66369593755-840k85iulo17fo63aj4aa94806j0hm9h.apps.googleusercontent.com" />
    <add key="GoogleProjectScope" value="https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile" />
    <add key="GoogleRedirectURL" value="http://localhost/loading/googleredirect.html" />
    <add key="googlemapskey" value="AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM" />
    <add key="MakeNewsCount_Mobile" value="3" />
    <add key="MakeNewsCount_Desktop" value="5" />
    <add key="UpcomingCarsCount_Desktop" value="4" />
    <add key="UpcomingCarsCount_Mobile" value="5" />
    <add key="mobileSiteURL" value="/m" />
    <add key="DefaultCacheRefreshTime" value="30" />
    <add key="OtherModelPhotosListCount" value="10" />
    <add key="SimilarModelPhotosListCount" value="10" />
    <add key="ContentListBySubCategoryCount" value="50" />
    <add key="FeaturedArticlesCount" value="50" />
    <add key="MostRecentArticlesCount" value="20" />
    <add key="RelatedArticlesCount" value="30" />
    <add key="ContentListByCategoryCount" value="50" />
    <add key="OfferUniqueTransaction" value="CWL" />
    <add key="BillDeskWorkingKey" value="OFOqEwI4jUF9" />
    <add key="CompareCarsCacheRefreshTime" value="180" />
    <add key="MileageCacheRefreshTime" value="120" />
    <add key="MobileUsedListPageSize" value="10" />
    <add key="TemplateHeight" value="500" />
    <add key="ShowESCampaign" value="true" />
    <add key="BannerImgHostUrl_App" value="https://imgd1.aeplcdn.com/" />
    <add key="BannerImgOrigImgUrl_App" value="/cw/cars/audi/a6.jpg" />
    <add key="IsMissedCallVerificationDone" value="1" />
    <add key="MissedCallVerificationNumber" value="0223 381 4251" />
    <add key="MissedCallVerificationNumber_iOS" value="02233814251" />
    <add key="SMTPSERVER" value="172.16.10.250" />
    <add key="MailFrom" value="Webserver" />
    <add key="ReplyTo" value="contact@carwale.com" />
    <add key="localMail" value="no-reply@carwale.com" />
    <add key="NewRelic.AppName" value="" />
    <add key="isLocal" value="false" />
    <add key="ElasticHostUrl" value="172.16.0.11:9201" />
    <add key="IsElasticSearchUsed" value="true" />
    <add key="ElasticIndexName" value="stagingstock" />
    <add key="Used_SimilarCarExcludedCities" value="-1,10,166,220,221,224,225,231,233,234,235,237,244,246,273,279,426,3001" />
    <add key="ApnsCertiPath" value="C:\\OpenSSL-Win32\\bin\\iphone_dev.p12" />
    <add key="IsDevelopment" value="true" />
    <add key="CallSlugNumber" value="18002090230" />
    <add key="CallSlugMakes" value="16,11,4,18,1,45,51" />
    <add key="LuxuryCarDealerIds" value="3849" />
    <add key="CholaMailReceipient" value="piyush.sahu@carwale.com,suhail.pawaskar@carwale.com,pramila.panigrahy@carwale.com" />
    <add key="CarwaleImgAbsolutePath" value="D:\work\carwaleimg\" />
    <add key="CDNHostURL" value="https://imgd.aeplcdn.com/" />
    <add key="IPCQueueName" value="CWImageIPC" />
    <add key="staticPath" value="" />
    <add key="ListingsTrackingPlatform" value="0" />
    <add key="WebApiHostUrl" value="http://172.16.0.11/api/" />
    <add key="PolicyBossCar_ProductId" value="1" />
    <add key="PolicyBossBike_ProductId" value="10" />
    <add key="PaisaBazaar_User" value="carWale" />
    <add key="PaisaBazaar_Pass" value="123456" />
    <add key="PaisaBazaarHostURL" value="http://122.160.107.102:10051" />
    <add key="areaindex" value="locations" />
    <add key="AutocompleteAreaIndex" value="locations" />
    <add key="AreaCompletionField" value="areaSuggests" />
    <add key="AutocompleteESHost" value="http://172.16.0.11:9201" />
    <add key="AutocompleteCityIndex" value="newcityautosuggest" />
    <add key="CityCompletionField" value="mm_suggest" />
    <add key="UsedCarCityCompletionField" value="mm_suggest" />
    <add key="ESSuggestionRtoCitiesIndex" value="" />
    <add key="AutocompleteCarIndex" value="autosuggeststgmysql" />
    <add key="HDFCCityList" value="1,2,220" />
    <add key="ElasticLog" value="false" />
    <add key="FacebookPixelId" value="679897508764882" />
    <add key="OutbrainPixelId" value="000f19b964704c0545015e2868f10ada02" />
    <add key="UpcomingModelId" value="852,860" />
    <add key="UpcomingTextDict" value="852=Experience the Tiago;" />
    <add key="PriceUpperLimitPercent" value="1.1" />
    <add key="PriceLowerLimitPercent" value="0.8" />
    <add key="KmUpperLimitPercent" value="1.1" />
    <add key="KmUpperLimit" value="10000" />
    <add key="AgedCarBlockingAmount" value="1" />
    <add key="CarwaleAdvantageMaskingNumber" value="1800-209-0230" />
    <add key="DealsApiHostUrl" value="http://10.0.0.100:7867/" />
    <add key="BAGIApiUrl" value="https://buyuat.bharti-axagi.co.in:8443/bagiapps/Carwale.do" />
    <add key="BAAgencyApiUrl" value="http://182.72.128.2//FinanceAPI/BAweblead.asp?" />
    <add key="PostLeadToBharti" value="false" />
    <add key="adSlotDomain" value="Staging_" />
    <add key="BridgestoneUrl" value="/specials/tyreguide/" />
    <add key="CarPlaceholder" value="Type to select car name, e.g. Tata Tiago" />
    <add key="UpcommingCarPlaceholder" value="Type to select car name, e.g. Tata Tiago" />
    <add key="CarCount" value="8" />
    <add key="WebContentSegmentList" value="1,2,6,10,13" />
    <add key="BlockedRecommndationCities" value="9,10,224,225,246,273" />
    <add key="MobileNewsWidget_Count" value="5" />
    <add key="PhotosCategories" value="10" />
    <add key="VideosCategories" value="13" />
    <add key="AppCarCount" value="11" />
    <add key="IPLogs" value="IPLogs" />
    <add key="EmiExperimentCities" value="176,105" />
    <add key="MobilePaidCrossSellDefaultTemplate" value="92" />
    <add key="MobilePaidCrossSellNewTemplate" value="558" />
    <add key="AndroidPaidCrossSellDefaultTemplate" value="16" />
    <add key="IOSPaidCrossSellDefaultTemplate" value="23" />
    <add key="AndAppNotificationVersionId" value="69" />
    <add key="IosAppNotificationVersionId" value="18" />
    <add key="cholastates" value="1,11,4,2,6,41,9,17,12,37" />
    <add key="AdvantagePageSizeDesktop" value="24" />
    <add key="MailLeadToChola" value="true" />
    <add key="InsuranceAPIMaskingNumber" value="" />
    <add key="InsuranceClient" value="0" />
    <add key="InsuranceThankYouMsg" value="Our insurance partner will contact you shortly." />
    <!--Key values should be sorted -->
    <add key="ElectricE2OUrl" value="/electriccars/" />
    <add key="PriceSupportText" value="Avg. Ex-Showroom" />
    <add key="ElectricE2OUrl" value="/electriccars/" />
    <!--Key values should be sorted -->
    <add key="VolvoV90BookingAmount" value="1" />
    <add key="VolvoV90BccMailIds" value="rakesh.yadav@carwale.com" />
    <add key="PriceReasonText" value="Price in {0} not available." />
    <add key="AlternatePriceText" value="Avg. Ex-Showroom" />
    <add key="CityPriceText" value="Ex-Showroom" />
    <add key="LogOnlySpCalls" value="false" />
    <add key="EnableLiveCallLogs" value="false" />
    <add key="pricePrefix" value="" />
    <add key="priceSuffix" value="onwards" />
    <add key="UpcomingPriceText" value="Expected Price" />
    <add key="UpcomingPriceDate" value="Expected Date" />
    <add key="DiscontinuePriceText" value="Last recorded price" />
    <add key="rupeeSymbol" value="₹ " />
    <add key="PriceSeperator" value=" - " />
    <add key="FeatureSlotEqualToOnePercentage" value="0" />
    <add key="FeatureSlotEqualToTwoPercentage" value="30" />
    <add key="FeatureSlotEqualToThreePercentage" value="50" />
    <add key="AdvantageDealerId" value="20554" />
    <add key="DealsAutobizHostUrl" value="http://10.0.0.100:7866/" />
    <add key="InsuranceClient" value="0" />
    <add key="InsuranceThankYouMsg" value="Our insurance partner will contact you shortly." />
    <add key="OfferOfWeek" value="566-1-2016/09/26|566-2-2016/09/26" />
    <add key="ExperimentCacheExpire" value="true" />
    <add key="ESSurveyCampaignId" value="4" />
    <add key="E2OCommunicationModels" value="1057,504,1003,599,273,584,1081,1046" />
    <add key="relatedArticleCount" value="10" />
    <add key="ExpertCategories" value="2,8" />
    <add key="FeatureCategories" value="6" />
    <add key="NewsCategories" value="1,19,22,12" />
    <add key="NewsCategoriesListing" value="1,2,6,8,19,22" />
    <add key="headerAbTestValues" value="1,10" />
    <add key="CityHavingPriceText" value="On-Road Price" />
    <add key="ShowPriceInCityText" value="Show price in my city" />
    <add key="ViewPriceBreakupText" value="View Price Breakup" />
    <add key="sponsoredauthor" value="2084" />
    <add key="ContentSegmentList" value="1,2,6" />
    <add key="NewCarLeadCountLimit" value="5" />
    <add key="NewCarLeadCountLimitOnSession" value="5" />
    <add key="SearchBoxExample" value="Chevrolet Cruze" />
    <add key="SearchBoxExampleUrl" value="/chevrolet-cars/cruze/" />
    <add key="CarWaleIP" value="180.179.65.78|180.179.65.72|61.16.185.26|172.16.3.245|124.153.73.181|124.153.73.177|180.179.65.62" />
    <add key="BlockedRecommendationCities" value="9,10,224,225,246,273" />
    <add key="AppJSVersion" value="201701041756377648" />
    <add key="CartradeCertificationId" value="600" />
    <add key="InsuranceStates" value="0" />
    <add key="AdvantagePageSizeApp" value="10" />
    <add key="logmemcache" value="false" />
    <add key="NullCacheDuration" value="1" />
    <add key="SetAdTargetingModels" value="0" />
    <add key="SetAdTargetingMakes" value="8,9" />
    <add key="GrpcAdTargetingServerList" value="10.10.4.60:8085" />
    <add key="AbTestKeyMinValue" value="1" />
    <add key="AbTestKeyMaxValue" value="100" />
    <add key="AbTestVersion" value="1" />
    <add key="coverfoxcities" value="-1,12,105" />
    <add key="staticRootPath" value="/static" />
    <add key="cdnUrl" value="" />
    <add key="FuelCardCities" value="1,6,8,10,12,13,128,2,176,198,105,246,273,225,224,40,395" />
    <add key="MenuSpecials" value="51,52,53,54,55,56,57,58,59,60" />
    <add key="AskingAreaCityIds" value="1,2,10" />
    <add key="SimilarModelsDefaultCount" value="6" />
    <add key="SimilarModelsForUpcomingDefaultCount" value="8" />
    <!-- Output cache duration value in seconds -->
    <add key="OutputCacheDuration" value="0" />
    <add key="ArticleViewQueue" value="EDITCMS_ARTICLE_UPDATER_MYSQL" />
    <add key="ThreadViewCountQueue" value="THREADVIEWCOUNTMYSQL" />
    <add key="UserReviewViewsUpdaterQueue" value="USERREVIEWVIEWSUPDATER_MYSQL" />
    <add key="MobileSubscribeQueueName" value="MOBILENOTIFICATIONSUBSCRIPTION-MYSQL" />
    <add key="IpToLocationIndexName" value="ip_location" />
    <add key="IpToLocationTypeName" value="iplocationobj" />
    <add key="LeadQualityPredictionModelName" value="LeadQualityScore" />
    <add key="DealerCampaignGrpcServer" value="172.16.0.11:44444" />
    <add key="CarwaleWebService" value="http://172.16.0.11:8086/" />
    <add key="AutobizHostURL" value="http://stg.autobiz.in" />
    <add key="GrpcChannelWaitTime" value="4000" />
    <add key="GrpcCampaignChannelWaitTime" value="4000" />
    <add key="LogGrpcCallTimings" value="true" />
    <add key="GrpcCallTimeLimitCheckValue" value="500" />
    <add key="GrpcArticleServerList" value="172.16.0.11:55555;172.16.0.11:55554" />
    <add key="UseGrpc" value="true" />
    <add key="LogGrpcErrors" value="true" />
    <add key="GrpcRetryCount" value="1" />
    <add key="CTFinanceDesktop" value="https://test.cartrade.com/used-car-finance-cw/" />
    <add key="CTFinanceMsite" value="https://testm.cartrade.com/used-car-finance-cw/" />
    <add key="RefreshCacheDuration" value="5" />
    <add key="MinStaticRootPath" value="/staticmin" />
    <add key="IsMinificationEnabled" value="false" />
    <add key="PredictiveGrpcServer" value="172.16.0.27:9669;172.16.0.29:9669" />
    <add key="PredictionModelName" value="LeadScore" />
    <add key="PredictionScoreServiceWaitTime" value="100" />
    <add key="UsedStockFinanceQueue" value="USEDCARSTOCKFINANCE" />
    <add key="BhriguTrackingUrl" value="http://172.16.0.27:8089/" />
    <add key="FinanceLinkText" value="Get Instant Loan Approval" />
    <add key="CTFinanceCWVisitedURL" value="https://testm.cartrade.com/cw_visited.html" />
    <add key="GrpcPoolSize" value="2" />
    <add key="carTradeBuyingIndexApi" value="https://testdata.cartrade.com/cw_right_price_api/carwale_sell_used_car_voucher_right_price.php" />
    <add key="CTValuationApiUrl" value="http://testdata.cartrade.com/cw_right_price_api/cw_internal_right_price_api.php" />
    <add key="LeadCtaABTestValues1" value="1,2" />
    <add key="LeadCtaABTestText1" value="Get Dealer Assistance" />
    <add key="LeadCtaABTestText2" value="Get Emi Assistance" />
    <add key="UsedStockProcurementQueueNew" value="USEDCARSTOCKPROCUREMENTNEW" />
    <add key="CTSellCarVoucherHelpline" value="+912239965007" />
    <add key="adPathMobile" value="" />
    <add key="staticHostUrl" value="https://st.aeplcdn.com/stg1_v1" />
    <add key="versionpagecachetime" value="1440" />
    <add key="ESSuggestionRtoCitiesIndex" value="" />
    <add key="coverfoxstates" value="3,8,10,14,15,18,20,22,23,42" />
    <add key="coverfoxhost" value="http://api.uat.coverfox.com" />
    <add key="coverfoxleadhost" value="http://alfred.coverfox.com" />
    <add key="InsuranceAPIMaskingNumber" value="" />
    <add key="carTradeLeadPushApi" value="http://test.cartradeexchange.com/dms_apis/" />
    <add key="CarwaleDefaultContact" value="1800 2090 230" />
    <add key="IndigoUniqueKey" value="HDFCC2TAHAD1245J" />
    <add key="DefaultImageQuality" value="85" />
    <add key="DefaultImageUrl" value="/cw/cars/no-cars.jpg" />
    <add key="localimgsiteport" value="9001" />
    <add key="CitiesForSellCarOnPQ" value="1,176,105,394,12,1270,2,10,273,246,6,8,13,40,395,1029,1267,1281,224,225,645,646,647,128,198,160,220,177,5,234,3,244,143" />
    <add key="PricesElasticIndexName" value="version_city_prices" />
    <add key="TableDescriptionFuelFirstMakes" value="7" />
    <add key="BannerImageUrl" value="http://staging.autobiz.in/webapi/getbannerimages/" />
    <!-- API Gateway keys -->
    <add key="useApiGateway" value="true" />
    <add key="GrpcAPIGatewayServerList" value="10.10.3.60:54345" />
    <add key="DefaultTimeout" value="3000" />
    <add key="EditCMSModuleName" value="editcms_stg" />
    <!-- Zipkin Keys -->
    <add key="ZipkinKafkaIP" value="172.16.1.39:9092" />
    <add key="ZipkinTraceRate" value="1.0" />
    <add key="ZipkinKafkaTopic" value="zipkin" />
    <add key="IsGSTShow" value="True" />
    <add key="PriceWithGSTText" value=" (incl. GST)" />
    <add key="PriceEstimatedGSTText" value=" (incl. GST, Estimated)" />
    <add key="GSTPriceUpdationTime" value="06/30/2017 13:00:00" />
    <add key="AppsGSTText" value=" (GST)" />
    <add key="PQPagePriceWithGSTText" value="incl. GST" />
    <add key="PQPagePriceEstimatedGSTText" value="incl. GST, Estimated" />
    <add key="ModelImageCarouselCount" value="10" />
    <add key="BestCarsBodyTypes" value="1,3,6,10" />
    <add key="NewCarsSponsoredVersionIds" value="3022,5442" />
    <add key="NissanMicraSponsoredTargetModelId" value="930" />
    <add key="PQNearByCityCount" value="3" />
    <add key="RemoveMaskingNumCampaigns" value="6933,6934,6935,6936,6937,6941,6819" />
    <add key="SecurityPassword" value="CaRwAlEmUmBaI" />
    <add key="GrpcUserProfilingChannelWaitTime" value="100" />
    <add key="CertificationLeadOrigins" value="27,28,29,30" />
    <add key="UsedLeadBuyerSMSTemplateId" value="548" />
    <add key="UsedLeadSellerSMSTemplateId" value="549" />
    <add key="UsedLeadBuyerEmailTemplateId" value="550" />
    <add key="UsedLeadDealerEmailTemplateId" value="551" />
    <add key="UsedLeadIndEmailTemplateId" value="552" />
    <add key="SimilarUpcomingCarCount" value="5" />
    <add key="ValuationText" value="Check Right Price" />
    <add key="OptionalChargesDisplayCount" value="2" />
    <!-- values should be sorted order-->
    <add key="Exterior360ExceptionModels" value="976" />
    <add key="NearByCitiesWidgetHeading" value="@ModelName On Road Price in other cities" />
    <add key="CarComparisonSponsoredAd" value="1007" />
    <add key="CWRecaptchaSecretKey" value="6Lep-zIUAAAAAAzgygL-XmmvEg8S7NRjZrWBluXp" />
    <add key="ChromeCaptchaEnabledVersions" value="46.0.2490.76,44.0.2403.119,43.0.2357.121,49.0.2623.105,48.0.2564.106,50.0.2661.86,51.0.2704.91,45.0.2454.95,48.0.2531.0,42.0.2311.137,44.0.2403.90" />
    <add key="AndroidWebviewCaptchaEnabledVersions" value="30.0.0.0,39.0.0.0,37.0.0.0" />
    <add key="AndroidBrowserCaptchaEnabledVersions" value="4,4.2" />
    <add key="DummycwvCookie" value="aaaaaaaaaaaaaaaaaaaaaaaaa.aaaaaaaaaa.9999999999.9999999999.9999999999.9" />
    <add key="DummyImei" value="999999999999999" />
    <add key="newcarfinderindex" value="newcarfinderindex" />
    <add key="ncfcardoctype" value="ncfcar" />
    <add key="enabledelaylogging" value="true" />
    <add key="RenaultLeadFormModelId" value="560" />
    <add key="C2BDeleteListingQueue" value="c2bdeletelisting" />
    <add key="C2BDeleteListingKey" value="c2bdeletelisting" />
    <add key="AbTestMinValForNewPq" value="51" />
    <add key="AbTestMaxValForNewPq" value="100" />
    <add key="AbTestMinValForNewPqScenario1" value="61" />
    <add key="AbTestMaxValForNewPqScenario1" value="80" />
    <add key="AbTestMinValForNewPqWithoutOptional" value="51" />
    <add key="AbTestMaxValForNewPqWithoutOptional" value="60" />
    <add key="NewPqPageUseDynamicTemplate" value="False" />
  </appSettings>
 
</configuration>
