.video-jumbotron {
     width: 100%;
    height:180px;
    display:block;
    position:relative;
    overflow:hidden;
    background:#fff
}
.video-jumbotron a{
    margin:0 auto;
    width:320px;
    height:180px;
    display:block;
    background:url(https://imgd3.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif) center center no-repeat;
    text-align:center
}
.video-jumbotron img{
    width:320px;
    position:relative;
    top:-32px
}
.video-jumbotron span{
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    text-align:left;
    font-size:14px;
    font-weight:700;
    color:#fff;
    padding:10px;
    background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(5,0,0,.7))
}
.video-jumbotron span:hover{
    text-decoration:underline
}
.video-jumbotron-list{
    padding:20px;
    overflow:hidden;
    background:#fff
}
.bottom-shadow{
    -webkit-box-shadow:0 2px 2px #ccc;
    -moz-box-shadow:0 2px 2px #ccc;
    box-shadow:0 2px 2px #ccc
}
.powerdrift-banner{
    background:url(https://imgd3.aeplcdn.com/0x0/bw/static/landing-banners/m/m-powerdrift-banner.jpg) center no-repeat #222;
    height:109px
}
.powerdrift-banner.container{
    width:87%
}
.powerdrift-subscribe{
    margin-left:5px;
    margin-right:5px;
    padding:5px 5px 0
}
.margin-top3{
    margin-top:3px
}
.text-default{
    color:#4d5057
}
.text-xlight-grey{
    color:#a8afb3
}
.line-height17{
    line-height:1.7
}
.video-jumbotron-list li{
    width:100%;
    border-top:1px solid #e2e2e2;
    margin-top:20px;
    padding-top:20px
}
.video-jumbotron-list li:first-child{
    border-top:none;
    margin-top:0;
    padding-top:0
}
.video-jumbotron-list a{
    display:inline-block;
    vertical-align:middle
}
.video-jumbotron-list .jumbotron-list-image{
    width:100px;
    height:55px;
    overflow:hidden;
    background:url(https://imgd3.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif) center center no-repeat;
    text-align:center
}
.swiper-slide img,.video-carousel-image{
    height:157px;
    width:100%
}
.video-jumbotron-list .jumbotron-list-image img{
    width:100%;
    position:relative;
    top:-10px
}
.jumbotron-list-title{
    width:52%
}
.swiper-slide.video-carousel-content{
    width:270px;
    min-height:290px;
    background:#fff;
    border:1px solid #e2e2e2
}
.video-carousel-image{
    display:block;
    overflow:hidden;
    text-align:center;
    position:relative
}
.video-carousel-image a{
    width:100%;
    height:100%;
    display:block
}
#expertReviewsWrapper .video-carousel-image a,.swiper-slide.reviews-carousel-content .video-carousel-image{
    height:135px
}
.video-carousel-desc{
    padding:10px
}
.border-light-right{
    border-right:1px solid #e2e2e2
}
.more-videos-link{
    width:200px;
    display:block;
    margin:15px auto
}
.swiper-slide.reviews-carousel-content{
    width:240px;
    min-height:305px;
    background:#fff
}
.reviews-carousel-content img{
    border:1px solid #e2e2e2;
    position:relative;
    top:-9px
}
#expertReviewsWrapper .more-videos-link{
    margin-bottom:0;
    padding-bottom:20px
}
#expertReviewsWrapper .swiper-wrapper{
    position:relative;
    left:20px
}
#expertReviewsWrapper .swiper-slide{
    margin-right:20px!important
}
.brand-type-container ul{
     text-align:center
}
 .brand-type-container li{
    display:inline-block;
    vertical-align:top;
    width:90px;
    height:70px;
    margin-bottom:10px;
    text-align:center
}
.brand-type-container li:hover .brand-type-title{
    font-weight:700
}
.brand-type-container a{
    text-decoration:none;
    color:#565a5c;
    display:inline-block
}
.brand-type-title{
    display:block;
    text-transform:capitalize
}
.brandlogosprite{
    background-image:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/brand-type-sprite.png?28Sep20181538143400578);
    background-repeat:no-repeat;
    display:inline-block
}
.brand-2,
.brand-1,
.brand-40,
.brand-3,
.brand-4,
.brand-11,
.brand-20,
.brand-5,
.brand-39,
.brand-6,
.brand-7,
.brand-8,
.brand-34,
.brand-17,
.brand-9,
.brand-19,
.brand-10,
.brand-12,
.brand-22,
.brand-15,
.brand-16,
.brand-13,
.brand-14,
.brand-41,
.brand-42,
.brand-81,
.brand-71,
.brand-21,
.brand-38,
.brand-23,
.brand-72,
.brand-73,
.brand-74,
.brand-75,
.brand-76,
.brand-77,
.brand-79 {
	height: 30px;
}
.brand-2{
    width:52px;
    background-position:0 0
}
.brand-7{
    width:34px;
    background-position:-58px 0
}
.brand-1{
    width:53px;
    background-position:-97px 0
}
.brand-8{
    width:60px;
    background-position:-156px 0
}
.brand-12{
    width:40px;
    background-position:-222px 0
}
.brand-40{
    width:75px;
    background-position:-268px 0
}
.brand-34{
    width:73px;
    background-position:-349px 0
}
.brand-22{
    width:73px;
    background-position:-428px 0
}
.brand-3{
    width:26px;
    background-position:-507px 0
}
.brand-17{
    width:52px;
    background-position:-539px 0
}
.brand-15{
    width:71px;
    background-position:-597px 0
}
.brand-4{
    width:26px;
    background-position:-674px 0
}
.brand-9{
    width:59px;
    background-position:-706px 0
}
.brand-16{
    width:70px;
    background-position:-771px 0
}
.brand-5{
    width:35px;
    background-position:-847px 0
}
.brand-19{
    width:73px;
    background-position:-889px 0
}
.brand-13{
    width:73px;
    background-position:-968px 0
}
.brand-6{
    width:38px;
    background-position:-1047px 0
}
.brand-10{
    width:61px;
    background-position:-1091px 0
}
.brand-14{
    width:76px;
    background-position:-1159px 0
}
.brand-39{
    width:53px;
    background-position:-1242px 0
}
.brand-20{
    width:49px;
    background-position:-1300px 0
}
.brand-11{
    width:74px;
    background-position:-1354px 0
}
.brand-41{
    width:40px;
    background-position:-1432px 0
}
.brand-42{
    width:38px;
    background-position:-1481px 0
}
.brand-81{
    width:38px;
    background-position:-1529px 0
}
.brand-71{
    width:23px;
    background-position:-1577px 0
}
 .brand-23 {
     width: 70px;
     background-position: -1839px 0;
}
.brand-72 {
     width: 70px;
     background-position: -2396px 0;
}
.brand-73 {
     width: 30px;
     background-position: -1958px 0;
}
.brand-74 {
     width: 66px;
     background-position: -2000px 0;
}
.brand-75 {
     width: 70px;
     background-position: -2076px 0;
}
.brand-76 {
     width: 70px;
     background-position: -2156px 0;
}
.brand-77 {
     width: 70px;
     background-position: -2236px 0;
}
.brand-79 {
	width: 70px;
	background-position: -2316px 0;
}
