@model Tuple<double, double>
@using Carwale.UI.Common;

<section>
    <h2 class="margin-left10 margin-bottom10">Tigor Price and Competition</h2>
    <p class="content-inner-block-10 bg-white margin-bottom10">The new Tigor compact sedan is placed below the Zest and is priced in the ₹ @FormatPrice.GetFormattedPriceV2(Model.Item1.ToString()) to ₹ @FormatPrice.GetFormattedPriceV2(Model.Item2.ToString()) range. At this price point for a budget sedan segment, it has created a huge impact on the sub-four metre sedans like the Honda Amaze, Maruti Suzuki Swift Dzire and the Hyundai Xcent.</p>
</section>