<!--To do later-->

<div class="pros-and-cons-container compare-cars-section">
    <h2 class="pros-and-cons__title">Editorial’s Take</h2>
    <div class="pros-cons-card-container compare-car-cards">
        <ul class="pros-cons-card-list">
            <li class="pros-cons__list-item">
                <div class="pros-cons__card">
                    <p class="card__title"><span class="thumbs-up-icon"></span>Good Things</p>
                    <div class="pros-cons__list-wrapper">
                        <div class="card-list__container">
                            <ul>
                                <li>Lorem Ipsum is simply dummy</li>
                                <li>Lorem Ipsum is simply dummy</li>
                                <li>Lorem Ipsum is simply dummy</li>
                            </ul>
                            <span class="view-images__link">View Images</span>
                        </div>
                        <div class="card-list__container">
                            <ul>
                                <li>Lorem Ipsum is simply dummy</li>
                                <li>Lorem Ipsum is simply dummy</li>
                                <li>Lorem Ipsum is simply dummy</li>
                            </ul>
                            <span class="view-images__link">View Images<span class="image-count">(23)</span></span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="pros-cons__list-item">
                <div class="pros-cons__card">
                    <p class="card__title"><span class="thumbs-down-icon"></span>Could Be better</p>
                    <div class="pros-cons__list-wrapper">
                        <div class="card-list__container">
                            <ul>
                                <li>Lorem Ipsum is simply dummy</li>
                                <li>Lorem Ipsum is simply dummy</li>
                                <li>Lorem Ipsum is simply dummy</li>
                            </ul>
                            <span class="view-images__link">View Images</span>
                        </div>
                        <div class="card-list__container">
                            <ul>
                                <li>Lorem Ipsum is simply dummy</li>
                                <li>Lorem Ipsum is simply dummy</li>
                                <li>Lorem Ipsum is simply dummy</li>
                            </ul>
                            <span class="view-images__link">View Images</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>