@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<section>
    <div class="container bg-white card-bottom-margin">
        <h1 class="padding-15-20">Honda scooters</h1>
        <ul class="bike-listing">

        </ul>
    </div>
</section>

<script type="text/javascript" src="@(!string.IsNullOrEmpty(ViewBag.staticUrl) ? ("https://st.aeplcdn.com" + @ViewBag.staticUrl) : "")/m/src/frameworks.js?@ViewBag.staticFileVersion"></script>