@{
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<section>
    bikes by make
</section>

<script type="text/javascript" src="@(!string.IsNullOrEmpty(ViewBag.staticUrl) ? ("https://st.aeplcdn.com" + @ViewBag.staticUrl) : "")/m/src/frameworks.js?@ViewBag.staticFileVersion"></script>