@{
    ViewBag.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/m/css/scooters/landing.css' />";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<section>
    <div class="container scooters-banner text-center">
        <h1 class="font24 text-uppercase text-white">Scooters in India</h1>
        <h2 class="font14 text-unbold text-white">All scooters under one roof</h2>
    </div>
</section>

<section>
    <div class="container section-bottom-margin">
        <div class="grid-12">
            <div class="banner-box-shadow">
                <div class="bw-tabs-panel">
                    <div class="bw-tabs bw-tabs-flex">
                        <ul>
                            <li data-tabs="brand-tab">Brand</li>
                            <li class="active" data-tabs="budget-tab">Budget</li>
                            <li data-tabs="displacement-tab">Displacement</li>
                        </ul>
                    </div>
                    <div id="brand-tab" class="bw-tabs-data hide">
                        <div class="container bg-white box-shadow section-bottom-margin padding-top25 padding-bottom20 text-center collapsible-brand-content">
                            <div id="brand-type-container" class="brand-type-container">
                                <ul>
                                    <li>
                                        <a href="/m/new-honda-bike-launches/" title="Newly launched Honda bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-7"></span>
                                            </span>
                                            <span class="brand-type-title">Honda</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-bajaj-bike-launches/" title="Newly launched Bajaj bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-1"></span>
                                            </span>
                                            <span class="brand-type-title">Bajaj</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-hero-bike-launches/" title="Newly launched Hero bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-6"></span>
                                            </span>
                                            <span class="brand-type-title">Hero</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-tvs-bike-launches/" title="Newly launched TVS bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-15"></span>
                                            </span>
                                            <span class="brand-type-title">TVS</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-royalenfield-bike-launches/" title="Newly launched Royal Enfield bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-11"></span>
                                            </span>
                                            <span class="brand-type-title">Royal Enfield</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-yamaha-bike-launches/" title="Newly launched Yamaha bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-13"></span>
                                            </span>
                                            <span class="brand-type-title">Yamaha</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="brand-style-moreBtn brandTypeMore border-top1 padding-top25 hide">
                                    <li>
                                        <a href="/m/new-aprilia-bike-launches/" title="Newly launched Aprilla bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-2"></span>
                                            </span>
                                            <span class="brand-type-title">Aprilla</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-benelli-bike-launches/" title="Newly launched Benelli bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-40"></span>
                                            </span>
                                            <span class="brand-type-title">Benelli</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-bmw-bike-launches/" title="Newly launched BMW1 bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-3"></span>
                                            </span>
                                            <span class="brand-type-title">BMW1</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-ducati-bike-launches/" title="Newly launched Ducati bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-4"></span>
                                            </span>
                                            <span class="brand-type-title">Ducati</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-goldian-bike-launches/" title="Newly launched Goldian bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-82"></span>
                                            </span>
                                            <span class="brand-type-title">Goldian</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-harleydavidson-bike-launches/" title="Newly launched Harley Davidson bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-5"></span>
                                            </span>
                                            <span class="brand-type-title">Harley Davidson</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-hyosung-bike-launches/" title="Newly launched Hyosung bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-8"></span>
                                            </span>
                                            <span class="brand-type-title">Hyosung</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-indian-bike-launches/" title="Newly launched Indian bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-34"></span>
                                            </span>
                                            <span class="brand-type-title">Indian</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-kawasaki-bike-launches/" title="Newly launched Kawasaki bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-17"></span>
                                            </span>
                                            <span class="brand-type-title">Kawasaki</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-ktm-bike-launches/" title="Newly launched KTM bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-9"></span>
                                            </span>
                                            <span class="brand-type-title">KTM</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-mahindra-bike-launches/" title="Newly launched Mahindra bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-10"></span>
                                            </span>
                                            <span class="brand-type-title">Mahindra</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-mvagusta-bike-launches/" title="Newly launched MV Agusta bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-41"></span>
                                            </span>
                                            <span class="brand-type-title">MV Agusta</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-new-brand-bike-launches/" title="Newly launched New Brand bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-83"></span>
                                            </span>
                                            <span class="brand-type-title">New Brand</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-piaggio-bike-launches/" title="Newly launched Piaggio bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-38"></span>
                                            </span>
                                            <span class="brand-type-title">Piaggio</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-suzuki-bike-launches/" title="Newly launched Suzuki bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-12"></span>
                                            </span>
                                            <span class="brand-type-title">Suzuki</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-triumph-bike-launches/" title="Newly launched Triumph bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-22"></span>
                                            </span>
                                            <span class="brand-type-title">Triumph</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-um-bike-launches/" title="Newly launched UM bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-42"></span>
                                            </span>
                                            <span class="brand-type-title">UM</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/m/new-vespa-bike-launches/" title="Newly launched Vespa bikes">
                                            <span class="brand-type">
                                                <span class="lazy brandlogosprite brand-16"></span>
                                            </span>
                                            <span class="brand-type-title">Vespa</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <a href="javascript:void(0)" class="view-brandType view-more-btn font14" rel="nofollow">View more brands</a>
                        </div>
                    </div>
                    <div id="budget-tab" class="bw-tabs-data">
                        <ul class="elevated-card-list padding-top10">
                            <li>
                                <a href="">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite budget-one"></span>
                                        </div>
                                        <span class="key-size-14">Upto</span><br />
                                        <span class="bwmsprite inr-xsm-icon"></span> <span class="value-size-15">30K</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite budget-two"></span>
                                        </div>
                                        <span class="key-size-14">Upto</span><br />
                                        <span class="bwmsprite inr-xsm-icon"></span> <span class="value-size-15">30K</span> -
                                        <span class="bwmsprite inr-xsm-icon"></span> <span class="value-size-15">60K</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="table-middle">
                                        <div class="tab-icon-container">
                                            <span class="bwmsprite budget-three"></span>
                                        </div>
                                        <span class="key-size-14">Above</span><br />
                                        <span class="bwmsprite inr-xsm-icon"></span> <span class="value-size-15">60K</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="displacement-tab" class="bw-tabs-data hide">Displacement</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <h2 class="section-heading">Featured Scooters</h2>
    
</section>

<section>
    <h2 class="section-heading">Compare Scooters</h2>

</section>

<script type="text/javascript" src="@(!string.IsNullOrEmpty(ViewBag.staticUrl) ? ("https://st.aeplcdn.com" + @ViewBag.staticUrl) : "")/m/src/frameworks.js?@ViewBag.staticFileVersion"></script>