<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HDFC_Bank_C2TSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="HDFC_Bank_C2TSoap1" />
                <binding name="TCApi_InquirySoap" />
                <binding name="CarWaleCalculatePremiumSoap" />
                <binding name="PushCRMSoap" />
                <binding name="BasicHttpBinding_ISmartQuote" />
                <binding name="CarWaleCalculatePremiumSoap1" />
                <binding name="RoyalServicesSoap" />
                <binding name="AdvantageInquirySoap" />
                <binding name="HDFC_Bank_C2T_AdaptSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CholaProductServiceSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="RoyalServicesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://leads.hdfcbank.com/HDFC_Bank_C2T/HDFC_Bank_C2T.asmx" binding="basicHttpBinding" bindingConfiguration="HDFC_Bank_C2TSoap" contract="HDFC_Bank_C2T.HDFC_Bank_C2TSoap" name="HDFC_Bank_C2TSoap" />
            <endpoint address="http://webserver:8084/wsapis/tcapi_inquiry.asmx" binding="basicHttpBinding" bindingConfiguration="TCApi_InquirySoap" contract="TCApi_Inquiry.TCApi_InquirySoap" name="TCApi_InquirySoap" />
            <endpoint address="http://websalespr.cholainsurance.com/portalservice/CarWaleCalculatePremium.asmx" binding="basicHttpBinding" bindingConfiguration="CarWaleCalculatePremiumSoap" contract="CarWaleCalculatePremium.CarWaleCalculatePremiumSoap" name="CarWaleCalculatePremiumSoap" />
            <endpoint address="http://opr.carwale.com/webservices/PushCRM.asmx" binding="basicHttpBinding" bindingConfiguration="PushCRMSoap" contract="CRM.PushCRMSoap" name="PushCRMSoap" />
            <endpoint address="http://uat.policyboss.com/SmartQuote.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmartQuote" contract="PolicyBoss.ISmartQuote" name="BasicHttpBinding_ISmartQuote" />
            <endpoint address="http://dealernetwork.cholainsurance.com/portalservice/CarWaleCalculatePremium.asmx" binding="basicHttpBinding" bindingConfiguration="CarWaleCalculatePremiumSoap1" contract="CholaMS.CarWaleCalculatePremiumSoap" name="CarWaleCalculatePremiumSoap1" />
            <endpoint address="http://www.royalsundaram.in/Royalservices.asmx" binding="basicHttpBinding" bindingConfiguration="RoyalServicesSoap" contract="RoyalSundaram.RoyalServicesSoap" name="RoyalServicesSoap" />
            <endpoint address="http://localhost:9999/deals/wsapis/TCApi_Inquiry.asmx" binding="basicHttpBinding" bindingConfiguration="AdvantageInquirySoap" contract="AdvInquiryService.AdvantageInquirySoap" name="AdvantageInquirySoap" />
            <endpoint address="https://leads.hdfcbank.com/HDFC_Bank_C2T_Adapt/HDFC_Bank_C2T_Adapt.asmx" binding="basicHttpBinding" bindingConfiguration="HDFC_Bank_C2T_AdaptSoap" contract="HDFC_Bank_C2T_Adapt.HDFC_Bank_C2T_AdaptSoap" name="HDFC_Bank_C2T_AdaptSoap" />
            <endpoint address="https://www.cholainsurance.com/CholaWebservice/CholaProductService.asmx" binding="basicHttpBinding" bindingConfiguration="CholaProductServiceSoap" contract="Chola.CholaProductServiceSoap" name="CholaProductServiceSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>