@model Bikewale.Models.PriceInCityPageVM
@if (Model.FirstVersion != null) { 
<a href="#orpContent" rel="nofollow">On-road price</a>
}
@if (Model.HasDealers) { 
<a href="#dealerContent" rel="nofollow">Dealers</a>
}
@if (Model.IsNew) { 
<a href="#emiContent" rel="nofollow">EMI calculator</a>
}
@if (Model.BikeVersionPrices != null) { 
<a href="#priceListContent" rel="nofollow">Price list</a>
}
@if (Model.HasAlternateBikes) { 
<a href="#similarContent" rel="nofollow">Similar bikes</a>
}