<section>
    <div class="banner-home">
        <div class="container banner-container text-center top-campaign-banner-container">
            <!-- Top banner code starts here -->
            <h1 class="font22 text-uppercase text-white">Find your bike</h1>
            <h2 class="banner-subheading font14 text-unbold text-white">Get Comprehensive Information on Bikes!</h2>
            <div class="new-used-search new-bikes-search position-rel">
                <input type="text" placeholder="Search your bike here, e.g. Honda Activa " id="newBikeList" autocomplete="off" class="rounded-corner2">
                <a href="javascript:void(0);" id="btnSearch" class="btn btn-orange btn-search"><span class="bwmsprite search-bold-icon"></span></a>
                <span id="loaderMakeModel" class="fa-spinner position-abt pos-right45 pos-top15" style="display: none"></span>
            </div>
            <ul id="errNewBikeSearch" class="ui-autocomplete ui-front ui-menu hide">
                <li class="ui-menu-item" tabindex="-1">
                    <span class="text-bold">Oops! No suggestions found</span><br />
                    <span class="text-light-grey font12">Search by bike name e.g: Honda Activa</span>
                </li>
            </ul>
            <ul id="new-global-recent-searches" style="position: relative;margin:0;text-align: left" class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content hide"></ul>
            @ViewBag.bannerEntity.MobileCss
            @ViewBag.bannerEntity.MobileHtml
            @ViewBag.bannerEntity.MobileJS
        </div>
    </div>
</section>