RewriteEngine on 

RewriteRule ([\d]+)-(.*).html		details.aspx?bid=$1 [NC,L] 

RewriteRule gallery/page/(.*)/		gallery.aspx?pn=$1 [NC,L]
RewriteRule gallery/				gallery.aspx [NC,L]

RewriteRule videos/page/(.*)/      videos.aspx?pn=$1 [NC,L]
RewriteRule videos/				videos.aspx [NC,L]
 
RewriteRule page/(.*)/				default.aspx?pn=$1 [NC,L]

RewriteRule feed/					newsfeed.aspx [NC,L]

