@model Bikewale.Models.UpcomingPageVM

@{
    Model.IsHeaderFix = true;
    Model.IsPageTypeLanding = true;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/upcoming-bikes/upcoming-bikes.css' inline />";
    Model.Page_JS_Path = "/src/upcoming-bikes.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{

<section>
        <div class="container">
            <div class="grid-12">
				<div class="content-box-shadow">
					<h1 class="content-box-shadow padding-15-20">Upcoming Bikes</h1>
					<div class="padding-15-20 font14 text-light-grey collapsible-content">
						<p class="main-content">
							India is the world’s largest two-wheeler market, and it can get a little confusing for the buyer who is waiting for their dream bike to launch.
							Here on BikeWale’s ‘Upcoming Bikes’ page, we give you all the information about that bike you’ve been waiting for,
							so you can take an educated decision on whether to put off your purchase for a while and be ready to purchase that bike you’ve always wanted the instant it is launched!
						</p>
					</div>
				</div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section>
        <div id="upcoming-bikes" class="container">
            <div class="grid-12">
                <h2 class="section-heading">Upcoming bikes in India</h2>
                @Html.Partial("~/Views/Upcoming/_UpcomingBikesList.cshtml", Model)
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    if (Model.NewLaunches != null && Model.NewLaunches.Bikes != null && Model.NewLaunches.Bikes.Count() > 0)
    {
       
            <div class="container section-container">
                <div class="grid-12">
                    <h2 class="section-heading">New bike launches in India</h2><div class="content-box-shadow padding-top20">
                        @Html.Partial("~/Views/NewLaunches/_NewLaunches.cshtml", Model.NewLaunches)
                        <div class="view-all-btn-container padding-top15 padding-bottom10">
                            <a href="/new-bike-launches/" class="btn view-all-target-btn" title="New bike launches in India">View all launches<span class="bwsprite teal-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

    }

    if (Model.Brands != null)
    {
        <section>
            <div class="container section-container">
                <div class="grid-12">
                    <h2 class="section-heading">Upcoming bikes by brand</h2>
                    <div class="content-box-shadow padding-top20">
                        @Html.Partial("~/Views/Make/_Brands.cshtml", Model.Brands)
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }

    <!--Upcoming bikes news widget start-->
    if (Model.News != null)
    {
        <section>
            <div class="container section-container padding-bottom20">
                <div class="grid-12">
                    <h2 class="section-heading"> More about upcoming bikes</h2>
                    <div class="content-box-shadow content-inner-block-20 card-bottom-margin font14">
                        @Html.Partial("~/Views/News/_RecentNews.cshtml", Model.News)
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>

      
    }
    <!--Upcoming bikes news widget end-->

}