h1,
.text-bold {
  font-weight: 600; }

.font-bold {
  font-weight: 700; }

.text-slate-grey {
  color: #787878; }

.font15 {
  font-size: 15px; }

#bike-rating-box {
  width: 100%;
  min-height: 132px;
  margin-top: 45px;
  margin-bottom: 20px;
  background: #F5F5F5;
  text-align: center; }

.rating-placeholder {
  position: relative;
  top: -20px; }

.rating-box-star-list {
  width: 232px;
  overflow: hidden;
  margin: 15px auto 0; }

.item-rating-list li {
  float: right;
  padding-right: 25px;
  text-align: left;
  cursor: pointer; }
  .item-rating-list li:first-child {
    padding-right: 0; }

.hover-effect.item-rating-list li:hover .star-zero,
.hover-effect.item-rating-list li:hover ~ li .star-zero {
  background-position: -131px -710px;
  opacity: 1; }

.circle-placeholder {
  width: 61px;
  height: 61px;
  margin: 0 auto;
  padding-top: 15px;
  border: 1px solid #e2e2e2;
  background: #fff;
  position: relative;
  top: -31px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.question-field {
  margin-bottom: 20px; }
  .question-field .error-text {
    top: -6px; }

.question-item {
  margin-bottom: 10px; }

.answer-list li {
  float: left;
  color: #82888b;
  margin: 4px 8px 4px 0;
  padding: 5px 14px;
  cursor: pointer;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  .answer-list li.active {
    color: #fff;
    background: #41B4C4;
    border-color: #41B4C4;
    cursor: default;
    pointer-events: none; }
  .answer-list li:hover {
    background: #f5f5f5; }

.text-xx-light {
  color: #a2a2a2; }

.user-rating-box {
  position: relative;
  top: 1px; }
  .user-rating-box .star-one {
    position: relative;
    top: -1px;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85); }

.numeric-list {
  list-style: decimal;
  margin-left: 15px; }
  .numeric-list li {
    margin-bottom: 5px; }

.textarea-box {
  position: relative; }
  .textarea-box textarea {
    width: 100%;
    color: #4d5057;
    border: 1px solid #a2a2a2;
    font-family: "Open Sans", sans-serif, Arial;
    font-size: 14px;
    padding: 20px;
    resize: none; }
    .textarea-box textarea:focus {
      border-color: #82888b;
      box-shadow: none;
      outline: 0; }

.textarea-error {
  left: 7px;
  bottom: 7px;
  padding: 5px; }
  .textarea-error .error-text {
    top: 0; }

.review-char-count {
  background: rgba(255, 255, 255, 0.9);
  bottom: 7px;
  right: 7px;
  color: #787878;
  padding: 5px; }

#getReviewTitle {
  font-weight: 600; }

.detailed-question-list .list-item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee; }

.detailed-question-list .item-title {
  font-weight: 600;
  margin-bottom: 8px; }

.detailed-question-list .item-subtitle {
  color: #787878;
  margin-bottom: 10px; }

.detailed-question-list .item-rating-list li {
  padding-right: 12px; }

.detailed-question-list .answer-list li {
  margin-right: 6px;
  margin-left: 0; }

.detailed-question-list .feedback-text {
  font-size: 13px;
  position: relative;
  top: 1px;
  color: #4d5057; }

.thankyou-card .icon-outer-container {
  width: 66px;
  height: 66px; }

.thankyou-card .icon-inner-container {
  width: 62px;
  height: 62px;
  margin: 1px auto; }

.model-details-grid {
  width: 85%;
  padding-left: 15px; }

#review-summary-card #bike-rating-box {
  margin-top: 30px; }

#review-summary-card .item-rating-list li {
  float: left; }
  #review-summary-card .item-rating-list li:first-child {
    padding-right: 25px; }
  #review-summary-card .item-rating-list li:last-child {
    padding-right: 0; }

.full-review-box p {
  margin-bottom: 10px; }

.btn-220-40 {
  width: 220px; }

.user-rated-list .list-item {
  margin-bottom: 10px; }

.user-rated-list .star-one,
.user-rated-list .star-zero {
  transform: scale(0.7);
  margin-right: -1px; }

.category-label {
  width: 50%;
  line-height: 25px; }

.category-rating {
  width: 140px;
  font-weight: 600;
  line-height: 25px; }

.star-zero,
.star-one {
  width: 26px;
  height: 25px;
  vertical-align: middle; }

.star-zero {
  background-position: -158px -710px; }

.star-one,
.star-one-active .star-zero {
  background-position: -131px -710px; }

.opacity-active .star-zero {
  opacity: 0.5; }

.opacity-active .star-one-active .star-zero {
  opacity: 1; }

.feedback-1,
.feedback-2,
.feedback-3,
.feedback-4,
.feedback-5 {
  width: 22px;
  height: 20px;
  position: relative;
  top: 2px;
  left: 1px; }

.feedback-3,
.feedback-4,
.feedback-5 {
  background-position: -185px -710px; }

.feedback-3 {
  opacity: 0.4; }

.feedback-4 {
  opacity: 0.6; }

.feedback-1,
.feedback-2 {
  background-position: -208px -710px;
  top: 6px; }

.feedback-2 {
  opacity: 0.6; }

.thankyou-icon {
  width: 51px;
  height: 58px;
  background-position: -165px -436px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6); }
