@using Carwale.UI.Common;
<section>
    <div class="content-box-shadow content-inner-block-10 margin-top20">
        <p class="text-black font20">Car Buyer's Tools</p>
        <p class="text-grey">Some of our highly recommended tools to help you make the right buying decision</p>
        <ul class="ul-arrow margin-top5">
            <li><a href="/new/@UrlRewrite.FormatSpecial(ViewBag.MakeName)-dealers/">Locate @ViewBag.MakeName dealers/showrooms</a></li>
            <li><a href="/finance/calculateemi.aspx">Calculate car loan EMI</a></li>
            <li><a href="/used/@UrlRewrite.FormatSpecial(ViewBag.MakeName)-cars/">Used @ViewBag.MakeName cars for sale</a></li>
            <li><a href="/tipsadvice/new-car-discount-negotiation-guide-8915/">New car negotiation guide</a></li>
            <li><a href="/tyres/" data-role="click-tracking" data-event="CWInteractive" data-cat="Tyres_Section_d" data-action="Car Tool Link Click" data-label="@Request.RawUrl" target="_blank">Explore car tyres</a></li>
			<li><a href="https://www.bankbazaar.com/car-loan.html?variant=slide&headline=HEADLINE_CL_MelaSale&WT.mc_id=bb01|CL|desk_tools&utm_source=bb01&utm_medium=display&utm_campaign=bb01|CL|desk_tools&variantOptions=mobileRequired" rel="noopener nofollow" data-role="click-tracking" data-event="CWInteractive" data-cat="Tyres_Section_d" data-action="Car Tool BB Link Click" data-label="@Request.RawUrl" target="_blank">Get Car Loan Offers</a></li>
        </ul>
    </div>
</section>