


    <link href="~/PWA/build/filterplugin.css" rel=" stylesheet">

<div id="root"></div>
<script src="~/PWA/build/bootstrap.js"></script>
<script src="~/PWA/build/vendor.js"></script>

<script src="~/PWA/build/filterplugin.js"></script>

