<div class="clear"></div>
<div class="bank-bazaar-slider">
    <div class="offers-dis-section">
        <p class="font20 text-bold text-black">Looking For Attractive EMI Options</p>
        <p class="font16 text-black padding-top5">Our Finance Partner Bankbazaar Can Help You:</p>
        <div class="emi-option-container">
            <div class="emi-options">
                <span class="emi-option-image gop-icon-container">
                    <span class="gop-sprite margin-top10 emi-icon"></span>
                </span>
                <span class="emi-options-text font14">Get Lowest EMI Quotes In Market</span>
            </div>

            <div class="emi-options">
                <span class="emi-option-image gop-icon-container">
                    <span class="gop-sprite margin-top10 compare-icon"></span>
                </span>
                <span class="emi-options-text font14">Compare Various Loan Options</span>
            </div>

            <div class="emi-options">
                <span class="emi-option-image gop-icon-container">
                    <span class="gop-sprite margin-top10 apply-icon"></span>
                </span>
                <span class="emi-options-text font14">Apply Online & Get Instant E-Approval</span>
            </div>

            <div class="margin-top30">
                <div id="BtnBBLnkBtn" class="btnSubmit btn-orange btn-xlg text-white btn-full-width font16 cur-pointer">Get Car Loan Offers</div>
            </div>

            <div class="sellPricePrivacyContent text-grey font12 margin-top10 text-left">
                <label for="userAgreement">By proceeding ahead, you agree to CarWale </label>
                <a target="_blank" href="/visitoragreement.aspx">visitor agreement</a> and
                <a target="_blank" href="/privacypolicy.aspx">privacy policy</a>.
            </div>

        </div>
    </div>
</div>
<div class="clear"></div>
<div class="clear"></div>

