<noscript class="deferred-styles">
    <link rel="stylesheet" href="/static/css/sbi-yono.css" type="text/css">
</noscript>

<div class="sbi-yono__section">
    <div class="sbi-yono__logos">
        <span class="yono__sbi-logo">

        </span>
        with
        <span class="yono__carwale-logo">

        </span>
    </div>


    <div class="sbi-yono__title">
        <div class="sbi-yono__offer-tag">
            <div class="yono-offer__tag-text">
                Bring the best loan offers
            </div>

        </div>
        <p class="sbi-yono__offer-head">
            Connect with the dealer and get exciting offers on loans
        </p>
    </div>
    <ul class="yono-offer__list">
        <li class="yono-offer__list-item yono-offer__emi">
            Lowest Interest Rates & EMI
        </li>
        <li class="yono-offer__list-item yono-offer__road-price">
            Financing on ‘On-Road price'
        </li>
        <li class="yono-offer__list-item yono-offer__tenure">
            Longest Repayment Tenure (7 years)
        </li>
        <li class="yono-offer__list-item yono-offer__cash">
            No Pre-Payment Penalty
        </li>
    </ul>
    <span class="yono-offer__car"></span>
    <p class="yono-offer__note">
        * On connecting with a CarWale dealer partner you will be contacted regarding
        SBI loan offers
    </p>
</div>
