@model Int32
@if (Model == 930)
{
    <h2 class="specification-container__heading special-skin-text" data-role="inview-imp" data-event="CWNonInteractive" data-action="KeySpecsImpressions" data-cat="ModelPage" data-label='Baleno'>Baleno Features</h2>
<div class="specs-accordion-container">
    <ul id="accordion" class="specs-accordion-list">
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Baleno_Exterior'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon accordion--close"></span>Exterior</div>
            <ul class="model-feature-list accoidion-animate">
                <li>Body coloured Chrome door handles</li>
                <li>Body coloured ORVMs with side turn indicators</li>
                <li>Chrome accent front grille</li>
                <li>Back door spoiler</li>
                <li>Alloy wheels with Full wheel cap</li>
                <li>Daytime Running Lamps with LED</li>
                <li>Rear Combination Lamps with LED</li>
                <li>Projector headlamps</li>
                <li>A+B+C Pillar blackout</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Baleno_Interior'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Interior</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Glove box illumination</li>
                <li>Luggage room illumination</li>
                <li>Front footwell illumination</li>
                <li>Leather wrapped steering wheel</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Baleno_Safety & Security'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Safety & Security</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Anti-theft security system</li>
                <li>Front disc brakes</li>
                <li>Dual horn</li>
                <li>Front fog lamps</li>
                <li>Auto headlamps with headlamp levelling</li>
                <li>Pinch guard power window (Driver)</li>
                <li>Auto diming IRVM</li>
                <li>Driver side seat belt reminder</li>
                <li>Reverse Parking (Sensor / Camera)</li>
                <li>Rear wiper & washer</li>
                <li>Rear defogger</li>
                <li>Child seat tether anchorages</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Baleno_Entertainment'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Entertainment</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Audio with FM/MP3/CD</li>
                <li>SmartPlay Infotainment System</li>
                <li>AUX-in, USB & Bluetooth Connectivity</li>
                <li>Steering mounted audio control</li>
                <li>Navigation system</li>
                <li>Voice command</li>
                <li>Smartphone Connect/Apple CarPlay</li>
                <li>Remote Control through Smartphone App</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item">
            <div class="specs-accordion__heading" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Baleno_Comfort & Convenience'><span class="accordion-open-icon"></span>Comfort & Convenience</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Central locking</li>
                <li>Remote keyless entry</li>
                <li>Front & Rear power windows</li>
                <li>Auto-up power window (Driver)</li>
                <li>Electrically foldable ORVMs</li>
                <li>Telescopic steering</li>
                <li>Tilt steering</li>
                <li>Front seat & Rear seat adjustable headrest</li>
                <li>Auto & Manual AC</li>
                <li>Follow me home/lead to vehicle</li>
                <li>Front centre armrest with storage</li>
                <li>60:40 Split seat (Rear)</li>
                <li>Height adjustable driver seat</li>
                <li>Front and rear accessory socket</li>
                <li>Push start/stop with smart key</li>
            </ul>
        </li>
    </ul>
</div>
}
else if (Model == 1082)
{
    <h2 class="specification-container__heading special-skin-text" data-role="inview-imp" data-event="CWNonInteractive" data-action="KeySpecsImpressions" data-cat="ModelPage" data-label='Dzire'>Dzire Features</h2>
<div class="specs-accordion-container">
    <ul id="accordion" class="specs-accordion-list">
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Dzire_Exterior'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Exterior</div>
            <ul class="model-feature-list accoidion-animate">
                <li>LED Projector headlamps</li>
                <li>Daytime Running Lamps</li>
                <li>Rear Combination LED Lamps</li>
                <li>High Mounted LED Stop Lamp</li>
                <li>Chrome accent front grille</li>
                <li>Body coloured ORVMs with side turn indicators</li>
                <li>Wheels (Steel/Alloy/Precision Cut Alloy)</li>
                <li>Wheel Cover</li>
                <li>Door Outer Weather Strip</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Dzire_Interior'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Interior</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Leather Wrapped Steering Wheel</li>
                <li>Burl Wood Ornamentation</li>
                <li>Dual-Tone Interiors</li>
                <li>Multi-Information Display</li>
                <li>Outside Temperature Display</li>
                <li>Low-Fuel Warning Lamp</li>
                <li>Front Dome Lamp</li>
                <li>Tachometer</li>
                <li>Front Door Armrest with Fabric</li>
                <li>Co-Driver Side Sunvisor with Vanity Mirror</li>
                <li>Driver Side Sunvisor with Ticket Holder</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Dzire_Safety & Security'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Safety & Security</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Suzuki HEARTECT Body</li>
                <li>ABS with EBD and Brake Assist</li>
                <li>Dual Airbags</li>
                <li>Reverse Parking (Sensors / Camera)</li>
                <li>Anti-theft Security System</li>
                <li>Front Fog Lamps</li>
                <li>Rear Defogger</li>
                <li>ISOFix Child Seat Anchorages</li>
                <li>Pinch Guard Power Window (Driver)</li>
                <li>Engine Immobilizer</li>
                <li>Speed-Sensitive Door Locking</li>
                <li>Night and Day Adjustable IRVM</li>
                <li>Seat Belt Warning Lamp & Buzzer (Driver Side)</li>
                <li>Key-Left Warning Lamp & Buzzer</li>
                <li>Door Ajar Warning Lamp</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Dzire_Audio & Entertainment'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Audio & Entertainment</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Steering Mounted Audio & Calling Controls</li>
                <li>Audio Remote Control</li>
                <li>Door Speakers (4 Speakers) and Tweeters</li>
                <li>Antenna</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Dzire_Comfort & Convenience'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Comfort & Convenience</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Engine Push Start-Stop Button with Smart Key</li>
                <li>Rear AC Vent</li>
                <li>Rear Seat Center Armrest with Cup Holder</li>
                <li>Remote Keyless Entry System</li>
                <li>Manual Air Conditioner with Heater</li>
                <li>Automatic Climate Control</li>
                <li>Pollen Filter</li>
                <li>Front Accessory Socket</li>
                <li>Rear Accessory Socket with Mobile Pocket</li>
                <li>Central Locking</li>
                <li>Electromagnetic Trunk Opening</li>
                <li>Gear Shift Indicator (MT Only)</li>
                <li>Front & Rear power windows</li>
                <li>Driver Side Power Window (Auto Down / Auto Up)</li>
                <li>Tilt Steering</li>
                <li>Height Adjustable Driver Seat</li>
                <li>Adjustable Front Seat Headrests</li>
                <li>Luggage Room Lamp</li>
                <li>Bottle Holder on All Doors</li>
            </ul>
        </li>
    </ul>
</div>
}
else if (Model == 1078)
{
    <h2 class="specification-container__heading special-skin-text" data-role="inview-imp" data-event="CWNonInteractive" data-action="KeySpecsImpressions" data-cat="ModelPage" data-label='Swift'>Swift Features</h2>
<div class="specs-accordion-container">
    <ul id="accordion" class="specs-accordion-list">
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Swift_Exterior'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Exterior</div>
            <ul class="model-feature-list accoidion-animate">
                <li>LED Projector Headlamps</li>
                <li>LED Daylight Running Lamps</li>
                <li>LED Rear Combination Lamps</li>
                <li>LED High Mounted Stop Lamp</li>
                <li>Wheels (Steel/Alloy/ Precision Cut Alloy</li>
                <li>Full Wheel Covers</li>
                <li>Side Turn Indicators on ORVMs</li>
                <li>Body coloured ORVM with side turn indicator</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Swift_Interior'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Interior</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Leather Wrapped Steering Wheel</li>
                <li>Meter Illumination</li>
                <li>Silver Finish on Door Trims</li>
                <li>Outside Temperature Display</li>
                <li>Co-Driver Side Sunvisor with Vanity Mirror</li>
                <li>Driver Side Sunvisor with Ticket Holder</li>
                <li>Front Seat Back Pocket (Co-driver side)</li>
                <li>Chrome Parking Brake Lever Tip</li>
                <li>IP Ornament</li>
                <li>Gear Shift Knob in Piano Black Finish</li>
                <li>Tachometer</li>
                <li>Front Dome Lamp</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Swift_Safety & Security'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Safety & Security</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Dual Front Airbags</li>
                <li>ABS with EBD and Brake Assist</li>
                <li>Reverse Parking (Sensors / Camera)</li>
                <li>Security Alarm System</li>
                <li>Pinch guard power window (Driver)</li>
                <li>IsoFix with Child Seat Anchorages</li>
                <li>Front Fog Lamps</li>
                <li>Speed Sensitive Automatic Door Lock</li>
                <li>Seat Belt Reminder & Buzzer (Driver Side)</li>
                <li>Day and Night Adjustable IRVM</li>
                <li>Engine Immobilizer</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Swift_Audio & Entertainment'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Audio & Entertainment</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Steering Mounted Audio And Calling Controls</li>
                <li>AUX-in, USB & Bluetooth Connectivity</li>
                <li>Audio Player with CD/MP3 & FM/AM</li>
                <li>Door Speakers (4)</li>
                <li>Tweeters (2)</li>
                <li>Voice command</li>
                <li>Roof Antenna</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Swift_Comfort & Convenience'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Comfort & Convenience</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Engine Push Start-Stop Button with smart Key</li>
                <li>Automatic Climate control</li>
                <li>Manual Air Conditioner with Heater</li>
                <li>Remote Keyless Entry System</li>
                <li>Central Door Locking</li>
                <li>Auto Down Power Window (Driver Side)</li>
                <li>Front & Rear power windows</li>
                <li>Power and Tilt Steering</li>
                <li>Internally Adjustable ORVMs Manual</li>
                <li>Electromagnetic Back Door Opener</li>
                <li>Remote Back Door Opener</li>
                <li>Remote Fuel Lid Opener</li>
                <li>Rear Defogger</li>
                <li>Rear wiper & Washer</li>
                <li>Adjustable Seat Headrest (Front / Rear)</li>
                <li>Height Adjustable Driver Seat</li>
                <li>Gear Shift Indicator</li>
                <li>Driver side Foot Rest</li>
                <li>60:40 Split Rear Seat</li>
                <li>Rear Parcel Shelf</li>
                <li>Luggage Room Lamp</li>
                <li>Front Accessory Socket</li>
                <li>Low Fuel Warning Lamp</li>
                <li>Multi Information Display</li>
                <li>Door Ajar Warning Lamp</li>
                <li>Headlamp On Reminder</li>
            </ul>
        </li>
    </ul>
</div>
}
else if (Model == 949)
{
    <h2 class="specification-container__heading special-skin-text" data-role="inview-imp" data-event="CWNonInteractive" data-action="KeySpecsImpressions" data-cat="ModelPage" data-label='3 Series'>3 Series Features</h2>
<div class="specs-accordion-container">
    <ul id="accordion" class="specs-accordion-list">
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='3 Series_Drive and Transmission'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Drive and Transmission</div>
            <ul class="model-feature-list accoidion-animate">
                <li>8-Speed Steptronic Sport Automatic Transmission</li>
                <li>BMW TwinPower Turbo 4-cylinder engine</li>
                <li>Rear wheel drive</li>
                <li>Servotronic steering assist</li>
                <li>Launch Control Function</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='3 Series_BMW Lines'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>BMW Lines</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Sport Line</li>
                <li>Entry sills 'BMW'</li>
                <li>Exclusive design features in Black High-gloss </li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='3 Series_Exterior Equipment'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Exterior Equipment</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>LED headlights with four LED DRL light rings</li>
                <li>LED Fog lights</li>
                <li>Heat protection glazing</li>
                <li>Rain sensor and automatic driving lights</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='3 Series_Interior Equipment'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Interior Equipment</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Front armrest, sliding with storage compartment</li>
                <li>Centre armrest in rear with 2 cup holders</li>
                <li>Gearshift paddles</li>
                <li>Glass sunroof, electric</li>
                <li>Lights package with ambient lighting</li>
                <li>Multifunction Sport leather steering wheel</li>
                <li>Roller sunblinds for rear & rear side windows</li>
                <li>Smokers package</li>
                <li>Start/Stop button</li>
                <li>Sport seats for driver and front passenger</li>
                <li>Storage compartment package</li>
                <li>Floor mats in velour</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='3 Series_BMW ConnectedDrive'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>BMW ConnectedDrive</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>BMW Apps</li>
                <li>BMW Head-Up display with full colour</li>
                <li>Navigation system Professional with 3D maps</li>
                <li>Rear View Camera</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='3 Series_Technical Data'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Technical Data</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Automatic Start/Stop function</li>
                <li>Brake Energy Regeneration</li>
                <li>CO2 Emission g/km</li>
                <li>Fuel Economy km/l</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='3 Series_Safety Features'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Safety Features</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Cornering Brake Control (CBC)</li>
                <li>Electronic vehicle immobiliser and crash sensor</li>
                <li>ISOFIX child seat mounting</li>
                <li>Tyre pressure indicator</li>
                <li>Runflat tyres with reinforced side walls</li>
                <li>Emergency Spare Wheel</li>
                <li>Side-impact protection</li>
                <li>Warning triangle with first-aid kit</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='3 Series_Upholstery'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Upholstery</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Sensatec Black/Red highlight | Black</li>
                <li>Sensatec Veneto Beige | Veneto Beige</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='3 Series_Alloy Wheels'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Alloy Wheels</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Road Side Assistance 24x7</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='3 Series_BMW Service Inclusive'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>BMW Service Inclusive</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>BSI Basic</li>
                <li>BSI Plus</li>
                <li>BSI Plus with Repair Inclusive</li>
            </ul>
        </li>
    </ul>
</div>
}
else if (Model == 853)
{
    <h2 class="specification-container__heading special-skin-text" data-role="inview-imp" data-event="CWNonInteractive" data-action="KeySpecsImpressions" data-cat="ModelPage" data-label='Nexon'>Nexon Features</h2>
<div class="specs-accordion-container">
    <ul id="accordion" class="specs-accordion-list">
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Nexon_Exterior'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Exterior</div>
            <ul class="model-feature-list accoidion-animate">
                <li>Sporty 3D Headlamps</li>
                <li>Projector Headlamps</li>
                <li>Feline-Eye shaped Daytime Running Lights</li>
                <li>Sonic Silver Dual-tone Roof Color</li>
                <li>Signature LED tail lamps</li>
                <li>Roof Rails</li>
                <li>Wheel arch cladding</li>
                <li>Door side body cladding for scratch protection</li>
                <li>Chrome Humanity Line on Front Grill</li>
                <li>Body Colored Bumper</li>
                <li>LED High Mounted Stop Lamp</li>
                <li>Integrated rear spoiler</li>
                <li>Antenna (Centre / Shark-fin)</li>
                <li>Wheel covers</li>
                <li>16" Machine-cut Alloy wheels</li>
                <li>Body Colored Outside (Door Handles / Mirrors)</li>
                <li>Outside Mirrors with Turn Indicators</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Nexon_Interior'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Interior</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Three-tone Interior Scheme</li>
                <li>Door trim Fabric Insert</li>
                <li>Chrome finish on air vents</li>
                <li>Soft feel Interior roof liner</li>
                <li>Premium Fabric Seat Upholstery</li>
                <li>Gear Knob finish</li>
                <li>Cup/Can holder on central console</li>
                <li>Rear seat central armrest with 2 cupholders</li>
                <li>Laptop / Tablet storage in glove box</li>
                <li>1L bottle holder in all doors</li>
                <li>Umbrella holder in front doors</li>
                <li>Interior lamps with theatre dimming</li>
                <li>Carrybag hooks in boot</li>
                <li>Rear seat cushion 100% flip & flat fold</li>
                <li>Rear 60:40 seat split</li>
                <li>Rear Parcel Shelf</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Nexon_Car Infotainment'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Car Infotainment</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>4 Speakers / 4 Tweeters</li>
                <li>Steering mounted audio, phone & voice controls</li>
                <li>Speed dependent volume control</li>
                <li>Android AutoTM</li>
                <li>Call reject with SMS feature</li>
                <li>Text & WhatsappTM messages Readout & Reply</li>
                <li>Image and Video Playback</li>
                <li>Trip-ON App</li>
                <li>Juke Car App</li>
                <li>Tata Smart (Remote App / Manual App)</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Nexon_Instrmental Panel'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Instrumental Panel</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Segmented Driver Information System display</li>
                <li>Digital clock</li>
                <li>Gear shift display</li>
                <li>Trip meter (2 nos.)</li>
                <li>Instant & Average fuel efficiency</li>
                <li>Distance to empty</li>
                <li>Voice alerts</li>
                <li>Door open</li>
                <li>Driver seatbelt reminder</li>
                <li>Low fuel warning</li>
                <li>Low Brake fluid warning</li>
                <li>Park brake release alert</li>
                <li>Service reminder</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Nexon_Safety & Security'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Safety & Security</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Driver & co-driver airbags</li>
                <li>ABS with EBD</li>
                <li>Front fog lamps with cornering assistance</li>
                <li>Rear fog lamps</li>
                <li>ISOFIX Child Seat Anchorage</li>
                <li>Immobilizer</li>
                <li>Speed dependent auto door locks</li>
                <li>Follow-me-home lamps</li>
                <li>Day & Night IRVM</li>
                <li>Seat belt with pretensioners & load limiters</li>
                <li>Rear Wiper & Wash</li>
                <li>Rear defogger</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Nexon_Comfort'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Comfort</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Multi drive mode: ECO/ CITY / SPORT</li>
                <li>Manual airconditioner with heater</li>
                <li>Fully automatic climate control</li>
                <li>Rear Air Vents with adjustable air flow</li>
                <li>Remote Central locking</li>
                <li>Smart key with Push-button start</li>
                <li>Power windows (Front / Rear)</li>
                <li>Electric Power Steering with tilt adjustment</li>
                <li>Electric tailgate opening</li>
                <li>Driver footrest</li>
                <li>Driver seat height adjustment</li>
                <li>Height adjustable front seatbelts</li>
                <li>Adjustable seat head rests (Front / Rear)</li>
                <li>Vanity mirror on Co-driver side</li>
                <li>Driver side Express-Down Power window</li>
                <li>Fast USB charger</li>
                <li>Front & Rear 12V power outlet</li>
                <li>Glovebox illumination</li>
                <li>Cooled glove box</li>
                <li>Boot lamp (Front only)</li>
                <li>Manual Tip-tronic mode</li>
                <li>Smart Hill Assist</li>
                <li>Forward & Reverse Creep function</li>
                <li>Kick-Down feature for HyprDrive SSG</li>
                <li>Fast-off feature for HyprDrive SSG</li>
                <li>Anti-stall feature for HyprDrive SSG</li>
                <li>Wearable PEPS Key</li>
            </ul>
        </li>
    </ul>
</div>
}
else if (Model == 852)
{
    <h2 class="specification-container__heading special-skin-text" data-role="inview-imp" data-event="CWNonInteractive" data-action="KeySpecsImpressions" data-cat="ModelPage" data-label='Tiago'>Tiago Features</h2>
<div class="specs-accordion-container">
    <ul id="accordion" class="specs-accordion-list">
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Tiago_Exterior'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Exterior</div>
            <ul class="model-feature-list accoidion-animate">
                <li>Body coloured bumper</li>
                <li>Sporty 3 dimensional headlamps</li>
                <li>Integrated spoiler with spats</li>
                <li>High mount stop lamps</li>
                <li>Sharp tail lamps</li>
                <li>Chrome strip on front grille</li>
                <li>Wheel covers</li>
                <li>Alloy wheels</li>
                <li>Body coloured outside door handles</li>
                <li>Body coloured ORVM with LED turn indicator</li>
                <li>Chrome garnish on front fog lamps</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Tiago_Interior'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Interior</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Dual tone interior scheme</li>
                <li>Bottle & cup holder in front console</li>
                <li>Door pockets with bottle holder</li>
                <li>Tablet storage in glove box</li>
                <li>Gear knob with chrome insert</li>
                <li>Front power outlet</li>
                <li>Ticket holder on A-pillar</li>
                <li>Interior lamps with theatre dimming</li>
                <li>Collapsible grab handles with coat hook</li>
                <li>Rear parcel shelf</li>
                <li>Premium full fabric seat upholstery</li>
                <li>Body coloured chrome finish air vents*</li>
                <li>Knitted fabric on interior roof liner</li>
                <li></li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Tiago_Infotainment'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Infotainment</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>ConnectNext Infotainment system by HarmanTM</li>
                <li>4 Speakers</li>
                <li>4 Tweeters</li>
                <li>Phone book access</li>
                <li>Call logs (Incoming, Outgoing, Missed)</li>
                <li>Audio streaming</li>
                <li>Turn-by-Turn Navigation - Navi Maps#</li>
                <li>Juke-Car App#</li>
                <li>Speed dependent volume control</li>
                <li>Steering mounted audio & phone controls</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Tiago_Instrumental Panel'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Instrumental Panel</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Segmented DIS display 2.5"</li>
                <li>Digital clock</li>
                <li>Gear shift display</li>
                <li>Trip meter (2 nos.)</li>
                <li>Average fuel efficiency</li>
                <li>Distance to empty</li>
                <li>Tachometer</li>
                <li>Door open & key in reminder</li>
                <li>Driver seat belt reminder</li>
                <li>LED fuel & temperature gauge</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Tiago_Safety & Security'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Safety & Security</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Immobilizer</li>
                <li>Driver & co-driver airbags</li>
                <li>Speed dependent auto door locks</li>
                <li>Follow-me-home lamps</li>
                <li>Rear parking sensors</li>
                <li>Day & Night IRVM</li>
                <li>ABS with EBD & Corner Stability Control</li>
                <li>Front fog lamps</li>
                <li>Seat belt with pretensioners & load limiters</li>
                <li>Rear defogger</li>
                <li>Rear smart wiper with wash</li>
            </ul>
        </li>
        <li class="specs-accordion__list-item" data-role="click-tracking" data-event="CWNonInteractive" data-action="KeySpecsClicks" data-cat="ModelPage" data-label='Tiago_Comfort'>
            <div class="specs-accordion__heading"><span class="accordion-open-icon"></span>Comfort</div>
            <ul class="model-feature-list hide accoidion-animate">
                <li>Multi drive modes with Sport Mode</li>
                <li>Creep function</li>
                <li>Air conditioner with heater</li>
                <li>Electric power steering with tilt adjustment</li>
                <li>Remote fuel & tailgate opening</li>
                <li>Front wipers: 7 speed</li>
                <li>Integrated rear neck rest</li>
                <li>100% flip & fold rear seat</li>
                <li>Driver footrest</li>
                <li>Tinted glass (windows & tailgate glass)</li>
                <li>Driver Seat Height Adjustment</li>
                <li>Adjustable front head rests</li>
                <li>Manual central locking - With Key</li>
                <li>Central Locking with flip key remote</li>
                <li>Front & Rear power windows</li>
                <li>Electric adjustment for ORVM</li>
                <li>Internally adjustable ORVM</li>
                <li>Vanity mirror on co-driver side</li>
                <li>One-shot down on driver side window</li>
                <li>Cooled glove box</li>
            </ul>
        </li>
    </ul>
</div>
}