@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/compare/details.css' />";
    Model.Page_JS_Path = "/src/compare/details.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container padding-top10">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <ul>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="/" itemprop="url" title="Home">
                            <span itemprop="title">Home</span>
                        </a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="/" itemprop="url" title="New bike launches">
                            <span itemprop="title">Compare bikes</span>
                        </a>
                    </li>
                    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <span itemprop="title">KTM 390 Duke vs Bajaj Dominar 400</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12 bike-count-2">
            <div class="content-box-shadow card-bottom-margin bw-tabs-panel">
                <h1 class="content-box-shadow padding-15-20">Bike Comparison - KTM 390 Duke vs Bajaj Dominar 400</h1>

                <div class="grid-2 padding-left20 padding-top20">
                    <div id="toggle-features-btn" class="cur-pointer">
                        <span class="bwsprite unchecked-box"></span>
                        <span class="btn-label font14 inline-grid-9">Hide common features</span>
                    </div>
                </div>
                <div class="grid-10 alpha omega">

                </div>
                <div class="clear"></div>

                <div class="bw-tabs bw-tabs-flex overall-specs-tabs font14">
                    <ul>
                        <li class="active" data-tabs="specsTabContent">Specifications</li>
                        <li data-tabs="featuresTabContent">Features</li>
                        <li data-tabs="coloursTabContent">Colours</li>
                    </ul>
                </div>

                <div id="specsTabContent" class="bw-tabs-data font14">
                    <ul class="accordion-list">
                        <li>
                            <div class="model-accordion-tab">
                                <span class="model-sprite specs-2-sm-icon"></span>
                                <span class="accordion-tab-label">Engine &amp; Transmission</span>
                            </div>
                            <table class="table-content" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr class="row-width-grid">
                                        <td width="162"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Displacement (cc)</td>
                                        <td>149</td>
                                        <td>149</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Max Power</td>
                                        <td>42.90 bhp @@ 9,000 rpm</td>
                                        <td>34.50 bhp @@ 8,000 rpm</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Bore (mm)</td>
                                        <td>89</td>
                                        <td>--</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <div class="model-accordion-tab">
                                <span class="model-sprite specs-3-sm-icon"></span>
                                <span class="accordion-tab-label">Brakes, Wheels and Suspension</span>
                            </div>
                            <table class="table-content" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr class="row-width-grid">
                                        <td width="162"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Brake Type</td>
                                        <td>Disc</td>
                                        <td>Disc</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Front Disc</td>
                                        <td>Yes</td>
                                        <td>No</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Calliper Type</td>
                                        <td>Front-4-Piston , Rear-Single Piston Calliper</td>
                                        <td>--</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <div class="model-accordion-tab">
                                <span class="model-sprite specs-4-sm-icon"></span>
                                <span class="accordion-tab-label">Dimensions and Chassis</span>
                            </div>
                            <table class="table-content" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr class="row-width-grid">
                                        <td width="162"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Brake Type</td>
                                        <td>Disc</td>
                                        <td>Disc</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Front Disc</td>
                                        <td>Yes</td>
                                        <td>No</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Calliper Type</td>
                                        <td>Front-4-Piston , Rear-Single Piston Calliper</td>
                                        <td>--</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <div class="model-accordion-tab">
                                <span class="model-sprite specs-5-sm-icon"></span>
                                <span class="accordion-tab-label">Fuel efficiency and Performance</span>
                            </div>
                            <table class="table-content" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr class="row-width-grid">
                                        <td width="162"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Brake Type</td>
                                        <td>Disc</td>
                                        <td>Disc</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Front Disc</td>
                                        <td>Yes</td>
                                        <td>No</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Calliper Type</td>
                                        <td>Front-4-Piston , Rear-Single Piston Calliper</td>
                                        <td>--</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
                <div id="featuresTabContent" class="bw-tabs-data font14 hide">
                    featuresTabContent
                </div>
                <div id="coloursTabContent" class="bw-tabs-data font14 hide">
                    coloursTabContent
                </div>

            </div>

            <div id="used-bikes-container" class="content-box-shadow font14">
                <table class="table-content" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr class="row-width-grid">
                            <td width="162"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="row-heading">Used bikes you may like</td>
                            <td>
                                <a href="">10 Used KTM 390 Duke</a><br />
                                <span>Starting at&nbsp;<span class="bwsprite inr-sm-dark"></span>1,23,000
                                </span>
                            </td>
                            <td>
                                <a href="">10 Bajaj Dominar 400</a><br />
                                <span>Starting at&nbsp;<span class="bwsprite inr-sm-dark"></span>1,23,000
                                </span>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow content-inner-block-20">
                <p class="h2-heading text-bold text-black margin-bottom20">Bike Comparison - KTM 390 Duke vs Bajaj Dominar 400</p>
                <div class="font14 text-slate-grey collapsible-content">
                    <p class="main-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper sem id elit volutpat, eget lobortis neque auctor. Nunc auctor quam in ipsum euismod porta. Integer lobortis cursus ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper sem id elit volutpat, eget lobortis neque auctor. Nunc auctor quam in ipsum euismod porta. Integer lobortis cursus ultricies</p>
                    <p class="more-content">Vivamus sit amet ultricies justo. Integer in leo dapibus, tincidunt libero eu, euismod leo. Suspendisse pellentesque risus dolor</p>
                    <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <div class="content-box-shadow padding-top20">
                <h2 class="h2-heading padding-left20 margin-bottom20">People who compared above bikes also compared</h2>
                <div class="jcarousel-wrapper inner-content-carousel comparison-type-carousel padding-bottom20">
                    <div class="jcarousel">
                        <ul>
                            <li>
                                <a href="" title="" class="card-target">
                                    <div class="grid-6">
                                        <div class="model-img-content">
                                            <img class="lazy" alt="Royal Enfield Himalayan" title="" data-original="https://imgd1.aeplcdn.com//210x118//bw/models/royalenfield-himalayan.jpg" src="" />
                                        </div>
                                        <h3 class="font15 text-black margin-bottom10 text-truncate">Royal Enfield Himalayan</h3>
                                        <p class="font14 text-light-grey margin-bottom5 text-truncate">Ex-showroom, Mumbai</p>
                                        <span class="bwsprite inr-lg"></span>&nbsp;<span class="font18 text-default text-bold">1,63,338</span>
                                    </div>
                                    <div class="grid-6">
                                        <div class="model-img-content">
                                            <img class="lazy" alt="Honda CB Hornet 160R" title="" data-original="https://imgd1.aeplcdn.com//210x118//bw/models/honda-cb-hornet-160r.jpg" src="" />
                                        </div>
                                        <h3 class="font15 text-black margin-bottom10 text-truncate">Honda CB Hornet 160R</h3>
                                        <p class="font14 text-light-grey margin-bottom5 text-truncate">Ex-showroom, Mumbai</p>
                                        <span class="bwsprite inr-lg"></span>&nbsp;<span class="font18 text-default text-bold">87,543</span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="margin-top20 text-center">
                                        <span class="btn btn-white btn-160-36">Compare now</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" title="" class="card-target">
                                    <div class="grid-6">
                                        <div class="model-img-content">
                                            <img class="lazy" alt="Royal Enfield Himalayan" title="" data-original="https://imgd1.aeplcdn.com//210x118//bw/models/royalenfield-himalayan.jpg" src="" />
                                        </div>
                                        <h3 class="font15 text-black margin-bottom10 text-truncate">Royal Enfield Himalayan</h3>
                                        <p class="font14 text-light-grey margin-bottom5 text-truncate">Ex-showroom, Mumbai</p>
                                        <span class="bwsprite inr-lg"></span>&nbsp;<span class="font18 text-default text-bold">1,63,338</span>
                                    </div>
                                    <div class="grid-6">
                                        <div class="model-img-content">
                                            <img class="lazy" alt="Honda CB Hornet 160R" title="" data-original="https://imgd1.aeplcdn.com//210x118//bw/models/honda-cb-hornet-160r.jpg" src="" />
                                        </div>
                                        <h3 class="font15 text-black margin-bottom10 text-truncate">Honda CB Hornet 160R</h3>
                                        <p class="font14 text-light-grey margin-bottom5 text-truncate">Ex-showroom, Mumbai</p>
                                        <span class="bwsprite inr-lg"></span>&nbsp;<span class="font18 text-default text-bold">87,543</span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="margin-top20 text-center">
                                        <span class="btn btn-white btn-160-36">Compare now</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" title="" class="card-target">
                                    <div class="grid-6">
                                        <div class="model-img-content">
                                            <img class="lazy" alt="Royal Enfield Himalayan" title="" data-original="https://imgd1.aeplcdn.com//210x118//bw/models/royalenfield-himalayan.jpg" src="" />
                                        </div>
                                        <h3 class="font15 text-black margin-bottom10 text-truncate">Royal Enfield Himalayan</h3>
                                        <p class="font14 text-light-grey margin-bottom5 text-truncate">Ex-showroom, Mumbai</p>
                                        <span class="bwsprite inr-lg"></span>&nbsp;<span class="font18 text-default text-bold">1,63,338</span>
                                    </div>
                                    <div class="grid-6">
                                        <div class="model-img-content">
                                            <img class="lazy" alt="Honda CB Hornet 160R" title="" data-original="https://imgd1.aeplcdn.com//210x118//bw/models/honda-cb-hornet-160r.jpg" src="" />
                                        </div>
                                        <h3 class="font15 text-black margin-bottom10 text-truncate">Honda CB Hornet 160R</h3>
                                        <p class="font14 text-light-grey margin-bottom5 text-truncate">Ex-showroom, Mumbai</p>
                                        <span class="bwsprite inr-lg"></span>&nbsp;<span class="font18 text-default text-bold">87,543</span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="margin-top20 text-center">
                                        <span class="btn btn-white btn-160-36">Compare now</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" title="" class="card-target">
                                    <div class="grid-6">
                                        <div class="model-img-content">
                                            <img class="lazy" alt="Royal Enfield Himalayan" title="" data-original="https://imgd1.aeplcdn.com//210x118//bw/models/royalenfield-himalayan.jpg" src="" />
                                        </div>
                                        <h3 class="font15 text-black margin-bottom10 text-truncate">Royal Enfield Himalayan</h3>
                                        <p class="font14 text-light-grey margin-bottom5 text-truncate">Ex-showroom, Mumbai</p>
                                        <span class="bwsprite inr-lg"></span>&nbsp;<span class="font18 text-default text-bold">1,63,338</span>
                                    </div>
                                    <div class="grid-6">
                                        <div class="model-img-content">
                                            <img class="lazy" alt="Honda CB Hornet 160R" title="" data-original="https://imgd1.aeplcdn.com//210x118//bw/models/honda-cb-hornet-160r.jpg" src="" />
                                        </div>
                                        <h3 class="font15 text-black margin-bottom10 text-truncate">Honda CB Hornet 160R</h3>
                                        <p class="font14 text-light-grey margin-bottom5 text-truncate">Ex-showroom, Mumbai</p>
                                        <span class="bwsprite inr-lg"></span>&nbsp;<span class="font18 text-default text-bold">87,543</span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="margin-top20 text-center">
                                        <span class="btn btn-white btn-160-36">Compare now</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <span class="jcarousel-control-left">
                        <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
                    </span>
                    <span class="jcarousel-control-right">
                        <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>