@{
    Model.IsTransparentHeader = true;
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/css/compare/landing.css' />";
    Model.Page_JS_Path = "/src/compare/landing.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.IsPageTypeLanding = true;
}

<header class="compare-banner">
    <div id="banner-text-box" class="container">
        <div class="welcome-box">
            <h1 class="font30 text-uppercase">Compare bikes</h1>
            <p class="font20 text-unbold text-white">Bike comparisons made easier</p>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div id="bike-comparison-box" class="grid-12">
            <div class="content-box-shadow negative-50 content-inner-block-20">
                <ul class="compare-box-list" data-selection-count="0">
                    <li class="item-box">
                        <div class="box-placeholder">
                            <span class="box-label"><span class="add-icon"></span><br />Add bike&nbsp;<span class="label-count">1</span></span>
                        </div>
                        @*<div class="selected-bike">
                            <span class="bwsprite cancel-selected-item cross-md-dark-grey"></span>
                            <p class="font12 text-black">Honda</p>
                            <h2 class="font15 margin-bottom10">CB Shine</h2>
                            <img src="https://imgd.aeplcdn.com/227x128/bw/models/honda-shine.jpg" alt="Honda CB Shine" class="model-image" />
                            <p class="font14 text-light-grey margin-bottom5">Version</p>
                            <p class="font14 text-bold margin-bottom10">Standard</p>
                            <p class="font14 text-light-grey margin-bottom5">Ex-showroom price, Pune</p>
                            <span class="bwsprite inr-lg"></span>
                            <span class="font18 text-bold">1,25,000</span>
                        </div>*@
                    </li>
                    <li class="item-box">
                        <div class="box-placeholder">
                            <span class="box-label"><span class="add-icon"></span><br />Add bike&nbsp;<span class="label-count">2</span></span>
                        </div>
                    </li>
                    <li class="item-box cur-disabled">
                        <div class="box-placeholder">
                            <span class="box-label"><span class="add-icon"></span><br />Add bike&nbsp;<span class="label-count">3</span></span>
                        </div>
                    </li>
                    <li class="item-box cur-disabled">
                        <div class="box-placeholder">
                            <span class="box-label"><span class="add-icon"></span><br />Add bike&nbsp;<span class="label-count">4</span></span>
                        </div>
                        <!--<div class="bike-selection-box">
                            <div class="select-box select-box-size-13">
                                <p class="select-label">Brand</p>
                                <select class="chosen-select" data-title="Select brand">
                                    <option></option>
                                    <option value="1">Aprilia</option>
                                    <option value="2">Bajaj</option>
                                    <option value="3">Benelli</option>
                                    <option value="4">BMW</option>
                                    <option value="5">Ducati</option>
                                    <option value="6">Harley Davidson</option>
                                    <option value="7">Hero</option>
                                    <option value="8">Hero Electric</option>
                                    <option value="9">Hero Honda</option>
                                    <option value="10">Honda</option>
                                </select>
                            </div>
                            <div class="select-box select-box-no-input select-box-size-13">
                                <p class="select-label">Model</p>
                                <select class="chosen-select" data-title="Select model">
                                    <option></option>
                                    <option value="1">Avenger</option>
                                    <option value="2">Avenger 150 Street</option>
                                    <option value="3">Avenger 220 Cruise</option>
                                    <option value="4">Avenger 220 Street</option>
                                    <option value="5">Boxer</option>
                                    <option value="6">Discover 125</option>
                                    <option value="7">Dominar 400</option>
                                </select>
                            </div>
                            <div class="select-box select-box-no-input select-box-size-13">
                                <p class="select-label">Version</p>
                                <select class="chosen-select" data-title="Select version">
                                    <option></option>
                                    <option value="1">Standard</option>
                                    <option value="2">ABS</option>
                                </select>
                            </div>
                        </div>-->
                        <!--<div data-bind="template: { name: 'selected-bike-template', data: modelData }"></div>-->
                    </li>
                </ul>
                <div class="compare-now-btn text-center margin-top20 hide">
                    <a href="" class="btn btn-orange">Compare now</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<!--<script type="text/html" id="bike-selection-template">
    <div class="bike-selection-box">
        <div class="select-box select-box-size-13">
            <p class="select-label">Brand</p>
            <select data-bind="options: makeArrayObj, optionsText: 'makeName', optionsValue: 'makeId'"></select>
        </div>
    </div>
</script>-->

<!--<div class="select-box select-box-size-13">
    <p class="select-label">Model</p>
    <select class="chosen-select" data-placeholder="Select model" data-bind="options: modelArray(), chosen: { width: '100%' }, value: model, optionsText: 'modelName', optionsValue: 'modelId', event: { change: modelChanged }" disabled></select>
</div>
<div class="select-box select-box-size-13">
    <p class="select-label">Version</p>
    <select class="chosen-select" data-placeholder="Select version">
    </select>
</div>-->

<script type="text/html" id="bike-template">
    <div class="selected-bike">
        <span class="bwsprite cancel-selected-item cross-md-dark-grey"></span>
        <p class="font12 text-black" data-bind="text: makeName"></p>
        <h2 class="font15 margin-bottom10" data-bind="text: modelName"></h2>
        <img data-bind="attr: { 'src': hostUrl + '227x128' + originalImagePath, 'alt': makeName + ' ' + modelName }" src="" alt="" class="model-image" />
        <p class="font14 text-light-grey margin-bottom5">Version</p>
        <p class="font14 text-bold margin-bottom10" data-bind="text: versionName"></p>
        <p class="font14 text-light-grey margin-bottom5">Ex-showroom price, Pune</p>
        <span class="bwsprite inr-lg"></span>
        <span class="font18 text-bold" data-bind="text: price"></span>
    </div>
</script>

<section>
    <div class="container">
        <div class="grid-12">
            <h2 class="section-heading">Bike comparison</h2>
            <div class="content-box-shadow content-inner-block-20 font14 text-slate-grey collapsible-content">
                <p class="main-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper sem id elit volutpat, eget lobortis neque auctor. Nunc auctor quam in ipsum euismod porta. Integer lobortis cursus ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper sem id elit volutpat, eget lobortis neque auctor. Nunc auctor quam in ipsum euismod porta. Integer lobortis cursus ultricies</p>
                <p class="more-content">Vivamus sit amet ultricies justo. Integer in leo dapibus, tincidunt libero eu, euismod leo. Suspendisse pellentesque risus dolor</p>
                <a href="javascript:void(0)" class="read-more-target" rel="nofollow">...Read more</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>

<section>
    <div class="container card-bottom-margin">
        <div class="grid-12">
            <h2 class="section-heading">Comparison tests</h2>
            <div class="content-box-shadow padding-top20 padding-right10 padding-bottom20 padding-left10 font14 article-list">
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="" style="display: inline;">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="" style="display: inline;">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <article class="margin-bottom20">
                    <div class="grid-4">
                        <div class="model-preview-image-container">
                            <a href="">
                                <img class="lazy" data-original="https://imgd1.aeplcdn.com//310x174//bw/ec/23651/TVS-Apache-RTR-200-4V-vs-Bajaj-Pulsar-RS200-73930.jpg?wm=2&amp;q=75" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" alt="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test" src="" style="display: inline;">
                            </a>
                        </div>
                    </div>
                    <div class="grid-8">
                        <header>
                            <a href="" class="article-target-link" title="TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test">TVS Apache RTR 200 4V vs Bajaj Pulsar RS200: Comparison test</a>
                        </header>
                        <div class="article-stats-left-grid">
                            <span class="bwsprite calender-grey-sm-icon"></span>
                            <span class="article-stats-content">Jun 06, 2016</span>
                        </div>
                        <div class="article-stats-right-grid">
                            <span class="bwsprite author-grey-sm-icon"></span>
                            <span class="article-stats-content">Pratheek Kunder</span>
                        </div>
                        <p class="line-height17 margin-top10">Two bikes Two different body styles yet we rsquo re doing a comparison test Why Because both get almost the same set of features technology and also the same set of buyers And these bikes are easily the most accessible and affordable performance motorcycles under Rs 1 5... </p>
                    </div>
                    <div class="clear"></div>
                </article>
                <div class="padding-left10 more-article-target view-all-btn-container">
                    <a title="" href="" class="btn view-all-target-btn">Read all reviews<span class="bwsprite teal-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>