
<div class="container card-bottom-margin">
    <div class="grid-12 alpha omega">
        <div class="content-box-shadow padding-top20">
            <h2 class="h2-heading padding-left20 margin-bottom15">Compare with similar bikes</h2>
            <div class="swiper-container card-container swiper-container-horizontal compare-bike-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <a href="" title="" class="block">
                                <div class="swiper-image-preview">
                                    <img class="swiper-lazy swiper-lazy-loaded" title="Hero Duet" alt="Hero Duet" src="https://imgd.aeplcdn.com//174x98//bw/models/hero-duet.jpg?20152810155605&q=70">
                                </div>
                                <div class="swiper-details-block">
                                    <h3 class="target-link font12 text-truncate margin-bottom10 padding-top5">Hero Duet</h3>
                                </div>
                            </a>
                            <div class="compare-similar-bike">
                                <p class="font10 text-slate-grey margin-bottom10">Compare Dominar 400 bike with:</p>
                                <a href="" title="" class="compare-with-card margin-right5">
                                    <div class="compare-card__image-preview">
                                        <img class="swiper-lazy swiper-lazy-loaded" alt="Bajaj Dominar 400" title="Bajaj Dominar 400" src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70">
                                    </div>
                                    <p class="compare-card__title">Pulsar RS200</p>
                                </a>
                                <a href="" title="" class="compare-with-card margin-left5">
                                    <div class="compare-card__image-preview">
                                        <img class="swiper-lazy swiper-lazy-loaded" alt="Bajaj Dominar 400" title="Bajaj Dominar 400" src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70">
                                    </div>
                                    <p class="compare-card__title">Pulsar RS200</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <a href="" title="" class="block">
                                <div class="swiper-image-preview">
                                    <img class="swiper-lazy swiper-lazy-loaded" title="Hero Duet" alt="Hero Duet" src="https://imgd.aeplcdn.com//174x98//bw/models/hero-duet.jpg?20152810155605&q=70">
                                </div>
                                <div class="swiper-details-block">
                                    <h3 class="target-link font12 text-truncate margin-bottom10 padding-top5">Hero Duet</h3>
                                </div>
                            </a>
                            <div class="compare-similar-bike">
                                <p class="font10 text-slate-grey margin-bottom10">Compare Dominar 400 bike with:</p>
                                <a href="" title="" class="compare-with-card margin-right5">
                                    <div class="compare-card__image-preview">
                                        <img class="swiper-lazy swiper-lazy-loaded" alt="Bajaj Dominar 400" title="Bajaj Dominar 400" src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70">
                                    </div>
                                    <p class="compare-card__title">Pulsar RS200</p>
                                </a>
                                <a href="" title="" class="compare-with-card margin-left5">
                                    <div class="compare-card__image-preview">
                                        <img class="swiper-lazy swiper-lazy-loaded" alt="Bajaj Dominar 400" title="Bajaj Dominar 400" src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70">
                                    </div>
                                    <p class="compare-card__title">Pulsar RS200</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>