@model Bikewale.Models.Compare.SimilarBikesComparisionVM


<div class="content-box-shadow card-bottom-margin padding-top15">
    <h2 class="h2-heading padding-left20 margin-bottom20">Compare with similar bikes</h2>
    <div class="jcarousel-wrapper inner-content-carousel padding-bottom20 compare-bike-carousel">
        <div class="jcarousel">
            <ul>
                <li>
                    <a href="" title="" class="jcarousel-card">
                        <div class="model-jcarousel-image-preview">
                            <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                        </div>
                        <div class="card-desc-block">
                            <p class="bikeTitle">KTM RC390</p>
                        </div>
                    </a>
                    <div class="padding-left20 padding-right20 margin-bottom20">
                        <p class="font12 text-slate-grey margin-bottom15">Compare Dominar 400 bike with:</p>
                        <a href="" title="" class="compare-with-card margin-right5">
                            <div class="compare-card__image-preview">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                            </div>
                            <p class="compare-card__title">Pulsar RS200</p>
                        </a>
                        <a href="" title="" class="compare-with-card margin-left5">
                            <div class="compare-card__image-preview">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                            </div>
                            <p class="compare-card__title">Pulsar RS200</p>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="" title="" class="jcarousel-card">
                        <div class="model-jcarousel-image-preview">
                            <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                        </div>
                        <div class="card-desc-block">
                            <p class="bikeTitle">KTM RC390</p>
                        </div>
                    </a>
                    <div class="padding-left20 padding-right20 margin-bottom20">
                        <p class="font12 text-slate-grey margin-bottom15">Compare Dominar 400 bike with:</p>
                        <a href="" title="" class="compare-with-card margin-right5">
                            <div class="compare-card__image-preview">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                            </div>
                            <p class="compare-card__title">Pulsar RS200</p>
                        </a>
                        <a href="" title="" class="compare-with-card margin-left5">
                            <div class="compare-card__image-preview">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                            </div>
                            <p class="compare-card__title">Pulsar RS200</p>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="" title="" class="jcarousel-card">
                        <div class="model-jcarousel-image-preview">
                            <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                        </div>
                        <div class="card-desc-block">
                            <p class="bikeTitle">KTM RC390</p>
                        </div>
                    </a>
                    <div class="padding-left20 padding-right20 margin-bottom20">
                        <p class="font12 text-slate-grey margin-bottom15">Compare Dominar 400 bike with:</p>
                        <a href="" title="" class="compare-with-card margin-right5">
                            <div class="compare-card__image-preview">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                            </div>
                            <p class="compare-card__title">Pulsar RS200</p>
                        </a>
                        <a href="" title="" class="compare-with-card margin-left5">
                            <div class="compare-card__image-preview">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                            </div>
                            <p class="compare-card__title">Pulsar RS200</p>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="" title="" class="jcarousel-card">
                        <div class="model-jcarousel-image-preview">
                            <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                        </div>
                        <div class="card-desc-block">
                            <p class="bikeTitle">KTM RC390</p>
                        </div>
                    </a>
                    <div class="padding-left20 padding-right20 margin-bottom20">
                        <p class="font12 text-slate-grey margin-bottom15">Compare Dominar 400 bike with:</p>
                        <a href="" title="" class="compare-with-card margin-right5">
                            <div class="compare-card__image-preview">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                            </div>
                            <p class="compare-card__title">Pulsar RS200</p>
                        </a>
                        <a href="" title="" class="compare-with-card margin-left5">
                            <div class="compare-card__image-preview">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" alt="KTM RC390" src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc390-2017.jpg?20171801182615&amp;20171005160204&amp;q=75" border="0" style="display: inline;">
                            </div>
                            <p class="compare-card__title">Pulsar RS200</p>
                        </a>
                    </div>
                </li>

            </ul>
        </div>
        <span class="jcarousel-control-left">
            <a href="#" class="bwsprite jcarousel-control-prev" rel="nofollow"></a>
        </span>
        <span class="jcarousel-control-right">
            <a href="#" class="bwsprite jcarousel-control-next" rel="nofollow"></a>
        </span>
    </div>
</div>
