.block-button-list
    li
        width: 148px
        height: 108px
        display: inline-block
        vertical-align: top
        margin-bottom: 4px
        padding: 3px
        text-align: center
        font-size: 16px

    .list-item
        color: $text-light
        display: block
        height: 100%
        border: 1px solid #e2e2e2
        text-decoration: none

        &:hover
            border-color: #4d5057
            color: #4d5057

    .block-key-field
        font-size: 14px
        padding-top: 23px
        padding-bottom: 5px
        display: block
