.bw-horizontal-swiper
	&.card-container
		.swiper-slide
			width: 308px
			
	.swiper-card
		width: 308px
		font-size: 14px
		min-height: 140px

		a
			display: block
			padding: 15px 10px 10px

@media only screen and (max-width:320px)
	.bw-horizontal-swiper
		&.card-container
			.swiper-slide
				width: 275px
			
		.swiper-card
			width: 275px
