<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
  </configSections>
  <system.web>
    <authentication mode="Forms">
      <forms name="_bikewaleOpr" loginUrl="http://webserver:9010"/>
    </authentication>    
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true"/>
  </system.web>
  <connectionStrings>
    <add name="RabbitMQServerList" connectionString="172.16.0.20"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="connectionstring" value="server=dbserver;uid=cwuser;pwd=cw@007;database=bikewale_dev" />-->
    <!--<add key="connectionString" value="server=dbserver;uid=cwuser;pwd=cw@007;database=bikewale" />-->
    <add key="connectionstring" value="server=cwdb\cwdev;uid=cwuser;pwd=cw@007;database=bikewale_dev"/>
    <add key="mySqlConnectionString" value="SERVER=172.16.3.167;UID=cwuser;PASSWORD=cw@007;DATABASE=bikewale;Allow User Variables=true" />
    <add key="imgHostURL" value="webserver:9010"/>
    <add key="RabbitImgHostURL" value="172.16.0.20"/>
    <add key="imgPathFolder" value="E:\sites\carwaleimg\staging\"/>
    <add key="redirectUrl" value="http://webserver:9010"/>
    <add key="bikewaleUrl" value="http://webserver:9010"/>
    <add key="isProduction" value="false"/>
    <!--calculation values for insurance-->
    <add key="A:1" value="1.708"/>
    <add key="A:2" value="1.793"/>
    <add key="A:3" value="1.879"/>
    <add key="B:1" value="1.676"/>
    <add key="B:2" value="1.760"/>
    <add key="B:3" value="1.844"/>
    <add key="d_.5" value="5"/>
    <add key="d_1" value="15"/>
    <add key="d_2" value="20"/>
    <add key="d_3" value="35"/>
    <add key="d_4" value="40"/>
    <add key="d_5" value="50"/>
    <add key="L:1" value="350"/>
    <add key="L:2" value="355"/>
    <add key="L:3" value="680"/>
    <add key="ServiceTax" value="12.24"/>
    <!--calculation values for insurance end here-->
    <add key="DefaultCity" value="1"/>
    <add key="defaultName" value="Mumbai"/>
    <!-- Keys for memcache -->
    <add key="IsMemcachedUsed" value="false"/>
    <add key="MemcacheTimespan" value="30"/>
    <add key="SMTPSERVER" value="172.16.10.250"/>
    <!-- SMTP Server -->
    <add key="errorMailTo" value="bikewalebugs@gmail.com"/>
    <add key="localMail" value="contact@bikewale.com"/>
    <add key="ReplyTo" value="contact@bikewale.com"/>
    <add key="MailFrom" value="opr.webserver.BikeWale.com"/>
    <add key="ApplicationName" value="BikeWale.com"/>
    <add key="sendError" value="On"/>
    <add key="ABApiHostUrl" value="http://webserver:8084"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ImageQueueName" value="BWIMAGEIPC"/>
    <add key="CwOprHostUrl" value="http://webserver:8082/"/>
    <add key="GoogleDistanceMatrixAPIKey" value="AIzaSyArdIcynpbm2edjRHwyhcTplQJJ_v6GNwo"/>
    <add key="areaMaxPerCall" value="50"/>
  </appSettings>
  <memcached>
    <servers>
      <add address="172.16.0.11" port="11211"/>
      <!-- Add more server instances here-->
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="400" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
  </memcached>
  <system.webServer>
    <handlers>
      <add name="AjaxPro.2" path="ajaxpro/*.ashx" verb="*" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ajax" path="ajax/*.ashx" verb="*" type="Ajax.PageHandlerFactory, Ajax" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <codeBase version="1.2.10.0" href="file:///D:/work/bikewaleweb/BikeWale.UI/bin/DuplicateAssembly/log4net.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>