#bw-header, .bg-footer, #nav {
    display: none;
}
#popupWrapper.bwm-fullscreen-popup { padding:0; background:#f5f5f5; }
.bw-city-popup.bwm-fullscreen-popup { overflow-x:hidden; }
.bwm-fullscreen-popup { background: #fff; padding:10px 20px 30px; margin: auto; width:100%; position: fixed; left:0; top:0; height:100%; z-index: 10; overflow-y:scroll; }
.text-center { text-align: center; }
.city-area-banner {
    width: 100%;
    height: 109px;
    background: #f5f5f5 url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/city-area-banner.png) repeat-x center bottom;
}
.bw-city-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-position: -36px -226px;
}

.bw-city-popup.bwm-fullscreen-popup #popupContent {
    background: #f5f5f5;
    z-index: 11;
    position: fixed;
    left: 100%;
    top: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.user-input-box {
    width: 100%;
    position: fixed;
    top: 0;
    left: 100%;
}
.bwm-city-area-box .back-arrow-box {
    position: absolute;
    left: 5px;
    height: 30px;
    width: 40px;
    top: 5px;
    z-index: 11;
    cursor: pointer;
}
.back-long-arrow-left {
    position: absolute;
    top: 7px;
    left: 10px;
    background-position: -155px 0;
    width: 21px;
    height: 16px;
}
.bwm-city-area-box .form-control {
    padding: 10px 50px;
}

#btnDealerPricePopup {
    display: none;
}

#popupCityList,
#popupAreaList {
    padding-top: 40px;
}

#popupCityList li,
#popupAreaList li {
    border-top: 1px solid #ccc;
    font-size: 14px;
    padding: 15px 10px;
    color: #333333;
    cursor: pointer;
}

.bw-area-popup-box {
    display: none;
}

.globalcity-popup {
    display: none;
}