/* review contest slug */
.contest-slug-sm {
	font-size: 12px;
	padding: 8px 10px;
}

.slug-teal-target {
	display: block;
	color: #fff;
	background: #6cc7d1;
	position: relative;
}

.slug-teal-target:hover {
	text-decoration: none;
}

.contest-slug__label {
	width: 92%;
	color: #fff;
	font-weight: 400;
	padding-left: 8px;
	display: inline-block;
	vertical-align: middle;
}

.trophy-white {
    width: 15px;
    height: 16px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/trophy-white-14.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.arrow-white-right {
	width: 7px;
	height: 11px;
	background-position: -203px -48px;
	position: absolute;
	top: 33%;
	right: 10px;
}

.cover-window-popup {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
}
.cover-window-popup .cover-popup-back,
.cover-window-popup .body-popup-back {
    padding: 15px 15px 12px;
}
.cover-window-popup .cover-popup-header {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
}
.cover-window-popup .cover-popup-list {
    overflow: hidden;
}
.cover-window-popup .cover-popup-list li {
    padding-right: 20px;
    padding-left: 20px;
}
.cover-window-popup .cover-popup-list li span {
    font-size: 16px;
    padding: 10px 20px 10px 0;
    display: block;
    position: relative;
    border-top: 1px solid #f5f5f5;
    cursor: pointer;
}
.cover-window-popup .cover-popup-list li:hover {
    background-color: #f5f5f5;
}
.cover-window-popup .cover-popup-list li:first-child span {
    border-top: 0;
}
.cover-window-popup .with-arrow li {
    background: url("https://imgd1.aeplcdn.com/0x0/bw/static/design15/grey-right-arrow.png") no-repeat 94% 50%;
}
.bike-banner {
    width: 100%;
    height: 110px;
    background: #fff url(https://imgd3.aeplcdn.com/0x0/bw/static/landing-banners/m/bike-popup-banner.png) repeat-x center bottom;
}
.cover-popup-body-head .head-label {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.cover-popup-body-head .body-popup-back {
    padding-left: 20px;
}
.cover-popup-body-head .no-back-btn-label {
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 12px;
}

.extra-padding .cover-popup-body {
    padding-bottom: 40px;
}
#rateBike { color:#ffffff; }

.circle-placeholder {
    width: 80px;
    height: 80px;
    border: 1px solid #e2e2e2;
    background: #f5f5f5;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.write-icon {
    width: 30px;
    height: 32px;
    background-position: -180px -668px;
    position: relative;
    left: 2px;
}