/* common */
.margin-bottom3 {
    margin-bottom: 3px;
}

.font-bold {
    font-weight: 700;
}

.text-bold {
    font-weight: 600 !important;
}

.bw-tabs-flex.margin-bottom10 {
    margin-bottom: 10px;
}

/* top card */
.compare-landing-banner {
    background: #8d8c8a url(https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/dealer-locator-banner.jpg) no-repeat center bottom;
    background-size: cover;
    height: 130px;
    padding-top: 1px;
}

.banner-box-shadow {
    background: #fff;
    margin-top: -25px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    -o-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    -ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
}

/* comparison main card */
#compare-bike-landing {
    min-height: 135px;
}

.bike-details-block {
    width: 50%;
    padding: 10px;
    float: left;
    position: relative;
}

.bike-details-block.match-height .compare-box-placeholder {
    min-height: 204px
}

.comparison-main-card .bike-details-block:nth-of-type(1) {
    padding-right: 15px;
}

.comparison-main-card .bike-details-block:nth-of-type(2) {
    padding-left: 15px;
}

.comparison-main-card .bike-details-block:nth-of-type(1):before {
    content: '';
    width: 1px;
    height: 94%;
    position: absolute;
    top: 2.5%;
    right: 0;
}

.compare-bikes-list .grid-6:first-child:after,
.bike-details-block:first-child:after {
    content: '';
    position: absolute;
    right: -10px;
    top: 40%;
    width: 22px;
    height: 22px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/design15/comparison-divider.png) no-repeat;
    display: block;
    z-index: 1;
}

.comparison-main-card .bike-details-block a.block,.comparison-main-card  a.block {
    width: 82%;
}

.selected-bike-box {
    padding-left: 10px;
    padding-bottom: 5px;
}

.comparison-main-card .bike-details-block.match-height:nth-of-type(2) .selected-bike-box {
    padding-right: 10px;
}

.bike-details-block .btn-white {
    width: 134px;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 4px;
    overflow: hidden;
}

.bike-details-block .cross-sm-dark-grey {
    width: 20px;
    height: 20px;
    top: 5px;
    background-position: -80px -236px;
    cursor: pointer;
}

.bike-details-block a:hover {
    text-decoration: none;
}

.bike-details-block .bike-image-block {
    width: 121px;
}

.bike-details-block .bike-title-target {
    font-size: 14px;
    font-weight: 600;
    color: #2a2a2a;
    display: block;
    margin-bottom: 10px;
}

/* version */
.bike-details-block .label-text {
    font-size: 11px;
    color: #82888b;
    margin-bottom: 2px;
}

/* compare-box-placeholder */
.compare-box-placeholder {
    width: 100%;
    height: 143px;
    background: #f5f5f5;
    display: table;
    text-align: center;
    cursor: pointer;
}

.bike-icon-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.cross-grey {
    width: 14px;
    height: 16px;
    background-position: -116px -458px
}

.grey-bike {
    width: 52px;
    height: 31px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/design15/grey-bike.png) no-repeat;
    display: inline-block;
    margin-bottom: 12px;
}

/*popular comparison*/
.comparison-swiper .swiper-slide,
.comparison-swiper .swiper-card {
    width: 310px;
    min-height: 210px;
}
.comparison-swiper .card-target {
    padding-top: 5px;
    padding-bottom: 15px;
    display: block;
}
.model-img-content {
    width: 126px;
    height: 71px;
    margin-bottom: 10px;
    position: relative;
}
.comparison-swiper .card-target .grid-6:first-of-type {
    position: relative;
}
.comparison-swiper .card-target .grid-6:first-of-type:after {
    content: '';
    position: absolute;
    right: 0;
    top: 45px;
    width: 22px;
    height: 21px;
    background: url("https://imgd.aeplcdn.com/0x0/bw/static/design15/comparison-divider.png") no-repeat;
    display: block;
}
.btn-140-32 {
    font-size: 14px;
    padding: 5px;
    width: 140px;
}

/* bike popup */
.cover-window-popup {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
}
.cover-window-popup .cover-popup-back,
.cover-window-popup .body-popup-back {
    padding: 15px 15px 12px;
}
.cover-window-popup .cover-popup-header {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
}
.cover-window-popup .cover-popup-list {
    overflow: hidden;
}
.cover-window-popup .cover-popup-list li {
    padding-right: 20px;
    padding-left: 20px;
}
.cover-window-popup .cover-popup-list li span {
    font-size: 16px;
    padding: 10px 20px 10px 0;
    display: block;
    position: relative;
    border-top: 1px solid #f5f5f5;
    cursor: pointer;
}
.cover-window-popup .cover-popup-list li:hover {
    background-color: #f5f5f5;
}
.cover-window-popup .cover-popup-list li:first-child span {
    border-top: 0;
}
.cover-window-popup .with-arrow li {
    background: url("https://imgd.aeplcdn.com/0x0/bw/static/design15/grey-right-arrow.png") no-repeat 94% 50%;
}
.bike-banner {
    width: 100%;
    height: 110px;
    background: #fff url(https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/bike-popup-banner.png) repeat-x center bottom;
}
.cover-popup-body-head .head-label {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.cover-popup-body-head .body-popup-back {
    padding-left: 20px;
}
.cover-popup-body-head .no-back-btn-label {
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 12px;
}

.extra-padding .cover-popup-body {
    padding-bottom: 40px;
}

/* bike comparison card */
.collapsible-content .main-content {
    display: inline;
}
.collapsible-content .more-content {
    display: none;
}
.collapsible-content.active .more-content {
    display: inline;
}

/* comparison tests */
.review-image-wrapper {
    width:120px;
    height:68px;
    border:1px solid #e2e2e2;
    display:inline-block;
    vertical-align:top;
    margin-right:10px;
}

.review-image-wrapper a {
    width: 100%;
    display: block;
}

.review-image-wrapper img {
    width: 100%;
    height: 68px;
}

.review-heading-wrapper {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}

/* version toast */
.same-version-toast{
    padding: 20px;
    background-color: #333;
    font-size: 14px;
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
    display:none;
    z-index:25;
}
