@model List<Carwale.Entity.CMS.Articles.ArticleSummary>
@{
    ViewBag.Title = "Car Tyre Price, Size in India ";
    ViewBag.BodyClass = "bg-light-grey";
    ViewBag.Canonical = "https://www.carwale.com" + Request.ServerVariables["HTTP_X_REWRITE_URL"].ToString().Replace("/m/", "/");
    ViewBag.Description = "Checkout Car Tyre Price and Size in India.";
    ViewBag.landingPage = true;
    ViewBag.Responsive = true;
    ViewBag.CustomCss = "~/Views/StaticPartials/m/TyreSection/MTyreSectionCss.cshtml";
    ViewBag.DefineAdSlots =
        @"<script type='text/javascript'>
            var AdSlots = {};
            googletag.cmd.push(function () {
            googletag.pubads().disableInitialLoad();
            googletag.pubads().setCentering(true);
            AdSlots['div-gpt-ad-1520343734238-0'] = googletag.defineSlot('/1017752/" + ViewBag.DomainName + @"CarWale_Mobile_TyresHome_FirstSlot_320x150', [[320, 500], [320, 50], [320, 150], [320, 100], [320, 425]], 'div-gpt-ad-1520343734238-0').addService(googletag.pubads()).setCollapseEmptyDiv(true);
            AdSlots['div-gpt-ad-1520343734238-1'] = googletag.defineSlot('/1017752/" + ViewBag.DomainName + @"CarWale_Mobile_TyresHome_SecondSlot_320x150', [[320, 500], [320, 50], [320, 150], [320, 100], [320, 425]], 'div-gpt-ad-1520343734238-1').addService(googletag.pubads());
            googletag.pubads().collapseEmptyDivs(true);
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
        </script>";
    Layout = "~/views/shared/m/_MLayoutV2.cshtml";
}

@section Plugins{
    <script type="text/javascript" src="/static/m/js/plugins/swiper.js" defer></script>
}
@section Styles{
    <noscript class="deferred-styles"><link rel="stylesheet" href="/static/m/css/tyre-section.css" type="text/css"></noscript>
}

<section>
	<div class="container">
		<div class="tyre-home-banner">
		   	<!-- Top banner code starts here -->
		   	<h2 class="text-uppercase text-white text-center padding-top40">Find the right tyre</h2>
		</div><!-- Top banner code ends here -->
	</div>
</section>

<section class="container">
    <div class="grid-12">
        <div class="bg-white brand-wrapper content-box-shadow margin-minus30 tyre-tabs">
            <div class="cw-tabs-panel">
                <div class="cw-tabs cw-tabs-flex">
                    <ul>
                        <li class="active" data-tabs="vehicle-tyre">Vehicle</li>                        
                    </ul>
                </div>
                <div class="cw-tabs-data" id="vehicle-tyre">
                    <div class="content-inner-block-10">
                        <div class="form-control-box margin-bottom20 position-rel">
                            <input class="form-control" type="text" placeholder="Type to select car name" id="tyreCarRoot" data-role="click-tracking" data-event="CWInteractive" data-action="Search by vehicle clicked HP" data-cat="Tyres_Section_m" data-label="Search by vehicle clicked HP">
                            <span class="fa fa-spinner fa-spin position-abt pos-right15 pos-top5 text-black" style="display: none"></span>
                            <span class="cwmsprite error-icon hide brand-error-icon"></span>
                            <div id="errTxtCarRoot" class="cw-blackbg-tooltip brand-err-msg hide">Please select car model</div>
                        </div>
                        
                        <div class="accordion open">
                            <p class="strip content-box-shadow content-inner-block-5 pointerEvent manufacture-year">Car Manufacturing Year <span class="tyre-accordion-icon arrow position-abt pos-right10 font16"><span class="fa fa-angle-down"></span></span></p>
                            <div class="text-center year-group hide" id="carYearContainer" data-bind="foreach: tyreDate">
                                <a href="javascript:void(0)" class="pill-box font14"><span data-bind="text: $data"></span></a>
                            </div>
                            <span class="cwmsprite error-icon hide brand-error-icon"></span>
                            <div id="errManufactYear" class="cw-blackbg-tooltip errManufactYear brand-err-msg hide">Please select Manufacturing Year</div>
                        </div>
                        <div class="margin-top20 text-center">
                            <a href="javascript:void(0)" id="tyreSearch" class="text-uppercase btn btn-orange btn-md">Search</a>
                        </div>
                    </div>
                </div>
                <div class="cw-tabs-data hide" id="size-tyre">

                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</section>

<aside>
    <div class="container overflow-x-auto">
        <div class="grid-12">
            @Helpers.GetAdBar("1520343734238", 320, 0, 10, 0, true, 0)
        </div>
        <div class="clear"></div>
    </div>
</aside>

<section class="container margin-top20 margin-bottom20">
    <div class="grid-12">
        <div class="bg-white brand-wrapper content-box-shadow text-center">
            <h2 class="text-uppercase text-center margin-bottom10 margin-top10">Browse tyres by brands</h2>
            <div class="tyre-brand">
                <a href="/tyres/apollo/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="Apollo">Apollo</a>
                <a href="/tyres/bridgestone/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="Bridgestone">Bridgestone</a>
                <a href="/tyres/ceat/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="CEAT">CEAT</a>
                <a href="/tyres/continental/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="Continental">Continental</a>
                <a href="/tyres/falken/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="Falken">Falken</a>
                <a href="/tyres/goodyear/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="GoodYear">GoodYear</a>
                <a href="/tyres/jktyre/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="JK Tyre">JK Tyre</a>
                <a href="/tyres/maxxis/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="Maxxis">Maxxis</a>
                <a href="/tyres/michelin/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="Michelin">Michelin</a>
                <a href="/tyres/mrf/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="MRF">MRF</a>
                <a href="/tyres/pirelli/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="Pirelli">Pirelli</a>
                <a href="/tyres/yokohama/" class="pill-box font14" data-role="click-tracking" data-event="CWInteractive" data-action="HP Tyres by Brand Click" data-cat="Tyres_Section_m" data-label="Yokohama">Yokohama</a>
            </div>
        </div>
    </div>
</section>

<div class="clear"></div>
<section class="container text-center margin-top20 margin-bottom20 bg-white">
    <img src="https://imgd.aeplcdn.com/0x0/cw/static/landing-banners/m/tyre-spec-360x672.jpg?v1600" title="How to read a tyre" alt="How to read a tyre" />
</section> 
<div class="clear"></div>

<aside>
    <div class="container overflow-x-auto">
        <div class="grid-12">
            @Helpers.GetAdBar("1520343734238", 320, 0, 10, 0, false, 1)
        </div>
        <div class="clear"></div>
    </div>
</aside>
<div class="search-popup rounded-corner2">
    <div class="globalcity-popup-data text-center">
        <div class="tyre-info-close position-abt pos-top10 pos-right10 cwmsprite cross-lg-lgt-grey cur-pointer"></div>
        <div class="text-center">
                <div class="font16 padding-left10 padding-top10 padding-bottom15 text-black">Please select your car model</div>
                <ul id="showModels" data-bind="foreach: $data.modelsData()">
                    <li class="displayModel" data-bind="attr: { 'ModelIds': modelIds ,'MakeName' : makeName, 'ModelName': displayName }">
                        <span data-bind="text: displayName"></span>
                    </li>
                </ul>
         </div>
     </div>
</div>
@if (Model != null)
{
    <section>
    <!--  News code starts here -->
        <div class="container" id="news-reviews-videos-container">
            <div class="grid-12">
                <h2 class="text-uppercase text-center margin-bottom20 margin-top15 m-special-skin-text">LATEST TYRE UPDATES</h2>
                <div class="cw-tabs-panel">
                    <div class="cw-tabs-data swiper-type-news" id="News">
                        @Html.Partial("m/_TopLatestNews", Model)
                    </div>
                </div>
            </div><div class="clear"></div>
        </div>
    </section>

}

@section Scripts{
    <script type="text/javascript" src="/static/m/js/tyre-section.js" defer></script>
}