@model Object
@using Carwale.UI.Common;
@{  
    ViewBag.PageId = 0;
    ViewBag.BodyClass = "bg-white header-fixed-inner";
    ViewBag.Title = "New Car Search - Find the Right New Car";
    ViewBag.Description = "Search new cars by budget, fuel type, engine power, features etc. Find the best new car for you at CarWale.";
    ViewBag.canonical = "https://www.carwale.com/new/search/";
    ViewBag.DeeplinkAlternatives = Request.ServerVariables["HTTP_X_REWRITE_URL"].ToString();
    ViewBag.AdId = "1396441000281";
    ViewBag.AdPath = "/1017752/NewCarSearch_";
    ViewBag.CustomCss = "~/Views/StaticPartials/NewCarSearchCss.cshtml";
    ViewBag.DefineAdSlots = @"<script type='text/javascript'>
        googletag.cmd.push(function () {
            googletag.defineSlot('" + ViewBag.AdPath + @"970x90', [[220, 90], [728, 90], [950, 90], [960, 90], [970, 66], [970, 90]], 'div-gpt-ad-" + ViewBag.AdId + @"-2').addService(googletag.pubads());
          //googletag.pubads().enableSyncRendering();
          googletag.pubads().collapseEmptyDivs();
          googletag.pubads().enableSingleRequest();
          googletag.enableServices();
      });</script>";
    Layout = "~/views/shared/_LayoutV2.cshtml";
}
@section Scripts{
    <script type="text/javascript">
    var qs_params = '@Request.ServerVariables["QUERY_STRING"]';
    </script>
    <script type="text/javascript" src="/static/src/jquery.obj.min.js" defer></script>
    <script type="text/javascript" src="/static/js/location-plugin.js" defer></script>
    <script type="text/javascript" src="/static/src/search.js" defer></script>
    <script type="text/javascript" src="/static/src/graybox.js" defer></script>
}
@section Styles{
<noscript class="deferred-styles">
    <link href="/static/css/newcarsearch.css" rel="stylesheet" type="text/css">
</noscript>
}
<section class="container">
    <div class="grid-12">
        <div class="padding-bottom15 text-center">
           @{Html.RenderPartial("~/Views/Shared/ads/_GoogleAd_728x90.cshtml");}
        </div>
    </div>
</section>
<div class="clear"></div>
<section class="bg-light-grey padding-top10 padding-bottom20 no-bg-color">
    <div class="container">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <!-- breadcrumb code starts here -->
                <ul class="special-skin-text">
                    <li><a href="/">Home</a></li>
                    <li><span class="fa fa-angle-right margin-right10"></span><a href="/new/">New Cars</a></li>
                    <li><span class="fa fa-angle-right margin-right10"></span>New Car Search</li>
                </ul>
                <div class="clear"></div>
            </div>
            <h1 class="font30 text-black special-skin-text">Search New Cars <span class="font13 special-skin-text">Find new cars by budget, make-model or fuel type</span></h1>
            <div class="border-solid-bottom margin-top10 margin-bottom15"></div>
        </div>
        <div class="clear"></div>
        <div class="grid-12">
            <div>
                <div class="mid-box">
                    <div class="grid-4 alpha">
                        <div class="">
                            <div id="parms" class="content-box-shadow content-inner-block-10">
                                <h3 class="hd3"><span id="budget_exp_col" class="redirect-rt filter expnd" title="expand"></span>Budget</h3>
                                <ul id="budget" class="ul-params hide">
                                    <li><a name="1" rel="nofollow" class="filter unchecked" href="/new/search/?budget=1">Up to 3 lakh</a></li>
                                    <li><a name="2" rel="nofollow" class="filter unchecked" href="/new/search/?budget=2">3-4 lakh</a></li>
                                    <li><a name="3" rel="nofollow" class="filter unchecked" href="/new/search/?budget=3">4-6 lakh</a></li>
                                    <li><a name="4" rel="nofollow" class="filter unchecked" href="/new/search/?budget=4">6-8 lakh</a></li>
                                    <li><a name="5" rel="nofollow" class="filter unchecked" href="/new/search/?budget=5">8-12 lakh</a></li>
                                    <li><a name="6" rel="nofollow" class="filter unchecked" href="/new/search/?budget=6">12-18 lakh</a></li>
                                    <li><a name="7" rel="nofollow" class="filter unchecked" href="/new/search/?budget=7">18-25 lakh</a></li>
                                    <li><a name="8" rel="nofollow" class="filter unchecked" href="/new/search/?budget=8">25-40 lakh</a></li>
                                    <li><a name="9" rel="nofollow" class="filter unchecked" href="/new/search/?budget=9">40 lakh and above</a></li>
                                </ul>

                                <div class="parms-sept"></div>
                                <h3 class="hd3"><span id="emi_exp_col" class="redirect-rt filter expnd" title="expand"></span>EMI</h3>
                                <div id="Emi" class="hide">
                                    <div class="emi-slider-box leftfloat padding-left30 padding-right30 margin-top40 margin-bottom10">
                                        <div id="emi-range"></div>
                                        <span class="rounded-corner5 content-box-shadow" id="min"></span>
                                        <span class="rounded-corner5 content-box-shadow" id="max"></span>
                                        <div class="clear"></div>
                                        <div class="leftfloat font16">₹ <strong>0</strong></div>
                                        <div class="rightfloat font16">₹ <strong>60K+</strong></div>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="parms-sept"></div>
                                <h3 class="hd3"><span id="make_exp_col" class="redirect-rt filter expnd" title="expand"></span>Make(s)</h3>
                                <div class="ul-params-div hide">
                                    <ul id="make" class="ul-params-col">

                                        <li><a rel="nofollow" class="filter unchecked" name="10" href="/new/search/?make=10">Maruti Suzuki</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="8" href="/new/search/?make=8">Hyundai</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="7" href="/new/search/?make=7">Honda</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="17" href="/new/search/?make=17">Toyota</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="16" href="/new/search/?make=16">Tata</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="9" href="/new/search/?make=9">Mahindra</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="5" href="/new/search/?make=5">Ford</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="1" href="/new/search/?make=1">BMW</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="2" href="/new/search/?make=2">Chevrolet</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="15" href="/new/search/?make=15">Skoda</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="11" href="/new/search/?make=11">Mercedes-Benz</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="20" href="/new/search/?make=20">Volkswagen</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="18" href="/new/search/?make=18">Audi</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="4" href="/new/search/?make=4">Fiat</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="12" href="/new/search/?make=12">Mitsubishi</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="45" href="/new/search/?make=45">Renault</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="21" href="/new/search/?make=21">Nissan</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="23" href="/new/search/?make=23">Land Rover</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="44" href="/new/search/?make=44">Jaguar</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="19" href="/new/search/?make=19">Porsche</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="54" href="/new/search/?make=54">Ssangyong</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="37" href="/new/search/?make=37">Volvo</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="51" href="/new/search/?make=51">Mini</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="22" href="/new/search/?make=22">Bentley</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="34" href="/new/search/?make=34">Lexus</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="50" href="/new/search/?make=50">Force Motors</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="33" href="/new/search/?make=33">Ferrari</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="43" href="/new/search/?make=43">Jeep</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="49" href="/new/search/?make=49">Aston Martin</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="47" href="/new/search/?make=47">Bugatti</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="56" href="/new/search/?make=56">Datsun</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="61" href="/new/search/?make=61">Isuzu</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="30" href="/new/search/?make=30">Lamborghini</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="36" href="/new/search/?make=36">Maserati</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="25" href="/new/search/?make=25">Rolls-Royce</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="66" href="/new/search/?make=66">DC</a></li>

                                        <li><a rel="nofollow" class="filter unchecked" name="67" href="/new/search/?make=67">Eicher Polaris</a></li>

                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="parms-sept"></div>
                                <h3 class="hd3"><span id="fuel_exp_col" class="redirect-rt filter expnd" title="expand"></span>Fuel Types</h3>
                                <ul id="fuel" class="ul-params hide">
                                    <li><a name="1" rel="nofollow" class="filter unchecked" href="/new/search/?fuel=1">Petrol</a></li>
                                    <li><a name="2" rel="nofollow" class="filter unchecked" href="/new/search/?fuel=2">Diesel</a></li>
                                    <li><a name="3" rel="nofollow" class="filter unchecked" href="/new/search/?fuel=3">CNG</a></li>
                                    <li><a name="4" rel="nofollow" class="filter unchecked" href="/new/search/?fuel=4">LPG</a></li>
                                    <li><a name="5" rel="nofollow" class="filter unchecked" href="/new/search/?fuel=5">Electric</a></li>
                                </ul>
                                <div class="parms-sept"></div>
                                <h3 class="hd3"><span id="transmission_exp_col" class="redirect-rt filter expnd" title="expand"></span>Transmission</h3>
                                <ul id="transmission" class="ul-params hide">
                                    <li><a name="1" rel="nofollow" class="filter unchecked" href="/new/search/?transmission=1">Automatic</a></li>
                                    <li><a name="2" rel="nofollow" class="filter unchecked" href="/new/search/?transmission=2">Manual</a></li>
                                </ul>
                                <div class="parms-sept"></div>
                                <h3 class="hd3"><span id="bs_exp_col" class="redirect-rt filter expnd" title="expand"></span>Body Types</h3>
                                <div id="bs" class="ul-params-div hide">
                                    <ul id="bs" class="ul-horz ul-bs">
                                        <li>
                                            <div class="body-style hatchback" title="Hatchback"></div>
                                            <a name="3" rel="nofollow" href="/new/search/?bs=3" class="filter unchecked">Hatchback</a>
                                        </li>
                                        <li>
                                            <div class="body-style sedan" title="Sedan"></div>
                                            <a name="1" rel="nofollow" href="/new/search/?bs=1" class="filter unchecked">Sedan</a>
                                        </li>
                                        <li>
                                            <div class="body-style compactsedan" title="Compact Sedan"></div>
                                            <a name="10" rel="nofollow" href="/new/search/?bs=10" class="filter unchecked">Compact Sedan</a>
                                        </li>
                                        <li>
                                            <div class="body-style suv" title="SUV/MUV"></div>
                                            <a name="6" rel="nofollow" href="/new/search/?bs=6" class="filter unchecked">SUV/MUV</a>
                                        </li>
                                        <li>
                                            <div class="body-style van" title="Minivan/Van"></div>
                                            <a name="4" rel="nofollow" href="/new/search/?bs=4" class="filter unchecked">Minivan/Van</a>
                                        </li>
                                        <li>
                                            <div class="body-style truck" title="Truck"></div>
                                            <a name="7" rel="nofollow" href="/new/search/?bs=7" class="filter unchecked">Truck</a>
                                        </li>
                                        <li>
                                            <div class="body-style wagon" title="Station Wagon"></div>
                                            <a name="8" rel="nofollow" href="/new/search/?bs=8" class="filter unchecked">Station Wagon</a>
                                        </li>
                                        <li>
                                            <div class="body-style coupe" title="Coupe"></div>
                                            <a name="2" rel="nofollow" href="/new/search/?bs=2" class="filter unchecked">Coupe</a>
                                        </li>
                                        <li>
                                            <div class="body-style convertible" title="Convertible"></div>
                                            <a rel="nofollow" name="5" href="/new/search/?bs=5" class="filter unchecked">Convertible</a>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="parms-sept"></div>
                                <h3 class="hd3"><span id="seat_exp_col" class="redirect-rt filter expnd" title="expand"></span>Seating Capacity</h3>
                                <ul id="seat" class="ul-params hide">
                                    <li><a rel="nofollow" name="1" class="filter unchecked" href="/new/search/?seat=1">Up to 5</a></li>
                                    <li><a rel="nofollow" name="2" class="filter unchecked" href="/new/search/?seat=2">6-8</a></li>
                                    <li><a rel="nofollow" name="3" class="filter unchecked" href="/new/search/?seat=3">9 and above</a></li>
                                </ul>
                                <div class="parms-sept"></div>
                                <h3 class="hd3"><span id="ep_exp_col" class="redirect-rt filter expnd" title="expand"></span>Engine Power</h3>
                                <ul id="ep" class="ul-params hide">
                                    <li><a rel="nofollow" name="1" class="filter unchecked" href="/new/search/?ep=1">Up to 75bhp</a></li>
                                    <li><a rel="nofollow" name="2" class="filter unchecked" href="/new/search/?ep=2">76-100bhp</a></li>
                                    <li><a rel="nofollow" name="3" class="filter unchecked" href="/new/search/?ep=3">101-150bhp</a></li>
                                    <li><a rel="nofollow" name="4" class="filter unchecked" href="/new/search/?ep=4">151-200bhp</a></li>
                                    <li><a rel="nofollow" name="5" class="filter unchecked" href="/new/search/?ep=5">201bhp and more</a></li>
                                </ul>
                                <div class="hide">
                                    <div class="parms-sept"></div>
                                    <h3 class="hd3"><span id="feature_exp_col" class="redirect-rt filter expnd" title="expand"></span>Important Features</h3>
                                    <ul id="feature" class="ul-params hide">
                                        <li><a rel="nofollow" name="1" class="filter unchecked" href="/new/search/?feature=1">AC</a></li>
                                        <li><a rel="nofollow" name="2" class="filter unchecked" href="/new/search/?feature=2">Power Steering</a></li>
                                        <li><a rel="nofollow" name="3" class="filter unchecked" href="/new/search/?feature=3">Power Windows</a></li>
                                        <li><a rel="nofollow" name="4" class="filter unchecked" href="/new/search/?feature=4">ABS</a></li>
                                        <li><a rel="nofollow" name="5" class="filter unchecked" href="/new/search/?feature=5">Airbags</a></li>
                                        <li><a rel="nofollow" name="6" class="filter unchecked" href="/new/search/?feature=6">Central Locking</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-8">
                        <div class="content-box-shadow">
                            <div class="panel-rt">
                                <div id="app_filt" class="hide">
                                    <h3 class="hd3">You have selected&nbsp;&nbsp;<a onclick="javascript:removeSelection();" class="f-small cur-pointer">Remove all selections</a></h3>
                                    <ul id="app_filters" class="text-grey2 ul-params">
                                        <li id="sel_budget" class="hide"><span>Budget: </span></li>
                                        <li id="sel_emi" class="hide"><span>EMI: </span></li>
                                        <li id="sel_make" class="hide"><span>Make(s): </span></li>
                                        <li id="sel_fuel" class="hide"><span>Fuel Types: </span></li>
                                        <li id="sel_transmission" class="hide"><span>Transmission: </span></li>
                                        <li id="sel_bs" class="hide"><span>Body Types: </span></li>
                                        <li id="sel_seat" class="hide"><span>Seating Capacity: </span></li>
                                        <li id="sel_ep" class="hide"><span>Engine Power: </span></li>
                                        <li id="sel_feature" class="hide"><span>Important Features: </span></li>
                                    </ul>
                                </div>
                                <div id="comp_filt" class="hide">
                                    <h3 id="lblCompare" class="hd3 hide">Compare :</h3>
                                    <ul id="compareCarList" class="text-grey2 ul-params"></ul>
                                    <div class="hr-sep"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <div id="searchRes"></div>
                            </div>
                        </div>
                        <div id="avg-price" class="hide">
                            <p class="price2">Average Ex-Showroom Price</p>
                            <p class="mar-top-5">Average Ex-Showroom Price is the average of ex-showroom prices of a car in various cities it's being sold. This price is indicative.</p>
                            <p class="mar-top-5">This price does not include Insurance, road tax or any other charges levied. Check on-road price in your city to know final price of the car.</p>
                        </div>
                        <div class="clear"></div>
                        <p class="mid-box">&nbsp;</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</section>
