@model Bikewale.Entities.PriceQuote.ManufacturerCampaign

@if(Model.ShowAd && Model.IsAdAvailable)
{
    <!-- Manufacturer Campaign Ad section starts -->
    <section>
        @Html.Raw(string.Format(Model.Ad))
    </section>
     <!-- Manufacturer Campaign Ad section ends -->
}