<a href="/pricequote/" id="on-road-price-widget" class="content-box-shadow content-inner-block-20">
    <span class="inline-block">
        <img src="https://imgd.aeplcdn.com/0x0/bw/static/design15/on-road-price.png" alt="Rupee" border="0" />
    </span><h2 class="text-default inline-block">Get accurate on-road price for bikes</h2>
    <span class="bwsprite right-arrow"></span>
</a>
