html {
	-webkit-tap-highlight-color: transparent;
}

body {
	font-size: $base-font-size;
	font-family: $base-font-family;
	color: $base-color;
	height: 100%;
}

.show {
	display: block;
}

.hide {
	display: none;
}
