<?xml version="1.0"?>
<rules>
	<rule name="bikewale domain redirect" stopProcessing="true">
		<match url="(.*)" ignoreCase="false" />
		<conditions logicalGrouping="MatchAll">
			<add input="{HTTPS}" pattern="(on)?" ignoreCase="false" />
			<add input="{HTTP_HOST}" pattern="^bikewale.com$" />
			<add input="{URL}" pattern="(.*)" ignoreCase="false" />
		</conditions>
		<action type="Redirect" url="http://www.bikewale.com/{R:1}" redirectType="Permanent" />
	</rule>
	<rule name="Add trailing slash" stopProcessing="true">
		<match url="(.*[^/])$" />
		<conditions>
			<add input="{REQUEST_FILENAME}" pattern="(.*?)\.(css|js|ashx|xml|cshtml|aspx|html|ascx|txt|config|jpg|png|jpeg|gif|woff|tff|svg|eof)$" negate="true" />
		</conditions>
		<action type="Redirect" redirectType="Permanent" url="{R:1}/" />
	</rule>
	<rule name="Imported Rule 1-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews/([\d]+).html" />
		<action type="Rewrite" url="/m/content/userreviews/reviewdetails.aspx?rid={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 2-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews-p([\d]+)/$" />
		<action type="Rewrite" url="/m/content/userreviews/listreviews.aspx?bikem={R:2}&amp;pn={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 3-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews/$" />
		<action type="Rewrite" url="/m/content/userreviews/listreviews.aspx?bikem={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 4-1" stopProcessing="true">
		<match url="^m/user-reviews/$" />
		<action type="Rewrite" url="/m/content/userreviews/default.aspx" />
	</rule>
	<rule name="Imported Rule 5-1" stopProcessing="true">
		<match url="^m/news/([\d]+)-(.*).html" />
		<action type="Rewrite" url="/m/news/newsdetails.aspx?id={R:1}&amp;t={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 6-1" stopProcessing="true">
		<match url="^m/news/page/([\d]+)/$" />
		<action type="Rewrite" url="/m/news/default.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 7-1" stopProcessing="true">
		<match url="^m/upcoming-bikes/page/([\d]+)/$" />
		<action type="Rewrite" url="/m/new/upcomingbikes/default.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 8-1" stopProcessing="true">
		<match url="^m/upcoming-bikes/$" />
		<action type="Rewrite" url="/m/new/upcomingbikes/default.aspx" />
	</rule>
	<rule name="Imported Rule 9-1" stopProcessing="true">
		<match url="^m/features/([a-zA-Z0-9\-]+)-([\d]+)/p([\d]+)/$" />
		<action type="Redirect" url="/m/features/{R:1}-{R:2}/" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 10-1" stopProcessing="true">
		<match url="^m/features/([a-zA-Z0-9\-]+)-([\d]+)/$" />
		<action type="Rewrite" url="/m/content/features/viewf.aspx?id={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 11-1" stopProcessing="true">
		<match url="^m/features/page/([\d]+)/$" />
		<action type="Rewrite" url="/m/content/features/default.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 12-1" stopProcessing="true">
		<match url="^m/features/$" />
		<action type="Rewrite" url="/m/content/features/default.aspx" />
	</rule>
	<rule name="Imported Rule 13-1" stopProcessing="true">
		<match url="^m/road-tests/([a-zA-Z0-9\-]+)-([\d]+)/p([\d]+)/$" />
		<action type="Redirect" url="/m/road-tests/{R:1}-{R:2}.html" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 14-1" stopProcessing="true">
		<match url="m/road-tests/(.*)-([\d]+).html" />
		<action type="Rewrite" url="/m/content/roadtest/viewrt.aspx?id={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 15-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/road-tests/page/([\d]+)/$" />
		<action type="Rewrite" url="/m/content/roadtest/default.aspx?make={R:1}&amp;model={R:2}&amp;pn={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 16-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/road-tests/$" />
		<action type="Rewrite" url="/m/content/roadtest/default.aspx?make={R:1}&amp;model={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 17-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/road-tests/page/([\d]+)/$" />
		<action type="Rewrite" url="/m/content/roadtest/default.aspx?make={R:1}&amp;pn={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 18-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/road-tests/$" />
		<action type="Rewrite" url="/m/content/roadtest/default.aspx?make={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 19-1" stopProcessing="true">
		<match url="^m/road-tests/page/([\d]+)/$" />
		<action type="Rewrite" url="/m/content/roadtest/default.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 20-1" stopProcessing="true">
		<match url="^m/road-tests/$" />
		<action type="Rewrite" url="/m/content/roadtest/default.aspx" />
	</rule>
	<rule name="Imported Rule 21-1" stopProcessing="true">
		<match url="^m/terms/([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/m/offerterms.aspx?id={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 22-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)-specs-([\d]+).html" />
		<action type="Redirect" url="/m/{R:1}-bikes/{R:2}/" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 23-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)-series/$" />
		<action type="Redirect" url="/m/{R:1}-bikes/" appendQueryString="true" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 23.2" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/videos/$" />
		<action type="Rewrite" url="/m/Videos/videoMakeModel.aspx?make={R:1}&amp;model={R:2}" />
	</rule>
	<rule name="Imported Rule 23.3" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/videos/$" />
		<action type="Rewrite" url="/m/Videos/videoMakeModel.aspx?make={R:1}" />
	</rule>
	<rule name="Imported Rule 28-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/dealers-in-([a-zA-Z0-9\-]+)-state/" />
		<action type="Rewrite" url="/m/new/dealersinstate.aspx?make={R:1}&amp;state={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 28-2" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/dealers-in-([a-zA-Z0-9\-]+)/" />
		<action type="Rewrite" url="/m/new/NewBikeDealers/newbikedealerlist.aspx?make={R:1}&amp;city={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 89-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/specifications-features/$" />
		<action type="Rewrite" url="/m/new/modelSpecsFeatures.aspx?model={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 24-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/m/new/BikeModels.aspx?model={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 25-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/$" />
		<action type="Rewrite" url="/m/new/bikemakes.aspx?make={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 26-1" stopProcessing="true">
		<match url="^m/new-bikes-launches/page/([\d]+)/$" />
		<action type="Rewrite" url="/m/new/newbikelaunch/Default.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 27-1" stopProcessing="true">
		<match url="^m/new-bikes-launches/$" />
		<action type="Rewrite" url="/m/new/newbikelaunch/Default.aspx" />
	</rule>
	<rule name="Imported Rule 90-1" stopProcessing="true">
		<match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/price-in-([a-zA-Z\-]+)/$" />
		<action type="Rewrite" url="/m/new/modelpricesincity.aspx?model={R:2}&amp;city={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 29-1" stopProcessing="true">
		<match url="^m/new/locate-dealers/$" />
		<action type="Rewrite" url="/m/new/NewBikeDealers/default.aspx" />
	</rule>
	<rule name="Imported Rule 29-2" stopProcessing="true">
		<match url="^m/new/(.*)-dealers/$" />
		<action type="Rewrite" url="/m/new/dealersinindia.aspx?make={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 30-1" stopProcessing="true">
		<match url="^m/comparebikes/([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/m/new/compare/comparebikedetails.aspx?mo={R:2},{R:4}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 31-1" stopProcessing="true">
		<match url="^m/comparebikes/$" />
		<action type="Rewrite" url="/m/new/compare/comparebike.aspx" />
	</rule>
	<rule name="Imported Rule 32-1" stopProcessing="true">
		<match url="^m/bike-videos/category/([a-zA-Z\-]+)-([\-\d]+)/$" />
		<action type="Rewrite" url="/m/videos/videocategories.aspx?cid={R:2}&amp;title={R:1}" />
	</rule>
	<rule name="Imported Rule 35-1" stopProcessing="true">
		<match url="^m/bike-videos/([a-zA-Z0-9\-]+)-([\d]+)/$" />
		<action type="Rewrite" url="/m/videos/video.aspx?id={R:2}" />
	</rule>
	<rule name="Imported Rule 36-1" stopProcessing="true">
		<match url="^m/bike-videos/$" />
		<action type="Rewrite" url="/m/videos/default.aspx" />
	</rule>
	<rule name="Imported Rule 37-1" stopProcessing="true">
		<match url="^m/new/([a-zA-Z0-9\-]+)-dealers/([0-9]+)-([a-zA-Z0-9\-]+).html" />
		<action type="Redirect" url="/m/{R:1}-bikes/dealers-in-{R:3}/" />
	</rule>
	<rule name="Imported Rule 38-1" stopProcessing="true">
		<match url="^m/new/bike-search/$" />
		<action type="Rewrite" url="/m/new/search.aspx" />
	</rule>
	<!--                Mobile section ends                   -->
	<!--                Desktop section starts                -->
	<rule name="Imported Rule 1" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews/([\d]+).html" />
		<action type="Rewrite" url="/content/userreviews/reviewdetails.aspx?rid={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 2" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews-p([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/content/userreviews/listreviews.aspx?bikem={R:2}&amp;pn={R:3}&amp;version={R:4}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 3" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews-p([\d]+)/$" />
		<action type="Rewrite" url="/content/userreviews/listreviews.aspx?bikem={R:2}&amp;pn={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 4" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews/$" />
		<action type="Rewrite" url="/content/userreviews/listreviews.aspx?bikem={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 5" stopProcessing="true">
		<match url="^user-reviews/$" />
		<action type="Rewrite" url="/content/userreviews/defaultur.aspx" />
	</rule>
	<rule name="Imported Rule 6" stopProcessing="true">
		<match url="^new/locate-dealers/$" />
		<action type="Rewrite" url="/new/locatenewbikedealers.aspx" />
	</rule>
	<rule name="Imported Rule 7" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/dealers-in-([a-zA-Z0-9\-]+)-state/" />
		<action type="Rewrite" url="/new/dealersinstate.aspx?make={R:1}&amp;state={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 7.1" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/dealers-in-([a-zA-Z0-9\-]+)/" />
		<action type="Rewrite" url="/new/browsenewbikedealerdetails.aspx?make={R:1}&amp;city={R:2}" appendQueryString="true" />
	</rule>
	<!--<rule name="Imported Rule 8" stopProcessing="true">
						<match url="^new/(.*)-dealers/$" />
						<action type="Rewrite" url="/new/listnewbikedealersbycity.aspx?make={R:1}" appendQueryString="true" />
					</rule>-->
	<rule name="Imported Rule 8" stopProcessing="true">
		<match url="^new/(.*)-dealers/$" />
		<action type="Rewrite" url="/new/dealersinindia.aspx?make={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 9" stopProcessing="true">
		<match url="^upcoming-bikes/sort/([\d]+)/page/([\d]+)/$" />
		<action type="Rewrite" url="/new/upcomingbikes//upcomingbikeslist.aspx?sort={R:1}&amp;pn={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 10" stopProcessing="true">
		<match url="^upcoming-bikes/page/([\d]+)/$" />
		<action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 11" stopProcessing="true">
		<match url="^upcoming-bikes/sort/([\d]+)/$" />
		<action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?sort={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 12" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/upcoming/sort/([\d]+)/page/([\d]+)/$" />
		<action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?make={R:1}&amp;sort={R:2}&amp;pn={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 13" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/upcoming/page/([\d]+)/$" />
		<action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?make={R:1}&amp;pn={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 14" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/upcoming/sort/([\d]+)/$" />
		<action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?make={R:1}&amp;sort={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 15" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/upcoming/$" />
		<action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?make={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 16" stopProcessing="true">
		<match url="^upcoming-bikes/feed/$" />
		<action type="Rewrite" url="/new/upcomingbikes/upcomingbikesfeed.aspx" />
	</rule>
	<rule name="Imported Rule 17" stopProcessing="true">
		<match url="^upcoming-bikes/$" />
		<action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx" />
	</rule>
	<rule name="Imported Rule 18" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/photos/([a-zA-Z0-9\-]+)-([\d]+).html" />
		<action type="Rewrite" url="/new/photos/default.aspx?model={R:2}&amp;imgid={R:4}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 19" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/photos/$" />
		<action type="Rewrite" url="/new/photos/default.aspx?model={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 20" stopProcessing="true">
		<match url="^new/compare/compareSpecs.aspx" />
		<action type="Redirect" url="/new/compare/comparebikes.aspx" appendQueryString="true" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 21" stopProcessing="true">
		<match url="^new/compare/compareFeatures.aspx" />
		<action type="Redirect" url="/new/compare/comparebikes.aspx" appendQueryString="true" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 22" stopProcessing="true">
		<match url="^new/compare/compareColors.aspx" />
		<action type="Redirect" url="/new/compare/comparebikes.aspx" appendQueryString="true" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 23" stopProcessing="true">
		<match url="^new/compare/$" />
		<action type="Redirect" url="/comparebikes/" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 24" stopProcessing="true">
		<match url="^comparebikes/([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/new/compare/comparebikes.aspx?mo={R:2},{R:4},{R:6},{R:8}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 25" stopProcessing="true">
		<match url="^comparebikes/([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/new/compare/comparebikes.aspx?mo={R:2},{R:4},{R:6}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 26" stopProcessing="true">
		<match url="^comparebikes/([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/new/compare/comparebikes.aspx?mo={R:2},{R:4}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 27" stopProcessing="true">
		<match url="^comparebikes/$" />
		<action type="Rewrite" url="new/compare/default.aspx" />
	</rule>
	<rule name="Imported Rule 28" stopProcessing="true">
		<match url="^new-bikes-launches/page/([\d]+)/$" />
		<action type="Rewrite" url="/new/newbikelaunch/Default.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 29" stopProcessing="true">
		<match url="^new-bikes-launches/$" />
		<action type="Rewrite" url="/new/newbikelaunch/Default.aspx" />
	</rule>
	<rule name="Imported Rule 30" stopProcessing="true">
		<match url="^road-tests/([a-zA-Z0-9\-]+)-([\d]+)/p([\d]+)/$" />
		<action type="Redirect" url="/road-tests/{R:1}-{R:2}.html" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 31" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/road-tests/page/([\d]+)/$" />
		<action type="Rewrite" url="/content/roadtest/defaultrt.aspx?make={R:1}&amp;model={R:2}&amp;pn={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 32" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/road-tests/$" />
		<action type="Rewrite" url="/content/roadtest/defaultrt.aspx?make={R:1}&amp;model={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 33" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/road-tests/page/([\d]+)/$" />
		<action type="Rewrite" url="/content/roadtest/defaultrt.aspx?make={R:1}&amp;pn={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 34" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/road-tests/$" />
		<action type="Rewrite" url="/content/roadtest/defaultrt.aspx?make={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 35" stopProcessing="true">
		<match url="^road-tests/page/([\d]+)/$" />
		<action type="Rewrite" url="/content/roadtest/defaultrt.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 36" stopProcessing="true">
		<match url="^road-tests/([a-zA-Z0-9\-]+)-([\d]+).html" />
		<action type="Rewrite" url="/content/roadtest/viewrt.aspx?id={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 37" stopProcessing="true">
		<match url="^road-tests/$" />
		<action type="Rewrite" url="/content/roadtest/defaultrt.aspx" />
	</rule>
	<rule name="Imported Rule 38" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)-specs-([\d]+).html" />
		<action type="Redirect" url="/{R:1}-bikes/{R:2}/" redirectType="Permanent" />
	</rule>
	<!-- Videos rules need to be placed above version page rule -->
	<rule name="Imported Rule 39" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)-series/$" />
		<action type="Redirect" url="/{R:1}-bikes/" appendQueryString="true" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 39.2" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/videos/$" />
		<action type="Rewrite" url="/Videos/videoMakeModel.aspx?make={R:1}&amp;model={R:2}" />
	</rule>
	<rule name="Imported Rule 39.3" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/videos/$" />
		<action type="Rewrite" url="/Videos/videoMakeModel.aspx?make={R:1}" />
	</rule>
	<rule name="Imported Rule 88" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/price-in-([a-zA-Z\-]+)/$" />
		<action type="Rewrite" url="/new/modelpricesincity.aspx?model={R:2}&amp;city={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 40" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/new/versions.aspx?model={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 89" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/specifications-features/$" />
		<action type="Rewrite" url="/new/modelSpecsFeatures.aspx?model={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 41" stopProcessing="true">
		<match url="^([a-zA-Z0-9\-]+)-bikes/$" />
		<action type="Rewrite" url="/new/models.aspx?make={R:1}" appendQueryString="true" logRewrittenUrl="false" />
	</rule>
	<rule name="Imported Rule 42" stopProcessing="true">
		<match url="^terms/([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/offerterms.aspx?id={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 43" stopProcessing="true">
		<match url="^news/page/([\d]+)/feed/$" />
		<action type="Rewrite" url="/news/newsfeed.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 44" stopProcessing="true">
		<match url="^news/feed/$" />
		<action type="Rewrite" url="/news/newsfeed.aspx" />
	</rule>
	<rule name="Imported Rule 45" stopProcessing="true">
		<match url="^news/sitemap/$" />
		<action type="Rewrite" url="/news/sitemap.aspx" />
	</rule>
	<rule name="Imported Rule 46" stopProcessing="true">
		<match url="^news/([\d]+)-([a-zA-Z0-9\-]+).html" />
		<action type="Rewrite" url="/news/news.aspx?id={R:1}&amp;t={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 47" stopProcessing="true">
		<match url="^news/([\d]+)-([a-zA-Z0-9\-]+)/page/([\d]+)/$" />
		<action type="Rewrite" url="/news/news.aspx?id={R:1}&amp;t={R:2}&amp;pn={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 48" stopProcessing="true">
		<match url="^news/page/([\d]+)/$" />
		<action type="Rewrite" url="/news/default.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 49" stopProcessing="true">
		<match url="^comparos/([a-zA-Z0-9\-]+)-([\d]+).html" />
		<action type="Rewrite" url="/content/comparisontest/viewct.aspx?id={R:2}&amp;t={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 50" stopProcessing="true">
		<match url="^comparos/([a-zA-Z0-9\-]+)-([\d]+)/page/([\d]+).html" />
		<action type="Rewrite" url="/comparos/comparisontest/viewct.aspx?id={R:1}&amp;t={R:2}&amp;pn={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 51" stopProcessing="true">
		<match url="tipsadvices/([a-zA-Z0-9\-]+)-([\d]+)/p([\d])/$" />
		<action type="Rewrite" url="/content/tipsadvices/viewta.aspx?id={R:2}&amp;pageId={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 52" stopProcessing="true">
		<match url="tipsadvices/([a-zA-Z0-9\-]+)-([\d]+)/$" />
		<action type="Rewrite" url="/content/tipsadvices/viewta.aspx?id={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 53" stopProcessing="true">
		<match url="^tipsadvices/$" />
		<action type="Rewrite" url="/content/tipsadvices/defaultta.aspx" />
	</rule>
	<rule name="Imported Rule 54" stopProcessing="true">
		<match url="^tipsadvices/page/([\d]+)/$" />
		<action type="Rewrite" url="/content/roadtest/defaultta.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 55" stopProcessing="true">
		<match url="^forums/ViewForum-([a-zA-Z0-9\-]+)-p([\d]+)\.html" />
		<action type="Rewrite" url="/forums/threads.aspx?forum={R:1}&amp;page={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 56" stopProcessing="true">
		<match url="^forums/ViewForum-([a-zA-Z0-9\-]+)\.html" />
		<action type="Rewrite" url="/forums/threads.aspx?forum={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 57" stopProcessing="true">
		<match url="^forums/Viewthread-([a-zA-Z0-9\-]+)\.html" />
		<action type="Rewrite" url="/forums/ViewThreads.aspx?thread={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 58" stopProcessing="true">
		<match url="^forums/Viewthread-([a-zA-Z0-9\-]+)-p([a-zA-Z0-9\-]+)\.html" />
		<action type="Rewrite" url="/forums/ViewThreads.aspx?thread={R:1}&amp;page={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 59" stopProcessing="true">
		<match url="^features/([a-zA-Z0-9\-]+)-([\d]+)/p([\d]+)/$" />
		<action type="Redirect" url="/features/{R:1}-{R:2}/" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 60" stopProcessing="true">
		<match url="^features/([a-zA-Z0-9\-]+)-([\d]+)/$" />
		<action type="Rewrite" url="/content/features/viewf.aspx?id={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 61" stopProcessing="true">
		<match url="^features/page/([\d]+)/$" />
		<action type="Rewrite" url="/content/features/defaultf.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 62" stopProcessing="true">
		<match url="^features/$" />
		<action type="Rewrite" url="/content/features/defaultf.aspx" />
	</rule>
	<rule name="Imported Rule 63" stopProcessing="true">
		<match url="^used-bikes-in-cochin/$" />
		<action type="Redirect" url="used-bikes-in-kochi/" appendQueryString="true" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 64" stopProcessing="true">
		<match url="^used-bikes-in-([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)/$" />
		<action type="Redirect" url="/used/bikes-in-{R:1}/{R:2}-{R:3}-{R:4}/" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 65" stopProcessing="true">
		<match url="^used/bikes-in-([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/used/bikedetails.aspx?bike={R:4}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 66" stopProcessing="true">
		<match url="^used/([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)-bikes-in-([a-zA-Z0-9\-]+)/page-([\d]+)/$" />
		<action type="Rewrite" url="/used/search.aspx?make={R:1}&amp;model={R:2}&amp;city={R:3}&amp;pn={R:4}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 67" stopProcessing="true">
		<match url="^used/([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)-bikes-in-([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/used/search.aspx?make={R:1}&amp;model={R:2}&amp;city={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 68" stopProcessing="true">
		<match url="^used/([a-zA-Z0-9\-]+)-bikes-in-india/page-([\d]+)/$" />
		<action type="Rewrite" url="/used/search.aspx?make={R:1}&amp;pn={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 69" stopProcessing="true">
		<match url="^used/([a-zA-Z0-9\-]+)-bikes-in-india/$" />
		<action type="Rewrite" url="/used/search.aspx?make={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 70" stopProcessing="true">
		<match url="^used/([a-zA-Z0-9\-]+)-bikes-in-([a-zA-Z0-9\-]+)/page-([\d]+)/$" />
		<action type="Rewrite" url="/used/search.aspx?make={R:1}&amp;city={R:2}&amp;pn={R:3}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 71" stopProcessing="true">
		<match url="^used/([a-zA-Z0-9\-]+)-bikes-in-([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/used/search.aspx?make={R:1}&amp;city={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 72" stopProcessing="true">
		<match url="^used/bikes-in-india/page-([\d]+)/$" />
		<action type="Rewrite" url="/used/search.aspx?pn={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 73" stopProcessing="true">
		<match url="^used/bikes-in-india/$" />
		<action type="Rewrite" url="/used/search.aspx" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 74" stopProcessing="true">
		<match url="^used-bikes-in-([a-zA-Z0-9\-]+)/page-([\d]+)/$" />
		<action type="Redirect" url="/used/bikes-in-{R:1}/page-{R:2}/" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 75" stopProcessing="true">
		<match url="^used/bikes-in-([a-zA-Z0-9\-]+)/page-([\d]+)/$" />
		<action type="Rewrite" url="/used/search.aspx?city={R:1}&amp;pn={R:2}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 76" stopProcessing="true">
		<match url="^used-bikes-in-([a-zA-Z0-9\-]+)/$" />
		<action type="Redirect" url="/used/bikes-in-{R:1}/" redirectType="Permanent" />
	</rule>
	<rule name="Imported Rule 77" stopProcessing="true">
		<match url="^used/bikes-in-([a-zA-Z0-9\-]+)/$" />
		<action type="Rewrite" url="/used/search.aspx?city={R:1}" appendQueryString="true" />
	</rule>
	<rule name="Imported Rule 78" stopProcessing="true">
		<match url="^mybikewale/myprofile/$" />
		<action type="Rewrite" url="/users/mycontactdetails.aspx" />
	</rule>
	<rule name="Imported Rule 79" stopProcessing="true">
		<match url="^mybikewale/editcontactdetails/$" />
		<action type="Rewrite" url="/users/EditCustomerDetails.aspx" />
	</rule>
	<rule name="Imported Rule 80" stopProcessing="true">
		<match url="^mybikewale/changepassword/$" />
		<action type="Rewrite" url="/users/changepassword.aspx" />
	</rule>
	<rule name="Imported Rule 81" stopProcessing="true">
		<match url="^mybikewale/myinquiries/$" />
		<action type="Rewrite" url="/mybikewale/mylisting.aspx" />
	</rule>
	<rule name="Imported Rule 82" stopProcessing="true">
		<match url="^bike-videos/category/([a-zA-Z\-]+)-([\-\d]+)/$" />
		<action type="Rewrite" url="/videos/videocategories.aspx?cid={R:2}&amp;title={R:1}" />
	</rule>
	<rule name="Imported Rule 85" stopProcessing="true">
		<match url="^bike-videos/([a-zA-Z0-9\-]+)-([\d]+)/$" />
		<action type="Rewrite" url="/videos/video.aspx?id={R:2}" />
	</rule>
	<rule name="Imported Rule 86" stopProcessing="true">
		<match url="^bike-videos/$" />
		<action type="Rewrite" url="/videos/default.aspx" />
	</rule>
	<rule name="Imported Rule 87" stopProcessing="true">
		<match url="^bike-loan-emi-calculator/$" />
		<action type="Rewrite" url="/finance/emicalculator.aspx" />
	</rule>
	<rule name="Imported Rule 88-1" stopProcessing="true">
		<match url="^new/([a-zA-Z0-9\-]+)-dealers/([0-9]+)-([a-zA-Z0-9\-]+).html" />
		<action type="Redirect" url="/{R:1}-bikes/dealers-in-{R:3}/" />
	</rule>
	<rule name="Imported Rule 91-1" stopProcessing="true">
		<match url="^new/bike-search/$" />
		<action type="Rewrite" url="/new/search.aspx" />
	</rule>
	<!--          Desktop section ends          -->
</rules>
