<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		<section name="dealerInsurance" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="dealerNumber" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="offerCategory" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="sponsoredModelId" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<configProtectedData>
		<providers>
			<add keyContainerName="SecurityKeys" useMachineContainer="true" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" name="AppEncryptionProvider" type="System.Configuration.RsaProtectedConfigurationProvider,&#xD;&#xA;    System.Configuration,&#xD;&#xA;    Version=2.0.0.0,&#xD;&#xA;    Culture=neutral,&#xD;&#xA;    PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</configProtectedData>
	<system.web>
		<machineKey validationKey="BA8D99B3C6440CDE05F3B87A6E5804A6DB9EE2700090BF55951DABB3A58DCCB9B370EF597F05CAF30A4768442E2BCDEBEE3586D677E8D7FA7B41B2F1CB67ACF7" decryptionKey="7E71477191A7385C6BB2E5B76075260CA53145FCBD115739" validation="SHA1" />
		<pages enableEventValidation="false" ></pages>
		<!-- To revert to the behavior of the ASP.NET 2.0 request validation -->
		<httpRuntime targetFramework="4.5.1" requestValidationMode="2.0" />
		<compilation debug="true" targetFramework="4.5.1">
	</compilation>    
		<authentication mode="Forms">
			<forms name="_bikewale" loginUrl="http://localhost:9011/users/login.aspx" />
		</authentication>
		<customErrors mode="Off" defaultRedirect="/customerror.aspx">
			<error statusCode="404" redirect="/pageNotFound.aspx" />
		</customErrors>
		<sessionState mode="Off" />
	</system.web>
	<connectionStrings>
		<add name="RabbitMQServerList" connectionString="172.16.0.20" />
		<add name="ConnectionMySqlMaster" connectionString="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=cwmasterdb;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300" />
	</connectionStrings>
	<appSettings>
		<add key="ReadOnlyConnectionString" value="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300" />
		<add key="MasterConnectionString" value="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300" />
		<add key="OfferUniqueTransaction" value="BWL" />
		<add key="BillDeskWorkingKey" value="sYPmiUQUoYdZ" />
		<add key="imgHostURL" value="webserver:9011" />
		<add key="RabbitImgHostURL" value="webserver:9011" />
		<add key="imgPathFolder" value="E:\sites\carwaleimg\staging\" />
		<add key="sourceId" value="1" />
		<add key="mobileSourceId" value="2" />
		<add key="DefaultCity" value="1" />
		<add key="defaultName" value="Mumbai" />
		<add key="isMSMQ" value="false" />
		<add key="SendSMS" value="1" />
		<add key="AppPath" value="/" />
		<add key="IsMemcachedUsed" value="false" />
		<add key="MemcacheTimespan" value="30" />
		<add key="staticUrl" value="" />
		<add key="AutoExpo" value="Carwale.CMS.AutoExpo" />
		<add key="SMTPSERVER" value="172.16.10.250" />
		<add key="errorMailTo" value="bikewalebugs2016@gmail.com" />
		<add key="localMail" value="contact@bikewale.com" />
		<add key="ReplyTo" value="contact@bikewale.com" />
		<add key="MailFrom" value="webserver.BikeWale.com" />
		<add key="ApplicationName" value="BikeWale.com" />
		<add key="sendError" value="On" />
		<add key="cwApiHostUrl" value="http://www.carwale.com" />
		<add key="ABApiHostUrl" value="http://webserver:8084" />
		<add key="bwHostUrl" value="http://webserver:9011" />
		<add key="bwHostUrlForJs" value="http://webserver:9011" />
		<add key="applicationId" value="2" />
		<add key="feedbackEmailTo" value="ashish.kamble@carwale.com" />
		<add key="OfferClaimAlertEmail" value="saurabh@bikewale.com,rohit@bikewale.com" />
		<add key="CancellationFeedbackEmail" value="piyush@bikewale.com,saurabh@bikewale.com,aniket.bhalerao@bikewale.com" />
		<add key="ImageQueueName" value="BWIMAGEIPC" />
		<add key="ElasticHostUrl" value="172.16.0.11:9201" />
		<add key="MMindexName" value="11bwsrckeywordsv1" />
		<add key="PQindexName" value="11bwsrckeywordspq" />
		<add key="cityIndexName" value="11bwcityindexv1" />
		<add key="UserReviewIndexName" value="11bwuserreviewindex" />
		<add key="CapitalFirstPincodeIndex" value="bwpincodessuggestionscp" />
		<add key="AutoSuggestType" value="mm" />
		<add key="PageSize" value="9" />
		<add key="staticFileVersion" value="20Feb2017" />
		<add key="staticFrameworkFileVersion" value="15july2016" />
		<add key="staticPluginFileVersion" value="15july2016" />
		<add key="staticCommonFileVersion" value="15july2016" />
		<add key="PrioritySmsQueue" value="BWSMSPRIORITY" />
		<add key="SmsQueue" value="BWSMS" />
		<add key="BWDataSynchQueue" value="BWDATASYNC" />
		<add key="MobileAlertQueuename" value="BW_MobileAppAlerts" />
		<add key="GoogleMapApiKey" value="AIzaSyC9JjTQyUpYSQMKBsYi5fQQwv_qRuP-k-s" />
		<add key="ApiMaxWaitTime" value="5000" />
		<add key="GrpcChannelWaitTime" value="5000" />
		<add key="GrpcArticleServerList" value="172.16.0.11:55555"/> <!--"10.10.3.110:55555"-->
		<add key="UseGrpc" value="true" />
		<add key="EnableLiveCallLogs" value="false" />    
		<add key="LogGrpcErrors" value="false" />
		<add key="WebsiteDomain" value="webserver" />
		<add key="SendHondaMfgLeadToAPI" value="true" />
		<add key="GrpcRetryCount" value="2" />
		<add key="GrpcMaxTimeLimit" value="0" />
		<add key="AWSAccessKey" value="AKIAIXWHZPIVBBDGRENQ" />
		<add key="AWSBucketName" value="m-aeplimages" />
		<add key="AWSSecretKey" value="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" />
		<add key="AWSEnvironment" value="dev/" />
		<add key="AWSImageQueueName" value="BW_S3ImageIPC" />
		<add key="SecurityHashLength" value="7" />
		<add key="apiKey" value="1AECC24B-10FD-485F-9083-752481FB21F2" />
		<add key="SponsoredModelIds" value="687,643,644,645,198,199,411,685" />
		<add key="FCMSendURL" value="https://fcm.googleapis.com/fcm/send" />
		<add key="FCMApiKey" value="AAAA7SEx-xY:APA91bGPOVpQpj4vAJgqHCFUGcsOX7cF_ugKs2FvidgvwQzDXKkjh72vHh8rhglpa5cDf4jgeHLXEXomDPfsdV6t6OQKstunymaAIK3hTQIfNCCK90U98csbiQeCVMSRkWHJe0WvCleCuwchxPRUAArdBABsnAkRoQ" />
		<add key="FCMAndroidGlobalTopic" value="testbwandroidnotification" />
		<add key="FCMIIDBatchImportEndPoint" value="https://iid.googleapis.com/iid/v1:batchImport" />
		<add key="FCMIIDBatchAddEndPoint" value="https://iid.googleapis.com/iid/v1:batchAdd" />
		<add key="FCMIIDBatchRemoveEndPoint" value="https://iid.googleapis.com/iid/v1:batchRemove" />
		<add key="FCMEnvironment" value="dev" />
		<add key="IsAppTrackDayVisible" value="true" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="LeadConsumerQueue" value="BWNewBikeLeadProcessingQueue" />
		<add key="PinCodesIndexName" value="bwpincodessuggestions" />
		<add key="AWSS3Region" value="ap-south-1" />
		<add key="DebugMobileSite" value="true" />
		<add key="NewRelic.AppName" value="PWA Bikewale" />
		<add key="PwaLocalCahceLimit" value="100" />
		<add key="EnablePWALogging" value="false" />  
		<add key="EnablePWA" value="false" />
		<add key="staticAppFileVersion" value="6Nov2017v1" />
		<add key="staticVendorFileVersion" value="6Nov2017v1" />
		<add key="ServiceWorkerPath" value="/m/sw.js" />
		<add key="StaticUrlPWA" value="" /> <!--https://stb.aeplcdn.com/bikewale-->
		<add key="StaticCSSBTFPWAVersion" value="6Nov2017v1" />
		<add key="MinEnginePoolSize" value="3"/>
		<add key="MaxEnginePoolSize" value="20"/>
		<add key="AMPDomainForSW" value=""/> <!-- https://stg1.bikewale.com -->
		<add key="CoverFox" value="" />
		<add key="UseAPIGateway" value="true" />
		<add key="GrpcAPIGatewayServerList" value="10.10.3.60:54345;10.10.4.60:54345"/> <!--"172.16.0.27:54345"-->
		<add key="EditCMSModuleName" value="editcms_stg" />
		<add key="DefaultTimeout" value="500000" />
		<add key="OtherBikesInMakeId" value="15,1,3" />
		<add key="PageSchemaModels" value="407,402,701,610" />
		<add key="LogNewsUrl" value="false"/>
		<add key="CapitalFirstConsumerQueue" value="BWCapitalFirstQueue"/>
		<add key="IsIPSecurityEnabled" value="false"/>
		<add key="CapitalFirstDealerId" value="25039"/>
		<add key="MinEnginePoolSize" value="5"/>
		<add key="MaxEnginePoolSize" value="25"/>
			 
		<add key="CarTradeLeadUrl" value="http://testbikefinance.cartradeexchange.com/dms_apis/"/>
		<add key="CarTradeLeadApiAction" value="bfm_intermediate_api"/>
		<add key="CarTradeLeadApiCode" value="18e14u11a10a7a4e519h"/>
		<add key="InnovationBannerModels" value="356,699,354,1044,349,477,56,698,55,641,73,119,1055,114,624,1041,588,675,389,469,971,473,691,984,571,575,453,343,74,100,395,117,697,391,636,637,638,639,99,115" />
    <add key="UserReviewsReadInSessionCount" value="4" />
		<add key="KawasakiCampaignId" value="19" />
		<add key ="PopularCitiesId" value="1, 2, 10, 12, 105, 176, 198, 220"/>
		<add key ="PopularityOrderForMake" value="13,12,9"/>
		<add key ="UseV8Engine" value="true"/>
		<add key ="PwaRenderedHtmlCacheLimitMins" value="60"/>
		<add key ="MetasMakeId" value="11,13"/>
		<add key="EnablePwdResetLogging" value="true"/>
		<add key="MemcachedDefaultObjDuration" value="1"/>
    <add key="MakePageOnRoadPriceBtnPct" value="10"/>
    <add key="ContestPriceMoney" value="1,000"/>
    
	</appSettings>
	
	<memcached>
		<servers>
			<add address="172.16.1.39" port="11211" />
			<!-- Add more server instances here-->
		</servers>
		<socketPool minPoolSize="10" maxPoolSize="400" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
	</memcached>
	
	<system.webServer>
		<handlers>
			<add name="AjaxPro.2" path="ajaxpro/*.ashx" verb="*" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" resourceType="Unspecified" preCondition="integratedMode" />
			<add name="ajax" path="ajax/*.ashx" verb="*" type="Ajax.PageHandlerFactory, Ajax" resourceType="Unspecified" preCondition="integratedMode" />
		<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			
			
		</handlers>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/pagenotfound.aspx" responseMode="ExecuteURL" />
		</httpErrors>
		<rewrite>
			<rules configSource="rewriterules.config" />
			<outboundRules>
				<rule name="AddCrossDomainOrigin">
					<match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="true">
						<add input="{HTTP_ORIGIN}" pattern="(http(s)?://((.+\.)?bikewale\.com|(.+\.)?carwale\.com|((webserver|localhost)\:(9011|9010))))" />
					</conditions>
					<action type="Rewrite" value="{C:0}" />
				</rule>
			</outboundRules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
				<add name="Access-Control-Allow-Methods" value="GET,POST" />
			</customHeaders>
		</httpProtocol>
	<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="0" />
			<dynamicTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</staticTypes>
		</httpCompression>
		<urlCompression doStaticCompression="false" doDynamicCompression="false" />
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:05:00" />
		</staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Nest" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70eed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ClearScript" publicKeyToken="935d0c957da47c73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.4.9.0" newVersion="5.4.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.9.0" newVersion="2.4.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="JavaScriptEngineSwitcher.V8" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.0" newVersion="2.4.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="JavaScriptEngineSwitcher.Msie" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.9.0" newVersion="2.4.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="JSPool" publicKeyToken="2fc7775f73072640" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<dealerInsurance>
		<add key="10240" value="*" />
		<add key="12867" value="*" />
		<add key="12865" value="*" />
		<add key="12866" value="*" />
		<add key="10211" value="*" />
		<add key="13151" value="*" />
		<add key="12528" value="*" />
		<add key="12529" value="*" />
		<add key="12530" value="*" />
		<add key="12531" value="*" />
		<add key="12532" value="*" />
		<add key="12533" value="*" />
		<add key="12534" value="*" />
		<add key="10292" value="*" />
		<add key="10293" value="*" />
		<add key="10308" value="*" />
		<add key="10255" value="*" />
		<add key="10273" value="*" />
		<add key="10275" value="*" />
		<add key="10333" value="*" />
		<add key="10530" value="*" />
		<add key="10549" value="*" />
		<add key="10551" value="*" />
		<add key="10254" value="*" />
		<add key="14405" value="*" />
	</dealerInsurance>
	<offerCategory>
		<add key="insurance" value="Insurance" />
		<add key="accessories" value="Accessories" />
		<add key="rto" value="RTO" />
		<add key="cash discount" value="Cash Discount" />
	</offerCategory>
	<dealerNumber>
		<add key="20659" value="*" />
		<add key="20658" value="*" />
	</dealerNumber>
	<sponsoredModelId>
		<add key="687" value="http://www.bajajauto.com/V/?utm_source=Bikewale&amp;utm_campaign=BajajV_Autoportals_Nov16&amp;utm_medium=SponsoredComparison&amp;utm_term=BajajV" />
		<add key="643" value="http://www.bajajauto.com/bajajavenger/street/index.html?utm_source=Bikewale&amp;utm_campaign=Avenger_Autoportals_Nov16&amp;utm_medium=Competitonbrand&amp;utm_term=Avenger" />
		<add key="644" value="http://www.bajajauto.com/bajajavenger/street/index.html?utm_source=Bikewale&amp;utm_campaign=Avenger_Autoportals_Nov16&amp;utm_medium=Competitonbrand&amp;utm_term=Avenger" />
		<add key="645" value="http://www.bajajauto.com/bajajavenger/cruise/index.html?utm_source=Bikewale&amp;utm_campaign=Avenger_Autoportals_Nov16&amp;utm_medium=Competitonbrand&amp;utm_term=Avenger" />
		<add key="198" value="http://www.bajajauto.com/pulsar180dtsi_index.asp?utm_source=Bikewale&amp;utm_campaign=Pulsar_Autoportals_Nov16&amp;utm_medium=Competitonbrand&amp;utm_term=Pulsar" />
		<add key="199" value="http://www.bajajauto.com/pulsar220dtsi_index.asp?utm_source=Bikewale&amp;utm_campaign=Pulsar_Autoportals_Nov16&amp;utm_medium=Competitonbrand&amp;utm_term=Pulsar" />
		<add key="411" value="http://www.bajajauto.com/pulsarrs200/?utm_source=Bikewale&amp;utm_campaign=Pulsar_Autoportals_Nov16&amp;utm_medium=Competitonbrand&amp;utm_term=Pulsar" />
		<add key="685" value="http://www.bajajauto.com/V/?utm_source=Bikewale&amp;utm_campaign=BajajV_Autoportals_Nov16&amp;utm_medium=SponsoredComparison&amp;utm_term=BajajV" />
	</sponsoredModelId>
	<log4net>
		<appender name="GelfUdpAppender" type="Gelf4net.Appender.GelfUdpAppender, Gelf4net">
			<remoteAddress value="172.16.1.39" /> <!--10.10.0.100-->
			<remotePort value="22003" /> <!--12201-->
			<layout type="Gelf4net.Layout.GelfLayout, Gelf4net">
				<param name="AdditionalFields" value="app:BikeWale PWA,version:1.0,Environment:webserver,Level:%level" />
				<param name="Facility" value="Mysql BikeWale Errors" />
				<param name="IncludeLocationInformation" value="true" />
				<!-- Sets the full_message and short_message to the specified pattern-->
				<param name="ConversionPattern" value="[%t] %c{1} - %m" />
			</layout>
		</appender>
		<root>
			<level value="ERROR" />
			<appender-ref ref="GelfUdpAppender" />
		</root>
	</log4net>
</configuration>

