<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    <section name="dealerInsurance" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.web>
    <!-- To revert to the behavior of the ASP.NET 2.0 request validation -->
    <httpRuntime requestValidationMode="2.0"/>
    <authentication mode="Forms">
      <forms name="_bikewale" loginUrl="http://localhost:9011/users/login.aspx"/>
    </authentication>
    <compilation debug="true"/>
	<customErrors mode="Off">
      <error statusCode="404" redirect="/pageNotFound.aspx"/>
    </customErrors>
  <!--<httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>-->
  </system.web>
  <connectionStrings>
    <add name="RabbitMQServerList" connectionString="172.16.0.20"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="connectionString" value="server=dbserver;uid=cwuser;pwd=cw@007;database=bikewale" />-->
    <!--<add key="connectionstring" value="server=dbserver;uid=cwuser;pwd=cw@007;database=bikewale_dev" />-->
    <add key="bwconnectionstring" value="server=cwdb\cwdev;uid=cwuser;pwd=cw@007;database=bikewale_dev"/>
    <!--<add key="bwconnectionstring" value="server=cwdb;uid=bwuser1;pwd=BwU$eR#!;database=bikewale"/>-->
    <add key="connectionstring" value="server=cwdb\cwdev;uid=cwuser;pwd=cw@007;database=carwale"/>
    <add key="OfferUniqueTransaction" value="BWL"/>
    <!--<add key="BillDeskWorkingKey" value="sYPmiUQUoYdZ"/>-->
    <add key="BillDeskWorkingKey" value="OFOqEwI4jUF9" />
    <add key="imgHostURL" value="localhost:84"/>
    <add key="RabbitImgHostURL" value="localhost:84"/>
    <add key="imgPathFolder" value="E:\sites\carwaleimg\staging\"/>
    <add key="sourceId" value="1"/>
    <add key="mobileSourceId" value="2"/>
    <!-- Source id is 1 for bikewale change the id for other sources -->
    <add key="DefaultCity" value="1"/>
    <add key="defaultName" value="Mumbai"/>
    <add key="isMSMQ" value="false"/>
    <add key="SendSMS" value="1"/>
    <add key="AppPath" value="/"/><!-- Will store Application Path. -->
    <!-- Keys for memcache -->
    <add key="IsMemcachedUsed" value="true"/>
    <add key="MemcacheTimespan" value="30"/>
    <add key="staticUrl" value=""/>
    <!-- Auto Expo Keys -->
    <add key="AutoExpo" value="Carwale.CMS.AutoExpo"/>
    <add key="SMTPSERVER" value="127.0.0.1"/><!-- SMTP Server -->
    <add key="errorMailTo" value="bikewalebugs@gmail.com"/>
    <add key="localMail" value="contact@bikewale.com"/>
    <add key="ReplyTo" value="contact@bikewale.com"/>
    <add key="MailFrom" value="BikeWale.com"/>
    <add key="ApplicationName" value="BikeWale.com"/>
    <add key="sendError" value="Off"/>
    <add key="cwApiHostUrl" value="http://stg1.carwale.com"/>
    <add key="ABApiHostUrl" value="http://webserver:8094"/>
    <add key="bwHostUrl" value="http://localhost:9011"/>
	  <!--<add key="abApiHostUrl" value="http://localhost:58300/" />
    <add key="ApiHostUrl" value="http://172.16.1.56:8084" />-->
    <add key="applicationId" value="2"/>
    <add key="feedbackEmailTo" value="ashish.kamble@carwale.com"/>
    <add key="OfferClaimAlertEmail" value="saurabh@bikewale.com,rohit@bikewale.com"/>
    <add key="ImageQueueName" value="BWIMAGEIPC"/>
    <add key="ElasticHostUrl" value="172.16.1.114:9200" />
    <add key="MMindexName" value="bwsrckeywords"/>
    <add key="PQindexName" value="bwsrckeywordspq"/>
    <add key="cityIndexName" value="bwsrckeywordscity"/>
    <add key="AutoSuggestType" value="mm"/>
    <add key="PageSize" value="9"/>
  </appSettings>
  <memcached>
    <servers>
      <add address="172.16.0.11" port="11211"/>
      <!-- Add more server instances here-->
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="400" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
  </memcached>
  <system.webServer>
    <handlers>
      <add name="AjaxPro.2" path="ajaxpro/*.ashx" verb="*" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ajax" path="ajax/*.ashx" verb="*" type="Ajax.PageHandlerFactory, Ajax" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
	<httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/pagenotfound.aspx" responseMode="ExecuteURL"/>
    </httpErrors>        
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dealerInsurance>
    <add key="10240" value="*"/>
    <add key="12867" value="*"/>
    <add key="12865" value="*"/>
    <add key="12866" value="*"/>
    <add key="10211" value="*"/>
    <add key="13151" value="*"/>
    <add key="12528" value="*"/>
    <add key="12529" value="*"/>
    <add key="12530" value="*"/>
    <add key="12531" value="*"/>
    <add key="12532" value="*"/>
    <add key="12533" value="*"/>
    <add key="12534" value="*"/>
    <add key="10292" value="*"/>
    <add key="10293" value="*"/>
    <add key="10308" value="*"/>
    <add key="10255" value="*"/>
    <add key="10273" value="*"/>
    <add key="10275" value="*"/>
    <add key="10333" value="*"/>
    <add key="10530" value="*"/>
    <add key="10549" value="*"/>
    <add key="10551" value="*"/>
    <add key="10254" value="*"/>
    <add key="14405" value="*"/>
  </dealerInsurance>
</configuration>
