<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <configSections>
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="dealerInsurance" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="BumperDealerOffer" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="offerCategory" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="dealerNumber" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="sponsoredModelId" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <system.web>

    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey validationKey="BA8D99B3C6440CDE05F3B87A6E5804A6DB9EE2700090BF55951DABB3A58DCCB9B370EF597F05CAF30A4768442E2BCDEBEE3586D677E8D7FA7B41B2F1CB67ACF7" decryptionKey="7E71477191A7385C6BB2E5B76075260CA53145FCBD115739" validation="SHA1" />
    <pages enableEventValidation="false" ></pages>
    <!-- To revert to the behavior of the ASP.NET 2.0 request validation -->
    <httpRuntime requestValidationMode="2.0" />
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms name="_bikewale" loginUrl="https://www.bikewale.com/users/login.aspx" />
      <!-- bikewale.com -->
    </authentication>
    <customErrors mode="On" defaultRedirect="/customerror.aspx" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Error/"/>
    </customErrors>
    <sessionState mode="Off" />
  </system.web>
  <configProtectedData>
    <providers>
      <add keyContainerName="SecurityKeys"
        useMachineContainer="true"
        description="Uses RsaCryptoServiceProvider to encrypt and decrypt"
        name="AppEncryptionProvider"
        type="System.Configuration.RsaProtectedConfigurationProvider,&#xD;&#xA;    System.Configuration,&#xD;&#xA;    Version=2.0.0.0,&#xD;&#xA;    Culture=neutral,&#xD;&#xA;    PublicKeyToken=b03f5f7f11d50a3a"



                                     />
    </providers>
  </configProtectedData>
  <connectionStrings>
    <add name="RabbitMQServerList" connectionString="10.10.3.80;10.10.3.81;10.10.4.81"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ConnectionMySqlMaster" connectionString="SERVER=10.10.2.51;UID=usedcaradmin;PASSWORD=mewAytthy;DATABASE=cwmasterdb;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ConnectionMySqlMasterClassified" connectionString="SERVER=10.10.2.51;UID=usedcaradmin;PASSWORD=mewAytthy;DATABASE=usedcardb;Allow User Variables=true;Min Pool Size=5;Max Pool Size=300"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ConnectionMySqlMasterAdvantage" connectionString="SERVER=10.10.2.51;UID=usedcaradmin;PASSWORD=mewAytthy;DATABASE=cwadvantage;Allow User Variables=true;Min Pool Size=5;Max Pool Size=300"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="ReadOnlyConnectionString" connectionString="SERVER=10.10.2.54;UID=bwreadonly;PASSWORD=Spegajrec9;DATABASE=bikewale;Allow User Variables=true;Min Pool Size=20;Max Pool Size=200;ProcedureCacheSize=750;CacheServerProperties=True;ConnectionLifetime=180;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="MasterConnectionString" connectionString="SERVER=10.10.2.53;UID=cwadmin;PASSWORD=lejDocDeip;DATABASE=bikewale;Allow User Variables=true;Min Pool Size=20;Max Pool Size=200;ProcedureCacheSize=750;CacheServerProperties=True;ConnectionLifetime=180;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>    
    <add key="ReadOnlyConnectionString" value="SERVER=10.10.2.54;UID=bwreadonly;PASSWORD=Spegajrec9;DATABASE=bikewale;Allow User Variables=true;Min Pool Size=20;Max Pool Size=200;ProcedureCacheSize=750;CacheServerProperties=True;ConnectionLifetime=180;" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MasterConnectionString" value="SERVER=10.10.2.53;UID=cwadmin;PASSWORD=lejDocDeip;DATABASE=bikewale;Allow User Variables=true;Min Pool Size=20;Max Pool Size=200;ProcedureCacheSize=750;CacheServerProperties=True;ConnectionLifetime=180;" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="imgHostURL" value="img.carwale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="RabbitImgHostURL" value="10.10.3.30:9001" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="sourceId" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/> <!-- Source id is 1 for bikewale change the id for other sources -->
	<add key="mobileSourceId" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>    
    <add key="DefaultCity" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/> 
	<add key="defaultName" value="Mumbai" xdt:Transform="Replace" xdt:Locator="Match(key)"/>   
    <add key="isMSMQ" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SendSMS" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AppPath" value="/" xdt:Transform="Replace" xdt:Locator="Match(key)"/><!-- Will store Application Path. -->
	<add key="SMTPSERVER" value="10.10.0.254" xdt:Transform="Replace" xdt:Locator="Match(key)"/><!-- SMTP Server -->
	<add key="sendError" value="On" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="errorMailTo" value="bikewalebugs2016@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="errorMailTo" value="bikewalebugs2016@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="localMail" value="contact@bikewale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="NewRelic.AppName" value="BikeWale" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Keys for memcache -->
    <add key="IsMemcachedUsed" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MemcacheTimespan" value="30" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="staticUrl" value="https://stb.aeplcdn.com/bikewale/min" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Auto Expo Keys -->
    <add key="AutoExpo" value="Carwale.CMS.AutoExpo" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReplyTo" value="contact@bikewale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MailFrom" value="BikeWale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApplicationName" value="BikeWale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<!-- Key for CarWale WebApi -->
    <add key="cwApiHostUrl" value="https://www.carwale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>	
    <add key="ABApiHostUrl" value="http://www.autobiz.in" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="bwHostUrl" value="https://www.bikewale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="bwHostUrlForJs" value="https://www.bikewale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="applicationId" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>    
	<add key="OfferUniqueTransaction" value="BW" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="BillDeskWorkingKey" value="sYPmiUQUoYdZ" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="feedbackEmailTo" value="piyush@bikewale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="OfferClaimAlertEmail" value="piyush@bikewale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="CancellationFeedbackEmail" value="piyush@bikewale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="isRSAOfferClaimEmailAlertEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="isOfferAvailable" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="LeadConfirmOfferPageShortUrl" value="https://goo.gl/svhiNX" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="BkgConfirmOfferPageShortUrl" value="https://goo.gl/DT8tAE" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="ImageQueueName" value="BWIMAGEIPC" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="imgPathFolder" value="E:\sites\carwaleimg\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<!-- Elastic search configuration -->
	<add key="ElasticHostUrl" value="10.10.3.72:9212;10.10.4.72:9212;10.10.3.73:9212" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MMindexName" value="bikewalekeywords" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PQindexName" value="bikewalepq" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="cityIndexName" value="bikewalecityindex" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="UserReviewIndexName" value="bwuserreviewindex" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AutoSuggestType" value="mm" xdt:Transform="Replace" xdt:Locator="Match(key)"/>    
	<add key="PageSize" value="9" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="staticFileVersion" value="02May2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="staticFrameworkFileVersion" value="02May2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
       <add key="staticPluginFileVersion" value="02May2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
       <add key="staticCommonFileVersion" value="02May2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="TVSManufacturerId" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="InsuranceClientId" value="5" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="PrioritySmsQueue" value="BWSMSPRIORITY" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SmsQueue" value="BWSMS" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="BWDataSynchQueue" value="BWDATASYNC" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="MobileAlertQueuename" value="BW_MobileAppAlerts" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="APIKey" value="AIzaSyArdIcynpbm2edjRHwyhcTplQJJ_v6GNwo" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="ApiMaxWaitTime" value="1000" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="GrpcChannelWaitTime" value="3500" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GrpcArticleServerList" value="10.10.3.55:60000;10.10.4.55:60000;10.10.3.56:60000;10.10.3.56:60001" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GrpcArticleServerWaitLimitMilliSecond" value="100" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GrpcArticleServerHealthCheckTimeLimitSeconds" value="10" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="UseGrpc" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="LogGrpcErrors" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<!-- <add key="GoogleMapApiKey" value="AIzaSyC9JjTQyUpYSQMKBsYi5fQQwv_qRuP-k-s" xdt:Transform="Replace" xdt:Locator="Match(key)"/> -->
	<!-- <add key="GoogleMapApiKey" value="AIzaSyAdjVdtkGI8jwdKp1099Ahji6Or6FgFTJY" xdt:Transform="Replace" xdt:Locator="Match(key)"/> -->
	<add key="GoogleMapApiKey" value="AIzaSyDMIrUmItYVEGCQFD7ONCrZmYYK_ZnrEO8" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="LogOnlySpCalls" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EnableLiveCallLogs" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="WebsiteDomain" value="bikewale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SendHondaMfgLeadToAPI" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="AWSAccessKey" value="AKIAIXWHZPIVBBDGRENQ" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="AWSBucketName" value="m-aeplimages" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="AWSSecretKey" value="mgl4Tbp5hlrIKJbyKlpx7+waipfG1a6HvgUNL6Ux" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="AWSEnvironment" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="AWSImageQueueName" value="BW_S3ImageIPC" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SecurityHashLength" value="7" xdt:Transform="Replace" xdt:Locator="Match(key)"/>	
	<add key="SponsoredModelIds" value="687,643,644,645,198,199,411,551,1038" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="FCMSendURL" value="https://fcm.googleapis.com/fcm/send" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FCMApiKey" value="AAAA7SEx-xY:APA91bGPOVpQpj4vAJgqHCFUGcsOX7cF_ugKs2FvidgvwQzDXKkjh72vHh8rhglpa5cDf4jgeHLXEXomDPfsdV6t6OQKstunymaAIK3hTQIfNCCK90U98csbiQeCVMSRkWHJe0WvCleCuwchxPRUAArdBABsnAkRoQ" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FCMAndroidGlobalTopic" value="testbwandroidnotification" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FCMIIDBatchImportEndPoint" value="https://iid.googleapis.com/iid/v1:batchImport" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FCMIIDBatchAddEndPoint" value="https://iid.googleapis.com/iid/v1:batchAdd" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FCMIIDBatchRemoveEndPoint" value="https://iid.googleapis.com/iid/v1:batchRemove" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FCMEnvironment" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="CORSEnabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="CORSSite" value="http://www.bikewale.com,https://www.bikewale.com,https://staging.bikewale.com,http://staging.bikewale.com,http://opr.bikewale.com,http://bwoprst.bikewale.com,http://opr.carwale.com,http://oprst.carwale.com,http://localhost:9011,http://webserver:9011,http://10.10.3.30:8083" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="CORSMethod" value="get, post" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="IsAppTrackDayVisible" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="webpages:Version" value="3.0.0.0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="webpages:Enabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="LeadConsumerQueue" value="BWNewBikeLeadProcessingQueueV4" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="PinCodesIndexName" value="bwpincodessuggestions" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="AWSS3Region" value="ap-south-1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="GrpcMaxTimeLimit" value="1000" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="GrpcPoolSize" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<!-- <add key="CoverFox" value="https://www.coverfox.com/lp/bike-insurance/get-cover/?v=1&amp;network=affiliate&amp;affiliate_name=automotive_exchange_bikewale&amp;product=bike&amp;category=automotive_exchange_bikewale&amp;utm_source=affiliate_automotive_exchange_bikewale&amp;utm_medium=cpc&amp;utm_campaign=bikewale_pub01" xdt:Transform="Replace" xdt:Locator="Match(key)"/> -->
	<add key="CoverFox" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<!-- API Gateway keys-->  
	<add key="UseAPIGateway" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="GrpcAPIGatewayServerList" value="10.10.3.90:54445;10.10.4.90:54445"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DefaultTimeout" value="5000" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<!-- PWA Keys-->
	<add key="PwaLocalCahceLimit" value="100" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EnablePWALogging" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>  
    <add key="EnablePWA" value="true"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="MinEnginePoolSize" value="3" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MaxEnginePoolSize" value="20" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="staticAppFileVersion" value="07Mar2018v1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="staticVendorFileVersion" value="07Mar2018v1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="ServiceWorkerPath" value="/m/sw.js" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="StaticUrlPWA" value="https://stb.aeplcdn.com/bikewale" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="StaticCSSBTFPWAVersion" value="07Mar2018v1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="AMPDomainForSW" value="https://www.bikewale.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="LogNewsUrl" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="OtherBikesInMakeId" value="15,6,7" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PageSchemaModels" value="407,402,701,610" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="CapitalFirstConsumerQueue" value="BWCapitalFirstQueue" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="IsIPSecurityEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="CapitalFirstDealerId" value="25698" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="CarTradeLeadUrl" value="http://bikefinance.cartradeexchange.com/dms_apis/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="CarTradeLeadApiAction" value="bfm_intermediate_api" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="CarTradeLeadApiCode" value="18e14u11a10a7a4e519h" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="CapitalFirstPincodeIndex" value="bwpincodessuggestionscp" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<!-- <add key="InnovationBannerModels" value="356,699,354,1044,477,56,1061,569,698,55,641,73,119,1055,114,624,1041,588,675,389,469,971,473,691,984,571,575,405,453,343,74,100,395,117,697,391,636,637,638,639,99,115" xdt:Transform="Replace" xdt:Locator="Match(key)"/> -->
	<add key="InnovationBannerModels" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="UserReviewsReadInSessionCount" value="4" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="KawasakiCampaignId" value="19" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EditCMSModuleName" value="editcms_prod" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="PopularCitiesId" value="1, 2, 10, 12, 105, 176, 198, 220" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key ="UseV8Engine" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EnablePwdResetLogging" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key ="MetasMakeId" value="11,13"/>
    <add key="MakePageOnRoadPriceBtnPct" value="10" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MemcachedDefaultObjDuration" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ContestPriceMoney" value="2000" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Elastic Index Names -->
    <add key="BikeIndex" value="bikeindex" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BikePriceIndex" value="bikewalepricingindex" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MakePageViewShowPercentage" value="10" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <memcached>
    <servers xdt:Transform="Replace">
      <add address="10.10.3.80" port="11211"  />
      <add address="10.10.3.81" port="11211"  />
      <add address="10.10.4.81" port="11211"  />
      <!-- Add more server instances here-->
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="400" connectionTimeout="00:00:10" deadTimeout="00:00:10" />
  </memcached>

  <system.webServer xdt:Transform="Replace">
    <handlers>
      <add name="AjaxPro.2" path="ajaxpro/*.ashx" verb="*" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ajax" path="ajax/*.ashx" verb="*" type="Ajax.PageHandlerFactory, Ajax" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/pagenotfound.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <staticContent>
      <!--<mimeMap fileExtension=".woff" mimeType="application/font-woff" />-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:05:00" />
    </staticContent>
    <rewrite>
      <rules configSource="rewriterules.config" />
      <outboundRules>
        <rule name="AddCrossDomainOrigin">
          <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_ORIGIN}" pattern="(http(s)?://((.+\.)?bikewale\.com|(.+\.)?carwale\.com|((10.10.3.30|10.10.4.30|10.10.3.31|10.10.4.31)\:(8083))))" />
          </conditions>
          <action type="Rewrite" value="{C:0}" />
        </rule>
      </outboundRules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Server" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="GET,POST" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nest" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70eed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ClearScript" publicKeyToken="935d0c957da47c73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.9.0" newVersion="5.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.9.0" newVersion="2.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.V8" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.2.0" newVersion="2.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Msie" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.9.0" newVersion="2.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JSPool" publicKeyToken="2fc7775f73072640" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.6.0" newVersion="6.10.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dealerInsurance xdt:Transform="Replace">
    <add key="0" value="*" />
  </dealerInsurance>
  <BumperDealerOffer xdt:Transform="Replace">
    <add key="" value="*" />
  </BumperDealerOffer>
  <sponsoredModelId xdt:Transform="Replace">
    <add key="687" value="http://www.bajajauto.com/V?utm_source=Bikewale&amp;utm_campaign=BajajV_Autoportals_LTD&amp;utm_medium=SponsoredComparison&amp;utm_term=BajajV&amp;utm_content=Desktop_Text" />
    <add key="643" value="http://www.bajajauto.com/bajajavenger/street/index.html?utm_source=Bikewale&amp;utm_campaign=Avenger_Autoportals_LTD&amp;utm_medium=SponsoredComparison&amp;utm_term=Avenger&amp;utm_content=Desktop_Text" />
    <add key="644" value="http://www.bajajauto.com/bajajavenger/street/index.html?utm_source=Bikewale&amp;utm_campaign=Avenger_Autoportals_LTD&amp;utm_medium=SponsoredComparison&amp;utm_term=Avenger&amp;utm_content=Desktop_Text" />
    <add key="645" value="http://www.bajajauto.com/bajajavenger/cruise/index.html?utm_source=Bikewale&amp;utm_campaign=Avenger_Autoportals_LTD&amp;utm_medium=SponsoredComparison&amp;utm_term=Avenger&amp;utm_content=Desktop_Text" />
    <add key="198" value="http://www.bajajauto.com/pulsar180dtsi_index.asp?utm_source=Bikewale&amp;utm_campaign=Pulsar_Autoportals_Nov16&amp;utm_medium=Competitonbrand&amp;utm_term=Pulsar" />
    <add key="199" value="http://www.bajajauto.com/pulsar220dtsi_index.asp?utm_source=Bikewale&amp;utm_campaign=Pulsar_Autoportals_Nov16&amp;utm_medium=Competitonbrand&amp;utm_term=Pulsar" />
    <add key="411" value="http://www.bajajauto.com/pulsarrs200/?utm_source=Bikewale&amp;utm_campaign=Pulsar_Autoportals_Nov16&amp;utm_medium=Competitonbrand&amp;utm_term=Pulsar" />
    <add key="551" value="http://www.bajajauto.com/BajajDominar/Dominar400/index.html?utm_source=Bikewale&amp;utm_campaign=Dominar_Autoportals_LTD&amp;utm_medium=SponsoredComparison&amp;utm_term=Dominar&amp;utm_content=Text" />
    <add key="1038" value="https://bs.serving-sys.com/serving/adServer.bs?cn=trd&amp;mc=click&amp;pli=21761330&amp;PluID=0&amp;ord=[timestamp]" />
  </sponsoredModelId>
  <offerCategory xdt:Transform="Replace">
    <add key="insurance" value="Insurance" />
    <add key="accessories" value="Accessories" />
    <add key="rto" value="RTO" />
    <add key="cash discount" value="Cash Discount" />
  </offerCategory>
  <dealerNumber xdt:Transform="Replace">
    <add key="20659" value="*" />
    <add key="20658" value="*" />
  </dealerNumber>
  <log4net xdt:Transform="Replace">
    <appender name="GelfUdpAppender" type="Gelf4net.Appender.GelfUdpAppender, Gelf4net">
      <remoteAddress value="10.10.0.100" />
      <remotePort value="22003" />
      <layout type="Gelf4net.Layout.GelfLayout, Gelf4net">
        <param name="AdditionalFields" value="app:BikeWale,version:1.0,Environment:ProductionWeb3,Level:%level" />
        <param name="Facility" value="BikeWale Errors" />
        <param name="IncludeLocationInformation" value="true" />
        <param name="ConversionPattern" value="[%t] %c{1} - %m" />
      </layout>
    </appender>
    <appender name="JSGelfUdpAppender" type="Gelf4net.Appender.GelfUdpAppender, Gelf4net">
      <remoteAddress value="10.10.0.100" />
      <remotePort value="22103" />
      <layout type="Gelf4net.Layout.GelfLayout, Gelf4net">
        <param name="AdditionalFields" value="app:BikeWale JS,version:1.0,Environment:ProductionWeb3,Level:%level" />
        <param name="Facility" value="BikeWale JavaScript Errors" />
        <param name="IncludeLocationInformation" value="true" />
        <param name="ConversionPattern" value="[%t] %c{1} - %m" />
      </layout>
    </appender>
    <logger additivity="false" name="JSExceptionLogger">
      <level value="ERROR" />
      <appender-ref ref="JSGelfUdpAppender" />
    </logger>
    <root>
      <level value="ERROR" />
      <appender-ref ref="GelfUdpAppender" />
    </root>
  </log4net>

</configuration>