<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    <section name="dealerInsurance" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="dealerNumber" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="offerCategory" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.web>
    <!-- To revert to the behavior of the ASP.NET 2.0 request validation -->
    <httpRuntime requestValidationMode="2.0" />
    <authentication mode="Forms">
      <forms name="_bikewale" loginUrl="http://localhost:9011/users/login.aspx" />
    </authentication>
    <compilation debug="true" />
    <customErrors mode="Off" defaultRedirect="/customerror.aspx">
      <error statusCode="404" redirect="/pageNotFound.aspx" />
    </customErrors>
    <!--<httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>-->
    <sessionState mode="Off" />
  </system.web>
  <connectionStrings>
    <add name="RabbitMQServerList" connectionString="172.16.0.20" />
  </connectionStrings>
  <appSettings>
    <!--<add key="connectionString" value="server=dbserver;uid=cwuser;pwd=cw@007;database=bikewale" />-->
    <!--<add key="connectionstring" value="server=dbserver;uid=cwuser;pwd=cw@007;database=bikewale_dev" />-->
    <add key="bwconnectionstring" value="server=cwdb\cwdev;uid=cwuser;pwd=cw@007;database=bikewale_dev" />
    <!--<add key="bwconnectionstring" value="server=cwdb;uid=bwuser1;pwd=bwu$er#!;database=bikewale"/>-->
    <add key="connectionstring" value="server=cwdb\cwdev;uid=cwuser;pwd=cw@007;database=carwale" />
    <add key="OfferUniqueTransaction" value="BWL" />
    <add key="BillDeskWorkingKey" value="sYPmiUQUoYdZ" />
    <!--<add key="BillDeskWorkingKey" value="OFOqEwI4jUF9" />-->
    <add key="imgHostURL" value="localhost:84" />
    <add key="RabbitImgHostURL" value="localhost:84" />
    <add key="imgPathFolder" value="E:\sites\carwaleimg\staging\" />
    <add key="sourceId" value="1" />
    <add key="mobileSourceId" value="2" />
    <!-- Source id is 1 for bikewale change the id for other sources -->
    <add key="DefaultCity" value="1" />
    <add key="defaultName" value="Mumbai" />
    <add key="isMSMQ" value="false" />
    <add key="SendSMS" value="1" />
    <add key="AppPath" value="/" />
    <!-- Will store Application Path. -->
    <!-- Keys for memcache -->
    <add key="IsMemcachedUsed" value="true" />
    <add key="MemcacheTimespan" value="30" />
    <add key="staticUrl" value="" />
    <!-- Auto Expo Keys -->
    <add key="AutoExpo" value="Carwale.CMS.AutoExpo" />
    <add key="SMTPSERVER" value="172.16.10.250" />
    <!-- SMTP Server -->
    <add key="errorMailTo" value="bikewalebugs@gmail.com" />
    <add key="localMail" value="contact@bikewale.com" />
    <add key="ReplyTo" value="contact@bikewale.com" />
    <add key="MailFrom" value="webserver.BikeWale.com" />
    <add key="ApplicationName" value="BikeWale.com" />
    <add key="sendError" value="On" />
    <add key="cwApiHostUrl" value="http://webserver" />
    <add key="ABApiHostUrl" value="http://webserver:8084" />
    <add key="bwHostUrl" value="http://localhost:9011" />
    <add key="bwHostUrlForJs" value="http://localhost:9011" />
    <!--<add key="abApiHostUrl" value="http://localhost:58300/" />
    <add key="ApiHostUrl" value="http://172.16.1.56:8084" />-->
    <add key="applicationId" value="2" />
    <add key="feedbackEmailTo" value="ashish.kamble@carwale.com" />
    <add key="OfferClaimAlertEmail" value="saurabh@bikewale.com,rohit@bikewale.com" />
    <add key="CancellationFeedbackEmail" value="piyush@bikewale.com,saurabh@bikewale.com,aniket.bhalerao@bikewale.com" />
    <add key="ImageQueueName" value="BWIMAGEIPC" />
    <add key="ElasticHostUrl" value="172.16.0.11:9200" />
    <add key="MMindexName" value="11bwsrckeywords" />
    <add key="PQindexName" value="11bwsrckeywordspq" />
    <add key="cityIndexName" value="11bwsrckeywordscity" />
    <add key="AutoSuggestType" value="mm" />
    <add key="PageSize" value="9" />
    <add key="staticFileVersion" value="16Mar2016" />
    <add key="PrioritySmsQueue" value="SMSPRIORITY" />
    <add key="MobileAlertQueuename" value="BW_MobileAppAlerts" />
    <add key="APIKey" value="AIzaSyC7VlSIvPtNGMVw2bLR5NIKy5GO0wU1xdI" />
    <add key="GoogleMapApiKey" value="AIzaSyC9JjTQyUpYSQMKBsYi5fQQwv_qRuP-k-s" />
    <add key="ApiMaxWaitTime" value="5000" />
	  <add key="GrpcChannelWaitTime" value="5000" />
    <add key="GrpcArticleServerList" value="172.16.0.11:50053" />
    <add key="GrpcArticleServerWaitLimitMilliSecond" value="100" />
    <add key="GrpcArticleServerHealthCheckTimeLimitSeconds" value="10" />
    <add key="UseGrpc" value="True" /> 
  </appSettings>
  <memcached>
    <servers>
      <add address="172.16.0.11" port="11211" />
      <!-- Add more server instances here-->
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="400" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
  </memcached>
  <system.webServer>
    <handlers>
      <add name="AjaxPro.2" path="ajaxpro/*.ashx" verb="*" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ajax" path="ajax/*.ashx" verb="*" type="Ajax.PageHandlerFactory, Ajax" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/pagenotfound.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="bikewale domain redirect" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="(on)?" ignoreCase="false" />
            <add input="{HTTP_HOST}" pattern="^bikewale.com$" />
            <add input="{URL}" pattern="(.+)" ignoreCase="false" />
          </conditions>
          <action type="Redirect" url="http://www.bikewale.com{R:1}" redirectType="Permanent" />
        </rule>
              
              <!--          Mobile section starts          -->
        <rule name="Add trailing slash" stopProcessing="true">
          <match url="(.*[^/])$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.(css|js|ashx|xml|cshtml|aspx|html|ascx|txt|config|jpg|png|jpeg|gif|woff|tff|svg|eof)$" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}/" />
        </rule>
        <rule name="Imported Rule 1-1" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews/([\d]+).html" />
          <action type="Rewrite" url="/m/content/userreviews/reviewdetails.aspx?rid={R:3}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 2-1" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews-p([\d]+)/$" />
          <action type="Rewrite" url="/m/content/userreviews/listreviews.aspx?bikem={R:2}&amp;pn={R:3}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 3-1" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews/$" />
          <action type="Rewrite" url="/m/content/userreviews/listreviews.aspx?bikem={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 4-1" stopProcessing="true">
          <match url="^m/user-reviews/$" />
          <action type="Rewrite" url="/m/content/userreviews/default.aspx" />
        </rule>
        <rule name="Imported Rule 5-1" stopProcessing="true">
          <match url="^m/news/([\d]+)-(.*).html" />
          <action type="Rewrite" url="/m/news/newsdetails.aspx?id={R:1}&amp;t={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 6-1" stopProcessing="true">
          <match url="^m/news/page/([\d]+)/$" />
          <action type="Rewrite" url="/m/news/default.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 7-1" stopProcessing="true">
          <match url="^m/upcoming-bikes/page/([\d]+)/$" />
          <action type="Rewrite" url="/m/new/upcomingbikes/default.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 8-1" stopProcessing="true">
          <match url="^m/upcoming-bikes/$" />
          <action type="Rewrite" url="/m/new/upcomingbikes/default.aspx" />
        </rule>
        <rule name="Imported Rule 9-1" stopProcessing="true">
          <match url="^m/features/([a-zA-Z0-9\-]+)-([\d]+)/p([\d]+)/$" />
          <action type="Redirect" url="/m/features/{R:1}-{R:2}/" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 10-1" stopProcessing="true">
          <match url="^m/features/([a-zA-Z0-9\-]+)-([\d]+)/$" />
          <action type="Rewrite" url="/m/content/features/viewf.aspx?id={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 11-1" stopProcessing="true">
          <match url="^m/features/page/([\d]+)/$" />
          <action type="Rewrite" url="/m/content/features/default.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 12-1" stopProcessing="true">
          <match url="^m/features/$" />
          <action type="Rewrite" url="/m/content/features/default.aspx" />
        </rule>
        <rule name="Imported Rule 13-1" stopProcessing="true">
          <match url="^m/road-tests/([a-zA-Z0-9\-]+)-([\d]+)/p([\d]+)/$" />
          <action type="Redirect" url="/m/road-tests/{R:1}-{R:2}.html" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 14-1" stopProcessing="true">
          <match url="m/road-tests/(.*)-([\d]+).html" />
          <action type="Rewrite" url="/m/content/roadtest/viewrt.aspx?id={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 15-1" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/road-tests/page/([\d]+)/$" />
          <action type="Rewrite" url="/m/content/roadtest/default.aspx?make={R:1}&amp;model={R:2}&amp;pn={R:3}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 16-1" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/road-tests/$" />
          <action type="Rewrite" url="/m/content/roadtest/default.aspx?make={R:1}&amp;model={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 17-1" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/road-tests/page/([\d]+)/$" />
          <action type="Rewrite" url="/m/content/roadtest/default.aspx?make={R:1}&amp;pn={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 18-1" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/road-tests/$" />
          <action type="Rewrite" url="/m/content/roadtest/default.aspx?make={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 19-1" stopProcessing="true">
          <match url="^m/road-tests/page/([\d]+)/$" />
          <action type="Rewrite" url="/m/content/roadtest/default.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 20-1" stopProcessing="true">
          <match url="^m/road-tests/$" />
          <action type="Rewrite" url="/m/content/roadtest/default.aspx" />
        </rule>
        <rule name="Imported Rule 21-1" stopProcessing="true">
          <match url="^m/terms/([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/m/offerterms.aspx?id={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 22-1" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)-specs-([\d]+).html" />
          <action type="Redirect" url="/m/{R:1}-bikes/{R:2}/" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 23-1" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)-series/$" />
          <action type="Redirect" url="/m/{R:1}-bikes/" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 23.2" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/videos/$" />
          <action type="Rewrite" url="/m/Videos/videoMakeModel.aspx?make={R:1}&amp;model={R:2}" />
        </rule>
        <rule name="Imported Rule 23.3" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/videos/$" />
          <action type="Rewrite" url="/m/Videos/videoMakeModel.aspx?make={R:1}" />
        </rule>
        <rule name="Imported Rule 24-1" stopProcessing="true">          
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/m/new/BikeModels.aspx?model={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 25-1" stopProcessing="true">
          <match url="^m/([a-zA-Z0-9\-]+)-bikes/$" />
          <action type="Rewrite" url="/m/new/bikemakes.aspx?make={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 26-1" stopProcessing="true">
          <match url="^m/new-bikes-launches/page/([\d]+)/$" />
          <action type="Rewrite" url="/m/new/newbikelaunch/Default.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 27-1" stopProcessing="true">
          <match url="^m/new-bikes-launches/$" />
          <action type="Rewrite" url="/m/new/newbikelaunch/Default.aspx" />
        </rule>
        <rule name="Imported Rule 28-1" stopProcessing="true">
          <match url="^m/new/([a-zA-Z0-9\-]+)-dealers/([0-9]+)-([a-zA-Z0-9\-]+).html" />
          <action type="Rewrite" url="/m/new/NewBikeDealers/newbikedealerlist.aspx?make={R:1}&amp;city={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 29-1" stopProcessing="true">
          <match url="^m/new/locate-dealers/$" />
          <action type="Rewrite" url="/m/new/NewBikeDealers/default.aspx" />
        </rule>
        <rule name="Imported Rule 30-1" stopProcessing="true">
          <match url="^m/comparebikes/([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/m/new/compare/comparebikedetails.aspx?mo={R:2},{R:4}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 31-1" stopProcessing="true">
          <match url="^m/comparebikes/$" />
          <action type="Rewrite" url="/m/new/compare/comparebike.aspx" />
        </rule>
        <rule name="Imported Rule 32-1" stopProcessing="true">
          <match url="^m/bike-videos/category/([a-zA-Z\-]+)-([\-\d]+)/$" />
          <action type="Rewrite" url="/m/videos/videocategories.aspx?cid={R:2}&amp;title={R:1}" />
        </rule>
        <rule name="Imported Rule 35-1" stopProcessing="true">
          <match url="^m/bike-videos/([a-zA-Z0-9\-]+)-([\d]+)/$" />
          <action type="Rewrite" url="/m/videos/video.aspx?id={R:2}" />
        </rule>
        <rule name="Imported Rule 36-1" stopProcessing="true">
          <match url="^m/bike-videos/$" />
          <action type="Rewrite" url="/m/videos/default.aspx" />
        </rule>
        <!--                Mobile section ends                   -->
        <!--                Desktop section starts                -->
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews/([\d]+).html" />
          <action type="Rewrite" url="/content/userreviews/reviewdetails.aspx?rid={R:3}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews-p([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/content/userreviews/listreviews.aspx?bikem={R:2}&amp;pn={R:3}&amp;version={R:4}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 3" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews-p([\d]+)/$" />
          <action type="Rewrite" url="/content/userreviews/listreviews.aspx?bikem={R:2}&amp;pn={R:3}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 4" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/user-reviews/$" />
          <action type="Rewrite" url="/content/userreviews/listreviews.aspx?bikem={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 5" stopProcessing="true">
          <match url="^user-reviews/$" />
          <action type="Rewrite" url="/content/userreviews/defaultur.aspx" />
        </rule>
        <rule name="Imported Rule 6" stopProcessing="true">
          <match url="^new/locate-dealers/$" />
          <action type="Rewrite" url="/new/locatenewbikedealers.aspx" />
        </rule>
        <rule name="Imported Rule 7" stopProcessing="true">
          <match url="^new/([a-zA-Z0-9\-]+)-dealers/([0-9]+)-([a-zA-Z0-9\-]+).html" />
          <action type="Rewrite" url="/new/browsenewbikedealerdetails.aspx?make={R:1}&amp;cityId={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 8" stopProcessing="true">
          <match url="^new/(.*)-dealers/$" />
          <action type="Rewrite" url="/new/listnewbikedealersbycity.aspx?make={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 9" stopProcessing="true">
          <match url="^upcoming-bikes/sort/([\d]+)/page/([\d]+)/$" />
          <action type="Rewrite" url="/new/upcomingbikes//upcomingbikeslist.aspx?sort={R:1}&amp;pn={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 10" stopProcessing="true">
          <match url="^upcoming-bikes/page/([\d]+)/$" />
          <action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 11" stopProcessing="true">
          <match url="^upcoming-bikes/sort/([\d]+)/$" />
          <action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?sort={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 12" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/upcoming/sort/([\d]+)/page/([\d]+)/$" />
          <action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?make={R:1}&amp;sort={R:2}&amp;pn={R:3}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 13" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/upcoming/page/([\d]+)/$" />
          <action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?make={R:1}&amp;pn={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 14" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/upcoming/sort/([\d]+)/$" />
          <action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?make={R:1}&amp;sort={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 15" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/upcoming/$" />
          <action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx?make={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 16" stopProcessing="true">
          <match url="^upcoming-bikes/feed/$" />
          <action type="Rewrite" url="/new/upcomingbikes/upcomingbikesfeed.aspx" />
        </rule>
        <rule name="Imported Rule 17" stopProcessing="true">
          <match url="^upcoming-bikes/$" />
          <action type="Rewrite" url="/new/upcomingbikes/upcomingbikeslist.aspx" />
        </rule>
        <rule name="Imported Rule 18" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/photos/([a-zA-Z0-9\-]+)-([\d]+).html" />
          <action type="Rewrite" url="/new/photos/default.aspx?model={R:2}&amp;imgid={R:4}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 19" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/photos/$" />
          <action type="Rewrite" url="/new/photos/default.aspx?model={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 20" stopProcessing="true">
          <match url="^new/compare/compareSpecs.aspx" />
          <action type="Redirect" url="/new/compare/comparebikes.aspx" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 21" stopProcessing="true">
          <match url="^new/compare/compareFeatures.aspx" />
          <action type="Redirect" url="/new/compare/comparebikes.aspx" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 22" stopProcessing="true">
          <match url="^new/compare/compareColors.aspx" />
          <action type="Redirect" url="/new/compare/comparebikes.aspx" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 23" stopProcessing="true">
          <match url="^new/compare/$" />
          <action type="Redirect" url="/comparebikes/" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 24" stopProcessing="true">
          <match url="^comparebikes/([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/new/compare/comparebikes.aspx?mo={R:2},{R:4},{R:6},{R:8}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 25" stopProcessing="true">
          <match url="^comparebikes/([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/new/compare/comparebikes.aspx?mo={R:2},{R:4},{R:6}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 26" stopProcessing="true">
          <match url="^comparebikes/([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)-vs-([a-zA-Z0-9]*)-([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/new/compare/comparebikes.aspx?mo={R:2},{R:4}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 27" stopProcessing="true">
          <match url="^comparebikes/$" />
          <action type="Rewrite" url="new/compare/default.aspx" />
        </rule>
        <rule name="Imported Rule 28" stopProcessing="true">
          <match url="^new-bikes-launches/page/([\d]+)/$" />
          <action type="Rewrite" url="/new/newbikelaunch/Default.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 29" stopProcessing="true">
          <match url="^new-bikes-launches/$" />
          <action type="Rewrite" url="/new/newbikelaunch/Default.aspx" />
        </rule>
        <rule name="Imported Rule 30" stopProcessing="true">
          <match url="^road-tests/([a-zA-Z0-9\-]+)-([\d]+)/p([\d]+)/$" />
          <action type="Redirect" url="/road-tests/{R:1}-{R:2}.html" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 31" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/road-tests/page/([\d]+)/$" />
          <action type="Rewrite" url="/content/roadtest/defaultrt.aspx?make={R:1}&amp;model={R:2}&amp;pn={R:3}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 32" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/road-tests/$" />
          <action type="Rewrite" url="/content/roadtest/defaultrt.aspx?make={R:1}&amp;model={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 33" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/road-tests/page/([\d]+)/$" />
          <action type="Rewrite" url="/content/roadtest/defaultrt.aspx?make={R:1}&amp;pn={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 34" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/road-tests/$" />
          <action type="Rewrite" url="/content/roadtest/defaultrt.aspx?make={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 35" stopProcessing="true">
          <match url="^road-tests/page/([\d]+)/$" />
          <action type="Rewrite" url="/content/roadtest/defaultrt.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 36" stopProcessing="true">
          <match url="^road-tests/([a-zA-Z0-9\-]+)-([\d]+).html" />
          <action type="Rewrite" url="/content/roadtest/viewrt.aspx?id={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 37" stopProcessing="true">
          <match url="^road-tests/$" />
          <action type="Rewrite" url="/content/roadtest/defaultrt.aspx" />
        </rule>
        <rule name="Imported Rule 38" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)-specs-([\d]+).html" />
          <action type="Redirect" url="/{R:1}-bikes/{R:2}/" redirectType="Permanent" />
        </rule>
        <!-- Videos rules need to be placed above version page rule -->
        <rule name="Imported Rule 39" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)-series/$" />
          <action type="Redirect" url="/{R:1}-bikes/" appendQueryString="false" redirectType="Permanent" />
        </rule>
         <rule name="Imported Rule 39.2" stopProcessing="true">
           <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/videos/$" />
            <action type="Rewrite" url="/Videos/videoMakeModel.aspx?make={R:1}&amp;model={R:2}" />
          </rule>
        <rule name="Imported Rule 39.3" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/videos/$" />
          <action type="Rewrite" url="/Videos/videoMakeModel.aspx?make={R:1}" />
        </rule>
        <rule name="Imported Rule 40" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/new/versions.aspx?model={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 41" stopProcessing="true">
          <match url="^([a-zA-Z0-9\-]+)-bikes/$" />
          <action type="Rewrite" url="/new/models.aspx?make={R:1}" appendQueryString="false" logRewrittenUrl="false" />
        </rule>
        <rule name="Imported Rule 42" stopProcessing="true">
          <match url="^terms/([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/offerterms.aspx?id={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 43" stopProcessing="true">
          <match url="^news/page/([\d]+)/feed/$" />
          <action type="Rewrite" url="/news/newsfeed.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 44" stopProcessing="true">
          <match url="^news/feed/$" />
          <action type="Rewrite" url="/news/newsfeed.aspx" />
        </rule>
        <rule name="Imported Rule 45" stopProcessing="true">
          <match url="^news/sitemap/$" />
          <action type="Rewrite" url="/news/sitemap.aspx" />
        </rule>
        <rule name="Imported Rule 46" stopProcessing="true">
          <match url="^news/([\d]+)-([a-zA-Z0-9\-]+).html" />
          <action type="Rewrite" url="/news/news.aspx?id={R:1}&amp;t={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 47" stopProcessing="true">
          <match url="^news/([\d]+)-([a-zA-Z0-9\-]+)/page/([\d]+)/$" />
          <action type="Rewrite" url="/news/news.aspx?id={R:1}&amp;t={R:2}&amp;pn={R:3}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 48" stopProcessing="true">
          <match url="^news/page/([\d]+)/$" />
          <action type="Rewrite" url="/news/default.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 49" stopProcessing="true">
          <match url="^comparos/([a-zA-Z0-9\-]+)-([\d]+).html" />
          <action type="Rewrite" url="/content/comparisontest/viewct.aspx?id={R:2}&amp;t={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 50" stopProcessing="true">
          <match url="^comparos/([a-zA-Z0-9\-]+)-([\d]+)/page/([\d]+).html" />
          <action type="Rewrite" url="/comparos/comparisontest/viewct.aspx?id={R:1}&amp;t={R:2}&amp;pn={R:3}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 51" stopProcessing="true">
          <match url="tipsadvices/([a-zA-Z0-9\-]+)-([\d]+)/p([\d])/$" />
          <action type="Rewrite" url="/content/tipsadvices/viewta.aspx?id={R:2}&amp;pageId={R:3}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 52" stopProcessing="true">
          <match url="tipsadvices/([a-zA-Z0-9\-]+)-([\d]+)/$" />
          <action type="Rewrite" url="/content/tipsadvices/viewta.aspx?id={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 53" stopProcessing="true">
          <match url="^tipsadvices/$" />
          <action type="Rewrite" url="/content/tipsadvices/defaultta.aspx" />
        </rule>
        <rule name="Imported Rule 54" stopProcessing="true">
          <match url="^tipsadvices/page/([\d]+)/$" />
          <action type="Rewrite" url="/content/roadtest/defaultta.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 55" stopProcessing="true">
          <match url="^forums/ViewForum-([a-zA-Z0-9\-]+)-p([\d]+)\.html" />
          <action type="Rewrite" url="/forums/threads.aspx?forum={R:1}&amp;page={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 56" stopProcessing="true">
          <match url="^forums/ViewForum-([a-zA-Z0-9\-]+)\.html" />
          <action type="Rewrite" url="/forums/threads.aspx?forum={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 57" stopProcessing="true">
          <match url="^forums/Viewthread-([a-zA-Z0-9\-]+)\.html" />
          <action type="Rewrite" url="/forums/ViewThreads.aspx?thread={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 58" stopProcessing="true">
          <match url="^forums/Viewthread-([a-zA-Z0-9\-]+)-p([a-zA-Z0-9\-]+)\.html" />
          <action type="Rewrite" url="/forums/ViewThreads.aspx?thread={R:1}&amp;page={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 59" stopProcessing="true">
          <match url="^features/([a-zA-Z0-9\-]+)-([\d]+)/p([\d]+)/$" />
          <action type="Redirect" url="/features/{R:1}-{R:2}/" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 60" stopProcessing="true">
          <match url="^features/([a-zA-Z0-9\-]+)-([\d]+)/$" />
          <action type="Rewrite" url="/content/features/viewf.aspx?id={R:2}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 61" stopProcessing="true">
          <match url="^features/page/([\d]+)/$" />
          <action type="Rewrite" url="/content/features/defaultf.aspx?pn={R:1}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 62" stopProcessing="true">
          <match url="^features/$" />
          <action type="Rewrite" url="/content/features/defaultf.aspx" />
        </rule>
        <rule name="Imported Rule 63" stopProcessing="true">
          <match url="^used-bikes-in-cochin/$" />
          <action type="Redirect" url="used-bikes-in-kochi/" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 64" stopProcessing="true">
          <match url="^used-bikes-in-([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)/$" />
          <action type="Redirect" url="/used/bikes-in-{R:1}/{R:2}-{R:3}-{R:4}/" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 65" stopProcessing="true">
          <match url="^used/bikes-in-([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/used/bikedetails.aspx?bike={R:4}" appendQueryString="false" />
        </rule>
        <rule name="Imported Rule 66" stopProcessing="true">
          <match url="^used/([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)-bikes-in-([a-zA-Z0-9\-]+)/page-([\d]+)/$" />
          <action type="Rewrite" url="/used/search.aspx?make={R:1}&amp;model={R:2}&amp;city={R:3}&amp;pn={R:4}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 67" stopProcessing="true">
          <match url="^used/([a-zA-Z0-9\-]+)-([a-zA-Z0-9\-]+)-bikes-in-([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/used/search.aspx?make={R:1}&amp;model={R:2}&amp;city={R:3}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 68" stopProcessing="true">
          <match url="^used/([a-zA-Z0-9\-]+)-bikes-in-india/page-([\d]+)/$" />
          <action type="Rewrite" url="/used/search.aspx?make={R:1}&amp;pn={R:2}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 69" stopProcessing="true">
          <match url="^used/([a-zA-Z0-9\-]+)-bikes-in-india/$" />
          <action type="Rewrite" url="/used/search.aspx?make={R:1}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 70" stopProcessing="true">
          <match url="^used/([a-zA-Z0-9\-]+)-bikes-in-([a-zA-Z0-9\-]+)/page-([\d]+)/$" />
          <action type="Rewrite" url="/used/search.aspx?make={R:1}&amp;city={R:2}&amp;pn={R:3}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 71" stopProcessing="true">
          <match url="^used/([a-zA-Z0-9\-]+)-bikes-in-([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/used/search.aspx?make={R:1}&amp;city={R:2}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 72" stopProcessing="true">
          <match url="^used/bikes-in-india/page-([\d]+)/$" />
          <action type="Rewrite" url="/used/search.aspx?pn={R:1}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 73" stopProcessing="true">
          <match url="^used/bikes-in-india/$" />
          <action type="Rewrite" url="/used/search.aspx" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 74" stopProcessing="true">
          <match url="^used-bikes-in-([a-zA-Z0-9\-]+)/page-([\d]+)/$" />
          <action type="Redirect" url="/used/bikes-in-{R:1}/page-{R:2}/" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 75" stopProcessing="true">
          <match url="^used/bikes-in-([a-zA-Z0-9\-]+)/page-([\d]+)/$" />
          <action type="Rewrite" url="/used/search.aspx?city={R:1}&amp;pn={R:2}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 76" stopProcessing="true">
          <match url="^used-bikes-in-([a-zA-Z0-9\-]+)/$" />
          <action type="Redirect" url="/used/bikes-in-{R:1}/" redirectType="Permanent" />
        </rule>
        <rule name="Imported Rule 77" stopProcessing="true">
          <match url="^used/bikes-in-([a-zA-Z0-9\-]+)/$" />
          <action type="Rewrite" url="/used/search.aspx?city={R:1}" appendQueryString="true" />
        </rule>
        <rule name="Imported Rule 78" stopProcessing="true">
          <match url="^mybikewale/myprofile/$" />
          <action type="Rewrite" url="/users/mycontactdetails.aspx" />
        </rule>
        <rule name="Imported Rule 79" stopProcessing="true">
          <match url="^mybikewale/editcontactdetails/$" />
          <action type="Rewrite" url="/users/EditCustomerDetails.aspx" />
        </rule>
        <rule name="Imported Rule 80" stopProcessing="true">
          <match url="^mybikewale/changepassword/$" />
          <action type="Rewrite" url="/users/changepassword.aspx" />
        </rule>
        <rule name="Imported Rule 81" stopProcessing="true">
          <match url="^mybikewale/myinquiries/$" />
          <action type="Rewrite" url="/mybikewale/mylisting.aspx" />
        </rule>
        <rule name="Imported Rule 82" stopProcessing="true">
          <match url="^bike-videos/category/([a-zA-Z\-]+)-([\-\d]+)/$" />
          <action type="Rewrite" url="/videos/videocategories.aspx?cid={R:2}&amp;title={R:1}" />
        </rule>
        <rule name="Imported Rule 85" stopProcessing="true">
          <match url="^bike-videos/([a-zA-Z0-9\-]+)-([\d]+)/$" />
          <action type="Rewrite" url="/videos/video.aspx?id={R:2}" />
        </rule>
        <rule name="Imported Rule 86" stopProcessing="true">
          <match url="^bike-videos/$" />
          <action type="Rewrite" url="/videos/default.aspx" />
        </rule>
        <rule name="Imported Rule 87" stopProcessing="true">
          <match url="^bike-loan-emi-calculator/$" />
          <action type="Rewrite" url="/finance/emicalculator.aspx" />
        </rule>
        <!--          Desktop section ends          -->
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <codeBase version="1.2.10.0" href="bin/DuplicateAssembly/log4net.dll" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="1.2.11.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dealerInsurance>
    <add key="10240" value="*" />
    <add key="12867" value="*" />
    <add key="12865" value="*" />
    <add key="12866" value="*" />
    <add key="10211" value="*" />
    <add key="13151" value="*" />
    <add key="12528" value="*" />
    <add key="12529" value="*" />
    <add key="12530" value="*" />
    <add key="12531" value="*" />
    <add key="12532" value="*" />
    <add key="12533" value="*" />
    <add key="12534" value="*" />
    <add key="10292" value="*" />
    <add key="10293" value="*" />
    <add key="10308" value="*" />
    <add key="10255" value="*" />
    <add key="10273" value="*" />
    <add key="10275" value="*" />
    <add key="10333" value="*" />
    <add key="10530" value="*" />
    <add key="10549" value="*" />
    <add key="10551" value="*" />
    <add key="10254" value="*" />
    <add key="14405" value="*" />
  </dealerInsurance>
  <offerCategory>
    <add key="insurance" value="Insurance" />
    <add key="accessories" value="Accessories" />
    <add key="rto" value="RTO" />
    <add key="cash discount" value="Cash Discount" />
  </offerCategory>
  <dealerNumber>
    <add key="20659" value="*" />
    <add key="20658" value="*" />
  </dealerNumber>
  <log4net>
    <appender name="GelfUdpAppender" type="Gelf4net.Appender.GelfUdpAppender, Gelf4net">
      <remoteAddress value="172.16.10.173" />
      <remotePort value="22003" />
      <layout type="Gelf4net.Layout.GelfLayout, Gelf4net">
        <param name="AdditionalFields" value="app:BikeWale,version:1.0,Environment:webserver,Level:%level" />
        <param name="Facility" value="BikeWale Errors" />
        <param name="IncludeLocationInformation" value="true" />
        <!-- Sets the full_message and short_message to the specified pattern-->
        <param name="ConversionPattern" value="[%t] %c{1} - %m" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="GelfUdpAppender" />
    </root>
  </log4net>
</configuration>

