<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>


  <appSettings>
    <add key="ReadOnlyConnectionString" value="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MasterConnectionString" value="SERVER=172.16.0.26;UID=cwadmin;PASSWORD=cwadmin;DATABASE=bikewaledev;Allow User Variables=true;Min Pool Size=10;Max Pool Size=300" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="connectionstring" value="server=cwdb\cwdev;uid=cwuser;pwd=cw@007;database=carwale" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OfferUniqueTransaction" value="BWL" />
    <add key="BillDeskWorkingKey" value="sYPmiUQUoYdZ" />
    <!--<add key="BillDeskWorkingKey" value="OFOqEwI4jUF9" />-->
    <add key="imgHostURL" value="webserver:9011" />
    <add key="RabbitImgHostURL" value="webserver:9011" />
    <add key="imgPathFolder" value="E:\sites\carwaleimg\staging\" />
    <add key="sourceId" value="1" />
    <add key="mobileSourceId" value="2" />
    <!-- Source id is 1 for bikewale change the id for other sources -->
    <add key="DefaultCity" value="1" />
    <add key="defaultName" value="Mumbai" />
    <add key="isMSMQ" value="false" />
    <add key="SendSMS" value="1" />
    <add key="AppPath" value="/" />
    <!-- Will store Application Path. -->
    <!-- Keys for memcache -->
    <add key="IsMemcachedUsed" value="false" />
    <add key="MemcacheTimespan" value="30" />
    <add key="staticUrl" value="" />
    <!-- https://stb.aeplcdn.com/staging/bikewale/ -->
    <!-- Auto Expo Keys -->
    <add key="AutoExpo" value="Carwale.CMS.AutoExpo" />
    <add key="SMTPSERVER" value="172.16.10.250" />
    <!-- SMTP Server -->
    <add key="errorMailTo" value="bikewalebugs2016@gmail.com" />
    <add key="localMail" value="contact@bikewale.com" />
    <add key="ReplyTo" value="contact@bikewale.com" />
    <add key="MailFrom" value="webserver.BikeWale.com" />
    <add key="ApplicationName" value="BikeWale.com" />
    <add key="sendError" value="On" />
    <add key="cwApiHostUrl" value="http://www.carwale.com" />
    <add key="ABApiHostUrl" value="http://webserver:8084" />
    <add key="bwHostUrl" value="http://webserver:9011" />
    <add key="bwHostUrlForJs" value="http://webserver:9011" />
    <add key="applicationId" value="2" />
    <add key="feedbackEmailTo" value="ashish.kamble@carwale.com" />
    <add key="OfferClaimAlertEmail" value="saurabh@bikewale.com,rohit@bikewale.com" />
    <add key="CancellationFeedbackEmail" value="piyush@bikewale.com,saurabh@bikewale.com,aniket.bhalerao@bikewale.com" />
    <add key="ImageQueueName" value="BWIMAGEIPC" />
    <add key="ElasticHostUrl" value="172.16.0.11:9200" />
    <add key="MMindexName" value="11bwsrckeywords" />
    <add key="PQindexName" value="11bwsrckeywordspq" />
    <add key="cityIndexName" value="11bwcityindex" />
    <add key="AutoSuggestType" value="mm" />
    <add key="PageSize" value="9" />

    <add key="staticFileVersion" value="20Feb2017" />
    <add key="staticFrameworkFileVersion" value="15july2016" />
    <add key="staticPluginFileVersion" value="15july2016" />
    <add key="staticCommonFileVersion" value="15july2016" />
    <add key="PrioritySmsQueue" value="BWSMSPRIORITY" />
    <add key="SmsQueue" value="BWSMS" />
    <add key="BWDataSynchQueue" value="BWDATASYNC" />
    <add key="MobileAlertQueuename" value="BW_MobileAppAlerts" />
    <add key="APIKey" value="AIzaSyC7VlSIvPtNGMVw2bLR5NIKy5GO0wU1xdI" />
    <add key="GoogleMapApiKey" value="AIzaSyC9JjTQyUpYSQMKBsYi5fQQwv_qRuP-k-s" />
    <add key="ApiMaxWaitTime" value="5000" />
    <add key="GrpcChannelWaitTime" value="10000" />
    <add key="GrpcArticleServerList" value="172.16.0.11:55555" />
    <add key="UseGrpc" value="true" />
    <add key="EnableLiveCallLogs" value="true" />
    <add key="CwWebServiceHostUrl" value="http://webserver:8086" />
    <add key="LogGrpcErrors" value="true" />
    <add key="WebsiteDomain" value="webserver" />
    <add key="SendHondaMfgLeadToAPI" value="true" />
    <add key="GrpcRetryCount" value="2" />
    <add key="GrpcMaxTimeLimit" value="100" />
    <add key="AWSAccessKey" value="AKIAIXWHZPIVBBDGRENQ" />
    <add key="AWSBucketName" value="m-aeplimages" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSEnvironment" value="dev/" />
    <add key="AWSImageQueueName" value="BW_S3ImageIPC" />
    <add key="SecurityHashLength" value="7" />
    <add key="apiKey" value="1AECC24B-10FD-485F-9083-752481FB21F2" />
    <add key="SponsoredModelIds" value="687,643,644,645,198,199,411,685" />
    <add key="FCMSendURL" value="https://fcm.googleapis.com/fcm/send" />
    <add key="FCMApiKey" value="AAAA7SEx-xY:APA91bGPOVpQpj4vAJgqHCFUGcsOX7cF_ugKs2FvidgvwQzDXKkjh72vHh8rhglpa5cDf4jgeHLXEXomDPfsdV6t6OQKstunymaAIK3hTQIfNCCK90U98csbiQeCVMSRkWHJe0WvCleCuwchxPRUAArdBABsnAkRoQ" />
    <add key="FCMAndroidGlobalTopic" value="testbwandroidnotification" />
    <add key="FCMIIDBatchImportEndPoint" value="https://iid.googleapis.com/iid/v1:batchImport" />
    <add key="FCMIIDBatchAddEndPoint" value="https://iid.googleapis.com/iid/v1:batchAdd" />
    <add key="FCMIIDBatchRemoveEndPoint" value="https://iid.googleapis.com/iid/v1:batchRemove" />
    <add key="FCMEnvironment" value="dev" />
    <add key="IsAppTrackDayVisible" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="LeadConsumerQueue" value="BWNewBikeLeadProcessingQueue" />
    <add key="AWSS3Region" value="ap-south-1" />
    <add key="PinCodesIndexName" value="bwpincodessuggestions" />
    <add key="AWSS3Region" value="ap-south-1" />
    <add key="DebugMobileSite" value="true" />
    <add key="NewRelic.AppName" value="PWA Bikewale" />

    <add key="PwaLocalCahceLimit" value="100" />
    <add key="EnablePWALogging" value="false" />
    <add key="DisablePWA" value="false" />
    <add key="staticAppFileVersion" value="26May2017v1" />
    <add key="staticVendorFileVersion" value="26May2017v1" />
    <add key="ServiceWorkerPath" value="/m/news/sw.js?26May2017v1" />
    <add key="StaticUrlPWA" value="26May2017v1" />
    <!-- https://stb.aeplcdn.com/staging/bikewale/pwa/build-->
    <add key="StaticCSSBTFPWAVersion" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="CoverFox" value=""/>
    <!-- API Gateway keys-->
    <add key="UseAPIGateway" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GrpcAPIGatewayServerList" value="10.10.3.60:60000" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DefaultTimeout" value="500000" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>