/*-------------------------------------Common classes-----------------------------------------------*/
.margin-left5 { margin-left: 5px; }
.margin-right5 { margin-right: 5px; }
.margin-top20 { margin-top: 20px; }
.lightgray { color:#666; }
.blue-text, .blue-text a, .blue-text a:hover, a.blue-text, a.blue-text:hover { color:#3388cc!important; text-decoration:none; font-weight:normal; }
.font12 { font-size:12px; }
.rounded-corner5 { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; -ms-border-radius:2px; }
.bike-img img { width:100%; }
.full-border { border:1px solid #eaeaea; }
.break-line { border-top:1px solid #82888b; }
.break-line-light { border-top:1px solid #d7d7d7; }
.text-center { text-align: center; }
.box-min-height { min-height:250px; }

/*-------------------------------------main page classes-----------------------------------------------*/
input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, button:focus { outline:none; }
.dealer-pq-info li, .dealer-facilities li, #doc-registration ul li, .nex-steps-list li, .bottom-info-list li, .doc-list li { background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/list-bullet.jpg?v=150915) no-repeat 0 6px; padding-left:10px; margin:0px 0px 8px 3px; line-height:1; }
#doc-registration ol li { margin-top:10px; }
#doc-registration ol { list-style-type:decimal; margin-left:15px; }
#doc-registration ul li { margin-top:5px; }
/*button, input[type="button"], input[type="submit"], input[type="reset"] { background:#c62000; border:none; font-weight:normal; color:#fff; width:100%; padding:10px 0px; margin-top:10px; }*/
.input-div { background:#fff; margin-top:10px; border:1px solid #eaeaea; text-align:center; }
.input-icon-div { float:left; border-right:1px solid #eaeaea; padding:10px; width:40px; }
.input-div input[type="text"], .input-div input[type="tel"], .input-div input[type="email"] { border:none; margin:7px 0px 0px 5px; color:#333; background:none; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; -o-box-shadow:none; -ms-box-shadow:none; }
.edit-done-mob input[type="tel"] { padding:5px; border:1px solid #eaeaea; color:#333; }
.verify-btn, .verify-code { width:40%; }
.verify-btn button, .verify-btn input[type="button"], .verify-btn input[type="submit"], .verify-btn input[type="reset"] { margin:0px 0px 0px 10px; }
.selection-box input[type="text"], .selection-box input[type="tel"], .selection-box input[type="email"] { border:none; width:100%; color:#333; }
#frmdatepicker { background: transparent; position: relative; z-index: 999; }
.selection-box { background:#fff; padding:10px; border:1px solid #eaeaea; position:relative; }
.selected-input-text { width:90%; }
.expanded-info-div { padding:10px; background:#fff; position:relative; margin-top:-3px; border:1px solid #eaeaea; border-radius:0px 0px 5px 5px; -moz-border-radius:0px 0px 5px 5px; -webkit-border-radius:0px 0px 5px 5px; -o-border-radius:0px 0px 5px 5px; -ms-border-radius:0px 0px 5px 5px; }
.offer-list li { border-bottom:1px solid #eaeaea; padding:10px 0px; }
.offer-info { width:70%; margin-left:30px; }
.dealer-info, .dealer-contact-info { width:90%; margin-left:10px; color:#666; }
.bike-dealer-data .mobile-icon { margin-top:5px; }
.bottom-btns { background:#f3f3f3; position:fixed; bottom:0; margin:0px -5px 0px -5px; width:100%; text-align:center; }
.bottom-btns button { width:96%; }
.bottom-gray-btns { background:#343434; padding:5px; margin-top:20px; }
.bottom-gray-btns div:nth-child(1), .bottom-gray-btns div:nth-child(2) { width:49%; height:30px; text-align:center; }
.bottom-gray-btns div:first-child { border-right:1px solid #545454; }
.bottom-gray-btns a, .bottom-gray-btns a:hover { display:block; color:#fff!important; text-decoration:none; font-weight:bold; }
.book-appointment { padding:10px; overflow-y:scroll; }
.book-app-details li { width:50%; float:left; }
.book-app-select .ui-icon-carat-d:after { background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bw-sprite.png?v=150915) no-repeat -15px -107px; width:20px; height:15px; display:block; margin:-8px -5px 0px 0px; }
.book-app-select div.ui-btn, .book-app-select div.ui-btn:hover { padding:10px 5px; background:#fff; border:1px solid #eaeaea; box-shadow:none; font-weight:normal; font-size:14px; text-align:left; }
.book-app-select div.ui-btn:focus, .book-app-select div.ui-btn:active, .book-app-select div.ui-btn.ui-btn-active { color:#333; font-size:14px; font-weight:normal; text-shadow:none; }
.bottom-info { padding-bottom:120px; }
#payment-header .bw-logo-placer { margin: 0; padding:10px 0px 5px 0px; }

/*------------------------------------------------Color popup----------------------------------------*/
.color-palette li { float: left; width:75px; height:110px; text-align:center; overflow: hidden; margin-bottom: 10px;}
.color-outer-div { border: 1px solid #ebebeb; border-radius: 5px; width: 40px; height: 40px; padding:5px; margin:auto; }
.color-inner-div { border: 1px solid #ebebeb; width: 38px; height: 38px; }

.lower-alpha-list ol { margin:10px 0px 0px 15px; }
.lower-alpha-list li { list-style-type: lower-alpha; margin:8px 0px; }

/*--------------------------------------Payment Pages-----------------------------------------------*/
.offer-div { background: #fff5e6; border: 2px dotted #f5a934; padding:10px; }
.offer-div li { list-style: disc; margin: 10px 0px 10px 14px; }
.steps-offer li { float: left; margin-bottom:20px; width:100%; }
.contact-details .selection-box { margin:10px 0px; }
.edit-btn { float: right; background: #f3f3f3; padding:3px 10px; margin-bottom:10px; }
.width75 { width: 75%; }
.light-opacity { opacity: 0.8; /* IE 5-7 */ filter: alpha(opacity=80); /* IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }
/*-------------------------------------sprite classes-----------------------------------------------*/
/*.bw-sprite { background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bw-sprite.png?v=150915) no-repeat; display:inline-block; }*/
.close-btn { background-position:0px -82px; width:20px; height:20px; margin-top:10px; }
.name-icon { background-position:0px -107px; width:10px; height:12px; margin:auto; }
.mobile-icon { background-position:0px -124px; width:10px; height:12px; margin:auto; }
.email-icon { background-position:0px -141px; width:19px; height:12px; margin:auto; }
.select-right-arrow { background-position:-25px -82px; width:15px; height:15px; position:relative; top:2px; }
.select-down-arrow { background-position:-15px -107px; width:20px; height:18px; position:relative; margin:-29px 5px 0 0; float:right; background-color:#fff; }
.collapse-icon { background-position:-16px -44px; width:17px; height:17px; position:relative; top:2px; }
.expand-icon { background-position:-36px -44px; width:17px; height:17px; position:relative; top:2px; }
.offer-icon { background-position:-38px -107px; width:30px; height:41px; margin-top:5px; }
.dealer-address { background-position:-45px -82px; width:10px; height:14px; margin-top:5px; }
.copy { background-position:0px -158px; width:20px; height:20px; position:relative; top:5px; right:5px; }
.dealer-share { background-position:-25px -158px; width:20px; height:20px; position:relative; top:5px; right:5px; }
.datepicker-icon { background-position:-50px -158px; width:23px; height:28px; position:absolute; top:4px; right:8px; }
.color-tick { background-position: -57px -45px; width: 20px; height: 16px; position:relative; top:-29px; }

/*------------------------------------------------Payment pages icons--------------------------------------------------------*/
.offer-reserved, .booking-amount, .bike-delivery { width: 37px; height: 33px; margin-right:10px; }
.offer-reserved { background-position: 0px -191px; }
.booking-amount { background-position: -37px -191px; }
.bike-delivery { background-position: -32px -229px; }
.edit-icon { background-position: -60px -82px; width: 10px; height: 10px; margin-right:5px; }

/* WebRupee font face */
@font-face{font-family: 'WebRupee';src: url('../fonts/WebRupee.V2.0.eot');src: local('WebRupee'), url('../fonts/WebRupee.V2.0.ttf') format('truetype'),  url('../fonts/WebRupee.V2.0.woff') format('woff'), url('../fonts/WebRupee.V2.0.svg') format('svg'); font-weight:normal; font-style:normal;}
.WebRupee { font-size:14px; font-family:'WebRupee'; color:#333; }
html>body .WebRupee {margin-right:3px; *margin-right:0;}

/*-------------------------Media Query---------------------------------*/
@media only screen and (max-device-width:240px)
{
	.book-app-details li { width:100%; float:none; }	
	.book-app-details li:nth-child(2) { margin-top:10px; }
	.book-app-details li:nth-child(2) div { margin-left:0px; }
}

/*-------------------------Media Query---------------------------------*/
@media only screen and (max-device-width:240px)
{
	.book-app-details li { width:100%; float:none; }	
	.book-app-details li:nth-child(2) { margin-top:10px; }
	.book-app-details li:nth-child(2) div { margin-left:0px; }
    .color-palette li { width: 105px; }
}

.bw-offer-box{ background:#fef5e6; border:2px dotted #f5b048; padding:10px; margin-bottom:20px;}
.bw-offer-box li{ background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/bw-grey-bullet.png?v=150915) no-repeat 0px 9px;display: block;list-style: square outside none;padding: 3px 0 3px 10px;}
.grey-bullet li{ background:none;list-style: disc inside none;padding: 5px 0; font-size:14px; color:#82888b}
.light-grey-bullets li{ background:url(https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/d/bw-light-grey-bullet.png?v=150915) no-repeat 0px 9px;display: block;list-style: square outside none;padding: 3px 0 3px 10px; }
.bottom-btns .ui-input-btn input[type="submit"] {background-color:#000;}
/*-------------- Helmet offer--------------------*/
.red-text { color:#c62000;}
.box1 { border:none; border-radius:0; padding:10px; margin-bottom:20px; -moz-box-shadow: 2px 2px 2px #dcdcdc; -webkit-box-shadow: 2px 2px 2px #dcdcdc; -o-box-shadow: 2px 2px 2px #dcdcdc; -ms-box-shadow: 2px 2px 2px #dcdcdc; box-shadow: 2px 2px 2px #dcdcdc; }
.box1 h2 {margin-top:5px; margin-bottom:10px;}
.box1 .inner-box li, .option-details li { margin-bottom:5px; list-style-type:disc; margin-left:10px;}
.option-details li { margin-left:20px;}
.plus-text { text-align:center; margin-bottom:20px; position:relative;}
.plus-text div { padding:0 10px; position:relative; display:inline-block; background:#f2f2f2; *background:none;}
.plus-text span{ font-size:24px; color:#c62000; display:inline-block; position:relative; width:30px; height:30px; border:1px solid #9b9b9b; border-radius:50%; position:relative;}
.plus-text span var { position:absolute; font-style:normal; top:-3px; left:0; right:0;}
.plus-text:before { content:""; border-top:1px solid #9b9b9b; position:absolute; top:16px; left:0; width:100%;}
.avail-offer-form { margin-bottom:10px;}
.options-content { border:1px solid #ccc; border-top:none; position:relative;}
.options-content:first-child { border-top:1px solid #ccc;}
.option-title { cursor:pointer; padding:10px 5px;}
.option-details { display:none; padding:5px;}
.offer-title { width: 235px; margin-left:8px;}
.bwm-offer-pic { width:100px; height:79px; overflow:hidden; margin:10px auto;}
.bwm-offer-pic img { width:100px;}
/* bw sprite new classes */

.unchecked-radio-icon { background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/radio-unchecked.png?v=150915) no-repeat center center; width:15px; height:15px;}
.checked-radio-icon { background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/radio-checked.png?v=150915) no-repeat center center; width:15px; height:15px;}
.carouselH {max-width: 285px; margin: 0 auto;}
.centerContent {text-align: left; margin-left: 60px;}
.mainH { padding-top: 5px;}
.m-carousel-hud .m-carousel-next, .m-carousel-hud .m-carousel-prev { background:url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bw-sprite.png?v=150915') no-repeat -67px -269px ; height: 20px; width: 12px; position:absolute; top: 168px;}
.m-carousel-hud .m-carousel-prev { background-position: -47px -269px;}
.carouselH li {background-position: 0 10px }
.bw-offer-box.bw-offer-box-white { background: #fff;}
.no-border {border:0 none !important;}

.pqTable td{padding:10px 0;}
.cancellation-popup{ }