
.model-photos-swiper.padding-bottom5 {
    padding-bottom: 5px;
}
.padding-15-20-20 {
    padding: 15px 20px 20px;
}

.card-bottom-margin {
    margin-bottom: 20px;
}

/* review contest slug */
.contest-slug-sm {
	font-size: 12px;
	padding: 8px 10px;
}

.slug-teal-target {
	display: block;
	color: #fff;
	background: #6cc7d1;
	position: relative;
}

.slug-teal-target:hover {
	text-decoration: none;
}

.contest-slug__label {
	width: 92%;
	color: #fff;
	padding-left: 6px;
	display: inline-block;
	vertical-align: middle;
}

.trophy-white {
    width: 15px;
    height: 16px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/trophy-white-14.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.arrow-white-right {
	width: 7px;
	height: 11px;
	background-position: -203px -48px;
	position: absolute;
	top: 33%;
	right: 10px;
}

/* rating */
.star-span {
    position: relative;
    top: -2px;
    transform: scale(0.9);
}

.border-light-left {
    border-left: 1px solid #ededed;
}
.rating-review-content .star-icon {
  width: 26px;
  height: 25px;
  vertical-align: middle;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  position: relative;
  top: -2px;
}

/* floating tabs */
#modelOverallSpecsTopContent { height:44px; }

.overall-specs-tabs-container { width:100%; display:block; background:#fff; overflow-x:auto; z-index:5;-webkit-overflow-scrolling: touch; position: absolute; top: 0px; -moz-box-shadow: 0 4px 5px -2px #d5d5d5; -webkit-box-shadow: 0 4px 5px -2px #d5d5d5; -o-box-shadow: 0 4px 5px -2px #d5d5d5; -ms-box-shadow: 0 4px 5px -2px #d5d5d5; box-shadow: 0 4px 5px -2px #d5d5d5; }
.overall-specs-tabs-container.fixed-tab-nav { position:fixed; top:0; left:0; }
.overall-specs-tabs-wrapper { width:100%; display:table; }
.overall-specs-tabs-wrapper li { display:table-cell; width:1%; padding:10px 15px; text-align:center; white-space:nowrap; font-size:14px; color:#82888b;cursor:pointer;}
.overall-specs-tabs-wrapper li.active { border-bottom:3px solid #ef3f30; color:#4d5057; font-weight: 600; }
.overall-specs-tabs-container::-webkit-scrollbar {width: 0; height: 0; display: none;}

/* model main image */
#overviewContent .model-main-image { background-color: #fff; max-width: 476px; margin: 0 auto; min-height: 180px; max-height: 268px; position: relative; text-align: center; }
.model-main-image img { max-width: 100%; }

/* model-photos-swiper */
.model-photos-swiper.swiper-container {
    width: 100%;
    height: 202px;
    overflow: hidden;
    position: relative;
    top: 1px;
}

.model-photos-swiper .swiper-slide {
    width: 100%;
	text-align: center;
	cursor: pointer;
}

.model-photos-swiper img {
    width: auto;
    max-height: 202px;
}

.model-photos-swiper .swiper-wrapper .swiper-slide:first-child {
    margin-left: 0;
}

.model-photos-swiper .swiper-button-next,
.model-photos-swiper .swiper-button-prev {
    border: none;
    background-color: transparent !important;
}

.model-photos-swiper .swiper-button-next {
    right: 10px;
}

.model-photos-swiper .swiper-button-prev {
    left: 10px;
}

#model-photos-swiper .swiper-button-prev,
#model-photos-swiper .swiper-button-next {
    width: 40px;
    height: 60px;
}

.next-arrow-btn,
.prev-arrow-btn {
    position: absolute;
    top: 13%;
    width: 26px;
    height: 43px;
}

.next-arrow-btn {
    background-position: -177px -207px;
    right: 7px;
    left: auto;
}

.prev-arrow-btn {
    background-position: -153px -207px;
    left: 7px;
    right: auto;
}

/* model media list */
.model-media-list li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 4px 0;
}

.model-media-list a {
    background: #fff;
    display: block;
    box-shadow: 0px 1px 1px 1px #dcdcdc;
    border-radius: 2px;
    padding: 2px 10px 4px;
    color: #4d5057;
}

.model-media-list a:hover {
    text-decoration:none;
}

.model-media-count {
    font-size: 11px;
    line-height: 11px;
    display: inline-block;
    vertical-align: middle;
}

.colors-sm {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 3px;
    background-position: -193px -595px;
}

/* ribbon tag */
.model-ribbon {
    position: absolute;
    top: 14px;
    left: 0;
    font-size: 12px;
    padding: 2px 10px;
    display: inline-block;
    z-index: 2;
}

.model-ribbon:after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    right: 0;
}

.model-ribbon:before,
.model-ribbon:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    right: -10px;
}

.model-ribbon:before {
    top: 0;
    border-width: 11px 10px 0 0;
}

.model-ribbon:after {
    bottom: 0;
    border-width: 0 10px 11px 0;
}

.upcoming-ribbon {
    color: #fff;
    background: #4d5057;
}

.discontinued-ribbon {
    color: #4d5957;
    background: #b5b5b5;
}

.upcoming-ribbon.model-ribbon:before {
    border-top-color: #4d5057;
}

.upcoming-ribbon.model-ribbon:after {
    border-bottom-color: #4d5057;
}

.discontinued-ribbon.model-ribbon:before {
    border-top-color: #b5b5b5;
}

.discontinued-ribbon.model-ribbon:after {
    border-bottom-color: #b5b5b5;
}

/* info icon */
.info-grey-14 {
	width: 14px;
	height: 14px;
	background-position: -173px -613px;
	position: relative;
	top: 2px;
	margin-right: 2px;
	cursor: pointer;
}

/* floating button */
.floating-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 8;
}

.floating-btn .btn {
    padding: 10px 5px;
    border-radius: 0;
}

.tel-white-icon {
    position: relative;
    top: -1px
}

/* bike desc */
.elevated-shadow-top {
    position: relative;
    top: 1px;
    -moz-box-shadow: 0 0 7px #dcdcdc;
    -webkit-box-shadow: 0 0 7px #dcdcdc;
    -o-box-shadow: 0 0 7px #dcdcdc;
    -ms-box-shadow: 0 0 7px #dcdcdc;
    box-shadow: 0 0 7px #dcdcdc;
}

/* model summary */
.summary-specs-list li {
    display: inline-block;
    vertical-align: middle;
    width: 24%;
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* model key highlights */
#model-key-highlights tr td {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #eee;
}

#model-key-highlights tbody tr:first-child td {
    border-top: 0;
}

#model-key-highlights .model-color-list li {
    margin-right: 3px;
}

#model-key-highlights .model-color-list li:after {
    content: ", ";
}

#model-key-highlights .model-color-list li:last-child:after {
    content: none;
}

.line-height16 {
    line-height: 1.6;
}

.inline {
    display: inline;
}

/* model-rank-slug */
.model-rank-slug {
    width: 100%;
    min-height: 52px;
    padding: 10px 40px 10px 20px;
    border: 1px solid #e2e2e2;
    display: block;
    position: relative;
}
.model-rank-slug:hover {
    text-decoration: none;
    border-color: #41b4c4;
}
.rank-slug-label {
    width: 83%;
    padding-left: 15px;
}

h1 {font-weight: 700;}
.text-bold { font-weight: 600; }

.btn-grey { background: #fff; color: #f04031; border:1px solid #f04031; }
.btn-grey:hover { background: #f04031; color:#fff; text-decoration: none; border:1px solid #f04031; }
.btn-grey:focus { background: #f04031; color: #fff; border: 1px solid #f04031; }
.text-blue { color:#0288d1; }
.text-darker-black { color:#1a1a1a; }
.grid-3.version-label-text { width:60px; }
.grid-9.variantDropDown { width:70%; max-width:320px; }

.margin-bottom7 { margin-bottom:7px; }
.border-light-top { border-top:1px solid #f1f1f1; }
.tel-grey-icon { position:relative;top:2px; }

.text-xt-light-grey {color :#a8afb3; }
.block { width:100%; }
.border-light-right { border-right:1px solid #e2e2e2; }

.offers-sprite {background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/offers-sprite.png?v16may2017) no-repeat; display: inline-block;}
.loc-change-blue-icon { width:16px; height:16px; background-position:-195px -395px; position:relative; top:2px; }
.loc-change-blue-icon:hover { background-position:-84px -278px; }
.upcoming-text-label{background:#4c4c4c;z-index:2;padding:2px 25px 4px 20px;line-height:22px;left:-10px;top:10px;}
.upcoming-text-label:after{content: "";background:url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/upcoming-ribbon.png?v=9Sep2016) no-repeat right top;width:12px;position: absolute;height: 28px;top: 0;padding:0 0 0 35px;}
.float-button.float-fixed{background: rgba(245,245,245,0.9);}
.padding-top30 {
    padding-top: 30px;
}

.contact-icon, .offers-icon, .disclaimer-icon, .call-icon { width:14px; height:16px; }
.disclaimer-icon { background-position: -135px -308px; }
.offers-icon { background-position: -135px -280px; }
.contact-icon { background-position: -107px -280px; }
.call-icon { background-position: -107px -135px; }

.inr-dark-grey-xsm-icon { width:9px; height:12px; background-position:0px -459px; position:relative; top:1px; }
.inr-dark-md-icon { width:11px; height:14px; background-position:-19px -459px; }
.specs-capacity-icon, .specs-mileage-icon, .specs-maxpower-icon, .specs-weight-icon { width:30px; }
.specs-capacity-icon { height:20px; background-position:-46px 0; }
.specs-mileage-icon { height:24px; background-position:-46px -30px; }
.specs-maxpower-icon { height:30px; background-position:-46px -62px; }
.specs-weight-icon { height:30px; background-position:-46px -102px; }
.margin-bottom13 { margin-bottom:13px; }

/* summary icons */
.specs-capacity,
.specs-maxpower,
.specs-mileage,
.specs-weight {
    width: 22px;
    height: 20px;
}

.specs-capacity {
    background-position: -46px 0
}

.specs-mileage {
    background-position: -46px -90px
}

.specs-maxpower {
    background-position: -46px -30px
}

.specs-weight {
    background-position: -46px -60px
}

/* dropdown */
.dropdown-select {
	display: none;
}

.dropdown-menu {
	width: 100%;
    height: 20px;
    min-width: 125px;
	font-size: 14px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #4d5057;
}

.single-version-label {
	padding: 5px 30px 5px 9px;
	font-weight: 600;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu .dropdown-label, .dropdown-menu .dropdown-selected-item {
	width: 100%;
	font-weight: 600;
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) no-repeat 94%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu .dropdown-selected-item {
    border-bottom: 1px solid #e2e2e2;
}

.dropdown-menu .dropdown-label {
    padding-right: 30px;
    padding-left: 9px;
}

.dropdown-menu .dropdown-selected-item {
    padding: 5px 30px 5px 9px;
}

.dropdown-menu .dropdown-label {
	cursor: pointer;
	display: inline-block;
	z-index: 0;
}

.dropdown-menu .dropdown-list-wrapper {
	display: none;
	min-width: 170px;
	overflow:hidden;
	position: absolute;
	top: 3px;
	left: 0;
	background: #fff;
	z-index: 1;
	border-radius: 2px;
	-webkit-box-shadow: -3px 3px 15px 1px #ddd;
	-moz-box-shadow: -3px 3px 15px 1px #ddd;
	-ms-box-shadow: -3px 3px 15px 1px #ddd;
	-o-box-shadow: -3px 3px 15px 1px #ddd;
	box-shadow: -3px 3px 15px 1px #ddd;
}

.dropdown-menu.dropdown-active .dropdown-list-wrapper {
	display: inline-block;
}

.dropdown-menu .dropdown-menu-list {
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown-menu .dropdown-menu-list li {
	padding: 5px 10px;
	cursor: pointer;
}

.dropdown-menu .dropdown-with-select li:hover {
	background: #eee;
}

.selected-location-label.text-truncate {
    width: 84%;
}

.padding-10-20 {
    padding:10px 20px;
}

/* dealer card */


#dealername {
    margin-bottom: 5px;
}

.inr-grey-xxxsm-icon {
    width: 7px;
    height: 10px;
    background-position: -94px -136px;
}

.btn-sm-0 {
    padding: 5px 21px;
    font-size: 14px;
}

.float-button .btn { padding: 8px 0; font-size: 18px;}
.btn-green {background: #1b9618;color: #fff;border: 1px solid #1b9618;}
.btn-green:focus {background: #008b08;border: 1px solid #008b08;}

a.btn:hover {
    text-decoration: none;
}

.line-height-1-7 {
    line-height: 1.7;
}

.nearby-partner-left-col {
    width: 45%;
    max-width: 260px;
    margin-right: 5px;
}

.nearby-partner-label {
    width: 73%;
}

#more-dealers-popup.bwm-fullscreen-popup, #dealer-offers-popup.bwm-fullscreen-popup {
    padding: 30px 25px;
    display: none;
}

.margin-top12 {
    margin-top:12px;
}

.offers-sm-box-icon {
    width: 15px;
    height: 16px;
    background-position: -183px -460px;
    position: relative;
    top: 1px;
}

.tel-sm-icon {
    width: 15px;
    height: 12px;
    background-position: -88px -324px;
    position: relative;
    top: 2px;
}

.offers-box-icon {
    width: 34px;
    height: 37px;
    background-position: 0 0;
}

.emi-calc-icon {
    width: 34px;
    height: 35px;
    background-position: 0 -47px;
}

.dealership-icon {
    width: 29px;
    height: 22px;
    background-position: 0 -356px;
}

.margin-bottom7 {
    margin-bottom: 7px
}

.offerIcon_1_sm , .offerIcon_2_sm , .offerIcon_3_sm , .offerIcon_4_sm , .offerIcon_5_sm, .offerIcon_6_sm, .offerIcon_7_sm { width:30px; height:29px; }
.offerIcon_1_sm { background-position:0 -93px; }
.offerIcon_2_sm { background-position:0 -132px; }
.offerIcon_3_sm { background-position:0 -166px; }
.offerIcon_4_sm { background-position:0 -207px; }
.offerIcon_5_sm { background-position:0 -246px; }
.offerIcon_6_sm { background-position:0 -283px; }
.offerIcon_7_sm { background-position:0 -317px; }

#dealer-offers-popup .btn {
    padding: 8px 19px;
}

.dealer-offers-list .dealer-offer-image, .dealer-offers-list .dealer-offer-label {
    display:inline-block;
    vertical-align:middle;
}

.dealer-offers-list .dealer-offer-label {
    width:85%;
    font-size:14px;
    text-align:left;
    padding-left:10px;
}

.dealer-offers-list li {
    padding-top:20px;
}

.dealer-offers-list li:first-child {
    padding-top:0;
}

.fullwidth{
    width: 100%;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
}

/* model gallery */
.relative-gallery-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-y: scroll;
}

/* Discontinued bike image */
.no-image-icon {
    width: 40px;
    height: 30px;
    background-position: 0 -510px;
}

.model-thumbnail-image {
    width: 360px;
    height: 202px;
    display: table;
    text-align: center;
    background: #f5f5f5;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}

.model-thumbnail-image a {
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif) center center no-repeat;
}

.model-thumbnail-image a:hover {
   text-decoration: none;
}

.bg-light-grey {
    background: #f5f5f5;
}

/* tooltip */
.bw-tooltip {
    padding: 10px 20px 10px 10px;
    position: relative;
    border: 1px solid #e2e2e2;
    background: #f5f5f5;
    z-index: 1;
}

.multi-brand-tooltip {
    width: 99.5%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tooltip-bottom .bw-tooltip-text:before,
.tooltip-bottom .bw-tooltip-text:after {
    content: '';
    width: 9px;
    height: 18px;
    display: block;
    position: absolute;
    left: 50px;
}

.tooltip-bottom .bw-tooltip-text:before {
    top: -29px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e2e2e2;
    border-left: 10px solid transparent;
}

.tooltip-bottom .bw-tooltip-text:after {
    top: -28px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f5f5f5;
    border-left: 10px solid transparent;
}

/* horizontal bikes swiper start */
.horizontal-swiper__title {
	font-size: 14px;
	color: #787878;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 5px;
}

.horizontal-swiper__slide.swiper-slide,
.horizontal-swiper__card.swiper-card {
	width: 240px;
	min-height: 65px;
}

.horizontal-swiper__tag {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 9px;
	color: #82888b;
}

.horizontal-swiper__target {
	display: block;
	padding: 10px 5px;
}

.horizontal-swiper__target:hover {
	text-decoration: none;
}

.horizontal-swiper__image {
	width: 80px;
	height: 45px;
}

.horizontal-swiper__image img {
	height: 45px;
	line-height: 0;
}

.horizontal-swiper__details {
	width: 62%;
	padding-left: 5px;
}

.horizontal-swiper__card-title {
	font-size: 12px;
	color: #2a2a2a;
	margin-bottom: 4px;
}

.horizontal-swiper__card-subtitle {
	font-size: 10px;
	color: #787878;
}
/* horizontal bikes swiper end */

.emi-calculator__link {
    float: right;
    display: inline-block;
}

/* ATF css for Popup */
.ask-question__link {
    color: #0288d1;
    border-left: 1px solid #ededed;
    cursor: pointer;
}
.question-answer-popup {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      display: none;
      z-index: 10;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
}

/* change city location link */
.edit-city-link {
    color: #0288d1;
    font-weight: 600;
    cursor: pointer;
}

.edit-city-link_black {
    color: #000000;
    font-weight: 600;
    cursor: pointer;
}

.edit-city__text{
    display: inline-block;
}
.edit-city__icon {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/0288d1/edit.svg') center no-repeat;
    width: 9px;
    height: 9px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.edit-city__icon_grey {
    background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/edit.svg') center no-repeat;
    width: 9px;
    height: 9px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

/* Location icon */
.changeCity {
    position: relative;
}

.location-map-icon {
    background-image: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/0987d1/location-filled.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 28px;
    position: absolute;
    bottom: 0;
    left: 105%;
}

/* Location Active state */
.location--active .location-map-icon {
    background-image: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/0987d1/location-outline.svg');
}

/*top selling slug*/
.top-selling-wrapper {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #fff;
}

/*Styles for popup*/
.popup-container .popup {
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
}
.top-selling__text {
    font-size: 12px;
    font-weight: 600;
    opacity: 1;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
    will-change: opacity;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 20px;
    text-align: left;
}
.top-selling__text::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #41b4c4;
}
.top-selling__text::after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% + 5px); /*here, 5 is ribbon corner height */
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-bottom: 5px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
.campaign-with-animation {
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.campaign-with-animation.animated {
    -webkit-transform: translateY(calc(100% - 44px));  /*here, 52 is height of campaign floating button container*/
    transform: translateY(calc(100% - 44px));/*changed to 44 as per requirement*/
}
.campaign-with-animation.animated .top-selling__text {
    opacity: 0;
}

/*Emi calculator icon*/

.emi-calculator-icon {
    display: inline-block;
    background-color: #fff;
    background-image: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/0288d1/calculator.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 17px;
    height: 18px;
    vertical-align: bottom;
    padding: 0;
    margin-left: 5px;
}