/* common classes */
.text-slate-grey {
    color: #787878;
}
.card-h2-heading {
    font-size: 18px;
}
.font-bold {
    font-weight: 700;
}
.font15 {
    font-size: 15px;
}

.text-bold {
    font-weight: 600;
}

.grid-no-padding {
    padding-right: 0;
    padding-left: 0;
}

.neg-right15 {
    right: -15px
}

/* on-road price */
.orp-left-grid {
    width: 240px;
}

.orp-right-grid {
    width: 59%;
}

.orp-grid-8:after {
    content: "";
    width: 1px;
    height: 85%;
    border-right: 1px solid #e2e2e2;
    position: absolute;
    right: 0;
    bottom: 0;
}

#version-specs-list {
    width: 100%;
    padding-left: 20px;
    overflow: hidden;    
}

#version-specs-list li {
    list-style: disc;
    width: 50%;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
    color: #787878;
    padding-right: 20px;
}
#model-version-dropdown .select-box {
    height: 28px;
}

#model-version-dropdown .chosen-container {
    width: 126px !important;
    height: 28px;
}

#model-version-dropdown .chosen-drop {
    position: absolute;
    width: 260px !important;
    top: -18px;
}

#model-version-dropdown .chosen-single {
    font-size: 13px;
    color: #4d5057;
    padding-top: 3px;
}

#model-version-dropdown .no-input-label {
    font-size: 14px;
}

/* select box for atf */
.select-box .chosen-container {
    height: 30px;
    position: relative;
    top: 0;
    cursor: pointer;
    border-bottom: 1px solid #82888b;
    background: transparent url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) 100% 50% no-repeat;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* single version and location */
.single-version-content {
    width: 126px;
}

.dropdown-effect-light {
    padding: 3px 18px 6px 0;
    position: relative;
}

.dropdown-effect-light {
    background: transparent url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) 100% 50% no-repeat;
    border-bottom: 1px solid #ddd;
}

.dropdown-effect-light:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background: #fff;
    opacity: 0.7;
}

/* city */
.location-selection {
    width: 165px;
}

.selected-city {
    padding: 3px 18px 6px 0;
    position: relative;
    border-bottom: 1px solid #82888b;
}

.loc-change-blue-icon { 
    width: 12px;
    height: 16px;
    background-position: -205px -9px;
    cursor: pointer;
    position: relative;
    top: 2px;
}

.loc-change-blue-icon:hover {
    background-position: -205px -35px;
}

.location-selection .loc-change-blue-icon {
    position: absolute;
    top: 4px;
    right: 0;
}

.top-minus5 {
    top: -5px;
}

.pos-top2 {
    top: 2px;
}

/* model-image */
.model-image {
    width: 230px;
    min-height: 128px;
}

.model-image img {
    width: 100%;
}

/* ribbon tag */
.model-ribbon-tag {
    color: #fff;
    position: relative;
    top: -5px;
    left: -20px;
    font-size: 12px;
    padding: 2px 20px 2px 10px;
    display: inline-block;
}

.discontinued-ribbon {
    color: #4d5957;
    background: #b5b5b5;
}
.discontinued-ribbon.model-ribbon:before {
    border-top-color: #b5b5b5;
}

.discontinued-ribbon.model-ribbon:after {
    border-bottom-color: #b5b5b5;
}

.model-image .model-ribbon {
    top: 0;
}

/* floating tabs */
#modelOverallSpecsTopContent {
    height: 44px;
}

.overall-specs-tabs-container {
    width: 976px;
    background: #fff;
    -moz-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    -webkit-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    -o-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    -ms-box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
    box-shadow: 0 2px 2px #e2e2e2, 0 1px 1px #f1f1f1;
}

.overall-specs-tabs-wrapper {
    display: table;
    background: #fff;
    cursor: pointer;
}

.overall-specs-tabs-wrapper span {
    padding: 10px 20px;
    display: table-cell;
    font-size: 14px;
    color: #82888b;
}

.overall-specs-tabs-wrapper span:hover {
    text-decoration: none;
    color: #4d5057;
}

.overall-specs-tabs-wrapper span.active {
    border-bottom: 3px solid #ef3f30;
    font-weight: bold;
    color: #4d5057;
}

/* fixed */
.overall-specs-tabs-container.fixed-tab {
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: 3;
    border-bottom: 0;
    
}

/* info icon */
.info-grey-14 {
	width: 14px;
	height: 14px;
	background-position: -176px -768px;
	position: relative;
	top: 2px;
	margin-right: 5px;
	cursor: pointer;
}

/* dealer campaign */
.padding-top30 {
    padding-top: 30px;
}

.text-xx-light {
    color: #a2a2a2;
}

.list-type-disc {
    list-style: disc;
    margin-left: 19px;
    line-height: 1.5;
}

.btn-180-32 {
    width: 180px;
    padding: 5px;
    font-size: 14px;
}
/* about */
.aboutContent h2 {
    font-size: 18px;
}

/* dealer */
/* card */
.card {
  width: 292px;
  min-height: 150px;
  border: 1px solid #f6f6f6;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
}
.card:first-child {
    margin-left: 20px;
}
.card .card-target {
    min-height: 150px;
    display: block;
    padding: 15px 20px;
}
.card .card-target:hover {
    text-decoration: none;
}

/* service center */
.margin-right-4 {
    margin-right: -4px;
}

.grid-11-inline {
    width: 91.66666667%;
}

.grid-10-inline {
    width: 83.33333333%;
}

.grid-2-inline {
    width: 16.66666667%;
}

.grid-11-inline,
.grid-10-inline,
.grid-2-inline {
    display: inline-block;
    vertical-align: middle;
}

/* emi calculator */
/* emi */
.emi-slider-box {
    margin-top: 30px;
}

.emi-slider-box:first-child {
    margin-top: 0;
}
/* slider */
.finance-emi-container .ui-widget-content {
    background: #bababa;
    height: 2px;
    margin-top: 15px;
    width: 97%;
    cursor: pointer;
}

.finance-emi-container .ui-slider .ui-slider-range {
    border: none;
    display: block;
    position: absolute;
    z-index: 1;
}

.finance-emi-container .ui-widget-header {
    background: #ef3030;
    height: 2px;
}

.finance-emi-container .ui-slider {
    position: relative;
    text-align: left;
}

.finance-emi-container .ui-slider .ui-slider-handle {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/slider-handle.png) no-repeat;
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: block;
    margin-left: -9px;
    position: absolute;
    outline: none;
    top: -13px;
    z-index: 2;
    background-position: 3px 3px;
}

.border-light-right {
    border-right: 1px solid #eee;
}

.border-light-bottom {
    border-bottom: 1px solid #eee;
}

/* price list */
/* version prices */
.divider-bottom {
    border-bottom: 1px solid #eee;
}

/* prices in nearby cities */

.version-price-table {
    width: 100%;
}

.version-price-table th {
    width: 33.33%;
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #82888b;
    font-weight: normal;
    text-align: left;
}

#prices-top-cities {
    font-size: 0;
}

#prices-top-cities li {
    display: inline-block;
    width: 25%;
    padding-bottom: 20px;
}

.city-name {
    display: inline-block;
    font-size: 14px;
    width: 50%;
}

.city-name.right {
    text-align: center;
    font-size: 13px;
}

#prices-top-cities li:nth-of-type(4n) .city-name.right{
  text-align: right;
}

.version-price-table td {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

/* similar bikes */
.compare-with-target {
    display: block;
    padding: 10px 35px 10px 20px;
    position: relative;
    font-size: 14px;
    color: #4d5057;    
}

.compare-with-target:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    width: 85%;
    height: 1px;
    border-top: 1px solid #e2e2e2;
}

.compare-with-target:hover {
    text-decoration: none;
}

.compare-sm {
    width: 17px;
    height: 12px;
    background-position: -210px -580px;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.compare-with-target .next-grey-icon {
    position: absolute;
    right: 20px;
    top: 15px;
}

/* prices in other cities */
.btn-200-32 {
    width: 200px;
    font-size: 14px;
    padding: 7px;
}

/* other cities swiper */
.carousel-type-city .card-target-link {
    min-height: 205px;
    display: block;
}

.carousel-type-city .card-target-link:hover {
    text-decoration: none;
}

.carousel-type-city .city-image-preview {
    padding: 15px 0;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

/* city */
.city-sprite { background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/city-sprite.png?24062016) no-repeat; display: inline-block; }
.mumbai-icon, .pune-icon, .bangalore-icon, .newdelhi-icon, .chennai-icon, .hyderabad-icon, .kolkata-icon, .ahmedabad-icon, .chandigarh-icon, .lucknow-icon { height: 92px; }
.mumbai-icon { width: 130px; background-position: 0 0; }
.pune-icon { width: 186px; background-position: -140px 0; }
.bangalore-icon { width: 136px; background-position: -336px 0; }
.newdelhi-icon { width: 70px; background-position: -482px 0; }
.chennai-icon { width: 53px; background-position: -562px 0; }
.hyderabad-icon { width: 65px; background-position: -625px 0; }
.kolkata-icon { width: 182px; background-position: -700px 0; }
.lucknow-icon { width: 174px; background-position: -892px 0; }
.ahmedabad-icon { width: 0px; background-position: 0 0; }
.chandigarh-icon { width: 0px; background-position: 0 0; }


/* icons */
.dealership-loc-icon {
    width: 9px;
    height: 12px;
    background-position: -52px -469px;
    position: relative;
    top: 4px;
}

.inr-sm,
.inr-sm-grey {
    width:9px;
    height:12px;
}

.inr-sm {
    background-position:-110px -468px;
}

.inr-sm-grey {
    background-position: -92px -468px;
}

.container.no-container-width {
width: 100%;
}

#priceInCityPopUpContent .select-box .chosen-container .chosen-single{
       font-weight:normal;
}

/* icons */
.dealer-grey {
    width: 24px;
    height: 22px;
    background-position: -105px -747px;
    vertical-align: middle;
}

.service-center-grey {
    width: 28px;
    height: 32px;
    background-position: -197px -705px;
    vertical-align: top;
}

.graph-rank-grey {
    width: 28px;
    height: 25px;
    background-position: -139px -745px;
    vertical-align: middle;
}

@media only screen and (max-width: 1024px) {
    .overall-specs-tabs-container {
        width: 940px;
    }

    /* on-road price */
    .orp-left-grid {
        width: 220px;
    }

    .orp-right-grid {
        width: 60%;
    }

    .model-image {
        width: 210px;
        height: 110px;
    }

    #version-specs-list li {
        width: 100%;
        float: none;
    }
}

.offer-benefit-sprite {
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/offer-benefit-sprite.png?v1=30Mar2016v1) no-repeat;
    display: inline-block;
}

.btn-large {
    padding: 8px 56px;
}

.left-neg10 {
    left: -10px;
}
.full-width-select .chosen-container {
    width: 100% !important;
}

#ddlMfgDealers + .chosen-container .chosen-drop {
    max-height: 200px;
    overflow: hidden;
}
.select-box .chosen-container .chosen-results {overflow-y: scroll; max-height: 160px; padding-bottom: 20px; }
/*ad blocker active write review block*/
.adBlocker-grid .inline-block {
        display: inline-block;
        vertical-align: middle;
        margin-right: -4px;
}
.adBlocker-grid .bullet-list {
        list-style: disc;
        color: #787878;
        padding-left: 20px;
}
.adBlocker-grid .bullet-list li {
        margin-top: 12px;
        margin-bottom: 12px;
}
.user-review-btn { display: inline-block; padding: 8px 42px; font-size: 16px; line-height: 1.42857143; text-align: center; white-space: nowrap; border: 1px solid transparent; border-radius: 2px; outline: none; text-decoration: none; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; -webkit-appearance:none;
}
.user-review-btn-orange { background: #ef3030; color: #fff; }
.user-review-btn-orange:hover { background: #f44336; text-decoration: none; }
.user-review-btn-orange:focus { background: #d42c2c; }
.user-review-btn-160-32 {
    width: 160px;
    font-size: 14px;
    padding: 5px;
}
/* campaign offer loans */
.campaign__powered-key {
    font-size: 12px;
    color: #a2a2a2;
}

.campaign__powered-value {
    font-size: 13px;
    color: #82888b;
}

.btn-160-32 {
    min-width: 160px;
    padding: 5px;
    font-size: 14px;    
}

/* Review and rating css */
.star-icon {
  width: 26px;
  height: 25px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }
  .star-icon.star-size-16 {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6); }

.rate-count-1 .star-icon {
  background-position: 0 -790px; }

.rate-count-2 .star-icon {
  background-position: -46px -790px; }

.rate-count-3 .star-icon {
  background-position: 0 -757px; }

.rate-count-4 .star-icon {
  background-position: -92px -790px; }

.rate-count-5 .star-icon {
  background-position: -138px -790px; }
  
.rate-count-5 {
  color: #198D55; }

.rate-count-4 {
  color: #13B65D; }

.rate-count-3 {
  color: #EFD700; }

.rate-count-2 {
  color: #FD971C; }

.rate-count-1 {
  color: #EF3F30; }
  
  .review-left-divider {
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
}
  .review-left-divider:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 1px;
    height: 12px;
    border-left: 1px solid #e2e2e2;
}

/*explore more card starts here*/
.exploremore__imagebackground {
    margin-top: 25px;
    margin-left: 25px;
    margin-right:25px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgba(65,180,196,0.3);
}

.exploremore__icon-background {
    height: 80px;
    width: 80px;
    background: white url(https://imgd.aeplcdn.com/0x0/bw/static/icons/41b4c4/bike-48x29.png) no-repeat center;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.exlporemore__icon {

}

.exploremore-detailblock {
    margin: 0 auto;
    padding-top: 45px;
    min-height:170px;
    width: 175px;
    text-align:center;
}

.detailblock__title {
    font-size: 14px;
    color: #4D5057;
    font-weight: 600;
    margin-bottom: 15px;
    line-height:25px;
}

.detailblock__description {
    font-size: 12px;
    color: #A2A2A2;
}

/*explore more card ends here*/


.gallery-loader-placeholder {
    z-index: 8;
}

/* loader */
.spin-loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 auto;
    border: 3px solid #f5f5f5;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1.1s infinite linear;
    -moz-animation: spin 1.1s infinite linear;
    -ms-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
}

.fixed-loader {
    position: fixed;
    top: 45%;
    right: 0;
    left: -5%;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

/* popup gallery */
.gallery-bg-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #2a2a2a;
    overflow-y: hidden;
}
.gallery-container {
    display: block;
    z-index: 10;
}

#gallery-close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background-position: -56px -194px;
}

/* gallery-header */
.gallery-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.gallery-header .gallery-title {
    font-size: 18px;
    padding-top: 15px;
    padding-left: 20px;
}

/* horizontal-tabs */
.horizontal-tabs-wrapper {
    border-bottom: 1px solid #82888b;
    overflow: hidden;
}

.horizontal-tabs-wrapper li {
    float: left;
    padding: 12px 20px;
    font-size: 14px;
    color: #82888b;
    cursor: pointer;
}

.horizontal-tabs-wrapper li.active {
    border-bottom: 3px solid #ef3f30;
    color: #fff;
    font-weight: bold;
    cursor: default;
    pointer-events: none;
}

/* gallery-body */
.gallery-body {
    width: 100%;
    height: 100%;
    padding-top: 90px;
}

/* gallery-footer */
.footer-tabs-wrapper {
    bottom: 0;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer-tabs-wrapper,
.footer-tab-card {
    width: 976px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;    
    box-shadow: 0 0 6px #999;
}

.footer-tab {
    cursor: pointer;
    text-align: center;
    float: right;
    padding: 15px 25px;
    line-height: 0;
    position: relative;
}

.footer-tab:after {
    content: '';
    width: 1px;
    height: 30px;
    border-left: 1px solid #e2e2e2;
    position: absolute;
    left: 0;
    top: 10px;
}

.tab-active .footer-tab:after {
    content: none;
}

.tab-active,
.footer-tab:hover {
    background: #41b4c4;
    color: #fff;
}

.gallery-details-tab {
    width: 44%;
    padding: 15px 25px 10px;
    float: left;
    font-size: 14px;
}

.swiper-heading.text-truncate {
    width: 82%;
    display: inline-block;
}


/* gallery icons */
.grid-icon,
.color-palette,
.info-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.grid-icon {
    background-position: -159px -616px;
}

.tab-active .grid-icon,
.footer-tab:hover .grid-icon {
    background-position: -159px -639px;
}

.color-palette {
    background-position: -182px -616px;
}

.tab-active .color-palette,
.footer-tab:hover .color-palette {
    background-position: -182px -639px;
}

.info-icon {
    background-position: -205px -616px;
}

.tab-active .info-icon,
.footer-tab:hover .info-icon {
    background-position: -205px -639px;
}

/* Swiper 3.4.1 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
/* Arrows */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 35%;
    z-index: 2;
    cursor: pointer;
}

.full-width-button-next,
.full-width-button-prev {
    width: 300px;
    height: 169px;
}

.full-width-button-next {
    right: -9%;
    left: auto;
}

.full-width-button-prev {
    left: -10%;
    right: auto;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none;
}
/* gallery */
.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.gallery-swiper .swiper-container {
    width: 100%;
    height: 549px;
}

.gallery-swiper .swiper-slide {
    width: 976px;
    min-width: 300px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.gallery-swiper .gallery-swiper-image {
    height: auto;
    min-height: 50px;
    max-height: 549px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    line-height: 0;
}

.gallery-swiper .swiper-slide-active {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}

.gallery-swiper .swiper-slide-prev {
    left: 320px;
}

.gallery-swiper .swiper-slide-next {
    right: 320px;
}

.gallery-swiper .swiper-slide-prev .gallery-image-placeholder,
.gallery-swiper .swiper-slide-next .gallery-image-placeholder {
    width: 300px;
    height: 169px;
    background: #fff;
}

.gallery-swiper .swiper-slide-prev img,
.gallery-swiper .swiper-slide-next img {
    height: 169px;
}

.swiper-slide img {
    width: auto;
    background: #fff url('https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif') no-repeat center;
}


.swiper-button-disabled {
    display: none;
}

/* footer-tab-card */
.footer-tab-card {
    bottom: 50px;
    z-index: 1;
}

.footer-tab-card .swiper-container {
    height: 68px;
    padding-right: 20px;
}

.footer-tab-card .swiper-slide {
    padding-left: 20px;
}

.footer-tab-card .thumbnail-swiper .swiper-slide {
    width: 140px;
    height: 68px;
    cursor: pointer;
}

.thumbnail-image-placeholder {
    width: 100%;
    height: 68px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
}

.thumbnail-swiper img {
    height: 66px;
    line-height: 0;
    user-select: none;
}

/* active thumbnail image */
.thumbnail-swiper .focus-slide .thumbnail-image-placeholder,
.video-thumbnail-swiper .focus-slide .video-image-block {
    border-color: #41b4c4;
}

/* color-thumbnail-swiper */
.footer-tab-card .color-thumbnail-swiper {
    height: 40px;
}

.color-thumbnail-swiper .swiper-slide {
    width: 170px;
    height: 40px;
    text-align: left;
}

.color-thumbnail-swiper .color-box {
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    border: 1px solid #e2e2e2;
    cursor: pointer;
}

.color-thumbnail-swiper .color-box-label {
    font-size: 14px;
    width: 72%;
    padding-left: 10px;
    color: #82888b;
    cursor: pointer;
}

.color-box span {
    width: 100%;
    display: block !important;
    background: #f1f1f1
}

.color-count-one span {
    height: 100%;
}

.color-count-two span {
    height: 50%;
}

.color-count-three span {
    height: 33.33%;
}

.focus-slide .color-box:before {
    content: "";
    background: rgba(0, 0, 0, 0.2) url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/white-tick-lg.png) 48% no-repeat;
    width: 38px;
    height: 38px;
    display: block;
    position: absolute;
}

.focus-slide .color-box-label {
    color: #4d5057;
}

/* model-more-info-section */
.model-more-info-section {
    padding: 20px;
}

.model-more-info-section .item-image-content {
    width: 96px;
    height: 54px;
    margin-right: 5px;
    display: inline-block;
}

.item-image-content img {
    width: 100%;
}

.model-more-info-section .bike-details-block {
    font-size: 14px;
    width: 78%;
}

.model-more-info-section .info-grid-9 {
    width: 59%;
}

.model-more-info-section .info-grid-3 {
    width: 40%;
    position: relative;
}
.model-more-info-section .info-grid-3:before {
    content: '';
    position: absolute;
    top: 10%;
    left: -15px;
    width: 1px;
    height: 80%;
    border-left: 1px solid #ecedee;
}

.model-more-info-section .info-exshowroom-block {
    width: 55.5%;
}

.btn-162-34 {
    font-size: 14px;
    width: 162px;
    padding: 6px;
}

.bike-details-block .item-more-details-list li {
    margin-bottom: 0;
    margin-top: 10px;
}

.model-more-info-section .text-truncate {
    width: 100%;
}

.model-more-info-section .model-ribbon-tag {
    top: -10px;
}

/* videos */
.main-video-content {
    width: 976px;
    height: 549px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.main-video-wrapper {
    width: 100%;
    height: 100%;
}

.main-video-iframe-content {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.main-video-iframe-content iframe,
.main-video-iframe-content video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* gallery icons */
.gallery-next-icon,
.gallery-prev-icon {
    width: 17px;
    height: 30px;
    opacity: 0.8;
}

.gallery-next-icon {
    background-position: -208px -663px;
}

.gallery-prev-icon {
    background-position: -188px -663px;
}

.full-width-button-next:hover .gallery-next-icon,
.full-width-button-prev:hover .gallery-prev-icon,
.gallery-next-icon:hover,
.gallery-prev-icon:hover {
    opacity: 1;
}

.full-width-button-next .gallery-next-icon,
.full-width-button-prev .gallery-prev-icon {
    position: relative;
    top: 43%;
}

.full-width-button-next .gallery-next-icon {
    left: 10%;
}

.full-width-button-prev .gallery-prev-icon {
    left: 89%;
}

.footer-tab-card .swiper-button-next,
.footer-tab-card .swiper-button-prev {
    top: 0;
    height: 100%;
    background: #fff;
}

.footer-tab-card .swiper-button-next {
    right: 0;
}

.thumbnail-next-icon,
.thumbnail-prev-icon {
    width: 20px;
    height: 30px;
    position: relative;
    top: 28%;
}

.thumbnail-next-icon {
    background-position: -152px -363px;
}

.footer-tab-card .swiper-button-next:hover .thumbnail-next-icon {
    background-position: -152px -394px;
}

.thumbnail-prev-icon {
    background-position: -126px -363px;
}

.footer-tab-card .swiper-button-prev:hover .thumbnail-prev-icon {
    background-position: -126px -394px;
}

.thumbnail-next-icon:hover,
.thumbnail-prev-icon:hover {
    opacity: 1;
}

/* colorus tab absent */
.color-tab-absent.gallery-details-tab {
    width: 57%;
}

.video-tab-absent .gallery-details-tab {
    width: 73%;
}

.video-tab-absent .swiper-heading.text-truncate {
    width: 100%;
}

/* videos */
.video-thumbnail-swiper .swiper-slide {
    cursor: pointer;
}

.video-image-block {
    width: 119px;
    height: 67px;
    position: relative;
    overflow: hidden;
    border: 2px solid #e2e2e2;
}

.video-image-block img {
    width: 100%;
    position: relative;
    top: -15%;
}

.video-title-block {
    width: 67.5%;
    text-align: left;
    font-size: 14px;
    color: #82888b;
}

.video-thumbnail-swiper .play-icon-wrapper {
    width: 100%;
    left: 0;
    padding-top: 12%;
    background: rgba(0,0,0,0.7);
}

.video-thumbnail-swiper .video-play-icon {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

/* focus slide */
.video-thumbnail-swiper .focus-slide .play-icon-wrapper {
    display: none;
}

.video-thumbnail-swiper .focus-slide .video-title-block {
    color: #4d5057;
}

.swiper-slide.focus-slide {
    cursor: default;
    pointer-events: none;
}

/* desktop resolutions */
.gallery-700 .gallery-body {
    padding-top: 5.5%;
}
.gallery-700 .gallery-swiper .gallery-swiper-image {
    max-height: 510px;
}

.gallery-700 .main-video-content {
    width: 888px;
    height: 500px;
    margin-top: 1.2%;
}

.gallery-768 .gallery-body {
    padding-top: 9.5%;
}

.gallery-900 .gallery-body {
    padding-top: 12%;
}

.gallery-900 .full-width-button-next {
    right: 0%;
}

.gallery-900 .full-width-button-prev {
    left: -0.5%;
}

.gallery-1024 .gallery-body {
    padding-top: 15%;
}

.gallery-1024 .full-width-button-next {
    right: 8%;
}

.gallery-1024 .full-width-button-prev {
    left: 7.5%;
}

@media only screen and (max-width:1024px) {
    .model-grid-12-slug .model-details-block {
        width: 72%;
    }
    .gallery-700 .gallery-body,
    .gallery-body {
        padding-top: 9%;
    }
    .gallery-swiper .swiper-container {
        height: 510px;
    }
}

.bike-gallery-popup { display: none; width:700px; height:635px; margin:0 auto; overflow-y:auto; position:fixed; top:4%; right:5%; left:5%; z-index:10; }
.blackOut-window-model { background:#2a2a2a; position:fixed; top:0px; left:0px; right:0px; bottom:0px; z-index:9; display: none; }
.modelgallery-close-btn { z-index:9; }


/* Electric bike slug*/
.electric-fullwidth-widget__content {
  position: relative;
  border: 1px solid #b5b5b5;
  background: #fff;
  box-shadow: 0 2px 2px #e2e2e2;
  overflow: hidden;
  min-height: 92px;
  padding-top: 15px;
  padding-bottom: 10px; }
  .electric-fullwidth-widget__content .electric-widget__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .electric-fullwidth-widget__content .electric-widget__background:before {
      background-image: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/skyline-bg.svg");
      background-repeat: repeat-x;
      -webkit-animation: animateSkyline 30s linear 10;
      -moz-animation: animateSkyline 30s linear 10;
      -ms-animation: animateSkyline 30s linear 10;
      animation: animateSkyline 30s linear 10;
      content: '';
      position: absolute;
      bottom: 18px;
      width: 3072px;
      height: 60px;
      display: block;
      background-position: center bottom;
      will-change: transform;
      opacity: .2; }

@-webkit-keyframes animateSkyline {
  from {
    -webkit-transform: translate(-1024px, 0);
    -moz-transform: translate(-1024px, 0);
    -ms-transform: translate(-1024px, 0);
    transform: translate(-1024px, 0); }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes animateSkyline {
  from {
    -webkit-transform: translate(-1024px, 0);
    -moz-transform: translate(-1024px, 0);
    -ms-transform: translate(-1024px, 0);
    transform: translate(-1024px, 0); }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

.electric-fullwidth-widget__details {
  padding-left: 280px; }

.electric-widget__left-col,
.electric-widget__right-col {
  display: inline-block;
  vertical-align: middle; }

.electric-widget__left-col {
  margin-right: 95px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3); }

.position--relative {
  position: relative; }

.electric-widget__title {
  font-size: 16px;
  font-weight: 600;
  color: #4acea8;
  margin-bottom: 5px;
  text-transform: capitalize; }

.electric-widget__subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #82888b; }

.btn-explore-scooters {
  position: relative;
  font-size: 12px;
  width: 100px;
  padding: 5px;
  background: #fff; }

.electric-scooter-icon {
  position: absolute;
  left: 97px;
  bottom: 0;
  width: 77px;
  height: 49px;
  margin: 0 auto;
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/electric-scooter.svg") no-repeat center;
  background-size: contain; }

