#news-header h1, #news-header h2 {
    display: inline-block;
}

.section-header,
.section-inner-padding {
    -webkit-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
    -moz-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
    -ms-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
    -o-box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
    box-shadow: 0 2px 2px #e2e2e2,0 1px 1px #f1f1f1;
    border: 1px solid #e2e2e2 \9;
}

.padding-15-20 {
	padding: 15px 20px;
}

/* article-list */
.article-list .article-content {
	padding-right:20px;
	padding-left:20px;
}

.article-list .article-item-content {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #e2e2e2;
}

.article-list .article-content:last-child .article-item-content {
	border-bottom: 1px solid #e2e2e2;
}


.article-image-wrapper { width: 206px; margin-right: 20px; float: left; }
.article-desc-wrapper { width: auto; }
.sponsored-tag-wrapper { width: 120px;height: 24px;background: #4d5057; color: #fff; font-size: 12px; line-height: 25px; padding: 0 20px; top:-10px; left:-20px; }
.sponsored-left-tag {width: 0;height: 0;border-top: 13px solid transparent;border-bottom: 15px solid transparent;border-right: 10px solid #fff;position: relative;top: -6px;left: 30px;font-size: 0;line-height: 0;z-index: 1; }
.article-image-wrapper a { width:206px; height:116px; display:block; }
.article-image-wrapper img { height: 116px; }
.article-category { color:#c20000; margin-top:4px; margin-bottom:6px; }
.calender-grey-icon, .author-grey-icon { width:14px; height:15px; position:relative; top:-2px; margin-right:4px; }
.calender-grey-icon { background-position:-129px -515px; }
.author-grey-icon { background-position:-105px -515px; }
.article-date { min-width: 145px; padding-right: 10px; }
.article-author { min-width: 200px; }
.article-author a:hover {
    text-decoration: none;
}
.article-date , .article-author { display: inline-block; vertical-align: middle; }
.blue-right-arrow-icon {
    width: 6px;
    height: 10px;
    background-position: -74px -469px;
    position: relative;
    top: 1px;
    left: 7px;
}
/* on-road price */
#on-road-price-widget {
    display: block;
    position: relative;
    border: 1px solid rgba(162, 162, 162, 0.8);
}

#on-road-price-widget:hover {
    text-decoration: none;
}

#on-road-price-widget h2 {
    width: 75%;
    padding-left: 18px;
}

.right-arrow {
    width: 12px;
    height: 18px;
    background-position: -76px -102px;
    position: absolute;
    top: 44%;
    right: 20px;
}

/* sidebar list */
.padding-15-20-10 {
    padding: 15px 20px 10px;
}

.sidebar-bike-list .bike-target-image {
    line-height: 0;
}

.sidebar-bike-list .bike-target-image img {
    width: 80px;
    height: 45px;
    border: 1px solid #f5f5f5;
}

.sidebar-bike-list .bike-target-content {
    width: 65%;
}

.sidebar-bike-list .bike-target-link {
    display: block;
    color: #4d5057;
    padding: 10px 20px;
    border-top: 1px solid #f5f5f5;
}

.sidebar-bike-list li:first-child .bike-target-link {
    border-top: 0;
}

.sidebar-bike-list .bike-target-link:hover {
    text-decoration: none;
}

.sidebar-bike-list .bike-target-link h3 {
    margin-bottom: 3px
}

/* overflow sidebar list */
.sidebar-list--overflow .sidebar-bike-list {
	max-height: 320px;
	overflow-y: scroll;
}

.sidebar-bike-list::-webkit-scrollbar {
	width: 8px;
}

.sidebar-bike-list::-webkit-scrollbar-track {
	background: #fff;
}

.sidebar-bike-list::-webkit-scrollbar-thumb {
	background: #ddd;
}

.sidebar-bike-list::-webkit-scrollbar-thumb:hover {
	background: #ccc;
}

/* bw tabs */
.tabs-flex--reset-margin ul {
	margin-bottom: 0;
}

.bw-tabs__item {
	color: #82888b;
	font-size: 16px;
	font-weight: 400;
}

.bw-tabs__item:hover {
	color: #4d5057;
}

.active.bw-tabs__item,
.active .bw-tabs__item {
	font-weight: 600;
	color: #4d5057;
}

.bw-tabs__item.bw-tabs-item--sm {
	font-size: 14px;
}

.padding-10-20-20 {
	padding: 10px 20px 20px;
}

/* pagination */
.pagination-padding {
	padding: 15px 20px;
}

.footer-pagination .grid-5 {
  position: relative;
  top: 4px; }

.pagination-list-content {
  min-width: 185px;
  width: auto;
  max-width: 355px;
  float: right; }

.pagination-list {
  margin-right: 35px;
  margin-left: 35px;
  overflow: hidden; }
  .pagination-list li {
    float: left;
    margin-right: 5px;
    margin-left: 5px; }
    .pagination-list li.active {
      color: #4d5057;
      font-weight: 700;
      border: 1px solid #a2a2a2;
      border-radius: 1px; }
  .pagination-list a {
    color: #82888b;
    font-size: 12px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 30px;
    text-align: center; }
    .pagination-list a:hover {
      color: #4d5057;
      text-decoration: none; }

.pagination-control-prev,
.pagination-control-next {
  position: absolute;
  top: 0;
  width: 30px;
  height: 29px; }

.pagination-control-prev {
  left: 0; }

.pagination-control-next {
  right: 0; }

.pagination-control-prev.inactive,
.pagination-control-next.inactive {
  pointer-events: none; }

.prev-page-icon,
.next-page-icon {
  width: 8px;
  height: 12px;
  position: relative;
  left: 10px;
  top: 5px; }

.prev-page-icon {
  background-position: -213px -187px; }

.next-page-icon {
  background-position: -222px -187px; }

.inactive .prev-page-icon,
.inactive .next-page-icon {
  opacity: 0.2; }

/* list-item__slug */
.list-item__slug {
	position: relative;
	padding: 20px;
	background: #f5f5f5;
}

.list-slug__close {
	width: 20px;
	height: 20px;
	background-position: -59px -242px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.list-slug__wrapper {
	display: table;
}

.slug-content--top-align {
	display: table-cell;
	vertical-align: top;
}

.list-slug__details {
	padding-left: 20px;
}

.list-slug__image {
	width: 120px;
}

.list-slug__heading {
	color: #2a2a2a;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.list-slug__subheading {
	font-size: 12px;
	margin-bottom: 15px;
}

.list-slug__wrapper .list-slug__target {
	font-size: 14px;
}

.target-arrow {
	width: 6px;
	height: 10px;
	background-position: -58px -437px;
	position: relative;
	top: 1px;
	left: 7px;
}

.list-item__slug + li .article-item-content {
	border-top: 0;
}

/* popular scooters sidebar list */
.text-slate-grey {
	color: #787878;
}

.list-type-brand .bike-target-image {
	width: 80px;
	height: 45px;
	padding-top: 7px;
	text-align: center;
	border: 1px solid #f5f5f5;
}

/* brands */
.brandlogosprite {
  background-image: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/brand-type-sprite.png?18Dec20171513599310542);
  background-repeat: no-repeat;
  display: inline-block; }

.brand-2,
.brand-1,
.brand-40,
.brand-3,
.brand-4,
.brand-11,
.brand-20,
.brand-5,
.brand-39,
.brand-6,
.brand-7,
.brand-8,
.brand-34,
.brand-17,
.brand-9,
.brand-19,
.brand-10,
.brand-12,
.brand-22,
.brand-15,
.brand-16,
.brand-13,
.brand-14,
.brand-41,
.brand-42,
.brand-81,
.brand-71,
.brand-21,
.brand-38,
.brand-23,
.brand-72,
.brand-73,
.brand-74,
.brand-75  {
  height: 30px; }

.brand-2 {
  width: 52px;
  background-position: 0 0; }

.brand-7 {
  width: 34px;
  background-position: -58px 0; }

.brand-1 {
  width: 53px;
  background-position: -97px 0; }

.brand-8 {
  width: 60px;
  background-position: -156px 0; }

.brand-12 {
  width: 40px;
  background-position: -222px 0; }

.brand-40 {
  width: 75px;
  background-position: -268px 0; }

.brand-34 {
  width: 73px;
  background-position: -349px 0; }

.brand-22 {
  width: 73px;
  background-position: -428px 0; }

.brand-3 {
  width: 26px;
  background-position: -507px 0; }

.brand-17 {
  width: 52px;
  background-position: -539px 0; }

.brand-15 {
  width: 71px;
  background-position: -597px 0; }

.brand-4 {
  width: 26px;
  background-position: -674px 0; }

.brand-9 {
  width: 59px;
  background-position: -706px 0; }

.brand-16 {
  width: 70px;
  background-position: -771px 0; }

.brand-5 {
  width: 35px;
  background-position: -847px 0; }

.brand-19 {
  width: 73px;
  background-position: -889px 0; }

.brand-13 {
  width: 73px;
  background-position: -968px 0; }

.brand-6 {
  width: 38px;
  background-position: -1047px 0; }

.brand-10 {
  width: 61px;
  background-position: -1091px 0; }

.brand-14 {
  width: 76px;
  background-position: -1159px 0; }

.brand-39 {
  width: 53px;
  background-position: -1242px 0; }

.brand-20 {
  width: 49px;
  background-position: -1300px 0; }

.brand-11 {
  width: 74px;
  background-position: -1354px 0; }

.brand-41 {
  width: 40px;
  background-position: -1432px 0; }

.brand-42 {
  width: 38px;
  background-position: -1481px 0; }

.brand-81 {
  width: 38px;
  background-position: -1529px 0; }

.brand-71 {
  width: 23px;
  background-position: -1577px 0; }

.brand-21 {
  width: 57px;
  background-position: -1737px 0; }

.brand-38 {
  width: 25px;
  background-position: -1804px 0; }

.brand-23 {
    width: 70px;
    background-position: -1839px 0;
}

.brand-72 {
	width: 31px;
	background-position: -1919px 0;
}
.brand-73 {
    width: 30px;
    background-position: -1958px 0;
}

.brand-74 {
	width: 66px;
	background-position: -2000px 0;
}

.brand-75 {
	width: 70px;
	background-position: -2076px 0;
}


/* new launch category tag start */
.sidebar-bike-list .model-category__tag {
	position: static;
	padding: 2px 5px;
	display: inline-block;
	margin-bottom: 5px;
}

.sidebar-bike-list .category--newlaunch {
	padding-left: 17px;
	background-color: transparent;
	background-position: 0;
	background-size: 10px;
}
/* new launch category tag end */
