/*
 * https: //developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Advanced_layouts_with_flexbox
 */
/*
 * Flexbox Containers
 * The 'flex' value causes an element to generate a block-level flex container box.
 */
/*
 * Flexbox Wrap
 * The 'flex-grow' property sets the flex grow factor. Negative numbers are invalid.
 * Values: nowrap | wrap | wrap-reverse
 * Default: nowrap
 */
/*
 * Flexbox Grow
 * The 'flex-grow' property sets the flex grow factor. Negative numbers are invalid.
 * Default: 0
 */
/*
 * Flexbox Align Items
 * Values: flex-start | flex-end | center | baseline | stretch Default: stretch
 */
/*
 * Flexbox Shrink
 * The 'flex-shrink' property sets the flex shrink factor. Negative numbers are invalid.
 * Default: 1
 */
/*
 * Flexbox Justify Content
 * The 'justify-content' property aligns flex items along the main axis of the current line of the flex container.
 *
 * Values: flex-start | flex-end | center | space-between | space-around
 * Default: flex-start
 */
/*
 * grid 7 layout
 * 63-37
 * 33-33-33
 * 37-63
 */
/*
 * grid 4 layout
 * 100
 * 33-33-33
 */
/*
 * grid 3 layout
 * 100
 * 43-57
 */
/*
 * grid 3 layout for list
 * 100
 * 33-67
 */
/*
 * grid 1 layout for carousel card
 * 100
 */
/*
 * grid 1 layout for list
 * 100
 */
.btn {
  display: inline-block;
  padding: 8px 42px;
  font-size: 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  text-decoration: none;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  -webkit-appearance: none; }

.btn-orange {
  background: #ef3030;
  color: #fff; }

.btn-full-width {
  display: block;
  width: 100%; }

.btn-card {
  font-size: 14px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis; }

.btn-white {
  background: #fff;
  color: #e42029;
  border: 1px solid #e42029; }

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1.42857143;
  -webkit-overflow-scrolling: touch; }

body {
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 14px;
  color: #4d5057;
  background: #f5f5f5;
  -webkit-overflow-scrolling: touch; }

*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: #0288d1;
  text-decoration: none;
  cursor: pointer; }

ul,
ol {
  list-style: none; }

article,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block; }

h1 {
  font-size: 18px;
  font-weight: 700;
  color: #2a2a2a; }

h2 {
  font-size: 16px;
  font-weight: 600;
  color: #2a2a2a; }

h3 {
  font-size: 14px;
  font-weight: 600;
  color: #4d5057; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

.container {
  width: 100%;
  margin: 0 auto;
  clear: both; }

.section-bottom-margin {
  margin-bottom: 10px; }

.box-shadow {
  -webkit-box-shadow: 2px 2px 2px 0 #dcdcdc;
  -moz-box-shadow: 2px 2px 2px 0 #dcdcdc;
  -ms-box-shadow: 2px 2px 2px 0 #dcdcdc;
  -o-box-shadow: 2px 2px 2px 0 #dcdcdc;
  box-shadow: 2px 2px 2px 0 #dcdcdc; }

.bg-white {
  background: #fff; }

.card-heading {
  padding: 15px 20px; }

.leftfloat {
  float: left; }

.rightfloat {
  float: right; }

.block {
  display: block; }

.inline-block {
  display: inline-block;
  vertical-align: middle; }

.vertical-top {
  display: inline-block;
  vertical-align: top; }

.position-rel {
  position: relative; }

.position-abt {
  position: absolute; }

.text-bold {
  font-weight: bold; }

.clear {
  clear: both; }

.fa-spinner {
  width: 16px;
  height: 16px;
  background: #fff url("https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif") no-repeat; }

.black-overlay,
.blackOut-window {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 2;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  z-index: 2; }

.font14 {
  font-size: 14px; }

.text-truncate {
  width: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.target-link {
  font-weight: 600;
  color: #2a2a2a;
  display: block; }

.cur-pointer {
  cursor: pointer; }

.lock-browser-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%; }

.bwmsprite {
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwmsprite-v4.png?v29June2017") no-repeat;
  display: inline-block; }

.carousel-heading-content {
  margin-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px; }

.swiper-heading-left-grid {
  width: 77%;
  margin-right: -4px; }

.swiper-heading-right-grid {
  width: 23%; }

.carousel-wrapper {
  position: relative;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-x: auto;
  white-space: nowrap;
  z-index: 1; }
  .carousel-wrapper .carousel-slide {
    width: 210px;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    display: inline-block;
    vertical-align: top; }

.carousel-slide .carousel-card {
  width: 100%;
  min-height: 172px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.carousel-card .card-target-block {
  min-height: 172px; }

.card-btn-block {
  padding: 10px 15px; }

.carousel-bottom-padding {
  padding-bottom: 15px; }

.carousel-top-padding {
  padding-top: 15px; }

.carousel-more-link {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px; }

.card-target-block {
  display: block; }
  .card-target-block h3:hover {
    text-decoration: underline; }

.card-image-block {
  height: 90px;
  position: relative; }
  .card-image-block img {
    width: auto;
    height: 90px;
    padding-left: 5px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif) no-repeat center; }

.card-details-block {
  padding: 10px 15px; }

.h3-title-target {
  font-size: 12px;
  margin-bottom: 5px; }

.btn-inv-teal,
.view-all-target-btn {
  background: transparent;
  color: #3799a7;
  border: 1px solid #3799a7; }

.view-all-target-btn {
  padding: 5px 6px;
  font-size: 14px; }

.text-right {
  text-align: right; }

.key-size-11 {
  font-size: 11px;
  color: #4d5057; }

.key-size-12 {
  font-size: 12px;
  color: #4d5057; }

.value-size-16 {
  font-size: 16px;
  color: #4d5057;
  font-weight: 600; }

.inr-xsm-icon {
  width: 9px;
  height: 12px;
  background-position: -38px -36px; }

.wrap-text {
  white-space: normal; }

.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.loader-content .loader {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 auto;
  border: 3px solid #2a2a2a;
  border-top-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spin 1.1s infinite linear;
  animation: spin 1.1s infinite linear;
  right: 0;
  left: 0; }

.loader-content.loader-fixed .loader {
  position: fixed;
  top: 45%; }

.loader-content.loader-relative {
  width: 100%;
  height: 150px;
  position: relative; }
  .loader-content.loader-relative .loader {
    position: absolute;
    top: 35%; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#nav-drawer {
  background: #fff;
  width: 275px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 10; }

.nav-drawer-list {
  padding-bottom: 130px; }
  .nav-drawer-list li {
    display: block;
    position: relative; }

.nested-nav-list {
  display: none;
  border-top: 1px solid #ebecec;
  border-bottom: 1px solid #ebecec;
  background: #f6f7f7; }

.nav-drawer-list .nav-item {
  color: #1a1a1a;
  text-decoration: none;
  display: block;
  height: 48px;
  padding-top: 6px;
  padding-left: 15px;
  font-weight: normal;
  cursor: pointer; }

.nested-nav-list a {
  color: #1a1a1a;
  text-decoration: none;
  display: block;
  height: 48px;
  padding-top: 6px;
  padding-left: 15px;
  font-weight: normal;
  cursor: pointer;
  padding-top: 15px;
  padding-left: 50px;
  border-left: 4px solid transparent; }
  .nested-nav-list a:hover {
    border-left: 4px solid red;
    font-weight: bold;
    background: #fff; }

.nav-drawer-list .item-active .nested-nav-list {
  display: block; }

.nav-drawer-list .fa-angle-down {
  position: absolute;
  right: 10px;
  top: 20px; }

#nav-app-content {
  width: 275px;
  border-top: 1px solid #e2e2e2;
  padding: 10px;
  background: #f5f5f5;
  position: fixed;
  bottom: 0; }
  #nav-app-content p {
    width: 69%; }

#nav-drawer,
#nav-app-content {
  left: -275px; }

.nav-app-install-btn.btn {
  font-size: 12px;
  padding: 6px 18px; }

body.nav-drawer-active {
  overflow-y: hidden; }

.nav-drawer-active #nav-drawer,
.nav-drawer-active #nav-app-content {
  left: 0; }

.nav-drawer-active #nav-drawer {
  -webkit-box-shadow: 0 0 5px 0 #222;
  -moz-box-shadow: 0 0 5px 0 #222;
  -ms-box-shadow: 0 0 5px 0 #222;
  -o-box-shadow: 0 0 5px 0 #222;
  box-shadow: 0 0 5px 0 #222; }

.nav-drawer-active .black-overlay {
  display: block;
  z-index: 5; }

.item-active .fa-angle-down {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg); }

.transition-ease {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.padding-top10 {
  padding-top: 10px; }

.padding-left15 {
  padding-left: 15px; }

.border-solid-top {
  border-top: 1px solid #e2e2e2; }

.home-icon,
.news-icon,
.newBikes-icon,
.scooter-icon,
.usedBikes-icon,
.sellBikes-icon,
.reviews-icon,
.news-icon,
.cancellation-icon,
.myBikeWale-icon,
.logout-icon,
.password-icon,
.inquiry-icon,
.newsletter-icon,
.track-day,
.forum-icon {
  width: 24px;
  height: 22px;
  margin-right: 14px;
  top: 5px;
  position: relative; }

.home-icon {
  background-position: 0 -40px; }

.newBikes-icon {
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/bike-22x13.png") no-repeat center;
  display: inline-block; }

.scooter-icon {
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/scooter-22x15.png") no-repeat center;
  display: inline-block; }

.usedBikes-icon {
  background-position: 0 -178px; }

.sellBikes-icon {
  background-position: 0 -155px; }

.news-icon {
  background-position: 0 -132px; }

.reviews-icon {
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/review-24x16.png") no-repeat center;
  display: inline-block; }

.news-icon {
  background-position: 0 -132px; }

.track-day {
  background-position: -188px -498px;
  top: 4px; }

.forum-icon {
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/calculator.png) no-repeat center;
  display: inline-block; }

.myBikeWale-icon {
  background-position: 0 -86px; }

.logout-icon {
  background-position: 0 -63px;
  left: 2px; }

.password-icon {
  background-position: 0 -201px; }

.inquiry-icon {
  background-position: 0 -224px; }

.newsletter-icon {
  background-position: 0 -247px; }

.fa-angle-down {
  width: 12px;
  height: 7px;
  background-position: -155px -87px;
  -moz-transition: transform .3s;
  -webkit-transition: transform .3s;
  -o-transition: transform .3s;
  -ms-transition: transform .3s;
  transition: transform .3s; }

.new-flag {
  width: 34px;
  height: 16px;
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/new-flag.png") no-repeat;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 5px; }

.auto-expo-nav {
  padding: 15px;
  background: #0e3a50;
  background: -moz-linear-gradient(left, #0e3a50 0%, #187191 100%);
  background: -webkit-linear-gradient(left, #0e3a50 0%, #187191 100%);
  background: linear-gradient(to right, #0e3a50 0%, #187191 100%);
  display: block;
  cursor: pointer; }

.auto-expo-nav__logo {
  width: 61px;
  height: 32px;
  background-image: url("https://imgd.aeplcdn.com/0x0/cw/es/auto-expo-2018/auto-expo-white.svg?v1");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  .auto-expo-nav__logo:after {
    content: '';
    position: absolute;
    top: 16px;
    right: -23px;
    width: 15px;
    height: 10px;
    display: inline-block;
    background: url("https://imgd.aeplcdn.com/0x0/cw/static/icons/svg/uparrow.svg") no-repeat 50%;
    background-size: cover;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0.6; }

.auto-expo-nav__title {
  width: 65%;
  display: inline-block;
  vertical-align: middle; }

.auto-expo-nav__title--main,
.auto-expo-nav__title--sub {
  color: #fff; }

.auto-expo-nav__title--sub {
  text-transform: uppercase;
  font-size: 11px;
  opacity: 0.6;
  letter-spacing: 1px; }

.auto-expo-nav__title--main {
  font-size: 14px; }

.global-search-popup {
  position: fixed;
  left: 5px;
  top: 5px;
  right: 5px;
  z-index: 10; }
  .global-search-popup .back-arrow-box {
    height: 30px;
    width: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 11;
    cursor: pointer; }

.back-long-arrow-left {
  background-position: -155px 0;
  width: 21px;
  height: 16px;
  position: absolute;
  top: 7px;
  left: 10px; }

.global-search-popup .cross-box {
  height: 30px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 11;
  cursor: pointer; }

.global-search-popup .cross-md-dark-grey {
  width: 13px;
  height: 13px;
  position: absolute;
  right: 13px;
  top: 8px;
  z-index: 11;
  background-position: -62px -246px; }

.global-search-popup .form-control {
  padding: 10px 50px; }

#global-recent-searches li {
  height: 40px !important;
  background: #fff; }

.cross-md-dark-grey {
  width: 13px;
  height: 13px;
  background-position: -62px -246px; }

.autocomplete-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  text-align: left;
  border-radius: 0 0 2px 2px;
  border: 1px solid #ccc;
  border-top: 0; }
  .autocomplete-menu .menu--item-label {
    color: #333;
    width: 50%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.autocomplete-menu--item {
  padding: 10px;
  cursor: pointer; }
  .autocomplete-menu--item:after {
    content: '';
    display: block;
    clear: both; }

.menu--right-align-label {
  width: auto;
  position: absolute;
  right: 10px;
  font-size: 12px; }

.menu--item-focus {
  background: #eee; }

.menu--full-width-item .menu--item-label {
  width: 100%; }

.menu--no-item-icon .menu--item-icon {
  display: none; }

.autocomplete-wrapper .cross-sm-dark-grey {
  width: 18px;
  height: 18px;
  background-position: -81px -235px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1; }

.history-icon,
.search-icon {
  width: 16px;
  position: relative;
  margin-right: 10px;
  float: left; }

.history-icon {
  height: 13px;
  background-position: -126px -265px;
  top: 3px; }

.search-icon {
  height: 16px;
  background-position: -126px -249px;
  top: 2px;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85); }

.text-blue {
  color: #0288d1; }

.trending-icon {
  width: 16px;
  height: 12px;
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/787878/trending.svg) no-repeat;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle; }

#new-global-search-section,
#global-search-section {
  position: absolute;
  width: 100%;
  text-align: left;
  border-top: none;
  z-index: 1;
  border: 1px solid #ccc;
  padding-bottom: 10px; }

#new-global-recent-searches {
  margin-bottom: 5px; }

.trending-searches {
  width: 16px;
  height: 12px;
  background: url(https://imgd.aeplcdn.com/0x0/bw/static/icons/787878/trending.svg) no-repeat;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle; }

.search-title {
  padding: 10px 10px 6px;
  font-size: 11px;
  color: #babfc3;
  text-align: left; }

#global-search-section a {
  text-decoration: none !important; }

.bw-ui-menu li {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  padding: 10px;
  background: #fff;
  cursor: pointer;
  position: relative; }

.bw-ui-menu a {
  color: #333;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle; }

.bw-ui-menu .upcoming-link {
  width: 35%;
  display: block;
  float: right;
  position: absolute;
  top: 12px;
  right: 10px;
  color: #0288d1;
  font-size: 12px;
  text-align: right; }

input,
select,
button {
  font-family: 'Open Sans', sans-serif, Arial;
  border: none;
  outline: none;
  margin: 0; }

input::-moz-focus-inner,
button::-moz-focus-inner,
input::-webkit-focus-inner,
button::-webkit-focus-inner {
  border: 0;
  padding: 0;
  outline: none; }

input::-webkit-input-placeholder {
  color: #a8afb3;
  font-size: 13px; }

input:-moz-placeholder,
input::-moz-placeholder {
  color: #a8afb3;
  font-size: 13px;
  opacity: 1; }

input:-ms-input-placeholder {
  color: #a8afb3;
  font-size: 13px; }

.form-control-box {
  position: relative; }

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  line-height: 1.42857143;
  color: #4d5057;
  position: relative;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(102, 175, 233, 0.6); }

input[type="text"]:focus, input[type="number"]:focus, input[type="search"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(102, 175, 233, 0.6); }

textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(102, 175, 233, 0.6); }

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff url("https://imgd.aeplcdn.com/0x0/bw/static/design15/old-images/m/dropArrowBg.png") no-repeat 96% 50%;
  padding-right: 30px;
  background: #fff;
  padding-right: 5px; }

.bwm-fullscreen-popup {
  background: #fff;
  padding: 10px 20px 30px;
  margin: auto;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  overflow-y: scroll; }

.text-capitalize {
  text-transform: capitalize; }

.btn-full-width {
  display: block;
  width: 100%; }

.cross-lg-lgt-grey {
  width: 16px;
  height: 16px;
  background-position: -36px -226px; }

.pos-top10 {
  top: 10px; }

.pos-top15 {
  top: 15px; }

.pos-right10 {
  right: 10px; }

.pos-right15 {
  right: 15px; }

.cross-sm-dark-grey {
  width: 10px;
  height: 10px;
  background-position: -85px -240px; }

.back-arrow-box {
  height: 30px;
  width: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 11;
  cursor: pointer; }

.font13 {
  font-size: 13px; }

.font18 {
  font-size: 18px; }

.font20 {
  font-size: 20px; }

.margin-bottom20 {
  margin-bottom: 20px; }

.padding-right30 {
  padding-right: 30px; }

.text-center {
  text-align: center; }

.bottom-shadow {
  box-shadow: 0 2px 2px #ccc; }

.model-ribbon-tag {
  position: relative;
  top: -5px;
  left: -20px;
  font-size: 12px;
  padding: 2px 20px 2px 10px;
  display: inline-block; }

.upcoming-ribbon {
  color: #fff;
  background: #4d5057; }

.discontinued-ribbon {
  color: #4d5057;
  background: #b5b5b5; }

.model-ribbon-tag:after {
  content: '';
  position: absolute;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 0;
  top: 0; }

.fa-arrow-back {
  width: 12px;
  height: 20px;
  background-position: -63px -162px; }

.jumbotron {
  width: 100%;
  height: 180px;
  display: block;
  position: relative;
  overflow: hidden;
  background: #fff; }
  .jumbotron .jumbotron__link {
    width: auto;
    height: 180px;
    display: block;
    background-image: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 0 auto; }

.jumbotron__image {
  width: 320px;
  position: relative;
  top: -32px; }

.jumbotron__head {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(5, 0, 0, 0.7)), 0; }

.jumbotron-list .misc-list-title {
  padding-left: 20px;
  font-size: 14px;
  color: #4d5057;
  font-weight: normal; }

.container .view-all-btn-container {
  text-align: center; }

.card-list__info {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #82888b;
  font-size: 12px; }

.card-list__details {
  line-height: 1.7;
  margin-bottom: 10px;
  font-size: 14px;
  color: #82888b; }

.carousel-heading__title-center {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px; }

.carousel-wrapper.carousel-type-video .carousel-slide {
  margin-right: 10px;
  width: 270px;
  padding: 0;
  min-height: 290px;
  background: #fff;
  border: 1px solid; }
  .carousel-wrapper.carousel-type-video .carousel-slide:first-child {
    margin-left: 10px; }

.carousel-wrapper.carousel-type-video .carousel-card {
  box-shadow: none; }

.carousel-wrapper.carousel-type-video .card-image-block {
  height: 157px;
  width: 100%; }
  .carousel-wrapper.carousel-type-video .card-image-block a {
    display: block; }
  .carousel-wrapper.carousel-type-video .card-image-block img {
    height: 157px;
    width: 100%;
    padding-left: 0; }

.card-details-block a {
  white-space: normal; }

.card-list-title {
  font-size: 14px;
  color: #4d5057;
  font-weight: bold;
  white-space: normal; }

.powerdrift-banner {
  width: 87%;
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/landing-banners/m/m-powerdrift-banner.jpg") center no-repeat #222;
  height: 109px; }

.powerdrift-banner__title {
  padding-top: 10px;
  margin-left: 20px;
  padding-bottom: 10px;
  color: #fff;
  font-weight: bold; }

.powerdrift-subscribe {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 5px 0; }
  .powerdrift-subscribe .powerdrift-subscribe__head {
    margin-top: 3px;
    float: left;
    font-size: 14px; }

.teal-right {
  background-position: -69px -437px;
  width: 6px;
  height: 10px;
  position: relative;
  top: 1px;
  margin-left: 6px; }

.text-default {
  color: #4d5057; }

.text-white {
  color: #fff; }

.font12 {
  font-size: 12px; }

.text-light-grey,
.text-medium-grey {
  color: #82888b; }

.miscWrapper {
  padding: 20px;
  background: #fff;
  overflow: hidden; }
  .miscWrapper li {
    width: 100%;
    border-top: 1px solid;
    margin-top: 20px;
    padding-top: 20px; }
    .miscWrapper li:first-child {
      border-top: none;
      margin-top: 0;
      padding-top: 0; }

.misc-container {
  display: table; }
  .misc-container a {
    display: table-cell;
    vertical-align: middle; }

.misc-list-image {
  width: 100px;
  height: 56px;
  background-image: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  text-align: center; }
  .misc-list-image .misc-container__image {
    height: 56px; }
    .misc-list-image .misc-container__image img {
      width: 100%;
      position: relative;
      top: -9px;
      border: none; }

#listVideos1 .misc-list-title {
  padding-left: 20px;
  font-size: 14px;
  color: #4d5057;
  font-weight: bold; }

.views-count-container {
  min-width: 50%;
  font-size: 14px;
  float: left;
  padding-right: 10px; }
  .views-count-container span {
    margin-right: 5px; }
    .views-count-container span:last-child {
      margin-right: 0; }

.video-views-icon {
  width: 17px;
  height: 13px;
  background-position: -59px -303px; }

.video-likes-icon {
  width: 15px;
  height: 15px;
  background-position: -63px -322px;
  position: relative;
  top: 2px; }

.border-light-left {
  border-left: 1px solid #e2e2e2; }

.padding-right10 {
  padding-right: 10px; }

.padding-left10 {
  padding-left: 10px; }

.padding-bottom10 {
  padding-bottom: 10px; }

.padding-left20 {
  padding-left: 20px; }

.margin-top5 {
  margin-top: 5px; }

.margin-bottom10 {
  margin-bottom: 10px; }

.margin-bottom20 {
  margin-bottom: 20px; }

.margin-left20 {
  margin-left: 20px; }

.margin-right5 {
  margin-right: 5px; }

.margin-right20 {
  margin-right: 20px; }

.margin-top10 {
  margin-top: 10px; }

.fixed-header {
  background: #333;
  color: #fff;
  font-size: 16px;
  width: 100%;
  height: 50px;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  top: 0; }
  .fixed-header .header-title {
    width: 80%;
    float: left;
    color: #fff;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

.category-back-btn {
  width: 45px;
  padding: 15px 13px 12px;
  float: left;
  cursor: pointer; }

.padding20 {
  padding: 20px; }

.padding-15-20 {
  padding: 15px 20px; }

.padding-left5 {
  padding-left: 5px; }

.margin-bottom15 {
  margin-bottom: 15px; }

.video-detail {
  padding: 20px 20px 5px; }
  .video-detail .views-count-container {
    min-width: 90px;
    font-size: 14px;
    float: left;
    padding-right: 10px; }
    .video-detail .views-count-container span {
      margin-right: 5px; }
      .video-detail .views-count-container span:last-child {
        margin-right: 0; }

.model-more-info-section .card-list-title {
  font-size: 14px;
  color: #4d5057;
  font-weight: normal;
  white-space: normal; }

.text-xx-light {
  color: #a2a2a2; }

.model-more-info-section .misc-list-image {
  width: 100px;
  height: 56px;
  background-image: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  text-align: center; }
  .model-more-info-section .misc-list-image .misc-container__image {
    height: 56px; }
    .model-more-info-section .misc-list-image .misc-container__image img {
      width: 100%;
      position: relative;
      top: 0;
      border: none; }

.review-left-divider {
  position: relative;
  padding-left: 5px;
  margin-left: 5px; }
  .review-left-divider:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 1px;
    height: 12px;
    border-left: 1px solid #e2e2e2; }

.price-label-size-12 {
  font-size: 12px;
  color: #82888b; }

.price-value-size-18 {
  font-size: 18px;
  font-weight: 700; }

.btn.btn-180-34 {
  font-size: 14px;
  width: 180px;
  padding: 6px; }

.btn.btn-white {
  background: #fff;
  color: #e42029;
  border: 1px solid #e42029; }

.btn-red-arrow {
  width: 6px;
  height: 10px;
  background-position: -204px -35px;
  margin-left: 5px;
  position: relative;
  top: 1px; }

.rate-count-1 {
  color: #ef3f30; }

.rate-count-1 .star-icon {
  display: inline-block;
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-1-26x25.png") no-repeat center;
  vertical-align: middle;
  width: 23px;
  height: 22px;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

.rate-count-2 {
  color: #fd971c; }

.rate-count-2 .star-icon {
  display: inline-block;
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-2-26x25.png") no-repeat center;
  vertical-align: middle;
  width: 23px;
  height: 22px;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

.rate-count-3 {
  color: #efd700; }

.rate-count-3 .star-icon {
  display: inline-block;
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-3-26x25.png") no-repeat center;
  vertical-align: middle;
  width: 23px;
  height: 22px;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

.rate-count-4 {
  color: #13b65d; }

.rate-count-4 .star-icon {
  display: inline-block;
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-4-26x25.png") no-repeat center;
  vertical-align: middle;
  width: 23px;
  height: 22px;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

.rate-count-5 {
  color: #198d55; }

.rate-count-5 .star-icon {
  display: inline-block;
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/ratings/star-5-26x25.png") no-repeat center;
  vertical-align: middle;
  width: 23px;
  height: 22px;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

.model-more-info-section .used-target-label {
  width: 96%; }

.next-grey-icon {
  width: 8px;
  height: 13px;
  background-position: -182px -393px;
  vertical-align: middle; }

.video-swiper .black-overlay {
  padding-top: 24%; }

.video-play-icon {
  width: 24px;
  height: 24px;
  background-position: -107px -486px; }

.author-grey-sm-icon,
.calender-grey-sm-icon {
  width: 10px;
  height: 12px;
  margin-right: 2px;
  vertical-align: middle; }

.calender-grey-sm-icon {
  background-position: -48px -486px; }

.video-swiper .carousel-slide {
  width: 200px;
  min-height: 195px; }

.video-swiper .carousel-card {
  min-height: 196px; }

.carousel-card .card-target-block {
  min-height: 195px; }

.text-truncate-2 {
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.video-swiper .card-image-block {
  height: 113px;
  width: 100%; }
  .video-swiper .card-image-block a {
    display: block; }
  .video-swiper .card-image-block img {
    height: 113px;
    width: 100%;
    padding-left: 0; }

.video-swiper .views-count-container {
  min-width: 30%;
  font-size: 12px;
  float: left;
  padding-right: 10px; }
  .video-swiper .views-count-container span {
    margin-right: 5px; }
    .video-swiper .views-count-container span:last-child {
      margin-right: 0; }

.video-swiper .views-count-container {
  width: 50%; }

.article-stats-content {
  font-size: 12px;
  color: #82888b;
  width: 78%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.new-bike-carousel .carousel-slide {
  width: 200px;
  min-height: 182px; }

.new-bike-carousel .carousel-card {
  min-height: 182px; }

.new-bike-carousel .card-target-block {
  min-height: 182px; }

.new-bike-carousel .card-image-block {
  height: 95px;
  width: 100%; }
  .new-bike-carousel .card-image-block a {
    display: block; }
  .new-bike-carousel .card-image-block img {
    height: 95px;
    padding-top: 5px;
    padding-left: 0;
    width: 164px; }

#embedVideo {
  max-width: 476px;
  width: 100%;
  height: 180px;
  margin: 0 auto; }
  #embedVideo iframe {
    width: 100%; }

.border-light-right {
  border-right: 1px solid #e2e2e2; }

.social-wrapper {
  overflow: hidden; }
  .social-wrapper li {
    width: 38px;
    height: 24px;
    margin-right: 10px;
    float: left;
    text-align: center; }
  .social-wrapper a {
    width: 100%;
    height: 100%;
    display: block; }

.social-media-divider {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  border-top: 1px solid #e2e2e2; }

.rounded-corner2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.whatsapp-container {
  background: -webkit-linear-gradient(to bottom, #49c633, #40ad2c);
  background: -o-linear-gradient(to bottom, #49c633, #40ad2c);
  background: -moz-linear-gradient(to bottom, #49c633, #40ad2c);
  background: linear-gradient(to bottom, #49c633, #40ad2c); }

.fb-container {
  background: -webkit-linear-gradient(to bottom, #5171ba, #3b599c);
  background: -o-linear-gradient(to bottom, #5171ba, #3b599c);
  background: -moz-linear-gradient(to bottom, #5171ba, #3b599c);
  background: linear-gradient(to bottom, #5171ba, #3b599c); }

.tweet-container {
  background: -webkit-linear-gradient(to bottom, #28c0ff, #1babe7);
  background: -o-linear-gradient(to bottom, #28c0ff, #1babe7);
  background: -moz-linear-gradient(to bottom, #28c0ff, #1babe7);
  background: linear-gradient(to bottom, #28c0ff, #1babe7); }

.gplus-container {
  background: -webkit-linear-gradient(to bottom, #ff533f, #dd2a16);
  background: -o-linear-gradient(to bottom, #ff533f, #dd2a16);
  background: -moz-linear-gradient(to bottom, #ff533f, #dd2a16);
  background: linear-gradient(to bottom, #ff533f, #dd2a16); }

.mail-container {
  background: -webkit-linear-gradient(to bottom, #c6c6c6, #acacac);
  background: -o-linear-gradient(to bottom, #c6c6c6, #acacac);
  background: -moz-linear-gradient(to bottom, #c6c6c6, #acacac);
  background: linear-gradient(to bottom, #c6c6c6, #acacac); }

.social-icons-sprite {
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/social-icons-sprite.png") no-repeat;
  display: inline-block; }

.fb-icon,
.gplus-icon,
.tweet-icon {
  height: 14px;
  position: relative;
  top: 4px; }

.whatsapp-icon {
  height: 14px;
  position: relative;
  top: 4px;
  width: 12px;
  background-position: 0 0; }

.fb-icon {
  width: 8px;
  background-position: -22px 0; }

.tweet-icon {
  width: 16px;
  background-position: -39px 0; }

.gplus-icon {
  width: 14px;
  background-position: -65px 0; }

.social-icons-sprite {
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/social-icons-sprite.png") no-repeat;
  display: inline-block; }

.fb-icon,
.gplus-icon,
.tweet-icon {
  height: 14px;
  position: relative;
  top: 4px; }

.whatsapp-icon {
  height: 14px;
  position: relative;
  top: 4px;
  width: 12px;
  background-position: 0 0; }

.fb-icon {
  width: 8px;
  background-position: -22px 0; }

.tweet-icon {
  width: 16px;
  background-position: -39px 0; }

.gplus-icon {
  width: 14px;
  background-position: -65px 0; }

.header-navbar {
  background-color: #333;
  height: 50px; }

.bwm-logo {
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/bwm-logo.png") no-repeat;
  width: 84px;
  height: 24px;
  position: relative;
  top: 2px;
  display: inline-block; }

.nav-icon {
  background-position: 0 0;
  width: 20px;
  height: 15px;
  position: relative;
  top: 1px; }

.header-link {
  padding: 11px 10px 10px; }

#navbar-btn {
  padding: 15px 10px; }

.global-search {
  float: left;
  padding: 15px 10px; }

.search-bold-icon {
  width: 15px;
  height: 15px;
  background-position: -61px -278px;
  position: relative;
  top: 2px; }

.global-location {
  float: left;
  padding: 15px 20px 14px 10px;
  z-index: 5; }

.map-loc-icon {
  width: 12px;
  height: 16px;
  background-position: -40px -164px;
  position: relative;
  top: 1px; }

.hide-bw-header {
  padding-top: 50px; }
  .hide-bw-header .header-navbar {
    display: none; }

.show {
  display: block; }

.hide {
  display: none; }

.bwm-footer {
  background: #323434;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 13px;
  color: #fff; }
  .bwm-footer a {
    color: #fff; }

.footer-link-list li {
  display: inline-block; }

.footer-link-list a {
  display: inline-block;
  padding: 10px; }

[class^=grid-] {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.alpha {
  padding-left: 0; }

.omega {
  padding-right: 0; }

.grid-4 {
  width: 33.33333%; }

.grid-8 {
  width: 66.66667%; }

.bw-footer-icon {
  width: 73px;
  height: 20px;
  background-position: 0 -547px;
  position: relative;
  top: 2px; }

.cw-footer-icon {
  width: 69px;
  height: 12px;
  background-position: -78px -516px; }

.cw-logo-label {
  font-size: 8px;
  color: #cfcfcf;
  margin-left: 13px;
  position: relative;
  top: -5px; }

.ct-footer-icon {
  width: 93px;
  height: 17px;
  background-position: -78px -534px;
  position: relative;
  top: 4px; }

.google-play-logo {
  background-position: 2px -344px;
  width: 118px;
  height: 42px;
  margin-top: 10px;
  margin-bottom: 15px; }

.bwm-footer .border-solid-bottom {
  border-bottom-color: rgba(183, 183, 183, 0.2); }

.font11 {
  font-size: 11px; }

.padding-top10 {
  padding-top: 10px; }

.padding-bottom15 {
  padding-bottom: 15px; }

.padding-bottom20 {
  padding-bottom: 20px; }

.border-solid-bottom {
  border-bottom: 1px solid #e2e2e2; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.brandlogosprite {
  background-image: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/brand-type-sprite.png?07Jun20181528360754292);
  background-repeat: no-repeat;
  display: inline-block; }

.brand-2,
.brand-1,
.brand-40,
.brand-3,
.brand-4,
.brand-11,
.brand-20,
.brand-5,
.brand-39,
.brand-6,
.brand-7,
.brand-8,
.brand-34,
.brand-17,
.brand-9,
.brand-19,
.brand-10,
.brand-12,
.brand-22,
.brand-15,
.brand-16,
.brand-13,
.brand-14,
.brand-41,
.brand-42,
.brand-81,
.brand-71,
.brand-21,
.brand-38,
.brand-23,
.brand-72,
.brand-73,
.brand-74,
.brand-75,
.brand-76,
.brand-77,
.brand-79 {
  height: 30px; }

.brand-2 {
  width: 52px;
  background-position: 0 0; }

.brand-7 {
  width: 34px;
  background-position: -58px 0; }

.brand-1 {
  width: 53px;
  background-position: -97px 0; }

.brand-8 {
  width: 60px;
  background-position: -156px 0; }

.brand-12 {
  width: 40px;
  background-position: -222px 0; }

.brand-40 {
  width: 75px;
  background-position: -268px 0; }

.brand-34 {
  width: 73px;
  background-position: -349px 0; }

.brand-22 {
  width: 73px;
  background-position: -428px 0; }

.brand-3 {
  width: 26px;
  background-position: -507px 0; }

.brand-17 {
  width: 52px;
  background-position: -539px 0; }

.brand-15 {
  width: 71px;
  background-position: -597px 0; }

.brand-4 {
  width: 26px;
  background-position: -674px 0; }

.brand-9 {
  width: 59px;
  background-position: -706px 0; }

.brand-16 {
  width: 70px;
  background-position: -771px 0; }

.brand-5 {
  width: 35px;
  background-position: -847px 0; }

.brand-19 {
  width: 73px;
  background-position: -889px 0; }

.brand-13 {
  width: 73px;
  background-position: -968px 0; }

.brand-6 {
  width: 38px;
  background-position: -1047px 0; }

.brand-10 {
  width: 61px;
  background-position: -1091px 0; }

.brand-14 {
  width: 76px;
  background-position: -1159px 0; }

.brand-39 {
  width: 53px;
  background-position: -1242px 0; }

.brand-20 {
  width: 49px;
  background-position: -1300px 0; }

.brand-11 {
  width: 74px;
  background-position: -1354px 0; }

.brand-41 {
  width: 40px;
  background-position: -1432px 0; }

.brand-42 {
  width: 38px;
  background-position: -1481px 0; }

.brand-81 {
  width: 38px;
  background-position: -1529px 0; }

.brand-71 {
  width: 23px;
  background-position: -1577px 0; }

.brand-21 {
  width: 57px;
  background-position: -1737px 0; }

.brand-38 {
  width: 25px;
  background-position: -1804px 0; }

.brand-23 {
  width: 70px;
  background-position: -1839px 0; }

.brand-72 {
  width: 31px;
  background-position: -1919px 0; }

.brand-73 {
  width: 30px;
  background-position: -1958px 0; }

.brand-74 {
  width: 66px;
  background-position: -2000px 0; }

.brand-75 {
  width: 70px;
  background-position: -2076px 0; }

.brand-76 {
  width: 70px;
  background-position: -2156px 0; }

.brand-77 {
  width: 70px;
  background-position: -2236px 0; }

.brand-79 {
  width: 70px;
  background-position: -2316px 0; }

.brand-type-container li {
  display: inline-block;
  vertical-align: top;
  width: 90px;
  height: 70px;
  margin-bottom: 10px;
  text-align: center; }
  .brand-type-container li:hover .brand-type-title {
    font-weight: bold; }

.brand-type-container a {
  text-decoration: none;
  color: #565a5c;
  display: inline-block; }

.brand-type-title {
  display: block;
  text-transform: capitalize; }

.brand-container {
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: 25px; }

.carousel-type-expert-review .card-details-block {
  padding-right: 0;
  padding-left: 0; }

.carousel-type-expert-review .carousel-slide {
  padding-right: 5px;
  padding-left: 5px;
  border: none; }
  .carousel-type-expert-review .carousel-slide:first-child {
    margin-left: 10px; }

.grid-5 {
  width: 41.66667%; }

.grid-6 {
  width: 50.0%; }

.grid-7 {
  width: 58.33333%; }

.padding-top20 {
  padding-top: 20px; }

.image-carousel__title {
  font-size: 18px;
  padding: 20px 20px 15px; }

.carousel__recently-added {
  position: relative;
  padding: 5px 20px 5px 0; }
  .carousel__recently-added .carousel-slide {
    width: 292px;
    height: 354px;
    padding-left: 15px; }
    .carousel__recently-added .carousel-slide:first-child {
      margin-left: 5px; }
  .carousel__recently-added .model-image__card {
    border-color: #fd8d81; }

.model-image__card {
  width: 100%;
  max-height: 354px;
  display: block;
  background-color: #fff9f9;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  text-decoration: none; }
  .model-image__card:hover {
    text-decoration: none; }

.card-image__details {
  font-size: 0;
  padding: 8px 20px 18px; }

.card-details__left-col {
  width: 70%;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2; }

.card-details__right-col {
  width: 30%;
  text-align: right;
  display: inline-block;
  vertical-align: middle; }

.card-details__make {
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
  color: #565a5c;
  margin-bottom: 3px;
  display: block; }

.card-details__model {
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  color: #2a2a2a;
  display: block; }

.card-details__image-count {
  background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/image.svg") no-repeat center;
  background-position: 0 3px;
  background-size: 16px;
  font-size: 14px;
  padding-left: 22px;
  color: #4d5057; }

.image-grid__list {
  padding: 4px;
  overflow: hidden; }
  .image-grid__list .image-grid-list__item img {
    max-width: none;
    position: absolute; }

.image-grid-list__item {
  float: left;
  height: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  border: 4px solid #fff9f9; }

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+1), .image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+7) {
  width: 63%;
  padding-bottom: 34%; }
  .image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+1) img, .image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+7) img {
    width: 100%;
    top: 0;
    left: 0; }

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+2), .image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+6) {
  width: 37%;
  padding-bottom: 34%; }
  .image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+2) img, .image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+6) img {
    width: 200%;
    top: -5%;
    left: -50%; }

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+3), .image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+4), .image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+5) {
  width: 33.33%;
  padding-bottom: 30.33%; }
  .image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+3) img, .image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+4) img, .image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+5) img {
    width: 200%;
    top: -5%;
    left: -50%; }

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+1) {
  width: 100%;
  padding-bottom: 55%; }
  .image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+1) img {
    width: 100%;
    top: 0;
    left: 0; }

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+2) {
  width: 43%;
  padding-bottom: 46%; }
  .image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+2) img {
    width: 230%;
    top: -5%;
    left: -65%; }

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+3) {
  width: 57%;
  padding-bottom: 46%; }
  .image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+3) img {
    width: 200%;
    top: -15%;
    left: -50%; }

.image-grid__list[data-grid="1"] .image-grid-list__item {
  width: 100%;
  padding-bottom: 104%; }
  .image-grid__list[data-grid="1"] .image-grid-list__item img {
    width: 200%;
    top: 0;
    left: -50%; }

.carousel__recently-added .model-image__card {
  background: #fff;
  border-color: transparent; }

.page-type--landing .image-carousel__title {
  text-align: center; }
