@{
    var AdId = Model.GetType().GetProperty("AdId").GetValue(Model, null);
}
<div id='div-gpt-ad-@string.Format("{0}-1", AdId)' style='height:253px; width:200px;'>
    <script>
        googletag.cmd.push(function () { googletag.display('div-gpt-ad-@string.Format("{0}-1", AdId)'); });
    </script>
</div>
