
@{
    var AdId = Model.GetType().GetProperty("AdId").GetValue(Model, null);
}

<div id='div-gpt-ad-@string.Format("{0}-6", AdId)' class="margin-bottom15" style='height:100px; width:320px;margin:0 auto;'>
    <script>
        googletag.cmd.push(function () { googletag.display('div-gpt-ad-@string.Format("{0}-6", AdId)'); });
    </script>
</div>