.filter-selection-value {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding-right: 20px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) no-repeat 99%;
}

.filter-selection-value.selection-auto-width {
    width: auto;
    max-width: 200px;
    font-size: 14px;
}

/* bike listing */
.bike-listing {
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
}

.bike-listing .list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #f5f5f5;
}

.bike-listing .list-item:first-child {
    border-top: none;
}

.bike-listing a:hover {
    text-decoration: none;
}

.bike-listing .item-image-content {
    width: 100%;
    height: 164px;
    background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/m/circleloader.gif) no-repeat center;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.bike-listing .item-image-content img {
    width: auto;
    height: 164px;
}

.bike-listing .black-overlay {
    height: 164px;
    padding-top: 62px;
    background: rgba(0,0,0,0.4);
}

.swiper-card {
    min-height:172px;
}

/* images carousel */

.carousel__recently-added {
	padding-right: 0;
}

.carousel__recently-added .carousel-slide {
	width: 297px;
	height: 354px;
	padding-left: 20px;
	margin-right: 0;
}

.carousel__recently-added .carousel-slide:first-child {
	margin-left: 0;
}

.carousel__recently-added .carousel-slide:last-child {
	width: 317px;
	padding-right: 20px;
}

.model-image__card {
    width: 100%;
    max-height: 354px;
    display: block;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    text-decoration: none;
}

.model-image__card:hover {
	text-decoration: none;
}

.card-image__details {
	font-size: 0;
	padding: 8px 20px 18px;
}

.card-details__left-col {
	width: 70%;
	padding-right: 5px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
}

.card-details__right-col {
	width: 30%;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.card-details__make {
	width: 100%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
	font-weight: 400;
	color: #565a5c;
	margin-bottom: 3px;
	display: block;
}

.card-details__model {
	width: 100%;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
	font-weight: 600;
	color: #2a2a2a;
	display: block;
}

.card-details__image-count {
	background: url("https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/image.svg") no-repeat center;
	background-position: 0 3px;
	background-size: 16px;
	font-size: 14px;
	padding-left: 22px;
	color: #4d5057;
}

.image-grid__list {
	padding: 4px;
	overflow: hidden;
}

.image-grid__list .image-grid-list__item img {
	max-width: none;
	position: absolute;
}

.image-grid-list__item {
	float: left;
	height: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
	border: 4px solid #fff;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+1),
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+7) {
	width: 63%;
	padding-bottom: 34%;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+1) img,
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+7) img {
	width: 100%;
	top: 0;
	left: 0;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+2),
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+6) {
	width: 37%;
	padding-bottom: 34%;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+2) img,
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+6) img {
	width: 200%;
	top: -5%;
	left: -50%;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+3),
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+4),
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+5) {
	width: 33.33%;
	padding-bottom: 30.33%;
}

.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+3) img,
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+4) img,
.image-grid__list[data-grid="7"] .image-grid-list__item:nth-child(7n+5) img {
	width: 200%;
	top: -5%;
	left: -50%;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+1) {
	width: 100%;
	padding-bottom: 55%;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+1) img {
	width: 100%;
	top: 0;
	left: 0;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+2) {
	width: 43%;
	padding-bottom: 46%;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+2) img {
	width: 230%;
	top: -5%;
	left: -65%;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+3) {
	width: 57%;
	padding-bottom: 46%;
}

.image-grid__list[data-grid="3"] .image-grid-list__item:nth-child(3n+3) img {
	width: 200%;
	top: -15%;
	left: -50%;
}

.image-grid__list[data-grid="1"] .image-grid-list__item {
	width: 100%;
	padding-bottom: 104%;
}

.image-grid__list[data-grid="1"] .image-grid-list__item img {
	width: 200%;
	top: 0;
	left: -50%;
}
