
@charset "utf-8";

.swiper-card, .swiper-slide:first-child { margin-left: 5px; }

    .btn-white:hover, .swiper-card a:hover { text-decoration: none; }

#categoryHeader { background: #333; color: #fff; font-size: 16px; width: 100%; height: 50px; position: fixed; overflow: hidden; z-index: 2; }

.category-back-btn { width: 45px; padding: 15px 13px 12px; float: left; cursor: pointer; }

.fa-arrow-back { width: 12px; height: 20px; background-position: -63px -162px; }

#categoryHeader h1 { width: 80%; float: left; color: #fff; margin-top: 12px; font-weight: 400; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.miscWrapper ul { padding: 20px; overflow: hidden; border-bottom: 1px solid #e2e2e2; }

.miscWrapper li { width: 100%; border-top: 1px solid #e2e2e2; margin-top: 20px; padding-top: 20px; }

    .miscWrapper li:first-child { border-top: none; margin-top: 0; padding-top: 0; }

.bottom-shadow { -webkit-box-shadow: 0 2px 2px #ccc; -moz-box-shadow: 0 2px 2px #ccc; box-shadow: 0 2px 2px #ccc; }

.misc-container { display: table; }

    .misc-container a { display: table-cell; vertical-align: middle; }

.misc-list-image { width: 100px; height: 54px; background: url(https://img.aeplcdn.com/bikewaleimg/images/circleloader.gif) center center no-repeat; overflow: hidden; text-align: center; }

.misc-container a img { width: 100%; }

.video-views-count-container { min-width: 140px; }

.border-light-right { border-right: 1px solid #e2e2e2; }

.card-container { padding-top: 5px; padding-bottom: 5px; }

    .card-container .swiper-slide { width: 200px; }

.swiper-card { width: 200px; min-height: 160px; border: 1px solid #e2e2e2\9; background: #fff; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2); -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2); -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, .2); box-shadow: 0 1px 4px rgba(0, 0, 0, .2); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; }

.swiper-image-preview { height: 95px; padding: 5px 5px 0; position: relative; }

    .swiper-image-preview img { height: 90px; }

.swiper-details-block { padding: 3px 15px 0; }

.swiper-btn-block { padding: 10px 15px; }

/*ratings css*/
.star-span {
    position: relative;
    top: -2px;
    transform: scale(0.9);
}

.border-light-left {
    border-left: 1px solid #ededed;
}

.star-icon {
  width: 26px;
  height: 25px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }
  .star-icon.star-size-16 {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6); }

.rate-count-1 .star-icon {
  background-position: 0 -667px; }

.rate-count-2 .star-icon {
  background-position: -38px -667px; }

.rate-count-3 .star-icon {
  background-position: 0 -278px; }

.rate-count-4 .star-icon {
  background-position: -74px -667px; }

.rate-count-5 .star-icon {
  background-position: -110px -667px; }
  
.rate-count-5 {
  color: #198D55; }

.rate-count-4 {
  color: #13B65D; }

.rate-count-3 {
  color: #EFD700; }

.rate-count-2 {
  color: #FD971C; }

.rate-count-1 {
  color: #EF3F30; }

 .review-left-divider {
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
}
  .review-left-divider:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 1px;
    height: 12px;
    border-left: 1px solid #e2e2e2;
}
/* alternate-bikes-video-swiper */
.alternate-bikes-photo-swiper.card-container {
    padding-top: 0;
    padding-bottom: 15px;
}

.alternate-bikes-photo-swiper .swiper-image-preview {
    padding-top: 0;
    position: relative;
}

.alternate-bikes-photo-swiper .swiper-details-block {
    padding-top: 8px;
}
.text-bold {
    font-weight: 600;
}
.compare-with-target {
    display: block;
    padding: 10px 35px 10px 15px;
    position: relative;
    font-size: 12px;
    color: #4d5057;
}

.compare-with-target:before {
    content: '';
    position: absolute;
    left: 8%;
    top: 0;
    width: 168px;
    height: 1px;
    border-top: 1px solid #e2e2e2;
}

.compare-sm {
    width: 17px;
    height: 12px;
    background-position: -173px -596px;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.right-arrow {
    width: 8px;
    height: 12px;
    background-position: -182px -394px;
    position: absolute;
    right: 18px;
    top: 13px;
    transform: scale(0.8);
}

.sprite-video-m {
	background: url('https://imgd.aeplcdn.com/0x0/bw/static/icons/4d5057/play-14x14.png');
	position: absolute;
	top: 11px;
	display: inline-block;
	height: 14px;
	width: 14px;
}