
@{
    ViewBag.Title = "CapitalFirst_Index";
    Layout = "~/UI/Views/Shared/_Layout.cshtml";
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/UI/css/survey/capital-first_d.css' /><link rel='stylesheet' type='text/css' href='/UI/css/zebra-datepicker.css' />";
    Model.Page_JS_Path = "/UI/src/survey/capital-first.js";
}
<section class="margin-top20">
    <div class="container">
        <div class="grid-12">
            <div class="breadcrumb margin-bottom15">
                <ul>
                    <li>
                        <a href="/">
                        <span>Home</span></a>
                    </li>
                    <li>
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <a href="">
                            <span>User reviews</span>
                        </a>
                    </li>
                    <li>
                        <span class="bwsprite fa-angle-right margin-right10"></span>
                        <span class="text-light-grey">Write a review</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<section class="margin-bottom20 capital-first-desktop">
    <div class="container">
        <div class="grid-12">
            <h2 class="heading-title">Get Instant Loan Approval</h2>
            <div class="content-box-shadow padding-bottom5">
                <div class="font14 padding-15-20 text-slate-grey padding-bottom5 collapsible-content">
                    <p class="main-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt moll</p>
                    <p class="more-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt moll</p>
                    <span class="read-more-tab read-more-target margin-top5">Read more</span>
                </div>               
                <div class="page-tabs-data">
                    <div class="personal-details-container">
                        <div>
                            <span class="personal-image-unit personal-icon bg-red round-border"></span>
                            <h3 class="personal__title">Personal details</h3>
                        </div>
                        <div id="personal-detail-tab" class="personal-details__form">
                            <div class="input-box form-control-box ">
                                <input id="cfFName" type="text" min="1" maxlength="255">
                                <label for="cfFName">First Name<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box">
                                <input id="cfLName" type="text" min="1">
                                <label for="cfLName">Last Name<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box">
                                <input id="cfNum" type="tel" maxlength="10">
                                <label for="cfNum">Mobile Number<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box">
                                <input id="cfEmail" type="text" min="1">
                                <label for="cfEmail">Email Id<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box">
                                <input id="cfDOB" type="text">
                                <label for="cfDOB">DOB<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="form-control-box gender-box ">
                                <span class="gender-label">Gender</span>
                                <ul class="position-rel pos-top10 inline-block v-align-none">
                                    <li>
                                        <input id="cfGenderF" type="radio" name="gender" value="1" checked>
                                        <label for="cfGenderF ">Female</label>
                                    </li>
                                    <li>
                                        <input id="cfGenderM" type="radio" name="gender" value="2">
                                        <label for="cfGenderM">Male</label>
                                    </li>
                                </ul>
                                <span class="error-text"></span>
                            </div>
                            <div class="form-control-box marital-box block">
                                <span class="marital-label">Marital Status</span>
                                <ul class="position-rel pos-top10 inline-block v-align-none">
                                    <li>
                                        <input id="cfMaritalM" type="radio" name="marital" value="1">
                                        <label for="cfMaritalM">Married</label>
                                    </li>
                                    <li>
                                        <input id="cfMaritalS" type="radio" name="marital" value="2" checked>
                                        <label for="cfMaritalS">Unmarried</label>
                                    </li>
                                </ul>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box width-91-percent">
                                <input id="cfAddress1" type="text" min="1">
                                <label for="cfAddress1">Address Line1<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box width-91-percent">
                                <input id="cfAddress2" type="text" min="1">
                                <label for="cfAddress2">Address Line2<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box block">
                                <input id="cfPincode" type="tel" min="1" maxlength="6">
                                <label for="cfPincode">Pincode<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box block">
                                <input id="cfPan" type="text" min="1">
                                <label for="cfPan">Pan Number<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <input type="button" id="personal-detail-submit" class="btn btn-orange btn-primary-big bw-ga margin-top20" value="Save & continue">
                        </div>
                    </div>
                    <div class="employment-details-container">
                        <div>
                            <span class="employment-image-unit gray-bag-icon bg-gray round-border"></span>
                            <h3 class="employment__title inactive">Employment details</h3>
                        </div>
                        <div id="employment-detail-tab" class="employment-details-form hide">
                            <div class="margin-bottom20">
                                <div class="form-control-box status-box margin-bottom30">
                                    <span class="employment-label">Employment Status</span>
                                    <ul class="inline-block v-align-none position-rel pos-top10">
                                        <li class="margin-right5"> 
                                            <input id="cfStatusS" type="radio" name="status" value="Salaried">
                                            <label for="cfStatusS">Salaried</label>
                                        </li>
                                        <li>
                                            <input id="cfStatusE" type="radio" name="status" value="2" checked>
                                            <label for="cfStatusE">Self-employed</label>
                                        </li>
                                    </ul>
                                    <span class="error-text"></span>
                                </div>
                            </div>
                            <div class="input-box form-control-box">
                                <input id="cfCompName" type="text" min="1" maxlength="255">
                                <label for="cfCompName">Company Name<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box width-91-percent">
                                <input id="cfCompAddress1" type="text" min="1">
                                <label for="cfCompAddress1">Official Address Line1<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box width-91-percent">
                                <input id="cfCompAddress2" type="text" min="1">
                                <label for="cfCompAddress2">Official Address Line2<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box block">
                                <input id="cfCompPincode" type="tel" min="1" maxlength="6">
                                <label for="cfCompPincode">Pincode<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <div class="input-box form-control-box block">
                                <input id="cfCompIncome" type="number">
                                <label for="cfCompIncome">Annual Income<sup>*</sup></label>
                                <span class="boundary"></span>
                                <span class="error-text"></span>
                            </div>
                            <input type="button" id="employment-detail-submit" class="btn btn-orange btn-primary-big bw-ga margin-top20" value="Submit Application">
                        </div>
                    </div>                  
                </div>
            </div>           
        </div> 
        <div class="clear"></div>            
    </div>
</section>
<section class="margin-top15"> 
    <div class="container">
        <div class="grid-12 how-works-container">
            <div class="content-box-shadow">
                <h2 class="content-inner-block-20 font18">How It Works</h2>
                <ul>
                    <li class="how-works-container__li">
                        <span class="how-works__image-unit loan-form-icon round-border"></span>
                        <div class="how-works__content">
                            <h3 class="margin-bottom10 margin-top20">Fill form online</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                        </div>
                    </li>
                    <li class="how-works-container__li">
                        <span class="how-works__image-unit loan-approval-icon round-border"></span>
                        <div class="how-works__content">
                            <h3 class="margin-bottom10 margin-top20">Get Instant Approval</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                        </div>
                    </li>
                    <li class="how-works-container__li">
                        <span class="how-works__image-unit loan-contact-icon round-border"></span>
                        <div class="how-works__content">
                            <h3 class="margin-bottom10 margin-top20">Contact for Loan </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div> 
    </div>
</section>
<section class="margin-top15 margin-bottom20">
    <div class="container">
        <div class="grid-12">
            <div class="content-box-shadow terms-condition-container padding-bottom15 collapsible-content">
                <h2 class="content-inner-block-20 font18">Terms & Conditions</h2>
                <ol class="terms-condition__content main-content">
                    <li> Sanction for a higher loan amount shall be subject to documents furnished by you and the same meetingCapital First Norms</li>
                    <li> Funding amount and tenure will vary from vehicle to vehicle</li>
                    <li> The information/particulars provided/to be provided by the Customer/Borrower to Capital First are information pertaining to the Customer/ Borrower only and not of any third party</li>
                    <li> That all the particulars filled in the application form by the Customer/Borrower are true, correct, completeand up to date in all respects and the Customer/Borrower has not withheld any information which is material.</li>
                    <li> Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
                </ol>
                <ol class="terms-condition__content more-content" start="6">
                    <li> Sanction for a higher loan amount shall be subject to documents furnished by you and the same meetingCapital First Norms</li>
                    <li> Funding amount and tenure will vary from vehicle to vehicle</li>
                    <li> The information/particulars provided/to be provided by the Customer/Borrower to Capital First are information pertaining to the Customer/ Borrower only and not of any third party</li>
                    <li> That all the particulars filled in the application form by the Customer/Borrower are true, correct, completeand up to date in all respects and the Customer/Borrower has not withheld any information which is material.</li>
                    <li> Sanction for a higher loan amount shall be sunject to documents furnished by you  and the same meeting  Capital First Norms</li>
                </ol>
                <span class="terms__read-more-tab read-more-target padding-left25 margin-top10">Read more</span> 
            </div>
        </div>
        <div class="clear"></div>
    </div>     
</section>


<script defer src="/UI/src/zebra-datepicker.js"></script>
