@mixin inr-xsm-icon
    .inr-xsm-icon
        width: 9px
        height: 12px
        background-position: -38px -36px

@mixin inr-sm-icon
    .inr-sm-icon
        width: 10px
        height: 14px
        background-position: -40px -79px

@mixin inr-12-grey
    .inr-12-grey
        width: 8px
        height: 10px
        background-position: -102px -137px
        position: relative
        top: 1px
