@mixin key-size($paramter)
    .key-size-#{$paramter}
        font-size: $paramter * 1px
        color: $primary-color

@mixin value-size($paramter)
    .value-size-#{$paramter}
        font-size: $paramter * 1px
        color: $primary-color
        font-weight: 600
