
@model Bikewale.Models.BikeSeries.SeriesPageVM

@{
    Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/UI/sass/m/model-series/series.css' inline>";
    Model.Page_JS_Path = "/UI/m/src/model-series/series.js";
    
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<section>
    <div class="container margin-bottom20 bg-white">
		<h1 class="padding-15">Bajaj Pulsar Series</h1>
		<div class="intro-card">
			<div class="main-series-model foldable-content" data-toggle="yes">
				<p class="truncatable-content">
					The 2017 model year of the KTM RC200 doesn’t have mechanical updates, other than the fact that the engine is now BS4 compliant.A couple of changes have been made to its appearance – there are orange wheels, a white/orange paint scheme which has been introduced for 2017. Nothing else changes though, not even the price. That makes it a little more value for money, and as far as entry-level crotch rockets go, you can’t get much better than the RC200. There’s still no ABS, even as an option, and just like its elder sibling, it retains the scalpel-sharp handling that made us like it so much. If you’re looking for an all-new RC200, though, you’ll have to wait until the end of 2017 or beyond. There isn’t any real competition for the RC200 - the only other product that is as committed is the Yamaha YZF-R15, and that sits a segment below the RC200. The 2017 model year of the KTM RC200 doesn’t have mechanical updates, other than the fact that the engine is now BS4 compliant. A couple of changes have been made to its appearance – there are orange wheels, a white/orange paint scheme which has been introduced for 2017. Nothing else changes though, not even the price. That makes it a little more value for money, and as far as entry-level crotch rockets go, you can’t get much better than the RC200. There’s still no ABS, even as an option, and just like its elder sibling, it retains the scalpel-sharp handling that made us like it so much. If you’re looking for an all-new RC200, though, you’ll have to wait until the end of 2017 or beyond. There isn’t any real competition for the RC200 - the only other product that is as committed is the Yamaha YZF-R15, and that sits a segment below the RC200.
                </p>
				<a href="javascript:void(0)" class="read-more-button" rel="nofollow">...Read more</a>
			</div>
		</div>
    </div>
    <div class="container bg-white padding-bottom10">
        <div class="padding-left15 padding-right15 padding-top20">
            <h2 class="padding-left5 padding-right5 padding-bottom5">Bajaj Pulsar Models</h2>
            <ul>
                <li class="model-card featured-card">
                    <a href="" title="">
                        <div class="model-card__image">
                            <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                            <div class="popular-tag">
                                <span class="featured-icon">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="24px" viewBox="0 0 19 24" version="1.1">
									<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g id="review-copy-6" transform="translate(-227.000000, -2819.000000)" fill="#FF7C6F">
											<g id="Group-27" transform="translate(24.000000, 2717.000000)">
												<g id="Group-11" transform="translate(204.000000, 103.000000)">
													<g id="Group-12">
														<g id="Group-10">
															<path d="M5.74758324,12.2666667 L10.5498613,12.2666667 L10.5498613,12.2666667 C11.102146,12.2666667 11.5498613,12.7143819 11.5498613,13.2666667 L11.5498613,21.1118074 L11.5498613,21.1118074 C11.5498613,21.6399904 11.1216843,22.0681673 10.5935014,22.0681673 C10.3398892,22.0681673 10.0966618,21.9674322 9.91731453,21.7881177 L8.96409387,20.835071 L8.96409387,20.835071 C8.58457952,20.4556259 7.97321505,20.4434036 7.57883838,20.8073772 L6.42579649,21.8715292 L6.42579649,21.8715292 C6.01994168,22.2460961 5.38728493,22.2207322 5.01271809,21.8148773 C4.84224335,21.6301627 4.74758324,21.3880227 4.74758324,21.1366641 L4.74758324,13.2666667 L4.74758324,13.2666667 C4.74758324,12.7143819 5.19529849,12.2666667 5.74758324,12.2666667 Z" id="Rectangle-7"/>
															<ellipse id="Oval-3" stroke="#FFFFFF" stroke-width="2" cx="8.30827068" cy="8.05" rx="8.30827068" ry="8.05"/>
														</g>
														<ellipse id="Oval-3" stroke="#FFFFFF" stroke-width="2" cx="8.30827068" cy="8.21428571" rx="4.32030075" ry="4.27142857"/>
													</g>
												</g>
											</g>
										</g>
									</g>
								</svg>
								</span>
                                Most Popular
                            </div>
                        </div>
                        <div class="model-card__desc">
                            <span class="rating-badge" data-rate-bg="5">
                                <span class="bwmsprite star-white"></span>
                                <span>5</span>
                            </span>
                            <div class="model-card__list">
                                <div class="model-card__list-block">
                                    <h3 class="model-card__label">Bajaj Pulsar NS 200</h3>
                                    <ul class="summary-specs-list">
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                    </ul>
                                </div>
                                <div class="model-card__list-block">
                                    <p class="model-card__sub-title">Expected launch date</p>
                                    <p class="font20 text-default">&#x20b9; <span class="font-bold">92,352</span></p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="model-card__btn-block">
                        <a href="javascript:void(0)" class="btn btn-white" rel="nofollow">Check on-road price</a>
                    </div>
                </li>

                <li class="model-card">
                    <a href="" title="">
                        <div class="model-card__image">
                            <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                        </div>
                        <div class="model-card__desc">
                            <span class="rating-badge" data-rate-bg="5">
                                <span class="bwmsprite star-white"></span>
                                <span>5</span>
                            </span>
                            <div class="model-card__list">
                                <div class="model-card__list-block">
                                    <h3 class="model-card__label">Bajaj Pulsar NS 200</h3>
                                    <ul class="summary-specs-list">
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                        <li>
                                            220 cc
                                        </li>
                                    </ul>
                                </div>
                                <div class="model-card__list-block">
                                    <p class="model-card__sub-title">Expected launch date</p>
                                    <p class="font20 text-default">&#x20b9; <span class="font-bold">92,352</span></p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="model-card__btn-block">
                        <a href="javascript:void(0)" class="btn btn-white" rel="nofollow">Check on-road price</a>
                    </div>
                </li>


            </ul>
        </div>
    </div>

    <div class="container bg-white">
        <div class="padding-top20">
            <h2 class="padding-left20 padding-right20 padding-bottom10">Bajaj Pulsar Upcoming bikes</h2>
            <div>
                <div class="model-card margin-left15 margin-right15">
                    <a href="" title="">
                        <div class="model-card__image">
                            <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                        </div>
                        <div class="model-card__desc">
                            <div class="model-card__list">
                                <div class="model-card__list-block">
                                    <h3 class="model-card__label">Bajaj Pulsar NS 200</h3>
                                </div>
                                <div class="model-card__list-block">
                                    <p class="model-card__sub-title">Expected launch date</p>
                                    <p class="font18">&#x20b9; <span class="font-bold">1,60,000 - </span> &#x20b9; <span class="font-bold">1,80,000</span></p>
                                    </div>
                                <div class="model-card__list-block">
                                    <p class="model-card__sub-title">Expected launch date</p>
                                    <p class="font16 font-bold">February 2018</p>
                                    </div>
                            </div>
                        </div>
                    </a>
                </div>
            <div class="swiper-container upcoming-model-swiper card-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                <div class="model-card">
                    <a href="" title="">
                        <div class="model-card__image">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                        </div>
                        <div class="model-card__desc">
                            <div class="model-card__list">
                                <div class="model-card__list-block">
                                    <h3 class="model-card__label">Bajaj Pulsar NS 200</h3>
                                </div>
                                <div class="model-card__list-block">
                                    <p class="model-card__sub-title">Expected launch date</p>
                                    <p class="font18">&#x20b9; <span class="font-bold">1,60,000 - </span> &#x20b9; <span class="font-bold">1,80,000</span></p>
                                    </div>
                                <div class="model-card__list-block">
                                    <p class="model-card__sub-title">Expected launch date</p>
                                    <p class="font16 font-bold">February 2018</p>
                                    </div>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>

                     <div class="swiper-slide">
                <div class="model-card">
                    <a href="" title="">
                        <div class="model-card__image">
                                <img class="swiper-lazy" data-src="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                        </div>
                        <div class="model-card__desc">
                            <div class="model-card__list">
                                <div class="model-card__list-block">
                                    <h3 class="model-card__label">Bajaj Pulsar NS 200</h3>
                                </div>
                                <div class="model-card__list-block">
                                    <p class="model-card__sub-title">Expected launch date</p>
                                    <p class="font18">&#x20b9; <span class="font-bold">1,60,000 - </span> &#x20b9; <span class="font-bold">1,80,000</span></p>
                                    </div>
                                <div class="model-card__list-block">
                                    <p class="model-card__sub-title">Expected launch date</p>
                                    <p class="font16 font-bold">February 2018</p>
                                    </div>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
                    <div class="swiper-slide">
                <div class="model-card">
                    <a href="" title="">
                        <div class="model-card__image">
                                <img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                        </div>
                        <div class="model-card__desc">
                            <div class="model-card__list">
                                <div class="model-card__list-block">
                                    <h3 class="model-card__label">Bajaj Pulsar NS 200</h3>
                                </div>
                                <div class="model-card__list-block">
                                    <p class="model-card__sub-title">Expected launch date</p>
                                    <p class="font18">&#x20b9; <span class="font-bold">1,60,000 - </span> &#x20b9; <span class="font-bold">1,80,000</span></p>
                                    </div>
                                <div class="model-card__list-block">
                                    <p class="model-card__sub-title">Expected launch date</p>
                                    <p class="font16 font-bold">February 2018</p>
                                    </div>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="container bg-white">
        <div class="padding-top20 padding-bottom15">
            <div class="carousel-heading-content">
                <div class="swiper-heading-left-grid inline-block">
                    <h2>Pulsar Bikes Comparisons</h2>
                </div>
                <div class="swiper-heading-right-grid inline-block text-right">
                    <a href="" title="" class="font16">View all</a>
                </div>
                <div class="clear"></div>
            </div>

            <div class="swiper-container comparison-swiper card-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <a href="" title="" class="card-target">
                                <h4 class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </h4>
                                <div class="grid-6 padding-left5">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="" title="" data-src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default font-bold">1,58,149</span>
                                    </div>
                                																<span class="compare-icon">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="26px" viewBox="0 0 26 26" version="1.1">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="review-copy-6" transform="translate(-157.000000, -2337.000000)">
            <g id="Group-4" transform="translate(157.000000, 2309.000000)">
                <g id="Group-22" transform="translate(0.000000, 28.000000)">
                    <g id="Rectangle-7-Copy">
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"/>
                        <rect stroke="#D5D5D5" stroke-width="1" x="0.5" y="0.5" width="25" height="25" rx="12.5"/>
                    </g>
                    <text id="VS" font-family="Lato-Regular, Lato" font-size="11" font-weight="normal" fill="#D5D5D5">
                        <tspan x="6" y="17">VS</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>
								</span>
								</div>

                                <div class="grid-6 padding-left10">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="Royal Enfield Bullet 350" title="Royal Enfield Bullet 350" data-src="https://imgd.aeplcdn.com//144x81//bw/models/royalenfield-bullet.jpg?20160410150931&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default text-bold">1,26,167</span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="margin-top20 margin-left20 margin-right20">
                                    <span class="btn btn-white">Compare now</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <a href="" title="" class="card-target">
                                <h4 class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </h4>
                                <div class="grid-6 padding-left5">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="" title="" data-src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default font-bold">1,58,149</span>
                                    </div>
																									<span class="compare-icon">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="26px" viewBox="0 0 26 26" version="1.1">
        <rect id="path-1" x="0" y="0" width="26" height="26" rx="13"/>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="review-copy-6" transform="translate(-157.000000, -2337.000000)">
            <g id="Group-4" transform="translate(157.000000, 2309.000000)">
                <g id="Group-22" transform="translate(0.000000, 28.000000)">
                    <g id="Rectangle-7-Copy">
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"/>
                        <rect stroke="#D5D5D5" stroke-width="1" x="0.5" y="0.5" width="25" height="25" rx="12.5"/>
                    </g>
                    <text id="VS" font-family="Lato-Regular, Lato" font-size="11" font-weight="normal" fill="#D5D5D5">
                        <tspan x="6" y="17">VS</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>
								</span>
                                </div>
                                <div class="grid-6 padding-left10">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="Royal Enfield Bullet 350" title="Royal Enfield Bullet 350" data-src="https://imgd.aeplcdn.com//144x81//bw/models/royalenfield-bullet.jpg?20160410150931&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default text-bold">1,26,167</span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="margin-top20 margin-left20 margin-right20">
                                    <span class="btn btn-white">Compare now</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <a href="" title="" class="card-target">
                                <h4 class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </h4>
                                <div class="grid-6 padding-left5">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="" title="" data-src="https://imgd.aeplcdn.com//144x81//bw/models/bajaj-dominar400.jpg?20161512143417&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default font-bold">1,58,149</span>
                                    </div>
																									<span class="compare-icon">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="26px" viewBox="0 0 26 26" version="1.1">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="review-copy-6" transform="translate(-157.000000, -2337.000000)">
            <g id="Group-4" transform="translate(157.000000, 2309.000000)">
                <g id="Group-22" transform="translate(0.000000, 28.000000)">
                    <g id="Rectangle-7-Copy">
                        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"/>
                        <rect stroke="#D5D5D5" stroke-width="1" x="0.5" y="0.5" width="25" height="25" rx="12.5"/>
                    </g>
                    <text id="VS" font-family="Lato-Regular, Lato" font-size="11" font-weight="normal" fill="#D5D5D5">
                        <tspan x="6" y="17">VS</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>
								</span>
                                </div>
                                <div class="grid-6 padding-left10">
                                    <div class="compare-img">
                                        <img class="swiper-lazy" alt="Royal Enfield Bullet 350" title="Royal Enfield Bullet 350" data-src="https://imgd.aeplcdn.com//144x81//bw/models/royalenfield-bullet.jpg?20160410150931&amp;q=70" src="" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </div>
                                    <div class="padding-left10 padding-right5">
                                        <p class="font11 text-light-grey text-truncate">Ex-showroom, Pune</p>
                                        <span class="text-default font16">&#x20B9;</span>&nbsp;<span class="font16 text-default text-bold">1,26,167</span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="margin-top20 margin-left20 margin-right20">
                                    <span class="btn btn-white">Compare now</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container bg-white">
        <div class="padding-top20">
            <h2 class="padding-right20 padding-bottom10 padding-left20">Find The Right Pulsar</h2>
            <p class="padding-left20 font12 font-bold padding-right20">What’s are you looking for?</p>
            <div class="find-right-bike margin-top15">
                @Html.Partial("~/Views/BikeSeries/_BikeSeriesCompareBikesWithSpecs.cshtml", Model.ObjModel)

            </div>
        </div>
    </div>
    <div class="container bg-white">
		<h2 class="padding-left15 padding-right15 padding-top15">Pulsar Latest Updates</h2>
		<div id="modelLatestUpdatesWrapper" class="block">
                <div id="modelLatestUpdatesTopContent" class="overall-specs__top-content margin-bottom5 bg-white position-rel">
				<div id="overallUpdatesTab" class="overall-specs-tabs-container">
					<ul class="overall-specs-tabs-wrapper">
						<li data-tabs="#newsContent" class="bw-ga active news-tabs">
							News
						</li>
						<li data-tabs="#videoContent" class="bw-ga video-tabs">
							Videos
						</li>
						<li data-tabs="#reviewContent" class="bw-ga reviews-tabs">
							Reviews
						</li>
					</ul>

				</div>
			</div>

			<div id="newsContent" class="bw-model-tabs-data content-details-wrapper active">
				<h2>News</h2>
				<ul class="overalltab__section-list">
					<li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="news-section__sub-title">JAN 03, 2017</p>
								<p class="model-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
					<li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="news-section__sub-title">JAN 03, 2017</p>
								<p class="model-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
					<li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="news-section__sub-title">JAN 03, 2017</p>
								<p class="model-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
				</ul>
				<div class="margin-top10">
                        <span class="btn btn-inv-blue">View All News</span>
				</div>
			</div>

			<div id="videoContent" class="bw-model-tabs-data content-details-wrapper">
				<h2>Videos</h2>
				<ul class="overalltab__section-list">
					<li class="video-card-container">
						<h4 class="swiper-card__label">Pulsar SS400 New look the new FZ Series in India. Featuring a host of mechanical </h4>
						<div class="model-card__list__video-card">
							<div class="video-card__video-preview">
								<iframe width="330" height="186" src="https://www.youtube.com/embed/WDSI_AyYCtA" frameborder="0"  allowfullscreen></iframe>
							</div>
							<div class="video-card__desc clearfix">
								<div class="grid-6">
									<p class="font11 text-light-grey">JAN 03, 2017</p>
								</div>
								<div class="grid-6">
									<span class="model-card__sub-title">3.6K Views</span>
									<span class="model-card__sub-title margin-left20">
										<span class="thumbsup-icon">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px" viewBox="0 0 15 15" version="1.1">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="review-copy-6" transform="translate(-290.000000, -4233.000000)" stroke="#82888B">
            <g id="Group-24" transform="translate(16.000000, 3959.000000)">
                <g id="Group-20">
                    <g id="Group-23" transform="translate(0.000000, 32.000000)">
                        <g id="Group-21">
                            <g id="Group-33" transform="translate(4.000000, 242.000000)">
                                <g id="Group-32" transform="translate(271.000000, 0.000000)">
                                    <g id="Group-31" transform="translate(0.000000, 1.000000)">
                                        <g id="Page-1">
                                            <path d="M2.48373667,11.1808992 C2.48373667,11.1808992 3.527745,12.5305158 5.44156167,12.3880575 C6.99343667,12.3881658 10.402795,12.3637908 10.402795,12.3637908 C10.60722,12.3336742 10.8030867,12.2302158 10.9477117,12.0530908 C11.1981783,11.7465075 11.2040283,11.2929158 10.96082,10.9804825 C10.8247533,10.8057408 10.6398283,10.6991408 10.4439617,10.6604658 L9.13323667,10.6595992" id="Stroke-1" stroke-linejoin="round"/>
                                            <path d="M11.1990667,8.97784333 C11.3656833,9.00882667 11.5249333,9.06732667 11.6533083,9.196785 C11.9899,9.535435 11.959675,10.2320183 11.5408583,10.5167183 C11.3516,10.6972017 10.582325,10.622235 10.4439833,10.6604767" id="Stroke-3" stroke-linejoin="round"/>
                                            <path d="M11.1606625,7.20007167 C11.1606625,7.20007167 11.8672125,7.19606333 12.0274375,7.32974667 C12.4877458,7.71422167 12.5576208,8.34786333 12.2188625,8.68434667 C12.0656792,8.83644667 11.8157542,8.97359667 11.6159875,8.98757167 L9.17144583,8.98952167" id="Stroke-5" stroke-linejoin="round"/>
                                            <path d="M9.17755583,7.18822 L11.8533892,7.20002833 C12.1614892,7.16785333 12.4136892,6.96657 12.5825808,6.79876167 C12.9213392,6.46238667 12.8042308,5.83752 12.4677475,5.49887 C12.2995058,5.32943667 12.0785058,5.244395 11.8572892,5.24352833 L7.27381417,5.22825333 C7.27381417,5.22825333 7.94233917,3.060395 7.77073917,2.51872833" id="Stroke-7" stroke-linejoin="round"/>
                                            <path d="M7.7982125,2.71752 C7.7982125,2.71752 8.08962917,-0.806563333 5.70337083,0.252828333 C6.28587917,2.51872833 4.76227917,5.17517 4.76227917,5.17517" id="Stroke-9" stroke-linejoin="round"/>
                                            <path d="M2.50637833,5.7642325 L4.90097833,5.0498825" id="Stroke-11"/>
                                            <path d="M2.0464925,12.9921025 L0.486059167,12.9867942 C0.246750833,12.9860358 0.0533758333,12.7913608 0.0541341667,12.5520525 L0.0802425,4.7933275 C0.0810008333,4.55401917 0.275675833,4.36064417 0.514984167,4.36151083 L2.07552583,4.36671083 C2.31483417,4.3675775 2.50810083,4.5622525 2.5073425,4.80156083 L2.4813425,12.5602858 C2.48047583,12.7995942 2.28580083,12.9928608 2.0464925,12.9921025 Z" id="Stroke-13"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
										</span>
										9,904
									</span>
								</div>

							</div>
						</div>
					</li>

					<li class="video-card-container">
						<h4 class="swiper-card__label">Pulsar SS400 New look the new FZ Series in India. Featuring a host of mechanical </h4>
						<div class="model-card__list__video-card">
							<div class="video-card__video-preview">
								<iframe width="330" height="186" src="https://www.youtube.com/embed/WDSI_AyYCtA" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="video-card__desc clearfix">
								<div class="grid-6">
									<p class="font11 text-light-grey">JAN 03, 2017</p>
								</div>
								<div class="grid-6">
									<span class="model-card__sub-title">3.6K Views</span>
									<span class="model-card__sub-title margin-left20">
										<span class="thumbsup-icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px" viewBox="0 0 15 15" version="1.1">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="review-copy-6" transform="translate(-290.000000, -4233.000000)" stroke="#82888B">
            <g id="Group-24" transform="translate(16.000000, 3959.000000)">
                <g id="Group-20">
                    <g id="Group-23" transform="translate(0.000000, 32.000000)">
                        <g id="Group-21">
                            <g id="Group-33" transform="translate(4.000000, 242.000000)">
                                <g id="Group-32" transform="translate(271.000000, 0.000000)">
                                    <g id="Group-31" transform="translate(0.000000, 1.000000)">
                                        <g id="Page-1">
                                            <path d="M2.48373667,11.1808992 C2.48373667,11.1808992 3.527745,12.5305158 5.44156167,12.3880575 C6.99343667,12.3881658 10.402795,12.3637908 10.402795,12.3637908 C10.60722,12.3336742 10.8030867,12.2302158 10.9477117,12.0530908 C11.1981783,11.7465075 11.2040283,11.2929158 10.96082,10.9804825 C10.8247533,10.8057408 10.6398283,10.6991408 10.4439617,10.6604658 L9.13323667,10.6595992" id="Stroke-1" stroke-linejoin="round"/>
                                            <path d="M11.1990667,8.97784333 C11.3656833,9.00882667 11.5249333,9.06732667 11.6533083,9.196785 C11.9899,9.535435 11.959675,10.2320183 11.5408583,10.5167183 C11.3516,10.6972017 10.582325,10.622235 10.4439833,10.6604767" id="Stroke-3" stroke-linejoin="round"/>
                                            <path d="M11.1606625,7.20007167 C11.1606625,7.20007167 11.8672125,7.19606333 12.0274375,7.32974667 C12.4877458,7.71422167 12.5576208,8.34786333 12.2188625,8.68434667 C12.0656792,8.83644667 11.8157542,8.97359667 11.6159875,8.98757167 L9.17144583,8.98952167" id="Stroke-5" stroke-linejoin="round"/>
                                            <path d="M9.17755583,7.18822 L11.8533892,7.20002833 C12.1614892,7.16785333 12.4136892,6.96657 12.5825808,6.79876167 C12.9213392,6.46238667 12.8042308,5.83752 12.4677475,5.49887 C12.2995058,5.32943667 12.0785058,5.244395 11.8572892,5.24352833 L7.27381417,5.22825333 C7.27381417,5.22825333 7.94233917,3.060395 7.77073917,2.51872833" id="Stroke-7" stroke-linejoin="round"/>
                                            <path d="M7.7982125,2.71752 C7.7982125,2.71752 8.08962917,-0.806563333 5.70337083,0.252828333 C6.28587917,2.51872833 4.76227917,5.17517 4.76227917,5.17517" id="Stroke-9" stroke-linejoin="round"/>
                                            <path d="M2.50637833,5.7642325 L4.90097833,5.0498825" id="Stroke-11"/>
                                            <path d="M2.0464925,12.9921025 L0.486059167,12.9867942 C0.246750833,12.9860358 0.0533758333,12.7913608 0.0541341667,12.5520525 L0.0802425,4.7933275 C0.0810008333,4.55401917 0.275675833,4.36064417 0.514984167,4.36151083 L2.07552583,4.36671083 C2.31483417,4.3675775 2.50810083,4.5622525 2.5073425,4.80156083 L2.4813425,12.5602858 C2.48047583,12.7995942 2.28580083,12.9928608 2.0464925,12.9921025 Z" id="Stroke-13"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
										</span>
										9,904
									</span>
								</div>

							</div>
						</div>
					</li>

				</ul>
				<div class="margin-top10">
                        <span class="btn btn-inv-blue">View All News</span>
				</div>
			</div>

			<div id="reviewContent" class="bw-model-tabs-data margin-bottom20 content-details-wrapper">
				<h2>Expert Reviews</h2>
				<ul class="overalltab__section-list">
                         <li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="news-section__sub-title">JAN 03, 2017</p>
								<p class="model-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
					<li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="news-section__sub-title">JAN 03, 2017</p>
								<p class="model-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
					<li class="news-card-container">
						<div class="margin-bottom10">
                                <a href="" title="" class="news-section__img">
								<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
                                </a>
							<div class="news-section__title-block">
                                    <a href="" title=""  class="swiper-card__label"> Pulsar NS160 vs Pulsar 180 </a>
								<p class="news-section__sub-title">JAN 03, 2017</p>
								<p class="model-card__sub-title">Omkar T.</p>
							</div>
						</div>
						<div class="news-section__desc">
							Yamaha has launched the new FZ Series in India. Featuring a host of mechanical and cosmetic
							updates, the popular 150cc motorcycle now looks and feels different….
							<a href="javascript:void(0)" class="read-more">...Read more</a>
						</div>
					</li>
				</ul>
				<div class="margin-top10">
                        <span class="btn btn-inv-blue">View All News</span>
				</div>
			</div>
			<div id="overallSpecsFooter"></div>
		</div>
    </div>

    <div class="container bg-white padding-top20">
		<div class="padding-right15 padding-left15">
			<div class="swiper-heading-left-grid inline-block">
				<h2>Bajaj Pulsar Used bikes</h2>
			</div>
			<div class="swiper-heading-right-grid inline-block text-right">
				<a href="" title="" class="font16">View all</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="swiper-container used-model-swiper card-container">
			<div class="swiper-wrapper">
                @Html.Partial("~/Views/Used/_UsedBikeByModelCity_Mobile_v1.cshtml", Model.objUsedBikes)
			</div>
		</div>
    </div>

    <div class="container bg-white padding-bottom10">
        <div class="padding-left10 padding-right10 padding-top20">
            <h2 class="padding-left5">Bajaj other series</h2>
			<ul class="model-series-list">
				<li>
					<a href="" title="">
						<div class="model-series-list__img">
							<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
						</div>
						<div class="model-list__label-block">
							<p class="model-list__title">Avenger Series</p>
							<p class="font13">3 Bikes</p>
						</div>
						<span class="right-arrow"> 
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="14px" viewBox="0 0 8 14" version="1.1">
								<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
									<g id="review-copy-6" transform="translate(-320.000000, -5738.000000)" stroke="#AAAAAA" stroke-width="1.0125">
										<polyline id="Page-1" transform="translate(324.000000, 5745.000000) scale(1, -1) translate(-324.000000, -5745.000000) " points="321 5739 327 5745 321 5751"/>
									</g>
								</g>
							</svg>
						
						</span>
					</a>
				</li>
				<li>
					<a href="" title="">
						<div class="model-series-list__img">
							<img class="lazy" data-original="https://imgd.aeplcdn.com//310x174//bw/models/ktm-rc-200.jpg?20171702125821&amp;q=70" alt="" src="" border="0">
						</div>
						<div class="model-list__label-block">
							<p class="model-list__title">Avenger Series</p>
							<p class="font13">3 Bikes</p>
						</div>
						<span class="right-arrow">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="14px" viewBox="0 0 8 14" version="1.1">
								<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
									<g id="review-copy-6" transform="translate(-320.000000, -5738.000000)" stroke="#AAAAAA" stroke-width="1.0125">
										<polyline id="Page-1" transform="translate(324.000000, 5745.000000) scale(1, -1) translate(-324.000000, -5745.000000) " points="321 5739 327 5745 321 5751"/>
									</g>
								</g>
							</svg>
						</span>
					</a>
				</li>
			</ul>
        </div>
    </div>
</section>
