.padding-14-20 {padding: 14px 20px;}
.padding-18-20 {
    padding: 18px 20px;
}
.float-none {
    float: none;
}
.btn-size-150 {
    font-size: 14px;
    width: 150px;
    padding: 5px 0;
}
.bike-review-features li {
    border-left: 1px solid #b7b7b7;
    color: #a2a2a2;
    display: inline-block;
    line-height: 14px;
    padding: 0 10px;
    vertical-align: middle;
}
.bike-review-features li:first-child {
    border-left: 0 none;
    padding-left: 0;
}
.bike-review-features .star-one-icon {
    position: relative;
    top: -3px;
}
/* rating box */
.display-table {
    display: table;
}
.rating-box {
    display: inline-block;
    margin-left: 35px;
    vertical-align: top;
    width: 185px;
}
.rating-box:first-child { margin-left:0;}
.star-icon-sm .star-one-icon {
    vertical-align: text-top;
    background-size: 100%;
    height: 15px;
    width: 15px;
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.rating-box.overall {
    background: #fafafa;
    width: 145px;
}
.rating-box.overall .star-one-icon {
    height: 20px;
    width: 20px;
    position: relative;
    top: 3px;
}

.rating-box.overall,
.rating-category-list-container {
    display: inline-block;
    vertical-align: middle;
}

.rating-category-list-container {
    width: 75%;
}

.rating-category-list li {
    width: 50%;
    float: left;
    padding: 5px 10px;
    font-size: 14px;
}

.rating-category-label {
    width: 130px;
    display: inline-block;
}

.review-dropdown { padding-top: 20px; width: 200px;}
#drpVersions_chosen, #drpSort_chosen {
    min-width: 200px !important;
}

.review-dropdown .select-box {
    height: 50px;
}

.model-user-review-rating-container {    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    height: 84px;
    margin-right: 20px;
    width: 148px;
    padding-top: 17px;
    text-align: center;
    margin-top: 6px;
}

/* pagination */
#footer-pagination .grid-5 {
    position: relative;
    top: 4px
}
#pagination-list-content {
    min-width: 185px;
    width: auto;
    max-width: 355px;
    float: right;
}

#pagination-list {
    margin-right: 35px;
    margin-left: 35px;
    overflow: hidden;
}

#pagination-list li {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

#pagination-list .active, #pagination-list a {
    color: #82888b;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #fff;
    display: block;
    min-width: 30px;
    text-align: center;
}

#pagination-list a:hover {
    color: #4d5057;
    text-decoration: none;
}

#pagination-list .active {
    color: #4d5057;
    font-weight: bold;
    border: 1px solid #a2a2a2;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
}

.pagination-control-prev, .pagination-control-next {
    position: absolute;
    top: 0;
    width: 30px;
    height: 29px;
}

.pagination-control-prev {
    left: 0;
}

.pagination-control-next {
    right: 0;
}

.pagination-control-prev.inactive, .pagination-control-next.inactive {
    pointer-events: none;
}

.prev-page-icon, .next-page-icon {
    width: 8px;
    height: 12px;
    position: relative;
    left: 10px;
    top: 5px;
}

.prev-page-icon {
    background-position: -213px -187px;
}

.next-page-icon {
    background-position: -222px -187px;
}

.inactive .prev-page-icon, .inactive .next-page-icon {
    opacity: 0.2;
}


.sidebar-bike-list .bike-target-image img {
    border: 1px solid #f5f5f5;
    height: 45px;
    width: 80px;
}
.padding-15-20-10 {
    padding: 15px 20px 10px;
}
.sidebar-bike-list .bike-target-image {
    line-height: 0;
}
.sidebar-bike-list .bike-target-content {
    width: 68%;
}
.sidebar-bike-list .bike-target-link h3 {
    margin-bottom: 3px;
}

.sidebar-bike-list .bike-target-link {
    border-top: 1px solid #f5f5f5;
    color: #4d5057;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sidebar-bike-list li:first-child .bike-target-link {
    border-top: 0 none;
}
.bike-review-features .star-one-icon { vertical-align: text-top;}
.sidebar-bike-list a:hover { text-decoration: none;}

.format-content > p {
    margin-bottom: 15px;
}
.format-content strong {
    display: block;
}
.btn-transparent-sm {
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    color: #4d5057;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    margin-left: 8px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    width: 42px;
    cursor: pointer;
}
.btn-transparent-sm:hover {
    text-decoration: none;
}
#report-abuse {
    display: none;
    width: 450px;
    height: 300px;
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 4;
    margin: 0 auto;
    padding: 20px 30px;
}

#report-abuse textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #e2e2e2;
    resize: none;
    font-family: 'Open Sans', sans-serif, Arial;
}

#report-abuse textarea:focus {
    box-shadow: none;
}

#popup-background {
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
}

/* icons */
.like-icon, .dislike-icon {
    width: 14px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}

.like-icon {
    background-position: -153px -501px;
}

.dislike-icon {
    background-position: -168px -501px;
}

@media only screen and (max-width: 1024px) {
    .rating-category-list-container {
        width: 72%;
    }
    .rating-category-label {
        width: 110px;
    }
}