@model Bikewale.Models.MakePageVM

<div class="overall-tabs__placeholder">
    <div class="overall-tabs__content">
        <ul class="overall-tabs__list">
            @if (Model.NewLaunchedMakeBikesNDays != null && Model.NewLaunchedMakeBikesNDays.Count() > 0)
            {
                <li class="overall-tabs-list__item tab--active" data-tabs="newlyLaunched">Newly Launched</li>
            }
            @if (Model.TopPopularBikes != null && Model.TopPopularBikes.Any())
            {
                <li class="overall-tabs-list__item" data-tabs="popularModel">Popular Models</li>
            }

            @if (Model.Bikes != null && Model.Bikes.Any())
            {
                <li class="overall-tabs-list__item" data-tabs="bikeModel">Bike Models</li>
            }
            @if (Model.IsUpComingBikesAvailable)
            {
                <li class="overall-tabs-list__item" data-tabs="upcomingBikes">Upcoming Bikes</li>
            }
            @if (Model.IsDealerServiceDataAvailable || (Model.DealersServiceCenterPopularCities != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters != null && Model.DealersServiceCenterPopularCities.DealerServiceCenters.TotalDealerCount > 0))
            {
                <li class="overall-tabs-list__item" data-tabs="dealer">Dealer / Stores</li>
            }

            @if (Model.IsNewsAvailable)
            {
                <li class="overall-tabs-list__item" data-tabs="news">News</li>
            }

            @if (Model.IsExpertReviewsAvailable || Model.IsUserReviewsAvailable)
            {
                <li class="overall-tabs-list__item" data-tabs="reviews">Reviews</li>
            }

            @if (Model.IsExpertReviewsAvailable || Model.IsUserReviewsAvailable)
            {
                <li class="overall-tabs-list__item" data-tabs="images">Images</li>
            }

            @if (Model.IsVideosAvailable)
            {
                <li class="overall-tabs-list__item" data-tabs="videos">Videos</li>
            }

        </ul>
    </div>
</div>


