@model Bikewale.Models.ModelBase

@{
	Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
	Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/m/make/make.css' inline />";
	Model.Page_JS_Path = "/m/src/make.js";
}

<section>
	<div class="container">
		
	</div>
</section>

