@model Bikewale.Models.Make.MakeFooterCategoriesandPriceVM


@if (Model != null)
{
    if (Model.FooterContent != null && Model.FooterContent.ModelPriceList != null && Model.FooterContent.ModelPriceList.Any())
    {
        var make = Model.FooterContent.ModelPriceList.First().Make.MakeName;
        
        <div class="content-inner-block-20 margin-bottom20 font14 make-subfooter">
            <div class="grid-6 alpha">
                <h2 class="make-price-table__title margin-bottom10">About @make</h2>
                <div class="about-make foldable-content" data-toggle="yes">
                    <div class="truncatable-content">
                        @foreach (var obj in Model.FooterContent.FooterDescription)
                        {
                            <h3>obj.CategoryName</h3>
                            <p> obj.CategoryDescription</p>
                        }
                    </div>
                    <a href="javascript:void(0)" class="read-more-button" rel="nofollow">Read more</a>

                </div>
            </div>
            <div class="grid-6 omega">
                <div class="make-price foldable-content" data-toggle="yes">
                    <div class="truncatable-content">
                        <table class="make-price-table">
                            <thead>
                                <tr>
                                    <th class="make-price-table__title" colspan="2">
                                        <h2>@string.Format("{0} Bikes Price List", make)</h2>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="make-price-table__head">
                                        Model
                                    </th>
                                    <th class="make-price-table__head">
                                        Price
                                        &nbsp;<span>(Ex-showroom, Mumbai)</span>
                                    </th>
                                </tr>
                                @foreach (var list in Model.FooterContent.ModelPriceList)
                                {
                                    <tr>
                                        <td class="make-price__model">@list.Model.ModelName</td>
                                        <td>
                                            &#x20b9;<span class="text-bold">&nbsp;@list.VersionPrice</span>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <a href="javascript:void(0)" class="read-more-button" rel="nofollow">More bikes</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    }



}
