@model Bikewale.Models.Photos.v1.PhotosPageVM
@if (Model != null)
{
    {
        Model.IsHeaderFix = true;
        Layout = "~/Views/Shared/_Layout.cshtml";
        Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/photos/landing.css' inline />";
        Model.Page_JS_Path = "/src/photos/landing.js";
    }
    <script type="text/javascript">
        var isMobile = false;
    </script>
}

    <section>
        <div class="container section-bottom-margin">
            <div class="grid-12">
                <div class="padding-15-20-20 content-box-shadow">
                    <h1 class="text-semibold margin-bottom10">Bike Images</h1>
                    <div class="foldable-content" data-toggle="yes">
                        <p class="truncatable-content" data-readtextflag="1">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum consectetur mauris. In convallis sem risus, pulvinar faucibus erat semper vel. Ut porttitor, turpis eget tempus euismod, velit nibh porttitor nunc, ac lobortis eros augue sed tortor. Pellentesque bibendum euismod mauris eget tempor. Nam nulla ante, facilisis a dignissim sed, suscipit vel ex. Sed in porta leo, efficitur fringilla lectus. Praesent malesuada, erat nec dictum egestas, eros ex ornare libero, hendrerit feugiat metus risus quis orci. Vestibulum in pellentesque quam. Donec fringilla massa et odio malesuada maximus. Curabitur dignissim nisi non ipsum blandit lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec libero sem, lobortis quis nisl sit amet, pretium bibendum orci. Cras sed luctus lectus. In tincidunt, leo in porttitor placerat, elit quam porttitor ex, a vestibulum massa felis ac ante. Sed sit amet tellus ac leo euismod tempus. Proin arcu turpis, aliquam vitae odio vitae, consectetur vulputate leo.
                        </p>
                        <a href="javascript:void(0)" class="read-more-button" rel="nofollow" data-text="Collapse">...Read more</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    @if (Model != null && Model.PopularSportsModelsImages != null)
    {
        <section>
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow padding-bottom15">
                        <h2 class="image-carousel__title">Popular Sport Bikes Images</h2>
                        @Html.Partial("~/Views/Photos/_ImageCaraousel.cshtml", Model.PopularSportsModelsImages)
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    }
        <section>
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow padding-top15" id="exploreModelListing">
                        <h2 class="explore-bikes__title">Explore Bikes</h2>
                        <div class="padding-bottom20">
                            <div class="explore-bikes__search form-control-box">
                                <input type="text" id="exploreBikesField" class="form-control__input" placeholder="Search Bike and Brands">
                                <span class="input__search-icon" id="btnExploreBikesField"></span>
                                <ul id="errExploreBikes" class="ui-autocomplete ui-front ui-menu hide form-control__error">
                                    <li class="ui-menu-item" tabindex="-1">
                                        <span class="text-bold">Oops! No suggestions found</span><br />
                                        <span class="text-light-grey font12">Search by bike name e.g: Maestro Edge</span>
                                    </li>
                                </ul>
                            </div>
                            @if (Model != null && Model.BikeModelsPhotos != null)
                            {
                                @Html.Partial("~/Views/Photos/_ModelsImageList.cshtml", Model.BikeModelsPhotos)
                                <div class="clear"></div>
                                if (!string.IsNullOrEmpty(Model.PageMetaTags.NextPageUrl))
                                {
                                    <div class="explore-model__more-btn">
                                        <a id="viewMoreBtn" href="@Model.PageMetaTags.NextPageUrl" class="btn btn-inv-blue" data-bind="click: $root.LoadMore, visible: $root.isLoadMore">View More</a>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>
    @if (Model != null && Model.OtherPopularMakes != null)
    {
        <section>
            <div class="container section-bottom-margin">
                <div class="grid-12">
                    <div class="content-box-shadow padding-bottom5">
                        <h2 class="related-bikes__title">Browse Images by Brands</h2>
                    @Html.Partial("~/Views/Photos/_OtherPopularMakes.cshtml", Model.OtherPopularMakes)
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    }