@model Bikewale.Models.Photos.v1.PhotosPageVM

@{
	ViewBag.Title = "Bike Images";
	Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
	Model.Page_ATF_CSS = "<link rel='stylesheet' type='text/css' href='/sass/photos/landing.css' inline />";
	Model.Page_JS_Path = "/src/photos/landing.js";
}

<section>
	<div class="container padding-15-20-20 bg-white">
		<h1 class="text-semibold margin-bottom10">Bike Images</h1>
		<div class="foldable-content" data-toggle="yes">
			<p class="truncatable-content" data-readtextflag="1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum consectetur mauris. In convallis sem risus, pulvinar faucibus erat semper vel. Ut porttitor, turpis eget tempus euismod, velit nibh porttitor nunc, ac lobortis eros augue sed tortor. Pellentesque bibendum euismod mauris eget tempor. Nam nulla ante, facilisis a dignissim sed, suscipit vel ex. Sed in porta leo, efficitur fringilla lectus. Praesent malesuada, erat nec dictum egestas, eros ex ornare libero, hendrerit feugiat metus risus quis orci. Vestibulum in pellentesque quam. Donec fringilla massa et odio malesuada maximus. Curabitur dignissim nisi non ipsum blandit lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec libero sem, lobortis quis nisl sit amet, pretium bibendum orci. Cras sed luctus lectus. In tincidunt, leo in porttitor placerat, elit quam porttitor ex, a vestibulum massa felis ac ante. Sed sit amet tellus ac leo euismod tempus. Proin arcu turpis, aliquam vitae odio vitae, consectetur vulputate leo.</p>
				<a href="javascript:void(0)" class="read-more-button" rel="nofollow" data-text="Collapse">...Read more</a>
			</div>
	</div>
</section>

<section>
	<div class="container margin-bottom15">
		<h2 class="image-carousel__title">Recently Added Bike Images</h2>
        @Html.Partial("~/Views/Photos/_ImageCaraousel_Mobile.cshtml", Model.ModelsImages)
	</div>
</section>

<section class="text-center section-bottom-margin"></section>

<section>
	<div class="container section-bottom-margin">
		<h2 class="explore-bikes__title">Explore Bikes</h2>
		<div class="explore-bikes__container">
			<div class="explore-bikes__content">
				<div class="explore-bikes__search form-control-box">
					<input type="text" id="exploreBikesField" class="form-control__input" placeholder="Search Bike and Brands">

					<ul id="errExploreBikes" class="ui-autocomplete ui-front ui-menu hide form-control__error">
							<li class="ui-menu-item" tabindex="-1">
									<span class="text-bold">Oops! No suggestions found</span><br />
									<span class="text-light-grey font12">Search by bike name e.g: Maestro Edge</span>
							</li>
					</ul>
				</div>
                @if (Model != null && Model.BikeModelsPhotos != null)
                {
                    @Html.Partial("~/Views/Photos/_ModelsImageList_Mobile.cshtml", Model.BikeModelsPhotos)
                }
				<div class="explore-model__more-btn">
					<button type="button" class="btn btn-inv-blue">View More</button>
				</div>
			</div>
		</div>
	</div>
</section>
@if (Model != null && Model.OtherPopularMakes != null)
{
    <section>
        <div class="container bg-white padding-bottom10 section-bottom-margin">
            <h2 class="related-bikes__title">Users also looked at</h2>
            @Html.Partial("~/Views/Photos/_OtherPopularMakes_Mobile.cshtml", Model.OtherPopularMakes)
        </div>
    </section>
}

