@model BikewaleOpr.Models.DealerCampaign.CampaignServingAreasVM
@using System.Linq;
@{
    ViewBag.Title = "Dealer Campaign Serving Areas";
    ViewBag.PageTitle = "Dealer Campaign Serving Areas";
}
<div class="row" style="margin-top:5px;">
    <div class="col m9">
        @if (Model.MappedAreas != null && Model.MappedAreas.Count() > 0)
        {
            <div class="card-panel">
                <h2>Automatically Mapped Areas</h2>
                @foreach (var city in Model.MappedAreas)
                {
                    <blockquote>@city.City.Name</blockquote>
                    foreach (var area in city.Areas)
                    {
                        <div class="chip">@area.Name</div>
                    }
                }
            </div>
        }
        else
        {
            <div class="col s12 m4">
                <div class="card-panel orange lighten-2">
                    <i class="material-icons">info_outline</i><span class="vertical-align-bottom margin-left5">No Areas are mapped to this dealer...</span>
                </div>
            </div>
        }
        @if (Model.AdditionallyMappedAreas != null && Model.AdditionallyMappedAreas.Count() > 0)
        {
            <div class="card-panel">
                <h2>Additionally Mapped Areas</h2>
                @foreach (var city in Model.AdditionallyMappedAreas)
                {
                    <blockquote>@city.City.Name</blockquote>
                    foreach (var area in city.Areas)
                    {
                        <div class="chip">@area.Name</div>
                    }
                }
            </div>
        }
    </div>
    <div class="col m3">
        <form method="post">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><strong>Map Dealer Areas</strong></div>
                    <div class="collapsible-body">
                        <div class="container">
                            <div class="list-type-radio">
                                <div class="input-field row s12">
                                    <input type="radio" id="campaignServingStatus1" value="1" name="campaignServingStatus" />
                                    <label for="campaignServingStatus1">Entire dealer's state</label>
                                </div>
                                <div class="input-field row s12">
                                    <input type="radio" id="campaignServingStatus2" value="2" name="campaignServingStatus" />
                                    <label for="campaignServingStatus2">Entire dealer's city</label>
                                </div>
                                <div class="input-field row s12 toggle-field-parent">
                                    <input type="radio" id="campaignServingStatus3" value="3" name="campaignServingStatus" />
                                    <label for="campaignServingStatus3">Dealer's city and serving radius</label>
                                    <div class="toggle-field-content padding-left35 margin-alpha margin-omega hide">
                                        <div class="input-field">
                                            <input id="txtServingRadiusForStatus3" type="text" class="validate" name="CampaignServingRadius" length="3" maxlength="3">
                                            <label for="txtServingRadiusForStatus3">kms</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field row s12 toggle-field-parent">
                                    <input type="radio" id="campaignServingStatus4" value="4" name="campaignServingStatus" />
                                    <label for="campaignServingStatus4">Within serving radius</label>
                                    <div class="toggle-field-content padding-left35 margin-alpha margin-omega hide">
                                        <div class="input-field">
                                            <input id="txtServingRadiusForStatus4" type="text" class="validate" name="CampaignServingRadius" length="3" maxlength="3">
                                            <label for="txtServingRadiusForStatus4">kms</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field row s12 toggle-field-parent">
                                    <input type="radio" id="campaignServingStatus5" value="5" name="campaignServingStatus" />
                                    <label for="campaignServingStatus5">Multiple cities</label>
                                    <div class="toggle-field-content select-auto-width padding-left35 margin-top10">
                                        @*<select multiple>
                                            <option>Select Cities</option>
                                            <option>Mumbai</option>
                                            <option>Thane</option>
                                        </select>*@
                                        <div id="divMultipleCities" class="chips chips-autocomplete"></div>
                                        <div class="input-field row s12 margin-alpha margin-omega">
                                            <input id="txtServingRadiusForStatus5" type="text" class="validate" name="CampaignServingRadius" length="3" maxlength="3">
                                            <label for="txtServingRadiusForStatus5">kms</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="input-field row s12">
                                <input type="hidden" value="0" name="servingRadius" id="hdnServingRadius" />
                                <input type="hidden" value="" name="cityIdList" id="hdnCityIdList" />
                                <button id="btnMapAreas" class="btn waves-effect waves-light" type="submit" name="action" formaction="/dealercampaign/servingareas/dealerid/@Model.DealerId/add/">
                                    Map Areas
                                </button>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="collapsible-header"><strong>Map Additional Areas</strong></div>
                    <div class="collapsible-body">
                        <div class="container">
                            @*<div class="row s12 materialize-select margin-top10 city-select-270">
                                <select id="ddlCityAdditional" class="chosen-select">
                                    <option>Mumbai</option>
                                    <option>Thane</option>
                                </select>
                                <span class="bwsprite error-icon hide"></span>
                                <div class="bw-blackbg-tooltip hide">Select City</div>
                                <span class="caret">▼</span>
                            </div>*@
                            <div class="input-field row s12 margin-omega">
                                <input type="text" id="autocomplete-addCity" class="autocomplete" autocomplete="off" />
                                <label for="autocomplete-addCity">Select City</label>    
                            </div>                            
                            <div class="input-field row s12 margin-omega">
                                <select multiple>
                                    <option>Select Areas</option>
                                    <option>Nerul</option>
                                    <option>Panvel</option>
                                </select>
                            </div>
                            <div class="input-field row s12">
                                <button id="btnMapAdditionalAreas" class="btn waves-effect waves-light" type="submit" name="action" formaction="/dealercampaign/servingareas/dealerid/@Model.DealerId/add/additional/">
                                    Map Areas
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><strong>Remove Additional Areas</strong></div>
                    <div class="collapsible-body">
                        <div class="container">
                            <div class="input-field row s12">
                                <select>
                                    <option>Select Cities</option>
                                    <option>Mumbai</option>
                                    <option>Thane</option>
                                </select>
                            </div>
                            <div class="input-field row s12">
                                <select multiple>
                                    <option>Select Areas</option>
                                    <option>Sea woods</option>
                                    <option>Andheri</option>
                                </select>
                            </div>
                            <div class="input-field row s12">
                                <button id="btnRemoveAreas" class="btn waves-effect waves-light" type="submit" name="action" formaction="/dealercampaign/servingareas/dealerid/@Model.DealerId/remove/additional/">
                                    Remove Areas
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
<script src="~/src/dealercampaign/campaignservingareas.js"></script>