<configuration>
  <appSettings>
    <add key="clientId" value="25965360756-5ghoacvqbiamcsqgq4bm02h1f611rtp2.apps.googleusercontent.com" />
    <add key="developer_key" value="AI39si4qu6iiRs7j2uuJE013KlEOgLCvIZRCuE_yaK8iuyWfiO1X1ER_kJIaKt5uNKv4ExIBmNR249lbRyGpQI9mcUbzo2BIXw" />    
  </appSettings>
</configuration>

