<footer class="page-footer teal no-padding">
    <div class="footer-copyright">
        <div class="container">
            &copy; Bikewale India Confidential
            <a class="grey-text text-lighten-4 right" href="https://www.bikewale.com">BikeWale</a>
        </div>
    </div>
</footer>
