@charset "utf-8";
.padding-14-20 {
    padding: 14px 20px;
}

.padding-top50 {
    padding-top: 50px;
}

/* featured */
.featured-tag {
    width:74px;
    text-align:center;
    line-height:20px;
    background:#3799a7;
    z-index:1;
    font-weight:400;
    font-size:12px;
    color:#fff;
    border-radius:2px;
}

.vertical-top {
    display:inline-block;
    vertical-align:top;
}

.dealership-card-details { 
    width:92%
}

/* direction icon */
#get-direction-button {
    width: 50px;
    height: 50px;
    background: #f9f9f9;
    position: absolute;
    right: 20px;
    bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align:center;
    cursor: pointer;
    -webkit-box-shadow: 1px 5px 15px #aaa;
    -moz-box-shadow: 1px 5px 15px #aaa;
    -o-box-shadow: 1px 5px 15px #aaa;
    box-shadow: 1px 5px 15px #aaa;
}

#get-direction-button:hover {
    -webkit-box-shadow: 1px 5px 15px #999;
    -moz-box-shadow: 1px 5px 15px #999;
    -o-box-shadow: 1px 5px 15px #999;
    box-shadow: 1px 5px 15px #999;
}

/* commute distance */
#commute-distance-form .form-control {
    width:225px;
    padding-right: 35px;
}

.location-details {
    display: none;
}

#submitAssistanceFormBtn.btn {
    padding: 8px 56px;
}

/* input field */
input { font-family: 'Open Sans',sans-serif,Arial; }
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus { outline:none; box-shadow: none; }
.input-box { height:60px; text-align: left; display: inline-block; vertical-align: top; }
.input-box input { width: 100%; display:block; padding: 6px 0; border-bottom:1px solid #82888b; font-size: 16px; font-weight: bold; color: #4d5057; }
.input-box label { position: absolute; top: 5px; left: 0; font-size:16px; color: #82888b; pointer-events:none; -webkit-transition:0.2s ease all; -moz-transition:0.2s ease all; -o-transition:0.2s ease all; transition:0.2s ease all; }
.input-number-box input { padding-left: 30px; }
.input-number-prefix { display:none; font-size: 16px; position: absolute; top: 6px; font-weight: bold; color: #82888b; }
.boundary { position: relative; width: 100%; display: block; }
.boundary:before, .boundary:after { content: ''; position: absolute; bottom: 0; width: 0; height: 2px; background-color: #41b4c4; -webkit-transition:0.2s ease all; -moz-transition:0.2s ease all; -o-transition:0.2s ease all; transition:0.2s ease all; }
.boundary:before { left:50%; }
.boundary:after { right:50%; }
.error-text { display:none; font-size:12px; position: relative; top: 0; left: 0; color: #d9534f; }
/* on focus */
.input-box input:focus ~ label { top:-14px; font-size:12px; }
.input-box.not-empty label { top:-14px; font-size:12px; }
.input-box.input-number-box input:focus ~ .input-number-prefix, .input-box.input-number-box.not-empty .input-number-prefix { display:inline-block; }
.input-box input:focus ~ .boundary:before, .input-box input:focus ~ .boundary:after { width: 50%; }
/* validation */
.input-box.invalid .boundary:before, .input-box.invalid .boundary:after, .dropdown-select-wrapper.invalid .boundary:before, .dropdown-select-wrapper.invalid .boundary:after { background-color: #d9534f; width:50%; }
.input-box.invalid .error-text, .dropdown-select-wrapper.invalid .error-text { display:inline-block; }

.type-user-details.form-control-box {
    width: 292px;
}

.type-dropdown {
    width: 462px;
}

.type-dropdown, .type-sumit-button {
    display: inline-block;
    vertical-align: bottom;
    height: 60px;
}

.type-sumit-button {
    margin-left: 35px;
}

.dropdown-select {
	display: none;
}

.dropdown-menu {
	width: 100%;
    min-width: 125px;
	font-size: 16px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #4d5057;
    border-bottom: 1px solid #82888b;
}

.dropdown-menu .dropdown-label, .dropdown-menu .dropdown-selected-item {
	width: 100%;
	font-weight: bold;
	background: url(http://imgd1.aeplcdn.com/0x0/bw/static/sprites/m/dropdown-icon.png) no-repeat 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu .dropdown-selected-item {
    background-position: 98%;
    border-bottom: 1px solid #e2e2e2;
    padding: 8px 30px 8px 10px;
}

.dropdown-menu .dropdown-label {
	cursor: pointer;
	display: inline-block;
	z-index: 0;
}

.dropdown-menu .dropdown-list-wrapper {
	display: none;
	width: 100%;
	overflow:hidden;
	position: absolute;
	top: 3px;
	left: 0;
	background: #fff;
	z-index: 1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #e2e2e2\9;
	-webkit-box-shadow: -3px 3px 15px 1px #ddd;
	-moz-box-shadow: -3px 3px 15px 1px #ddd;
	-ms-box-shadow: -3px 3px 15px 1px #ddd;
	-o-box-shadow: -3px 3px 15px 1px #ddd;
	box-shadow: -3px 3px 15px 1px #ddd;
}

.dropdown-menu.dropdown-active .dropdown-list-wrapper {
	display: inline-block;
}

.dropdown-menu .dropdown-menu-list {
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown-menu .dropdown-menu-list li {
	padding: 5px 10px;
	cursor: pointer;
	white-space: nowrap;
}

.dropdown-menu .dropdown-menu-list li[data-option-value=""]:hover {
    background: none;
    cursor: default;
}

.dropdown-menu .dropdown-with-select li:hover {
	background: #eee;
}

/* models available */
#modelsAvailable li {
    width: 290px;
    min-height: 260px;
    margin: 0 15px 25px 14px;
    display: inline-block;
    vertical-align: top;
}

.image-block {
    width: 290px;
    height: 163px;
    line-height: 0;
}

.image-block div {
    background: url(http://imgd4.aeplcdn.com/0x0/bw/static/sprites/d/loader.gif) center center no-repeat;
}

.image-block img {
    max-width: 100%;
    height: 163px;
}

.details-block {
    padding: 12px 20px 10px;
}

.text-truncate {
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* icons */
.dealership-loc-icon {
    width: 10px;
    height: 12px;
    background-position:-52px -469px;
    position: relative;
    top: 4px;
    margin-right:5px;
}

.phone-black-icon {
    width: 10px;
    height: 10px;
    background-position:-73px -444px;
    position: relative;
    top: 5px;
    margin-right:5px;
}

.star-white {
    width: 8px;
    height: 8px;
    background-position: -222px -107px;
    margin-right: 4px;
}

.mail-grey-icon {
    width:12px;
    height:10px;
    background-position:-92px -446px;
    position: relative;
    top: 5px;
    margin-right:5px;
}

.clock-icon {
    width: 12px;
    height: 12px;
    background-position: -213px -224px;
    position: relative;
    top: 4px;
    margin-right:5px;
}

.get-direction-icon {
    width:20px;
    height:20px;
    background-position:-112px -441px;
    margin-top: 15px;
}

.crosshair-icon {
    width:20px;
    height:20px;
    background:url(http://imgd1.aeplcdn.com/0x0/bw/static/sprites/d/detect-location-icon.png) no-repeat;
}

.inr-md-lg {
    width: 12px;
    height: 17px;
    background-position: -64px -515px;
    position: relative;
    top: 1px;
}

/* google map labels */
.gm-style-cc {
    display:none
}

/* dealer card */
.card {
  width: 292px;
  min-height: 140px;
  border: 1px solid #f6f6f6;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
}
.card:first-child {
    margin-left: 20px;
}
.card .card-target {
    min-height: 140px;
    display: block;
    padding: 15px 20px 0;
}
.card .card-target:hover {
    text-decoration: none;
}
.card .text-truncate {
    width: 100%;
}

.details-column {
    width: 92%
}

@media only screen and (max-width:1024px) {
    .location-details {
        font-size: 13px;
    }

    #dealer-map {
        width: 365px !important;
    }

    #modelsAvailable li {
        margin: 0 8px 25px 8px;
    }

    .type-user-details.form-control-box {
        width: 275px;
    }
    #city-dealer-list li {
        width: 280px;
    }
}

#modelsAvailable a:hover{text-decoration:none}