.article-control #makeNewsContent {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.review-image-wrapper {
    width: 120px;
    height: 68px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.review-image-wrapper a {
    width: 100%;
    display: block;
}

.review-image-wrapper img {
    width: 100%;
    height: 68px;
}

.review-heading-wrapper {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}