.padding-15-20
	padding: 15px 20px

.search-box
	.section-heading
		margin-bottom: 20px
		margin-top: 10px

#applyFiltersBtn
	float: left

.locator-search-container
	margin: 0 auto
	width: 820px

	.form-control
		padding: 8px
		border-radius: 0

.locator-search-brand,
.locator-search-city
	width: 314px
	height: 40px
	float: left

.locator-search-brand select
	width: 100%
	height: 38px
	color: #555

.locator-search-city
	select
		width: 100%
		height: 38px
		color: #555
	.chosen-container
		border-left: 0 !important

.locator-search-brand .chosen-container,
.locator-search-city .chosen-container
	border: 1px solid #e2e2e2 !important
	@include border-radius(0)
	padding: 12px 20px

.locator-search-brand .chosen-container
	border-right: none !important

.locator-search-btn.btn-lg
	padding: 10px 67px

.locator-search-container
	.error-icon
		right: 20px
	.bw-blackbg-tooltip
		right: 10px

// used section
// city
.city-card-target
	display: block
	
	&:hover
		text-decoration: none

.city-image-preview
	width: 292px
	height: 114px
	display: block
	margin-bottom: 15px
	text-align: center
	padding-top: 10px

#city-jcarousel
	padding-top: 0

	.inner-content-carousel
		.jcarousel-control-left,
		.jcarousel-control-right
			top: 32%
			padding-top: 0

// city sprite
.city-sprite
	background: url(https://imgd.aeplcdn.com/0x0/bw/static/sprites/d/city-sprite.png?24062016) no-repeat
	display: inline-block

.c1-icon, .c12-icon, .c2-icon, .c10-icon, .c176-icon, .c105-icon, .kolkata-icon, .ahmedabad-icon, .chandigarh-icon, .lucknow-icon
	height: 92px

.c1-icon
	width: 130px
	background-position: 0 0

.c12-icon
	width: 186px
	background-position: -140px 0

.c2-icon
	width: 136px
	background-position: -336px 0

.c10-icon
	width: 70px
	background-position: -482px 0

.c176-icon
	width: 53px
	background-position: -562px 0

.c105-icon
	width: 65px
	background-position: -625px 0

.kolkata-icon
	width: 182px
	background-position: -700px 0

.lucknow-icon
	width: 174px
	background-position: -892px 0

.ahmedabad-icon, .chandigarh-icon
	width: 0px
	background-position: 0 0

.table-middle
	display: table-cell
	vertical-align: middle

.key-size-14
	font-size: 14px
	color: #82888b

.value-size-16
	font-size: 16px
	color: #4d5057
	font-weight: 700